/* -------------------------
 * Answer Key (EOB)
 * ------------------------
 */
div.colophon.end-of-book-solutions {
  prince-text-replace: "Answer:" ""; //strip out "Answer:" eob solutions for print_pdf
  //   #part>#book-end>#end-of-book-solutions>.style();
  @include x-column-count(1);

  > .title {
    //#part>#book-end>#end-of-book-solutions>#title>.style();
    //#l10n>.content-string(answer-key; page-title);
    //#l10n>.named-string(cnx-header; answer-key; page-title);
  }
  //   // Some miscellaneous stuff we will have to decide on
  div.chapter-area:first-of-type h2.title {
    margin-top: 0;
    padding-top: 0;
  }

  .chapter-area {
    //.scale-padding(-2, margin-bottom);
    //#part>#book-end>#end-of-book-solutions>#chapter-area>.style();
    > div {
      // #part>#book-end>#end-of-book-solutions>#chapter-area>.style('subsection');
    }

    a.solution {
      color: $solution-link-color;
      font-weight: bold;
    }

    > h2.title {
      //.scale-padding(-2, margin-bottom);
    }

    > h2.title a.chapter {
      // display: block; Enabling this will cause page breaks before and after this element for an unexplainable reason.
      @include titles-h2-style();
      //#utils>#pb>.before(avoid);
      //#utils>#pb>.after(avoid);
    }

    > h2.title a.chapter span {
      display: inline;
    }
    // reset display: block for spans
    .solution {
      .title {
        display: inline;
        ////.scale-padding(1, margin-right);
        &::after {
          content: ". ";
        }
      }

      .body {
        display: inline;
      }
    }
  }
}
