/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] {
  > h1[data-type="document-title"] {
    font-size: size-scale(4);
    padding: 0;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 8.5in;
    height: 3.5in;
    color: color-map(chapter-title);
    white-space: nowrap;
    font-weight: bold;
    font-family: font-map(tertiary);
    text-transform: capitalize;

    .os-text {
      position: absolute;
      bottom: -10px;
      left: 80px;
      width: 60%;
      height: 70px;
      white-space: normal;
    }

    .os-number {
      font-family: font-map(primary);
      top: auto;
      left: 0;
      bottom: 62px;
      background-color: color-map(chapter-number-bg);
      border-radius: 50%;
      min-width: 0;
      min-height: 0;
      width: 45px;
      height: 45px;
      padding-top: 0;
      border: none;
      display: block;
      line-height: 45px;
      color: color-map(chapter-number);
      position: absolute;
      border: 1px solid color-map(chapter-number-border);
      text-align: center;
    }

    &::after {
      content: CONTENT_BLANK();
      display: block;
      width: 170px;
      height: 73px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate3d(-1in, 0, 0);
      // background: url("ccap-business/business-books-intro-graphic.svg") 0 0 no-repeat;
      z-index: 3;
    }
  }
}
