/* -------------------------
 * End of chapter customizations
 * ------------------------
 */
/* -------------------------
  * Key Terms
  * ------------------------
  */
[data-type="chapter"] .os-glossary-container {
  //#part>#glossary>.style(chapter);
  //#utils>#pb>.before(always);
  display: inline;

  h2[data-type="document-title"] {
    // #part>#glossary>#title>.style(chapter);
    @include titles-h2-style-icon($svg-icon: $key-terms-icon);
  }

  dl {
    //#part>#glossary>.style(chapter);
    display: inline;
    dt {
      //#part>#glossary>.term(chapter);
      //.font-scale(0);
      @include line-height();

      &::after {
        content: " ";
      }
    }
    dd {
      // #part>#glossary>.definition(chapter);
      //.font-scale(0);
      @include line-height();
      //.scale-padding(5, padding-left);
      text-indent: -27px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.key-terms {
  .listitem {
    list-style: none;
  }
}

.os-eoc {
  //.scale-padding(4, margin-bottom);
  > h2[data-type="document-title"] {
    @include titles-h2-style-icon();

    span {
      //.font-scale(2);
      padding-left: 0;
      font-family: $font-family-titles;
    }
  }
  /* -------------------------
   * Summary
   * ------------------------
   */
  section {
    .title a:link {
      //.font-scale(0);
      @include link-no-border-style ($eoc-subtitles-color); //overriding .link-style
      border-bottom: none;
    }
  }

  .exercise {
    //.scale-padding(-1, margin-bottom);
    //.scale-padding(-1, margin-top);

    ol,
    ul {
      //.scale-padding(1, padding-left);
    }
  }

  &.key-terms {
    > .title {
      @include titles-h2-style-icon($svg-icon: $eoc-assessment-icon);
    }

    .listitem p {
      margin-bottom: 0;
    }
  }

  &.section-summary,
  &.summary {
    //#part>#chapter-end>#summary>.style();
    > .title {
      // #part>#chapter-end>#summary>#title>.style();
      @include titles-h2-style-icon($svg-icon: $eoc-summary-icon);
      span {
        // override a * selector...
        padding-left: 0;
        //.font-scale(2);
      }
    }

    > .section > .title {
      //#part>#chapter-end>#summary>#subtitle>.style(any; chapter-end; section);
      display: block;
    }

    > .section .title > a {
      // #part>#chapter-end>#summary>#title>.link();
      font-family: $font-family;
      //.font-scale(0);
      @include link-no-border-style($eoc-subtitles-color);
    }
  }
  /* -------------------------
   * EOC Solutions
   * ------------------------
   */
  &.references {
    > .title {
      @include titles-h2-style-icon($svg-icon: $eoc-references-icon);
    }
  }

  &.figure-credits {
    > .title {
      @include titles-h2-style-icon($svg-icon: $eoc-figure-credit-icon);
    }
    .section {
      //.font-scale(-1);
    }
  }

  &.cnx-solutions {
    display: none; //slots & skeleton below to be converted if necessary
    //     //#content>#solution>.style($kind; chapter);
    //     > .section .title > a { #content>#solution>#title>.link(); }
    //     p:nth-of-type(1) { margin-top: 1em; }
    //   }
    //   .problem ol {
    //     #content>#list>.style(any; any; problem; exercise);
    //   }
    //   .problem::before {
    //     #content>#problem>.number($kind; chapter-end);
    //   }
    //   .empty {
    //     display: hidden; // hide, but count, empty elements.
    //     #content>#section>.style("empty"; chapter-end);
    //   }
    //   .exercise div.body div.problem .figure { #content>#figure>.style(any; chapter-end; exercise); }
  }

  &.suggested-resources > div.section > div.body {
    p,
    table > tr > td {
      text-indent: -1em;
      // padding-left: 10px;
      //.scale-padding(-1, padding-left);
    }
  }
}
