/* -------------------------
 * Notes
 * ------------------------
 */
[data-type="chapter"] .note {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  a[href] {
    @include link-style ($note-link-color);
  }
  > div.title {
    //.scale-padding(1, padding-left);
    //.scale-padding(1, padding-right);
    @include titles-h3-style();
  }

  &.link-to-learning {
    //#content>#note>.style('link-to-learning-new'; any);
    @include notes($cnx-string-link-to-learning, $quinary-color, #e6eaef, link-to-learning);

    div.mediaobject {
      display: none;
    }
  }

  .body {
    > div.title {
      @include titles-h4-style();
    }
    border: 0;
    //padding: 5px 13px 15px;
    //.scale-padding(1, padding-bottom);
    //.scale-padding(1, padding-left);
    //.scale-padding(1, padding-right);
    // font-size: 9pt;
    //.font-scale(0);
    color: $notes-body-text-color;
  }

  .exercise {
    > .title,
    .solution::before {
      //.font-scale(1);
    }
  }

  a {
    &.xref {
      prince-text-replace: "Section" $blank; //Remove "Section" text from links in notes.
    }
  }

  svg text {
    fill: $notes-body-text-color !important; //this is necessary to override the inline svg fill
  }
}
