/* -------------------------
 * Book TOC
 * ------------------------
 */
nav#toc {
  float: left;
  > ol {
    padding: 0;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-align: left;
    text-decoration: none;
  }
  > ol > li {
    margin-bottom: size-scale(1);
    padding-left: size-scale(1);
    
    &:nth-child(2n) {
      padding-top: size-scale(1);
      padding-bottom: size-scale(1);
      background-color: color-map(toc-odd-bg);
    }
    
    > a {
      font-size: size-scale(2);
      font-weight: bold;
      color: color-map(toc-chapter-link);
      font-family: font-map(primary);
      &::after {
        content: leader(' ') target-counter(attr(href), page);
      }
    }
    > ol > li > a {
      color: color-map(toc-link);
      font-family: font-map(primary);
    }
  }
}
