@import 'notes-components';

@include create_shape('carnival:::LogoNoteBoxedShape', (
  _groups: (
    group-border-style: solid,
    group-border-width: 0.2rem,
    group-box-decoration-break: slice,
    group-border-color: enum('ValueSet:::REQUIRED'),
    group-title-font: enum('ValueSet:::REQUIRED'),
    group-title-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($BoxedNoteContainerComponent, (
      _components: (
        $BoxedNoteTitleComponent,
        map-merge($NoteBodyComponent, (
          _components: (
            $NoteSubtitleComponent,
            $LogoNoteLogoIconComponent
          ),
        ))
      ),
    ))
  ),
));

@include create_shape('carnival:::LogoNoteIconShape', (
  _groups: (
    group-border-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($IconNoteMainTitleComponent, (
      _components: (
        $IconNoteMainTitleIconComponent,
        $IconNoteMainTitleNumberComponent,
        $IconNoteMainTitleLabelComponent,
        $IconNoteMainTitleTextComponent,
        $IconNoteFirstParagraphTitleComponent,
      ),
    ))
    map-merge($IconNoteContainerComponent, (
      _components: (
        map-merge($NoteBodyComponent, (
          _components: (
            $NoteSubtitleComponent,
            $LogoNoteLogoIconComponent,
          ),
        )),
        $IconNoteParagraphTitleComponent,
        $IconNoteEquationComponent,
        $IconNoteAnswerTitleComponent,
      ),
    ))
  ),
));
