@import 'notes-components';
@import '../lists-components';

//Icon Condensed
@include create_shape('carnival:::IconCondensedShape', (
  _components: (
    map-merge($IconCondensedContainer, (
      _components: (
        map-merge($IconCondensedBodyComponent, (
          _components: (
            $IconCondensedParagraphComponent,
            $Note__List--Unordered,
            $Note__List--Ordered,
          ),
        ))
        map-merge($IconCondensedTitleComponent, (
          _components: (
            $IconCondensedTitleTextComponent,
            $IconCondensedTitleIconComponent,
            $IconCondensedNoteNumberComponent,
          ),
        ))
      )
    ))
  ),
));

// IMPORTANT:
// There are two types of Check Your Understanding elements.
// One it's a note (with [data-type="note"] attribute) and then iconCondensed shape should be used (see Microbiology).
// Second type is exercise (with [data-type="exercise"] attribute). Then this shape should be applied.

@include create_shape('carnival:::IconCondensedExerciseShape', (
  _components: (
    map-merge($IconCondensedContainer, (
      _components: (
        map-merge($NoteProblemComponent, (
          _components: (
            map-merge($NoteProblemContainerComponent, (
              _components: (
                $IconCondensedParagraphComponent,
                $Note__List--Ordered,
              ),
            )
          )),
        )),
        map-merge($IconCondensedExerciseSolutionComponent, (
          _components: (
            $IconCondensedExerciseSolutionTitleComponent,
            map-merge($IconCondensedExerciseSolutionContainerComponent, (
              _components: (
                $IconCondensedParagraphComponent,
              ),
            ))
          ),
        )),
        map-merge($IconCondensedTitleComponent, (
          _components: (
            $IconCondensedTitleTextComponent,
            $IconCondensedTitleIconComponent,
          ),
        )),
      ),
    ))
  ),
));
