//common components
$Note__Subtitle: (
  _name: "Subtitle",
  _subselector: " > .os-subtitle, h4[data-type="title"]",
  _properties: (
    font-size: font-scale(1),
    line-height: line-height(1),
    font-family: "IBM Plex Sans, sans-serif", //too many places where it's  optional to fix now, TODO: fix later
    font-weight: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'), //Set this property as OPTIONAL to be used only in Examples for consistency with FirstParagraphTitle (see l.201) - used in Examples, where the first subtitle is nested in paragraph with text and the rest of the headers nestes in p tags, where margin-bottom is inherited and hard to remove without affecting the rest of the paragraphs in icon notes.
  )
);

$Note__Body:  empty_wrapper(Body, ' > .os-note-body');

$Note__Problem: empty_wrapper(Problem, ' > [data-type="problem"]');

$Note__Problem__Container: empty_wrapper(ProblemContainer, ' > .os-problem-container');

//boxed note
$Note--Boxed__Container: (
  _name: "Container",
  _subselector: '',
  _properties: (
    border: solid 0.2rem,
    border-color: (enum('ValueSet:::GROUPED'), group-border-color),
    box-decoration-break: slice,
    padding-left: h-spacing(1),
    padding-right: h-spacing(1),
    padding-bottom: v-spacing(1),
    padding-top: v-spacing(1),
    margin-bottom: v-spacing(2),
    position: relative,
  ),
);
   
$Note--Boxed__Title: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: 900,
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-top: 0,
    margin-bottom: v-spacing(1),
    box-decoration-break: slice,
    // border-bottom-color: (enum('ValueSet:::GROUPED'), group-border-color),
    // padding-bottom: v-spacing(1),
    // border-bottom-style: dotted,
    // border-bottom-width: 0.2rem,
  )
);

//boxed condensed
$Note--Boxed--Condensed__Container: (
  _name: "CondensedContainer",
  _subselector: '',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    padding-top: v-spacing(1),
    padding-bottom:v-spacing(1),
    padding-right: enum('ValueSet:::OPTIONAL'),
    padding-left: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::REQUIRED'),
    box-decoration-break: slice,
  ),
);

$Note--Boxed--Condensed__Equation__Container: (
  _name: "CondensedEquationContainer",
  _subselector: " > [data-type="equation"]",
  _properties: (
    position: relative,
    display: flex,
    flex-direction: row, 
    align-items: center,
    justify-content: center,
    margin-bottom: 0,
  )
);

$Note--Boxed--Condensed__Equation__Number: (
  _name: "BoxedCondensedNoteEquationNumber",
  _subselector: " > .os-equation-number",
  _properties: (
    position: absolute,
    right: 0,
    top: 50%,
    transform: translate(0, -50%),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
    margin-right: v-spacing(1),
  )
);

$Note--Boxed--Condensed__Title: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    text-transform: uppercase,
    font-size: font-scale(1),
    line-height: line-height(1),
  )
);

$Note--Boxed--Condensed__Paragraph--First: (
  _name: "FirstParagraph",
  _subselector: ' p:first-of-type',
  _properties: (
    margin-bottom: 0
  )
);

//icon notes
$Note--Icon__Container: (
  _name: "Container",
  _subselector: '',
  _properties: (
    margin-bottom: v-spacing(2),
    border-bottom-color: (enum('ValueSet:::GROUPED'), group-border-color),
    border-bottom-width: 0.2rem,
    border-bottom-style: solid,
    box-decoration-break: slice,
  )
);

$Note--Icon__Title--Main: (
  _name: "Title",
  _subselector: " > .os-title",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: 900,
    letter-spacing: 0.05rem,
    text-transform: uppercase,
    font-size: font-scale(1),
    line-height: line-height(0),
    border-bottom-color: (enum('ValueSet:::GROUPED'), group-border-color),
    border-bottom-width: 0.2rem,
    border-bottom-style: solid,
    display: flex,
    flex-direction: row,
    align-items: flex-end,
    margin-bottom: v-spacing(1)
  )
);

$Note--Icon__Title--Main__Number: (
  _name: "TitleNumber",
  _subselector: " > .os-number",
  _properties: (
    display: inline-block,
    word-wrap: normal,
    margin-bottom: .2rem,
    margin-left: h-spacing(1),
  )
);

$Note--Icon__Title--Main__Label: (
  _name: "TitleLabel",
  _subselector: " > .os-title-label",
  _properties: (
    display: inline-block,
    max-width: enum('ValueSet:::OPTIONAL'),
    word-wrap: normal,
    margin-bottom: .2rem,
  )
);

$Note--Icon__Title--Main__Text: (
  _name: "TitleText",
  _subselector: " > .os-text",
  _properties: (
    display: enum('ValueSet:::OPTIONAL'),
    max-width: enum('ValueSet:::OPTIONAL'),
    word-wrap: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    margin-left: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon__Paragraph--First__Title: (
  _name: "FirstParagraphTitle",
  _subselector: " p:first-of-type > [data-type='title']",
  _properties: (
    font-size: font-scale(1),
    line-height: line-height(1),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-weight: bold,
    text-transform: enum('ValueSet:::OPTIONAL'),
    display: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon__Title--Main__Icon: (
  _name: "TitleIcon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(4),
    width: v-spacing(4),
    display: inline-block,
    padding-right: 0.4rem,
    position: relative,
    bottom: -0.5rem,
    content: "''",
  )
);

$Note--Icon__Paragraph__Title: (
  _name: "ParagraphSubtitle",
  _subselector: "  p > [data-type='title']",
  _properties: (
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: font-scale(0),
    line-height: line-height(0),
    text-transform: enum('ValueSet:::OPTIONAL'),
    display: enum('ValueSet:::OPTIONAL'),
    padding-right: enum('ValueSet:::OPTIONAL'),
    font-weight: bold,
    margin-bottom: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon__Title__Div: (
  _name: "DivSubtitle",
  _subselector: " div:not([class]) > [data-type='title'], div[data-type='title']",
  _properties: (
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: enum('ValueSet:::OPTIONAL'),
    text-transform: enum('ValueSet:::OPTIONAL'),
    display: enum('ValueSet:::OPTIONAL'),
    padding-right: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon__Equation: (
  _name: "Equation",
  _subselector: " > [data-type='equation']",
  _properties: (
    font-size: enum('ValueSet:::OPTIONAL'),
    line-height: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon__Answer__Title: (
  _name: "AnswerTitle",
  _subselector: " > .body > [data-type='note'] > .os-title > .os-title-label",
  _properties: (
    font-weight: enum('ValueSet:::OPTIONAL'),
    text-transform: enum('ValueSet:::OPTIONAL'),
    display: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: font-scale(0),
    line-height: line-height(0),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
  )
);

//icon condensed
$Note--Icon--Condensed__Container: (
  _name: "Container",
  _subselector: "",
  _properties: (
    margin-bottom: v-spacing(2),
    box-decoration-break: slice, 
  )
  );
$Note--Icon--Condensed__Title: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    margin-bottom: v-spacing(1),
    font-weight: 900,
    letter-spacing: 0.05rem,
    display: flex,
    flex-direction: row,
    align-items: flex-end,
    font-size: font-scale(1),
    line-height: line-height(0),
    font-family: enum('ValueSet:::REQUIRED')
  )
);

$Note--Icon--Condensed__Title__Text: (
  _name: "TitleText",
  _subselector: ' > .os-title-label',
  _properties: (
    display: inline-block,
    max-width: enum('ValueSet:::OPTIONAL'),
    word-wrap: normal,
    text-transform: uppercase,
  )
);
$Note--Icon--Condensed__Number: (
  _name: "NoteNumber",
  _subselector: ' > .os-number',
  _properties: (
    margin-left: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--Icon--Condensed__Body: (
  _name: "Body",
  _subselector: " > .os-note-body",
  _properties: (
    border-bottom-style: solid,
    border-bottom-width: 0.2rem,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    box-decoration-break: slice, 
  )
);

$Note--Icon--Condensed__Paragraph: (
  _name: "Paragraph",
  _subselector: " > p",
  _properties: (
    margin-bottom: v-spacing(1),
  )
);

$Note--Icon--Condensed__Title__Icon: (
  _name: "Icon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(2),
    width: v-spacing(2),
    display: inline-block,
    position: relative,
    content: "''",
    padding-right: h-spacing(1)
  )
);

// Icon Condensed Exercise
$Note--Icon--Condensed__Exercise__Solution: (
  _name: "Solution",
  _subselector: ' > [data-type="solution"]',
  _properties: (
    border-bottom-style: solid,
    border-bottom-width: 0.2rem,
    box-decoration-break: slice,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
  )
);

$Note--Icon--Condensed__Exercise__Solution__Container: empty_wrapper(SolutionContainer, ' > .os-solution-container');

$Note--Icon--Condensed__Exercise__Solution__Title: (
  _name: "SolutionTitle",
  _subselector: " .solution-title",
  _properties: (
    font-size: font-scale(0),
    line-height: line-height(0),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
  )
);

// Logo Note
$Note--Logo__Icon: (
  _name: "LogoIcon",
  _subselector: ":after",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(2),
    width: 100%,
    display: inline-block,
    padding-right: enum('ValueSet:::OPTIONAL'),
    position: relative,
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    bottom: enum('ValueSet:::OPTIONAL'),
    content: "' '",
  )
);
