@import 'notes-components';
@import '../lists-components'; 

//boxed notes
@include create_shape('carnival:::BoxedNoteShape', (
  _groups: (
    group-border-style: solid,
    group-border-width: 0.2rem,
    group-box-decoration-break: slice,
    group-border-color: enum('ValueSet:::REQUIRED'),
    group-title-font: enum('ValueSet:::REQUIRED'),
    group-title-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($Note--Boxed__Container, (
      _components: (
        $Note--Boxed__Title,
        map-merge($Note__Body, (
          _components: (
            $Note__Subtitle,
            $Note__UnorderedList--MarginLeftBottom,
            $Note__OrderedList--MarginLeftBottom,
          ),
        ))
      ),
    ))
  ),
));


