@import 'notes-components';

@include create_shape('carnival:::IconNoteShape', (
  _groups: (
    group-border-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($IconNoteMainTitleComponent, (
      _components: (
        $IconNoteMainTitleIconComponent,
        $IconNoteMainTitleNumberComponent,
        $IconNoteMainTitleLabelComponent,
        $IconNoteMainTitleTextComponent,
        $IconNoteFirstParagraphTitleComponent,
      ),
    ))
    map-merge($IconNoteContainerComponent, (
      _components: (
        $NoteUnorderedList,
        $NoteOrderedList,
        map-merge($NoteBodyComponent, (
          _components: (
            $NoteSubtitleComponent,
            $IconNoteDivTitleComponent,
            $NoteOrderedList,
            $NoteUnorderedList,
          ),
        )),
        $IconNoteParagraphTitleComponent,
        $IconNoteEquationComponent,
        $IconNoteAnswerTitleComponent,
      ),
    ))
  )
));
