@import 'notes-components';

@include create_shape('carnival:::PartnerNoteShape', (
  _groups: (
    group-border-style: solid,
    group-border-width: 0.2rem,
    group-border-color: enum('ValueSet:::REQUIRED'),
    group-title-font: enum('ValueSet:::REQUIRED'),
    group-title-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($BoxedNoteContainerComponent, (
      _components: (
        $BoxedNoteTitleComponent,
        map-merge($NoteBodyComponent, (
          _components: (
            $NoteSubtitleComponent,
            $NoteLogoComponent
          ),
        ))
      ),
    ))
  ),
));