@include add_settings((
    AnswerKey: (
        _selectors: ('.os-eob[data-type="composite-chapter"]'),
        SolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor')
        )
    ),
));
