@include add_settings((
    AnswerKey: (
        _selectors: ('.os-eob[data-type="composite-chapter"]'),
    ),
));

@include add_settings((
    AnswerKeySolution: (
        _selectors: ('.os-eob [data-type="solution"]'),
        SolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
    ),
));

@include add_settings((
    AnswerKeySolutionInline: (
        _selectors: ('.os-eob [data-type="solution"]'),
        ExerciseSolutionInlineNumber: (
            color: (_ref: 'colorMap:::fontBodyColor')
        )
    ),
));

@include add_settings((
    AnswerKeyInjectedSolutionInline: (
        _selectors: ('.os-eob [data-type="question-solution"]'),
        ExerciseSolutionInlineNumber: (
            color: (_ref: 'colorMap:::fontBodyColor')
        )
    ),
));
