@include add_settings((
    AnswerKeyInline: (
        _selectors: ('.os-eob[data-type="composite-chapter"]'),
        SolutionInlineNumber: (
            color: (_ref: 'colorMap:::fontBodyColor')
        )
    ),
    AnswerKey: (
        _selectors: ('.os-eob[data-type="composite-chapter"]'),
        SolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width': 2%,
            text-align': right,
        )
    ),
));
