@include add_settings((
    AppendixGlossary: (
        _selectors: (".appendix > .column-container"),
        H3AppendixGlossaryTitle: (
            //color: book specific, defined in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));
