@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColor"),
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionTitleChapterIntro:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
        H2IntroTextHeaderInline: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColor"),
        ),
    )
));

@include add_settings((
    ChapterIntroWithBlockIntroHeader: ( // Used in Economics
        _selectors: (".introduction"),
        H2IntroTextHeaderBlock: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColorEconomics"),
        ),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColor"),
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionTitleChapterIntro:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
    )
));

// Chapter Outline

@include add_settings((
    ChapterOutline: (
        _selectors: (".os-chapter-outline"),
        ChapterOutlineTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        ChapterObjectiveLink: (
            color: (_ref: "colorMap:::chapterObjectiveLinkColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        ChapterObjectiveText: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
    )
));

// Chapter Objectives

@include add_settings((
    ChapterObjectivesNote: (
        _selectors: ('[data-type="note"].economics.chapter-objectives'),
        ChapterObjectivesContainer: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        ChapterObjectivesTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterObjectivesTitleColor"),
        ),
    )
));
