@include add_settings((
    ChapterIntroWithLO: (
        _selectors: (".introduction"),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::chapterObjectiveLinkColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        ChapterOutlineObjectiveText: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        LearningObjectiveContainer: (
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColor"),
        ),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColor"),
        ),
        CaptionContainer: (
            display: table,
            width: 6.5in,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
    )
));

@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::chapterObjectiveLinkColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        ChapterOutlineObjectiveText: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColor"),
        ),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColor"),
        ),
        CaptionContainer: (
            display: table,
            width: 6.5in,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionTitleSplash:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
    )
));

@include add_settings((
    ChapterIntroWithChapterObjectives: (
        _selectors: (".introduction"),
        ObjectivesTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterObjectivesTitleColor"),
        ),
        ChapterObjectives: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        IntroContentHeaderEconomics: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColorEconomics"),
        ),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColor"),
        ),
        CaptionContainer: (
            display: table,
            width: 6.5in,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionTitle:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::chapterIntrocaptionTextColor"),
        ),
    )
));
