@include add_settings((
    References: (
        _selectors: ('.os-references-container'),
    ),
    FurtherResearch: (
        _selectors: ('.os-further-research-container'),
    ),
    KeyTerms: (
        _selectors: ('.os-eoc.os-glossary-container'),
    )
));
