@include add_settings((
    References: (
        _selectors: ('.os-references-container'),
    ),
    FurtherResearch: (
        _selectors: ('.os-further-research-container'),
    ),
    KeyTerms: (
        _selectors: ('.os-eoc.os-glossary-container'),
        KeyTermsDefinition: (
            margin-left: 2px,
        ),
    ),
    FurtherReading: (
        _selectors: ('.os-eoc.os-further-reading-container'),
    ),
    WorksCited: (
        _selectors: ('.os-eoc.os-works-cited-container'),
    ),
    WorksConsulted: (
        _selectors: ('.os-eoc.os-works-consulted-container'),
    ),
));
