@include add_settings((
    Figure: (
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionTitle:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    FigureAfterSubtitle: (
      _selectors: ("h4.os-subtitle + .os-figure:not(.has-splash)"),
    ),
    FigureFromExercisesProblem:(
      _selectors: ('[data-type="problem"]'),
    ),
    FigureFromExercisesSolution:(
      _selectors: ('[data-type="solution"]'),
    ),
    FigureFromInjectedQuestion:(
      _selectors: ('[data-type="exercise-question"]'),
    ),
    FigureFromInjectedSolution:(
      _selectors: ('[data-type="question-solution"]'),
    ),
));

// Same settings as above, but blue caption number & label instead of red
@include add_settings((
    FigureBlue: (
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionNumberColor2"), // changed
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionNumberColor2"), // changed
        ),
        CaptionTitle:(
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    )
));
