@include add_settings ((
    Footnote: (
        _selectors: ('aside[role="doc-footnote"]'),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            line-height: line-height(0),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
    ),
    FootnoteCall: (
        _selectors: ('a[role="doc-noteref"]'),
        DefaultFootnoteCall: (
            font-family: (_ref: 'typography:::baseFont'),
            text-decoration: none,
        ),
    ),
));
