@include add_settings((
    HandbookOutline: (
        _selectors: (".os-handbook-outline"),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::chapterObjectiveLinkColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        OutlineObjectiveText: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
    )
));
