@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        IndexGroupLabel: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        IndexPageNumber: (
            content: target-counter(attr(href, url), page),
        ),
    ),
));
