@include add_settings((
    LearningObjectivesModule:(
        _selectors: ('[data-type="page"] .learning-objectives'),
        H3LearningObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
        ),
        Paragraph: (
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        LearningObjectivesUnorderedList: (
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
    ),
));

@include add_settings((
    LearningObjectivesAbstractModule:(
        _selectors: ('[data-type="page"] [data-type="abstract"]'),
        AbstractContainer: (
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        H3LearningObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
        ),
        LearningObjectivesUnorderedList: (
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
    ),
));