@include add_settings((
    LearningObjectivesSection:(
        _selectors: ('[data-type="page"] section.learning-objectives'),
        H3ObjectivesTitle: (
          font-family: (_ref: 'typography:::titleOption1Font'),
          color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
          margin-bottom: 0,
        ),
    ),
));

@include add_settings((
    LearningObjectivesAbstract:(
        _selectors: ('[data-type="page"] [data-type="abstract"]'),
        H3ObjectivesTitle: (
          font-family: (_ref: 'typography:::titleOption1Font'),
          color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
          margin-bottom: 0,
        ),
    ),
));

@include add_settings((
  LearningObjectivesNumbered: (
      _selectors: ('[data-type="page"] section.learning-objectives'),
      H3ObjectivesTitle: (
        font-family: (_ref: 'typography:::titleOption1Font'),
        color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
        margin-bottom: 0,
      ),
      NumberToken: (
        color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
      )
    )
));

// Chapter Objectives
@include add_settings((
    ChapterObjectives: (
        _selectors: ('[data-type="note"].economics.chapter-objectives'),
        ObjectivesContainer: (
            margin-bottom: v-spacing(3)
        ),
        H3ObjectivesTitle: (
          font-family: (_ref: "typography:::titleOption1Font"),
          color: (_ref: "colorMap:::chapterObjectivesTitleColor"),
          margin-bottom:v-spacing(1),
        ),
    )
));

