@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
));

@include add_settings((
    CompositePageLists: (
        _selectors: ('[data-type="composite-page"]'),
    ),
));

@include add_settings((
    ExercisesProblemLists: (
        _selectors: ('[data-type="problem"]', '[data-type="exercise-question"]'), 
    ),
));

@include add_settings((
    ExercisesSolutionLists: (
        _selectors: ('[data-type="solution"]'),
    ),
));

@include add_settings((
    NotesLists: (
        _selectors: ('[data-type="note"]'),
    ),
));
