@include add_settings((
    ReferencesWithIndentation: (
        _selectors: ('.os-references-container'),
    ),
    ModuleWithMarginBottom: (
      _selectors: ('.os-eoc[data-type="composite-page"]'),
      ModuleContainerWithMarginBottom: (
        margin-bottom: v-spacing(1),
      ),
    ),
));
