@include add_settings((
    ModuleWithMarginBottom: (
      _selectors: ('.os-eoc[data-type="composite-page"]'),
      ModuleContainerWithMarginBottom: (
        margin-bottom: v-spacing(1),
      ),
    ),
));
