@include add_settings((
    ModuleWithinChapter: (
        _selectors: ('[data-type="chapter"] > [data-type="page"]'),
    ),
    References: (
        _selectors: ('.os-references-container'),
    ),
    FurtherResearch: (
        _selectors: ('.os-further-research-container'),
    ),
    FurtherReading: (
        _selectors: ('.os-eoc.os-further-reading-container'),
    ),
    WorksCited: (
        _selectors: ('.os-eoc.os-works-cited-container'),
    ),
    WorksConsulted: (
        _selectors: ('.os-eoc.os-works-consulted-container'),
    ),
    HandbookFurtherReading: (
        _selectors: ('.handbook section.further-reading'),
    ),
    HandbookWorksCited: (
        _selectors: ('.handbook section.works-cited'),
    ),
    Summary: (
        _selectors: ('.os-summary-container'),
    ),
));
