@include add_settings((
  PunctuationEmphasis: (
    _selectors: ('span.emphasis-punctuation'),
    PunctuationEmphasisDefault: (
      background-color: (_ref: "colorMap:::punctuationEmphasisHighlightColor"),
    ),
  ),
));