@include add_settings((
    SectionWorksCited: (
        _selectors: ('section.section-workscited'),
        H3SectionWorksCited: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4SectionWorksCited: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
    ),
));
