@include add_settings((
    DefaultTable: (
        _selectors: (".os-table:not(.os-text-heavy-top-titled-container):not(.os-unstyled-container)"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableTopCaption: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableHeadCellFirstRow: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            background-color: (_ref: "colorMap:::tableBackgroundColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
        ), 
        TableDataFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ), 
        TableDataLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataLastRowFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ),
        TableDataLastRowMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ), 
        TableDataLastRowLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableTopCaption: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableHeadCellFirstRow: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            background-color: (_ref: "colorMap:::tableBackgroundColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
        ), 
        TableDataFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ), 
        TableDataLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataLastRowFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ),
        TableDataLastRowMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ), 
        TableDataLastRowLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokeColor"),
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
));

//used in Polish Psychology
@include add_settings((
    TopCaptionedTable: (
        _selectors: (".os-table.os-top-captioned-container"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableTopCaption: (
            color: (_ref: "colorMap:::tableTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        TableHeadCellFirstRow: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            background-color: (_ref: "colorMap:::tableBackgroundColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
        ), 
        TableDataFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ), 
        TableDataLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataOnlyChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataLastRowFirstChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokePlPsychologyColor"),
        ),
        TableDataLastRowMiddleChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokePlPsychologyColor"),
        ), 
        TableDataLastRowLastChild: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::tableTextColor"),
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableBottomStrokePlPsychologyColor"),
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberPlPsychologyColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionNumberPlPsychologyColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText: (
            font-family: (_ref: "typography:::titleOption2Font"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
));
