@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        H1Appendix: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        H1AppendixText: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
            border-top-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));

@include add_settings((
    PageTitlesBlue: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        H1Appendix: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        H1AppendixText: (
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
            font-family: (_ref: 'typography:::titleOption1Font'),
            border-top-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));

@include add_settings((
    EobPageTitles: (
        _selectors: ('body > [data-type="page"]:not(.preface):not(.appendix)'),
        H1EobTitle: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
    ),
));

// Chapter Intro titles
@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1ChapterIntroNumbered: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H1ChapterIntroTitleText: (
            color: (_ref: 'colorMap:::chapterTitleTextColor'),
        ),
        H1ChapterIntroTitleNumber: (
            color: (_ref: 'colorMap:::chapterTitleNumberColor'),
        ), 
        H1ChapterIntroNumberedBg: (
            background-color: (_ref: 'colorMap:::chapterTitleNumberBgColor'), 
        ),
    ),    
));

@include add_settings((
    ChapterTitlesBlue:(
        _selectors: ('[data-type="chapter"]'),
        H1ChapterIntroNumbered: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H1ChapterIntroTitleText: (
            color: (_ref: 'colorMap:::chapterTitleTextColor'),
        ),
        H1ChapterIntroTitleNumber: (
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ), 
        H1ChapterIntroNumberedBg: (
            background-color: (_ref: 'colorMap:::chapterTitleNumberBgColor'), 
        ),
    ),    
));

// EoC titles
@include add_settings((
    EocCompositePageTitles: (
        _selectors: ('.os-eoc[data-type="composite-page"]'),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));

@include add_settings((
    EocCompositePageTitlesBlue: (
        _selectors: ('.os-eoc[data-type="composite-page"]'),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));

//Eob titles
@include add_settings((
    EobTitles: (
        _selectors: ('.os-eob'),
        H1EobTitle: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
    ),
));

@include add_settings((
    EobTitlesBlue: (
        _selectors: ('.os-eob'),
        H1EobTitle: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColorAlt'), // changed
        ),
    ),
));

@include add_settings((
    IntroductionPageTitles: (
        _selectors: ('[data-type="page"].introduction'),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
    ),
));