@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
    ),
));

// EoC titles
@include add_settings((
    EocCompositePageTitles: (
        _selectors: ('.os-eoc[data-type="composite-page"]'),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));

//Eob titles
@include add_settings((
    EobCompositePageTitles: (
        _selectors: ('.os-eob[data-type="composite-page"]'),
        H1EobCompositePageTitle: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));
