@include add_settings((
    TocNoUnit: (
        _selectors: ('nav#toc'),
        TocTitle: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        NoUnitChapterLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
        NoUnitChapterLinkNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        NoUnitChapterLinkText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        ChapterLinkNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption3Font'),
        ),
        ChapterLinkText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        ChapterLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
        ModuleLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        ModuleLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
    ),
    TocUnit: (
        _selectors: ('nav#toc'),
        TocTitle: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        UnitLink: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        NoUnitChapterLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
        NoUnitChapterLinkNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        NoUnitChapterLinkText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        ChapterLinkNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption3Font'),
        ),
        ChapterLinkText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        ChapterLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
        ModuleLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        ModuleLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            content: "target-counter(attr(href), page)",
            display: inline-block,
            margin-left: h-spacing(3),
        ),
    )
));
