@include add_settings((
    TocNoUnit: (
        _selectors: ('nav#toc'),
        TocTitle: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        SecondLevelLinkNoChapterPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        SecondLevelLinkNoChapterNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        SecondLevelLinkNoChapterText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        SecondLevelLinkChapterNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption3Font'),
        ),
        SecondLevelLinkChapterText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        SecondLevelLinkChapterPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        ThirdLevelLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        ThirdLevelLinkPage: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
    )
));
