@include add_settings((
  UnderlineYellow: (
    _selectors: ('u[data-effect="underline"]'),
    RegularUnderline: (
      background-color: (_ref: "colorMap:::underlineHighlightColor"),
      border-bottom-color: (_ref: "colorMap:::underlineLineColor"),
    ),
  ),
));

@include add_settings((
  DoubleUnderlineYellow: (
    _selectors: ('u[data-effect="double-underline"]'),
    DoubleUnderline: (
      background-color: (_ref: "colorMap:::underlineHighlightColor"),
      border-bottom-color: (_ref: "colorMap:::underlineLineColor"),
    ),
  ),
));
