@include add_settings((
  UnitOpener: (
    _selectors: ('[data-type="unit"]'),
    UnitWrapper: (
        background-color: (_ref: 'colorMap:::unitBgColor'),
    ),
    UnitTitleContainer: (
        background-color: (_ref: 'colorMap:::unitLightBoxBgColor'),
    ),
    UnitTitle: (
        color: (_ref: 'colorMap:::unitTitleColor'),
        font-family: (_ref: 'typography:::titleOption3Font'),
    ),
    UnitTitlePartText: (
        color: (_ref: 'colorMap:::unitTitleColor'),
        font-family: (_ref: 'typography:::titleOption3Font'),
    ),
    UnitTitleNumber: (
        color: (_ref: 'colorMap:::unitTitleColor'),
        font-family: (_ref: 'typography:::titleOption3Font'),
    ),
    UnitTitleText: (
        color: (_ref: 'colorMap:::unitTitleTextColor'),
        font-family: (_ref: 'typography:::titleOption3Font'),
    ),
    UnitOpenerSection: (
        color: (_ref: 'colorMap:::unitTitleTextColor'),
        font-family: (_ref: 'typography:::titleOption1Font'),
    ),
  )
));