@include add_settings((
  UnitOpener: (
    _selectors: ('[data-type="unit"]'),
    UnitOpenerPage: (
        color: (_ref: 'colorMap:::unitTitleTextColor'),
        font-family: (_ref: 'typography:::titleOption1Font'),
        background-color: (_ref: 'colorMap:::unitLightBoxBgColor'),
    ),
    UnitOpenerPageBg: (
        background-color: (_ref: 'colorMap:::unitBgColor'),
    ),
  )
));
