@function exerciseComponentsDisplay($exercisePart, $componentName, $selector) {
  $value: null;
  $partComponentName: null;

  @if $exercisePart == problem {
    $value: flex;
    $partComponentName: "Problem#{$componentName}";
  } @else if $exercisePart == solution {
    $value: inline;
    $partComponentName: "Solution#{$componentName}";
  } @else {
    @error "There is no such part in exercise"
  }

  @return (
    _name: "#{$partComponentName}",
    _subselector: #{$selector},
    _properties: (
      display: $value,
    )
  );
}

$AnswerKeyContainerComponent: (
  _name: "Container",
  _subselector: '',
  _properties: (

  )
);

$AnswerKeyTitleComponent: (
  _name: "TitleContainer",
  _subselector: ' > h1',
  _properties: (
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: enum('ValueSet:::REQUIRED'),
    border-bottom-style: enum('ValueSet:::REQUIRED'),
    column-span: all,
    padding-bottom: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    text-transform: uppercase,
    margin-bottom: enum('ValueSet:::REQUIRED')
  )
);

$AnswerKeyTitleTextComponent: (
  _name: "Title",
  _subselector: ' > h2',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(4),
    line-height: line-height(4),
    font-weight: bold,
  )
);
$AnswerKeyExerciseTitleTextComponent: (
  _name: "ExerciseTitle",
  _subselector: ' > .os-solution-area > h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    font-weight: bold,
  )
);
$AnswerKeyImageComponent: (
  _name: "Image",
  _subselector: ' img',
  _properties: (
    display: block,
    margin: column-v-spacing(1) h-spacing(1),
  )
);
$AnswerKeyNumberComponent: (
  _name: "Number",
  _subselector: ' > .os-number',
  _properties: (
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$AnswerKeyOrderedListComponent: (
  _name: "OrderedList",
  _subselector: ' > ol',
  _properties: (
    margin-left: h-spacing(3),
    margin-bottom: 0,
  )
);
$AnswerKeyUnorderedListComponent: (
  _name: "UnorderedList",
  _subselector: ' > ul',
  _properties: (
    margin-left: h-spacing(3),
    margin-bottom: 0,
  )
);

$AnswerKeyChapterContainerComponent: (
  _name: "ChapterContainer",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    padding-bottom: enum('ValueSet:::OPTIONAL'),
  ),
  _components: (
    $AnswerKeyTitleTextComponent,
    $AnswerKeyExerciseTitleTextComponent,
    map-merge(exerciseComponentsDisplay(solution, Component, ' [data-type="solution"]'), (
      _components: (
        $AnswerKeyNumberComponent,
        map-merge(exerciseComponentsDisplay(solution, Container, '> .os-solution-container'), (
          _components: (
            exerciseComponentsDisplay(solution, Text, '> p'),
            $AnswerKeyImageComponent,
            $AnswerKey__ListComponent--MarginBottomLeftOrdered,
            $AnswerKey__ListComponent--MarginBottomLeftUnordered,
          )
        ))
      )
    ))
  )
);
