@import 'answerkey-components';
@import 'titles-components';
@import 'lists-components';
@import 'exercises-components';

@include create_shape('carnival:::AnswerKeyShape', (
  _components: (
    map-merge($AnswerKey__Container, (
      _components: (
        map-merge($AnswerKey__CompositePage, (
          _components: (
            $AnswerKey__Solution__Area,
            map-merge($Exercise__Solution__Wrapper, (
              _components: (
                $Exercise__ProblemSolution__Number,
                $Exercise__ProblemSolution__Divider,
                map-merge($Exercise__Solution__Container, (
                  _components:(
                    $Exercise__ProblemSolution__Paragraph,
                    $AnswerKey__OrderedList--MarginBottomLeft,
                    $AnswerKey__UnorderedList--MarginBottomLeft,
                  ),
                )),
                map-merge($Exercise__Solution__Container--WithImageTableOnTop, (
                  _components:(
                    $Exercise__ProblemSolution__Paragraph,
                    $AnswerKey__OrderedList--MarginBottomLeft,
                    $AnswerKey__UnorderedList--MarginBottomLeft,
                  ),
                )),
              )
            )),
          )
        )),
      )
    )),
  )
));

@include create_shape('carnival:::AnswerKeyInlineShape', (
  _components: (
    map-merge($AnswerKey__Container, (
      _components: (
        map-merge($AnswerKey__CompositePage, (
          _components: (
            map-merge($Exercise__Solution--Inline__Wrapper, (
              _components: (
                $Exercise__Solution--Inline__Number,
                map-merge($Exercise__Solution--Inline__Container, (
                  _components: (
                    $Exercise__Solution--Inline__Paragraph,
                  )
                )),
              )
            )),
          )
        )),
      )
    )),
  )
));
