@import 'titles-components';

$AnswerKey__Container: empty_wrapper(Container, '');

$AnswerKey__Solution__Area: (
  _name: "SolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
    margin-bottom: v-spacing(2),
  )
);

$AnswerKey__Solution__Wrapper: (
  _name: "SolutionWrapper",
  _subselector: ' [data-type="solution"]',
  _properties: (
    display: table,
  )
);

$AnswerKey__Solution__Paragraph:(
  _name: "SolutionParagraph",
  _subselector: " > p",
  _properties:(
    margin-bottom: 0,
  )
);

$AnswerKey__Image: (
  _name: "Image",
  _subselector: ' img',
  _properties: (
    max-width: 100%,
  )
);

@function solutionContainer($selector, $name) {
  @return (
      _name: "SolutionContainer#{$name}",
      _subselector: #{$selector},
      _properties:(
          display: table-cell,
          vertical-align: enum('ValueSet:::OPTIONAL'),
          padding-top: enum('ValueSet:::OPTIONAL'),
          width: 100%,
      ),
      _components: (
          $AnswerKey__Solution__Paragraph,
          $AnswerKey__Image,
          $AnswerKey__OrderedList--MarginBottomLeft,
          $AnswerKey__UnorderedList--MarginBottomLeft,
      ),
  );
}

$AnswerKey__Solution__Container: solutionContainer(' .os-solution-container', null);
$AnswerKey__Solution__Container--Specific: solutionContainer(' .os-solution-container.has-first-element', "Specific");

$AnswerKey__Solution__Number: (
  _name: "Number",
  _subselector: ' > .os-number',
  _properties: (
    display: table-cell,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
  )
);

$AnswerKey__Solution__Divider:(
  _name: "SolutionDivider",
  _subselector: " > .os-divider",
  _properties:(
    margin-right: h-spacing(1),
  )
);

$AnswerKey__CompositePage: (
  _name: "CompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
