$Appendix--Glossary__Container: (
  _name: "AppendixGlossaryContainer", 
  _subselector: " ",
  _properties: (
    column-count: 3,
    column-gap: h-spacing(2),
  )
);

$Appendix--Glossary__Group: (
  _name: "Group",
  _subselector: ' > section',
  _properties: (
    margin-bottom: 0.7rem,
  )
);