$Appendix__Glossary: (
  _name: "AppendixGlossary", 
  _subselector: " > .column-container",
  _properties: (
    column-count: 3,
    column-width: auto,
    font-size: font-scale(-1)
  )
);

$Appendix__Glossary__Section: (
  _name: "GlossarySection", 
  _subselector: " > section > ul", 
  _properties: (
    list-style-type: none,
  )
);
