// To discuss: keep appendix files for appendix glossary or remove them and style appendix glossary title in PageTitlesShape
// and appendix glossary list in PageListsShape?

$Appendix__Glossary: (
  _name: "AppendixGlossary", 
  _subselector: " > .column-container",
  _properties: (
    column-count: 3,
    column-width: auto,
    font-size: font-scale(-1)
  )
);

$Appendix__Glossary__List: (
  _name: "GlossaryList", 
  _subselector: " > ul", 
  _properties: (
    list-style-type: none,
  )
);
