@import 'appendixglossary-components';
// @import 'titles-components';
@import 'wrappers-components';
// @import 'lists-components';

@include create_shape('carnival:::AppendixGlossaryShape', (
  _components: (
    map-merge($Appendix--Glossary__Container, (
      _components: (
        map-merge($SectionWrapper--FirstLevel, (
          _components: (
            $H3--AppendixGlossary,
            $Appendix--Glossary__UnorderedList,
          ),
        )),
      ),
    )),
  ),
));


