$AppendixTitleComponent: (
  _name: "TitleContainer",
  _subselector: ' > [data-type="document-title"]',
  _properties: (
  )
);

$AppendixMainNumberComponent: (
  _name: "MainNumber",
  _subselector: '> .os-number',
  _properties: (
    display: block,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: enum('ValueSet:::REQUIRED'),
    border-bottom-style: enum('ValueSet:::REQUIRED'),
    padding-bottom: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::OPTIONAL'),
    font-weight: bold,
    text-transform: uppercase,
  )
);

$AppendixMainDividerComponent: (
  _name: "MainDivider",
  _subselector: '> .os-divider',
  _properties: (
    display: none,
  )
);

$AppendixMainTextComponent: (
  _name: "MainText",
  _subselector: '> .os-text',
  _properties: (
    color: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-weight: normal,
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
  )
);

$AppendixSubTitleComponent: (
  _name: "SubTitle",
  _subselector: ' h2',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(4),
    line-height: line-height(4),
    font-weight: bold,
  )
);

$AppendixSubSubTitleComponent: (
  _name: "SubSubTitle",
  _subselector: ' h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    font-weight: bold,
  )
);

$AppendixGlossary: (
  _name: "AppendixGlossary", 
  _subselector: " > .column-container",
  _properties: (
    column-count: 3,
    column-width: auto,
    font-size: font-scale(-1)
  )
);

$AppendixGlossarySection: (
  _name: "GlossarySection", 
  _subselector: " > section > ul", 
  _properties: (
    list-style-type: none,
  )
);

// $AppendixUnorderedList:(
//     _name: "UnorderedList",
//     _subselector: " > ul",
//     _properties: (
//     margin-left: h-grid(3),
//   )
// );
// $AppendixOrderedList:(
//     _name: "OrderedList",
//     _subselector: " > ol",
//     _properties: (
//     margin-left: h-grid(3),
//   )
// );

// $AppendixSectionOrderedList:(
//     _name: "SectionOrderedList",
//     _subselector: " > section > ol",
//     _properties: (
//     margin-left: h-grid(3),
//   )
// );
