$IconFeatureContainer:(
    _name: "IconFeatureContainer",
    _subselector: "", 
    _properties: (
  )
);

$TopStroke_Title:(
    _name: "TopStrokeTitle",
    _subselector: " > [data-type='title']",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'), //title
        font-size: enum('ValueSet:::REQUIRED'),
        text-transform: enum('ValueSet:::REQUIRED'),
        padding-right: enum('ValueSet:::OPTIONAL'),
        color: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        padding-bottom: enum('ValueSet:::REQUIRED'),
        border-bottom-width: enum('ValueSet:::REQUIRED'),//top stroke 
        border-bottom-style: enum('ValueSet:::REQUIRED'),
        border-bottom-color: enum('ValueSet:::REQUIRED'),      
  )
);

$BottomStroke:(
    _name: "BottomStroke",
    _subselector: "::after",
    _properties: (
        border-bottom-width: enum('ValueSet:::REQUIRED'),
        border-bottom-style: enum('ValueSet:::REQUIRED'),
        border-bottom-color: enum('ValueSet:::REQUIRED'),   
  )
);

$Icon:(
    _name: "Icon",
    _subselector: "::before",
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        height: enum('ValueSet:::REQUIRED'),
        width: enum('ValueSet:::REQUIRED'),
        bottom: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        display: inline-block,
        position: relative,
        content: "''",
    )
);
