@import 'borderfeature-components';

// Shapes
//Learning global shape
@include create_shape('carnival:::BorderFeatureShape', (
  _groups: (
    group-border-style: solid,
    group-border-width: enum('ValueSet:::REQUIRED'),
    group-border-color: enum('ValueSet:::REQUIRED'),
  ),
  _components: (
    map-merge($BorderFeatureContainerComponent, (
      _components: (
        $BorderFeatureTitleComponent,
        $BorderFeatureTopBorderComponent,
        $BorderFeatureBottomBorderComponent,
        map-merge($BorderFeatureBodyComponent, (
          _components: (
            $BorderFeatureSubtitleComponent,
            map-merge($BorderFeatureTextComponent, (
              _components: (
                $BorderFeatureFigureLinkComponent,
              ),
            ))
          ),
        ))
      ),
    ))
  ),
));


