// Figures

$Caption__Container--Figure: (
    _name: "CaptionContainerFigure",
    _subselector: " .os-caption-container",
    _properties: (
        display: table,
        margin-left: auto,
        margin-right: auto,
        margin-bottom: v-spacing(1),
        font-size: font-scale(-1),
        line-height: 1rem,
    )
);

// Mechanism Figures

$Caption__Title__Container:(
    _name: "CaptionTitleContainer",
    _subselector: " > .os-caption-title-container",
    _properties: (
        background-color: enum('ValueSet:::REQUIRED'),
        line-height: 1rem,
        padding: v-spacing(1),
        display: table-caption,
    )
);

$Caption__Text__Container:(
    _name: "CaptionTextContainer",
    _subselector: " > .os-caption-text-container",
    _properties: (
        border-right-width: 2px,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'),
        border-left-width: 2px,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'),
        line-height: 1rem,
        padding: v-spacing(1),
        display: table-caption,
    )
);

// Dedication

$Caption__Text--Dedication:(
    _name: "CaptionDedicationText",
    _subselector: " > .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        font-weight: bold,
        margin-top: v-spacing(1),
        display: flex,
        flex-direction: column,
        align-items: center,
    )
);

// Chapter Intro

$Caption__Container--ChapterIntro: (
    _name: "CaptionContainerChapterIntro",
    _subselector: " .os-caption-container",
    _properties: (
        position: relative,
        padding-top: v-spacing(1),
        padding-bottom: v-spacing(1),
        font-size: font-scale(-1),
        line-height: 1rem,
    )
);

$Caption__Container--ChapterIntro__Bg: (
        _name: "CaptionContainerChapterIntroBg",
        _subselector: '::before',
        _properties: (
            content: "''",
            background-color: enum('ValueSet:::REQUIRED'),
            position: absolute,
            height: 100%,
            width: fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
            z-index: -1,
            box-sizing: border-box,
            padding: inherit,
            top: 0,
        ),
);

// Tables

$Caption__Container--Table: (
    _name: "CaptionContainerTable",
    _subselector: ' .os-caption-container',
    _properties: (
        display: table-caption,
        caption-side: bottom,
        prince-caption-page: all,
        font-size: font-scale(-1),
        line-height: 1rem,
    )
);

$Caption__Container--Table--OnTop: (
    _name: "CaptionContainerTableOnTop",
    _subselector: ' .os-caption-container',
    _properties: (
        display: table-caption,
        prince-caption-page: all,
        font-size: font-scale(-1),
        line-height: 1rem,
    )
);

// Common components

$Caption__Text:(
    _name: "CaptionText",
    _subselector: " > .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: " > .os-title",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
    )
);

$Caption__TitleLabel: (
    _name: "CaptionTitleLabel",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
    )
);

$Caption__Number:(
    _name: "CaptionNumber",
    _subselector: " > .os-number",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
    )
);
