// Figures

$Caption__Container--Figure: (
    _name: "CaptionContainerFigure",
    _subselector: " .os-caption-container",
    _properties: (
        display: table,
        margin-left: auto,
        margin-right: auto,
        margin-bottom: v-spacing(1),
        font-size: font-scale(-1),
        line-height: 1.4rem,
    )
);

$Caption__Title__Label--Figure: (
    _name: "CaptionTitleLabelFigure",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
    )
);

$Caption__Number--Figure:(
    _name: "CaptionNumberFigure",
    _subselector: "> .os-number",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
        display: inline-block,
        margin-right: h-spacing(1),
    )
);

$Caption__Divider--Figure: (
    _name: "CaptionDividerFigure",
    _subselector: "> .os-divider",
    _properties: (
        margin: 0,
    )
);

// Chapter Intro

$Caption__Container--ChapterIntro: (
    _name: "CaptionContainerChapterIntro",
    _subselector: " .os-caption-container",
    _properties: (
        position: relative,
        padding-top: 1rem,
        padding-bottom: 2rem,
        font-size: font-scale(-1),
    )
);

$Caption__Title__Label--ChapterIntro: (
    _name: "CaptionTitleLabelChapterIntro",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Number--ChapterIntro:(
    _name: "CaptionNumberChapterIntro",
    _subselector: "> .os-number",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
        display: inline-block,
        margin-right: h-spacing(1),
    )
);

// Components used in both Figures and Chapter Intro shapes

$Caption__Text:(
    _name: "CaptionText",
    _subselector: "> .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
    )
);
$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: "> .os-title",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
    )
);

// Tables

$Caption__Container--Table: (
    _name: "CaptionContainerTable",
    _subselector: ' .os-caption-container',
    _properties: (
        font-size: font-scale(0),
    )
);

$Caption__Container--BasicTable: (
    _name: "CaptionContainerBasicTable",
    _subselector: ' .os-caption-container',
    _properties: (
        font-size: font-scale(0),
        display: table-caption,
        caption-side: bottom,
        prince-caption-page: all,
    )
);

$Caption__Container--TopTitledTable: ( // These properties are used only in Top Titled Tables
    _name: "CaptionContainerTopTitledTable",
    _subselector: " .os-caption-container",
    _properties: (
        display: table-caption,
        caption-side: bottom,
        prince-caption-page: all,
    )
);

$Caption__Title__Label--Table: (
    _name: "CaptionTitleLabelTable",
    _subselector: " > .os-title-label",
    _properties: (
        font-weight: bold,
        font-family: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Number--Table:(
    _name: "CaptionNumberTable",
    _subselector: "> .os-number",
    _properties:(
        font-weight: bold,
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
    )
);
