$ChapterIntroContainer: (
    _name: "introContainer",
    _subselector: '',
    _properties: (

    )
);

$ChapterIntroTitle: (
    _name: "introTitle",
    _subselector: '',
    _properties: (

    )
);

$SplashImageContainer: (
    _name: "splashImageContainer",
    _subselector: '',
    _properties: (

    )
);

$SplashImage: (
    _name: "splashImage",
    _subselector: '',
    _properties: (

    )
);

$SplashImageCaptionContainer: (
    _name: "splashImageCaptionContainer",
    _subselector: '',
    _properties: (

    )
);

$ChapterIntroBody: (
    _name: "introBody",
    _subselector: '',
    _properties: (
        display: flex, 
        flex-direction: row-reverse,
    )
);

$ChapterOutlineContainer: (
    _name: "outlineContainer",
    _subselector: '',
    _properties: (
        background-color: enum('ValueSet:::OPTIONAL'),
        color: enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::REQUIRED'),

    )
);

$ChapterOutlineTitle: (
    _name: "outlineTitle",
    _subselector: ' .os-title',
    _properties: (
        border-bottom-style: enum('ValueSet:::OPTIONAL'),
    )
);

$ChapterOutlineObjective: (
    _name: "outlineObjective",
    _subselector: ' div.os-chapter-objective > a.os-chapter-objective',
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$ChapterIntroContent: (
    _name: "introContent",
    _subselector: ' .intro-text',
    _properties: (
        
    )
);