$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, '');

$ChapterSplash__Figure__Wrapper: (
    _name: "ChapterSplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        margin-bottom: v-spacing(2),
    ),
);

$ChapterSplash__Figure: (
    _name: "ChapterSplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        margin: 0,
    ),
);

$ChapterSplash__Figure--Bg: (
        _name: "ChapterSplashFigureBg",
        _subselector: '::before',
        _properties: (
            content: "''",
            background-color: enum('ValueSet:::REQUIRED'),
            position: absolute,
            height: 100%,
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
            z-index: -3,
            box-sizing: border-box,
            padding: inherit,
            top: 0,
        ),
);

$ChapterSplash__Media: (
    _name: "ChapterSplashMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        line-height: 0,
        height: 100%,
        display: flex,
        width: half-fullBleedsSize(7.5, in),
        justify-content: flex-end,
        z-index: -2,
        position: relative,
    ),
);

$ChapterSplash__Img: (
    _name: "ChapterSplashImg",
    _subselector: '> img',
    _properties: (
        width: half-fullBleedsSize(8, in),
    )
);

$ChapterSplash__Caption--Bg: (
        _name: "ChapterSplashCaptionBg",
        _subselector: '::before',
        _properties: (
            content: "''",
            background-color: enum('ValueSet:::REQUIRED'),
            position: absolute,
            height: 100%,
            width: fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
            z-index: -1,
            box-sizing: border-box,
            padding: inherit,
            top: 0,
        ),
);
