$chapterTitleText: (
  _name: TitleText,
  _subselector: ' > .os-text',
  _properties: (
    display: block,
    font-size: font-scale(7),
    line-height: line-height(7),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: lighter,
  )
);

$chapterTitleNumber: (
  _name: TitleNumber,
  _subselector: ' > .os-number',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    display: block,
    font-size: font-scale(4),
    line-height: line-height(4),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bolder,
    text-transform: uppercase,
    letter-spacing: 0.1rem
  ),
);

$chapterTitle: (
  _name: Title,
  _subselector: ' > [data-type="document-title"]',
  _properties: (
    color: enum('ValueSet:::OPTIONAL'),
  ),
  _components: (
    $chapterTitleText,
    $chapterTitleNumber
  )
);

$chapterContainer: (   //ToDo: apply empty_wrapper function
  _name: Container,
  _subselector: '',
  _properties: (
  ),
  _components: (
    $chapterTitle,
  )
);
