$Columns__Container: empty_wrapper(ColumnsContainer, '');

// Two columns
$Columns--TwoColumnsTwoRatioOne: (
    _name: "TwoColumnsTwoRatioOne",
    _subselector: " [data-columns='2'][data-ratio='1,1'] col[data-width='1*']",
    _properties: (
        width: column-width(2,2,1),
    )
);

$Columns--TwoColumnsFourRatioOne: (
    _name: "TwoColumnsFourRatioOne",
    _subselector: " [data-columns='2'][data-ratio='1,3'] col[data-width='1*']",
    _properties: (
        width: column-width(2,4,1),
    )
);

$Columns--TwoColumnsFourRatioThree: (
    _name: "TwoColumnsFourRatioThree",
    _subselector: " [data-columns='2'][data-ratio='1,3'] col[data-width='3*']",
    _properties: (
        width: column-width(2,4,3),
    )
);

$Columns--TwoColumnsFiveRatioTwo: (
    _name: "TwoColumnsFiveRatioTwo",
    _subselector: " [data-columns='2'][data-ratio='2,3'] col[data-width='2*']",
    _properties: (
        width: column-width(2,5,2),
    )
);

$Columns--TwoColumnsFiveRatioThree: (
    _name: "TwoColumnsFiveRatioThree",
    _subselector: " [data-columns='2'][data-ratio='2,3'] col[data-width='3*']",
    _properties: (
        width: column-width(2,5,3),
    )
);

// Three columns
$Columns--ThreeColumnsFourRatioOne: (
    _name: "ThreeColumnsFourRatioOne",
    _subselector: " [data-columns='3'][data-ratio='1,2,1'] col[data-width='1*']",
    _properties: (
        width: column-width(3,4,1),
    )
);

$Columns--ThreeColumnsFourRatioTwo: (
    _name: "ThreeColumnsFourRatioTwo",
    _subselector: " [data-columns='3'][data-ratio='1,2,1'] col[data-width='2*']",
    _properties: (
        width: column-width(3,4,2),
    )
);
