//header
$header_sum:(
    _name: "headerContainerComponent",
    _subselector: " > h2",
     _properties:(
         color: enum('ValueSet:::NULLABLE'),//(_ref:"colorMap:::h2TitleColor"),
         font-family: enum('ValueSet:::NOT_NULL'), //(_ref:'typography:::sansFont'), 
         font-style: enum('ValueSet:::NOT_NULL'), // bold,  
         size: enum('ValueSet:::NOT_NULL'), //not_implemented(2.074rem),  
         text-transform: enum('ValueSet:::NOT_NULL'), //uppercase,
        )
);

//key terms
$keyterm_container:(
    _name: "keytermContainer",
    _subselector: "",
    _properties:(
    )
);

$terms_container:(
    _name: "termContainer",
    _subselector: " > dl > dt ",
     _properties:(
         font-weight: enum('ValueSet:::NOT_NULL'),
         text-indent: enum('ValueSet:::NOT_NULL'),
         padding-left: enum('ValueSet:::NOT_NULL'),
     )
);



//key equation
$equation_container:(
    _name: "equationContainer",
    _subselector: "",
    _properties:(
    )
);

$equations_table:(
    _name: "tableContainer",
    _subselector: " > .key-equations",
    _properties:(
        padding:enum('ValueSet:::NOT_NULL'),
    )
);

//summary
$summary_container:(
    _name: "summaryContainer",
    _subselector: "",
    _properties:(
    )
);


$summarytitle_container:(
    _name: "summarytitleContainer",
    _subselector: "> .summary > h3",
    _properties:(
        font-family: enum('ValueSet:::NOT_NULL'),
        font-weight: enum('ValueSet:::NOT_NULL'),
        padding: enum('ValueSet:::NOT_NULL'),
        color: enum('ValueSet:::NOT_NULL'),// (_ref:'typography:::h3TitleColor'),
    )
);