@import '_eoc-components';
@import '_table-components';

@include create_shape('carnival:::EocKeyTerm',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $Term_DL
            ),
        )),
    ))
);


@include create_shape('carnival:::EocKeyEqu',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                map-merge($Key_Equations, (
                    _components: (
                        map-merge($TableContainer, (
                            _components: (
                                map-merge($UnnumberedUnstyledTable, (
                                    _components: (
                                        map-merge($TableHead, (
                                            _components: (
                                                map-merge($TableRow, (
                                                    _components: (
                                                        $TableHeadCell,
                                                    )
                                                )),
                                            )
                                        )),
                                        map-merge($TableBody, (
                                            _components: (
                                                map-merge($TableRow, (
                                                    _components: (
                                                        $TableData,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                ))
                            )
                        ))
                    )
                ))
            ),
        )),
    ))
);

// This is temporary solution to avoid changes in other books.
// During cleaning up Carnival Theme will be created one shape for Key Equation 
@include create_shape('carnival:::EocKeyEquWithSectionLink',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $Eoc_SectionTitleLink,
                map-merge($Key_Equations, (
                    _components: (
                        map-merge($Key_Equations_Table_Container, (
                            _components: (
                                map-merge($UnnumberedUnstyledTable, (
                                    _components: (
                                        map-merge($TableHead, (
                                            _components: (
                                                map-merge($TableRow, (
                                                    _components: (
                                                        $TableHeadCell,
                                                    )
                                                )),
                                            )
                                        )),
                                        map-merge($TableBody, (
                                            _components: (
                                                map-merge($TableRow, (
                                                    _components: (
                                                        $TableData,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                ))
                            )
                        ))
                    )
                ))
            ),
        )),
    ))
);

// This is temporary solution to avoid changes in other books.
// During cleaning up Carnival Theme will be created one shape for Summary
@include create_shape('carnival:::EocSummaryWithSectionLink',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $Eoc_SectionTitleLink,
                $SummaryUnorderedList,
            ),
        )),
    ))
);

@include create_shape('carnival:::EocSummary',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $Summarytitle_Container,
                $SummaryUnorderedList,
                $SummaryOrderedList
            ),
        )),
    ))
);

@include create_shape('carnival:::EocSectionSummary',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $SectionSummaryTitleLink,
                $SectionSummaryUnorderedList,
                $SectionSummaryOrderedList
            ),
        )), 
    ))
);

@include create_shape('carnival:::EocExercise',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $Exercisetitle_Container,
                map-merge($Problem_Wrapper,(
                    _components:(
                        $Problem_Number,
                        $Problem_Divider,
                        map-merge($Problem_Container, (
                            _components: (
                                $Problem_Paragraph,
                            )
                        )),
                    ),
                )),
            ),
        )),
    ))
);

@include create_shape('carnival:::EocExerciseWithoutSubtitle',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                map-merge( $Problem_Wrapper,(
                  _components: (
                    $Problem_Number,
                    $Problem_Divider,
                    map-merge($Problem_Container,(
                        _components: (
                            $Problem_Paragraph,
                            $Exercise_Figure,
                            $Exercise_Table,
                            $Exercise_Container_Ordered_List,
                            map-merge($Exercise_Ordered_List,(
                                _components: (
                                $Exercise_Nested_Ordered_List,
                                ))
                            ),
                            $Exercise_Unordered_List,
                            map-merge($Exercise_Table,(
                                _components: (
                                $Exercise_Table_Row,
                                )
                            )),
                        )
                    ))
                  )
                ))
            ),
        )),
    ))
);

@include create_shape('carnival:::EocReviewQuestions' ,(
    _components:(
        map-merge($EocContainer, (
            _components:(
                $Eoc_Header,
                $ReviewQuestionsTitle_Container,
                $Multiple_Choice,
            )
        ))
    ))
);

@include create_shape('carnival:::EocConceptualQuestions',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $ConceptualQuestionsTitleLink,
                map-merge( $Problem_Wrapper,(
                  _components: (
                    $Problem_Number,
                    $Problem_Divider,
                    map-merge($Problem_Container, (
                        _components:(
                            $Problem_Paragraph,
                            $Exercise_Unordered_List
                        ),
                    )),
                  )
                ))
            ),
        )),
    ))
);

@include create_shape('carnival:::EocProblemsExercises',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
                $ProblemsExercisesTitleLink,
                map-merge($Problem_Wrapper,(
                  _components: (
                    $Problem_Number,
                    $Problem_Divider,
                    map-merge($Problem_Container, (
                        _components:(
                            $Problem_Paragraph,
                            $Exercise_Figure,
                            $Exercise_Table,
                            $Exercise_Ordered_List
                        ),
                    )),
                ))
            ),
        )),
    ))
));

@include create_shape('carnival:::EocCompositeChapter',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_Header,
            ),
        )),
    ))
);

@include create_shape('carnival:::EocCompChapExercises',(
    _components:(
        map-merge($EocContainer,(
            _components:(
                $Eoc_CompChapPageHeader,
                $Eoc_SectionTitleLink,
                map-merge($Problem_Wrapper,(
                    _components:(
                        $Problem_Number,
                        $Problem_Divider,
                        map-merge($Problem_Container, (
                            _components:(
                                $Problem_Paragraph,
                                map-merge($Exercise_Ordered_List, (
                                    _components:(
                                        map-merge($Exercise_Nested_Ordered_List, (
                                            _components:(
                                                $Exercise_Nested_Ordered_List
                                            )),
                                        )),
                                    )),
                                $Exercise_Unordered_List,
                                map-merge($Exercise_Container_Ordered_List, (
                                    _components:(
                                        $Exercise_Nested_Ordered_List
                                        ),
                                )),
                                $Exercise_Figure,
                                $Exercise_Container_Unordered_List
                            ),
                        )),
                    )
                )),
                $Exercise_Section_Unordered_List,
                map-merge($Exercise_Container_Ordered_List, (
                    _components:(
                        $Exercise_Nested_Ordered_List
                    ),
                )),
                $Exercise_Section_Ordered_List,
            ),
        )),
    ))
);
