//header
$Eoc_Header:(
    _name: "EocHeader",
    _subselector: " > h2",
    _properties:(
        color: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        text-transform: enum('ValueSet:::REQUIRED'),
        padding-bottom: v-grid(1)
    )
);

//key terms
$Keyterm_Container:(
    _name: "KeytermContainer",
    _subselector: "",
    _properties:(
        margin-bottom: enum('ValueSet:::REQUIRED')
    )
);

$Terms_DL:(
    _name: "TermDL",
    _subselector: " > dl",
    _properties:(
        text-indent: enum('ValueSet:::REQUIRED'),
        margin-left: enum('ValueSet:::REQUIRED'),
    )
);

//TODO rename this, this is the term itself
$Terms_Container:(
    _name: "Term",
    _subselector: " > dl > dt ",
    _properties:(
        font-weight: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::REQUIRED'),
        display: enum('ValueSet:::REQUIRED')
    )
);

$Terms_DD:(
    _name: "TermDD",
    _subselector: " > dl > dd ",
    _properties:(
        margin-left: enum('ValueSet:::REQUIRED'),
        display: enum('ValueSet:::REQUIRED')
    )
);

//key equation
$Equation_Container:(
    _name: "EquationContainer",
    _subselector: "",
    _properties:(
        margin-bottom: enum('ValueSet:::REQUIRED')
    )
);

//this isn't the "table", TODO: rename
$Equations_Table:(
    _name: "EquationsTable",
    _subselector: " > .key-equations",
    _properties:(
        padding-bottom: enum('ValueSet:::REQUIRED')
    )
);

$Equations_List:(
    _name: "EquationsList",
    _subselector: " > .key-equations ul",
    _properties:(
        list-style: enum('ValueSet:::REQUIRED'),
        padding-left: enum('ValueSet:::REQUIRED'),
        padding-bottom: enum('ValueSet:::REQUIRED'),
    )
);

//summary
$Summary_Container:(
    _name: "SummaryContainer",
    _subselector: "",
    _properties:(
        margin-bottom: enum('ValueSet:::REQUIRED')
    )
);

$Summarytitle_Container:(
    _name: "SummaryTitle",
    _subselector: "> .summary > h3",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        margin-bottom: enum('ValueSet:::REQUIRED'),
    )
);

//exercises
$Exercise_Container:(
    _name: "ExerciseContainer",
    _subselector: "",
    _properties:(
        margin-bottom: enum('ValueSet:::REQUIRED')
    )
);

$Exercisetitle_Container:(
    _name: "ExerciseTitle",
    _subselector: "> .exercises > h3",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        margin-bottom: enum('ValueSet:::REQUIRED'),
    )
);

$Problem_container:(
    _name: "ProbelemContainer",
    _subselector: " [data-type='problem']",
    _properties:(
      display: flex,
    )
);

$Problem_Number:(
    _name: "ProblemNumber",
    _subselector: " .os-number",
    _properties:(
        color:  enum('ValueSet:::REQUIRED'),
        font-weight:  enum('ValueSet:::REQUIRED'),
        text-decoration:  enum('ValueSet:::REQUIRED'),
    )
);

$Problem_Divider: (
    _name: "ProblemDivider",
    _subselector: " .os-divider",
    _properties:(
        padding-right: enum('ValueSet:::REQUIRED')
    )
);

