@import '_eoc-components';
@import '_table-components';
@import 'lists-components';
@import 'generic-components';
@import 'wrappers-components';


//4 main shapes are used for the EOC. Key Terms, Summary, Key Equations and Exerises (from the exercise shapes).

@include create_shape('carnival:::EocKeyTerm',(
    _components:(
        map-merge($Eoc__Container,(
            _components:(
                map-merge($Term--DL,(
                    _components:(
                        $Term--DT,
                        $Term--DD,
                    ),
                )),
            ),
        )),
    ))
);

@include create_shape('carnival:::EocKeyEquations',(
    _components:(
        map-merge($Eoc__Container,(
            _components:(
                $Section--MarginBottom,
                map-merge($KeyEquations, (
                    _components: (
                        map-merge($KeyEquations__Table__Container, (
                            _components: (
                                map-merge($Table--UnnumberedUnstyled, (
                                    _components: (
                                        map-merge($Table__Head, (
                                            _components: (
                                                map-merge($Table__Row, (
                                                    _components: (
                                                        $Table__Head__Cell,
                                                    )
                                                )),
                                            )
                                        )),
                                        map-merge($Table__Body, (
                                            _components: (
                                                map-merge($Table__Row, (
                                                    _components: (
                                                        $Table__Data,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                ))
                            )
                        ))
                    )
                ))
            ),
        )),
    ))
);

@include create_shape('carnival:::EocSummary',(
    _components:(
        map-merge($Eoc__Container,(
            _components:(
                map-merge($Section__UnorderedList--MarginLeft, (
                    _components: (
                        $OrderedList--Nested--MarginLeft,
                    ),
                )),
                $Section__OrderedList--MarginLeft,
                map-merge($Summary__Section__UnorderedList--MarginLeft, (
                    _components: (
                        $OrderedList--Nested--MarginLeft,
                    ),
                )),
                map-merge($Summary__Section__UnorderedList--MarginLeft, (
                    _components:(
                        $UnorderedList--Nested--MarginLeft,
                    ),
                )),
            ),
        )),
    ),
));
