$EocContainer: (
    _name: "Container",
    _subselector: "",
    _properties: (
        margin-bottom: v-grid(2),
        column-count: enum('ValueSet:::OPTIONAL'),
        column-gap: enum('ValueSet:::OPTIONAL'),
        column-width: enum('ValueSet:::OPTIONAL'),
    )
);

$Eoc_Header:(
    _name: "EocHeader",
    _subselector: " > h2",
    _properties:(
        color: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        text-transform: enum('ValueSet:::REQUIRED'),
        column-span: enum('ValueSet:::OPTIONAL'),
        margin-bottom: v-grid(1)
    )
);

$Eoc_CompChapPageHeader:(
    _name: "CompChapPageHeader",
    _subselector: " > h3",
    _properties:(
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(3),
        line-height: line-height(3),
        text-transform: uppercase,
        column-span: enum('ValueSet:::OPTIONAL'),
        margin-bottom: v-grid(1)
    )
);


$Term_DT:(
    _name: "Term",
    _subselector: " > dt ",
    _properties:(
        font-weight: enum('ValueSet:::REQUIRED'),
        padding-right: enum('ValueSet:::REQUIRED'),
        display: enum('ValueSet:::REQUIRED'),
    )
);

$Term_DD:(
    _name: "TermDD",
    _subselector: " > dd ",
    _properties:(
        display: enum('ValueSet:::REQUIRED'),
        margin-left: enum('ValueSet:::REQUIRED'),
    )
);

$Term_DL:(
    _name: "TermDL",
    _subselector: " > dl",
    _properties:(
        text-indent: enum('ValueSet:::REQUIRED'),
        padding-left: enum('ValueSet:::REQUIRED'),
    ),
    _components: (
        $Term_DT,
        $Term_DD
    )
);

$Key_Equations:(
    _name: "KeyEquations",
    _subselector: " > .key-equations",
    _properties:(
        padding: 0
    )
);

@function eocSectionTitleH3($section_selector) {
    @return (
        _name: "SectionTitle",
        _subselector: " #{$section_selector} > h3, #{$section_selector} >[data-type="composite-page"] > h3",
        _properties:(
            font-family: enum('ValueSet:::REQUIRED'),
            font-weight: enum('ValueSet:::REQUIRED'),
            font-size: enum('ValueSet:::REQUIRED'),
            line-height: enum('ValueSet:::REQUIRED'),
            margin-bottom: enum('ValueSet:::REQUIRED'),
        )
    );
}

$Summarytitle_Container: eocSectionTitleH3(".summary");
$Exercisetitle_Container: eocSectionTitleH3(".exercises");
$ReviewQuestionsTitle_Container: eocSectionTitleH3(".os-review-questions-container");
// $FillInTheBlankTitle_Container: eocSectionTitleH3(".os-fill-in-the-blank-container");


@function eocSectionTitleLink($section_selector) {
    @return (
        _name: "SectionTitleLink",
        _subselector: " #{$section_selector} > a > h3, #{$section_selector} >[data-type="composite-page"] > a > h3",
        _properties:(
            font-family: enum('ValueSet:::REQUIRED'),
            font-size: font-scale(3)
        )
    );
}

$SectionSummaryTitleLink: eocSectionTitleLink(".section-summary");
$ConceptualQuestionsTitleLink: eocSectionTitleLink(".conceptual-questions");
$ProblemsExercisesTitleLink: eocSectionTitleLink(".problems-exercises");

$SectionSummaryUnorderedList:(
    _name: "UnorderedSectionSummaryList",
    _subselector: " .section-summary > ul",
    _properties: (
    margin-left: h-grid(3),
  )
);
$SectionSummaryOrderedList:(
    _name: "OrderedSectionSummaryList",
    _subselector: " .section-summary > ol",
    _properties: (
    margin-left: h-grid(3),
  )
);
$SummaryUnorderedList:(
    _name: "UnorderedSummaryList",
    _subselector: " .summary > ul",
    _properties: (
    margin-left: h-grid(3),
  )
);
$SummaryOrderedList:(
    _name: "OrderedSummaryList",
    _subselector: " .summary > ol",
    _properties: (
    margin-left: h-grid(3),
  )
);

// During cleaning up Carnival Theme we can remove functions from above 
// and aply this general link component to other shapes
$Eoc_SectionTitleLink:(
    _name: "EocSectionTitleLink",
    _subselector: " a:first-of-type > h3",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
    )
);

$Problem_Wrapper:(
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
    )
);

$Problem_Container:(
    _name: "ProblemContainer",
    _subselector: " .os-problem-container",
    _properties:(
        display: table-cell,
    )
);
$Problem_Paragraph:(
    _name: "ProblemParagraph",
    _subselector: " > p",
    _properties:(
        margin-bottom: 0,
    )
);

$Problem_Number:(
    _name: "ProblemNumber",
    _subselector: " .os-number",
    _properties:(
        color:  enum('ValueSet:::REQUIRED'),
        font-weight:  enum('ValueSet:::REQUIRED'),
        text-decoration:  enum('ValueSet:::REQUIRED'),
        display: table-cell,
    )
);

$Problem_Divider:(
    _name: "ProblemDivider",
    _subselector: " .os-divider",
    _properties:(
        margin-right: enum('ValueSet:::REQUIRED'),
    )
);

$Multiple_Choice:(
    _name: "MultipleChoice",
    _subselector: " > .os-multiple-choice-container",
    _properties:(
        column-count: 2,
        column-gap: 2.4rem,
        column-width: auto,
    )
);
$Exercise_Figure: (
    _name: "ExerciseFigure",
    _subselector: " img",
    _properties:(
        max-width: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Table: (
    _name: "ExerciseTable",
    _subselector: " table",
    _properties:(
        width: enum('ValueSet:::OPTIONAL'),
        table-layout: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Ordered_List: (
    _name: "ExerciseOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Unordered_List: (
    _name: "ExerciseUnorderedList",
    _subselector: " > ul",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Section_Unordered_List: (
    _name: "ExerciseSectionUnorderedList",
    _subselector: " section > ul",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Section_Ordered_List: (
    _name: "ExerciseSectionOrderedList",
    _subselector: " section > ol",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Container_Ordered_List: (
    _name: "ExerciseContainerOrderedList",
    _subselector: " > div > ol",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Container_Unordered_List: (
    _name: "ExerciseContainerUnorderedList",
    _subselector: " > div > ul",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$Exercise_Nested_Ordered_List: (
    _name: "ExerciseNestedOrderedList",
    _subselector: " > li > ol",
    _properties:(
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
    )
);

$Exercise_Table_Row: (
    _name: "ExerciseTableRow",
    _subselector: " > tbody > tr > td",
    _properties:(
        text-align:  enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::OPTIONAL'),
    )
);
$Key_Equations_Table_Container: (
    _name: "KeyEquationsTableContainer",
    _subselector: " > .os-table",
    _properties:(
        margin-bottom: v-grid(2),
        margin-left: 0,
        margin-right: 0,
    )
);