$EquationContainer: (
    _name: "EquationContainer",
    _subselector: "",
    _properties: (
        position: enum('ValueSet:::OPTIONAL'),
        display: flex,
        flex-direction: enum('ValueSet:::OPTIONAL'),
        align-items: center,
        justify-content: center,
        margin-bottom: v-spacing(1),
    )
);

$EquationNumber: (
    _name: "EquationNumber",
    _subselector: " > .os-equation-number",
    _properties: (
        position: absolute,
        right: 0,
        top: 50%,
        transform: translate(0, -50%),
        border-width: 0.025rem,
        border-style: solid,
        line-height: normal,
        padding: 0.5rem,
        margin-right: v-spacing(1),
    )
);