// Learning Objectives Components
$ExampleContainerComponent: (
  _name: "container",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::NOT_NULL'),
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
    border-bottom: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleMainTitleComponent: (
  _name: "title",
  _subselector: " > .os-title",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
    font-weight: enum('ValueSet:::NOT_NULL'),
    text-transform: enum('ValueSet:::NOT_NULL'),
    border-bottom: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleFirstParagraphTitleComponent: (
  _name: "first-title",
  _subselector: " + p > [data-type='title']",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
    font-weight: enum('ValueSet:::NOT_NULL'),
    text-transform: enum('ValueSet:::NOT_NULL'),
    display: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleMainTitleIconComponent: (
  _name: "title-icon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::NOT_NULL'),
    background-size: enum('ValueSet:::NOT_NULL'),
    height: enum('ValueSet:::NOT_NULL'),
    width: enum('ValueSet:::NOT_NULL'),
    display: enum('ValueSet:::NOT_NULL'),
    padding-right: enum('ValueSet:::NOT_NULL'),
    position: enum('ValueSet:::NOT_NULL'),
    bottom: enum('ValueSet:::NOT_NULL'),
    content: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleParagraphComponent: (
  _name: "paragraph",
  _subselector: " > p",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleParagraphTitleComponent: (
  _name: "subtitle",
  _subselector: " > [data-type='title']",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
    font-weight: enum('ValueSet:::NOT_NULL'),
    text-transform: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleEquationComponent: (
  _name: "equation",
  _subselector: " > [data-type='equation']",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleAnswerComponent: (
  _name: "answer",
  _subselector: " > [data-type='note'] > .os-title",
  _properties: (
    display: enum('ValueSet:::NOT_NULL'),
  )
);

$ExampleAnswerTitleComponent: (
  _name: "answer-title",
  _subselector: " > .os-title-label",
  _properties: (
    font-family: enum('ValueSet:::NOT_NULL'),
    font-size: enum('ValueSet:::NOT_NULL'),
    font-weight: enum('ValueSet:::NOT_NULL'),
    text-transform: enum('ValueSet:::NOT_NULL'),
    display: enum('ValueSet:::NOT_NULL'),
  )
);