$Example__Container: (
    _name: "ExampleContainer",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        border-bottom-width: 0.2rem,
        border-bottom-style: solid,
        box-decoration-break: slice,
    )
);

$Example__Title: (
  _name: "ExampleTitle",
  _subselector: " > .os-title",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: 900,
    letter-spacing: 0.05rem,
    text-transform: uppercase,
    font-size: font-scale(1),
    line-height: line-height(0),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.2rem,
    border-bottom-style: solid,
    display: flex,
    flex-direction: row,
    align-items: flex-end,
    margin-bottom: v-spacing(1)
  )
);

$Example__Title__Icon: (
  _name: "ExampleTitleIcon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(4),
    width: v-spacing(4),
    display: inline-block,
    padding-right: 0.4rem,
    position: relative,
    bottom: -0.5rem,
    content: "''",
  )
);

$Example__Title__Label: (
  _name: "ExampleTitleLabel",
  _subselector: " > .os-title-label",
  _properties: (
    display: inline-block,
    word-wrap: normal,
    margin-bottom: .2rem,
  )
);

$Example__Title__Number: (
  _name: "ExampleTitleNumber",
  _subselector: " > .os-number",
  _properties: (
    display: inline-block,
    word-wrap: normal,
    margin-bottom: .2rem,
    margin-left: h-spacing(1),
  )
);

$Example__Title__Text: (
  _name: "ExampleTitleText",
  _subselector: " > .os-text",
  _properties: (
    display: inline-block,
    word-wrap: normal,
    margin-bottom: .2rem,
    margin-left: h-spacing(1),
  )
);

$Example__Body: empty_wrapper(ExampleBody, ' > .body');

$Example__Subtitle: (
  _name: "ExampleSubtitle",
  _subselector: " > h4[data-type='title']", // e.g in College Physics
  _properties: (
    font-size: font-scale(1),
    line-height: line-height(1),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    margin-bottom: .2rem,
  )
);

$Example__Subtitle--FromFirstPara: (
  _name: "ExampleSubtitleFromFirstPara",
  _subselector: " > p:first-of-type > h4[data-type='title']", // e.g in Chemistry
  _properties: (
    font-size: font-scale(1),
    line-height: line-height(1),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    margin-bottom: .2rem,
  )
);

$Example__Subtitle--FromPara: (
  _name: "ExampleSubtitleFromPara",
  _subselector: " > p:not(:first-of-type) > h4[data-type='title']",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: bold,
    margin-bottom: .2rem,
  )
);

$Example__Subtitle--FromNote: (
  _name: "ExampleSubtitleFromNote",
  _subselector: ' > [data-type="note"] > h3[data-type="title"]',
  _properties: (
    font-weight: bold,
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    margin-bottom: .2rem,
  )
);
