@import 'lists-components';

$Exercise__Container:(
    _name: "Container",
    _subselector: " ",
    _properties:(
    )
);

$Exercise__Problem--Wrapper:(
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
    )
);

$Exercise__Image: (
    _name: "ExerciseImage",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Exercise__Problem--Paragraph:(
    _name: "ProblemParagraph",
    _subselector: " > p",
    _properties:(
        margin-bottom: 0,
    )
);

@function problemContainer($selector, $name) {
    @return (
        _name: "ProblemContainer#{$name}",
        _subselector: #{$selector},
        _properties:(
            display: table-cell,
            vertical-align: enum('ValueSet:::OPTIONAL'),
            padding-top: enum('ValueSet:::OPTIONAL'),
            width: 100%,
        ),
        _components: (
            $Exercise__Problem--Paragraph,
            $Exercise__Image,
            map-merge($ListComponent--MarginLeftBottomOrdered, (
                _components:(
                    map-merge($Nested__ListComponent--MarginLeftBottomOrdered, (
                        _components:(
                            $Nested__ListComponent--MarginLeftBottomOrdered,
                        ),
                    )),
                ),
            )),
            $ListComponent--MarginLeftBottomUnordered,
            map-merge($Container__ListComponent--MarginLeftBottomOrdered, (
                _components:(
                    $Nested__ListComponent--MarginLeftBottomOrdered,
                ),
            )),
            $Container__ListComponent--MarginLeftBottomUnordered,
        ),
    );
}

$Exercise__Problem--Container: problemContainer(' .os-problem-container', null);
$Exercise__Problem--Container_Specific: problemContainer(' .os-problem-container.has-first-element', "Specific");

$Exercise__Problem--Number:(
    _name: "ProblemNumber",
    _subselector: " > .os-number",
    _properties:(
        display: table-cell,
        color:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        text-decoration: none,
    )
);

$Exercise__Problem--Divider:(
    _name: "ProblemDivider",
    _subselector: " .os-divider",
    _properties:(
        margin-right: h-grid(1),
    )
);

$Exercise__Solution--Wrapper:(
    _name: "SolutionWrapper",
    _subselector: " [data-type='solution']",
    _properties:(
    )
);

$Exercise__Solution--Title:(
    _name: "SolutionTitle",
    _subselector: " > .solution-title",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(1),
        line-height: line-height(1),
    )
);
