@import 'exercises-components';

@include create_shape('carnival:::ExerciseShape',(
    _components:(
        map-merge($ExerciseContainer,(
            _components:(
                map-merge($ExerciseProblemWrapper,(
                    _components:(
                        $ExerciseProblemNumber,
                        $ExerciseProblemDivider,
                        map-merge($ExerciseProblemContainer, (
                            _components: (
                                $ExerciseProblemParagraph,
                                $Exercise_Ordered_List
                            ),
                        )),
                    ),
                )),
                map-merge($ExerciseSolutionWrapper,(
                    _components:(
                        $ExerciseSolutionTitle
                    ),
                )),
            ),
        )),
    ))
);
