$Exercise__Container: empty_wrapper(Container, '');

// Problem components
$Exercise__Problem__Wrapper: (
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
    )
);

$InjectedExercise__Question__Wrapper: (
    _name: "QuestionWrapper",
    _subselector: " [data-type='exercise-question']",
    _properties:(
        display: table,
    )
);

$Exercise__Problem__Container: exerciseChildContainer((child: problem, name: "ProblemContainer", hasImageTableOnTop: false));
$Exercise__Problem__Container--WithImageTableOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithImageTableOnTop", hasImageTableOnTop: true));

// Solution components
$Exercise__Solution__Wrapper: (
  _name: "SolutionWrapper",
  _subselector: ' [data-type="solution"]',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in Answer Key, in content exercises this component is empty wrapper
  )
);

$Exercise__Solution__Container: exerciseChildContainer((child: solution, name: "SolutionContainer", hasImageTableOnTop: false));
$Exercise__Solution__Container--WithImageTableOnTop: exerciseChildContainer((child: solution, name: "SolutionContainerWithImageTableOnTop", hasImageTableOnTop: true));

// Solution components used in inline Answer Key
$Exercise__Solution--Inline__Wrapper: (
  _name: "SolutionInlineWrapper",
  _subselector: " [data-type='solution']",
  _properties:(
    display: inline,
  )
);

$Exercise__Solution--Inline__Container: (
  _name: "SolutionInlineContainer",
  _subselector: " > .os-solution-container",
  _properties:(
    display: inline,
    margin-right: h-spacing(1),
    margin-bottom: v-spacing(1),
  )
);

$Exercise__Solution--Inline__Number: (
  _name: "SolutionInlineNumber",
  _subselector: ' > .os-number',
  _properties: (
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
  )
);

$Exercise__Solution--Inline__Paragraph: (
  _name: "SolutionInlineParagraph",
  _subselector: " > p",
  _properties:(
    display: inline,
  )
);

// General problem and solution components
$Exercise__ProblemSolution__Paragraph:(
  _name: "ProblemSolutionParagraph",
  _subselector: " > p",
  _properties:(
    margin-bottom: 0,
  )
);

$Exercise__ProblemSolution__Number: (
  _name: "ProblemSolutionNumber",
  _subselector: ' > .os-number',
  _properties: (
    display: table-cell,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    width:  enum('ValueSet:::OPTIONAL'), // Used in 1 column layout exercises, answer key
    text-align: enum('ValueSet:::OPTIONAL'), // Used in 1 column layout exercises, answer key
  )
);

$Exercise__ProblemSolution__Divider:(
  _name: "ProblemSolutionDivider",
  _subselector: " > .os-divider",
  _properties:(
    margin-right: h-spacing(1),
  )
);
