@import 'lists-components';
//offer ability to turn any exercises into a column (this is almost the same as the EOC container). We may want to extract this component to a more global columnContainer compnoent or something. 
$Exercise__Container:(
    _name: "Container",
    _subselector: " ",
    _properties:(
        margin-bottom: enum('ValueSet:::OPTIONAL'),
        column-count: enum('ValueSet:::OPTIONAL'),
        column-gap: enum('ValueSet:::OPTIONAL'),
        column-width: enum('ValueSet:::OPTIONAL'),
    )
);

$Exercise__Problem--Wrapper:(
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
    )
);

$Exercise__Image: (
    _name: "ExerciseImage",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Exercise__TableData: (
    _name: "TableData",
    _subselector: " td:not(:only-of-type)",
    _properties:(
        text-align: center,
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: h-spacing(.5), // right and left padding have to use h-spacing; in two column layout tables have to have smaller paddings
        padding-left: h-spacing(.5),
    )
);

$Exercise__Table: (
    _name: "Table",
    _subselector: " .os-table table",
    _properties:(
        max-width: 100%,
        table-layout: fixed,
    ),
);

$Exercise__Problem--Paragraph:(
    _name: "ProblemParagraph",
    _subselector: " > p",
    _properties:(
        margin-bottom: 0,
    )
);

@function problemContainer($selector, $name) {
    @return (
        _name: "ProblemContainer#{$name}",
        _subselector: #{$selector},
        _properties:(
            display: table-cell,
            vertical-align: enum('ValueSet:::OPTIONAL'),
            padding-top: enum('ValueSet:::OPTIONAL'),
            width: 100%,
        ),
    );
}

$Exercise__Problem--Container: problemContainer(' .os-problem-container', null);
$Exercise__Problem--Container_Specific: problemContainer(' .os-problem-container.has-first-element', "Specific");

$Exercise__Problem--Number:(
    _name: "ProblemNumber",
    _subselector: " > .os-number",
    _properties:(
        display: table-cell,
        color:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        text-decoration: none,
    )
);

$Exercise__Problem--Divider:(
    _name: "ProblemDivider",
    _subselector: " .os-divider",
    _properties:(
        margin-right: h-spacing(1),
    )
);

$Exercise__Solution--Wrapper: empty_wrapper(Solution, ' [data-type="solution"]');

$Exercise__Solution--Title:(
    _name: "SolutionTitle",
    _subselector: " > .solution-title",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
    )
);
