$Exercise__Container: empty_wrapper(Container, '');

$Exercise__Problem--Wrapper:(
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
    )
);

$Exercise__Problem--Paragraph:(
    _name: "ProblemParagraph",
    _subselector: " > p",
    _properties:(
        margin-bottom: 0,
    )
);

$Exercise__Problem--Container: exerciseChildContainer((child: problem, name: "ProblemContainer", hasImageOnTop: false));
$Exercise__Problem--ContainerWithImageOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithImageOnTop", hasImageOnTop: true));

$Exercise__Problem--Number:(
    _name: "ProblemNumber",
    _subselector: " > .os-number",
    _properties:(
        display: table-cell,
        color:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        text-decoration: none,
    )
);

$Exercise__Problem--Divider:(
    _name: "ProblemDivider",
    _subselector: " .os-divider",
    _properties:(
        margin-right: h-spacing(1),
    )
);

$Exercise__Solution--Wrapper: empty_wrapper(Solution, ' [data-type="solution"]');
