$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure:(
    _name: "Figure",
    _subselector: "> figure",
     _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
     )
);

// Used in exercises and answer key
$Image: (
    _name: "Image",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);
