$FigureContainer:(
    _name: "FigureContainer",
    _subselector: "",
     _properties:(
    )
);

$CaptionWrapper: (
    _name: "CaptionWrapper",
    _subselector: "> .os-caption-container",
    _properties: (
    )
);

$Caption:(
    _name: "Caption",
    _subselector: "> .os-caption",
    _properties:(
         font-family: enum('ValueSet:::REQUIRED'),
         font-size: enum('ValueSet:::REQUIRED'),
    )
);

$FigureNum:(
    _name: "FigureNum",
    _subselector: "> .os-number",
     _properties:(
         font-family: enum('ValueSet:::REQUIRED'),
         font-weight: enum('ValueSet:::OPTIONAL'),
         color: enum('ValueSet:::OPTIONAL'), 
         font-size: enum('ValueSet:::REQUIRED'),
    )
);

$FigureTitleLabel:(
    _name: "FigureTitle",
    _subselector: "> .os-title-label",
     _properties:(
         font-family: enum('ValueSet:::REQUIRED'),
         font-weight: enum('ValueSet:::OPTIONAL'),
         color: enum('ValueSet:::OPTIONAL'), 
         font-size: enum('ValueSet:::REQUIRED'),
    )
);

$PicCaption:(
    _name: "PicCaption",
    _subselector: "> figure",
     _properties:(
         padding-bottom: enum('ValueSet:::REQUIRED'),
     )
);
