$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure:(
    _name: "Figure",
    _subselector: "> figure",
     _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
     )
);

// Used in exercises and answer key
$Image: (
    _name: "Image",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Media--FirstInOrderedList: (
    _name: "MediaFirstInOrderedList",
    _subselector: ' > ol:first-child > li:first-child > [data-type="media"]:first-child',
    _properties:(
        vertical-align: top,
    )
);

$Media--FirstInOrderedList__Image: (
    _name: "MediaFirstInOrderedListImage",
    _subselector: ' > img',
    _properties:(
        padding-top: v-spacing(1),
    )
);
