$FootnotesContainerComponent: (
  _name: "Container",
  _subselector: '',
  _properties: (
    float: footnote,
    color: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    text-align: left,
    font-weight: normal,
  ),
);

$FootnoteBorderComponent: (
  _name: "Border",
  _subselector: '::before',
  _properties: (
    border-top-color: enum('ValueSet:::REQUIRED'),
    border-top-width: enum('ValueSet:::REQUIRED'),
    border-top-style: solid,
    display: block,
    width: enum('ValueSet:::OPTIONAL'),
    content: "''",
    padding-bottom: enum('ValueSet:::OPTIONAL'),
  ),
);

$FootnoteTitleComponent: (
  _name: "Title",
  _subselector: ' [data-type="footnote-refs-title"]',
  _properties: (
    display: none,
  ),
);

$FootnoteListComponent: (
  _name: "List",
  _subselector: ' ul',
  _properties: (
    list-style: enum('ValueSet:::OPTIONAL'),
    margin: enum('ValueSet:::OPTIONAL'),
    padding: enum('ValueSet:::OPTIONAL'),
  ),
);

$FootnoteLinkComponent: (
  _name: "Link",
  _subselector: ' [data-type="footnote-ref-link"]',
  _properties: (
    text-decoration: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::OPTIONAL'),
  ),
);

$FootnoteCallComponent: (
  _name: "FootnoteCall",
  _subselector: '::footnote-call',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  ),
);

$FootnoteMarkerComponent: (
  _name: "FootnoteMarker",
  _subselector: '::footnote-marker',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  ),
);

$FootnoteDefaultCallComponent: (
  _name: "DefaultFootnoteCall",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    text-decoration: enum('ValueSet:::OPTIONAL'),
  ),
);

$FootnoteNumber: (
  _name: "FootnoteNumber",
  _subselector: ' .footnote-number',
  _properties: (
    display: inline-block,
    margin-right: h-grid(1),
  ),
);
