$FeatureContainer:(
    _name: "FeatureContainer",
    _subselector: "", 
    _properties: (
  )
);

$TopStroke_Title:(
    _name: "TopStrokeTitle",
    _subselector: " > [data-type=title] ",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'), //title
        font-size: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        text-transform: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),  
        padding-bottom: enum('ValueSet:::REQUIRED'),
        border-bottom-width: enum('ValueSet:::REQUIRED'),//top stroke 
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),     
  )
);

$Icon:(
    _name: "Icon",
    _subselector: "> [data-type=title]::before",
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: enum('ValueSet:::REQUIRED'),
        width: enum('ValueSet:::REQUIRED'),
        display: inline-block,
        padding-right: enum('ValueSet:::OPTIONAL'),
        position: relative,
        bottom: enum('ValueSet:::OPTIONAL'),
        content: "''",
    )
);

$BottomStroke:(
    _name: "BottomStroke",
    _subselector: "::after",
    _properties: (
        border-bottom-width: enum('ValueSet:::REQUIRED'),
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),   
        content: "''",
        display: block,
        width: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
  )
);
