$Indent__Container: (
    _name: "Container",
    _subselector: " ",
    _properties:(),
);

$Indent__Paragraph: (
    _name: "Paragraph",
    _subselector: " > p",
    _properties:(
        text-indent: h-spacing(2),
        padding-left: h-spacing(-2),
    ),
);

$Indent__Section: (
    _name: "Section",
    _subselector: " > section",
    _properties:(),
);
