// Learning Objectives Components
$IndexContainerComponent: (
  _name: "Container",
  _subselector: '',
  _properties: (
    column-count: enum('ValueSet:::NULLABLE'),
    columns: enum('ValueSet:::NULLABLE'),
    column-gap: enum('ValueSet:::NULLABLE'),
  )
);

$IndexTitleBorderComponent: (
  _name: "TitleContainer",
  _subselector: ' > [data-type="document-title"]',
  _properties: (
    border-bottom-color: enum('ValueSet:::NOT_NULL'),
    border-bottom-width: enum('ValueSet:::NOT_NULL'),
    border-bottom-style: enum('ValueSet:::NOT_NULL'),
    column-span: enum('ValueSet:::NOT_NULL'),
    margin-bottom: enum('ValueSet:::NULLABLE'),
  )
);

$IndexTitleTextComponent: (
  _name: "Title",
  _subselector: '  > .os-text',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
    text-transform: enum('ValueSet:::NULLABLE'),
  )
);

$IndexGroupComponent: (
  _name: "Group",
  _subselector: ' > .group-by',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
    padding-bottom: enum('ValueSet:::NULLABLE'),
  )
);

$IndexGroupLabelComponent: (
  _name: "GroupLabel",
  _subselector: ' > .group-label',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
  )
);

$IndexTermContainerComponent: (
  _name: "TermContainer",
  _subselector: ' > .os-index-item',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
  )
);

$IndexTermComponent: (
  _name: "TermText",
  _subselector: ' > .os-term',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
    padding-right: enum('ValueSet:::NULLABLE'),
  )
);

$IndexPageNumberComponent: (
  _name: "PageNumber",
  _subselector: ' > .os-term-section-link',
  _properties: (
    content: enum('ValueSet:::NULLABLE'),
    text-decoration: enum('ValueSet:::NULLABLE'),
    pointer-events: enum('ValueSet:::NULLABLE'),
    color: enum('ValueSet:::NULLABLE'),
  )
);