@import 'index-components';
@import 'titles-components';

@include create_shape('carnival:::IndexShape', (
  _components: (
    map-merge($Index__Container, (
      _components: (
        map-merge($Index__Group, (
          _components: (
            $Index__Group__Label,
            map-merge($Index__Term__Container, (
              _components: (
                $Index__Term,
                $Index__PageNumber,
              ),
            ))
          ),
        ))
      ),
    ))
  ),
));


