$Index__Container: (
  _name: "Container",
  _subselector: '',
  _properties: (
    column-count: 3,
    column-gap: h-spacing(4),
  )
);


$Index__Group: (
  _name: "Group",
  _subselector: ' > .group-by',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: normal,
    padding-bottom: column-v-spacing(1),
  )
);

$Index__Group__Label: (
  _name: "GroupLabel",
  _subselector: ' > .group-label',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(2),
    line-height: line-height(2),
    font-weight: bold,
  )
);

$Index__Term__Container: (
  _name: "TermContainer",
  _subselector: ' > .os-index-item',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
  )
);

$Index__Term: (
  _name: "TermText",
  _subselector: ' > .os-term',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    padding-right: h-spacing(1),
  )
);

$Index__PageNumber: (
  _name: "PageNumber",
  _subselector: ' > .os-term-section-link',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  )
);
