$IndexContainerComponent: (
  _name: "Container",
  _subselector: '',
  _properties: (
    column-count: 3,
    column-gap: h-spacing(4),
  )
);

$IndexTitleBorderComponent: (
  _name: "TitleContainer",
  _subselector: ' > [data-type="document-title"]',
  _properties: (
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.1rem,
    border-bottom-style: solid,
    column-span: all,
    padding-bottom: column-v-spacing(1),
    margin-bottom: column-v-spacing(1),
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(7),
    font-weight: bold,
    text-transform: uppercase,
    line-height: line-height(7),
  )
);

$IndexGroupComponent: (
  _name: "Group",
  _subselector: ' > .group-by',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: normal,
    padding-bottom: column-v-spacing(3),
  )
);

$IndexGroupLabelComponent: (
  _name: "GroupLabel",
  _subselector: ' > .group-label',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(2),
    line-height: line-height(2),
    font-weight: bold,
  )
);

$IndexTermContainerComponent: (
  _name: "TermContainer",
  _subselector: ' > .os-index-item',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
  )
);

$IndexTermComponent: (
  _name: "TermText",
  _subselector: ' > .os-term',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    padding-right: h-spacing(1),
  )
);

$IndexPageNumberComponent: (
  _name: "PageNumber",
  _subselector: ' > .os-term-section-link',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  )
);
