$Objectives__Container: empty_wrapper(Container, '');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin-bottom: 0,
  )
);

$Objectives__List__Item: (
  _name: 'ListItem',
  _subselector: ' > li',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    // padding: 0 set for ChapterObjectives - removing this property doesn't change the styling
  )
);

$Objectives__List__Dot: (
  _name: 'ListDot',
  _subselector: '::marker',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Objectives__NoteBody: empty_wrapper(NoteBody, ' .os-note-body');

$H3--Objectives: (
  _name: "H3ObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    font-weight: bold,
    margin-bottom: 0, // Needed for Learning Objectives title in College Physics (doesn't change the styling anywhere else)
  )
);
