$LearningObjectiveTitleComponent: (
  _name: "Title",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-style: italic,
  )
);

$LearningObjectiveListComponent: (
  _name: 'List',
  _subselector: '> ul',
  _properties: (
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    margin-left: enum('ValueSet:::OPTIONAL'),
    padding-left: enum('ValueSet:::OPTIONAL'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-style: normal,
  )
);

$LearningObjectiveListItemComponent: (
  _name: 'ListItem',
  _subselector: '> li',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    padding: enum('ValueSet:::OPTIONAL'),
  )
);

$LearningObjectiveListDotComponent: (
  _name: 'ListDot',
  _subselector: '::marker',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);
