$LearningObjectiveAbstractTitleComponent: (
  _name: "AbstractTitle",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-style: italic,
  )
);

$LearningObjectiveTitleComponent: (
  _name: "Title",
  _subselector: '> h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-style: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectiveNoteBodyComponent: (
  _name: 'NoteBody',
  _subselector: ' .os-note-body',
  _properties: ()
);

$LearningObjectiveListComponent: (
  _name: 'List',
  _subselector: '> ul',
  _properties: (
    margin-left: h-spacing(2),
    padding-left: 0,
    font-size: font-scale(0),
    line-height: line-height(0),
    font-style: normal,
  )
);

$LearningObjectiveListItemComponent: (
  _name: 'ListItem',
  _subselector: '> li',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    padding: 0,
  )
);

$LearningObjectiveListDotComponent: (
  _name: 'ListDot',
  _subselector: '::marker',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectiveParagraphComponent: (
  _name: "LearningObjectiveParagraph",
  _subselector: '> p',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-style: italic,
    margin-bottom: 0,
  )
);
