$LearningObjectives__Container: empty_wrapper(Container, '');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-style: italic,
    margin-bottom: 0,
  )
);

$LearningObjectives__List_Item: (
  _name: 'ListItem',
  _subselector: ' > li',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
  )
);

$LearningObjectives__List_Dot: (
  _name: 'ListDot',
  _subselector: '::marker',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__NoteBody: empty_wrapper(Body, ' .os-note-body');
