$LinkToLearningContainer: (
  _name: "Container",
  _subselector: "",
  _properties: (
    margin-bottom: enum('ValueSet:::REQUIRED'),
  )
  );
$LinkToLearningTitleComponent: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    display: flex,
    flex-direction: row,
    align-items: flex-end,
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-weight: bold,
  )
);

$LinkToLearningTitleTextComponent: (
  _name: "TitleText",
  _subselector: ' > .os-title-label',
  _properties: (
    display: inline-block,
    max-width: enum('ValueSet:::OPTIONAL'),
    word-wrap: normal,
    text-transform: uppercase,
    max-height: enum('ValueSet:::OPTIONAL'),
  )
);

$LinkToLearningBodyComponent: (
  _name: "Body",
  _subselector: " > .os-note-body",
  _properties: (
    color: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: normal,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: enum('ValueSet:::REQUIRED'),
    border-bottom-style: solid,
  )
);

$LinkToLearningEndTextComponent: (
  _name: "EndText",
  _subselector: " > p:last-child",
  _properties: (
    margin-bottom: half-v-grid(1),
  )
);

$LinkToLearningTitleIconComponent: (
  _name: "Icon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::OPTIONAL'),
    background-size: contain,
    height: enum('ValueSet:::REQUIRED'),
    width: enum('ValueSet:::REQUIRED'),
    display: inline-block,
    padding-right: enum('ValueSet:::OPTIONAL'),
    position: relative,
    content: "''",
  )
);