$Link--TargetLabel: (
  _name: "TargetLabelLink",
  _subselector: '',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
  )
);

$Link--NonUppercase: (
  _name: "NonUppercaseLink",
  _subselector: '',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
  )
);
