// Learning Objectives Components
$LinkToLearningTitleComponent: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    margin-bottom: enum('ValueSet:::NULLABLE'),
  )
);

$LinkToLearningBodyComponent: (
  _name: "Body",
  _subselector: " > .os-note-body",
  _properties: (
    color: enum('ValueSet:::NULLABLE'),
    font-family: enum('ValueSet:::NULLABLE'),
    font-size: enum('ValueSet:::NULLABLE'),
    font-weight: enum('ValueSet:::NULLABLE'),
    border-bottom-color: enum('ValueSet:::NOT_NULL'),
    border-bottom-width: enum('ValueSet:::NOT_NULL'),
    border-bottom-style: enum('ValueSet:::NOT_NULL'),
  )
);

$LinkToLearningTextComponent: (
  _name: "Text",
  _subselector: " > p",
  _properties: (
    margin-top: enum('ValueSet:::NULLABLE'),
  )
);

$LinkToLearningTitleIconComponent: (
  _name: "Icon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::NULLABLE'),
    background-size: enum('ValueSet:::NOT_NULL'),
    height: enum('ValueSet:::NOT_NULL'),
    width: enum('ValueSet:::NOT_NULL'),
    display: enum('ValueSet:::NULLABLE'),
    padding-right: enum('ValueSet:::NULLABLE'),
    position: enum('ValueSet:::NOT_NULL'),
    content: enum('ValueSet:::NOT_NULL'),
  )
);