@function list--marginLeft($element_type, $sub_selector,) {
    $name: null;
    $margin_left_value: null;

    @if $element_type == main {
        $name: "ListMarginLeft";
        $margin_left_value: h-spacing(3);
    } @else if $element_type == nested {
        $name: "ListNestedMarginLeft";
        $margin_left_value: h-spacing(2);
    }

    @return (
        _name: "#{$name}",
        _subselector: "#{$sub_selector}",
        _properties:(
            margin-left: $margin_left_value,
        )
    );

}

@function list--marginLeftBottom($element_type, $sub_selector,) {
    $name: null;
    $margin_left_value: null;
    $margin_bottom_value: null;

    @if $element_type == main {
        $name: "ListMarginLeftBottom";
        $margin_left_value: h-spacing(3);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == nested {
        $name: "ListNestedMarginLeftBottom";
        $margin_left_value: h-spacing(2);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == margin-left-increased {
        $name: "ListMarginLeftBottomIncreased";
        $margin_left_value: h-spacing(4);
        $margin_bottom_value: v-spacing(1);
    } @else if $element_type == margin-bottom-removed {
        $name: "AnswerKeyListMarginBottomLeft";
        $margin_left_value: h-spacing(3);
        $margin_bottom_value: 0;

    }

    @return (
        _name: "#{$name}",
        _subselector: "#{$sub_selector}",
        _properties:(
            margin-left: $margin_left_value,
            margin-bottom: $margin_bottom_value,
        )
    );

}

// General, Prefece, Modules, Summary, Appendices, Summary, Learning Objectives

$UnorderedList--MarginLeft: list--marginLeft(main, " > ul");
$OrderedList--MarginLeft: list--marginLeft(main, " > ol");
$Section__UnorderedList--MarginLeft: list--marginLeft(main, " > section > ul");
$Section__OrderedList--MarginLeft: list--marginLeft(main, " > section > ol");
$SubSection__UnorderedList--MarginLeft: list--marginLeft(main, " > section > section > ul");
$SubSection__OrderedList--MarginLeft: list--marginLeft(main, " > section > section > ol");
$SubSubSection__OrderedList--MarginLeft: list--marginLeft(main, " > section > section > section > ol");
$SubSubSection__UnorderedList--MarginLeft: list--marginLeft(main, " > section > section > section > ul");
$UnorderedList--Nested--MarginLeft: list--marginLeft(nested, " > li > ul");
$OrderedList--Nested--MarginLeft: list--marginLeft(nested, " > li > ol");
$Summary__Section__UnorderedList--MarginLeft: list--marginLeft(main, " section > ul");
$Summary__Section__OrderedList--MarginLeft: list--marginLeft(main, " section > ol");
$SubSection__Container__UnorderedList--MarginLeftBottom: list--marginLeft(main, " > section > section > div > ul");  //added as a temporary solution for polish University Physics, before we start working on lists cleaning

// Exercices notes need to have bottom margin under lists

//Exercises

$OrderedList--MarginLeftBottom: list--marginLeftBottom(main, " > ol");
$UnorderedList--MarginLeftBottom: list--marginLeftBottom(main, " > ul");
$Section__UnorderedList--MarginLeftBottom: list--marginLeftBottom(margin-left-increased, " section > ul");
$Section__OrderedList--MarginLeftBottom: list--marginLeftBottom(margin-left-increased, " section > ol");
$Container__OrderedList--MarginLeftBottom: list--marginLeftBottom(main, " > div > ol");
$Container__UnorderedList--MarginLeftBottom: list--marginLeftBottom(main, " > div > ul");
$OrderedList--Nested--MarginLeftBottom: list--marginLeftBottom(nested, " > li > ol");

// Notes, Chapter Intro in polish University Physics vol2

$Note__UnorderedList--MarginLeftBottom:list--marginLeftBottom(main, " ul");
$Note__OrderedList--MarginLeftBottom: list--marginLeftBottom(main, " ol");

//AnswerKey

$AnswerKey__OrderedList--MarginBottomLeft: list--marginLeftBottom(margin-bottom-removed, " > ol");
$AnswerKey__UnorderedList--MarginBottomLeft: list--marginLeftBottom(margin-bottom-removed, " > ul" );

//Tables
$List--Unstyled: (
    _name: "ListUnstyled",
    _subselector: " > ul[data-bullet-style='none']",
    _properties: (
        list-style-type: none,
    )
);
// Lists in table cells need to have margin set withs table spacing functions - this component will be removed after list cleaning. There has been Table Lists Shape created below.
$Table__UnorderedList--MarginLeft: (
    _name: "TableUnorderedListMarginLeft",
    _subselector: " > ul",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);

//--------------------------------------------------------------------------------------------------------------------
//Lists in Carnival should be clean up. Since this theme was the first one, we weren't sure what would be the best way
//to implement styles for lists. In next themes we dicided to create separate shapes for lists, not to add lists components
//to shapes of other elements.
//
//Below there are list components for new way of styling.

// Containers
$ListContainer: empty_wrapper(Container, '');

// Basic Lists
$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

// Chapter Outline Lists
$ChapterOutline__List: (
    _name: "OutlineList",
    _subselector: ' > ul',
    _properties: (
        margin-bottom: v-spacing(1),
    )
);

$ChapterObjectives__List__Item: (
    _name: "ObjectivesListItem",
    _subselector: ' > li',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        padding: 0,
    )
);

$ChapterObjectives__List__Dot: (
    _name: "ObjectivesListDot",
    _subselector: '::marker',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
    )
);

//Titled lists
$TitledLists__Container: empty_wrapper(TitledListsContainer, ' > [data-type="list"]');

$TitledLists__Title: (
    _name: "TitledListsTitle",
    _subselector: ' > [data-type="title"]',
    _properties:(
        font-weight: bold,
    )
);

// Tables lists
// Lists in table cells need to have margin set withs table spacing functions

$UnorderedList--FirstLevel--Table: (
    _name: "TableFirstLevelUnorderedList",
    _subselector: " > ul",
    _properties: (
        margin-left: table-v-spacing(2),
    )
);
$UnorderedList--SecondLevel--Table: (
    _name: "TableSecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);

$OrderedList--FirstLevel--Table: (
    _name: "TableFirstLevelOrderedList",
    _subselector: " > ol",
    _properties: (
        margin-left: table-v-spacing(2),
    )
);
$OrderedList--SecondLevel--Table: (
    _name: "TableSecondLevelOrderedList",
    _subselector: " > li > ol",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);

// Appendix

$Appendix--Glossary__UnorderedList: (
  _name: "AppendixGlossaryList", 
  _subselector: " > ul", 
  _properties: (
    list-style-type: none,
    font-size: font-scale(-1),
  )
);

