@import 'lists-components';
@import 'wrappers-components';

@include create_shape('carnival:::PageListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                $UnorderedList--FirstLevel,
                $OrderedList--FirstLevel,
                map-merge($TitledLists__Container,(
                    _components: (
                        $TitledLists__Title,
                        $List--Unstyled,
                    )
                )),
                map-merge($SectionWrapper--FirstLevel,(
                    _components: (
                        $OrderedList--FirstLevel,
                        $UnorderedList--FirstLevel,
                    )
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                    )
                )),
                map-merge($DivWrapper--SecondLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                    )
                )),
            )
        )),
    )
));
