// Containers
$ListContainer: empty_wrapper(Container, '');

// Basic Lists
$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel--MarginBottom: ( // only needed in Introduction page in pl-u-physics
    _name: "FirstLevelOrderedListMarginBottom",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
        margin-bottom: v-spacing(1),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$UnorderedList--ThirdLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--ThirdLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol > li > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

// Tables lists
// Lists in table cells need to have margin set withs table spacing functions
$UnorderedList--FirstLevel--Table: (
    _name: "TableFirstLevelUnorderedList",
    _subselector: " > ul",
    _properties: (
        margin-left: table-v-spacing(2),
    )
);
$UnorderedList--SecondLevel--Table: (
    _name: "TableSecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);

$OrderedList--FirstLevel--Table: (
    _name: "TableFirstLevelOrderedList",
    _subselector: " > ol",
    _properties: (
        margin-left: table-v-spacing(2),
    )
);
$OrderedList--SecondLevel--Table: (
    _name: "TableSecondLevelOrderedList",
    _subselector: " > li > ol",
    _properties: (
        margin-left: table-v-spacing(1),
    )
);

// Appendix
$UnorderedList--AppendixGlossary: (
  _name: "AppendixGlossaryUnorderedList",
  _subselector: " > ul",
  _properties: (
    font-size: font-scale(-1),
    list-style-type: none,
  ),
);

$UnorderedList__Item--AppendixGlossary: (
  _name: "AppendixGlossaryUnorderedListItem",
  _subselector: " > li",
  _properties: (
    text-indent: -5px, // creates a hanging indent
    padding-left: 5px,
  )
);
