$ModuleContainerComponent: (
    _name:"Container",
    _subselector:'',
    _properties: (

    )
);

$ModuleTitleComponent: (
    _name:"Title",
    _subselector: ' [data-type="document-title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(4),
        line-height: line-height(4),
        font-weight: bold,
    )
);

$ModuleSubtitleComponent: (
    _name: "Subtitle",
    _subselector: '> section > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
        line-height: line-height(3),
        font-weight: bold,
    )
);

$ModuleSubSubtitleComponent: (
    _name: "SubSubtitle",
    _subselector: ' > section > section > h4',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(2),
        line-height: line-height(2),
    )
);
$ModuleUnorderedListComponent: (
    _name:"UnorderedSectionList",
    _subselector:' :not([data-type="footnote-refs"]) ul',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleOrderedListComponent: (
    _name:"OrderedSectionList",
    _subselector:' ol',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleUnorderedSectionListComponent: (
    _name:"UnorderedSectionList",
    _subselector:' > section > ul',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleOrderedSectionListComponent: (
    _name:"OrderedSectionList",
    _subselector:' > section > ol',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleUnorderedSubSectionListComponent: (
    _name:"UnorderedSubSectionList",
    _subselector:' > section > section > ul',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleOrderedSubSectionListComponent: (
    _name:"OrderedSubSectionList",
    _subselector:' > section > section > ol',
    _properties: (
        margin-left: h-grid(3),
    )
);

$ModuleNestedUnorderedListComponent: (
    _name:"UnorderedNestedList",
    _subselector:' > ul',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleNestedOrderedListComponent: (
    _name:"OrderedNestedList",
    _subselector:' > ol',
    _properties: (
        margin-left: h-grid(3),
    )
);
$ModuleParagraphTitleComponent: (
    _name:"ParagraphTitle",
    _subselector:' span[data-type="title"]',
    _properties: (
        margin-right: h-grid(1),
    )
);

$ModuleTitleOverFigure: (
    _name: "TitleOverFigure",
    _subselector: ' h4 + div.os-figure > figure',
    _properties:(
        padding-top: v-grid(1),
    )
);
