$ModuleContainerComponent: empty_wrapper(Container, '');

$ModuleParagraphTitleComponent: (
    _name:"ParagraphTitle",
    _subselector:' span[data-type="title"]',
    _properties: (
        margin-right: h-spacing(1),
    )
);

$ModuleTitleOverFigure: (
    _name: "TitleOverFigure",
    _subselector: ' h4 + div.os-figure > figure',
    _properties:(
        padding-top: v-spacing(1),
    )
);
