@import 'module-components';

@include create_shape('carnival:::ModuleShape', (
  _components: (
    map-merge($ModuleContainerComponent, (
      _components: (
        $ModuleTitleComponent,
        $ModuleUnorderedListComponent,
        $ModuleOrderedListComponent,
        $ModuleSubtitleComponent,
        $ModuleParagraphTitleComponent,
        map-merge($ModuleUnorderedSectionListComponent, (
          _components: (
            $ModuleNestedUnorderedListComponent,
            $ModuleNestedOrderedListComponent
          ),
        )),
        map-merge($ModuleOrderedSectionListComponent, (
          _components: (
            $ModuleNestedUnorderedListComponent,
            $ModuleNestedOrderedListComponent
          ),
        )),
        $ModuleSubSubtitleComponent,
        $ModuleUnorderedSubSectionListComponent,
        $ModuleOrderedSubSectionListComponent,
        $ModuleTitleOverFigure,
      ),
    ))
  ),
));
