$Objectives__Container: empty_wrapper(Container, '');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin-bottom: 0,
    font-family: enum('ValueSet:::OPTIONAL'), // needed for chapter objectives in anatomy
  )
);

$Objectives__NoteBody: empty_wrapper(NoteBody, ' .os-note-body');

// Chapter Outline

$ChapterOutline__Container: (
    _name: "ChapterOutlineContainer",
    _subselector: '',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: (enum('ValueSet:::OPTIONAL'), 500),
        font-size: (enum('ValueSet:::OPTIONAL'), font-scale(0)),
        line-height: line-height(0),
        width: 6.5in, // Width of the page minus margins
        margin: "0 0 1.5rem 0",
        padding-bottom: 0.5rem,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        border-bottom-width: 0.2rem ,
        border-bottom-style: solid,
        box-decoration-break: slice,
    )
);

$ChapterObjective__Container: empty_wrapper(OutlineObjective, ' > div.os-chapter-objective');

$ChapterObjective__Link: (
    _name: "ChapterObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        margin-bottom: 0rem,
        text-decoration: none,
    )
);

// Chapter Outline Margin

$ChapterOutline__IntroBody--Margin: (
    _name: "ChapterOutlineIntroBodyMargin",
    _subselector: '',
    _properties: (
        display: flex,
        flex-direction: row-reverse,
        justify-content: space-between,
        position: relative,
        right: -2in,
        margin-left: -2in,
    )
);

$ChapterOutline__Container--Margin: (
    _name: "ChapterOutlineContainerMargin",
    _subselector: ' > .os-chapter-outline',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        font-weight: 500,
        line-height: line-height(0),
        width: half-fullBleedsSize(2, in),
        background-color: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        margin: enum('ValueSet:::REQUIRED'),
        padding: "1.5rem 0 1.5rem 1.5rem",
    )
);

$ChapterObjective__Link--Margin: (
    _name: "ChapterObjectiveLinkMargin",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: flex,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
    )
);

$ChapterObjective__Text--Margin: (
    _name: "ChapterObjectiveTextMargin",
    _subselector: ' > .os-text',
    _properties: (
        margin-left: .5rem,
        display: inline-block,
    )
);

$ChapterObjective__Container--Margin: (
    _name: "ChapterObjectiveContainerMargin",
    _subselector: ' > div.os-chapter-objective',
    _properties: (
        margin-bottom: .5rem,
        padding-right: enum('ValueSet:::REQUIRED'),
    )
);
