$PrefaceContainer:(
    _name:"PrefaceContainer",
    _subselector:"",
    _properties:(
    )
);

$PrefaceHeader:(
    _name:"Header",
    _subselector: "> h1",
    _properties:(
        font-family: enum('ValueSet:::NOT_NULL'),
        font-weight: enum('ValueSet:::NOT_NULL'),
        text-transform: enum('ValueSet:::NOT_NULL'),
        font-size: enum('ValueSet:::NOT_NULL'),
        padding-bottom: enum('ValueSet:::NOT_NULL'),
        border-bottom: enum('ValueSet:::NOT_NULL'),
        margin-bottom: enum('ValueSet:::NOT_NULL'),
    )
);
