$PrefaceContainer:(
    _name:"PrefaceContainer",
    _subselector:"",
    _properties:(
    )
);

// $PrefaceHeader:(
//     _name:"Header",
//     _subselector: "> h1",
//     _properties:(
//         color: enum('ValueSet:::REQUIRED'),
//         font-family: enum('ValueSet:::REQUIRED'),
//         font-weight: bold,
//         text-transform: uppercase,
//         font-size: font-scale(7),
//         line-height: line-height(5),
//         padding-bottom: v-spacing(1),
//         border-bottom-color: enum('ValueSet:::REQUIRED'),
//         border-bottom-width: 0.1rem,
//         border-bottom-style: solid,
//         margin-bottom: v-spacing(2),
//     )
// );

// $PrefaceH3:(
//     _name:"BodyH3",
//     _subselector: " > section > h3",
//     _properties:(
//         font-family: enum('ValueSet:::REQUIRED'),
//         font-weight: bold,
//         font-size: font-scale(3),
//         line-height: line-height(3),
//         color: enum('ValueSet:::REQUIRED'),
//     )
// );

// $PrefaceH4:(
//     _name:"BodyH4",
//     _subselector: " > section > section > h4",
//     _properties:(
//         font-family: enum('ValueSet:::REQUIRED'),
//         font-weight: bold,
//         font-size: font-scale(2),
//         line-height: line-height(2),
//         color: enum('ValueSet:::REQUIRED'),
//     )
// );

// $PrefaceH5: (
//     _name:"BodyH5",
//     _subselector: " > section > section > section > h5",
//     _properties:(
//         font-family: enum('ValueSet:::REQUIRED'),
//         font-weight: bold,
//         font-size: font-scale(1),
//         line-height: line-height(1),
//         color: enum('ValueSet:::REQUIRED'),
//     )
// );
$PrefaceUnorderedList: (
    _name: "UnorderedList",
    _subselector: " > ul",
    _properties: (
    margin-left: h-spacing(3),
  )
);
$PrefaceUnorderedSectionList: (
    _name: "UnorderedSectionList",
    _subselector: " section > ul",
    _properties: (
    margin-left: h-spacing(3),
  )
);
$PrefaceOrderedSectionList: (
    _name: "OrderedSectionList",
    _subselector: " section > ol",
    _properties: (
    margin-left: h-spacing(3),
  )
);

$PrefaceUnorderedNestedList: (
    _name: "UnorderedNestedList",
    _subselector: " > li > ul",
    _properties: (
    margin-left: h-spacing(3),
  )
);