$References__Container: empty_wrapper(Container, '');


$References__Section: empty_wrapper(Section, ' .references');

$References__Text: (
  _name: "Text",
  _subselector: ' > p',
  _properties: (
    text-indent: h-spacing(-3),
    padding-left: h-spacing(3),
  )
);
