$References__Container: empty_wrapper(Container, '');


$References__Section: (
  _name: "Section",
  _subselector: ' .references',
  _properties: (
    font-size: font-scale(1),
    line-height: line-height(1),
  )
);

$References__Text: (
  _name: "Text",
  _subselector: ' > p',
  _properties: (
    text-indent: h-spacing(-3),
    padding-left: h-spacing(3),
  )
);
