$TableContainer: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        margin-bottom: enum('ValueSet:::REQUIRED'),
    )
);

$Table: (
    _name: "Table",
    _subselector: " > table:not(.unstyled)",
    _properties: (
        border-collapse: collapse,
    )
);
$ColumnHeaderTable: (
    _name: "ColumnHeaderTable",
    _subselector: " > table.column-header",
    _properties: (
        border-collapse: collapse,
    )
);
$TopTitledTable: (
    _name: "TopTitledTable",
    _subselector: " > table.top-titled:not(.unstyled)",
    _properties: (
        border-collapse: collapse,
    )
);

$UnnumberedUnstyledTable: (
    _name: "UnnumberedUnstyledTable",
    _subselector: " > .unnumbered.unstyled",
    _properties: ()
);

$TableHead: (
    _name: "TableHead",
    _subselector: " > thead",
    _properties: ()
);

$TableHeadTitle: (
    _name: "TableHeadTitle",
    _subselector: " > tr:first-of-type",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$TableHeadCell: (
    _name: "TableHeadCell",
    _subselector: " > th",
    _properties: (
        border-bottom: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-weight: enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::REQUIRED'),
    )
);

$TableBody: (
    _name: "TableBody",
    _subselector: " > tbody",
    _properties: ()
);

$TableRow: (
    _name: "TableRow",
    _subselector: " > tr",
    _properties: ()
);

$TableData: (
    _name: "TableData",
    _subselector: " > td",
    _properties: (
        border-bottom: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        border-left: enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::REQUIRED'),
    )
);

$FirstTableData: (
    _name: "FirstTableData",
    _subselector: " > td:first-of-type",
    _properties: (
        border-left: none,
        border-right: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-weight: enum('ValueSet:::OPTIONAL'),
    )
);
$FirstTableRow: (
    _name: "FirstTableRow",
    _subselector: " > tr:first-of-type",
    _properties: (
        border-top-color: enum('ValueSet:::OPTIONAL'),
        border-top-width: enum('ValueSet:::OPTIONAL'),
        border-top-style: enum('ValueSet:::OPTIONAL'),
    )
);

$LastTableRow: (
    _name: "LastTableRow",
    _subselector: " > tr:last-of-type",
    _properties: (
        border-bottom-color: enum('ValueSet:::OPTIONAL'),
        border-bottom: enum('ValueSet:::OPTIONAL'),
    )
);
$LastTableRowData: (
    _name: "LastTableRowData",
    _subselector: " > tr:last-of-type > td",
    _properties: (
        border-bottom-color: enum('ValueSet:::OPTIONAL'),
        border-bottom-width: enum('ValueSet:::OPTIONAL'),
        border-bottom-style: enum('ValueSet:::OPTIONAL'),
    )
);

$CaptionContainer: (
    _name: "CaptionContainer",
    _subselector: " .os-caption-container",
    _properties: ()
);

$CaptionTitle: (
    _name: "CaptionTitle",
    _subselector: " > .os-title-label",
    _properties: (
        font-weight: enum('ValueSet:::OPTIONAL'),
    )
);

$TableNumber: (
    _name: "TableNumber",
    _subselector: " > .os-number",
    _properties: (
        font-weight: enum('ValueSet:::OPTIONAL'),
    )
);
