$TableContainer: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        
    )
);

$TopTitledTable: (
    _name: "TopTitledTable",
    _subselector: " > table.top-titled",
    _properties: (
        border: enum('ValueSet:::OPTIONAL'),
        border-collapse: enum('ValueSet:::OPTIONAL'),
        border-left: enum('ValueSet:::OPTIONAL'),
    )
);

$TableHead: (
    _name: "TableHead",
    _subselector: " > thead",
    _properties: (

    )
);

$TableHeadCell: (
    _name: "TableHeadCell",
    _subselector: " > th",
    _properties: (
        border-top: enum('ValueSet:::OPTIONAL'),
        border-bottom: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-weight: enum('ValueSet:::OPTIONAL'),
    )
);

$TableBody: (
    _name: "TableBody",
    _subselector: " > tbody",
    _properties: (
        
    )
);

$TableRow: (
    _name: "TableRow",
    _subselector: " > tr",
    _properties: (

    )
);

$TableData: (
    _name: "TableData",
    _subselector: " > td",
    _properties: (
        border-bottom: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        border-left: enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::OPTIONAL'),
    )
);

$TableDataFirstChild: (
    _name: "TableDataFirstChild",
    _subselector: " > td:first-of-type",
    _properties: (
        border-left: enum('ValueSet:::OPTIONAL'),
    )
);

$CaptionContainer: (
    _name: "CaptionContainer",
    _subselector: "",
    _properties: (
        
    )
);

$CaptionTitle: (
    _name: "",
    _subselector: "",
    _properties: (
        
    )
);

$TableNumber: (
    _name: "",
    _subselector: "",
    _properties: (
        
    )
);

$CaptionText: (
    _name: "",
    _subselector: "",
    _properties: (
        
    )
);