@import '_table-components';

@include create_shape('carnival:::BasicTableShape',  (
    _components: (
        map-merge($TableContainer, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($TableHead, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableHeadCell,
                                    )
                                )),
                            )
                        )),
                        map-merge($TableBody, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                      map-merge($TableData, (
                                        _components: (
                                            $TableDataList,
                                            $TableDataUnstyledList
                                        )
                                      )),
                                      $FirstTableData,
                                      // Added as part of the fix for cnx-recipes#1827
                                      $TableBottomBorderData,
                                    )
                                )),
                                $LastTableMergedCellsRowData,
                            )
                        )),
                    )
                )),
                map-merge($CaptionContainer, (
                    _components: (
                        $CaptionTitle,
                        $TableNumber,
                    )
                )),    
            )
        )),
    )
)); 

@include create_shape('carnival:::ColumnHeaderTableShape',  (
    _components: (
        map-merge($TableContainer, (
            _components: (
                map-merge($ColumnHeaderTable, (
                    _components: (
                        map-merge($TableBody, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableData,
                                        $FirstTableData,
                                    )
                                )),
                                $FirstTableRow,
                                $LastTableRowData,
                            )
                        )),
                    )
                )),
            )
        )),
    )
)); 

@include create_shape('carnival:::FakeTitleTableShape', (
    _components: (
        map-merge($TableContainer, (
            _components: (
                $TableTitle,
                map-merge($FakeTitleTable, (
                    _components: (
                        map-merge($TableHead, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableHeadCell,
                                    )
                                )),
                            )
                        )),
                        map-merge($TableBody, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableData,
                                        $FirstTableData,
                                    )
                                )),
                                $LastTableRowData,
                            )
                        )),
                    )
                )),
                map-merge($CaptionContainer, (
                    _components: (
                        $CaptionTitle,
                        $TableNumber,
                    )
                )), 
            )
        )),
    )
));

@include create_shape('carnival:::UnnumberedUnstyledTable', (
    _components: (
        map-merge($TableContainer, (
            _components: (
                map-merge($UnnumberedUnstyledTable, (
                    _components: (
                        map-merge($TableHead, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableHeadCell,
                                    )
                                )),
                            )
                        )),
                        map-merge($TableBody, (
                            _components: (
                                map-merge($TableRow, (
                                    _components: (
                                        $TableData,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
