//Supported titles: h1 > h5


//h1 titles without numbers (pages like preface)
$H1Component:(
    _name:"H1Title",
    _subselector: "> h1",
    _properties:(
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        text-transform: enum('ValueSet:::REQUIRED'),
        column-span: all,
        font-size: font-scale(7),
        line-height: line-height(6),
        padding-bottom: v-spacing(1),
        border-bottom-color: enum('ValueSet:::OPTIONAL'),
        border-bottom-width: enum('ValueSet:::OPTIONAL'),
        border-bottom-style: enum('ValueSet:::OPTIONAL'),
        margin-bottom: v-spacing(2),
    )
);


//h1 numbered (appendix)
$TitleContainer: empty_wrapper(TitleContainer, ' > [data-type="document-title"]');

$TitleNumberComponent: (
  _name: "TitleNumber",
  _subselector: '> .os-number',
  _properties: (
    display: block,
    padding-bottom: enum('ValueSet:::OPTIONAL'),
    margin-bottom: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::OPTIONAL'),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.1rem,
    border-bottom-style: solid,
    font-weight: bold,
    text-transform: uppercase,
  )
);

$TitleDividerComponent: (
  _name: "TitleDivider",
  _subselector: '> .os-divider',
  _properties: (
    display: none,
  )
);

$TitleTextComponent: (
  _name: "TitleText",
  _subselector: '> .os-text',
  _properties: (
    color: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::OPTIONAL'),
    font-weight: normal,
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
  )
);


//h2 titles (module titles, EOC)
$H2Component: (
    _name:"H2Title",
    _subselector: ' h2[data-type="document-title"], h2[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
        line-height: line-height(3),
        margin-bottom: v-spacing(1),
        font-weight: bold,
        column-span: enum('ValueSet:::OPTIONAL'), // eoc
        text-transform: enum('ValueSet:::OPTIONAL'), //eoc
    )
);


//h3 titles
$H3Component: (
    _name: "H3Title",
    _subselector: '> section > h3[data-type="title"], [data-type="composite-page"] h3[data-type="title"], section > section > h3[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: bold,
        column-span: enum('ValueSet:::OPTIONAL'), // eoc
        overflow: enum('ValueSet:::OPTIONAL'), // used for EOC titles in pl-u-physics
    )
);

// This component is used only in pl-u-physics for EOC titles. That's why all properties are OPTIONAL.
$H3ComponentBottomBorder: (
    _name: "H3TitleBottomBorder",
    _subselector: '::after',
    _properties: (
      content: enum('ValueSet:::OPTIONAL'),
      width: enum('ValueSet:::OPTIONAL'),
      height: enum('ValueSet:::OPTIONAL'),
      border-bottom-width: enum('ValueSet:::OPTIONAL'),
      border-bottom-color: enum('ValueSet:::OPTIONAL'),
      border-bottom-style: enum('ValueSet:::OPTIONAL'),
      display: enum('ValueSet:::OPTIONAL'),
      position: enum('ValueSet:::OPTIONAL'),
      bottom: enum('ValueSet:::OPTIONAL'),
      margin-right: enum('ValueSet:::OPTIONAL'),
      margin-left: enum('ValueSet:::OPTIONAL'),
    )
);

$H3LinkComponent:(
    _name: "H3LinkTitle",
    _subselector: " > section > a > h3[data-type="document-title"]",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H3ListComponent:(
    _name: "H3ListTitle",
    _subselector: " [data-type="list"] > h3[data-type="title"]",
    _properties:(
      color: enum('ValueSet:::REQUIRED'),
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: font-scale(0),
      line-height: line-height(0),
      font-weight: bold,
    )
);


//h4 titles
$H4Component: (
    _name: "H4Title",
    _subselector: ' > section > section > h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(1),
        line-height: line-height(1),
    )
);

$H4LinkComponent:(
    _name: "H4LinkTitle",
    _subselector: " > section > a > h4[data-type="document-title"], .os-section-area > section > a > h3[data-type="document-title"]", //the second "h4" is the cluster title in composite pages, it needs to be fixed in recipes
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);


//h5 titles
//todo, add this level to all books modules
$H5Component: (
    _name: "H5Title",
    _subselector: ' > section > section > section > h5[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);
