//-------------------------------------------------------------------------------------------
//ToDo: delete this component when ChapterModuleTitlesShape be removed
$Module__Container: empty_wrapper(Module, ' > [data-type="page"]:not(.introduction)');

//-------------------------------------------------------------------------------------------

//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');
$Eob__Container: empty_wrapper(EobContainer, '');
$Appendix__Container: empty_wrapper(AppendixContainer, '.appendix');
$Chapter__Container: empty_wrapper(ChapterContainer, '');
$Chapter--Composite__Container: empty_wrapper(CompositeChapterContainer, '');

$Preface__Container:(
  _name:"PrefaceContainer",
  _subselector: ".preface",
  _properties:(
    column-count: 2,
    column-gap: 2.4rem,
    column-width: auto,
  )
);

// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    text-transform: uppercase,
    column-span: all,
    font-size: font-scale(6),
    line-height: line-height(6),
    padding-bottom: v-spacing(3),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.1rem,
    border-bottom-style: solid,
    margin-bottom: v-spacing(3),
  )
);

$H1--Chapter: (
  _name:"H1Chapter",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(4),
    line-height: line-height(4),
    font-weight: 400,
    text-transform: uppercase,
    margin-bottom: v-spacing(1),
  )
);

$H1--Chapter__Text: (
  _name:"H1ChapterText",
  _subselector: ' > .os-text',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(6),
    line-height: line-height(6),
    font-weight: 300,
    text-transform: none,
    display: block,
  )
);

$H1--Appendix: (
  _name:"H1Appendix",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(6),
    line-height: line-height(6),
    font-weight: bold,
    text-transform: uppercase,
    margin-bottom: v-spacing(3),
  )
);

$H1--Appendix__Text: (
  _name:"H1AppendixText",
  _subselector: ' > .os-text',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    padding-top: v-spacing(3),
    margin-top: v-spacing(3),
    font-weight: 600,
    text-transform: none,
    border-top-color: enum('ValueSet:::REQUIRED'),
    border-top-style: solid,
    border-top-width: 0.1rem,
    display: block,
  )
);

// H2 headers
$H2: (
  _name:"H2Title",
  _subselector: ' > h2',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(2),
    line-height: line-height(2),
    margin-bottom: v-spacing(1),
    font-weight: 600,
    column-span: enum('ValueSet:::OPTIONAL'), // eoc
  )
);

// H3 titles
$H3: (
  _name: "H3Title",
  _subselector: ' > h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
    column-span: enum('ValueSet:::OPTIONAL'), // eoc
  )
);

$H3--WithBottomBorder: ( //used in pl-u-physics
  _name: "H3WithBottomBorder",
  _subselector: ' > h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
    column-span: enum('ValueSet:::OPTIONAL'), // eoc
    overflow: hidden,
  )
);

$H3--WithBottomBorder__Border: (  //used in pl-u-physics
  _name: "H3TitleBottomBorder",
  _subselector: '::after',
  _properties: (
    content: "''",
    width: 100%,
    height: 0.2rem,
    border-bottom-width: 0.2rem,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-style: solid,
    display: inline-block,
    position: relative,
    bottom: 0.3rem,
    margin-right: -100%,
    margin-left: h-spacing(1),
  )
);

$H3--Link:(
  _name: "H3LinkTitle",
  _subselector: " > a > h3",
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

$H3--NestedLink:(     // this is link to section in eoc composite page form composite chapter (not direct child of chapter)
  _name: "H3NestedLinkTitle", // it's something wrong with structure, it should be H4; recipe fix is needed
  _subselector: " > a > h3",
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

$H3--List:(
  _name: "H3ListTitle",
  _subselector: ' [data-type="list"] > h3[data-type="title"]',
  _properties:(
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: bold,
  )
);

$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    text-transform: uppercase,
    font-style: normal,
    font-weight: bold,
  )
);

$H3--AppendixGlossary: (
  _name: "H3AppendixGlossaryTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

// H4 titles

$H4: (
  _name: "H4Title",
  _subselector: ' > h4',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-weight: 600,
    font-size: font-scale(0),
    line-height: line-height(0),
  )
);

$H4--Link:(
  _name: "H4LinkTitle",
  _subselector: " > a > h4",
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

// H5 titles

$H5: (
  _name: "H5Title",
  _subselector: ' > h5',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    font-size: font-scale(0),
    line-height: line-height(0),
  )
);

// Custom titles

$Title--InParagraph: (
  _name:"TitleInParagraph",
  _subselector:' span[data-type="title"]',
  _properties: (
    margin-right: h-spacing(1),
  )
);

$Title--OverFigure: (
  _name: "TitleOverFigure",
  _subselector: ' h4 + div.os-figure > figure',
  _properties:(
    padding-top: v-spacing(1),
  )
);

//Tables titles
$Table__Title: (
  _name: "TableTitle",
  _subselector: " > .os-table-title",
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    padding: enum('ValueSet:::REQUIRED'),
    text-align: center,
  )   
);

//Solution title used in HS Physics for in module exercises
$SolutionTitle:(
  _name: "SolutionTitle",
  _subselector: " > .solution-title",
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    font-size: font-scale(1),
    line-height: line-height(1),
  )
);

// Chapter Intro
$ChapterIntro__Content__Header: (
    _name: "IntroContentHeader",
    _subselector: ' > h2[data-type="document-title"]:first-of-type', 
    _properties: (
        float: left,
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        text-transform: uppercase,
        margin: "0 .5rem 0 0",
        font-weight: 700,
    )
);

