$Toc__Chapter__Page--Composite: (
  _name: 'TocChapterCompositePage',
  _subselector: ' > .os-toc-chapter-composite-page',
  _properties: (
    display: block
  ),
);

$Toc__Chapter__Page--Composite__Link: tocLink('TocChapterCompositePage');
$Toc__Chapter__Page--Composite__Link--Page: tocLinkPage('TocChapterCompositePage');

$Toc__Chapter__Page: (
  _name: 'TocChapterPage',
  _subselector: ' > .os-toc-chapter-page',
  _properties: (
    display: block
  ),
);

$Toc__Chapter__Page__Link: tocLink('TocChapterPage');
$Toc__Chapter__Page__Link--Page: tocLinkPage('TocChapterPage');

$Toc__Eoc__List--Chapter--Composite: (
  _name: 'TocEocCompositeChapterList',
  _subselector: ' > ol',
  _properties: (
    display: none,
  ),
);

$Toc__Eoc__Chapter--Composite: empty_wrapper(TocEocCompositeChapter, '> .os-toc-composite-chapter');

$Toc__Eoc__Chapter--Composite__Link: tocLink('TocEocCompositeChapter');
$Toc__Eoc__Chapter--Composite__Link--Page: tocLinkPage('TocEocCompositeChapter');


$Toc__List--Chapter: (
  _name: 'TocChapterList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
    display: block,
  ),
);

$Toc__Chapter__Number: (
  _name: 'TocChapterNumber',
  _subselector: ' > a > .os-number',
  _properties: (
    display: block,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bolder,
    font-size: font-scale(1),
    line-height: line-height(1),
    text-transform: uppercase,
    letter-spacing: 0.1rem
  ),
);

$Toc__Chapter__Link: tocLink('TocChapter');
$Toc__Chapter__Link--Page: tocLinkPage('TocChapter');

$Toc__Chapter: (
  _name: 'TocChapter',
  _subselector: ' > .os-toc-chapter',
  _properties: topLevelPageNotAppendixProps(),
);

$Toc__Preface: (
  _name: 'TocPreface',
  _subselector: '> .os-toc-preface',
  _properties: topLevelPageNotAppendixProperties(),
);

$Toc__Preface__Link:  tocLink('TocPreface');
$Toc__Preface__Link--Page:  tocLinkPage('TocPreface');

$Toc__Appendix__Number: (
  _name: 'TocAppendixNumber',
  _subselector: ' > a > .os-number',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bolder,
  ),
);

$Toc__Appendix: (
  _name: 'TocAppendix',
  _subselector: '> .os-toc-appendix',
  _properties: (
    margin-bottom: v-spacing(1),
  ),
);

$Toc__Appendix__Link: tocLink('TocAppendix');
$Toc__Appendix__Link--Page: tocLinkPage('TocAppendix');

$Toc__References: (
  _name: 'TocReferences',
  _subselector: '> .os-toc-references',
  _properties: topLevelPageNotAppendixProperties(),
);

$Toc__References__Link: tocLink('TocReferences');
$Toc__References__Link--Page: tocLinkPage('TocReferences');

$Toc__Index: (
  _name: 'TocIndex',
  _subselector: '> .os-toc-index',
  _properties: topLevelPageNotAppendixProperties(),
);

$Toc__Index__Link: tocLink('TocIndex');
$Toc__Index__Link--Page: tocLinkPage('TocIndex');

$Toc__Chapter--Composite__List: (
  _name: 'TocCompositeChapterList',
  _subselector: ' > ol',
  _properties: (
    display: none,
  )
);

$Toc__Chapter--Composite: (
  _name: 'TocCompositeChapter',
  _subselector: '> .os-toc-composite-chapter',
  _properties: topLevelPageNotAppendixProperties(),
);

$Toc__Chapter--Composite__Link: tocLink('TocCompositeChapter');
$Toc__Chapter--Composite__Link--Page: tocLinkPage('TocCompositeChapter');

$Toc__List--TopLevel: (
  _name: 'TopLevelList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
    display: inline,
  )
);

$Toc__Contents__Title__Word: (
  _name: 'TocTitleWord',
  _subselector: '> .os-toc-title',
  _properties: (
    font-size: font-scale(8),
    line-height: line-height(8),
    color: enum('ValueSet:::REQUIRED'),
    display: block,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: lighter,
    border-bottom: "0.5rem solid",
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    margin-bottom: v-spacing(4),
    padding-bottom: v-spacing(2)
  )
);

$Toc__Container: empty_wrapper(TocContainer, '');

$Toc__List--Unit: (
  _name: 'TocUnitList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
    display: block
  )
);

$Toc__Unit: empty_wrapper(TocUnit, ' > .os-toc-unit');

$Toc__Unit__Link: (
  _name: 'TocUnitLink',
  _subselector: ' > a',
  _properties: (
    display: block,
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    border-bottom:  enum('ValueSet:::REQUIRED'), // This property value has been changed to REQUIRED and set in toc-settings.scss file, so it can be overwrite in pl-u-physics book.scss file to implement changes in the toc design just for this book
    text-transform: uppercase,
    letter-spacing: 0.1rem,
    text-decoration: none,
    padding-bottom: v-spacing(1),
    margin-bottom: v-spacing(1)
  )
);

$Toc__Chapter: (
  _name: 'TocChapter',
  _subselector: ' > .os-toc-chapter',
  _properties: topLevelPageNotAppendixProperties(),
);