@function tocLinkPage($kind) {
  @return (
    _name: "#{$kind}LinkPage",
    _subselector: '::after',
    _properties: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: enum('ValueSet:::REQUIRED'),
      line-height: enum('ValueSet:::REQUIRED'),
      font-weight: enum('ValueSet:::OPTIONAL'),
      color: enum('ValueSet:::OPTIONAL')
    )
  );
}

@function tocLink($kind, $extraProps: empty_map()) {
  @return (
    _name: "#{$kind}Link",
    _subselector: '> a',
    _properties: map-merge((
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: enum('ValueSet:::REQUIRED'),
      line-height: enum('ValueSet:::REQUIRED'),
      font-weight: enum('ValueSet:::OPTIONAL'),
      color: (enum('ValueSet:::OPTIONAL'), #000000),
      text-decoration: none
    ), $extraProps),
    _components: (
      tocLinkPage($kind)
    )
  );
}

@function topLevelPageNotAppendixProps() {
  @return (
    display: block,
    margin-bottom: v-spacing(2)
  );
}

$TocChapterCompositePage: (
  _name: 'TocChapterCompositePage',
  _subselector: ' > .os-toc-chapter-composite-page',
  _properties: (
    display: block
  ),
  _components: (
    tocLink('TocChapterCompositePage')
  )
);

$TocChapterPage: (
  _name: 'TocChapterPage',
  _subselector: ' > .os-toc-chapter-page',
  _properties: (
    display: block
  ),
  _components: (
    tocLink('TocChapterPage')
  )
);

$TocEocCompositeChapterList: (
  _name: 'TocEocCompositeChapterList',
  _subselector: ' > ol',
  _properties: (
    display: none,
  ),
);

$TocEocCompositeChapter: (
  _name: 'TocEocCompositeChapter',
  _subselector: '> .os-toc-composite-chapter',
  _properties: (),
  _components: (
    $TocEocCompositeChapterList,
    tocLink('TocEocCompositeChapter'),
  )
);

$TocChapterList: (
  _name: 'TocChapterList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
    display: block
  ),
  _components: (
    $TocChapterPage,
    $TocChapterCompositePage,
    $TocEocCompositeChapter,
  )
);

$TocChapterNumber: (
  _name: 'TocChapterNumber',
  _subselector: ' > a > .os-number',
  _properties: (
    display: block,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bolder,
    font-size: font-scale(1),
    line-height: line-height(1),
    text-transform: uppercase,
    letter-spacing: 0.1rem
  ),
);

$TocChapter: (
  _name: 'TocChapter',
  _subselector: ' > .os-toc-chapter',
  _properties: topLevelPageNotAppendixProps(),
  _components: (
    $TocChapterNumber,
    tocLink('TocChapter'),
    $TocChapterList
  )
);

$TocPreface: (
  _name: 'TocPreface',
  _subselector: '> .os-toc-preface',
  _properties: topLevelPageNotAppendixProps(),
  _components: (
    tocLink('TocPreface'),
  )
);

$TocAppendixNumber: (
  _name: 'TocAppendixNumber',
  _subselector: ' > a > .os-number',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bolder,
  ),
);

$TocAppendixDivider: (
  _name: 'TocAppendixDivider',
  _subselector: '> a > .os-divider',
  _properties: (
    content: "' '",
  ),
);

$TocAppendix: (
  _name: 'TocAppendix',
  _subselector: '> .os-toc-appendix',
  _properties: (
    margin-bottom: v-spacing(1),
  ),
  _components: (
    $TocAppendixNumber,
    $TocAppendixDivider,
    tocLink('TocAppendix')
  ),
);

$TocReferences: (
  _name: 'TocReferences',
  _subselector: '> .os-toc-references',
  _properties: topLevelPageNotAppendixProps(),
  _components: (
    tocLink('TocReferences'),
  )
);

$TocIndex: (
  _name: 'TocIndex',
  _subselector: '> .os-toc-index',
  _properties: topLevelPageNotAppendixProps(),
  _components: (
    tocLink('TocIndex'),
  )
);

$TocCompositeChapterList: (
  _name: 'TocCompositeChapterList',
  _subselector: ' > ol',
  _properties: (
    display: none,
  )
);

$TocCompositeChapter: (
  _name: 'TocCompositeChapter',
  _subselector: '> .os-toc-composite-chapter',
  _properties: topLevelPageNotAppendixProps(),
  _components: (
    $TocCompositeChapterList,
    tocLink('TocCompositeChapter'),
  )
);

$TocTopLevelList: (
  _name: 'TopLevelList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
  )
);

$TocContentsTitleWord: (
  _name: 'TocTitleWord',
  _subselector: '> .os-toc-title',
  _properties: (
    font-size: font-scale(8),
    line-height: line-height(8),
    color: enum('ValueSet:::REQUIRED'),
    display: block,
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: lighter,
    border-bottom: "0.5rem solid",
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    margin-bottom: v-spacing(4),
    padding-bottom: v-spacing(2)
  )
);

$TocContainer: (
  _name: 'Container',
  _subselector: '',
  _properties: (
    page-break-after: always,
  )
);

$TocUnitList: (
  _name: 'TocUnitList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    padding-left: 0,
    margin-left: 0,
    display: block
  )
);

$TocUnit: (
  _name: 'TocUnit',
  _subselector: ' > .os-toc-unit',
  _properties: (
  )
);

$TocUnitLink: (
  _name: 'TocUnitLink',
  _subselector: ' > a',
  _properties: (
    display: block,
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    border-bottom: "0.1rem solid black",
    text-transform: uppercase,
    letter-spacing: 0.1rem,
    text-decoration: none,
    padding-bottom: v-spacing(1),
    margin-bottom: v-spacing(1)
  )
);

