@import 'framework/framework';
@import '../../design-settings/webview/colors';
@import '../../design-settings/webview/design';


//Settings
//Titles
@include add_settings((
    PageTitles: (
        _selectors: ('#main-content', '.content-excerpt'),
        'H1Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H2Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H3Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H4Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H5Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H6Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'Paragraph:::color': (_ref: 'colorMap:::paragraph'),
    ),
));

@include add_settings((
    EocPageTitles: (
        _selectors: ('#main-content', '.content-excerpt'),
    ),
));

@include add_settings((
    EobPageTitles: (
        _selectors: ('#main-content', '.content-excerpt'),
    ),
));

@include add_settings((
    FigureImage: (
        _selectors: ('#main-content', '.content-excerpt'),
        'CaptionContainerFigure:::color': (_ref: 'colorMap:::figureCaption'),
    ),
));

//Titles
@include use('PageTitles', 'webview:::PageTitlesShape');
@include use('EocPageTitles', 'webview:::EocPageTitlesShape');
@include use('EobPageTitles', 'webview:::EobPageTitlesShape');

// //Figures
@include use('FigureImage', 'webview:::FigureImageShape');

