@import 'framework/framework';
@import '../../design-settings/webview/colors';
@import '../../design-settings/webview/design';


//Settings
//Titles
@include add_settings((
    PageTitles: (
        _selectors: (''),
        'H1Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H2Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H3Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H4Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H5Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'H6Title:::color': (_ref: 'colorMap:::headingTitleColor'),
        'Paragraph:::color': (_ref: 'colorMap:::baseColor'),
    ),
));

@include add_settings((
    EocPageTitles: (
        _selectors: (''),
    ),
));

@include add_settings((
    EobPageTitles: (
        _selectors: (''),
    ),
));

//Figures
@include add_settings((
    FigureImage: (
        _selectors: (''),
        'CaptionContainerFigure:::color': (_ref: 'colorMap:::baseColor'),
    ),
));

//Terms
@include add_settings((
    Terms: (
        _selectors: (''),
    ),
));

//Lists
@include add_settings((
    Lists: (
        _selectors: (''),
        'UnorderedList:::color': (_ref: 'colorMap:::baseColor'),
        'OrderedList:::color': (_ref: 'colorMap:::baseColor'),
    ),
));

//Learning objectives
@include add_settings((
    LearningObjectives: (
        _selectors: (''),
        'LearningObjectivesContainer:::background-color': (_ref: 'colorMap:::LearningObjectivesBackground'),
        'LearningObjectivesContainer:::border-color': (_ref: 'colorMap:::LearningObjectivesBorder'),
        'LearningObjectivesTitle:::color': (_ref: 'colorMap:::LearningObjectivesText'),
        'LearningObjectivesTitle:::border-bottom-color': (_ref: 'colorMap:::LearningObjectivesBorder'),
        'LearningObjectivesParagraph:::color': (_ref: 'colorMap:::LearningObjectivesText'),
    ),
));

//Links
@include add_settings((
    Link: (
        _selectors: (''),
        'Link:::color': (_ref: 'colorMap:::Link'),
        'LinkHover:::color': (_ref: 'colorMap:::LinkHover'),
    ),
));

//Titles
@include use('PageTitles', 'webview:::PageTitlesShape');
@include use('EocPageTitles', 'webview:::EocPageTitlesShape');
@include use('EobPageTitles', 'webview:::EobPageTitlesShape');
// //Figures
@include use('FigureImage', 'webview:::FigureImageShape');
//Terms
@include use('Terms', 'webview:::TermsShape');
//Lists
@include use('Lists', 'webview:::ListsShape');
//Learning objectives
@include use('LearningObjectives', 'webview:::LearningObjectivesShape');
//Links
@include use('Link', 'webview:::LinkShape')
