$bookRoot:(
  _name: "BookRoot",
  _subselector: "",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'), ///default font family for book
    font-size: enum('ValueSet:::REQUIRED'), //base font size
    line-height: enum('ValueSet:::REQUIRED'), //base line height
    text-align: enum('ValueSet:::OPTIONAL'), // To justify organic chemistry text
    color: enum('ValueSet:::REQUIRED'),
    prince-image-resolution: enum('ValueSet:::REQUIRED'),
    prince-background-image-resolution: enum('ValueSet:::REQUIRED')
  )
);

$ColoredText__Container: (
    _name: 'ColoredTextContainer',
    _subselector: '',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
    )
);

$CenteredText: (
    _name: 'CenteredText',
    _subselector: '',
    _properties: (
        display: block,
        font-weight: normal,
        text-align: center,
    )
);

// differs from Hidden by hiding elements visually but not from screenreaders
$VisuallyHidden: (
    _name: 'VisuallyHidden',
    _subselector: '',
    _properties: (
        border: 0,
        clip: rect(0 0 0 0),
        height: auto,
        margin: 0,
        overflow: hidden,
        padding: 0,
        position: absolute,
        width: 1px,
        white-space: nowrap,
        opacity: 0
    )
);

