@import 'common-components';

@include create_shape('common:::BookRoot', (
  _components: ($bookRoot)
));

@include create_shape('common:::Hidden', (
  _components: (
    (
      _name: "Hidden",
      _subselector: "",
      _properties: (
        display: none,
      )
    ),
  )
));

@include create-shape('common:::ColoredText', (
    _components: (
      $ColoredText__Container,
    ),
));

@include create-shape('common:::AnnotationTextShape', (
    _components: (
      $Annotation__Text,
    ),
));

@include create-shape('common:::PublicDomainTextShape', (
    _components: (
      $PublicDomain__Text,
    ),
));

@include create-shape('common:::NarrowTableShape', (
    _components: (
      map-merge($NarrowTable__Container, (
        _components: (
          $NarrowTable__Data,
      )
    )),
  )
));

@include create-shape('common:::CenteredTextShape', (
    _components: (
      $CenteredText,
    ),
));
