$bookRoot:(
  _name: "BookRoot",
  _subselector: "",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'), ///default font family for book
    font-size: enum('ValueSet:::REQUIRED'), //base font size
    line-height: enum('ValueSet:::REQUIRED'), //base line height
    color: enum('ValueSet:::REQUIRED'),
    prince-image-resolution: enum('ValueSet:::REQUIRED'),
    prince-background-image-resolution: enum('ValueSet:::REQUIRED')
  )
);

$ColoredText__Container: (
    _name: 'ColoredTextContainer',
    _subselector: '',
    _properties: (
        font-weight: normal,
        color: enum('ValueSet:::REQUIRED'),
    )
);

$NarrowTable__Container: (
    _name: 'NarrowTableContainer',
    _subselector: '',
    _properties: (
        width: 20%,
    )
);

