//numbered <figure> 
$NumberedFigureContainer:(
    _name:"NumberedFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::REQUIRED'),
        margin-left: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::REQUIRED'),
    )
);

//images w/o caption/figure number
$FigureNoCaptionContainer:(
    _name: "FigureNoCaption",
    _subselector: "",
     _properties:(
        //todo: refactor images, the float breaks other containers
         //float:enum('ValueSet:::REQUIRED'),
     )
);

//unnumbered figure 
$CommonFigureContainer:(
    _name:"CommonFigure",
    _subselector: "",
    _properties:(
        display: enum('ValueSet:::REQUIRED'),
        margin-left: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::REQUIRED'),
    )
);
