$bookRoot:(
  _name: "BookRoot",
  _subselector: "",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'), ///default font family for book
    font-size: enum('ValueSet:::REQUIRED'), //base font size
    line-height: enum('ValueSet:::REQUIRED'), //base line height
    color: enum('ValueSet:::REQUIRED'),
    prince-image-resolution: enum('ValueSet:::REQUIRED'),
    prince-background-image-resolution: enum('ValueSet:::REQUIRED')
  )
);

$ColoredText__Container: (
    _name: 'ColoredTextContainer',
    _subselector: '',
    _properties: (
        font-weight: normal,
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Annotation__Text: (
  _name: 'AnnotationText',
  _subselector: '.annotation-text',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-style: italic,
    font-size: font-scale(0),
    color: enum('ValueSet:::REQUIRED'),
  )
);

$PublicDomain__Text: (
  _name: 'PublicDomainText',
  _subselector: '.public-domain',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    color: enum('ValueSet:::OPTIONAL'),
  )
);

$AnnotationText--WithLeftBorder: (
  _name: 'AnnotationTextWithLeftBorder',
  _subselector: '',
  _properties: (
    display: inline-block,
    margin-left: h-spacing(2),
    padding-left: h-spacing(1),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    color: enum('ValueSet:::OPTIONAL'),
    border-left-style: solid,
    border-width: .1rem,
    border-color: enum('ValueSet:::REQUIRED'),
  )
);

$NarrowTable__Container: (
    _name: 'NarrowTableContainer',
    _subselector: '',
    _properties: (
        width: 50%,
    )
);

$NarrowTable__Data: (
  _name: 'NarrowTableData',
  _subselector: ' td',
  _properties: (
      text-align: center,
  )
);

$CenteredText: (
    _name: 'CenteredText',
    _subselector: '',
    _properties: (
        display: block,
        font-weight: normal,
        text-align: center,
    )
);

// differs from Hidden by hiding elements visually but not from screenreaders
$VisuallyHidden: (
    _name: 'VisuallyHidden',
    _subselector: '',
    _properties: (
        border: 0,
        clip: rect(0 0 0 0),
        height: auto,
        margin: 0,
        overflow: hidden,
        padding: 0,
        position: absolute,
        width: 1px,
        white-space: nowrap,
        opacity: 0
    )
);
