//folio content strings
[data-type="chapter"] > h1[data-type="document-title"] {
  .os-number {
    string-set: chapter-number content();
}
  .os-text {
    string-set: chapter-title content();
  }
}

[data-type="chapter"] > {
  [data-type="page"].introduction .intro-text > h2[data-type="document-title"] {
    string-set: module-number string(chapter-number);
    
    .os-text {
      string-set: module-title "Introduction";
    }
  }
  [data-type="page"]:not(.introduction) > h2[data-type="document-title"] {
    .os-number {
      string-set: module-number content();
    }
    .os-text {
      string-set: module-title content();
    }
  }
}

.os-eoc > h2[data-type="document-title"] {
  .os-text {
    string-set: eoc-title content();
  }
}

.appendix > h1[data-type="document-title"] {
  .os-number {
    string-set: appendix-number content();
}
  .os-text {
    string-set: appendix-title content();
  }
}

div[data-type="composite-page"].os-eob > h1[data-type="document-title"] {
  .os-text {
    string-set: eob-title content();
  }
}

//page definitions
nav#toc {
  page: table-of-contents;
}

div[data-type="page"].preface {
  page: preface;
  counter-reset: page 1;
}

.os-eoc {
  page: eoc;
}

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
}

div[data-type="page"].appendix {
  page: appendix;
}

div[data-type="composite-page"].os-eob {
  page: eob;
}

@mixin CornFolioStyles() {
    font-size: font-scale(-1);
    font-family: "Roboto Slab", serif;
    color: #093D4C;
    // font-weight: 700;
   
}

@page chapter:nth(1):right {
    @top-right-corner {
      font-size: font-scale(-1);
      font-family: "Roboto Slab", serif;
      color: white;
      background: #093D4C;
      content: "\00a0\00a0\00a0\00a0\00a0" counter(page);
      // margin-left: h-spacing(5);
    }
    // @top-left {
    //   @include chapterIntroCornFolioStyles();
    //   content: string(chapter-number) " • " string(chapter-title);
    // }
    @top-middle {
      background: #093D4C;
      content: ' ';
    }
    @top-right {
        font-size: font-scale(-1);
        font-family: "Roboto Slab", serif;
        color: white;
        background: #093D4C;
        content: string(module-number) " • " string(module-title);;
    }
    @top-left-corner {
      background: #093D4C;
      content: ' ';
    }
  } 

@mixin folio($leftContent, $rightContent, $page: null ) {
    @page #{$page}:left {
      @top-left {
        @include CornFolioStyles();
        content: $leftContent;
      }
      @top-left-corner {
        @include CornFolioStyles();
        content: counter(page) "\00a0\00a0\00a0\00a0\00a0";
        // margin-right: h-spacing(5);
      }
      @bottom-left {
          @include CornFolioStyles();
          content: "Access for free at openstax.org.";
      }
    }
  
    @page #{$page}:right {
      @top-right {
        @include CornFolioStyles();
        content: $rightContent;
      }
      @top-right-corner {
        @include CornFolioStyles();
        content: "\00a0\00a0\00a0\00a0\00a0" counter(page);
        // margin-left: h-spacing(5);
      }
    }
  }
  @mixin folioWithBand($leftContent, $rightContent, $page) {
    @page #{$page}:left {
      @top-left {
        @include CornFolioStyles();
        content: counter(page) "\00a0\00a0\00a0\00a0\00a0" $leftContent;
      }
      @bottom-left {
        @include CornFolioStyles();
        content: "Access for free at openstax.org.";
      }
    }
  
    @page #{$page}:right {
      @top-right {
        @include CornFolioStyles();
        content: $rightContent "\00a0\00a0\00a0\00a0\00a0" counter(page);
      }
    }
  }

  $defaultLeftContent: string(chapter-number) " • " string(chapter-title);
  $defaultRightContent: string(module-number) " • " string(module-title);
  $prefaceContent: "Preface";
  $eocContent: string(chapter-number) " • " string(eoc-title);
  $appendixContent: string(appendix-number) " • " string(appendix-title);
  $eobContent: string(eob-title);
  @include folio($defaultLeftContent, $defaultRightContent,);
  @include folio($prefaceContent, $prefaceContent, preface );
  @include folioWithBand($eocContent, $eocContent, eoc);
  @include folioWithBand($appendixContent, $appendixContent, appendix);
  @include folioWithBand($eobContent, $eobContent, eob);

  @page {
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 0.8in;
    margin-top: 0.8in;
  }
  @page chapter:nth(1) {
    margin-right: 1.125in;
  }