$Footnote__Container: (
  _name: "Container",
  _subselector: '',
  _properties: (
    -prince-float-placement: footnote,
    -prince-float-reference: page,
    color: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    text-align: left,
    font-weight: normal,
  ),
);

$Footnote__Border: (
  _name: "Border",
  _subselector: '::before',
  _properties: (
    border-top-color: enum('ValueSet:::REQUIRED'),
    border-top-width: enum('ValueSet:::REQUIRED'),
    border-top-style: solid,
    display: block,
    width: enum('ValueSet:::OPTIONAL'),
    content: "''",
    padding-bottom: enum('ValueSet:::OPTIONAL'),
  ),
);

$Footnote__Title: (
  _name: "Title",
  _subselector: ' [data-type="footnote-refs-title"]',
  _properties: (
    display: none,
  ),
);

$Footnote__List: (
  _name: "List",
  _subselector: ' ul',
  _properties: (
    list-style: enum('ValueSet:::OPTIONAL'),
    margin: enum('ValueSet:::OPTIONAL'),
    padding: enum('ValueSet:::OPTIONAL'),
  ),
);

$Footnote__Link: (
  _name: "Link",
  _subselector: ' [data-type="footnote-ref-link"]',
  _properties: (
    text-decoration: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::OPTIONAL'),
  ),
);

$Footnote__Call: (
  _name: "FootnoteCall",
  _subselector: '::footnote-call',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  ),
);

$Footnote__Marker: (
  _name: "FootnoteMarker",
  _subselector: '::footnote-marker',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  ),
);

$Footnote__Call--Default: (
  _name: "DefaultFootnoteCall",
  _subselector: '',
  _properties: (
    //styling for footnote call taken from reset.scss
    //this allows footnote calls not in a sup to display as one
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: 75%,
    line-height: 0,
    position: relative,
    vertical-align: baseline,
    top: -0.7em,
    text-decoration: enum('ValueSet:::OPTIONAL'),
    padding-right: .16rem,
  ),
);

$Footnote__Number: (
  _name: "FootnoteNumber",
  _subselector: ' [data-type="footnote-number"]',
  _properties: (
    display: inline-block,
    margin-right: h-spacing(1),
  ),
);