@function empty_wrapper($name, $selector) {
    @return (
        _name: "#{$name}Wrapper",
        _subselector: $selector,
        _properties: ()
    );
}

// This function counts width and margins for bottom border of the title
// depends on width of the title in px rounded to one decimal place
@function titleBottomBorder($name, $titleWidth) {
    $fullTitleWidth: $titleWidth + 8 ; // Width of title with 8px white space
    $borderMargin: ($fullTitleWidth / 12) * 1rem; // 12 - default px size
    $borderWidth: (6.5 - $fullTitleWidth / 96) * 1in; // 1in = 96px

    @return (
      _name: "#{$name}TitleBottomBorder",
      _subselector: '::after',
      _properties: (
        content: "''",
        width: $borderWidth,
        border-bottom-width: 0.2rem,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        border-bottom-style: solid,
        margin-left: $borderMargin,
        position: absolute, 
        bottom: 0,
        display: inline-block,
      )
    );
}

//ToC functions
@function tocLinkPage($kind) {
  @return (
    _name: "#{$kind}LinkPage",
    _subselector: '::after',
    _properties: (
      content: enum('ValueSet:::REQUIRED'), // This property value has been changed to REQUIRED and set in toc-settings.scss file, so it can be overwrite in pl-u-physics book.scss file to implement changes in the toc design just for this book
      display: enum('ValueSet:::REQUIRED'), // This property valuee has been changed to REQUIRED and set in toc-settings.scss file, so it can be overwrite in pl-u-physics book.scss file to implement changes in the toc design just for this book
      margin-left: enum('ValueSet:::REQUIRED'),  // This property value has been changed to REQUIRED and set in toc-settings.scss file, so it can be overwrite in pl-u-physics book.scss file to implement changes in the toc design just for this book
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: enum('ValueSet:::REQUIRED'),
      line-height: enum('ValueSet:::REQUIRED'),
      font-weight: enum('ValueSet:::OPTIONAL'),
      color: enum('ValueSet:::OPTIONAL')
    )
  );
}

@function tocLink($kind) {
  @return (
    _name: "#{$kind}Link",
    _subselector: '> a',
    _properties: (
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: enum('ValueSet:::REQUIRED'),
      line-height: enum('ValueSet:::REQUIRED'),
      font-weight: enum('ValueSet:::OPTIONAL'),
      color: (enum('ValueSet:::OPTIONAL'), #000000),
      text-decoration: none
    ),
  );
}

@function topLevelPageNotAppendixProperties() {
  @return (
    display: block,
    margin-bottom: v-spacing(2)
  );
}