@function empty_wrapper($name, $selector) {
    @return (
        _name: "#{$name}Wrapper",
        _subselector: $selector,
        _properties: ()
    );
}

// This function counts width and margins for bottom border of the title
// depends on width of the title in px rounded to one decimal place
@function titleBottomBorder($name, $titleWidth) {
    $fullTitleWidth: $titleWidth + 8 ; // Width of title with 8px white space
    $borderMargin: ($fullTitleWidth / 12) * 1rem; // 12 - default px size
    $borderWidth: (6.5 - $fullTitleWidth / 96) * 1in; // 1in = 96px

    @return (
      _name: "#{$name}TitleBottomBorder",
      _subselector: '::after',
      _properties: (
        content: "''",
        width: $borderWidth,
        border-bottom-width: 0.2rem,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        border-bottom-style: solid,
        margin-left: $borderMargin,
        position: absolute, 
        bottom: 0,
        display: inline-block,
      )
    );
}
