
//super basic 40px block for horizontal spacing. 

// grid(1) = 40px
// grid(.25) = 10px = 1rem at $basefont: 10px;

@function grid($value) {
  //TODO how do we want to get this value from the books/template settings?
  $baseFontSize: 10;
  $gimmeApixel: 1 / $baseFontSize;
  $gridUnit: $gimmeApixel * 40; 
  $result: $gridUnit * $value;

 @return $result + "rem";

}