
//super basic 40px block for horizontal spacing. 

// h-grid(1) = 10px


@function h-grid($value) {
  $baseUnit: 10;
  $result: $baseUnit * $value;

  /* stylelint-disable-next-line meowtec/no-px */
 @return $result * 1px;

}

@function v-grid($scaleN) {
  $baseFontSize: 1; //rem
  $lineHeightModifier: 1.5;
  $granularity: 0.1;
  $baseLineHeight: $baseFontSize * $lineHeightModifier;
  $cellHeight: $baseLineHeight * $granularity;
  $value: $cellHeight * 5;
  $result: $value * $scaleN;
  @return $result * 1rem;
}
