
//super basic 40px block for horizontal spacing.

// h-grid(1) = 10px


@function h-grid($value) {
  $baseUnit: 8;
  $result: $baseUnit * $value;

  /* stylelint-disable-next-line meowtec/no-px */
 @return $result * 1px;
}

@function v-grid($value) {
  $v-grid: 1.5 * $value;
  @return $v-grid * 1rem
}
