// Link to spec doc: https://docs.google.com/spreadsheets/d/1vW0EHvn8fZgvTxZIm9xQXsqsnIDcolqwt5rWKtx4JEY/edit#gid=1804222758
//Unit titles and numbers and chapter numbers in TOC shouldn't be orphaned
nav#toc > ol > .os-toc-unit > a > .os-text,
nav#toc > ol > .os-toc-unit > a,
nav#toc > ol > .os-toc-unit > ol > .os-toc-chapter > a > .os-number,
nav#toc > ol > .os-toc-chapter > a > .os-number
 {
  page-break-after: avoid;
}

//Page should always break after ToC container
nav#toc {
  page-break-after: always,
}

//Headers should not be orphaned or break inside themselves
h1, h2, h3, h4, h5, h6,
[data-type="document-title"],
[data-type="title"] {
  break-after: avoid;
  break-inside: avoid;
}

//Unfortunately the singular and pluaral form of these classes exists
//LO's shouldn't be orphaned from their title 
.learning-objectives,
.learning-objective,
[data-type="page"]:not(.introduction) > [data-type="abstract"] {
  page-break-inside: avoid;
  page-break-before: avoid;
}

//table headers should not be orphaned and table rows should not break inside
[data-type="chapter"] .os-table,
.os-table {
  page-break-inside: auto;
  thead {
    page-break-after: avoid;
  }
  tr { 
    page-break-inside: avoid;
  }
}
//top tiled table titles heads should not be orphaned
.os-table.os-top-titled-container > .os-table-title {
  page-break-after: avoid;
}

//top captioned table titles should not be orphaned (this call is only used in pl-psychology)
.os-table.os-top-captioned-container > .os-top-caption {
  page-break-after: avoid;
}


//a footnote should avoid breaking accross pages
.footnote {
  page-break-inside: avoid;
}

//the footnote section top border is created with a ::before and should not be seperated from the first footnote
[data-type="footnote-refs"]::before {
  page-break-after: avoid;
}

//paragraph with footnote reference should avoid breaking accross pages
p.has-noteref {
  page-break-inside: avoid;
}

//Index starts on the right page
//The content after the index should start on the left page
.os-index-container {
  page-break-before: right;
  page-break-after: left;

  .group-label {
    page-break-after: avoid;
  }
  .group-by > .os-index-item:first-of-type {
    break-before: avoid;
  }
  .index-term, .os-term { 
    page-break-inside: avoid;
  }
  .os-term-section-link {
    page-break-after: avoid;
  }
}

//An exercise should avoid breaking across pages
.os-eoc {
  > section > [data-type="exercise"] {
    page-break-inside: avoid;
  }
}

.os-eos {
  > section.section-exercises > section > [data-type="exercise"] {
  page-break-inside: avoid;
  }
}

//These elements should start on the right page 
//Content after these elements should start on the left page
div.preface,
div[data-type="chapter"], 
div.appendix,
div.os-solution-container[data-type="composite-chapter"],
div.os-solutions-container[data-type="composite-chapter"], // Selector used in pl-u-physics
div.os-eob.os-references-container[data-type="composite-page"] {
  page-break-before: right;
  page-break-after: left;
}

//Captions should not break from their figure, table, etc.
.os-caption-container {
  page-break-before: avoid;
}

//An equation shouldn't break across pages
[data-type="equation"] {
  page-break-inside: avoid;
}

//Module titles in chapter objective 
.introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective {
  page-break-after: avoid;
  > .os-number,
  > .os-text {
     page-break-after: avoid;
  }
}

//allow learning objectives in the chapter outline to break across page
//without this, the you can get weird breaks of the chapter title and splash when there are a lot of learning objectives
.os-chapter-outline > div.os-chapter-objective > div.learning-objective {
  page-break-inside: auto;
}

//TODO:
  //notes should be able to break but take the first element with them