//notes should be able to break but take the first element with them
nav#toc > ol > .os-toc-unit > ol > .os-toc-chapter > a > .os-number,
nav#toc > ol > .os-toc-chapter > a > .os-number {
  page-break-after: avoid;
}

div.preface {
  page-break-before: right;
  page-break-after: left;
}

h1, h2, h3, h4, h5, h6,
[data-type="document-title"],
[data-type="title"] {
  break-after: avoid;
  break-inside: avoid;
}

.learning-objectives {
  page-break-inside: avoid;
  page-break-before: avoid;
}

[data-type="note"], [data-type="example"] {
  page-break-inside: auto;
}

.chapter .table,
.table {
  page-break-inside: auto;
  thead {
    page-break-after: avoid;
  }
  tr { 
    page-break-inside: avoid;
  }
}

.footnote {
  page-break-inside: avoid;
}

.index {
  page-break-before: right;
  page-break-after: left;
  page-break-inside: auto;

  .group-label {
    page-break-after: avoid;
  }
  .index-term, .os-term { 
    page-break-inside: avoid;
  }
  .os-term-section-link {
    page-break-after: avoid;
  }
}

.os-eoc {
  page-break-inside: auto;
  > section > [data-type="exercise"] {
    page-break-inside: avoid;
  }
}

 div.appendix {
    page-break-before: left;
    page-break-after: left;
  }


.os-caption-container {
  page-break-before: avoid;
}

[data-type="equation"] {
  page-break-inside: avoid;
}