@import './typography';
@import './grid';
[data-type="composite-chapter"],
[data-type="page"],
[data-type="composite-page"] {
  p, section, table, ul, li, dl, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }
}
[data-type="composite-chapter"],
[data-type="page"],
[data-type="composite-page"] {
  p {
    padding-bottom: v-grid(1);
  }
  section {
    padding-bottom: v-grid(1);
  }

  table {
    padding-bottom: v-grid(1);
  }

  ul {
    padding-left: h-grid(2);
    padding-bottom: v-grid(1);
  }

  li {
    padding-bottom: v-grid(1);
  }

  h1 {
    margin-bottom: v-grid(2);
   }

  h2 {
    margin-bottom: v-grid(1);
  }

  h3 {
    margin-bottom: v-grid(1);
  }

  h4 {
    margin-bottom: v-grid(1);
  }

  h5 {
    margin-bottom: v-grid(1);
  }
}
