@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function font-scale($scaleN) {
  $font-size: 1 * pow(1.2, $scaleN) * 1rem;

  @return $font-size
}

@function line-height($scale) {
  $baseLineHeight: 1.5;
  $scaleModifier: 1.1;
  $baseFontSize: 1; //1rem

  $font-size: $baseFontSize * pow($scaleModifier, $scale);
  $line-height:  (ceil($font-size / $baseLineHeight)) * $baseLineHeight;

  @return $line-height * 1rem;
}



