@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Homeostatic: (
        _selectors: (".homeostatic"),
        Container: (
            font-family: (_ref: 'typography:::sansFont'),
        ),
        Border: (
            border-bottom-color: (_ref: 'colorMap:::interconnectedColor'),
        ),
        Title: (
            font-family: (_ref: 'typography:::serifFont'),
            border-bottom-color: (_ref: 'colorMap:::interconnectedColor'),
        ),
        TitleText: (
            max-width: 15rem,
            margin-bottom: .2rem,
        ),
        TitleIcon: (
            background: url("../../styles/designs/carnival/resources/carnival-homeostatic.svg") no-repeat top left,
            height: 3.5rem,
            width: 3.5rem,
            padding-right:0.4rem,
            bottom: -0.5rem,
        ),
    ),
));