@include add_settings((
    CareerIcon:(
        _selectors:(".career"),

        Title:(
            font-family: (_ref:'typography:::titleFont'),font-size: font-scale(1),
            line-height: line-height(1),
            font-weight: bold,
            text-transform: uppercase,
            color: (_ref: "colorMap:::summarytitleColor"),
            padding-bottom: .7rem,
            border-bottom-color: (_ref: "colorMap:::careerColor1"),
        ),

        Border:(
            border-bottom-width: .2rem,
            border-bottom-color: (_ref: "colorMap:::careerColor1"),
            width:100%,
            margin-bottom: v-grid(2),
        ),

        TitleIcon:(
            background: url("../../styles/designs/carnival/resources/carnival-career.svg") no-repeat top left,
            height: 3.5rem,
            width: 3.5rem,
            padding-right: .7rem,
            bottom: -1.8rem,
        ),
    ),

    EvolutionIcon:(
        _selectors:(".evolution"),

        Title:(
            font-family: (_ref:'typography:::titleFont'),
            font-size: font-scale(1),
            line-height: line-height(1),
            font-weight: bold,
            text-transform: uppercase,
            color: (_ref: "colorMap:::summarytitleColor"),
            padding-bottom:.7rem,
            border-bottom-color: (_ref: "colorMap:::interconnectedColor"),
        ),

        Border:(
            border-bottom-width: .2rem,
            border-bottom-color: (_ref: "colorMap:::interconnectedColor"),
            width: 100%,
            margin-bottom: h-grid(2),
        ),

        TitleIcon:(
            background: url("../../styles/designs/carnival/resources/carnival-evolution.svg") no-repeat top left,
            height: 3.5rem,
            width: 3.5rem,
            padding-right: .7rem,
            bottom: -1.8rem,
        ),
    ),

    ScientificMethodIcon:(
        _selectors:(".scientific"),

        Title:(
            font-family: (_ref:'typography:::titleFont'),font-size: font-scale(1),
            line-height: line-height(1),
            font-weight: bold,
            text-transform: uppercase,
            color: (_ref: "colorMap:::summarytitleColor"),
            padding-bottom: .7rem,
            border-bottom-color: (_ref: "colorMap:::scienceColor"),
        ),

        Border:(
            border-bottom-width: .2rem,
            border-bottom-color: (_ref: "colorMap:::scienceColor"),
            width: 100%,
            margin-bottom: h-grid(2),
        ),

        TitleIcon:(
            background: url("../../styles/designs/carnival/resources/carnival-scientific.svg") no-repeat top left,
            height: 3.5rem,
            width: 3.5rem,
            padding-right: .7rem,
            bottom: -1.8rem,
        ),
    ),

    VisualConnection:(
        _selectors:(".visual-connection"),//should be visual-connection

        Title:(
            font-family: (_ref:'typography:::titleFont'),
            font-size: font-scale(1),
            line-height: line-height(1),
            font-weight: bold,
            text-transform: uppercase,
            color: (_ref: "colorMap:::summarytitleColor"),
            padding-bottom: .7rem,
            border-bottom-color: (_ref: "colorMap:::visualColor"),
        ),

        Border:(
            border-bottom-width: .2rem,
            border-bottom-color: (_ref: "colorMap:::visualColor"),
            width: 100%,
            margin-bottom: v-grid(2),
        ),

        TitleIcon:(
            background: url("../../styles/designs/carnival/resources/carnival-visualconnection.svg") no-repeat top left,
            height: 3.5rem,
            width: 3.5rem,
            padding-right: .7rem,
            bottom: -1.8rem,
        ),
    ),
));
