$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';


@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::nursingTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::nursingTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::nursingTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::nursingTocColor'),
  ),
));

// Chapter Intro
@include add_settings((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    'FigureSplashBg:::background-color': (_ref: "colorMap:::nursingIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::nursingIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::nursingIntroColor"),
    'ChapterObjectiveLink:::font-weight': normal,
    'ChapterOutlineContainer:::font-weight': normal,
    'ChapterOutlineContainer:::font-size': font-scale(-1),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::nursingHeaderColor"),
  ),
  ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2ModuleTitle:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
  EocCompositeChapterTitles: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

// Learning Objectives
@include add_settings((
  LearningObjectivesSection: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'H3ObjectivesTitle:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'ObjectivesListDot:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

// Tables
@include add_settings((
  BasicTable: (
    _selectors: ('.os-table:not(.os-unstyled-container)'),
    'TableBottomBorderAfterTable:::border-top-color': (_ref: 'colorMap:::nursingTableColor'),
  ),
));

//Centered Text
@include add_settings((
  CenteredText: (
    _selectors: ('.centered-text')
  )
));

// Notes
@include add_settings((
    LinkToLearningNote:(
        _selectors: (".link-to-learning"),
        'Container:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
    ),
    UnfoldingCasestudyNote:(
        _selectors: (".unfolding-casestudy"),
        group-border-color: (_ref: 'colorMap:::unfoldingCaseStudyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::unfoldingCaseStudyColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    ),
    RNStoriesNote:(
        _selectors: (".rn-stories"),
        group-border-color: (_ref: 'colorMap:::RNStoriesColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::RNStoriesColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-rnstories.svg")) no-repeat top left,
    ),
    ClinicalSafetyNote:(
        _selectors: (".clinical-safety"),
        group-border-color: (_ref: 'colorMap:::checkYourUnderstanding'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::checkYourUnderstanding'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    ),
    CulturalContextNote:(
        _selectors: (".cultural-context"),
        group-border-color: (_ref: 'colorMap:::culturalContextColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::culturalContextColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-lifestageculture.svg")) no-repeat top left,
    ),
    PatientConversationsNote:(
        _selectors: (".patient-conversations"),
        group-border-color: (_ref: 'colorMap:::patientConversationsColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::patientConversationsColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-debate.svg")) no-repeat top left,
    ),
    PharmaConnectionsNote:(
        _selectors: (".pharma-connections"),
        group-border-color: (_ref: 'colorMap:::pharmaConnectionsColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::pharmaConnectionsColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-pharmacology.svg")) no-repeat top left,
    ),
    LegalEthicalNote:(
        _selectors: (".legal-ethical"),
        group-border-color: (_ref: 'colorMap:::legalEthicalColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::legalEthicalColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-homestaticimbalance.svg")) no-repeat top left,
    ),
    MultiDisciplinaryNote:(
        _selectors: (".multi-disciplinary"),
        group-border-color: (_ref: 'colorMap:::microConnectionColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::microConnectionColor'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-microconnections.svg")) no-repeat top left,
    ),
    ClinicalJudgmentNote:(
        _selectors: (".clinical-judgment"),
        group-border-color: (_ref: 'colorMap:::clinicalJudgmentColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::clinicalJudgmentColor'),
    ),
    ElectronicHrNote:(
        _selectors: (".electronic-hr"),
        group-border-color: (_ref: 'colorMap:::electronicHrColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::electronicHrColor'),
    ),
    PsychosocialConsiderationsNote:(
        _selectors: (".psychosocial-considerations"),
        group-border-color: (_ref: 'colorMap:::psychosocialConsiderationsColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
        'Title:::color': (_ref: 'colorMap:::psychosocialConsiderationsColor'),
    ),
));

// Modules
@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.os-glossary-container', '.os-summary-container'),
  ),
));

@include add_settings((
  EocExercisesModules: (
    _selectors: (
        '.os-review-questions-container', '.os-check-understanding-container', '.os-critical-thinking-container',
        '.os-competency-based-container', '.os-reflection-questions-container', '.os-what-nurses-do-container'
    ),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

@include add_settings((
  AppendixGlossary: (
    _selectors: (".appendix > .column-container"),
    'H3AppendixGlossaryTitle:::color': (_ref: "colorMap:::nursingHeaderColor"),
    'AppendixGlossaryContainer:::column-count': 2,
  ),
));


// Common Settings
@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Book Specific Styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('LearningObjectivesSection', 'carnival:::LearningObjectivesColoredDotShape');
@include use('ParaIndented', 'carnival:::ParaIndentedShape');
@include use('ParaCentered', 'carnival:::ParaCenteredShape');

// Chapter Intro
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

// Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'carnival:::ChapterIntroTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EocCompositeChapterTitles', 'carnival:::EocCompositeChapterTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('UnitTitle', 'common:::Hidden');

// Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureSplash','carnival:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','carnival:::FigureFromExercisesShape');

// Tables
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');

// Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use('TableLists', 'carnival:::TableListShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use("NotesLists", "carnival:::NotesListsShape");

// Notes
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('UnfoldingCasestudyNote', 'carnival:::IconNoteShape');
@include use('RNStoriesNote', 'carnival:::IconNoteShape');
@include use('ClinicalSafetyNote', 'carnival:::IconNoteShape');
@include use('CulturalContextNote', 'carnival:::IconNoteShape');
@include use('PatientConversationsNote', 'carnival:::IconNoteShape');
@include use('PharmaConnectionsNote', 'carnival:::IconNoteShape');
@include use('LegalEthicalNote', 'carnival:::IconNoteShape');
@include use('MultiDisciplinaryNote', 'carnival:::IconNoteShape');
@include use('ClinicalJudgmentNote', 'carnival:::BoxedNoteShape');
@include use('ElectronicHrNote', 'carnival:::BoxedNoteShape');
@include use('PsychosocialConsiderationsNote', 'carnival:::BoxedNoteShape');

// EOC
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('KeyTerms', 'carnival:::KeyTermsShape');
@include use('EocExercisesModules','carnival:::ExercisesModuleShape');
@include use('ReferencesWithIndentation', 'carnival:::ModuleWithIndentationShape');

// EOB
@include use('AppendixGlossary', 'carnival:::AppendixGlossaryShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('AnswerKeySolution', 'carnival:::AnswerKeySolutionShape');
@include use('Index', 'carnival:::IndexShape');
