@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
    TOC: (
        _selectors: ('nav#toc'),
        'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
        'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
        'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
    ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H5Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'Outline:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitleBottomBorder:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
));

@include add_settings((
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'TitleText:::display': inline-block,
    'TitleText:::word-wrap': normal,
    'TitleText:::margin-bottom': .2rem,
    'TitleText:::margin-left': h-spacing(1),
    'ParagraphSubtitle:::font-weight': bold,
  ),
  CheckUnderstandingExerciseNote:(
    _selectors: ('[data-element-type="check-understanding"]'),
    'Solution:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'SolutionTitle:::font-family': (_ref: "typography:::sansFont"),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
  ),
  PhetExplorationNote:(
    _selectors: (".interactive"),
    group-border-color: (_ref: 'colorMap:::phetColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::phetColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-phet.svg")) no-repeat top left,
    'LogoIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/phet-logo.svg")) no-repeat right bottom,
    'LogoIcon:::margin-bottom': .2rem,
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  SectionSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-section-summary-container"),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ConceptualQuestions: (
    _selectors: ("[data-type = 'chapter'] > .os-conceptual-questions-container"),
    'CompositeHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'CompositeHeader:::font-family': (_ref: 'typography:::sansFont'),
    'CompoundCompositeHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'CompoundCompositeHeader:::font-family': (_ref: 'typography:::sansFont'),
    'SectionLink:::font-family': (_ref:'typography:::titleFont'),
  ),
  ProblemsExercises: (
    _selectors: ("[data-type = 'chapter'] > .os-problems-exercises-container"),
    'CompositeHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'CompositeHeader:::font-family': (_ref: 'typography:::sansFont'),
    'CompositeHeader:::column-span': all,
    'SectionLink:::font-family': (_ref:'typography:::titleFont'),
  ),
));

@include add_settings((
  Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H2Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Preface','carnival:::Preface');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('FigureContainer','carnival:::Figure');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Link', "carnival:::Link");
@include use('Term', 'carnival:::Term');
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('SectionSummary', 'carnival:::EocSectionSummary');
@include use('ConceptualQuestions','carnival:::EocOneColumnClustered');
@include use('ProblemsExercises','carnival:::EocTwoColumnsClustered');
@include use('RegularExercise','carnival:::ExerciseShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('CheckUnderstandingExerciseNote', 'carnival:::IconCondensedExerciseShape');
@include use('PhetExplorationNote', 'carnival:::LogoNoteIconShape');
@include use('IFrame', 'common:::Hidden');

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

.os-eoc.os-glossary-container {
  page: eoc;
  prince-page-group: start;
}

.appendix {
  page: appendix;
  prince-page-group: start;
}

.os-eob[data-type="composite-chapter"] {
  page: eob;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

.appendix {
  page: appendix;
}

.os-eob {
  page: eob;
}

$bandColor: settings('scheme:::B5');
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setPageBorder($page-type, $type, $side) {
  @page #{$page-type}:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setPageBorder("eoc", "left", "left") {
  @include band("left");
}

@include setPageBorder("eoc", "right", "right") {
  @include band("right");
}

@include setPageBorder("eoc", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eoc", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "left", "left") {
  @include band("left");
}

@include setPageBorder("appendix", "right", "right") {
  @include band("right");
}

@include setPageBorder("appendix", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "left", "left") {
  @include band("left");
}

@include setPageBorder("eob", "right", "right") {
  @include band("right");
}

@include setPageBorder("eob", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "blank", "right") {
  content: none;
  border: none;
}