@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
    TOC: (
        _selectors: ('nav#toc'),
        'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
        'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
        'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
    ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'Subtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
    ChapterIntro: (
    _selectors: (".introduction"),
    'Outline:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor")
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Preface','carnival:::Preface');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('ChapterIntro', 'carnival:::ChapterIntroWithAbstractShape');
@include use('FigureContainer','carnival:::Figure');
@include use('Link', "carnival:::Link");
@include use('Term', 'carnival:::Term');

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}
