$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio';


//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
));

@include add_settings((
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Title:::margin-bottom': 0,
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
));

@include add_settings((
    ExercisesProblemLists: (
        _selectors: ('[data-type="problem"]'),
    ),
    ExercisesSolutionLists: (
      _selectors: ('[data-type="solution"]'),
    ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('ChapterIntro', 'corn:::ChapterIntroShape');
@include use('ChapterObjectives', 'corn:::ChapterObjectivesShape');
@include use('Figure','corn:::FigureShape');
@include use('Link', 'corn:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Example', 'corn:::ExampleShape');
@include use('Index', 'corn:::IndexShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//Titles
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('CompositePageTitles', 'corn:::CompositePageTitlesShape');

//Notes
@include use('NoClassNote', 'corn:::BoxedNoteShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('ExercisesProblemLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('ExercisesSolutionLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');

//EoC
@include use('References', 'corn:::ReferencesShape');
@include use('ReviewQuestions', 'corn:::OneColumnExercisesModuleShape');
@include use('CaseQuestions', 'corn:::OneColumnExercisesModuleShape');
@include use('DiscussionQuestions', 'corn:::OneColumnExercisesModuleShape');
@include use('AnswerKeyEoc', 'corn:::AnswerKeyEocShape');
@include use('KeyTerm','corn:::EocKeyTerm');
