$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio';


//Settings

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  ),
));

@include add_settings((
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Title:::margin-bottom': 0,
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Example', 'corn:::ExampleShape');
@include use('Index', 'corn:::IndexShape');

//Chapter Intro
@include use('ChapterOutline', 'corn:::ChapterOutlineShape');

//Figures
@include use('Figure','corn:::FigureShape');
@include use('FigureSplash','corn:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'corn:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','corn:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','corn:::FigureFromExercisesShape');
@include use('FigureAfterEocPara', 'corn:::FigureTopSpacingShape');
@include use('FigureAfterEocSolutionsPara', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterEocPara', 'corn:::ImageTopSpacingShape');
@include use('ImageAfterEocSolutionsPara', 'corn:::ImageTopSpacingShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');
@include use('TableAfterExercisePara', 'corn:::TableTopSpacingShape');

//Titles
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'corn:::ChapterIntroTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('EocCompositePageTitles', 'corn:::CompositePageTitlesShape');
@include use('EobCompositePageTitles', 'corn:::CompositePageTitlesShape');

//Notes
@include use('NoClassNote', 'corn:::BoxedNoteShape');

//Exercises
@include use('ExerciseFromExample', 'corn:::ExerciseFromExampleShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');

//EoC
@include use('ReferencesWithIndentation', 'corn:::ModuleWithIndentationShape');
@include use('ReviewQuestions', 'corn:::ExercisesModuleShape'); // one column
@include use('CaseQuestions', 'corn:::ExercisesModuleShape'); // one column
@include use('DiscussionQuestions', 'corn:::ExercisesModuleShape'); // one column
@include use('KeyTerms','corn:::KeyTermsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');
