//Define all hex values first, then create a map referencing the values belwo
@include add_settings ((
  scheme: (
    B2:    #344456,
    B3:    #0DC0DC,
    B4:    #24739E,
    B5:    #D6D9DD,
    B6:    #D3E3EB,
    Grey1: #F9F9F9,
    Grey2: #F2F2F2,
    Grey3: #757474,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
  ),
));
