//Define all hex values first, then create a map referencing the values belwo
@include add_settings ((
  scheme: (
    P1:    #3B2746,
    P2:    #772949,
    P3:    #9028A3,
    B2:    #344456,
    B3:    #0DC0DC,
    B4:    #24739E,
    B5:    #D6D9DD,
    B6:    #D3E3EB,
    B7:    #027EB5,
    Y1:    #E3A354,
    O1:    #CB634E,
    O2:    #D34D32,
    O3:    #F37541,
    G1:    #1E9575,
    G2:    #F2F2F2,
    Grey1: #F9F9F9,
    Grey2: #757474,
    Grey3: #EAEAEA,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    linkColor: (_ref: "scheme:::B7"),
    tocTitleColor: (_ref: "scheme:::B2"),
    tocBackgroundColor: (_ref: "scheme:::Grey1"),
    tocLinkColor: (_ref: "scheme:::B4"),
    tocNumberBorderColor: (_ref: "scheme:::B3"),
    tocModuleBorderColor: (_ref: "scheme:::G2"),
    learningObjectivesTitleColor: (_ref: "scheme:::B2"),
    captionNumberColor: (_ref: "scheme:::black"),
    captionTextColor: (_ref: "scheme:::Grey2"),
  ),
));
