//global template settings
@import "colors";
@import "typography";

//template parts
@import 'templates/template3/parts/titles-settings';
@import 'templates/template3/parts/eoc-settings';
@import 'templates/template3/parts/link-settings';
@import 'templates/template3/parts/_blockquote-settings';
@import 'templates/template3/parts/toc-settings';
@import 'templates/template3/parts/learning-settings';
@import 'templates/template3/parts/figureimage-settings';
@import 'templates/template3/parts/exercises-settings';
@import 'templates/template3/parts/lists-settings';
@import 'templates/template3/parts/answerkey-settings';

@include add_settings((
  //use these as defaults for the book
  BookRoot: (
    _selectors: (":root"),
    BookRoot: (
      font-family: (_ref: 'typography:::baseFont'), //book default font
      font-size: (_ref: 'typography:::baseFontSize'), //base font size
      line-height: (_ref: 'typography:::baseLineHeight'), //base font height
      color: (_ref: "colorMap:::fontBodyColor"),
      prince-image-resolution: "auto, 200dpi",
      prince-background-image-resolution: 200dpi
    ),
  ),
));
