//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:400,700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:400,700&display=swap&subset=latin,latin-ext');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
    typography: (
        titleFont: ('Roboto Slab', serif, StixGeneral),
        baseFont: ('Noto Sans', sans-serif, StixGeneral),
        mathFont: (StixGeneral),
        baseFontSize: 11px,
        baseLineHeight: 1.4rem,
    )
)); 