@mixin caption-general-style() {
  font-family: font-map(serif);
  font-size: size-scale(-2);
  caption-side: bottom;
  display: inline;
}

@mixin caption-number-style() {
  color: color-map(caption-number);
  border: none;
  font-weight: settings(caption-number-font-weight);
}

@mixin caption-text-style() {
  color: color-map(caption);
  text-align: left;
  page-break-before: avoid;
  line-height: settings(caption-line-height);
}

@mixin center-image() {
  display: block;
  margin: auto;
  max-width: PAGE_CONTENT_WIDTH();
  width: 100%;
}

@mixin caption($captionType) {
  @if ($captionType == figure) or ($captionType == table) {
    > .os-caption-container {
      @include caption-general-style();
      padding-bottom: size-scale(-1);
      @if $captionType == table {
        display: table-caption;
      }
  
      .os-title-label, .os-number, .os-title {
        @include caption-number-style();
      }
  
      .os-number {
        margin-right: size-scale(-4);
      }
  
      .os-caption {
        @include caption-text-style();
        margin-left: size-scale(-5);
      }
    }
  }
  
  @else {
    @error '#{$captionType} is not a valid caption type. Please choose from figure or table'
  }
}