@function default-config() {
  // stylelint-disable meowtec/no-px
  $CONFIG: (
    base-font-size: 10px,
  );
  // stylelint-enable meowtec/no-px
  @return $CONFIG;
}

@function config($name) {
  @if map-has-key($config, $name) {
    @return map-get($config, $name);
  }
  @error "Unknown config option: #{$name}";
}

// Ensure all default keys are available from $config and config()
$config: default-config() !default;
$config: map-merge(default-config(), $config);
