@mixin link-style($link-color) { //tester
  color: $link-color;
  text-decoration: none;
  border-bottom: $link-color solid 0.02em;
  //.scale-padding(-14, padding-bottom);
}
@mixin link-no-border-style($link-color) {
  color: $link-color;
  text-decoration: none;
}
