//Global titles approach

// we support only h1-h5 (defined in framework/_settings), anything beyond that would mean the font-size is smaller than the body font-size. This decision was made because the h1 font-size cannot exceed 23px without becoming too big.
//
@mixin title($type, $format: default){
  $headerSize: index-header-size($type);
  $bookmarkLevel: index-bookmark-level($type);
  $titleColor: #{$type}-title-color;
  $titleFont: #{$type}-font;
  $titleBorderColor: #{$type}-number-border-color;
  $titleBorderSize: title-border-size;

  @if $headerSize == null {
    @error " #{$type} isn't a supported hearder size. Please select a header type from h1 to  h5"
  }

  font: settings($titleFont);
  font-size: size-scale($headerSize);
  color: settings($titleColor);
  line-height: line-height($headerSize);
  bookmark-level: $bookmarkLevel;
  page-break-after: avoid;
  margin: 0;
  padding: 0;

  @if $format == icon {
    span.os-text {
      //todo: create settings for those
      padding: size-scale(1);
      margin-left: size-scale(4);
    }
  }

  @else if $format == numbered {
    span.os-number {
      border: solid settings($titleBorderSize) settings($titleBorderColor);
      color: settings($titleColor);
      padding: size-scale(-6) size-scale(-3);
      vertical-align: middle;
      position: relative;
      top: -2px;
      display: inline;
    }
  }

  @else if  $format != default {
    @error '#{$format} is not a valid title type. Please choose from icon, numbered or default'
  }
}







/// Everything below is deprecated, replace with mixin titles()

/*
  H1 styles (not chapter title):

  Uses: Preface, Appendix, End of Book Solutions, EOB titles, Index

  Style guide: book.2-titles-h1
*/

@mixin titles-h1-style($font: font-map(serif), $title-color: color-map(h1-title), $noMargin: false) {
  font-family: $font;
  color: $title-color;
  font-size: size-scale(5);
  @if $noMargin {
    margin: 0;
  } @else {
    margin-bottom: size-scale(2);
  }

  line-height: line-height(5);
  bookmark-level: 1;
  page-break-after: avoid;
}
@mixin titles-h1-style-numbered($font: font-map(serif), $title-color: color-map(h1-title), $number-border: $h1-number-border, $number-color: $h1-number-color, $noMargin: false) {
  @include titles-h1-style();
  span.os-number {
    border: $number-border;
    color: $number-color !important;
    padding: size-scale(-6) size-scale(-3);
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline;
  }
}
//h2 styles
//used for nested sections in preface, appendix or anywhere outside a chapter, used for module titles in chapters
//
//basic styles for h2
@mixin titles-h2-style($font: font-map(serif), $title-color: color-map(h2-title), $noMargin: fals) {
  font-family: $font;
  color: $title-color;
  font-size: size-scale(3);
  line-height: line-height(3);
  @if $noMargin {
    margin: 0;
  } @else {
    margin-bottom: size-scale(2);
  }
  bookmark-level: 2;
  page-break-after: avoid;
}
@mixin titles-h2-style-numbered($font: font-map(serif), $title-color: color-map(h2-title), $number-border: color-map(h2-number-border), $noMargin: false) {
  @include titles-h2-style();
  .os-number{
    font-size: size-scale(-1);
    border: solid 1px $number-border;
    vertical-align: middle;
    padding: size-scale(-6) size-scale(-3);
    margin-right: size-scale(-1);
  }
}


//style header with icons, uses the font-map, color-map and icon-map.
@mixin titles-h2-style-icon($font: font-map(serif), $title-color: color-map(h2-title), $icon: icon-map(eoc-default-icon), $noMargin: false) {
  @include titles-h2-style();
  background: url('#{$icon}') no-repeat left;
  background-size: contain;
  display: inline-block;
  margin-top: size-scale(4);
  span.os-text {
    padding: size-scale(1);
    margin-left: size-scale(4);
  }
}

//h3 styles
//used for for 1 levels of nesting titles (section nested in section) anywhere in the Contents
@mixin titles-h3-style ($font: font-map(serif), $title-color: color-map(h3-title), $noMargin: false) {
  font-family: $font;
  color: $title-color;
  font-size: size-scale(3);
  line-height: line-height(3);
  @if $noMargin {
    margin: 0;
  } @else {
    margin-bottom: size-scale(2);
  }
  page-break-after: avoid;
}

//h4 styles
//used for 2 levels of nesting titles (section nested in sections nested in section) anywhere in the Contents
@mixin titles-h4-style($font: font-map(serif), $title-color: color-map(h4-title), $noMargin: false) {
  font-family: $font;
  color: $title-color;
  font-size: size-scale(2);
  line-height: line-height(2);
  @if $noMargin {
    margin: 0;
  } @else {
    margin-bottom: size-scale(2);
  }
}

//h5 styles
//used for 3 levels of nesting titles (section nested in sections nested in section, nested in section) anywhere in the Contents
@mixin titles-h5-style($font: font-map(serif), $title-color: color-map(h5-title), $noMargin: false) {
  font-family: $font;
  font-size: size-scale(1);
  line-height: line-height(1);
  color: $title-color;
  @if $noMargin {
    margin: 0;
  } @else {
    margin-bottom: size-scale(2);
  }
}
