$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
    TocNoUnit: (
    _selectors: ('nav#toc'),
    'TocTitle:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'TocTitle:::border-bottom-color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'ChapterLinkText:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    ),
));

@include use('BookRoot', "common:::BookRoot");

// Book specific styles
@include use('TocNoUnit', 'carnival:::TocNoUnitShape');
