//Define all hex values first, then create a map referencing the values below
@include add_settings ((
  scheme: (
    P1:    #3B2746,
    P2:    #772949,
    P3:    #9028A3,
    P4:    #EAE8EB,
    P5:    #f4eaf6,
    B2:    #344456,
    B3:    #0DC0DC,
    B4:    #24739E,
    B5:    #D6D9DD,
    B6:    #D3E3EB,
    B7:    #027EB5,
    B8:    #2E3092,
    Y1:    #E3A354,
    Y2:    #fcf6ee,
    O1:    #CB634E,
    O2:    #D34D32,
    O3:    #F37541,
    R1:    #CC0000,
    G1:    #1E9575,
    GR:    #18775D,
    G2:    #F2F2F2,
    G3:    #18775D,
    Grey1: #F9F9F9,
    Grey2: #757474,
    Grey3: #EAEAEA,
    Grey4: #E6EAEE,
    Grey5: #5C5C5C,
    black: #000000,
    white: #FFFFFF,
    BR1:   #A35200,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    titleColor: (_ref: "scheme:::B4"),
    titleColorAstronomy: (_ref: "scheme:::P2"),
    eocTitleColorAstronomy: (_ref: "scheme:::P1"),
    titleAppendixBorderColor: (_ref: "scheme:::B2"),
    titleAppendixBorderColorAstronomy: (_ref: "scheme:::Y1"),
    titleSectionBorderColor: (_ref: "scheme:::B3"),
    titleSectionBorderColorAstronomy: (_ref: "scheme:::Y1"),
    chapterOutlineTitleColor: (_ref: "scheme:::B2"),
    chapterOutlineTitleColorAstronomy: (_ref: "scheme:::P2"),
    chapterIntrolLinkColor: (_ref: "scheme:::B3"),
    chapterIntrolLinkWithLOColor: (_ref: "scheme:::B4"),
    chapterOutlineBarColor: (_ref: "scheme:::G2"),
    introContentHeaderColor: (_ref: "scheme:::B2"),
    introContentHeaderColorAstronomy: (_ref: "scheme:::P2"),
    chapterTitleColor: (_ref: "scheme:::white"),
    chapterTitleColorAstronomy: (_ref: "scheme:::P1"),
    chapterTitleNumberBgColor: (_ref: "scheme:::white"),
    chapterTitleBgColor: (_ref: "scheme:::B4"),
    chapterTitleBgColorAstronomy: (_ref: "scheme:::O1"),
    chapterTitleNumberColor: (_ref: "scheme:::B4"),
    chapterTitleNumberColorAstronomy: (_ref: "scheme:::P2"),
    chapterTitleBorderColorAstronomy: (_ref: "scheme:::P2"),
    chapterTitleBorderColor: (_ref: "scheme:::B2"),
    equationNumberColor: (_ref: "scheme:::black"),
    linkColor: (_ref: "scheme:::B7"),
    tocTitleColor: (_ref: "scheme:::B2"),
    tocTitleColorAstronomy: (_ref: "scheme:::P1"),
    tocBackgroundColor: (_ref: "scheme:::Grey1"),
    tocLinkColor: (_ref: "scheme:::B4"),
    tocLinkColorAstronomy: (_ref: "scheme:::P2"),
    tocNumberBorderColor: (_ref: "scheme:::B3"),
    tocNumberBorderColorAstronomy: (_ref: "scheme:::Y1"),
    tocModuleBorderColor: (_ref: "scheme:::G2"),
    learningObjectivesTitleColor: (_ref: "scheme:::B2"),
    learningObjectivesTitleColorAstronomy: (_ref: "scheme:::P2"),
    captionNumberColor: (_ref: "scheme:::black"),
    captionTextColor: (_ref: "scheme:::Grey2"),
    tableTopTitleColor: (_ref: "scheme:::black"),
    tableCellBorderColor: (_ref: "scheme:::G2"),
    tableFirstHeaderColor: (_ref: "scheme:::B2"),
    tableRowGreyShadingColor: (_ref: "scheme:::G2"),
    tableRowPurpleShadingColor: (_ref: "scheme:::P5"),
    tableRowYellowShadingColor: (_ref: "scheme:::Y2"),
    astronomyTableFirstHeaderColor: (_ref: "scheme:::P1"),
    tableFirstHeaderBgColor: (_ref: "scheme:::B3"),
    astronomyTableFirstHeaderBgColor: (_ref: "scheme:::Y1"),
    textheavyTableHeaderBgColor: (_ref: "scheme:::G2"),
    tableCellColor: (_ref: "scheme:::black"),
    timelineTableBorderColor: (_ref: "scheme:::B2"),
    footnoteColor: (_ref: "scheme:::Grey2"),
    noteOption1HeaderBackgroundColor: (_ref: "scheme:::B3"),
    noteOption1BodyBackgroundColor: (_ref: "scheme:::G2"),
    noteOption1HeaderColor: (_ref: "scheme:::B2"),
    noteOption2HeaderBackgroundColor: (_ref: "scheme:::B4"),
    noteOption2BodyBackgroundColor: (_ref: "scheme:::B6"),
    noteOption2HeaderColor: (_ref: "scheme:::white"),
    noteOption3HeaderBackgroundColor: (_ref: "scheme:::O2"),
    noteOption3BodyBackgroundColor: (_ref: "scheme:::B5"),
    noteOption3HeaderColor: (_ref: "scheme:::black"),
    noteOption4HeaderBackgroundColor: (_ref: "scheme:::white"),
    noteOption4BodyBackgroundColor: (_ref: "scheme:::white"),
    noteOption4HeaderColor: (_ref: "scheme:::B2"),
    noteOption4BorderColor: (_ref: "scheme:::Grey3"),
    noteOption4TitleTopBorderColor: (_ref: "scheme:::O2"),
    noteOption5HeaderBackgroundColor: (_ref: "scheme:::B2"),
    noteOption5BodyBackgroundColor: (_ref: "scheme:::B5"),
    noteOption5HeaderColor: (_ref: "scheme:::white"),
    noteOption6HeaderBackgroundColor: (_ref: "scheme:::P2"),
    noteOption6BodyBackgroundColor: (_ref: "scheme:::Grey4"),
    noteOption6HeaderColor: (_ref: "scheme:::white"),
    noteOption7HeaderColor: (_ref: "scheme:::white"),
    noteOption7HeaderBackgroundColor: (_ref: "scheme:::P1"),
    noteOption7BodyBackgroundColor: (_ref: "scheme:::P4"),
    noteOption7SubtitleColor: (_ref: "scheme:::P1"),
    noteOption8HeaderColor: (_ref: "scheme:::black"),
    noteOption8HeaderBackgroundColor: (_ref: "scheme:::O2"),
    noteOption8BodyBackgroundColor: (_ref: "scheme:::Grey1"),
    noteOption8SubtitleColor: (_ref: "scheme:::P1"),
    noteSubtitleColor: (_ref: "scheme:::B2"),
    calculatorDark: (_ref: "scheme:::B2"),
    calculatorLight: (_ref: "scheme:::B5"),
    rCodeBackgroundColor: (_ref: "scheme:::Grey1"), 
    rCodeCommentColor: (_ref: "scheme:::R1"),
    rCodeBuiltInColor: (_ref: "scheme:::Grey5"),
    rCodeNumberColor: (_ref: "scheme:::G3"),
    rCodeLiteralColor: (_ref: "scheme:::B8"),
    indexGroupLabelColor: (_ref: "scheme:::B2"),
    indexGroupLabelColorAstronomy: (_ref: "scheme:::P1"),
    tableHeaderColor: (_ref: "scheme:::white"),
    astronomyTableHeaderColor: (_ref: "scheme:::white"),
    tableHeaderBgColor: (_ref: "scheme:::B4"),
    astronomyTableHeaderBgColor: (_ref: "scheme:::P2"),
    textheavyTableHeaderBottomBorderColor: (_ref: "scheme:::B5"),
    emphasizedTextColor: (_ref: "scheme:::R1"),
    exampleTitleColor: (_ref: "scheme:::white"),
    exampleTitleBackgroundColor: (_ref: "scheme:::B4"),
    exampleBodyBackgroundColor: (_ref: "scheme:::Grey3"),
    exampleSubtitleColor: (_ref: "scheme:::P1"),
    codeCommentColor: (_ref: "scheme:::GR"),
    codeKeywordColor: (_ref: "scheme:::P3"),
    codeFunctionColor: (_ref: "scheme:::black"),
    codeTitleColor: (_ref: "scheme:::Grey5"),
    codeParamsColor: (_ref: "scheme:::black"),
    codeStringColor: (_ref: "scheme:::R1"),
    codeBuiltInColor: (_ref: "scheme:::B8"),
    codeNumberColor: (_ref: "scheme:::BR1"),
  ),
));
