//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('./downloaded-fonts/Roboto-Condensed.css');
@import url('./downloaded-fonts/Noto-Sans.css');
@import url('./downloaded-fonts/IBM-Plex-Sans.css');
@import url('./downloaded-fonts/Dosis.css');
@import url('./downloaded-fonts/Courier-Prime.css');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
    typography: (
        sansFont: ('Noto Sans', sans-serif, StixGeneral),
        titleFont: ('Roboto Condensed', StixGeneral),
        titleFontAstronomy: ('Dosis', StixGeneral),
        baseFont: ('Noto Sans', StixGeneral),
        eobTitleFont: ("IBM Plex Sans", sans-serif, StixGeneral),
        mathFont: (StixGeneral),
        monospaceFont: ('Courier Prime', monospace),
        baseFontSize: 12px,
        baseLineHeight: 1.5rem,
    )
));
