//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:wght@200;400;500,700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
    typography: (
        sansFont: ('Noto Sans', sans-serif, StixGeneral),
        titleFont: ('Roboto Condensed', StixGeneral),
        titleFontAstronomy: ('Dosis', StixGeneral),
        baseFont: ('Noto Sans', StixGeneral),
        eobTitleFont: ("IBM Plex Sans", sans-serif, StixGeneral),
        mathFont: (StixGeneral),
        monospaceFont: ('Courier Prime', monospace),
        baseFontSize: 12px,
        baseLineHeight: 1.5rem,
    )
)); 