@use '../../lib/carnival/carnival';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/design';
@import '../../design-settings/carnival/settings';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    'FigureSplashBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterObjectiveLink:::font-weight': bold,
  ),
));

@include add_settings((
  TOC: (
      _selectors: ('nav#toc'),
      'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
      'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
      'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
  LearningObjectivesSection: (
    _selectors: ('[data-type="page"]:not(.introduction) > section.learning-objectives'),
    'H3ObjectivesTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'ObjectivesListDot:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    ),
));

// Notes
@include add_settings((
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  CheckUnderstandingExerciseNote:(
    _selectors: ('[data-element-type="check-understanding"]'),
    'Container:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'SolutionTitle:::font-family': (_ref: "typography:::sansFont"),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
  ),
  PhetExplorationNote:(
    _selectors: (".interactive"),
    group-border-color: (_ref: 'colorMap:::phetColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::phetColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-phet.svg")) no-repeat top left,
    'LogoIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/phet-logo.svg")) no-repeat right bottom,
    'LogoIcon:::margin-bottom': .2rem,
  ),
));

// EOC
@include add_settings((
  ConceptualQuestions: (
    _selectors: ("[data-type = 'chapter'] > .os-conceptual-questions-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  ProblemsExercises: (
    _selectors: ("[data-type = 'chapter'] > .os-problems-exercises-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

// Tables
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.top-titled'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2ModuleTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.preface', '.os-glossary-container', '.os-section-summary-container',
                 '.os-conceptual-questions-container', '.os-problems-exercises-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Book specific styles
@include use('TOC', 'carnival:::NoUnitToc');
@include use('LearningObjectivesSection', 'carnival:::LearningObjectivesColoredDotShape');
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Chapter Intro
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

// Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureSplash','carnival:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');

// Tables
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');

// Equations
@include carnival.numbered-equation();

// EOC
@include use('KeyTerms', 'carnival:::KeyTermsShape');

// EoC Exercises
@include use('ConceptualQuestions','carnival:::ExercisesModuleShape');
@include use('ProblemsExercises','carnival:::ExercisesModuleShape');

// Notes
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::ExampleShape');
@include use('CheckUnderstandingExerciseNote', 'carnival:::IconCondensedExerciseShape');
@include use('PhetExplorationNote', 'carnival:::LogoNoteIconShape');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use('TableLists', 'carnival:::TableListShape');
@include use("NotesLists", "carnival:::NotesListsShape");

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'carnival:::ChapterIntroTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');

// EOB
@include use('Index', 'carnival:::IndexShape');

