$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/design';
@import '../../design-settings/carnival/settings';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
    TOC: (
        _selectors: ('nav#toc'),
        'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
        'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
        'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
    ),
));

@include add_settings((
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitleFullWidth:::color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineFullWidth:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitleBottomBorder:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
));

@include add_settings((
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'TitleText:::display': inline-block,
    'TitleText:::word-wrap': normal,
    'TitleText:::margin-bottom': .2rem,
    'TitleText:::margin-left': h-spacing(1),
    'Subtitle:::margin-bottom': .2rem,
    'ParagraphSubtitle:::font-weight': bold,
    'ParagraphSubtitle:::font-family': (_ref: "typography:::sansFont"),
  ),
  CheckUnderstandingExerciseNote:(
    _selectors: ('[data-element-type="check-understanding"]'),
    'Solution:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'SolutionTitle:::font-family': (_ref: "typography:::sansFont"),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
  ),
  PhetExplorationNote:(
    _selectors: (".interactive"),
    group-border-color: (_ref: 'colorMap:::phetColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::phetColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-phet.svg")) no-repeat top left,
    'LogoIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/phet-logo.svg")) no-repeat right bottom,
    'LogoIcon:::margin-bottom': .2rem,
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-section-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  ConceptualQuestions: (
    _selectors: ("[data-type = 'chapter'] > .os-conceptual-questions-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': column-v-spacing(1),
  ),
  ProblemsExercises: (
    _selectors: ("[data-type = 'chapter'] > .os-problems-exercises-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': column-v-spacing(1),
  ),
));

@include add_settings((
  Appendix: (
    _selectors: (".appendix"),
    'H3AppendixGlossaryTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.top-titled'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H5Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('Figure','carnival:::FigureShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Link', "carnival:::Link");
@include use('ContentExercises','carnival:::ExerciseShape');
//EOC
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('EocSummary', 'carnival:::EocSummary');
@include use('ConceptualQuestions','carnival:::EOCAssesmentsShape');
@include use('ProblemsExercises','carnival:::EOCAssesmentsShape');



@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('CheckUnderstandingExerciseNote', 'carnival:::IconCondensedExerciseShape');
@include use('PhetExplorationNote', 'carnival:::LogoNoteIconShape');
@include use('IFrame', 'common:::Hidden');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
