//Folio content strings
[data-type="chapter"] > h1[data-type="document-title"] {
    .os-number {
      string-set: chapter-number content();
  }
    .os-text {
      string-set: chapter-title content();
    }
  }
  
  [data-type="chapter"] > {
    [data-type="page"].introduction .intro-text > h2[data-type="document-title"] {
      string-set: module-number string(chapter-number);
      
      .os-text {
        string-set: module-title "Introduction";
      }
    }
    [data-type="page"]:not(.introduction) > h2[data-type="document-title"] {
      .os-number {
        string-set: module-number content();
      }
      .os-text {
        string-set: module-title content();
      }
    }
  }
  
  .os-eoc > h2[data-type="document-title"] {
    .os-text {
      string-set: eoc-title content();
    }
  }
  
  .appendix > h1[data-type="document-title"] {
    .os-number {
      string-set: appendix-number content();
  }
    .os-text {
      string-set: appendix-title content();
    }
  }
  
  div[data-type="composite-page"].os-eob > h1[data-type="document-title"] {
    .os-text {
      string-set: eob-title content();
    }
  }
  
  //Page definitions
  nav#toc {
    page: table-of-contents;
  }
  
  div[data-type="page"].preface {
    page: preface;
    counter-reset: page 1;
  }
  
  .os-eoc {
    page: eoc;
  }
  
  [data-type="chapter"] {
    page: chapter;
    prince-page-group: start;
  }
  
  div[data-type="page"].appendix {
    page: appendix;
  }
  
  div[data-type="composite-page"].os-eob {
    page: eob;
  }
  
  
  //Unnumbered pages
  @page chapter:nth(1) {
    @top-left-corner {
      content: none;
    }
    @top-right-corner {
      content: none;
    }
    @top-left {
      content: none;
    }
    @top-center {
      content: none;
    }
    @top-right {
      content: none;
    }
  }
  
  @page table-of-contents {
    @top-left-corner {
      content: none;
    }
    @top-left {
      content: none;
    }
    @top-right-corner {
      content: none;
    }
    @top-right {
      content: none;
    }
  }
  
  //Numbered pages
  @mixin folioStyles() {
    font-size: font-scale(-1);
    font-family:('Mulish', sans-serif);
    color: #A5A5A5; 
    font-weight: 700;
  }
  
  @mixin folio($leftContent, $rightContent, $bottomContent, $page: null ) {
    @page #{$page}:left {
      @top-left {
        @include folioStyles();
        content: $leftContent;
      }
      @top-left-corner {
        @include folioStyles();
        content: counter(page);
        margin-right: h-spacing(5);
      }
      @bottom-left {
          @include folioStyles();
          content: $bottomContent;
      }
    }
  
    @page #{$page}:right {
      @top-right {
        @include folioStyles();
        content: $rightContent;
      }
      @top-right-corner {
        @include folioStyles();
        content: counter(page);
        margin-left: h-spacing(5);
      }
    }
  }
  
  @mixin folioWithBand($leftContent, $rightContent, $bottomContent, $page) {
      @page #{$page}:left {
        @top-left {
          @include folioStyles();
          content: counter(page) "\00a0\00a0\00a0\00a0\00a0" $leftContent;
        }
        @bottom-left {
          @include folioStyles();
          content: $bottomContent;
      }
      }
    
      @page #{$page}:right {
        @top-right {
          @include folioStyles();
          content: $rightContent "\00a0\00a0\00a0\00a0\00a0" counter(page);
        }
      }
    }
  
  $defaultLeftContent: string(chapter-number) " • " string(chapter-title);
  $defaultRightContent: string(module-number) " • " string(module-title);
  $accessContent: "Acceso gratis en openstax.org";
  $prefaceContent: "Prefacio";
  $eocContent: string(chapter-number) " • " string(eoc-title);
  $appendixContent: string(appendix-number) " • " string(appendix-title);
  $eobContent: string(eob-title);
  @include folio($defaultLeftContent, $defaultRightContent, $accessContent);
  @include folio($prefaceContent, $prefaceContent, $accessContent, preface );
  @include folioWithBand($eocContent, $eocContent, $accessContent, eoc);
  @include folioWithBand($appendixContent, $appendixContent, $accessContent, appendix);
  @include folioWithBand($eobContent, $eobContent, $accessContent, eob);
  
  // Pages margins
  @page {
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 0.8in;
    margin-top: 0.8in;
    size: A4;
  }
  
  @if $ChapterIntroType == side {
    @page chapter:first {
      margin-right: 2in;
    }
    
    @page chapter:nth(2) {
      margin-right: 2in;
    }
  }
  