@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap&subset=latin,latin-ext");
nav#toc > ol > .os-toc-unit > a > .os-text,
nav#toc > ol > .os-toc-unit > a,
nav#toc > ol > .os-toc-unit > ol > .os-toc-chapter > a > .os-number,
nav#toc > ol > .os-toc-chapter > a > .os-number {
  page-break-after: avoid; }

nav#toc {
  page-break-after: always; }

h1, h2, h3, h4, h5, h6,
[data-type="document-title"],
[data-type="title"] {
  break-after: avoid;
  break-inside: avoid; }

.learning-objectives,
.learning-objective,
[data-type="page"]:not(.introduction) > [data-type="abstract"] {
  page-break-inside: avoid;
  page-break-before: avoid; }

[data-type="chapter"] .os-table,
.os-table {
  page-break-inside: auto; }
  [data-type="chapter"] .os-table thead,
  .os-table thead {
    page-break-after: avoid; }
  [data-type="chapter"] .os-table tr,
  .os-table tr {
    page-break-inside: avoid; }

.os-table.os-top-titled-container > .os-table-title {
  page-break-after: avoid; }

.os-table.os-top-captioned-container > .os-top-caption {
  page-break-after: avoid; }

.footnote {
  page-break-inside: avoid; }

[data-type="footnote-refs"]::before {
  page-break-after: avoid; }

p.has-noteref {
  page-break-inside: avoid; }

.os-index-container {
  page-break-before: right;
  page-break-after: left; }
  .os-index-container .group-label {
    page-break-after: avoid; }
  .os-index-container .group-by > .os-index-item:first-of-type {
    break-before: avoid; }
  .os-index-container .index-term, .os-index-container .os-term {
    page-break-inside: avoid; }
  .os-index-container .os-term-section-link {
    page-break-after: avoid; }

.os-eoc > section > [data-type="exercise"] {
  page-break-inside: avoid; }

.os-eos > section.section-exercises > section > [data-type="exercise"] {
  page-break-inside: avoid; }

div.preface,
div[data-type="chapter"],
div.appendix,
div.os-solution-container[data-type="composite-chapter"],
div.os-solutions-container[data-type="composite-chapter"],
div.os-eob.os-references-container[data-type="composite-page"] {
  page-break-before: right;
  page-break-after: left; }

.os-caption-container {
  page-break-before: avoid; }

[data-type="equation"] {
  page-break-inside: avoid; }

.introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective {
  page-break-after: avoid; }
  .introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective > .os-number,
  .introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective > .os-text {
    page-break-after: avoid; }

.os-chapter-outline > div.os-chapter-objective > div.learning-objective {
  page-break-inside: auto; }

/* stylelint-disable-next-line meowtec/no-px */
* {
  box-sizing: border-box; }

[data-type="composite-chapter"] p, [data-type="composite-chapter"] section, [data-type="composite-chapter"] table, [data-type="composite-chapter"] ul, [data-type="composite-chapter"] ol, [data-type="composite-chapter"] li, [data-type="composite-chapter"] dl, [data-type="composite-chapter"] h1, [data-type="composite-chapter"] h2, [data-type="composite-chapter"] h3, [data-type="composite-chapter"] h4, [data-type="composite-chapter"] h5,
[data-type="page"] p,
[data-type="page"] section,
[data-type="page"] table,
[data-type="page"] ul,
[data-type="page"] ol,
[data-type="page"] li,
[data-type="page"] dl,
[data-type="page"] h1,
[data-type="page"] h2,
[data-type="page"] h3,
[data-type="page"] h4,
[data-type="page"] h5,
[data-type="composite-page"] p,
[data-type="composite-page"] section,
[data-type="composite-page"] table,
[data-type="composite-page"] ul,
[data-type="composite-page"] ol,
[data-type="composite-page"] li,
[data-type="composite-page"] dl,
[data-type="composite-page"] h1,
[data-type="composite-page"] h2,
[data-type="composite-page"] h3,
[data-type="composite-page"] h4,
[data-type="composite-page"] h5 {
  margin: 0;
  padding: 0; }

[data-type="composite-chapter"] p,
[data-type="page"] p,
[data-type="composite-page"] p {
  margin-bottom: 0.7rem; }

[data-type="composite-chapter"] section,
[data-type="page"] section,
[data-type="composite-page"] section {
  margin-bottom: 0.7rem; }

[data-type="composite-chapter"] table,
[data-type="page"] table,
[data-type="composite-page"] table {
  margin-bottom: 0.7rem; }

[data-type="composite-chapter"] ul,
[data-type="page"] ul,
[data-type="composite-page"] ul {
  margin-bottom: 0.7rem; }

[data-type="composite-chapter"] ol,
[data-type="page"] ol,
[data-type="composite-page"] ol {
  margin-bottom: 0.7rem; }

math {
  vertical-align: middle; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

/* stylelint-disable-next-line meowtec/no-px */
a[href^="http"]::after {
  content: " (" attr(href) ") ";
  overflow-wrap: break-word; }

ol.os-stepwise {
  list-style-type: none; }

ul[data-labeled-item="true"] {
  list-style-type: none; }

.os-math-in-para {
  white-space: nowrap; }

span[data-type="term"]:not(.no-emphasis) {
  font-weight: bold; }

h3, h4, h5 {
  bookmark-level: none; }

p.has-noteref {
  margin-bottom: -0.7rem; }

pre > span {
  white-space: normal;
  vertical-align: top;
  display: inline-block; }

.os-eoc.os-glossary-container {
  page: eoc;
  prince-page-group: start; }

.os-eoc {
  page: eoc; }

.os-eob[data-type="composite-page"] {
  page: eob;
  prince-page-group: start; }

.os-eob {
  page: eob; }

@page eoc:left {
  @left-middle {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @top-left-corner {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @bottom-left-corner {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @left-bottom {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @left-top {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; } }

@page eoc:right {
  @right-middle {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @top-right-corner {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @bottom-right-corner {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @right-bottom {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @right-top {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; } }

@page eoc:blank {
  @left-middle {
    content: none;
    border: none; }
  @top-left-corner {
    content: none;
    border: none; }
  @bottom-left-corner {
    content: none;
    border: none; }
  @left-bottom {
    content: none;
    border: none; }
  @left-top {
    content: none;
    border: none; } }

@page eoc:blank {
  @right-middle {
    content: none;
    border: none; }
  @top-right-corner {
    content: none;
    border: none; }
  @bottom-right-corner {
    content: none;
    border: none; }
  @right-bottom {
    content: none;
    border: none; }
  @right-top {
    content: none;
    border: none; } }

@page eob:left {
  @left-middle {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @top-left-corner {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @bottom-left-corner {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @left-bottom {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; }
  @left-top {
    content: " ";
    border-left: 0.65in solid #00819A;
    padding: 2.4rem 0 2.4rem 2.4rem;
    margin: -1.2rem 0 -1.2rem -1.2rem; } }

@page eob:right {
  @right-middle {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @top-right-corner {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @bottom-right-corner {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @right-bottom {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; }
  @right-top {
    content: " ";
    border-right: 0.65in solid #00819A;
    padding: 2.4rem 2.4rem 2.4rem 0;
    margin: -1.2rem -1.2rem -1.2rem 0; } }

@page eob:blank {
  @left-middle {
    content: none;
    border: none; }
  @top-left-corner {
    content: none;
    border: none; }
  @bottom-left-corner {
    content: none;
    border: none; }
  @left-bottom {
    content: none;
    border: none; }
  @left-top {
    content: none;
    border: none; } }

@page eob:blank {
  @right-middle {
    content: none;
    border: none; }
  @top-right-corner {
    content: none;
    border: none; }
  @bottom-right-corner {
    content: none;
    border: none; }
  @right-bottom {
    content: none;
    border: none; }
  @right-top {
    content: none;
    border: none; } }

@page {
  @footnotes {
    border-top-color: #000000;
    border-top-width: 0.5pt;
    border-top-style: solid;
    display: block;
    margin-top: 0.7rem; } }

/* stylelint-disable-next-line meowtec/no-px */
/* stylelint-disable-next-line meowtec/no-px */
[data-type="chapter"] > h1[data-type="document-title"] .os-number {
  string-set: chapter-number content(); }

[data-type="chapter"] > h1[data-type="document-title"] .os-text {
  string-set: chapter-title content(); }

[data-type="chapter"] > [data-type="page"].introduction .intro-text > h2[data-type="document-title"] {
  string-set: module-number string(chapter-number); }
  [data-type="chapter"] > [data-type="page"].introduction .intro-text > h2[data-type="document-title"] .os-text {
    string-set: module-title "Introduction"; }

[data-type="chapter"] > [data-type="page"]:not(.introduction) > h2[data-type="document-title"] .os-number {
  string-set: module-number content(); }

[data-type="chapter"] > [data-type="page"]:not(.introduction) > h2[data-type="document-title"] .os-text {
  string-set: module-title content(); }

.os-eoc > h2[data-type="document-title"] .os-text {
  string-set: eoc-title content(); }

.appendix > h1[data-type="document-title"] .os-number {
  string-set: appendix-number content(); }

.appendix > h1[data-type="document-title"] .os-text {
  string-set: appendix-title content(); }

div[data-type="composite-page"].os-eob > h1[data-type="document-title"] .os-text {
  string-set: eob-title content(); }

nav#toc {
  page: table-of-contents; }

div[data-type="page"].preface {
  page: preface;
  counter-reset: page 1; }

.os-eoc {
  page: eoc; }

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start; }

div[data-type="page"].appendix {
  page: appendix; }

div[data-type="composite-page"].os-eob {
  page: eob; }

@page chapter:nth(1) {
  @top-left-corner {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page table-of-contents {
  @top-left-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-right {
    content: none; } }

@page :left {
  @top-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: string(chapter-number) " • " string(chapter-title); }
  @top-left-corner {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page);
    margin-right: 40px; }
  @bottom-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Access for free at openstax.org."; } }

@page :right {
  @top-right {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: string(module-number) " • " string(module-title); }
  @top-right-corner {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page);
    margin-left: 40px; } }

@page preface:left {
  @top-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Preface"; }
  @top-left-corner {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page);
    margin-right: 40px; }
  @bottom-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Access for free at openstax.org."; } }

@page preface:right {
  @top-right {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Preface"; }
  @top-right-corner {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page);
    margin-left: 40px; } }

@page eoc:left {
  @top-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page) "     " string(chapter-number) " • " string(eoc-title); }
  @bottom-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Access for free at openstax.org."; } }

@page eoc:right {
  @top-right {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: string(chapter-number) " • " string(eoc-title) "     " counter(page); } }

@page appendix:left {
  @top-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page) "     " string(appendix-number) " • " string(appendix-title); }
  @bottom-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Access for free at openstax.org."; } }

@page appendix:right {
  @top-right {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: string(appendix-number) " • " string(appendix-title) "     " counter(page); } }

@page eob:left {
  @top-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: counter(page) "     " string(eob-title); }
  @bottom-left {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: "Access for free at openstax.org."; } }

@page eob:right {
  @top-right {
    font-size: 0.83333rem;
    font-family: "Mulish", sans-serif;
    color: #A5A5A5;
    font-weight: 700;
    content: string(eob-title) "     " counter(page); } }

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in; }

:root {
  font-family: IBM Plex Serif, serif;
  font-size: 12px;
  line-height: 1.4rem;
  color: #000000;
  prince-image-resolution: auto, 200dpi;
  prince-background-image-resolution: 200dpi; }

nav#toc > .os-toc-title {
  font-size: 4.29982rem;
  line-height: 3rem;
  color: #0074BC;
  display: block;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: lighter;
  border-bottom: 0.5rem solid;
  border-bottom-color: #0074BC;
  margin-bottom: 2.8rem;
  padding-bottom: 1.4rem; }

nav#toc > ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: inline; }

nav#toc > ol > .os-toc-preface {
  display: block;
  margin-bottom: 1.4rem; }

nav#toc > ol > .os-toc-preface > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-preface > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-chapter {
  display: block;
  margin-bottom: 1.4rem; }

nav#toc > ol > .os-toc-chapter > a > .os-number {
  display: block;
  text-decoration: none;
  color: #0074BC;
  font-family: Mulish, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

nav#toc > ol > .os-toc-chapter > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.728rem;
  line-height: 1.5rem;
  font-weight: bolder;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #000000; }

nav#toc > ol > .os-toc-chapter > ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page {
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page > a {
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page {
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page > a {
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-composite-chapter > ol {
  display: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-composite-chapter > a {
  font-family: IBM Plex Serif, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-composite-chapter > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-appendix {
  margin-bottom: 0.7rem; }

nav#toc > ol > .os-toc-appendix > a > .os-number {
  text-decoration: none;
  font-family: Mulish, sans-serif;
  font-weight: bolder; }

nav#toc > ol > .os-toc-appendix > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-appendix > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-references {
  display: block;
  margin-bottom: 1.4rem; }

nav#toc > ol > .os-toc-references > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-references > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-index {
  display: block;
  margin-bottom: 1.4rem; }

nav#toc > ol > .os-toc-index > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-index > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-composite-chapter {
  display: block;
  margin-bottom: 1.4rem; }

nav#toc > ol > .os-toc-composite-chapter > ol {
  display: none; }

nav#toc > ol > .os-toc-composite-chapter > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-composite-chapter > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > h3[data-type="title"] {
  color: #0074BC;
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > p {
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > ul {
  margin-left: 24px; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > ul > li {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > ul > li::marker {
  color: #0074BC; }

.os-table:not(.os-unstyled-container) {
  margin-bottom: 1.4rem;
  display: table;
  margin-left: auto;
  margin-right: auto; }

.os-table:not(.os-unstyled-container) > table {
  border-collapse: collapse; }

.os-table:not(.os-unstyled-container) > table > thead > tr > th {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  padding: 0.7rem; }

.os-table:not(.os-unstyled-container) > table > thead > tr > th[data-valign=top] {
  vertical-align: top; }

.os-table:not(.os-unstyled-container) > table > thead > tr > th[data-align=left] {
  text-align: left; }

.os-table:not(.os-unstyled-container) > table > thead > tr > th[data-align=right] {
  text-align: right; }

.os-table:not(.os-unstyled-container) > table > thead > tr > th[data-align=center] {
  text-align: center; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td[data-valign=top] {
  vertical-align: top; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td[data-align=left] {
  text-align: left; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td[data-align=right] {
  text-align: right; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td[data-align=center] {
  text-align: center; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td:not(:only-of-type) {
  font-family: IBM Plex Serif, serif;
  border-left: 0.025rem solid black;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td:not(:only-of-type) > ul {
  margin-left: 0.7rem; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td:not(:only-of-type) > ul[data-bullet-style='none'] {
  list-style-type: none; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td:first-of-type:not(:only-of-type) {
  border-left: none;
  border-right: 0.025rem solid black; }

.os-table:not(.os-unstyled-container) > table > tbody > tr > td {
  border-bottom: 0.025rem solid black;
  padding: 0.7rem; }

.os-table:not(.os-unstyled-container) > table > tbody > tr:last-of-type > td:only-of-type {
  border-right: none; }

.os-table:not(.os-unstyled-container) > table > tbody > tr:last-of-type > td {
  border-bottom-color: #C31427;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid; }

.os-table:not(.os-unstyled-container) .os-caption-container {
  font-size: 1rem; }

.os-table:not(.os-unstyled-container) .os-caption-container > .os-title-label {
  font-weight: bold;
  font-family: Mulish, sans-serif;
  text-transform: uppercase;
  color: #C31427; }

.os-table:not(.os-unstyled-container) .os-caption-container > .os-number {
  font-weight: bold;
  font-family: Mulish, sans-serif;
  color: #C31427; }

.os-figure:not(.has-splash) > figure {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.os-figure:not(.has-splash) .os-caption-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7rem;
  font-size: 1rem;
  line-height: 1.5rem; }

.os-figure:not(.has-splash) .os-caption-container > .os-title-label {
  font-family: Mulish, sans-serif;
  font-weight: bold;
  color: #C31427;
  text-transform: uppercase; }

.os-figure:not(.has-splash) .os-caption-container > .os-number {
  font-family: Mulish, sans-serif;
  font-weight: bold;
  color: #C31427;
  display: inline-block;
  margin-right: 8px; }

.os-figure:not(.has-splash) .os-caption-container > .os-title {
  font-family: Mulish, sans-serif;
  font-weight: bold; }

.os-figure:not(.has-splash) .os-caption-container > .os-caption {
  font-family: IBM Plex Sans, sans-serif; }

.os-figure:not(.has-splash) .os-caption-container > .os-divider {
  margin: 0; }

/*# sourceMappingURL=anthropology-pdf.css.map */