@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap");
* {
  box-sizing: border-box; }

[data-type="composite-chapter"] p, [data-type="composite-chapter"] section, [data-type="composite-chapter"] table, [data-type="composite-chapter"] ul, [data-type="composite-chapter"] li, [data-type="composite-chapter"] dl, [data-type="composite-chapter"] h1, [data-type="composite-chapter"] h2, [data-type="composite-chapter"] h3, [data-type="composite-chapter"] h4, [data-type="composite-chapter"] h5,
[data-type="page"] p,
[data-type="page"] section,
[data-type="page"] table,
[data-type="page"] ul,
[data-type="page"] li,
[data-type="page"] dl,
[data-type="page"] h1,
[data-type="page"] h2,
[data-type="page"] h3,
[data-type="page"] h4,
[data-type="page"] h5,
[data-type="composite-page"] p,
[data-type="composite-page"] section,
[data-type="composite-page"] table,
[data-type="composite-page"] ul,
[data-type="composite-page"] li,
[data-type="composite-page"] dl,
[data-type="composite-page"] h1,
[data-type="composite-page"] h2,
[data-type="composite-page"] h3,
[data-type="composite-page"] h4,
[data-type="composite-page"] h5 {
  margin: 0;
  padding: 0; }

[data-type="composite-chapter"] p,
[data-type="page"] p,
[data-type="composite-page"] p {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] section,
[data-type="page"] section,
[data-type="composite-page"] section {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] table,
[data-type="page"] table,
[data-type="composite-page"] table {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] ul,
[data-type="page"] ul,
[data-type="composite-page"] ul {
  margin-left: 20px;
  margin-bottom: 1.5rem; }

div.book > div.preface {
  counter-reset: page 1; }

[data-type="chapter"] > h1[data-type="document-title"] .os-number {
  string-set: chapter-number content(); }

[data-type="chapter"] > h1[data-type="document-title"] .os-text {
  string-set: chapter-title content(); }

[data-type="chapter"] > [data-type="page"] > h2[data-type="document-title"] .os-number {
  string-set: module-number content(); }

[data-type="chapter"] > [data-type="page"] > h2[data-type="document-title"] .os-text {
  string-set: module-title content(); }

nav#toc {
  page: table-of-contents; }

div[data-type="page"].preface {
  page: preface; }

.chapter {
  page: chapter;
  prince-page-group: start; }

@page chapter:nth(1) {
  @top-left-corner {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page table-of-contents {
  @top-left-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-right {
    content: none; } }

@page preface:left {
  @top-left-corner {
    content: counter(page); }
  @top-left {
    content: none; }
  @top-right-corner {
    content: "Preface";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; } }

@page preface:right {
  @top-left-corner {
    content: "Preface";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-right-corner {
    content: counter(page); } }

@page :left {
  @top-left {
    content: " " "Chapter " string(chapter-number) " • " string(chapter-title);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-left-corner {
    content: counter(page);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700;
    margin-right: 10px; } }

@page :right {
  @top-right {
    content: string(module-number) " " string(module-title) " ";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-right-corner {
    content: counter(page);
    margin-left: 10px;
    content: counter(page);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; } }

/* stylelint-disable-next-line meowtec/no-px */
/* stylelint-disable-next-line meowtec/no-px */
:root {
  font-family: Alegreya;
  font-size: 12px;
  line-height: 1.5rem;
  color: #000000;
  prince-image-resolution: auto, 200dpi;
  prince-background-image-resolution: 200dpi; }

.career > .os-title {
  font-family: Muli;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 0.7rem;
  border-bottom-color: #B05E36;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

.career > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-career.svg") no-repeat top left;
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  padding-right: 0.7rem;
  position: relative;
  bottom: -1.8rem;
  content: ''; }

.career::after {
  border-bottom-color: #B05E36;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

.evolution > .os-title {
  font-family: Muli;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 0.7rem;
  border-bottom-color: #F37541;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

.evolution > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-evolution.svg") no-repeat top left;
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  padding-right: 0.7rem;
  position: relative;
  bottom: -1.8rem;
  content: ''; }

.evolution::after {
  border-bottom-color: #F37541;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

.scientific > .os-title {
  font-family: Muli;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 0.7rem;
  border-bottom-color: #0DC0DC;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

.scientific > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-scientific.svg") no-repeat top left;
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  padding-right: 0.7rem;
  position: relative;
  bottom: -1.8rem;
  content: ''; }

.scientific::after {
  border-bottom-color: #0DC0DC;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

.visual-connection > .os-title {
  font-family: Muli;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 0.7rem;
  border-bottom-color: #0074BC;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

.visual-connection > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-visualconnection.svg") no-repeat top left;
  background-size: contain;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  padding-right: 0.7rem;
  position: relative;
  bottom: -1.8rem;
  content: ''; }

.visual-connection::after {
  border-bottom-color: #0074BC;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

.preface > h1 {
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.58318rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  margin-bottom: 3rem; }

.preface > section > h3 {
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  color: #00829B; }

.preface > section > section > h4 {
  font-family: Muli;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #00829B; }

[data-type='chapter'] > .os-glossary-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-glossary-container > h2 {
  color: #388097;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem; }

[data-type='chapter'] > .os-glossary-container > dl > dt {
  font-weight: bold;
  margin-right: 10px;
  display: inline; }

[data-type='chapter'] > .os-glossary-container > dl {
  text-indent: 10px;
  margin-left: -10px; }

[data-type='chapter'] > .os-glossary-container > dl > dd {
  margin-left: 10px;
  display: inline; }

[data-type='chapter'] > .os-key-equations-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-key-equations-container > h2 {
  color: #388097;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem; }

[data-type='chapter'] > .os-key-equations-container > .key-equations {
  padding-bottom: 0; }

[data-type='chapter'] > .os-key-equations-container > .key-equations ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0; }

[data-type='chapter'] > .os-summary-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-summary-container > h2 {
  color: #388097;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem; }

[data-type='chapter'] > .os-summary-container > .summary > h3 {
  font-family: Muli;
  font-weight: 800;
  font-size: 1.44rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

[data-type='chapter'] > .os-exercises-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-exercises-container > h2 {
  color: #388097;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem; }

[data-type='chapter'] > .os-exercises-container > .exercises > h3 {
  font-family: Muli;
  font-weight: 800;
  font-size: 1.44rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

[data-type='chapter'] > .os-exercises-container [data-type='problem'] {
  display: flex; }

[data-type='chapter'] > .os-exercises-container [data-type='problem'] .os-number {
  color: #000000;
  font-weight: bold;
  text-decoration: none; }

[data-type='chapter'] > .os-exercises-container [data-type='problem'] .os-divider {
  padding-right: 10px; }

.everyday-life {
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4.5rem;
  position: relative; }

.everyday-life > .os-title {
  color: #00829B;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #00829B;
  padding-bottom: 0.5rem; }

.everyday-life::before {
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-top-color: #00829B;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.everyday-life::after {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #00829B;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.everyday-life > .os-note-body {
  color: (_ref: "colorMap:::fontBodyColor");
  font-family: IBM Plex Sans, sans-serif;
  font-weight: normal; }

.everyday-life > .os-note-body > [data-type='title'] {
  font-size: 1.2rem;
  line-height: 1.5rem; }

.everyday-life > .os-note-body > p > a.autogenerated-content {
  color: #C31427;
  text-decoration: none; }

.chemist-portrait {
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4.5rem;
  position: relative; }

.chemist-portrait > .os-title {
  color: #00829B;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #00829B;
  padding-bottom: 0.5rem; }

.chemist-portrait::before {
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-top-color: #00829B;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.chemist-portrait::after {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #00829B;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #00829B;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #00829B;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.chemist-portrait > .os-note-body {
  color: (_ref: "colorMap:::fontBodyColor");
  font-family: IBM Plex Sans, sans-serif;
  font-weight: normal; }

.chemist-portrait > .os-note-body > [data-type='title'] {
  font-size: 1.2rem;
  line-height: 1.5rem; }

.chemist-portrait > .os-note-body > p > a.autogenerated-content {
  color: #C31427;
  text-decoration: none; }

.everyday {
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #B10069;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #B10069;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4.5rem;
  position: relative; }

.everyday > .os-title {
  color: #B10069;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #B10069;
  padding-bottom: 0.5rem; }

.everyday::before {
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-top-color: #B10069;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #B10069;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #B10069;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.everyday::after {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #B10069;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #B10069;
  border-right-style: solid;
  border-right-width: 0.2rem;
  border-right-color: #B10069;
  display: block;
  height: 1rem;
  width: 100%;
  content: '';
  margin-left: -1.2rem;
  padding: 0 10px; }

.everyday > .os-note-body {
  color: (_ref: "colorMap:::fontBodyColor");
  font-family: IBM Plex Sans, sans-serif;
  font-weight: normal; }

.everyday > .os-note-body > [data-type='title'] {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.5rem; }

.everyday > .os-note-body > p {
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

.everyday > .os-note-body > p > a.autogenerated-content {
  color: #C31427;
  text-decoration: none; }

.link-to-learning {
  margin-bottom: 1.5rem; }

.link-to-learning > .os-note-body {
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  border-bottom-color: #78B042;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid; }

.link-to-learning > .os-title {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  font-family: Muli;
  font-weight: bold; }

.link-to-learning > .os-title > .os-title-label {
  display: inline-block;
  max-width: 100px;
  word-wrap: normal;
  text-transform: uppercase; }

.link-to-learning > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  content: ''; }

[data-type='page'] > [data-type='abstract'] {
  color: #3172B6;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-style: italic; }

[data-type='page'] > [data-type='abstract'] > ul {
  margin-bottom: 3rem;
  margin-left: 20px;
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal; }

[data-type='page'] > [data-type='abstract'] > ul > li {
  color: #000000;
  font-family: Muli, sans-serif;
  padding: 0; }

[data-type='page'] > [data-type='abstract'] > ul > li::marker {
  color: #3172B6; }

.sciences-interconnect > .os-title {
  font-family: Muli, sans-serif;
  font-size: font-size(1);
  line-height: line-heigh(0);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-color: #F37541;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

.sciences-interconnect > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-interconnect.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  padding-right: 0.4rem;
  position: relative;
  bottom: -0.5rem;
  content: ''; }

.sciences-interconnect > .os-title > .os-title-label {
  display: inline-block;
  word-wrap: normal;
  max-height: 2rem;
  margin-bottom: 0.2rem; }

.sciences-interconnect {
  color: (_ref: "colorMap:::fontBodyColor");
  font-family: IBM Plex Sans, sans-serif; }

.sciences-interconnect::after {
  border-bottom-color: #F37541;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

[data-type='example'] > .os-title {
  font-family: Muli, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-color: #B32B2F;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1.5rem; }

[data-type='example'] > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-example.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  bottom: -1rem;
  content: ''; }

[data-type='example'] > .os-title > .os-title-label {
  display: inline-block;
  word-wrap: normal;
  max-height: 2rem; }

[data-type='example'] > .os-title + p > [data-type='title'] {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block; }

[data-type='example'] {
  color: (_ref: "colorMap:::fontBodyColor");
  font-family: IBM Plex Sans, sans-serif; }

[data-type='example']::after {
  border-bottom-color: #B32B2F;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 2rem; }

[data-type='example'] > p > [data-type='title'] {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 10px; }

[data-type='example'] > [data-type='equation'] {
  font-size: 1.2rem;
  line-height: 1.5rem; }

[data-type='example'] > [data-type='note'] > .os-title > .os-title-label {
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  font-size: 1rem;
  line-height: 1.5rem; }

.appendix h2 {
  color: #3172B6;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 2.0736rem;
  line-height: 3rem;
  font-weight: normal; }

.appendix h3 {
  color: #3172B6;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.728rem;
  line-height: 3rem;
  font-weight: normal; }

.appendix > [data-type="document-title"] > .os-divider {
  display: none; }

.appendix > [data-type="document-title"] > .os-text {
  color: #3172B6;
  font-family: Muli;
  font-weight: normal;
  font-size: 2.48832rem;
  line-height: 3rem; }

.appendix > [data-type="document-title"] > .os-number {
  display: block;
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 3.58318rem;
  line-height: 3rem;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase; }

.appendix > [data-type="document-title"] > .os-number::before {
  content: 'APPENDIX '; }

.os-index-container {
  column-count: 3;
  column-gap: 40px; }

.os-index-container > [data-type="document-title"] {
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  column-span: all;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 3.58318rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.5rem; }

.os-index-container > .group-by {
  color: #000000;
  font-family: Alegreya;
  font-weight: normal;
  padding-bottom: 4.5rem; }

.os-index-container > .group-by > .group-label {
  color: #000000;
  font-family: Muli;
  font-size: 1.44rem;
  line-height: 1.5rem;
  font-weight: bold; }

.os-index-container > .group-by > .os-index-item {
  color: #000000;
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal; }

.os-index-container > .group-by > .os-index-item > .os-term {
  color: #000000;
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
  padding-right: 10px; }

.os-index-container > .group-by > .os-index-item > .os-term-section-link {
  content: "" target-counter(attr(href, url), page);
  text-decoration: none;
  pointer-events: none;
  color: #000000; }

/*# sourceMappingURL=biology-pdf.css.map */