:root {
  --content-text-scale: 1;
}
body {
  font-size: 14px;
  -webkit-print-color-adjust: exact;
}
body {
  font-size: calc(1.6rem * var(--content-text-scale));
  line-height: calc(2.3rem * var(--content-text-scale));
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #333333;
}
body p {
  margin: 1rem 0 0;
  color: #424242;
}
body p > [data-type="title"],
body p > .title {
  display: block;
  font-weight: bold;
}
body a:not([role="button"]) {
  text-decoration: underline;
}
body img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
body pre {
  text-align: left;
}
body > section:first-child,
body > figure:first-child,
body > p:first-child,
body > .abstract:first-child,
body > table:first-child {
  margin-top: 0 !important;
}
body section > section,
body section > figure {
  margin-top: 3rem;
}
body > figure,
body :not(figure) > figure {
  counter-increment: figure;
  counter-reset: subfigure;
}
body figure {
  position: relative;
  color: #424242;
  text-align: center;
}
body figure > figcaption {
  padding: 1rem;
  font-size: calc(1.3rem * var(--content-text-scale));
}
body figure img {
  max-width: 100%;
  margin: 0;
}
body figure > [data-type="media"],
body figure > .media {
  display: block;
  margin: 0;
  text-align: center;
}
body figure > figure {
  counter-increment: subfigure;
}
body figure > figure:not(.ui-has-child-figcaption)::after {
  display: block;
  position: relative;
  font-weight: bold;
  text-align: center;
}
body figure:not([data-orient="vertical"]) {
  display: table;
  position: relative;
  top: 0;
  table-layout: fixed;
}
body figure:not([data-orient="vertical"]) > [data-type="title"],
body figure:not([data-orient="vertical"]) > .title {
  font-weight: bold;
}
body figure:not([data-orient="vertical"]) > figcaption {
  display: table-caption;
  margin-bottom: 1.5rem;
  caption-side: bottom;
}
body figure:not([data-orient="vertical"]) > figure {
  display: table-cell;
}
body figure:not([data-orient="vertical"]) > figure > figcaption {
  display: block;
}
body [data-type="term"],
body .term {
  font-weight: bold;
}
body .os-teacher {
  display: none;
}
body [data-type="list"],
body .list {
  overflow-wrap: break-word;
}
body [data-type="list"] > [data-type="title"],
body .list > [data-type="title"],
body [data-type="list"] > .title,
body .list > .title {
  font-weight: bold;
}
body .footnote {
  font-size: calc(1rem * var(--content-text-scale));
}
body [data-type="footnote-ref"] {
  padding-left: 27px;
  text-indent: -27px;
}
body .abstract {
  position: relative;
  margin: 3rem 6rem 0 6rem;
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #ededed;
}
body .abstract ul {
  margin: 1.5rem 0 0 0;
}
body .abstract ul::after {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Abstract";
}
body blockquote {
  font-size: calc(16px * var(--content-text-scale));
}
body [data-type="example"] [data-type="problem"],
body [data-type="exercise"] [data-type="problem"],
body [data-type="injected-exercise"] [data-type="problem"],
body .example [data-type="problem"],
body .exercise [data-type="problem"],
body .injected-exercise [data-type="problem"],
body [data-type="example"] [data-type="solution"],
body [data-type="exercise"] [data-type="solution"],
body [data-type="injected-exercise"] [data-type="solution"],
body .example [data-type="solution"],
body .exercise [data-type="solution"],
body .injected-exercise [data-type="solution"],
body [data-type="example"] [data-type="exercise-question"],
body [data-type="exercise"] [data-type="exercise-question"],
body [data-type="injected-exercise"] [data-type="exercise-question"],
body .example [data-type="exercise-question"],
body .exercise [data-type="exercise-question"],
body .injected-exercise [data-type="exercise-question"],
body [data-type="example"] .problem,
body [data-type="exercise"] .problem,
body [data-type="injected-exercise"] .problem,
body .example .problem,
body .exercise .problem,
body .injected-exercise .problem,
body [data-type="example"] .solution,
body [data-type="exercise"] .solution,
body [data-type="injected-exercise"] .solution,
body .example .solution,
body .exercise .solution,
body .injected-exercise .solution,
body [data-type="example"] .exercise-question,
body [data-type="exercise"] .exercise-question,
body [data-type="injected-exercise"] .exercise-question,
body .example .exercise-question,
body .exercise .exercise-question,
body .injected-exercise .exercise-question {
  padding: 0.5em 1em;
}
body [data-type="example"] [data-type="solution"],
body [data-type="exercise"] [data-type="solution"],
body [data-type="injected-exercise"] [data-type="solution"],
body .example [data-type="solution"],
body .exercise [data-type="solution"],
body .injected-exercise [data-type="solution"],
body [data-type="example"] .solution,
body [data-type="exercise"] .solution,
body [data-type="injected-exercise"] .solution,
body .example .solution,
body .exercise .solution,
body .injected-exercise .solution {
  border-top: 0.1rem solid #424242;
}
body [data-type="example"] [data-type="solution"] > .ui-toggle,
body [data-type="exercise"] [data-type="solution"] > .ui-toggle,
body [data-type="injected-exercise"] [data-type="solution"] > .ui-toggle,
body .example [data-type="solution"] > .ui-toggle,
body .exercise [data-type="solution"] > .ui-toggle,
body .injected-exercise [data-type="solution"] > .ui-toggle,
body [data-type="example"] .solution > .ui-toggle,
body [data-type="exercise"] .solution > .ui-toggle,
body [data-type="injected-exercise"] .solution > .ui-toggle,
body .example .solution > .ui-toggle,
body .exercise .solution > .ui-toggle,
body .injected-exercise .solution > .ui-toggle {
  font-weight: bold;
  text-align: center;
  list-style: none;
  cursor: pointer;
  text-transform: capitalize;
}
body [data-type="example"] [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body [data-type="exercise"] [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body [data-type="injected-exercise"] [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body .example [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body .exercise [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body .injected-exercise [data-type="solution"] > .ui-toggle::-webkit-details-marker,
body [data-type="example"] .solution > .ui-toggle::-webkit-details-marker,
body [data-type="exercise"] .solution > .ui-toggle::-webkit-details-marker,
body [data-type="injected-exercise"] .solution > .ui-toggle::-webkit-details-marker,
body .example .solution > .ui-toggle::-webkit-details-marker,
body .exercise .solution > .ui-toggle::-webkit-details-marker,
body .injected-exercise .solution > .ui-toggle::-webkit-details-marker {
  display: none;
}
body [data-type="example"] [data-type="solution"] > .ui-toggle::before,
body [data-type="exercise"] [data-type="solution"] > .ui-toggle::before,
body [data-type="injected-exercise"] [data-type="solution"] > .ui-toggle::before,
body .example [data-type="solution"] > .ui-toggle::before,
body .exercise [data-type="solution"] > .ui-toggle::before,
body .injected-exercise [data-type="solution"] > .ui-toggle::before,
body [data-type="example"] .solution > .ui-toggle::before,
body [data-type="exercise"] .solution > .ui-toggle::before,
body [data-type="injected-exercise"] .solution > .ui-toggle::before,
body .example .solution > .ui-toggle::before,
body .exercise .solution > .ui-toggle::before,
body .injected-exercise .solution > .ui-toggle::before {
  content: "[" attr(data-content) "]";
}
body [data-type="example"].check-understanding [data-type="title"]::before,
body [data-type="exercise"].check-understanding [data-type="title"]::before,
body [data-type="injected-exercise"].check-understanding [data-type="title"]::before,
body .example.check-understanding [data-type="title"]::before,
body .exercise.check-understanding [data-type="title"]::before,
body .injected-exercise.check-understanding [data-type="title"]::before,
body [data-type="example"][data-type="check-understanding"] .title::before,
body [data-type="exercise"][data-type="check-understanding"] .title::before,
body [data-type="injected-exercise"][data-type="check-understanding"] .title::before,
body .example[data-type="check-understanding"] .title::before,
body .exercise[data-type="check-understanding"] .title::before,
body .injected-exercise[data-type="check-understanding"] .title::before {
  margin-right: 0;
  content: "";
}
body [data-type="example"].conceptual-questions [data-type="problem"],
body [data-type="exercise"].conceptual-questions [data-type="problem"],
body [data-type="injected-exercise"].conceptual-questions [data-type="problem"],
body .example.conceptual-questions [data-type="problem"],
body .exercise.conceptual-questions [data-type="problem"],
body .injected-exercise.conceptual-questions [data-type="problem"],
body [data-type="example"][data-type="conceptual-questions"] .problem,
body [data-type="exercise"][data-type="conceptual-questions"] .problem,
body [data-type="injected-exercise"][data-type="conceptual-questions"] .problem,
body .example[data-type="conceptual-questions"] .problem,
body .exercise[data-type="conceptual-questions"] .problem,
body .injected-exercise[data-type="conceptual-questions"] .problem {
  border-top: none;
}
body [data-type="example"].conceptual-questions [data-type="problem"] p,
body [data-type="exercise"].conceptual-questions [data-type="problem"] p,
body [data-type="injected-exercise"].conceptual-questions [data-type="problem"] p,
body .example.conceptual-questions [data-type="problem"] p,
body .exercise.conceptual-questions [data-type="problem"] p,
body .injected-exercise.conceptual-questions [data-type="problem"] p,
body [data-type="example"][data-type="conceptual-questions"] .problem p,
body [data-type="exercise"][data-type="conceptual-questions"] .problem p,
body [data-type="injected-exercise"][data-type="conceptual-questions"] .problem p,
body .example[data-type="conceptual-questions"] .problem p,
body .exercise[data-type="conceptual-questions"] .problem p,
body .injected-exercise[data-type="conceptual-questions"] .problem p {
  margin: 0;
}
body [data-type="example"].problems-exercises [data-type="problem"]::before,
body [data-type="exercise"].problems-exercises [data-type="problem"]::before,
body [data-type="injected-exercise"].problems-exercises [data-type="problem"]::before,
body .example.problems-exercises [data-type="problem"]::before,
body .exercise.problems-exercises [data-type="problem"]::before,
body .injected-exercise.problems-exercises [data-type="problem"]::before,
body [data-type="example"][data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="exercise"][data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] [data-type="problem"]::before,
body .example[data-type="problems-exercises"] [data-type="problem"]::before,
body .exercise[data-type="problems-exercises"] [data-type="problem"]::before,
body .injected-exercise[data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="example"].problems-exercises [data-type="solution"]::before,
body [data-type="exercise"].problems-exercises [data-type="solution"]::before,
body [data-type="injected-exercise"].problems-exercises [data-type="solution"]::before,
body .example.problems-exercises [data-type="solution"]::before,
body .exercise.problems-exercises [data-type="solution"]::before,
body .injected-exercise.problems-exercises [data-type="solution"]::before,
body [data-type="example"][data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="exercise"][data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] [data-type="solution"]::before,
body .example[data-type="problems-exercises"] [data-type="solution"]::before,
body .exercise[data-type="problems-exercises"] [data-type="solution"]::before,
body .injected-exercise[data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="example"].problems-exercises .problem::before,
body [data-type="exercise"].problems-exercises .problem::before,
body [data-type="injected-exercise"].problems-exercises .problem::before,
body .example.problems-exercises .problem::before,
body .exercise.problems-exercises .problem::before,
body .injected-exercise.problems-exercises .problem::before,
body [data-type="example"][data-type="problems-exercises"] .problem::before,
body [data-type="exercise"][data-type="problems-exercises"] .problem::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] .problem::before,
body .example[data-type="problems-exercises"] .problem::before,
body .exercise[data-type="problems-exercises"] .problem::before,
body .injected-exercise[data-type="problems-exercises"] .problem::before,
body [data-type="example"].problems-exercises .solution::before,
body [data-type="exercise"].problems-exercises .solution::before,
body [data-type="injected-exercise"].problems-exercises .solution::before,
body .example.problems-exercises .solution::before,
body .exercise.problems-exercises .solution::before,
body .injected-exercise.problems-exercises .solution::before,
body [data-type="example"][data-type="problems-exercises"] .solution::before,
body [data-type="exercise"][data-type="problems-exercises"] .solution::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] .solution::before,
body .example[data-type="problems-exercises"] .solution::before,
body .exercise[data-type="problems-exercises"] .solution::before,
body .injected-exercise[data-type="problems-exercises"] .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="example"].problems-exercises [data-type="problem"]::before,
body [data-type="exercise"].problems-exercises [data-type="problem"]::before,
body [data-type="injected-exercise"].problems-exercises [data-type="problem"]::before,
body .example.problems-exercises [data-type="problem"]::before,
body .exercise.problems-exercises [data-type="problem"]::before,
body .injected-exercise.problems-exercises [data-type="problem"]::before,
body [data-type="example"][data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="exercise"][data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] [data-type="problem"]::before,
body .example[data-type="problems-exercises"] [data-type="problem"]::before,
body .exercise[data-type="problems-exercises"] [data-type="problem"]::before,
body .injected-exercise[data-type="problems-exercises"] [data-type="problem"]::before,
body [data-type="example"].problems-exercises .problem::before,
body [data-type="exercise"].problems-exercises .problem::before,
body [data-type="injected-exercise"].problems-exercises .problem::before,
body .example.problems-exercises .problem::before,
body .exercise.problems-exercises .problem::before,
body .injected-exercise.problems-exercises .problem::before,
body [data-type="example"][data-type="problems-exercises"] .problem::before,
body [data-type="exercise"][data-type="problems-exercises"] .problem::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] .problem::before,
body .example[data-type="problems-exercises"] .problem::before,
body .exercise[data-type="problems-exercises"] .problem::before,
body .injected-exercise[data-type="problems-exercises"] .problem::before {
  content: "Problem";
}
body [data-type="example"].problems-exercises [data-type="solution"]::before,
body [data-type="exercise"].problems-exercises [data-type="solution"]::before,
body [data-type="injected-exercise"].problems-exercises [data-type="solution"]::before,
body .example.problems-exercises [data-type="solution"]::before,
body .exercise.problems-exercises [data-type="solution"]::before,
body .injected-exercise.problems-exercises [data-type="solution"]::before,
body [data-type="example"][data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="exercise"][data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] [data-type="solution"]::before,
body .example[data-type="problems-exercises"] [data-type="solution"]::before,
body .exercise[data-type="problems-exercises"] [data-type="solution"]::before,
body .injected-exercise[data-type="problems-exercises"] [data-type="solution"]::before,
body [data-type="example"].problems-exercises .solution::before,
body [data-type="exercise"].problems-exercises .solution::before,
body [data-type="injected-exercise"].problems-exercises .solution::before,
body .example.problems-exercises .solution::before,
body .exercise.problems-exercises .solution::before,
body .injected-exercise.problems-exercises .solution::before,
body [data-type="example"][data-type="problems-exercises"] .solution::before,
body [data-type="exercise"][data-type="problems-exercises"] .solution::before,
body [data-type="injected-exercise"][data-type="problems-exercises"] .solution::before,
body .example[data-type="problems-exercises"] .solution::before,
body .exercise[data-type="problems-exercises"] .solution::before,
body .injected-exercise[data-type="problems-exercises"] .solution::before {
  content: "Solution";
}
body [data-type="example"] div[data-type="title"],
body [data-type="exercise"] div[data-type="title"],
body [data-type="injected-exercise"] div[data-type="title"],
body .example div[data-type="title"],
body .exercise div[data-type="title"],
body .injected-exercise div[data-type="title"] {
  font-weight: bold;
}
body .table-wrapper {
  overflow-x: auto;
}
body table {
  width: 100%;
  max-width: 100%;
  margin-top: 6rem;
  margin-bottom: 20px;
  background-color: transparent;
  counter-increment: table;
}
body table caption {
  margin-top: 0.5rem;
  font-size: calc(1.3rem * var(--content-text-scale));
  text-align: left;
  caption-side: bottom;
}
body table caption sup {
  top: auto;
  line-height: inherit;
}
body table caption > .title {
  display: block;
  font-size: calc(1.8rem * var(--content-text-scale));
  font-weight: bold;
}
body table caption > .title::before {
  margin-right: 0.5rem;
  color: #606163;
  font-weight: bold;
  content: "Table " counter(table) ".";
}
body table thead tr > th {
  padding: 0.5em 1em;
}
body table tbody tr > td[data-align="right"] {
  text-align: right;
}
body table tbody tr > td {
  padding: 0.5em 1em;
  border: 0.1rem solid #ddd;
}
body table tfoot > tr > th,
body table tfoot > tr > td {
  padding: 0.5em 1em;
  border: 0.1rem solid #ddd;
  line-height: 1.42857143;
  vertical-align: top;
}
body table thead > tr > th,
body table thead > tr > td {
  border: 0.2rem solid #ddd;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}
body table tbody + tbody {
  border: 0.2rem solid #ddd;
}
body table table {
  background-color: #fff;
}
body [data-type="glossary"] [data-type="definition"] {
  margin: 1rem 3rem;
}
body [data-type="equation"] {
  overflow: auto;
}
body [data-type="code"] {
  font-family: 'IBM Plex Mono', monospace;
}
body [data-type="code"].blue-code,
body [data-type="code"] .blue-code {
  color: #2E3092;
}
body [data-type="code"].red-code,
body [data-type="code"] .red-code {
  color: #B90000;
}
body pre[data-type="code"] {
  display: block;
  overflow: auto;
}
body pre[data-type="code"].centered-code {
  color: #424242;
  text-align: center;
  background: none;
  margin: 0 auto;
}
body .primary-function,
body .secondary-function {
  font-family: 'IBM Plex Mono', monospace;
}
body .primary-function {
  font-weight: bold;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}
body h3 + section {
  margin-top: 0;
}
body ul,
body ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242;
}
body .stepwise {
  list-style-type: none;
  padding-left: 0;
}
body .stepwise > li {
  display: flex;
}
body .stepwise > li .os-stepwise-token {
  white-space: pre;
}
body .stepwise > li .os-stepwise-content > ul,
body .stepwise > li .os-stepwise-content ol {
  padding-left: 1rem;
}
body .os-stepwise {
  list-style-type: none;
  padding-left: 0;
}
body .os-stepwise > li {
  display: flex;
}
body .os-stepwise > li .os-stepwise-token {
  white-space: pre;
}
body .os-stepwise > li .os-stepwise-content > ul,
body .os-stepwise > li .os-stepwise-content ol {
  padding-left: 1rem;
}
body .os-abstract {
  list-style-type: none;
  padding-left: 2rem;
}
body .circled {
  list-style-type: none;
  padding-left: 1rem;
}
body [data-bullet-style="none"] {
  list-style-type: none;
}
body iframe {
  display: block;
  margin: 3rem auto;
}
body .centered-text {
  display: block;
  font-weight: normal;
  text-align: center;
}
body .os-chapter-outline ul {
  margin-top: 0;
}
body .colored-text {
  color: #CC0000;
}
body .no-emphasis {
  font-weight: normal;
}
body > section,
body > figure,
body > [data-type="glossary"],
body > [data-type="footnote-refs"] {
  margin-top: 6rem;
}
body > section > ol > li::before,
body > figure > ol > li::before,
body > [data-type="glossary"] > ol > li::before,
body > [data-type="footnote-refs"] > ol > li::before {
  content: "" !important;
}
body .splash {
  margin-top: 0;
}
body .splash:not([data-orient="vertical"]) {
  display: block;
}
body .splash:not([data-orient="vertical"]) img {
  width: 100%;
}
body figure.splash.unnumbered {
  display: table;
  margin: 3rem auto;
}
body figure.splash.unnumbered figcaption {
  text-align: left;
  padding-left: 0rem;
}
body span[data-type="media"] img {
  display: block;
}
body .os-figure {
  display: table;
  margin: 3rem auto;
}
body .os-figure .os-caption-container {
  display: table-caption;
  padding-top: 1rem;
  color: #424242;
  font-size: calc(1.2rem * var(--content-text-scale));
  caption-side: bottom;
}
body .os-figure .os-caption-container .os-title-label {
  font-weight: bold;
}
body .os-figure .os-caption-container .os-number {
  font-weight: bold;
}
body .os-figure .os-caption-container .os-title {
  font-weight: bold;
}
body h1.example-title .text {
  padding-left: 1rem;
}
body [data-type="note"],
body .note {
  margin: 3rem 6rem 0 6rem;
  margin: 3rem 0;
  border: 0.2rem solid gainsboro;
  background-color: #ededed;
}
@media (max-width: 767px) {
  body [data-type="note"],
  body .note {
    margin-right: 0;
    margin-left: 0;
  }
}
body [data-type="note"] > p,
body .note > p {
  margin-top: 0;
}
body [data-type="note"]:not([data-label]).ui-has-child-title > header > [data-type="title"],
body .note:not([data-label]).ui-has-child-title > header > [data-type="title"],
body [data-type="note"]:not([data-label]).ui-has-child-title > [data-type="title"],
body .note:not([data-label]).ui-has-child-title > [data-type="title"],
body [data-type="note"]:not([data-label]).ui-has-child-title > header > .title,
body .note:not([data-label]).ui-has-child-title > header > .title,
body [data-type="note"]:not([data-label]).ui-has-child-title > header > .os-title,
body .note:not([data-label]).ui-has-child-title > header > .os-title,
body [data-type="note"]:not([data-label]).ui-has-child-title > .title,
body .note:not([data-label]).ui-has-child-title > .title,
body [data-type="note"]:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"],
body .note:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  font-size: calc(1.5rem * var(--content-text-scale));
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="note"]:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
body .note:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
body [data-type="note"]:not([data-label]).ui-has-child-title > [data-type="title"]::before,
body .note:not([data-label]).ui-has-child-title > [data-type="title"]::before,
body [data-type="note"]:not([data-label]).ui-has-child-title > header > .title::before,
body .note:not([data-label]).ui-has-child-title > header > .title::before,
body [data-type="note"]:not([data-label]).ui-has-child-title > header > .os-title::before,
body .note:not([data-label]).ui-has-child-title > header > .os-title::before,
body [data-type="note"]:not([data-label]).ui-has-child-title > .title::before,
body .note:not([data-label]).ui-has-child-title > .title::before,
body [data-type="note"]:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .note:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="note"][data-label=''].ui-has-child-title > header > [data-type="title"],
body .note[data-label=''].ui-has-child-title > header > [data-type="title"],
body [data-type="note"][data-label=''].ui-has-child-title > [data-type="title"],
body .note[data-label=''].ui-has-child-title > [data-type="title"],
body [data-type="note"][data-label=''].ui-has-child-title > header > .title,
body .note[data-label=''].ui-has-child-title > header > .title,
body [data-type="note"][data-label=''].ui-has-child-title > header > .os-title,
body .note[data-label=''].ui-has-child-title > header > .os-title,
body [data-type="note"][data-label=''].ui-has-child-title > .title,
body .note[data-label=''].ui-has-child-title > .title,
body [data-type="note"][data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"],
body .note[data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  font-size: calc(1.5rem * var(--content-text-scale));
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="note"][data-label=''].ui-has-child-title > header > [data-type="title"]::before,
body .note[data-label=''].ui-has-child-title > header > [data-type="title"]::before,
body [data-type="note"][data-label=''].ui-has-child-title > [data-type="title"]::before,
body .note[data-label=''].ui-has-child-title > [data-type="title"]::before,
body [data-type="note"][data-label=''].ui-has-child-title > header > .title::before,
body .note[data-label=''].ui-has-child-title > header > .title::before,
body [data-type="note"][data-label=''].ui-has-child-title > header > .os-title::before,
body .note[data-label=''].ui-has-child-title > header > .os-title::before,
body [data-type="note"][data-label=''].ui-has-child-title > .title::before,
body .note[data-label=''].ui-has-child-title > .title::before,
body [data-type="note"][data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .note[data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
body .note[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
body .note[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .title,
body .note[data-label]:not([data-label='']).ui-has-child-title > header > .title,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .os-title,
body .note[data-label]:not([data-label='']).ui-has-child-title > header > .os-title,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > .title,
body .note[data-label]:not([data-label='']).ui-has-child-title > .title,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"],
body .note[data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  font-size: calc(1.5rem * var(--content-text-scale));
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
body .note[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
body .note[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
body .note[data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > header > .os-title::before,
body .note[data-label]:not([data-label='']).ui-has-child-title > header > .os-title::before,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title > .title::before,
body .note[data-label]:not([data-label='']).ui-has-child-title > .title::before,
body [data-type="note"][data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .note[data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="note"] > section,
body .note > section {
  padding: 0.5rem 1.5rem;
  border-top: 0.1rem solid #424242;
  padding: 0rem 3rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242;
  overflow-x: auto;
}
body [data-type="note"] > section > *:not(section):not(header):first-child,
body .note > section > *:not(section):not(header):first-child {
  margin-top: 1rem;
}
body [data-type="note"] > section > header,
body .note > section > header {
  margin-top: 3rem;
}
body [data-type="note"] > section span[data-type="media"],
body .note > section span[data-type="media"] {
  display: block;
  margin: 1rem 0;
}
body [data-type="example"],
body .example {
  margin: 3rem 0;
  border: 0.2rem solid gainsboro;
  background-color: #ededed;
}
body [data-type="example"] > p,
body .example > p {
  margin-top: 0;
}
body [data-type="example"]:not([data-label]).ui-has-child-title > header > [data-type="title"],
body .example:not([data-label]).ui-has-child-title > header > [data-type="title"],
body [data-type="example"]:not([data-label]).ui-has-child-title > [data-type="title"],
body .example:not([data-label]).ui-has-child-title > [data-type="title"],
body [data-type="example"]:not([data-label]).ui-has-child-title > header > .title,
body .example:not([data-label]).ui-has-child-title > header > .title,
body [data-type="example"]:not([data-label]).ui-has-child-title > header > .os-title,
body .example:not([data-label]).ui-has-child-title > header > .os-title,
body [data-type="example"]:not([data-label]).ui-has-child-title > .title,
body .example:not([data-label]).ui-has-child-title > .title,
body [data-type="example"]:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"],
body .example:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="example"]:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
body .example:not([data-label]).ui-has-child-title > header > [data-type="title"]::before,
body [data-type="example"]:not([data-label]).ui-has-child-title > [data-type="title"]::before,
body .example:not([data-label]).ui-has-child-title > [data-type="title"]::before,
body [data-type="example"]:not([data-label]).ui-has-child-title > header > .title::before,
body .example:not([data-label]).ui-has-child-title > header > .title::before,
body [data-type="example"]:not([data-label]).ui-has-child-title > header > .os-title::before,
body .example:not([data-label]).ui-has-child-title > header > .os-title::before,
body [data-type="example"]:not([data-label]).ui-has-child-title > .title::before,
body .example:not([data-label]).ui-has-child-title > .title::before,
body [data-type="example"]:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .example:not([data-label]).ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="example"][data-label=''].ui-has-child-title > header > [data-type="title"],
body .example[data-label=''].ui-has-child-title > header > [data-type="title"],
body [data-type="example"][data-label=''].ui-has-child-title > [data-type="title"],
body .example[data-label=''].ui-has-child-title > [data-type="title"],
body [data-type="example"][data-label=''].ui-has-child-title > header > .title,
body .example[data-label=''].ui-has-child-title > header > .title,
body [data-type="example"][data-label=''].ui-has-child-title > header > .os-title,
body .example[data-label=''].ui-has-child-title > header > .os-title,
body [data-type="example"][data-label=''].ui-has-child-title > .title,
body .example[data-label=''].ui-has-child-title > .title,
body [data-type="example"][data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"],
body .example[data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="example"][data-label=''].ui-has-child-title > header > [data-type="title"]::before,
body .example[data-label=''].ui-has-child-title > header > [data-type="title"]::before,
body [data-type="example"][data-label=''].ui-has-child-title > [data-type="title"]::before,
body .example[data-label=''].ui-has-child-title > [data-type="title"]::before,
body [data-type="example"][data-label=''].ui-has-child-title > header > .title::before,
body .example[data-label=''].ui-has-child-title > header > .title::before,
body [data-type="example"][data-label=''].ui-has-child-title > header > .os-title::before,
body .example[data-label=''].ui-has-child-title > header > .os-title::before,
body [data-type="example"][data-label=''].ui-has-child-title > .title::before,
body .example[data-label=''].ui-has-child-title > .title::before,
body [data-type="example"][data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .example[data-label=''].ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
body .example[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"],
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
body .example[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"],
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .title,
body .example[data-label]:not([data-label='']).ui-has-child-title > header > .title,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .os-title,
body .example[data-label]:not([data-label='']).ui-has-child-title > header > .os-title,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > .title,
body .example[data-label]:not([data-label='']).ui-has-child-title > .title,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"],
body .example[data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"] {
  display: inline-block;
  display: block;
  margin: 0 1.5rem 0;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 0.2rem solid gainsboro;
  color: #424242;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
body .example[data-label]:not([data-label='']).ui-has-child-title > header > [data-type="title"]::before,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
body .example[data-label]:not([data-label='']).ui-has-child-title > [data-type="title"]::before,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
body .example[data-label]:not([data-label='']).ui-has-child-title > header > .title::before,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > header > .os-title::before,
body .example[data-label]:not([data-label='']).ui-has-child-title > header > .os-title::before,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title > .title::before,
body .example[data-label]:not([data-label='']).ui-has-child-title > .title::before,
body [data-type="example"][data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"]::before,
body .example[data-label]:not([data-label='']).ui-has-child-title .solution > section > [data-type="solution-title"]::before {
  display: none;
}
body [data-type="example"] > section,
body .example > section {
  padding: 0.5rem 1.5rem;
  border-top: 0.1rem solid #424242;
  padding: 0rem 3rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242;
  overflow-x: auto;
}
body [data-type="example"] > section > *:not(section):not(header):first-child,
body .example > section > *:not(section):not(header):first-child {
  margin-top: 1rem;
}
body [data-type="example"] > section > header,
body .example > section > header {
  margin-top: 3rem;
}
body [data-type="example"] > section span[data-type="media"],
body .example > section span[data-type="media"] {
  display: block;
  margin: 1rem 0;
}
body [data-type="problem"],
body [data-type="solution"],
body .problem,
body .solution {
  padding: 0;
}
body .os-number ~ .os-problem-container,
body .os-number ~ .os-solution-container {
  display: inline;
}
body .os-number ~ .os-problem-container > :first-child:not(ul):not(ol):not([data-type="note"]):not(.os-figure),
body .os-number ~ .os-solution-container > :first-child:not(ul):not(ol):not([data-type="note"]):not(.os-figure) {
  display: inline;
}
body .os-number ~ .os-problem-container > ul,
body .os-number ~ .os-solution-container > ul,
body .os-number ~ .os-problem-container > ol,
body .os-number ~ .os-solution-container > ol,
body .os-number ~ .os-problem-container [data-type="note"],
body .os-number ~ .os-solution-container [data-type="note"] {
  margin-top: 0;
}
body .os-number ~ .os-problem-container .os-figure,
body .os-number ~ .os-solution-container .os-figure {
  margin: 3rem 0;
}
body .os-number ~ .os-problem-container img,
body .os-number ~ .os-solution-container img {
  display: block;
}
body .review-questions [type="a"],
body .os-review-questions-container [type="a"] {
  list-style-type: upper-alpha;
}
body [data-type="exercise"] [data-type="problem"] p:first-of-type {
  display: inline-block;
}
body [data-type="note"] [data-type="solution"],
body [data-type="exercise"] [data-type="solution"],
body [data-type="example"] [data-type="solution"],
body [data-type="note"] .solution,
body [data-type="exercise"] .solution,
body [data-type="example"] .solution {
  border-top: 0.1rem solid gainsboro;
}
body [data-type="example"] .os-solution-container {
  margin-top: 1rem;
}
body [data-type="example"] .os-solution-container p {
  margin-top: 1rem;
}
body .equation,
body [data-type="equation"] {
  display: table;
  width: 100%;
}
body .equation .os-equation-number,
body [data-type="equation"] .os-equation-number {
  display: table-cell;
  width: 5%;
  vertical-align: middle;
}
body .equation .os-equation-number .os-number,
body [data-type="equation"] .os-equation-number .os-number {
  padding: 5px;
  border: black solid 1px;
  text-align: center;
  vertical-align: middle;
}
body .equation [data-type="title"],
body [data-type="equation"] [data-type="title"] {
  display: block;
  font-weight: bold;
  text-align: center;
}
body .os-note-body img {
  display: block;
}
body .os-note-body [data-type="exercise"]:first-of-type {
  margin-top: 1rem;
}
body .os-table table thead tr th .MathJax_Display {
  width: auto !important;
  margin: 0px;
  float: left !important;
}
body .swipe-table {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Chrome / Opera */
  cursor: -webkit-grab;
}
body .os-table {
  overflow-x: auto;
  margin: 20px 0;
}
body .os-table .os-table-title {
  padding-bottom: 1em;
  font-weight: bold;
  text-align: center;
}
body .os-table table {
  margin: 0;
}
body .os-table table.has-images {
  table-layout: fixed;
}
body .os-table table tr td,
body .os-table table tr th {
  padding: 0.5em 1em;
}
body .os-table table tr td {
  vertical-align: middle;
}
body .os-table table tr [data-valign="top"] {
  vertical-align: top;
}
body .os-table table tr [data-align="center"] {
  text-align: center;
}
body .os-table table ul,
body .os-table table ol {
  padding-left: 1.5em;
}
body .os-table table ul[data-bullet-style="none"],
body .os-table table ol[data-bullet-style="none"] {
  margin: 0;
  padding: 0;
}
body .os-table table ul[data-bullet-style="none"] li,
body .os-table table ol[data-bullet-style="none"] li {
  list-style: none;
}
body .os-table table .os-figure {
  margin: 0;
}
body .os-table table .os-figure img {
  margin: 0;
}
body .os-table table .os-figure .os-caption-container {
  padding: 1rem 0 0 0;
}
body .os-table .os-caption-container {
  padding: 8px;
  border-top: 0.1rem solid gainsboro;
  font-size: 0.9em;
}
body .os-table .os-caption-container .os-title-label,
body .os-table .os-caption-container .os-number {
  display: inline-block;
  padding-right: 0.25em;
  font-weight: bold;
}
body .os-eoc h2[data-type="document-title"],
body .os-eob h2[data-type="document-title"],
body .os-eoc h2.os-title,
body .os-eob h2.os-title {
  font-size: calc(2.1rem * var(--content-text-scale));
  font-weight: bold;
}
body .os-eoc .os-number,
body .os-eob .os-number {
  font-weight: bold;
  text-decoration: none;
}
body .os-eoc .group-by .os-index-item:not(:first-of-type),
body .os-eob .group-by .os-index-item:not(:first-of-type) {
  margin-top: 0.5rem;
}
body .os-eoc .group-by .os-index-item .os-term,
body .os-eob .group-by .os-index-item .os-term {
  padding-right: 0.5rem;
  font-weight: bold;
}
body .os-eoc .group-label,
body .os-eob .group-label {
  display: block;
  margin: 1.5rem 0 1rem 0;
  font-size: calc(2.1rem * var(--content-text-scale));
  font-weight: bold;
}
body .os-eoc.os-reference-container > .os-chapter-area > .reference span.os-reference-number,
body .os-eob.os-reference-container > .os-chapter-area > .reference span.os-reference-number,
body .os-eoc.os-references-container .references .os-note-body > a,
body .os-eob.os-references-container .references .os-note-body > a {
  margin-right: 10px;
}
body .os-eoc [data-type="list"] > [data-type="title"],
body .os-eob [data-type="list"] > [data-type="title"],
body .os-eoc .list > [data-type="title"],
body .os-eob .list > [data-type="title"],
body .os-eoc [data-type="list"] > .title,
body .os-eob [data-type="list"] > .title,
body .os-eoc .list > .title,
body .os-eob .list > .title {
  margin-top: 15px;
}
body .os-eoc [data-type="solution"] ol,
body .os-eob [data-type="solution"] ol {
  display: inline-grid;
}
body .os-eoc [data-type="solution"] span[data-type="media"],
body .os-eob [data-type="solution"] span[data-type="media"] {
  display: block;
}
body .os-eoc [data-type="solution"] table,
body .os-eob [data-type="solution"] table {
  margin-top: 0;
}
body .os-reference-number {
  font-weight: bold;
}
body .os-eoc [data-type="exercise"] [data-type="problem"] > .number,
body .os-eoc .exercise [data-type="problem"] > .number {
  font-weight: bold;
  text-decoration: none;
}
body .os-eoc [data-type="exercise"] img,
body .os-eoc .exercise img {
  display: block;
  margin-bottom: 1em;
}
body .os-eob .os-solution-container img {
  display: block;
}
body .os-solutions-container [data-type="solution"] {
  padding: 0.5em 0.25em 0.5em 0;
}
body .os-solutions-container [data-type="solution"] > a {
  font-weight: bold;
  text-decoration: none;
}
body .os-solutions-container [data-type="solution"] p {
  display: inline;
}
body .os-solutions-container [data-type="solution"] p::before {
  content: " ";
}
body .os-chapter-area [data-type="solution"] p {
  display: inline;
}
body .preface ul {
  list-style-type: none;
}
body .appendix [data-type="list"] {
  margin-top: 1rem;
}
body .appendix [data-type="exercise"] .os-problem-container p {
  margin-top: 0;
}
body figure.scaled-down {
  width: 60%;
  margin: auto;
}
body figure.scaled-down ~ .os-caption-container {
  width: 60%;
  margin: auto;
}
body figure.scaled-down-30 {
  width: 30%;
  margin: auto;
}
body figure.scaled-down-30 ~ .os-caption-container {
  width: 30%;
  margin: auto;
}
body :not(figure) > [data-type="media"].scaled-down {
  display: block;
  text-align: center;
}
body :not(figure) > [data-type="media"].scaled-down img {
  width: 60%;
}
body :not(figure) > [data-type="media"].scaled-down-30 {
  display: block;
  text-align: center;
}
body :not(figure) > [data-type="media"].scaled-down-30 img {
  width: 30%;
}
body .learning-objectives {
  margin: 3rem 0;
  padding: 1.5rem;
  border: 0.2rem solid #dcdcdc;
  background-color: #ededed;
}
body .learning-objectives [data-type="title"] {
  display: block;
  margin-top: 0;
  padding: 0 1.5rem 1rem;
  border-bottom: 0.2rem solid #dcdcdc;
  color: #555;
  font-size: calc(1.7rem * var(--content-text-scale));
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
body .learning-objectives p {
  margin: 1rem 0 1rem 1.5rem;
  color: #555;
}
body .learning-objectives[data-type="note"] {
  padding: 0;
}
body .not-converted-yet {
  visibility: hidden;
}
body a {
  color: #027EB5;
  cursor: pointer;
  text-decoration: underline;
}
body a:hover {
  color: #0064A0;
}
body u[data-effect="double-underline"] {
  text-decoration-style: double;
}
body span[data-screenreader-only="true"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
body sup {
  top: -0.5em;
}
body sub {
  bottom: -0.25em;
}
body h2 {
  font-size: calc(3.2rem * var(--content-text-scale));
  line-height: calc(3.5rem * var(--content-text-scale));
}
body h3 {
  font-size: calc(2.4rem * var(--content-text-scale));
  line-height: calc(2.3rem * var(--content-text-scale));
}
body h4 {
  font-size: calc(1.8rem * var(--content-text-scale));
}
body sub,
body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body .os-figure .os-caption-container {
  line-height: calc(1.7rem * var(--content-text-scale));
}
body .os-glossary-container dt {
  font-weight: 700;
}
body .os-glossary-container dd {
  margin-left: 0;
  margin-inline-start: 0;
}
body [data-type="composite-page"] [data-type="exercise"] [data-type="problem"] p:first-of-type a {
  font-weight: 700;
  margin-right: 0.5em;
}
body code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
body blockquote {
  padding: 1rem 2rem;
  margin: 1rem 0 2rem;
  border-left: 0.5rem solid #dcdcdc;
}
body figure {
  margin: 0;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body .btn-link,
body .btn-link:hover,
body .btn-link:focus,
body .btn-link:active {
  border-color: transparent;
}
body .btn-link,
body .btn-link:active,
body .btn-link.active,
body .btn-link[disabled],
body fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
}
body input,
body button,
body select,
body textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
body button,
body html input[type="button"],
body input[type="reset"],
body input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
body button,
body select {
  text-transform: none;
}
body button {
  overflow: visible;
}
body button,
body input,
body optgroup,
body select,
body textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
body [data-type="footnote-ref-content"]:before {
  /* In previous version there was a whitespace in the content */
  content: " ";
}
body .coreq-skills {
  padding: 0 3rem 3rem 3rem;
  border: 1px solid #dcdcdc;
}
body .coreq-skills > .os-title {
  margin: 0 -3rem;
  padding: 1.5rem 3rem;
  font-size: 1.7rem;
  color: #424242;
  background-color: #ececec;
  border-bottom: 1px solid #dcdcdc;
  text-transform: uppercase;
}
body .coreq-skills .os-coreq-exercises .os-problem-container,
body .coreq-skills .os-coreq-exercises .os-problem-container > p:first-child {
  display: inline;
}
body .os-table td {
  height: 3rem;
}
.content-excerpt:not([data-dynamic-style="true"]) > section {
  margin-top: 0;
}
.content-excerpt:not([data-dynamic-style="true"]) dt {
  font-weight: 700;
}
[data-type="note"]:not(data-label)::before {
  font-weight: bold;
  content: "Note:";
}
[data-type="equation"]:not(data-label)::before {
  font-weight: bold;
  content: "Equation:";
}
[data-type="example"]:not(data-label)::before {
  font-weight: bold;
  content: "Example:";
}
[data-type="exercise"]:not(data-label)::before {
  font-weight: bold;
  content: "Exercise:";
}
[data-type="problem"]:not(data-label)::before {
  font-weight: bold;
  content: "Problem:";
}
[data-type="solution"]:not(data-label)::before {
  font-weight: bold;
  content: "Solution:";
}
[data-label]::before {
  font-weight: bold;
  content: attr(data-label) !important;
}
