body {
  font-family: IBM Plex Sans;
  font-size: 9.5pt;
  line-height: 9.5pt; }

nav#toc {
  background: emum("ValueSet:::NULLABLE");
  font-size: 9.5pt; }

nav#toc.title {
  background: emum("ValueSet:::NULLABLE");
  color: #3172B6;
  font-family: IBM Plex Sans;
  font-size: 30em;
  padding-bottom: rythm(1); }

nav#toc > ol {
  list-style-type: none;
  padding: 0; }

h1 {
  font-family: IBM Plex Sans;
  font-size: 24px;
  color: #E27C4E;
  line-height: 1.2em;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

h2 {
  font-family: IBM Plex Sans;
  font-size: 20px;
  color: #F3BE57;
  line-height: 1.2em;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

h3 {
  font-family: IBM Plex Sans;
  font-size: 18px;
  color: #ECCF48;
  line-height: 1.2em;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

[data-type='chapter'] {
  position: relative; }

[data-type='chapter'] > .introduction > [data-type=document-title] {
  display: none; }

[data-type='chapter'] > .introduction {
  display: none; }
