/*******************
        RULES
*******************/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Roboto+Condensed:300,300i,400,400i,700,700i");
html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi; }

div.book > div.preface {
  counter-reset: page 1; }

div.book > div.preface {
  page: preface; }

div.book > div.toc {
  page: table-of-contents; }

div.book > div.chapter {
  page: chapter;
  prince-page-group: start; }

div.book > div.appendix {
  page: appendix; }

.landscape {
  page: landscape; }

[data-type="chapter"],
body > [data-type="page"] {
  page-break-before: right !important;
  page-break-after: left !important; }

@page {
  margin: PAGE_VERTICAL_MARGIN() PAGE_HORIZONTAL_MARGIN();
  font-size: xx-small;
  font-family: font-map(sans-serif);
  @footnotes {
    border-top: solid black thin;
    padding-top: 1em; } }

@page :left {
  @top-left-corner {}  @top-right-corner {}  @bottom-left-corner {}  @bottom-right-corner {}  @top-left {
    content: counter(page);
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1); }
  @top-center {}  @top-right {
    content: string(cnx-header);
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1); }
  @bottom-left {
    color: grey;
    font-weight: thin;
    content: "This OpenStax book is available for free at " string(cnx-collection-url);
    prince-text-replace: ":9680" "\2019";
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1); }
  @bottom-center {}  @bottom-right {}  @left-top {}  @left-middle {}  @left-bottom {}  @right-top {}  @right-middle {}  @right-bottom {} }

@page :right {
  @top-left-corner {}  @top-right-corner {}  @bottom-left-corner {}  @bottom-right-corner {}  @top-left {
    content: string(cnx-header);
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1); }
  @top-center {}  @top-right {
    content: counter(page);
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1); }
  @bottom-left {}  @bottom-center {}  @bottom-right {}  @left-top {}  @left-middle {}  @left-bottom {}  @right-top {}  @right-middle {}  @right-bottom {} }

@page table-of-contents {
  @top-left-corner {
    content: CONTENT_NONE(); }
  @top-left {
    content: CONTENT_NONE(); }
  @top-right-corner {
    content: CONTENT_NONE(); }
  @top-right {
    content: CONTENT_NONE(); } }

@page preface:blank {
  @top-left {
    content: CONTENT_NONE(); } }

@page preface:right {
  @top-right {
    content: counter(page); } }

@page chapter:nth(1) {
  @top-left-corner {
    background-color: transparent;
    color: color-map(folioChapterHeader);
    font-weight: bold;
    content: CONTENT_BLANK(); }
  @top-right-corner {
    background-color: transparent;
    color: color-map(folioChapterHeader);
    font-weight: bold;
    content: CONTENT_BLANK(); }
  @top-left {
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1);
    background-color: transparent;
    color: color-map(folioChapterHeader);
    font-weight: bold; }
  @top-center {
    background-color: transparent;
    color: color-map(folioChapterHeader);
    font-weight: bold; }
  @top-right {
    font-family: font-map(sans-serif);
    color: color-map(folio);
    font-size: size-scale(-1);
    background-color: transparent;
    color: color-map(folioChapterHeader);
    font-weight: bold; } }

@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto; }

/*
  Typograpy Rules

  All the things you didn't want to know about typography, here just for you.

  This describes the font scale, rules for headings font sizes etc.

  Style guide: book.1-global.typography
*/
/*
  H1 styles (not chapter title):

  Uses: Preface, Appendix, End of Book Solutions, EOB titles, Index

  Style guide: book.2-titles-h1
*/
/* -------------------------
 * Book TOC
 * ------------------------
 */
nav#toc > ol {
  padding: 0; }

nav#toc ol {
  list-style-type: none; }

nav#toc a {
  text-align: left;
  text-decoration: none;
  border-bottom: none; }
  nav#toc a::after {
    margin-left: 1rem;
    content: target-counter(attr(href), page); }

nav#toc > ol > li {
  margin-bottom: 12px;
  padding-left: 1rem; }
  nav#toc > ol > li:nth-child(2n) {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F4F4F4; }
  nav#toc > ol > li > a {
    font-size: 15px;
    font-weight: bold;
    color: #24739e;
    font-family: "Roboto Condensed", serif; }
    nav#toc > ol > li > a > .os-number {
      display: inline-block;
      color: #24739e;
      border: 1px solid #0EC0DC;
      padding: 0;
      margin-right: 1rem;
      font-weight: bold;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center; }
    nav#toc > ol > li > a > .os-divider {
      display: none; }
  nav#toc > ol > li > ol {
    border-left: 4px solid #e7e7e7;
    margin-left: 20px;
    padding-left: 1rem;
    margin-top: 10px; }
    nav#toc > ol > li > ol > li > a {
      color: #324456;
      font-family: "Roboto Condensed", serif; }
      nav#toc > ol > li > ol > li > a > .os-number {
        font-weight: bold; }

.preface {
  margin-bottom: 15px; }
  .preface h1 {
    font-family: "Roboto Condensed", serif;
    color: #24739e;
    font-size: 29px;
    margin-bottom: 15px;
    line-height: 44px;
    bookmark-level: 1;
    page-break-after: avoid; }
  .preface > section h2 {
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 19px;
    line-height: 29px;
    margin: 0;
    bookmark-level: 2;
    page-break-after: avoid; }
  .preface > section h3 {
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 15px;
    page-break-after: avoid; }
  .preface > section h4 {
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px; }
  .preface > section h5 {
    font-family: "Roboto Condensed", serif;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 15px; }
  .preface p + section {
    margin-top: 15px; }
  .preface > div section {
    margin-bottom: 15px; }

/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  display: block;
  margin: auto;
  max-width: 6.5in;
  width: 100%; }

.os-figure,
.preface .os-figure {
  display: block;
  margin: auto;
  max-width: 6.5in;
  width: 100%;
  margin-bottom: 19px; }
  .os-figure:last-child,
  .preface .os-figure:last-child {
    margin-bottom: auto; }
  .os-figure > figure,
  .preface .os-figure > figure {
    padding-bottom: 6px; }
    .os-figure > figure img,
    .preface .os-figure > figure img {
      max-width: 6in; }
  .os-figure > .os-caption-container,
  .preface .os-figure > .os-caption-container {
    font-family: "Roboto Condensed", serif;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px; }
    .os-figure > .os-caption-container .os-title-label, .os-figure > .os-caption-container .os-number, .os-figure > .os-caption-container .os-title,
    .preface .os-figure > .os-caption-container .os-title-label,
    .preface .os-figure > .os-caption-container .os-number,
    .preface .os-figure > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    .os-figure > .os-caption-container .os-number,
    .preface .os-figure > .os-caption-container .os-number {
      margin-right: 6px; }
    .os-figure > .os-caption-container .os-caption,
    .preface .os-figure > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }

[data-type="chapter"] {
  position: relative; }
  [data-type="chapter"] > .introduction {
    position: relative;
    padding-top: 3.2in; }
    [data-type="chapter"] > .introduction > [data-type="document-title"] {
      display: none; }
    [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure figure {
      margin: 0;
      overflow: hidden;
      position: absolute;
      margin-bottom: -0.8in;
      max-width: none;
      width: 8.75in;
      height: 4in;
      transform: translateX(-1.125in);
      top: -0.8in;
      /* Prince -v latest */
      /* end Prince -v latest */ }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure figure::after {
        width: 100%;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        height: 70px;
        background-color: #24739e;
        border-top: 4px solid #1b5574; }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure figure span[data-type="media"] {
        display: block;
        line-height: 0;
        width: 100%;
        height: 100%;
        /* Prince -v latest */
        /* end Prince -v latest */ }
        [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure figure span[data-type="media"] img {
          width: 100%;
          position: relative;
          max-width: none;
          /* Prince -v <= 11.0 */
          margin-top: 2in;
          transform: translateY(-50%);
          padding-bottom: 70px;
          /* end Prince -v <= 11.0 */
          /* Prince -v latest */
          /* end Prince -v latest */ }
    [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure .os-caption-container {
      width: 6.5in;
      margin-top: 8px; }

/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] > h1[data-type="document-title"] {
  font-size: 19px;
  position: absolute;
  color: #FFFFFF;
  white-space: nowrap;
  font-family: "Roboto Condensed", serif;
  z-index: 1;
  margin: 0;
  width: 6.5in;
  height: 4in;
  top: -0.8in; }
  [data-type="chapter"] > h1[data-type="document-title"] .os-text {
    position: absolute;
    bottom: 0;
    max-width: 6.5in;
    height: 60px;
    white-space: normal;
    font-weight: normal;
    left: 80px; }
  [data-type="chapter"] > h1[data-type="document-title"] .os-number {
    font-family: "Roboto Condensed", serif;
    bottom: 47.5px;
    background-color: #FFFFFF;
    width: 45px;
    height: 45px;
    display: block;
    line-height: 45px;
    color: #324456;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    text-align: center; }
  [data-type="chapter"] > h1[data-type="document-title"]::after {
    content: " ";
    display: block;
    width: 170px;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: -1in; }

/* -------------------------
 * Styling for Appendix
 * ------------------------
 */
.appendix h1 {
  font: "Roboto Condensed", serif;
  font-size: 23px;
  color: #24739e;
  line-height: 35px;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
  .appendix h1 span.os-number {
    border: solid 1px #24739e;
    color: #24739e;
    padding: 4px 8px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    display: inline; }

.appendix > section h2 {
  font: "Roboto Condensed", serif;
  font-size: 19px;
  color: #324456;
  line-height: 29px;
  bookmark-level: 2;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }
  .appendix > section h2:not(.labeled)::before {
    content: "" !important; }

.appendix > section h3 {
  font: "Roboto Condensed", serif;
  font-size: 15px;
  color: #324456;
  line-height: 23px;
  bookmark-level: 3;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.appendix > section h4 {
  font: "Roboto Condensed", serif;
  font-size: 12px;
  color: #324456;
  line-height: 18px;
  bookmark-level: 4;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.appendix > section h5 {
  font: "Roboto Condensed", serif;
  font-size: 10px;
  color: #000000;
  line-height: 15px;
  bookmark-level: 5;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.os-table {
  margin: 0 auto;
  padding: 0;
  border: none;
  page-break-inside: auto;
  display: table; }
  .os-table table {
    border-collapse: collapse;
    prince-caption-page: all;
    line-height: auto;
    margin-bottom: 10px; }
  .os-table thead {
    font-weight: 100; }
    .os-table thead tr:first-of-type th {
      background-color: #0EC0DC;
      color: #324456;
      font: 12px; }
    .os-table thead tr:not(first-child) {
      background-color: #24739e;
      color: #FFFFFF;
      border: 0; }
  .os-table thead th {
    padding: 10px; }
  .os-table thead tr:first-of-type th:first-child {
    border-top-left-radius: 3px; }
  .os-table thead tr:first-of-type th:last-child {
    border-top-right-radius: 3px; }
  .os-table tbody {
    border: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table tbody tr:last-child td {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table tbody tr td {
      padding: 10px;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      border-right: solid 1px rgba(0, 0, 0, 0.1);
      border-left: none; }
      .os-table tbody tr td:first-child {
        border-left: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table tbody tr:last-child td {
      border-right: solid 1px solid 1px; }
  .os-table tbody tr {
    page-break-inside: avoid; }
  .os-table tfoot {
    display: table-row-group; }
  .os-table > .os-caption-container {
    font-family: "Roboto Condensed", serif;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px;
    display: table-caption; }
    .os-table > .os-caption-container .os-title-label, .os-table > .os-caption-container .os-number, .os-table > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    .os-table > .os-caption-container .os-number {
      margin-right: 6px; }
    .os-table > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }
  .os-table .os-table-title {
    text-align: center;
    font-weight: bold;
    padding: 10px; }
  .os-table table.unstyled tbody tr {
    page-break-inside: avoid; }
  .os-table table.text-heavy thead {
    font-weight: 100; }
    .os-table table.text-heavy thead tr:first-of-type th {
      background-color: transparent;
      color: #242424;
      font: 12px; }
    .os-table table.text-heavy thead tr:not(first-child) {
      background-color: transparent;
      color: #242424;
      border: 0; }
  .os-table table.text-heavy thead th {
    padding: 10px; }
  .os-table table.text-heavy thead tr:first-of-type th:first-child {
    border-top-left-radius: 0; }
  .os-table table.text-heavy thead tr:first-of-type th:last-child {
    border-top-right-radius: 0; }
  .os-table table.text-heavy tbody {
    border: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table table.text-heavy tbody tr:last-child td {
      border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table table.text-heavy tbody tr td {
      padding: 10px;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      border-right: solid 1px rgba(0, 0, 0, 0.1);
      border-left: none; }
      .os-table table.text-heavy tbody tr td:first-child {
        border-left: solid 1px rgba(0, 0, 0, 0.1); }
    .os-table table.text-heavy tbody tr:last-child td {
      border-right: solid 1px solid 1px; }
  .os-table table.text-heavy tbody tr {
    page-break-inside: avoid; }
  .os-table table.text-heavy > .os-caption-container {
    font-family: "Roboto Condensed", serif;
    font-size: 10px;
    caption-side: bottom;
    display: inline;
    padding-bottom: 12px;
    display: table-caption; }
    .os-table table.text-heavy > .os-caption-container .os-title-label, .os-table table.text-heavy > .os-caption-container .os-number, .os-table table.text-heavy > .os-caption-container .os-title {
      color: #000000;
      border: none;
      font-weight: 700; }
    .os-table table.text-heavy > .os-caption-container .os-number {
      margin-right: 6px; }
    .os-table table.text-heavy > .os-caption-container .os-caption {
      color: rgba(0, 0, 0, 0.6);
      text-align: left;
      page-break-before: avoid;
      line-height: 1.6em;
      margin-left: 5px; }

table td.text-align-right {
  text-align: right; }

table td.text-align-center {
  text-align: center; }

table td.text-align-justify {
  text-align: justify; }

table td img {
  height: auto;
  width: 100%;
  position: inherit; }

div.note div.table table thead tr:first-of-type th {
  white-space: nowrap; }
  div.note div.table table thead tr:first-of-type th:not(:last-child) {
    text-align: left; }
  div.note div.table table thead tr:first-of-type th:last-child {
    text-align: right; }

.os-eob.os-reference-container h2[data-type="document-title"] {
  font: "Roboto Condensed", serif;
  font-size: 15px;
  color: #324456;
  line-height: 23px;
  bookmark-level: 3;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.os-eob.os-reference-container .os-reference-number {
  font-weight: bold;
  padding-right: 12px; }

/* ---------------------------------------------------
 * EOB
 * ---------------------------------------------------
 */
.os-eob h1[data-type="document-title"] {
  font: "Roboto Condensed", serif;
  font-size: 23px;
  color: #24739e;
  line-height: 35px;
  bookmark-level: 1;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.os-eob h2[data-type="document-title"] {
  font: "Roboto Condensed", serif;
  font-size: 19px;
  color: #324456;
  line-height: 29px;
  bookmark-level: 2;
  page-break-after: avoid;
  margin: 0;
  padding: 0; }

.os-index-container {
  page-break-before: right;
  page-break-after: left;
  page-break-inside: auto;
  column-count: 3;
  column-gap: 24px;
  column-width: auto; }
  .os-index-container .group-by {
    padding-bottom: 12px; }
  .os-index-container .group-label {
    font-size: 15px;
    font-weight: bold;
    color: #324456; }
  .os-index-container .os-term-section-link {
    border-bottom: none; }
  .os-index-container .os-index-item {
    font-size: 10px;
    line-height: 1.5em; }
    .os-index-container .os-index-item .os-term {
      padding-right: 12px; }

[data-type="footnote-refs"] {
  display: prince-footnote;
  color: #6D6F71;
  line-height: 1.5em;
  font-size: 12px; }
  [data-type="footnote-refs"] [data-type="footnote-refs-title"] {
    font: "Roboto Condensed", serif;
    font-size: 12px;
    color: #324456;
    line-height: 18px;
    bookmark-level: 4;
    page-break-after: avoid;
    margin: 0;
    padding: 0; }
  [data-type="footnote-refs"] ul {
    list-style: none;
    margin: 0;
    padding: 0; }

[data-type="footnote-refs"]::footnote-call, [data-type="footnote-refs"]::footnote-marker {
  content: none; }

@page {
  @footnotes {
    border-top: solid #6D6F71 thin; } }

/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
[data-type="note"].exploring-business-careers {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-left: solid 1px #F2F2F2;
  border-right: solid 1px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  [data-type="note"].exploring-business-careers svg text {
    fill: #000000 !important; }
  [data-type="note"].exploring-business-careers a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].exploring-business-careers .os-note-body {
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].exploring-business-careers h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #000000;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    border-top: 3px solid #d34d32;
    border-bottom: solid 1px #F2F2F2;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
  [data-type="note"].exploring-business-careers .os-note-body {
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0; }
    [data-type="note"].exploring-business-careers .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }
    [data-type="note"].exploring-business-careers .os-note-body p:last-child {
      padding-bottom: 0; }

[data-type="note"].managing-change {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].managing-change svg text {
    fill: #000000 !important; }
  [data-type="note"].managing-change a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].managing-change .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].managing-change h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/managing-change.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].managing-change .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].managing-change .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].link-to-learning {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].link-to-learning svg text {
    fill: #000000 !important; }
  [data-type="note"].link-to-learning a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].link-to-learning .os-note-body {
    background: #F2F2F2;
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].link-to-learning h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #0EC0DC;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/link-to-learning.svg") #0EC0DC no-repeat right;
    background-size: contain; }
  [data-type="note"].link-to-learning .os-note-body {
    background: #F2F2F2;
    color: #000000;
    border: solid 1px #F2F2F2;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].link-to-learning .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].catching-spirit {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].catching-spirit svg text {
    fill: #000000 !important; }
  [data-type="note"].catching-spirit a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].catching-spirit .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].catching-spirit h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/catching-spirit.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].catching-spirit .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].catching-spirit .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].concept-check {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].concept-check svg text {
    fill: #000000 !important; }
  [data-type="note"].concept-check a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].concept-check .os-note-body {
    background: #D6D9DD;
    color: #000000;
    border: solid 1px #D6D9DD;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].concept-check h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #324456;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/concept-check.svg") #324456 no-repeat right;
    background-size: contain; }
  [data-type="note"].concept-check .os-note-body {
    background: #D6D9DD;
    color: #000000;
    border: solid 1px #D6D9DD;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].concept-check .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].expanding-around-globe {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].expanding-around-globe svg text {
    fill: #000000 !important; }
  [data-type="note"].expanding-around-globe a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].expanding-around-globe .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].expanding-around-globe h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/expanding-around-globe.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].expanding-around-globe .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].expanding-around-globe .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].ethics-in-practice {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].ethics-in-practice svg text {
    fill: #000000 !important; }
  [data-type="note"].ethics-in-practice a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].ethics-in-practice .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].ethics-in-practice h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/ethics-in-practice.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].ethics-in-practice .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].ethics-in-practice .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

[data-type="note"].customer-satisfaction {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box;
  margin-bottom: 12px; }
  [data-type="note"].customer-satisfaction svg text {
    fill: #000000 !important; }
  [data-type="note"].customer-satisfaction a[href] {
    color: #0064A0;
    text-decoration: none;
    border-bottom: #0064A0 solid 0.02em; }
  [data-type="note"].customer-satisfaction .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
  [data-type="note"].customer-satisfaction h3[data-type="title"] {
    font-weight: normal;
    font-family: "Roboto Condensed", serif;
    page-break-after: avoid;
    font-family: "Roboto Condensed", serif;
    color: #324456;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-bottom: 0px;
    color: #FFFFFF;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15.6px;
    background: #24739e;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url("../themes/theme3/images/customer-satisfaction.svg") #24739e no-repeat right;
    background-size: contain; }
  [data-type="note"].customer-satisfaction .os-note-body {
    background: #D3E3EB;
    color: #000000;
    border: solid 1px #D3E3EB;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px; }
    [data-type="note"].customer-satisfaction .os-note-body h4[data-type="title"] {
      font-weight: normal;
      font-family: "Roboto Condensed", serif;
      page-break-after: avoid;
      font-family: "Roboto Condensed", serif;
      color: #324456;
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 15px;
      color: #324456;
      margin-top: 12px; }

/*# sourceMappingURL=intro-business-pdf.css.map */