/*
  Typograpy Rules

  All the things you didn't want to know about typography, here just for you.

  This describes the font scale, rules for headings font sizes etc.

  Style guide: book.1-global.typography
*/
/*
  H1 styles (not chapter title):

  Uses: Preface, Appendix, End of Book Solutions, EOB titles, Index

  Style guide: book.2-titles-h1
*/
/*
  Typograpy Rules

  All the things you didn't want to know about typography, here just for you.

  This describes the font scale, rules for headings font sizes etc.

  Style guide: book.1-global.typography
*/
/*
  H1 styles (not chapter title):

  Uses: Preface, Appendix, End of Book Solutions, EOB titles, Index

  Style guide: book.2-titles-h1
*/
/*******************
        RULES
*******************/
html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi; }

div.book > div.preface {
  counter-reset: page 1; }

div.book > div.preface {
  page: preface; }

div.book > div.toc {
  page: table-of-contents; }

div.book > div.chapter {
  page: chapter;
  prince-page-group: start; }

div.book > div.appendix {
  page: appendix; }

.landscape {
  page: landscape; }

[data-type="chapter"],
body > [data-type="page"] {
  page-break-before: right !important;
  page-break-after: left !important; }

@page {
  margin: 0.8in 1in;
  font-size: xx-small;
  font-family: "Noto Sans", sans-serif;
  @footnotes {
    border-top: solid black thin;
    padding-top: 1em; } }
@page :left {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: counter(page);
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px; }
  @top-center {}
  @top-right {
    content: string(cnx-header);
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px; }
  @bottom-left {
    color: grey;
    font-weight: thin;
    content: "This OpenStax book is available for free at " string(cnx-collection-url);
    prince-text-replace: ":9680" "\2019";
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px; }
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {} }
@page :right {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: string(cnx-header);
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px; }
  @top-center {}
  @top-right {
    content: counter(page);
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px; }
  @bottom-left {}
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {} }
@page table-of-contents {
  @top-left-corner {
    content: ""; }
  @top-left {
    content: ""; }
  @top-right-corner {
    content: ""; }
  @top-right {
    content: ""; } }
@page preface:blank {
  @top-left {
    content: ""; } }
@page preface:right {
  @top-right {
    content: counter(page); } }
@page chapter:nth(1) {
  @top-left-corner {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    content: " "; }
  @top-right-corner {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    content: " "; }
  @top-left {
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold; }
  @top-center {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold; }
  @top-right {
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 12px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold; } }
@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto; }
/* -------------------------
 * Module/page level titles
 * ------------------------
 */
[data-type="chapter"] [data-type="page"] > h2 {
  font-family: "Roboto Condensed", serif;
  color: #344456;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 12px;
  bookmark-level: 2;
  page-break-after: avoid; }
  [data-type="chapter"] [data-type="page"] > h2 .os-number {
    font-size: 12px;
    border: solid 1px #0dc0dc;
    vertical-align: middle;
    padding: 4px 8px;
    margin-right: 12px; }

[data-type="chapter"] [data-type="note"].link-to-learning div.mediaobject {
  display: none; }
[data-type="chapter"] [data-type="note"].try-it div.mediaobject {
  display: none; }

[data-type="chapter"] .os-eoc h2[data-type="document-title"] {
  font-family: "Roboto Condensed", serif;
  color: #344456;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 12px;
  bookmark-level: 2;
  page-break-after: avoid;
  background: url("../images//assessments.svg") no-repeat left; }
  [data-type="chapter"] .os-eoc h2[data-type="document-title"] span.os-text {
    padding: 12px;
    margin-left: 23px; }
[data-type="chapter"] .os-eoc.os-glossary-container h2[data-type="document-title"] {
  font-family: "Roboto Condensed", serif;
  color: #344456;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 12px;
  bookmark-level: 2;
  page-break-after: avoid;
  background: url("../images//key-terms.svg") no-repeat left; }
  [data-type="chapter"] .os-eoc.os-glossary-container h2[data-type="document-title"] span.os-text {
    padding: 12px;
    margin-left: 23px; }
[data-type="chapter"] .os-eoc.os-section-summary-container h2[data-type="document-title"] {
  font-family: "Roboto Condensed", serif;
  color: #344456;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 12px;
  bookmark-level: 2;
  page-break-after: avoid;
  background: url("../images//summary.svg") no-repeat left; }
  [data-type="chapter"] .os-eoc.os-section-summary-container h2[data-type="document-title"] span.os-text {
    padding: 12px;
    margin-left: 23px; }

cnx-pi {
  display: none; }

[data-type="metadata"] {
  display: none; }

body {
  color: #242424;
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  line-height: 15px; }

a:link {
  color: #027EB5;
  text-decoration: none;
  border-bottom: #027EB5 solid 0.02em; }

.bold.centered-text {
  text-align: center;
  display: block; }
  .bold.centered-text strong {
    font-weight: 100; }

/* -------------------------
 * Book TOC
 * ------------------------
 */
nav#toc {
  float: left; }
  nav#toc > ol {
    padding: 0; }
  nav#toc ol {
    list-style-type: none; }
  nav#toc a {
    text-align: left;
    text-decoration: none; }
  nav#toc > ol > li {
    margin-bottom: 12px;
    padding-left: 12px; }
    nav#toc > ol > li:nth-child(2n) {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #F4F4F4; }
    nav#toc > ol > li > a {
      font-size: 15px;
      font-weight: bold;
      color: #24739e;
      font-family: "Roboto Condensed", serif; }
      nav#toc > ol > li > a::after {
        content: leader(" ") target-counter(attr(href), page); }
    nav#toc > ol > li > ol > li > a {
      color: #344456;
      font-family: "Roboto Condensed", serif; }

.preface {
  margin-bottom: 15px; }
  .preface h1 {
    font-family: "Roboto Condensed", serif;
    color: #24739e;
    font-size: 29px;
    margin-bottom: 15px;
    line-height: 44px;
    bookmark-level: 1;
    page-break-after: avoid; }
  .preface > section h2 {
    font-family: "Roboto Condensed", serif;
    color: #344456;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 12px;
    bookmark-level: 2;
    page-break-after: avoid; }
  .preface > section h3 {
    font-family: "Roboto Condensed", serif;
    color: #344456;
    font-size: 19px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 12px;
    page-break-after: avoid; }
  .preface > section h4 {
    font-family: "Roboto Condensed", serif;
    color: #344456;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 10px; }
  .preface > section h5 {
    font-family: "Roboto Condensed", serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 10px; }
  .preface p + section {
    margin-top: 15px; }
  .preface > div section {
    margin-bottom: 15px; }

[data-type="chapter"] {
  position: relative; }
  [data-type="chapter"] > .introduction {
    position: relative;
    padding-top: 3.5in; }
    [data-type="chapter"] > .introduction > [data-type="document-title"] {
      display: none; }
    [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure {
      width: 8.75in;
      margin: 0; }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure figure {
        margin: 0; }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure::before {
        background-size: 100% 122px;
        height: 122px;
        width: 8.75in;
        display: block;
        content: " ";
        position: absolute;
        top: -4.7in;
        left: -1in;
        right: -1in; }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure .os-caption-container {
        width: 6.5in; }
      [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure [data-type="media"] {
        display: block;
        width: 8.75in;
        border-left: none;
        height: 4.3in;
        position: absolute;
        top: -0.8in;
        transform: translate3d(-1in, 0, 0);
        overflow: hidden; }
        [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure [data-type="media"]::after {
          width: 100%;
          content: " ";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 70px;
          background-color: #24739e;
          border-top: 4px solid #11374b; }
        [data-type="chapter"] > .introduction > [data-type="document-title"] + .os-figure [data-type="media"] img {
          width: 8.75in; }

/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] > h1[data-type="document-title"] {
  font-size: 23px;
  padding: 0;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 8.5in;
  height: 3.5in;
  color: #FFFFFF;
  white-space: nowrap;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  text-transform: capitalize; }
  [data-type="chapter"] > h1[data-type="document-title"] .os-text {
    position: absolute;
    bottom: -10px;
    left: 80px;
    width: 60%;
    height: 70px;
    white-space: normal; }
  [data-type="chapter"] > h1[data-type="document-title"] .os-number {
    font-family: "Roboto Condensed", serif;
    top: auto;
    left: 0;
    bottom: 62px;
    background-color: #FFFFFF;
    border-radius: 50%;
    min-width: 0;
    min-height: 0;
    width: 45px;
    height: 45px;
    padding-top: 0;
    border: none;
    display: block;
    line-height: 45px;
    color: #344456;
    position: absolute;
    border: 1px solid #FFFFFF;
    text-align: center; }
  [data-type="chapter"] > h1[data-type="document-title"]::after {
    content: " ";
    display: block;
    width: 170px;
    height: 73px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(-1in, 0, 0);
    z-index: 3; }

/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
[data-type="note"].link-to-learning {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box; }
  [data-type="note"].link-to-learning h3[data-type="title"] {
    font-family: "Noto Sans", sans-serif;
    color: #24739e;
    font-size: 19px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 12px;
    page-break-after: avoid;
    background: #344456; }
  [data-type="note"].link-to-learning .os-note-body {
    background: #F2F2F2;
    color: #000000; }
    [data-type="note"].link-to-learning .os-note-body h4[data-type="title"] {
      font-family: "Noto Sans", sans-serif;
      color: #24739e;
      font-size: 15px;
      line-height: 23px;
      font-weight: bold;
      margin-bottom: 10px; }

[data-type="note"].catching-spirit {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box; }
  [data-type="note"].catching-spirit h3[data-type="title"] {
    font-family: "Noto Sans", sans-serif;
    color: #344456;
    font-size: 19px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 12px;
    page-break-after: avoid;
    background: #FFFFFF; }
  [data-type="note"].catching-spirit .os-note-body {
    background: #D6D9DD;
    color: #000000; }
    [data-type="note"].catching-spirit .os-note-body h4[data-type="title"] {
      font-family: "Noto Sans", sans-serif;
      color: #344456;
      font-size: 15px;
      line-height: 23px;
      font-weight: bold;
      margin-bottom: 10px; }

[data-type="note"].concept-check {
  width: 100%;
  box-decoration-break: slice;
  box-sizing: border-box; }
  [data-type="note"].concept-check h3[data-type="title"] {
    font-family: "Noto Sans", sans-serif;
    color: #0dc0dc;
    font-size: 19px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 12px;
    page-break-after: avoid;
    background: #FFFFFF; }
  [data-type="note"].concept-check .os-note-body {
    background: #D3E3EB;
    color: #000000; }
    [data-type="note"].concept-check .os-note-body h4[data-type="title"] {
      font-family: "Noto Sans", sans-serif;
      color: #0dc0dc;
      font-size: 15px;
      line-height: 23px;
      font-weight: bold;
      margin-bottom: 10px; }

/*# sourceMappingURL=intro-business-2.css.map */
