@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap");
* {
  box-sizing: border-box; }

[data-type="composite-chapter"] p, [data-type="composite-chapter"] section, [data-type="composite-chapter"] table, [data-type="composite-chapter"] ul, [data-type="composite-chapter"] li, [data-type="composite-chapter"] dl, [data-type="composite-chapter"] h1, [data-type="composite-chapter"] h2, [data-type="composite-chapter"] h3, [data-type="composite-chapter"] h4, [data-type="composite-chapter"] h5,
[data-type="page"] p,
[data-type="page"] section,
[data-type="page"] table,
[data-type="page"] ul,
[data-type="page"] li,
[data-type="page"] dl,
[data-type="page"] h1,
[data-type="page"] h2,
[data-type="page"] h3,
[data-type="page"] h4,
[data-type="page"] h5,
[data-type="composite-page"] p,
[data-type="composite-page"] section,
[data-type="composite-page"] table,
[data-type="composite-page"] ul,
[data-type="composite-page"] li,
[data-type="composite-page"] dl,
[data-type="composite-page"] h1,
[data-type="composite-page"] h2,
[data-type="composite-page"] h3,
[data-type="composite-page"] h4,
[data-type="composite-page"] h5 {
  margin: 0;
  padding: 0; }

[data-type="composite-chapter"] p,
[data-type="page"] p,
[data-type="composite-page"] p {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] section,
[data-type="page"] section,
[data-type="composite-page"] section {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] table,
[data-type="page"] table,
[data-type="composite-page"] table {
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] ul,
[data-type="page"] ul,
[data-type="composite-page"] ul {
  margin-bottom: 1.5rem; }

math {
  vertical-align: middle; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

div.book > div.preface {
  counter-reset: page 1; }

[data-type="chapter"] > h1[data-type="document-title"] .os-number {
  string-set: chapter-number content(); }

[data-type="chapter"] > h1[data-type="document-title"] .os-text {
  string-set: chapter-title content(); }

[data-type="chapter"] > [data-type="page"] > h2[data-type="document-title"] .os-number {
  string-set: module-number content(); }

[data-type="chapter"] > [data-type="page"] > h2[data-type="document-title"] .os-text {
  string-set: module-title content(); }

nav#toc {
  page: table-of-contents; }

div[data-type="page"].preface {
  page: preface; }

.chapter {
  page: chapter;
  prince-page-group: start; }

@page chapter:nth(1) {
  @top-left-corner {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page table-of-contents {
  @top-left-corner {
    content: none; }
  @top-left {
    content: none; }
  @top-right-corner {
    content: none; }
  @top-right {
    content: none; } }

@page preface:left {
  @top-left-corner {
    content: counter(page); }
  @top-left {
    content: none; }
  @top-right-corner {
    content: "Preface";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; } }

@page preface:right {
  @top-left-corner {
    content: "Preface";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-right-corner {
    content: counter(page); } }

@page :left {
  @top-left {
    content: " " string(chapter-number) " • " string(chapter-title);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-left-corner {
    content: counter(page);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700;
    margin-right: 8px; } }

@page :right {
  @top-right {
    content: string(module-number) " " string(module-title) " ";
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; }
  @top-right-corner {
    content: counter(page);
    margin-left: 8px;
    content: counter(page);
    font-size: 1.2rem;
    font-family: "Muli";
    font-weight: 700; } }

/* stylelint-disable-next-line meowtec/no-px */
/* stylelint-disable-next-line meowtec/no-px */
:root {
  font-family: Alegreya;
  font-size: 12px;
  line-height: 1.5rem;
  color: #000000;
  prince-image-resolution: auto, 200dpi;
  prince-background-image-resolution: 200dpi; }

a {
  color: #027EB5; }

.preface > h1 {
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.58318rem;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  margin-bottom: 3rem; }

.preface > section > h3 {
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  color: #00829B; }

.preface > section > section > h4 {
  font-family: Muli;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.44rem;
  line-height: 1.5rem;
  color: #00829B; }

nav#toc {
  page-break-after: always; }

nav#toc > ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: 2in; }

nav#toc > ol > .os-toc-chapter {
  display: block;
  margin-bottom: 3rem; }

nav#toc > ol > .os-toc-chapter > a > .os-number {
  display: block;
  text-decoration: none;
  color: #3172B6;
  font-family: Muli;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

nav#toc > ol > .os-toc-chapter > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 2.0736rem;
  line-height: 3rem;
  font-weight: bolder;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > a::after {
  content: leader('.') target-counter(attr(href), page);
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #000000; }

nav#toc > ol > .os-toc-chapter > ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page {
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page > a {
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-page > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page {
  display: block; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page > a {
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-chapter > ol > .os-toc-chapter-composite-page > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-preface {
  display: block;
  margin-bottom: 3rem; }

nav#toc > ol > .os-toc-preface > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-preface > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-appendix {
  margin-bottom: 1.5rem; }

nav#toc > ol > .os-toc-appendix > a > .os-number {
  text-decoration: none;
  font-family: Muli;
  font-weight: bolder; }

nav#toc > ol > .os-toc-appendix > a > .os-divider {
  content: ' '; }

nav#toc > ol > .os-toc-appendix > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-appendix > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-index {
  display: block;
  margin-bottom: 3rem; }

nav#toc > ol > .os-toc-index > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-index > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > ol > .os-toc-composite-chapter {
  display: block;
  margin-bottom: 3rem; }

nav#toc > ol > .os-toc-composite-chapter > ol {
  display: none; }

nav#toc > ol > .os-toc-composite-chapter > a {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-decoration: none; }

nav#toc > ol > .os-toc-composite-chapter > a::after {
  content: target-counter(attr(href), page);
  display: inline-block;
  margin-left: 3rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

nav#toc > .os-toc-title {
  font-size: 4.29982rem;
  line-height: 4.5rem;
  color: #3172B6;
  display: block;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: lighter;
  border-bottom: 0.5rem solid;
  border-bottom-color: #3172B6;
  margin-bottom: 6rem; }

.introduction > .os-figure.has-splash {
  margin-bottom: 2rem; }

.introduction > .os-figure.has-splash > figure.splash {
  position: relative;
  margin: 0; }

.introduction > .os-figure.has-splash > figure.splash::before {
  content: '';
  background-color: #0074BC;
  position: absolute;
  height: 100%;
  width: 8.5in;
  margin-left: -1in;
  z-index: -1;
  box-sizing: border-box;
  padding: inherit;
  top: 0; }

.introduction > .os-figure.has-splash > figure.splash > span[data-type="media"] {
  line-height: 0;
  height: 100%;
  display: flex;
  width: 7.5in;
  justify-content: flex-end; }

.introduction > .os-figure.has-splash > figure.splash > span[data-type="media"] > img {
  width: 8in; }

.introduction > .os-figure.has-splash > .os-caption-container {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem; }

.introduction > .os-figure.has-splash > .os-caption-container::before {
  content: '';
  background-color: #EEEAE0;
  position: absolute;
  height: 100%;
  width: 8.5in;
  margin-left: -1in;
  z-index: -1;
  box-sizing: border-box;
  padding: inherit;
  top: 0; }

.introduction > .os-figure.has-splash > .os-caption-container > .os-number {
  font-family: Muli;
  font-weight: bold;
  color: #C31427; }

.introduction > .os-figure.has-splash > .os-caption-container > .os-title-label {
  font-family: Muli;
  font-weight: bold;
  color: #C31427; }

.introduction > .os-figure.has-splash > .os-caption-container > .os-caption {
  font-family: IBM Plex Sans, sans-serif; }

.introduction > .intro-body {
  display: flex;
  flex-direction: row-reverse;
  position: relative; }

.introduction > .intro-body > .os-chapter-outline {
  position: absolute;
  width: 1.8in;
  right: -2in;
  background-color: #0074BC;
  color: #FFFFFF;
  padding: 1.5rem 0 1.5rem 1.5rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500; }

.introduction > .intro-body > .os-chapter-outline > .os-title {
  overflow: visible;
  border-bottom: 1px solid white;
  padding: 0 1.5rem 0.5rem 0;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: IBM Plex Sans, sans-serif; }

.introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective {
  margin-bottom: 0.5rem;
  padding-right: 1.5em; }

.introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective {
  display: flex;
  text-decoration: none;
  color: white; }

.introduction > .intro-body > .os-chapter-outline > div.os-chapter-objective > a.os-chapter-objective > .os-text {
  display: inline-block;
  margin-left: 0.5rem; }

.introduction > .intro-body > .intro-text > h2[data-type="document-title"]:first-of-type {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
  font-weight: 700; }

.introduction > .intro-body > .intro-text > p:first-of-type {
  display: inline; }

[data-type="chapter"] > [data-type="document-title"] > .os-text {
  display: block;
  font-size: 3.58318rem;
  line-height: 4.5rem;
  font-family: IBM Plex Sans;
  font-weight: lighter; }

[data-type="chapter"] > [data-type="document-title"] > .os-number {
  color: #3172B6;
  display: block;
  font-size: 2.0736rem;
  line-height: 3rem;
  font-family: Muli;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

[data-type="footnote-refs"] {
  float: footnote;
  color: #000000;
  line-height: 1.5rem;
  font-family: Alegreya;
  font-size: 1.2rem; }

[data-type="footnote-refs"]::before {
  border-top-color: #000000;
  border-top-width: 0.5pt;
  border-top-style: solid;
  display: block;
  width: 88px;
  content: '';
  padding-bottom: 3rem; }

[data-type="footnote-refs"] [data-type="footnote-refs-title"] {
  display: none; }

[data-type="footnote-refs"] ul {
  list-style: none;
  margin: 0;
  padding: 0; }

[data-type="footnote-refs"] ul [data-type="footnote-ref-link"] {
  text-decoration: none;
  color: inherit; }

[data-type="footnote-refs"]::footnote-call {
  content: none; }

[data-type="footnote-refs"]::footnote-marker {
  content: none; }

[data-type="footnote-number"] {
  color: #000000;
  line-height: 1.5rem;
  font-family: Alegreya;
  font-size: 1.2rem; }

[data-type="footnote-number"] [data-type="footnote-link"] {
  text-decoration: none;
  color: inherit; }

.os-table {
  margin-bottom: 3rem; }

.os-table > table:not(.unstyled) {
  border-collapse: collapse; }

.os-table > table:not(.unstyled) > thead > tr > th {
  border-bottom: 0.1rem solid black;
  font-family: Muli;
  font-weight: 700;
  padding: 1.5rem 8px; }

.os-table > table:not(.unstyled) > tbody > tr > td {
  border-bottom: 0.025rem solid black;
  font-family: Alegreya;
  border-left: 0.025rem solid black;
  padding: 1.5rem 8px; }

.os-table > table:not(.unstyled) > tbody > tr > td:first-of-type {
  border-left: none;
  border-right: 0.025rem solid black; }

.os-table .os-caption-container > .os-title-label {
  font-weight: bold; }

.os-table .os-caption-container > .os-number {
  font-weight: bold; }

.os-table {
  margin-bottom: 3rem; }

.os-table > .unnumbered.unstyled > thead > tr > th {
  padding: 1.5rem 8px; }

.os-table > .unnumbered.unstyled > tbody > tr > td {
  padding: 1.5rem 8px; }

<<<<<<< HEAD
[data-type='chapter'] > .os-summary-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-summary-container > h2 {
  color: #388097;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

[data-type='chapter'] > .os-summary-container .summary > h3, .summary > [data-type=composite-page] > h3 {
  font-family: Muli;
  font-weight: 800;
  font-size: 1.44rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

[data-type='chapter'] > .os-review-questions-container {
  margin-bottom: 6rem; }

[data-type='chapter'] > .os-review-questions-container > h2 {
  color: #0074BC;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 2.0736rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

[data-type='chapter'] > .os-review-questions-container .os-review-questions-container > h3, .os-review-questions-container > [data-type=composite-page] > h3 {
  font-family: Muli;
  font-weight: 800;
  font-size: 1.44rem;
  line-height: 1.5rem;
  margin-bottom: 0; }

[data-type='chapter'] > .os-review-questions-container > .os-multiple-choice-container {
  column-count: 2;
  column-gap: 2.4rem;
  column-width: auto; }

[data-type="chapter"] > [data-type="page"]:not(.introduction) [data-type="document-title"] {
  color: #0074BC;
  font-family: Muli;
  font-size: 2.0736rem;
  line-height: 3rem;
  font-weight: bold;
  border-bottom-color: #000000;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem; }

[data-type="chapter"] > [data-type="page"]:not(.introduction) > section > h3 {
  color: #0074BC;
  font-family: Muli;
  font-size: 1.728rem;
  line-height: 3rem;
  font-weight: bold; }

[data-type="chapter"] > [data-type="page"]:not(.introduction) > section > section > h4 {
  font-family: Muli;
  color: #0074BC;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.44rem;
  line-height: 1.5rem; }

.os-index-container {
  column-count: 3;
  column-gap: 32px; }

.os-index-container > [data-type="document-title"] {
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  column-span: all;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 3.58318rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.5rem; }

.os-index-container > .group-by {
  color: #000000;
  font-family: Alegreya;
  font-weight: normal;
  padding-bottom: 4.5rem; }

.os-index-container > .group-by > .group-label {
  color: #000000;
  font-family: Muli;
  font-size: 1.44rem;
  line-height: 1.5rem;
  font-weight: bold; }

.os-index-container > .group-by > .os-index-item {
  color: #000000;
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal; }

.os-index-container > .group-by > .os-index-item > .os-term {
  color: #000000;
  font-family: Alegreya;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
  padding-right: 8px; }

.os-index-container > .group-by > .os-index-item > .os-term-section-link {
  content: "" target-counter(attr(href, url), page);
  text-decoration: none;
  pointer-events: none;
  color: #000000; }

[data-type="composite-chapter"] > h1 {
  border-bottom-color: #000000;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  column-span: all;
  padding-bottom: 1.5rem;
  color: #000000;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 3.58318rem;
  line-height: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

[data-type="composite-chapter"] > [data-type="composite-page"] {
  padding-bottom: 4.5rem; }

[data-type="composite-chapter"] > [data-type="composite-page"] > h2 {
  color: #00829B;
  font-family: Muli;
  font-size: 2.0736rem;
  line-height: 3rem;
  font-weight: bold; }

[data-type="composite-chapter"] > [data-type="composite-page"] > [data-type="solution"] {
  display: inline; }

[data-type="composite-chapter"] > [data-type="composite-page"] > [data-type="solution"] > .os-number {
  text-decoration: none;
  color: #000000; }

[data-type="composite-chapter"] > [data-type="composite-page"] > [data-type="solution"] > .os-solution-container {
  display: inline; }

[data-type="composite-chapter"] > [data-type="composite-page"] > [data-type="solution"] > .os-solution-container > p {
  display: inline; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > h3 {
  color: #0074BC;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > h3 > ul {
  margin-bottom: 3rem;
  margin-left: 16px;
  padding-left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > h3 > ul > li {
  color: #000000;
  font-family: Muli, sans-serif;
  padding: 0; }

[data-type="chapter"] > [data-type="page"] > section.learning-objectives > h3 > ul > li::marker {
  color: #0074BC; }

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right; }

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in; }

@page chapter:first {
  margin-right: 2in; }
=======
<<<<<<< HEAD
.clinical-focus {
  border: solid;
  border-color: #0074BC;
  box-decoration-break: slice;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  margin-bottom: 4.5rem;
  position: relative; }

.clinical-focus > .os-title {
  color: #0074BC;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #0074BC;
  padding-bottom: 0.75rem; }

.clinical-focus > .os-note-body > .os-subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem; }

.eye-on-ethics {
  border: solid;
  border-color: #00829B;
  box-decoration-break: slice;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  margin-bottom: 4.5rem;
  position: relative; }

.eye-on-ethics > .os-title {
  color: #00829B;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #00829B;
  padding-bottom: 0.75rem; }

.eye-on-ethics > .os-note-body > .os-subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem; }

.eye-on-ethics > .os-note-body:after {
  background: url("../../styles/designs/carnival/resources/sigmaxi-logo.svg") no-repeat right bottom;
  background-size: contain;
  height: 3rem;
  width: 100%;
  display: inline-block;
  padding-right: 0.4rem;
  position: relative;
  bottom: -0.5rem;
  content: ' '; }

.disease-profile {
  border: solid;
  border-color: #1E9575;
  box-decoration-break: slice;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  margin-bottom: 4.5rem;
  position: relative; }

.disease-profile > .os-title {
  color: #1E9575;
  font-family: Muli;
  font-weight: bold;
  font-size: 1.728rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #1E9575;
  padding-bottom: 0.75rem; }

.disease-profile > .os-note-body > .os-subtitle {
  font-size: 1.2rem;
  line-height: 1.5rem; }
=======
.link-to-learning {
  margin-bottom: 3rem; }

.link-to-learning > .os-note-body {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #84AE52; }

.link-to-learning > .os-note-body > p:last-child {
  margin-bottom: 0.75rem; }

.link-to-learning > .os-title {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: Muli;
  font-weight: bold; }

.link-to-learning > .os-title > .os-title-label {
  display: inline-block;
  max-width: 80px;
  word-wrap: normal;
  text-transform: uppercase; }

.link-to-learning > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  position: relative;
  content: '';
  padding-right: 8px; }

.check-your-understanding {
  margin-bottom: 3rem; }

.check-your-understanding > .os-note-body {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #0DC0DC; }

.check-your-understanding > .os-note-body > p:last-child {
  margin-bottom: 0.75rem; }

.check-your-understanding > .os-title {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: Muli;
  font-weight: bold; }

.check-your-understanding > .os-title > .os-title-label {
  display: inline-block;
  max-width: 80px;
  word-wrap: normal;
  text-transform: uppercase; }

.check-your-understanding > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-scientific.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  position: relative;
  content: '';
  padding-right: 8px; }

.micro-connection {
  margin-bottom: 3rem; }

.micro-connection > .os-note-body {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #0DC0DC; }

.micro-connection > .os-note-body > p:last-child {
  margin-bottom: 0.75rem; }

.micro-connection > .os-title {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: Muli;
  font-weight: bold; }

.micro-connection > .os-title > .os-title-label {
  display: inline-block;
  max-width: 80px;
  word-wrap: normal;
  text-transform: uppercase; }

.micro-connection > .os-title::before {
  background: url("../../styles/designs/carnival/resources/carnival-microconnections.svg") no-repeat top left;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  position: relative;
  content: '';
  padding-right: 8px; }
>>>>>>> rising.rye
>>>>>>> rising.rye

/*# sourceMappingURL=microbiology-rex-web.css.map */