[data-type="page"],
[data-type="composite-page"] {
  font-size: 1.6rem;
  line-height: 2.3rem; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button {
  overflow: visible; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

pre {
  text-align: left; }

h1 {
  color: #333;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h2 {
  color: #333;
  font-size: 3.2rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h3 {
  color: #333;
  font-size: 2.4rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h4 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h5 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h6 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

p {
  color: #424242;
  margin: 1rem 0 0; }

p > [data-type="title"] {
  display: block;
  font-weight: bold; }

p > .title {
  display: block;
  font-weight: bold; }

.os-eoc h2[data-type="document-title"] {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eoc h2[data-type="document-title"] .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eoc h2.os-title {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eoc h2.os-title .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eob h2[data-type="document-title"] {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eob h2[data-type="document-title"] .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eob h2.os-title {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eob h2.os-title .os-number {
  font-weight: bold;
  text-decoration: none; }

figure {
  position: relative;
  text-align: center;
  margin: 0; }

figure > [data-type="media"] {
  display: block;
  margin: 0;
  text-align: center; }

figure > .media {
  display: block;
  margin: 0;
  text-align: center; }

figure img {
  max-width: 100%;
  margin: 0; }

figure .scaled-down {
  width: 60%;
  margin: auto; }

figure .scaled-down ~ .os-caption-container {
  width: 60%;
  margin: auto; }

figure .scaled-down-30 {
  width: 30%;
  margin: auto; }

figure .scaled-down-30 ~ .os-caption-container {
  width: 30%;
  margin: auto; }

.os-figure {
  display: table;
  margin: 3rem auto; }

.os-figure .os-caption-container {
  display: table-caption;
  padding-top: 1rem;
  color: #424242;
  font-size: 1.2rem;
  line-height: 1.7rem;
  caption-side: bottom; }

.os-figure .os-caption-container > .os-title {
  font-weight: bold; }

.os-figure .os-caption-container > .os-title-label {
  font-weight: bold; }

.os-figure .os-caption-container > .os-number {
  font-weight: bold; }

img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em; }

span[data-type="media"] img {
  display: block; }

:not(figure) > [data-type="media"].scaled-down {
  display: block;
  text-align: center; }

:not(figure) > [data-type="media"].scaled-down img {
  width: 60%; }

:not(figure) > [data-type="media"].scaled-down-30 {
  display: block;
  text-align: center; }

:not(figure) > [data-type="media"].scaled-down-30 img {
  width: 30%; }

[data-type="term"] {
  font-weight: bold; }

[data-type="term"].no-emphasis {
  font-weight: normal; }

.term {
  font-weight: bold; }

.term.no-emphasis {
  font-weight: normal; }

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242; }

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242; }

.os-abstract {
  list-style-type: none;
  padding-left: 2rem; }

.preface ul {
  list-style-type: none; }

.stepwise {
  list-style-type: none;
  padding-left: 0; }

.stepwise > li {
  display: flex; }

.stepwise > li .os-stepwise-token {
  white-space: pre; }

.stepwise > li > .os-stepwise-content > ul {
  padding-left: 1rem; }

.stepwise > li > .os-stepwise-content > ol {
  padding-left: 1rem; }

.os-stepwise {
  list-style-type: none;
  padding-left: 0; }

.os-stepwise > li {
  display: flex; }

.os-stepwise > li .os-stepwise-token {
  white-space: pre; }

.os-stepwise > li > .os-stepwise-content > ul {
  padding-left: 1rem; }

.os-stepwise > li > .os-stepwise-content > ol {
  padding-left: 1rem; }

.list {
  overflow-wrap: break-word; }

.list .title {
  font-weight: bold;
  margin-top: 15px; }

.list [data-type="title"] {
  font-weight: bold;
  margin-top: 15px; }

[data-type="list"] {
  overflow-wrap: break-word; }

[data-type="list"] .title {
  font-weight: bold;
  margin-top: 15px; }

[data-type="list"] [data-type="title"] {
  font-weight: bold;
  margin-top: 15px; }

.learning-objectives {
  margin: 3rem 0;
  padding: 1.5rem;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 0.2rem;
  background-color: #ededed; }

.learning-objectives [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1.5rem 1rem;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 0.2rem;
  color: #555;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.learning-objectives p {
  margin: 0 0 1rem 1.5rem;
  color: #555; }

.abstract {
  position: relative;
  margin: 3rem 6rem 0 6rem;
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #ededed; }

.abstract ul {
  margin: 1.5rem 0 0 0; }

.abstract ul::after {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: Abstract; }

a {
  color: #027EB5;
  cursor: pointer;
  text-decoration: underline; }

a:hover {
  color: #0064A0; }

[data-type="note"] {
  margin: 3rem 0;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #dcdcdc;
  background-color: #ededed; }

[data-type="note"] > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="note"] > header > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="note"] > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="note"] > header > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="note"] > header > .os-title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="note"] > section {
  padding: 0rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242; }

[data-type="note"] > section span[data-type="media"] {
  display: block;
  margin: 1rem 0; }

.note {
  margin: 3rem 0;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #dcdcdc;
  background-color: #ededed; }

.note > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.note > header > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.note > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.note > header > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.note > header > .os-title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.note > section {
  padding: 0rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242; }

.note > section span[data-type="media"] {
  display: block;
  margin: 1rem 0; }

[data-type="example"] {
  margin: 3rem 0;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #dcdcdc;
  background-color: #ededed; }

[data-type="example"] > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="example"] > header > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="example"] > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="example"] > header > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="example"] > header > .os-title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

[data-type="example"] > section {
  padding: 0rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242; }

[data-type="example"] > section span[data-type="media"] {
  display: block;
  margin: 1rem 0; }

.example {
  margin: 3rem 0;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #dcdcdc;
  background-color: #ededed; }

.example > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.example > header > [data-type="title"] {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.example > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.example > header > .title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.example > header > .os-title {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: #dcdcdc;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.example > section {
  padding: 0rem 1.5rem;
  border-top: none;
  background-color: #ededed;
  color: #424242; }

.example > section span[data-type="media"] {
  display: block;
  margin: 1rem 0; }

[data-type="example"] div[data-type="title"] {
  font-weight: bold; }

[data-type="example"] [data-type="problem"] {
  padding: 0.5em 1em; }

[data-type="example"] .problem {
  padding: 0.5em 1em; }

[data-type="example"] [data-type="solution"] {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

[data-type="example"] [data-type="solution"] .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

[data-type="example"] [data-type="solution"] > .ui-toggle-wrapper {
  text-align: center; }

[data-type="example"] [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

[data-type="example"] [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

[data-type="example"] [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

[data-type="example"] [data-type="solution"]:not(.ui-solution-visible) > section {
  display: none; }

[data-type="example"] .solution {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

[data-type="example"] .solution .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

[data-type="example"] .solution > .ui-toggle-wrapper {
  text-align: center; }

[data-type="example"] .solution > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

[data-type="example"] .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

[data-type="example"] .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

[data-type="example"] .solution:not(.ui-solution-visible) > section {
  display: none; }

[data-type="example"].problems-exercises [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="example"].problems-exercises .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="example"].problems-exercises [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="example"].problems-exercises .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="example"][data-type="problems-exercises"] [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="example"][data-type="problems-exercises"] .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="example"][data-type="problems-exercises"] [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="example"][data-type="problems-exercises"] .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="example"].check-understanding [data-type="title"]::before {
  margin-right: 0;
  content: ""; }

[data-type="example"].check-understanding .title::before {
  margin-right: 0;
  content: ""; }

[data-type="example"].conceptual-questions [data-type="problem"] {
  border-top: none; }

[data-type="example"].conceptual-questions [data-type="problem"] p {
  margin: 0; }

[data-type="example"].conceptual-questions .problem {
  border-top: none; }

[data-type="example"].conceptual-questions .problem p {
  margin: 0; }

.example div[data-type="title"] {
  font-weight: bold; }

.example [data-type="problem"] {
  padding: 0.5em 1em; }

.example .problem {
  padding: 0.5em 1em; }

.example [data-type="solution"] {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

.example [data-type="solution"] .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

.example [data-type="solution"] > .ui-toggle-wrapper {
  text-align: center; }

.example [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

.example [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

.example [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

.example [data-type="solution"]:not(.ui-solution-visible) > section {
  display: none; }

.example .solution {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

.example .solution .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

.example .solution > .ui-toggle-wrapper {
  text-align: center; }

.example .solution > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

.example .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

.example .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

.example .solution:not(.ui-solution-visible) > section {
  display: none; }

.example.problems-exercises [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.example.problems-exercises .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.example.problems-exercises [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.example.problems-exercises .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.example[data-type="problems-exercises"] [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.example[data-type="problems-exercises"] .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.example[data-type="problems-exercises"] [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.example[data-type="problems-exercises"] .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.example.check-understanding [data-type="title"]::before {
  margin-right: 0;
  content: ""; }

.example.check-understanding .title::before {
  margin-right: 0;
  content: ""; }

.example.conceptual-questions [data-type="problem"] {
  border-top: none; }

.example.conceptual-questions [data-type="problem"] p {
  margin: 0; }

.example.conceptual-questions .problem {
  border-top: none; }

.example.conceptual-questions .problem p {
  margin: 0; }

[data-type="exercise"] div[data-type="title"] {
  font-weight: bold; }

[data-type="exercise"] [data-type="problem"] {
  padding: 0.5em 1em; }

[data-type="exercise"] .problem {
  padding: 0.5em 1em; }

[data-type="exercise"] [data-type="solution"] {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

[data-type="exercise"] [data-type="solution"] .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

[data-type="exercise"] [data-type="solution"] > .ui-toggle-wrapper {
  text-align: center; }

[data-type="exercise"] [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

[data-type="exercise"] [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

[data-type="exercise"] [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

[data-type="exercise"] [data-type="solution"]:not(.ui-solution-visible) > section {
  display: none; }

[data-type="exercise"] .solution {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

[data-type="exercise"] .solution .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

[data-type="exercise"] .solution > .ui-toggle-wrapper {
  text-align: center; }

[data-type="exercise"] .solution > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

[data-type="exercise"] .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

[data-type="exercise"] .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

[data-type="exercise"] .solution:not(.ui-solution-visible) > section {
  display: none; }

[data-type="exercise"].problems-exercises [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="exercise"].problems-exercises .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="exercise"].problems-exercises [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="exercise"].problems-exercises .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="exercise"][data-type="problems-exercises"] [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="exercise"][data-type="problems-exercises"] .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

[data-type="exercise"][data-type="problems-exercises"] [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="exercise"][data-type="problems-exercises"] .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

[data-type="exercise"].check-understanding [data-type="title"]::before {
  margin-right: 0;
  content: ""; }

[data-type="exercise"].check-understanding .title::before {
  margin-right: 0;
  content: ""; }

[data-type="exercise"].conceptual-questions [data-type="problem"] {
  border-top: none; }

[data-type="exercise"].conceptual-questions [data-type="problem"] p {
  margin: 0; }

[data-type="exercise"].conceptual-questions .problem {
  border-top: none; }

[data-type="exercise"].conceptual-questions .problem p {
  margin: 0; }

.exercise div[data-type="title"] {
  font-weight: bold; }

.exercise [data-type="problem"] {
  padding: 0.5em 1em; }

.exercise .problem {
  padding: 0.5em 1em; }

.exercise [data-type="solution"] {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

.exercise [data-type="solution"] .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

.exercise [data-type="solution"] > .ui-toggle-wrapper {
  text-align: center; }

.exercise [data-type="solution"] > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

.exercise [data-type="solution"].ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

.exercise [data-type="solution"]:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

.exercise [data-type="solution"]:not(.ui-solution-visible) > section {
  display: none; }

.exercise .solution {
  padding: 0.5em 1em;
  border-top-width: 0.1rem;
  border-top-color: #dcdcdc;
  border-top-style: solid; }

.exercise .solution .btn-link {
  color: #21366b;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent; }

.exercise .solution > .ui-toggle-wrapper {
  text-align: center; }

.exercise .solution > .ui-toggle-wrapper > .ui-toggle {
  font-weight: bold;
  text-align: center; }

.exercise .solution.ui-solution-visible > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Hide Solution]"; }

.exercise .solution:not(.ui-solution-visible) > .ui-toggle-wrapper > button.ui-toggle::before {
  content: "[Show Solution]"; }

.exercise .solution:not(.ui-solution-visible) > section {
  display: none; }

.exercise.problems-exercises [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.exercise.problems-exercises .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.exercise.problems-exercises [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.exercise.problems-exercises .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.exercise[data-type="problems-exercises"] [data-type="problem"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.exercise[data-type="problems-exercises"] .problem::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Problem"; }

.exercise[data-type="problems-exercises"] [data-type="solution"]::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.exercise[data-type="problems-exercises"] .solution::before {
  color: #424242;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  content: "Solution"; }

.exercise.check-understanding [data-type="title"]::before {
  margin-right: 0;
  content: ""; }

.exercise.check-understanding .title::before {
  margin-right: 0;
  content: ""; }

.exercise.conceptual-questions [data-type="problem"] {
  border-top: none; }

.exercise.conceptual-questions [data-type="problem"] p {
  margin: 0; }

.exercise.conceptual-questions .problem {
  border-top: none; }

.exercise.conceptual-questions .problem p {
  margin: 0; }

.os-table {
  overflow-x: auto;
  margin: 20px 0; }

.os-table .os-table-title {
  padding-bottom: 1em;
  font-weight: bold;
  text-align: center; }

.os-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  counter-increment: table; }

.os-table table.has-images {
  table-layout: fixed; }

.os-table table table {
  background-color: #fff; }

.os-table table caption {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: left;
  caption-side: bottom; }

.os-table table caption sup {
  top: auto;
  line-height: inherit; }

.os-table table caption > .title {
  display: block;
  font-size: 1.8rem;
  font-weight: bold; }

.os-table table caption > .title::before {
  margin-right: 0.5rem;
  color: #606163;
  font-weight: bold;
  content: "Table " counter(table) "."; }

.os-table table thead > tr > th {
  border-width: 0.2rem;
  border-style: solid;
  border-color: #ddd;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
  padding: 0.5em 1em; }

.os-table table thead > tr > th[data-align="center"] {
  text-align: center; }

.os-table table thead > tr > th[data-valign="top"] {
  vertical-align: top; }

.os-table table thead > tr > th[data-align=right] {
  text-align: right; }

.os-table table tbody > tr > td {
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ddd;
  padding: 0.5em 1em;
  vertical-align: middle; }

.os-table table tbody > tr > td[data-align="center"] {
  text-align: center; }

.os-table table tbody > tr > td[data-valign="top"] {
  vertical-align: top; }

.os-table table tbody > tr > td[data-align=right] {
  text-align: right; }

.os-table table tbody + tbody {
  border-width: 0.2rem;
  border-style: solid;
  border-color: #ddd; }

.os-table table tfoot > tr > td {
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ddd;
  padding: 0.5em 1em;
  vertical-align: middle; }

.os-table table tfoot > tr > td[data-align="center"] {
  text-align: center; }

.os-table table tfoot > tr > td[data-valign="top"] {
  vertical-align: top; }

.os-table table tfoot > tr > td[data-align=right] {
  text-align: right; }

.os-table table ol {
  padding-left: 1.5em; }

.os-table table ol[data-bullet-style="none"] {
  margin: 0;
  padding: 0; }

.os-table table ol[data-bullet-style="none"] li {
  list-style: none; }

.os-table table ul {
  padding-left: 1.5em; }

.os-table table ul[data-bullet-style="none"] {
  margin: 0;
  padding: 0; }

.os-table table ul[data-bullet-style="none"] li {
  list-style: none; }

.os-table table .os-figure {
  margin: 0; }

.os-table table .os-figure img {
  margin: 0; }

.os-table table .os-figure .os-caption-container {
  padding: 1rem; }

.os-table .os-caption-container {
  padding: 8px;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #dcdcdc;
  font-size: 0.9em; }

.os-table .os-caption-container > .os-title-label {
  display: inline-block;
  padding-right: 0.25em;
  font-weight: bold; }

.os-table .os-caption-container > .os-number {
  display: inline-block;
  padding-right: 0.25em;
  font-weight: bold; }

blockquote {
  font-size: 16px;
  padding: 1rem 2rem;
  margin: 1rem 0 2rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-left-color: #dcdcdc; }

code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

.os-glossary-container dl dt {
  font-weight: 700; }

.os-glossary-container dl dd {
  margin-left: 0;
  margin-inline-start: 0; }

/*# sourceMappingURL=webview-generic.css.map */