[data-type="page"],
[data-type="composite-page"] {
  font-size: 1.6rem;
  line-height: 2.3rem; }

h1 {
  color: #333;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h2 {
  color: #333;
  font-size: 3.2rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h3 {
  color: #333;
  font-size: 2.4rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h4 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h5 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

h6 {
  color: #333;
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold; }

p {
  color: #424242;
  margin: 1rem 0 0; }

p > [data-type="title"] {
  display: block;
  font-weight: bold; }

p > .title {
  display: block;
  font-weight: bold; }

.os-eoc h2[data-type="document-title"] {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eoc h2[data-type="document-title"] .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eoc h2.os-title {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eoc h2.os-title .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eob h2[data-type="document-title"] {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eob h2[data-type="document-title"] .os-number {
  font-weight: bold;
  text-decoration: none; }

.os-eob h2.os-title {
  font-size: 2.1rem;
  font-weight: bold; }

.os-eob h2.os-title .os-number {
  font-weight: bold;
  text-decoration: none; }

figure {
  position: relative;
  text-align: center;
  margin: 0; }

figure > [data-type="media"] {
  display: block;
  margin: 0;
  text-align: center; }

figure > .media {
  display: block;
  margin: 0;
  text-align: center; }

figure img {
  max-width: 100%;
  margin: 0; }

figure .scaled-down {
  width: 60%;
  margin: auto; }

figure .scaled-down ~ .os-caption-container {
  width: 60%;
  margin: auto; }

figure .scaled-down-30 {
  width: 30%;
  margin: auto; }

figure .scaled-down-30 ~ .os-caption-container {
  width: 30%;
  margin: auto; }

.os-figure {
  display: table;
  margin: 3rem auto; }

.os-figure .os-caption-container {
  display: table-caption;
  padding-top: 1rem;
  color: #424242;
  font-size: 1.2rem;
  line-height: 1.7rem;
  caption-side: bottom; }

.os-figure .os-caption-container > .os-title-label {
  font-weight: bold; }

.os-figure .os-caption-container > .os-title-label {
  font-weight: bold; }

.os-figure .os-caption-container > .os-number {
  font-weight: bold; }

img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em; }

span[data-type="media"] img {
  display: block; }

:not(figure) > [data-type="media"].scaled-down {
  display: block;
  text-align: center; }

:not(figure) > [data-type="media"].scaled-down img {
  width: 60%; }

:not(figure) > [data-type="media"].scaled-down-30 {
  display: block;
  text-align: center; }

:not(figure) > [data-type="media"].scaled-down-30 img {
  width: 30%; }

[data-type="term"] {
  font-weight: bold; }

[data-type="term"].no-emphasis {
  font-weight: normal; }

.term {
  font-weight: bold; }

.term.no-emphasis {
  font-weight: normal; }

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242; }

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242; }

.os-abstract {
  list-style-type: none;
  padding-left: 2rem; }

/*# sourceMappingURL=webview-generic.css.map */