# Virtualenv files
/venv/
/.Python
/pip-selfcheck.json
/bin/
/lib/
/include/
# pytest creates these files
*.pyc
/.pytest_cache/

# Ruby files
/.bundle/
/vendor/
# Commented because Travis edits this file which causes the git diff test to fail
/Gemfile.lock

# Node files
node_modules/
package-lock.json

# working files
/data/*
/books/data/
/data/*/*.jpg
/data/*/*.png
/data/*/raw/
/data/*/m*
/data/*/m*.xhtml
/data/*/collection.xml
/data/*/collection.assembled.xhtml
/data/*/collection.baked.xhtml
/data/*/collection.mathified.xhtml
/data/*/collection.*.lcov
# The following file is used for diffing 2 versions of a book
/data/*/collection.prepared.xhtml

/resources/
/resources/*
# CSS Code coverage
/tmp/

#build and dist files
/build/
/dist/
/cnx-recipes.egg-info/

# SASS stuff
/.sass-cache/
/recipes/output/*.css.map
/recipes/books/mixins/styleguide/*-baked.xhtml
/recipes/books/styleguide/*-baked.xhtml
/sassdoc/
/styleguide/
/styles/output/*.css.map

# CSS coverage report (as a clickable HTML)
/coverage/

.DS_Store
data/.DS_Store

# Style files
#styles/output/_web-styles.json
styles/test/test-coverage.log
