# Virtualenv files
/venv/
/.Python
/pip-selfcheck.json
/bin/
/lib/
/include/

# Ruby files
/.bundle/
/vendor/
# Commented because Travis edits this file which causes the git diff test to fail
/Gemfile.lock

# working files
/books/data/
/data/*-raw.html
/data/*-baked.html
# The following file is used for diffing 2 versions of a book
/data/*-prepared.html
# CSS Code coverage
/data/*.lcov
/tmp/

# SASS stuff
/.sass-cache/
/ruleset/output/*.css.map
/ruleset/books/common/examples/*-baked.html
/ruleset/books/examples/*-baked.html
/sassdoc/
/styleguide/

# CSS coverage report (as a clickable HTML)
/coverage/
