# Node files
node_modules/
package-lock.json

# working files
/data/

# SASS stuff
/.sass-cache/
/styles/output/*.css.map

# CSS coverage report (as a clickable HTML)
.DS_Store

# a11y testing
testing