{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-no-px",
    "stylelint-scss"
  ],
  "rules": {
    "meowtec/no-px": [true, { "ignore": ["1px"] }],
    "scss/dollar-variable-pattern": null,
    "function-url-quotes": null,
    "value-keyword-case": null
  }
}
