// Books using those settings: Introductory Statistics, Introductory Business Statistics, HS Statistics

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio';



//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::moduleTitleColor"),
  ),
));

@include add_settings((
  CollaborativeExercise: (
    _selectors: (".collab"),
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-manipmath.svg")) no-repeat top left,
    'TitleIcon:::background-size': contain,
    'TitleIcon:::width': v-spacing(3),
    'TitleIcon:::height': v-spacing(3),
  ),
  Calculator: (
    _selectors: (".calculator"),
    'Title:::background-color': (_ref: "colorMap:::calculatorBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::calculatorTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'Subtitle:::color': (_ref: "colorMap:::calculatorTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::calculatorTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::calculatorBackgroundColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-calculator.svg")) no-repeat top left,
    'TitleIcon:::background-size': contain,
    'TitleIcon:::width': v-spacing(3),
    'TitleIcon:::height': v-spacing(3),
  ),
  TryIt: (
    _selectors: (".try"),
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'TitleLabel:::margin-right': h-spacing(1),
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-tryit.svg")) no-repeat top left,
    'TitleIcon:::background-size': contain,
    'TitleIcon:::width': v-spacing(3),
    'TitleIcon:::height': v-spacing(3),
  ),
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Title:::margin-bottom': 0,
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
  StatsLab: (
    _selectors: (".statistics.lab"),
    'ContainerBar:::background': (_ref: "colorMap:::statsLabBarColor"),
    'Title:::background-color': (_ref: "colorMap:::statsLabBarColor"),
    'Title:::border-left-color': (_ref: "colorMap:::statsLabBarColor"),
    'Title:::border-right-color': (_ref: "colorMap:::statsLabBarColor"),
    'TitleLabel:::color': (_ref: "colorMap:::statsLabTitleColor"),
    'TitleLabel:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Subtitle:::color': (_ref: "colorMap:::fontBodyColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-statlab.svg")) no-repeat top left,
    'TitleBar:::background': (_ref: "colorMap:::statsLabBarColor"),
  ),
));

@include add_settings((
    ExercisesProblemLists: (
        _selectors: ('[data-type="problem"]'),
    ),
    ExercisesSolutionLists: (
      _selectors: ('[data-type="solution"]'),
    ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('ChapterIntro', 'corn:::ChapterIntroWithoutChapterOutlineShape');
@include use('ChapterObjectives', 'corn:::ChapterObjectivesShape');
@include use('Figure','corn:::FigureShape');
@include use('Link', 'corn:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Example', 'corn:::ExampleShape');
@include use('Index', 'corn:::IndexShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//Titles
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('CompositePageTitles', 'corn:::CompositePageTitlesShape');

//Notes
@include use('CollaborativeExercise', 'corn:::IconBoxedNoteShape');
@include use('Calculator', 'corn:::IconBoxedNoteShape');
@include use('TryIt', 'corn:::IconBoxedNoteShape');
@include use('NoClassNote', 'corn:::BoxedNoteShape');
@include use('StatsLab', 'corn:::IconFullPageNoteShape');

//Equations
@include use('Equation', 'corn:::EquationShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('ExercisesProblemLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('ExercisesSolutionLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');

//EoC
@include use('FormulaReview', 'corn:::TwoColumnVerticalEocShape');
@include use('References', 'corn:::ReferencesShape');
@include use('Practice', 'corn:::OneColumnExercisesModuleShape');
@include use('BringingItTogetherPractice', 'corn:::OneColumnExercisesModuleShape');
@include use('Homework', 'corn:::OneColumnExercisesModuleShape');
@include use('BringingItTogetherHomework', 'corn:::OneColumnExercisesModuleShape');
@include use('AnswerKeyEoc', 'corn:::AnswerKeyEocShape');
@include use('KeyTerm','corn:::EocKeyTerm');
