//copying styles from ./styles-old/themes/theme3/style/splash-image. NOTE: creating the different pieces for the framework without knowing what CSS structure I will need is virtually impossible. I opened the file and I am refering to it often to make sure I keep the final structure I want to use. This requiered me quite a few windows opened (~7) to keep track of all the pieces. I reallly should put everything in one file at first, setting up a complex space requires quite a bit of planning and a significant file creatiion/workspace organization to apply the way I want to do it. 

$splashImageContainer:(
  //need to define container for the splash image: [data-type="chapter"] {} = position

  _name: "splashImageParent",
  _subselector: "",
   _properties: (
     position: relative, //this actually sets all chapters to be relative. If defined here, it might be problematic in the future trying to figure out where this comes from	
  )
);


$introPositioning: (
  _name: "hideIntroTitleForSplash",
  _subselector: "> .introduction",
  _properties: (
    position: relative, //Same as above: this actually sets all chapters to be relative. If defined here, it might be problematic in the future trying to figure out where this comes from
    padding-top: enum('ValueSet:::NOT_NULL'),	
  )
);



$hideIntroTitleForSplash: (
  _name: "hideIntroTitleForSplash",
  _subselector: "> .introduction  > [data-type="document-title"]",
  _properties: (
    display: none,
  )
);

