$PagesWithBands: ();

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

// Introduction & splash image
@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        'OutlineTitle:::color': (),
        'IntroductionTitleIcon:::background': (),
        'IntroContentHeader:::color': (),
        'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
        'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
    ),
));

@include add_settings((
  // Formats the chapter title over the splash image and media bar
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  ),
));

//Notes
@include add_settings ((
    // BoxedNoteWithSubtitleShape
    YourTurn: (
        _selectors: (".your-turn"),
        'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
        'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
        'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
    ConceptsPractice: (
        _selectors: ('.concepts-practice'),
        "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
        "Title:::font-family": ( _ref: "typography:::titleFont" ),
        "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
        "Body:::font-family": ( _ref: "typography:::baseFont" ),
        "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
        "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
        "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    )
));

// Inline colored text throughout the book
@include add_settings((
    EmphasizedColoredText: (
        _selectors: ('.colored-text'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::emphasizedTextColor'),
    )
));

// Settings
@include use('BookRoot', "common:::BookRoot");
@include use('EmphasizedColoredText', 'common:::ColoredText');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');

//Notes
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('YourTurn', 'cardboard:::BoxedNoteWithSubtitleShape');

// Eob
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
