$PagesWithBands: ();

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

//Notes
@include add_settings ((
    // BoxedNoteWithSubtitleShape
    YourTurn: (
        _selectors: (".your-turn"),
        'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
        'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
        'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
    ConceptsPractice: (
        _selectors: ('.concepts-practice'),
        "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
        "Title:::font-family": ( _ref: "typography:::titleFont" ),
        "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
        "Body:::font-family": ( _ref: "typography:::baseFont" ),
        "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
        "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
        "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    )
));

// Settings
@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'cardboard:::NoUnitToc');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');

//Notes
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('YourTurn', 'cardboard:::BoxedNoteWithSubtitleShape');