$PagesWithBands: (
  (pageName: eoc, firstSelector: ".os-eoc.os-glossary-container", generalSelector: ".os-eoc"),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: ".os-eob"),
  (pageName: appendix, firstSelector: ".appendix", generalSelector: ".appendix"),
);
$bandColor: #24739e;

@import "framework/framework";
@import "../../design-settings/cardboard/design";
@import "../../design-settings/cardboard/settings";
@import "../../designs/cardboard/pdf/folio";

// Introduction & splash image
@include add_settings ((
  ChapterIntro: (
    _selectors: (".introduction"),
    "H2IntroTextHeaderIcon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    "H2IntroTextHeader:::color": (_ref: "colorMap:::introContentHeaderColor"),
    "SplashImgMediaBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "SplashImgMediaBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));
@include add_settings ((
  ChapterOutlineWithLO: (
    _selectors: (".os-chapter-outline"),
    "ChapterOutlineTitle:::color": (_ref: "colorMap:::chapterOutlineTitleColor"),
    "ChapterObjectiveLOButton:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lo.svg")) no-repeat bottom left,
  ),
));
@include add_settings((
  // Formats the chapter title over the splash image and media bar
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    "H1ChapterIntroNumbered:::color": (_ref: "colorMap:::chapterTitleColor"),
    "H1ChapterIntroTitleNumber:::color": (_ref: "colorMap:::chapterTitleNumberColor"),
    "H1ChapterIntroIcon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
    "H1ChapterIntroIcon:::bottom": 0.1rem,
    "H1ChapterIntroIcon:::left": 0,
  ),
));

// Notes
@include add_settings ((
  // Option 3 Notes
  YourTurn: (
    _selectors: (".your-turn"),
    "Title:::background-color": (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
    "Title:::color": (_ref: "colorMap:::noteOption3HeaderColor"),
    "Title:::font-family": (_ref: "typography:::titleFont"),
    "Body:::font-family": (_ref: "typography:::baseFont"),
    "Body:::background-color": (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
    "Subtitle:::color": (_ref: "colorMap:::noteSubtitleColor"),
    "Subtitle:::font-family": (_ref: "typography:::titleFont"),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  // Option 2 Notes
  ConceptsPractice: (
    _selectors: (".concepts-practice"),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  IfrsConnection: (
    _selectors: (".ifrs-connection"),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  ThinkItThrough: (
    _selectors: (".think-through"),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  ContinuingApplication: (
    _selectors: (".continuing-application"),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  EthicalConsiderations: (
    _selectors: (".ethical-considerations"),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
    "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
  ),
  // Option 1 Notes
  LinkToLearning: (   // no subtitle
    _selectors: (".link-to-learning"),
    "Title:::color": (_ref: "colorMap:::noteOption1HeaderColor"),
    "Title:::background-color": (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
    "Title:::font-family": (_ref: "typography:::titleFont"),
    "Body:::font-family": (_ref: "typography:::baseFont"),
    "Body:::background-color": (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
  )
));

// Inline colored text throughout the book
@include add_settings((
  EmphasizedColoredText: (
    _selectors: (".colored-text"),
    "ColoredTextContainer:::color": (_ref: "colorMap:::emphasizedTextColor"),
  )
));

// EoC titles
@include add_settings((
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  SummaryTitles: (
    _selectors: (".os-section-summary-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  MultipleChoiceTitles: (
    _selectors: (".os-multiple-choice-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-multiplechoice.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  QuestionsTitles: (
    _selectors: (".os-questions-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  ExerciseSetATitles: (
    _selectors: (".os-exercise-set-a-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exercisea.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  ExerciseSetBTitles: (
    _selectors: (".os-exercise-set-b-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exerciseb.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  ProblemSetATitles: (
    _selectors: (".os-problem-set-a-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exercisea.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  ProblemSetBTitles: (
    _selectors: (".os-problem-set-b-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exerciseb.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
  ThoughtProvokersTitles: (
    _selectors: (".os-thought-provokers-container"),
    "H2WithIcon:::font-family": (_ref: "typography:::titleFont"),
    "H2WithIcon:::color": (_ref: "colorMap:::titleColor"),
    "H2Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg")) no-repeat top left,
    "H3LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::font-family": (_ref: "typography:::baseFont"),
    "H3Title:::color": (_ref: "colorMap:::titleColor"),
    "H4Title:::font-family": (_ref: "typography:::baseFont"),
    "H4Title:::color": (_ref: "colorMap:::titleColor"),
    "H4LinkTitle:::font-family": (_ref: "typography:::baseFont"),
    "H5Title:::font-family": (_ref: "typography:::baseFont"),
  ),
));
@include add_settings((
  ExercisesModule: (
    _selectors: (
      ".os-multiple-choice-container", ".os-questions-container", ".os-exercise-set-a-container",
      ".os-exercise-set-b-container", ".os-problem-set-a-container", ".os-problem-set-b-container",
      ".os-thought-provokers-container"
    ),
    "ProblemSolutionNumber:::color": (_ref: "colorMap:::fontBodyColor"),
    "ProblemSolutionNumber:::width": 2%,
    "ProblemSolutionNumber:::text-align": right,
    "ProblemSolutionText:::color": (_ref: "colorMap:::fontBodyColor"),
  ),
));
@include add_settings((
  LOLink: (
    _selectors: (".lo-reference"),
    "LOLinkMarker:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lo.svg")) no-repeat bottom left,
  )
));

// Common settings
@include use("BookRoot", "common:::BookRoot");
@include use("EmphasizedColoredText", "common:::ColoredText");
@include use("Footnote", "common:::FootnoteShape");
@include use("FootnoteCall", "common:::FootnoteCallShape");
@include use("Toc", "cardboard:::NoUnitToc");

//Chapter Intro
@include use("ChapterIntro", "cardboard:::ChapterIntroShape");
@include use("ChapterOutlineWithLO", "cardboard:::ChapterOutlineWithLOShape");

// Titles
@include use("PageTitles", "cardboard:::PageTitlesShape");
@include use("ChapterTitles", "cardboard:::ChapterTitlesShape");
@include use("KeyTermsTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("SummaryTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("MultipleChoiceTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("QuestionsTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("ExerciseSetATitles", "cardboard:::EocCompositePageTitlesShape");
@include use("ExerciseSetBTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("ProblemSetATitles", "cardboard:::EocCompositePageTitlesShape");
@include use("ProblemSetBTitles", "cardboard:::EocCompositePageTitlesShape");
@include use("ThoughtProvokersTitles", "cardboard:::EocCompositePageTitlesShape");

//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cardboard:::FigureFromExercisesShape');

// Tables
@include use("FakeTitleTable", "cardboard:::TableWithBordersShape");
@include use("UnstyledTable", "cardboard:::UnstyledTableShape");
@include use("TimelineTable", "cardboard:::TimelineTableShape");

// Misc
@include use("Link", "cardboard:::LinkShape");
@include use("LOLink", "cardboard:::LOLinkShape");
@include use("ExercisesModule", "cardboard:::ExercisesModuleShape");

// Notes
@include use("YourTurn", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("ConceptsPractice", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("IfrsConnection", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("ContinuingApplication", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("EthicalConsiderations", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("LinkToLearning", "cardboard:::BoxedNoteShape");
@include use("NotesLists", "cardboard:::NotesListsShape");
@include use("ThinkItThrough", "cardboard:::BoxedNoteWithSubtitleShape");

// Equations
@include use("Equation", "cardboard:::EquationShape");
@include use("NumberedEquation", "cardboard:::NumberedEquationShape");

// Lists
@include use("CompositePageLists", "cardboard:::CompositePageListsShape");
@include use("PageLists", "cardboard:::PageListsShape");
@include use("ExercisesProblemLists", "cardboard:::ExercisesListsShape");

// Eoc
@include use("KeyTerms", "cardboard:::KeyTermsShape");

// Eob
@include use("AnswerKey", "cardboard:::AnswerKeyShape");
@include use("CompositeChapterTitles", "cardboard:::CompositeChapterTitlesShape");
@include use("Index", "cardboard:::IndexShape");
@include use("EobCompositePageTitles", "cardboard:::EobCompositePageTitlesShape");
