@import "./error/init";

@import "./lint/lint";

@import "./function/init";
@import "./function/empty-map";
@import "./function/first";
@import "./function/last";
@import "./function/map-deep-get";
@import "./function/map-deep-has-key";
@import "./function/map-key-prefix-flatten";
@import "./function/not-implemented";
@import "./function/null";
@import "./function/remove-value";

@import "./enum/init";
@import "./enum/object";
@import "./enum/platform";
@import "./enum/error";
@import "./enum/value-set";

@import "settings/init";

@import "platform/init";

@import "design-shape/init";

$IS_FRAMEWORK_IMPORTED: true;
$IS_TEST: false !default;
$DEBUG: false !default;

