$AnnotationIcon: (
  _name: "Icon",
  _subselector: '',
  _properties:(
    height: v-spacing(3),
    width: v-spacing(3),
    background: enum('ValueSet:::REQUIRED'),
    content: "''",
    background-repeat: no-repeat,
    margin-right: h-spacing(1),
    margin-bottom: h-spacing(1),
  )
);

$AnnotationSectionContainer: (
  _name: "SectionContainer",
  _subselector: '',
  _properties:(
    display: flex,
    margin-left: h-spacing(-3),
  )
);

$AnnotationIconContainer: (
  _name: "IconContainer",
  _subselector: ' > .os-icons',
  _properties:(
    display: flex,
    flex-direction: column,
    height: fit-content,
  )
);