// $AnoonotationContainer:(
//   _name: "Container",
//   _subselector: '::before',
//   _properties:(
//     padding-right: v-spacing(0),
//     padding-bottom: v-spacing(0),
//     height: v-spacing(2),
//     width: v-spacing(2),
//     background: enum('ValueSet:::REQUIRED'),
//   )
// );
$AnnotationIcon: (
  _name: "Icon",
  _subselector: '',
  _properties:(
    padding-right: v-spacing(0),
    padding-bottom: v-spacing(0),
    height: v-spacing(2),
    width: v-spacing(2),
    background-image: enum('ValueSet:::REQUIRED'),
    content: "''",
    padding: v-spacing(1),
    background-repeat: no-repeat,
  )
);