$Caption__Container: (
    _name: "CaptionContainer",
    _subselector: " > .os-caption-container",
    _properties: (
        display: enum('ValueSet:::REQUIRED'),
        margin-left: enum('ValueSet:::OPTIONAL'),  // Used in Figures and Chapter Intro not in Tables
        margin-right: enum('ValueSet:::OPTIONAL'),  // Used in Figures and Chapter Intro not in Tables
        margin-bottom: v-spacing(1),
        caption-side: enum('ValueSet:::OPTIONAL'), // Used in Tables 
        prince-caption-page: enum('ValueSet:::OPTIONAL'), // Used in Tables 
        width: enum('ValueSet:::OPTIONAL'), // Used in Chapter Intro
    )
);

$Caption__Title--Label: (
    _name: "CaptionTitleLabel",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
    )
);

$Caption__Number:( 
    _name: "CaptionNumber",
    _subselector: " > .os-number",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Text:(
    _name: "CaptionText",
    _subselector: "> .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        font-weight: 400,
        color:  enum('ValueSet:::REQUIRED'),
    )
);


$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: "> .os-title",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: 500,
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);
