$Caption__Container--Table: (
    _name: "CaptionContainerTable",
    _subselector: " > .os-caption-container",
    _properties: (
        display: table-caption,
        caption-side: bottom,
        prince-caption-page: all,
        margin-bottom: v-spacing(1),
    )
);

$Caption__Container--Figure: (
    _name: "CaptionContainerFigure",
    _subselector: " > .os-caption-container",
    _properties: (
        display: table,
        margin-left: auto,
        margin-right: auto,
        margin-bottom: v-spacing(1),
    )
);

$Caption__Container--ChapterIntro: (
    _name: "CaptionContainerChapterIntro",
    _subselector: " > .os-caption-container",
    _properties: (
        display: table,
        width: 6.5in,
        margin-left: auto,
        margin-right: auto,
        margin-bottom: v-spacing(1),
    )
);

$Caption__Title--Label: (
    _name: "CaptionTitleLabel",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
    )
);

$Caption__Number:(
    _name: "CaptionNumber",
    _subselector: " > .os-number",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Text:(
    _name: "CaptionText",
    _subselector: "> .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        font-weight: 400,
        color:  enum('ValueSet:::REQUIRED'),
    )
);


$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: "> .os-title",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: 500,
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Title--Splash: (
    _name: "CaptionTitleSplash",
    _subselector: "> .os-title",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);
