$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, ' > .intro-body');

$Introduction__Container: empty_wrapper(IntroductionContainer, '');

$ChapterOutline: (
    _name: "Outline",
    _subselector: ' > .os-chapter-outline',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterOutline__Title: (
    _name: "OutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        margin: "0 0 0.5rem 0",
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-transform: uppercase,
    )
);

$ChapterOutline__Objective: empty_wrapper(ChapterOutlineObjective, ' > div.os-chapter-objective');

$ChapterOutline__Objective--Link: (
    _name: "OutlineObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
    )
);

$ChapterOutline__Objective--Text: (
    _name: "ChapterOutlineObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
        padding-left: .3rem,
    )
);

$Learning__Objective__Container: (
    _name: "LearningObjectiveContainer",
    _subselector: ' > div.learning-objective', 
    _properties: (
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
    )
);
$Abstract__Container: empty_wrapper(AbstractContainer, ' > div[data-type="abstract"]');
$ChapterIntro__Content: empty_wrapper(IntroContent, ' > .intro-text');

$ChapterIntro__Content__Header: (
    _name: "IntroContentHeader",
    _subselector: ' > h2[data-type="document-title"]:first-of-type', 
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        font-weight: 700,
        text-transform: uppercase,
        margin: '0 0.5rem 0 0',
        color: enum('ValueSet:::REQUIRED'),
        float: left,
    )
);

$ChapterSplash__Media: empty_wrapper(SplashImgMedia, ' > span[data-type="media"]');

$ChapterSplash__Img: (
    _name: "SplashImg",
    _subselector: '> img',
    _properties: (
        width: 100%,
    )
);

$ChapterSplash__Figure: (
    _name: "SplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        margin-bottom: v-spacing(2),
        display: table,
        margin-left: auto,
        margin-right: auto,
    ),
);

$ChapterSplash__Figure__Wrapper: (
    _name: "SplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        background-color: enum('ValueSet:::REQUIRED'),
        width: fullBleedsSize(8.5, in),
        position: relative,
        z-index: -1,
        box-sizing: border-box,
        top: 0,
        margin-bottom: v-spacing(5),
        padding-top: v-spacing(5),
        transform: translate3d(-1in, 0, 0),
        margin-left: fullBleedsMargin(0, rem),
        padding-right: 1in,
        padding-left: 1in,
        padding-bottom: v-spacing(2),
        margin-top: -0.1rem,
    ),
);
