$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, '');
$ChapterIntro__Container--Body: empty_wrapper(ChapterIntroBody, ' > .intro-body');

$ChapterOutline__Container: (
    _name: "ChapterOutlineContainer",
    _subselector: '',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterOutline__Title: (
    _name: "ChapterOutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        margin: "0 0 0.5rem 0",
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-transform: uppercase,
    )
);

$ChapterObjective__Container: empty_wrapper(ChapterObjectiveContainer, ' > div.os-chapter-objective');

$ChapterObjective__Link: (
    _name: "ChapterObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-indent: -2em,
        margin-left: 2rem,
    )
);

$ChapterObjective__Text: (
    _name: "ChapterObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
        padding-left: .3rem,
    )
);

$LearningObjective__Container: (
    _name: "LearningObjectiveContainer",
    _subselector: ' > div.learning-objective', 
    _properties: (
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
    )
);
$Abstract__Container: empty_wrapper(AbstractContainer, ' > div[data-type="abstract"]');
$ChapterIntro__Container--Text: empty_wrapper(ChapterIntroText, ' > .intro-text');

$ChapterSplash__Media: (
_name: "SplashImgMedia",
_subselector: ' > span[data-type="media"]',
_properties: (
    display: flex,
    width: 6.5in,
    line-height: 0,
    justify-content: center,
    )
);

$ChapterSplash__Figure: (
    _name: "SplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        margin-bottom: v-spacing(2),
        display: table,
        margin-left: auto,
        margin-right: auto,
    ),
);

$ChapterSplash__Figure__Wrapper: (
    _name: "SplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        background-color: enum('ValueSet:::REQUIRED'),
        width: fullBleedsSize(8.5, in),
        position: relative,
        z-index: -1,
        box-sizing: border-box,
        top: 0,
        margin-bottom: v-spacing(5),
        padding-top: v-spacing(5),
        transform: translate3d(-1in, 0, 0),
        margin-left: fullBleedsMargin(0, rem),
        padding-bottom: v-spacing(2),
        margin-top: -0.1rem,
    ),
);

// Used in Principles of Economics
$ChapterObjectives__Container--Note: (
    _name: "ChapterObjectivesContainer",
    _subselector: '',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),    
        color: enum('ValueSet:::REQUIRED'),
        margin-bottom: v-spacing(3),
    ),
);

$ChapterObjectives__Paragraph: (
    _name: "ChapterObjectivesParagraph",
    _subselector: ' > p',
    _properties: (
        margin-bottom: 0,
    ),
);

$ChapterObjectives__Title: (
    _name: "ChapterObjectivesTitle",
    _subselector: ' > .os-title',
    _properties: (
        margin-bottom: v-spacing(1),
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-transform: uppercase,
    )
);

$ChapterObjectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');