$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, ' > .intro-body');

$Introduction__Container: empty_wrapper(IntroductionContainer, '');

$ChapterOutline: (
    _name: "Outline",
    _subselector: ' > .os-chapter-outline',
    _properties: (
        // font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterOutline__Title: (
    _name: "OutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        margin: "0 0 0.5rem 0",
        font-family: enum('ValueSet:::REQUIRED'),
        // font-size: font-scale(0),
        // line-height: line-height(0),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-transform: uppercase,
    )
);

$ChapterOutline__Objective: empty_wrapper(ChapterOutlineObjective, ' > div.os-chapter-objective');

$ChapterOutline__Objective--Link: (
    _name: "OutlineObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        // padding-left: v-spacing(1),
        // border-left-width: 0.2727rem,
        // border-left-style: solid,
        // border-left-color:  enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
    )
);

$ChapterOutline__Objective--Text: (
    _name: "ChapterOutlineObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
        padding-left: .3rem,
    )
);

$Learning__Objective__Container: (
    _name: "LearningObjectiveContainer",
    _subselector: ' > div.learning-objective', 
    _properties: (
        // color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
    )
);
$Abstract__Container: empty_wrapper(AbstractContainer, ' > div[data-type="abstract"]');
$ChapterIntro__Content: empty_wrapper(IntroContent, ' > .intro-text');

$ChapterIntro__Content__Header: (
    _name: "IntroContentHeader",
    _subselector: ' > h2[data-type="document-title"]:first-of-type', 
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        font-weight: 700,
        text-transform: uppercase,
        margin: '0 0.5rem 0 0',
        color: enum('ValueSet:::REQUIRED'),
        float: left,
    )
);

// $ChapterIntro__Content__Header__Icon: (
//   _name: "IntroductionTitleIcon",
//   _subselector: "::before",
//   _properties: (
//     background: enum('ValueSet:::REQUIRED'),
//     background-size: contain,
//     height: v-spacing(4),
//     width: v-spacing(4),
//     display: inline-block,
//     content: "''",
//   )
// );

// $ChapterIntro__Content__Header__Text: (
//     _name: "IntroConetntHeaderText",
//     _subselector: ' > .os-text', 
//     _properties: (
//         display: inline-block,
//         margin-left: v-spacing(1),
//     )
// );

$ChapterSplash__Media: (
    _name: "SplashImgMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        // display: inline-block,
        // width: fullBleedsSize(8.45, in),
        // border-left: none,
        // height: 32.5rem,
        // max-width: 57.5rem
    ),
);

// $ChapterSplash__Media__Bar: (
//     _name: "SplashImgMediaBar",
//     _subselector: '::after',
//     _properties: (
//         width: 100%,
//         content: "''",
//         display: block,
//         position: absolute,
//         bottom: 0,
//         right: 0,
//         height: 5.83rem,
//         background-color: enum('ValueSet:::REQUIRED'),
//         border-top-width: 0.25rem,
//         border-top-style: solid,
//         border-top-color: enum('ValueSet:::REQUIRED'),
//         z-index: 1,
//     ),
// );

$ChapterSplash__Img: (
    _name: "SplashImg",
    _subselector: '> img',
    _properties: (
        // width: fullBleedsSize(8.45, in),
        // height: 3.58in,
        // display: inline,
        width: 100%,
        // height: 100%,
    )
);

$ChapterSplash__Figure: (
    _name: "SplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        // position: relative,
        // width: fullBleedsSize(8.45, in),
        // transform: translate3d(-1in, 0, 0),
        // margin-left: fullBleedsMargin(0, rem),
        // padding-bottom: 0,
        margin-bottom: 1.25rem,
        // margin-top: 0.7in,
        display: table,
        margin-left: auto,
        margin-right: auto,
        // max-width: 100%,
    ),
);

$ChapterSplash__Figure__Wrapper: (
    _name: "SplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        // margin-bottom: 2rem,
        // margin-top: -1.15in,
        // background-color: black,
        // margin-left: fullBleedsMargin(0, rem),
        // margin-right: fullBleedsMargin(0, rem),
        // width: fullBleedsSize(8.5, in),
        background-color: enum('ValueSet:::REQUIRED'),
        // position: absolute,
        // height: 100%,
        width: fullBleedsSize(8.5, in),
        // margin-left: enum('ValueSet:::REQUIRED'),
        // margin-right: enum('ValueSet:::REQUIRED'),
        position: relative,
        z-index: -1,
        box-sizing: border-box,
        // padding: inherit,
        top: 0,
        // margin-top: -1.50in,
        margin-bottom: 3.5rem,
        padding-top: 2.1rem,
        transform: translate3d(-.9in, 0, 0),
        // margin-left: fullBleedsMargin(0, rem),
        padding-right: 1in,
        padding-left: 1in,
        padding-bottom: 0.3in,
        // margin-right: fullBleedsMargin(0, rem),
        // height: 45.4rem, 
        margin-top: -.1rem,
    ),
);

// $ChapterSplash__Figure__Wrapper__Bg: (
//         _name: "ChapterSplashFigureWrapperBg",
//         _subselector: '::before',
//         _properties: (
//             content: "''",
//             background-color: enum('ValueSet:::REQUIRED'),
//             position: absolute,
//             height: 100%,
//             width: fullBleedsSize(8.5, in),
//             // margin-left: enum('ValueSet:::REQUIRED'),
//             // margin-right: enum('ValueSet:::REQUIRED'),
//             z-index: -1,
//             box-sizing: border-box,
//             // padding: inherit,
//             // top: 0,
//             margin-top: -1.15in,
//     ),
// );