@import 'chapterintro-components';
@import 'caption-components';
@import 'titles-components';
@import 'lists-components';

@include create_shape('cosmos:::ChapterIntroWithLOShape', (
    _components: (
        map-merge($Introduction__Container, (
            _components: (
            map-merge($ChapterSplash__Figure__Wrapper, (
                _components: (
                    map-merge($ChapterSplash__Figure, (
                        _components: (
                            map-merge($ChapterSplash__Media, (
                                _components: (
                                    $ChapterSplash__Img,
                                    )
                                )),
                            )
                        )),
                    map-merge($Caption__Container, (
                        _components: (
                            $Caption__Number,
                            $Caption__Title--Label,
                            $Caption__Text,
                        )
                    )),

                )
            )),
            map-merge($ChapterIntro__Container, (
                _components: (
                    map-merge($ChapterOutline, (
                        _components: (
                            $ChapterOutline__Title,
                                map-merge($ChapterOutline__Objective, (
                                    _components: (
                                        map-merge($ChapterOutline__Objective--Link,(
                                            _components: (
                                                $ChapterOutline__Objective--Text,
                                            ),
                                        )),
                                        map-merge($Learning__Objective__Container, (
                                            _components: (
                                                map-merge($Abstract__Container, (
                                                    _components: (
                                                        $UnorderedList--FirstLevel,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                            )),
                        )
                    )),
                    map-merge($ChapterIntro__Content, (
                        _components: (
                            $ChapterIntro__Content__Header,
                            )
                        )),
                    )
                )),
            )
        )),

    )
));

@include create_shape('cosmos:::ChapterIntroShape', (
    _components: (
        map-merge($Introduction__Container, (
            _components: (
            map-merge($ChapterSplash__Figure__Wrapper, (
                _components: (
                    map-merge($ChapterSplash__Figure, (
                        _components: (
                            map-merge($ChapterSplash__Media, (
                                _components: (
                                    $ChapterSplash__Img,
                                    )
                                )),
                            )
                        )),
                    map-merge($Caption__Container, (
                        _components: (
                            $Caption__Number,
                            $Caption__Title--Label,
                            $Caption__Title--Splash,
                            $Caption__Text,
                        )
                    )),

                )
            )),
            map-merge($ChapterIntro__Container, (
                _components: (
                    map-merge($ChapterOutline, (
                        _components: (
                            $ChapterOutline__Title,
                                map-merge($ChapterOutline__Objective, (
                                    _components: (
                                        map-merge($ChapterOutline__Objective--Link,(
                                            _components: (
                                                $ChapterOutline__Objective--Text,
                                            ),
                                        )),
                                    )
                                )),
                        )
                    )),
                    map-merge($ChapterIntro__Content, (
                        _components: (
                            $ChapterIntro__Content__Header,
                            )
                        )),
                    )
                )),
            )
        )),

    )
));

@include create_shape('cosmos:::ChapterIntroWithChapterObjectivesShape', (
    _components: (
        map-merge($Introduction__Container, (
            _components: (
            map-merge($ChapterSplash__Figure__Wrapper, (
                _components: (
                    map-merge($ChapterSplash__Figure, (
                        _components: (
                            map-merge($ChapterSplash__Media, (
                                _components: (
                                    $ChapterSplash__Img,
                                    )
                                )),
                            )
                        )),
                    map-merge($Caption__Container, (
                        _components: (
                            $Caption__Number,
                            $Caption__Title--Label,
                            $Caption__Title--Splash,
                            $Caption__Text,
                        )
                    )),

                )
            )),
            map-merge($ChapterIntro__Container, (
                _components: (
                    map-merge($Chapter__Objectives, (
                        _components: (
                            $ChapterObjectives__Title,
                            map-merge($ChapterObjectives__NoteBody, (
                                _components: (
                                    $Chapter__Objectives--Paragraph,
                                    $UnorderedList--FirstLevel,
                                )
                            )),
                        )
                    )),
                    map-merge($ChapterIntro__Content, (
                        _components: (
                            $ChapterIntro__Content__Header--Economics,
                        )
                    )),
                    )
                )),
            )
        )),
    )
));
