$Eoc__Container: (
    _name: "Container",
    _subselector: "",
    _properties: (
        margin-bottom: v-spacing(2),
    ),
);

$Eoc__Reference: (
    _name: "Reference",
    _subselector: "> .references > p",
    _properties: (
        text-indent: h-spacing(-2),
        padding-left: h-spacing(2),
    ),
);
