@import '_eoc-components';
@import 'wrappers-components';

@include create_shape('cosmos:::KeyTermsShape', (
    _components: (
        map-merge($Eoc__Container,(
            _components: (
                map-merge($Eoc__KeyTerm, (
                    _components: (
                        $Eoc__KeyTerm__Vocab,
                        $Eoc__KeyTerm__Definition,
                    )
                )),
            )
        )),
    )
));

@include create_shape('cosmos:::ModuleWithIndentationShape',(
    _components:(
        map-merge($Eoc__Container,(
            _components:(
                $Eoc__ModuleWithIndentation__Para
            ),
        )),
    )
));


