$Equation__Container: empty_wrapper(EquationContainer, '');

$Equation__Wrapper: (
    _name: "EquationWrapper",
    _subselector: " > div",
    _properties: (
        display: flex,
        align-items: center,
        justify-content: center,
        margin-bottom: v-spacing(1),
    )
);
