$Equation__Container: (
    _name: "EquationContainer",
    _subselector: "",
    _properties: (
        position: enum('ValueSet:::OPTIONAL'), // Used in numbered equations. For now there is no such equation. If we don't find any in this theme, feel free to remove it.
        display: flex,
        flex-direction: enum('ValueSet:::OPTIONAL'), // Same as above.
        align-items: center,
        justify-content: center,
        margin-bottom: v-spacing(1),
    )
);
