$Equation__Container: (
    _name: "EquationContainer",
    _subselector: "",
    _properties: (
        display: flex,
        align-items: center,
        justify-content: center,
        margin-bottom: v-spacing(1),
    )
);
