@import 'exercises-components';

@include create_shape('cosmos:::ExercisesModuleShape',(
    _components: (
        map-merge($ExerciseModule__Container, (
            _components: (
                map-merge($Exercise__Container,(
                    _components:(
                        map-merge($Exercise__Problem__Wrapper,(
                            _components:(
                                $Exercise__Problem__Number,
                                $Exercise__Problem__Divider,
                                map-merge($Exercise__Problem__Container, (
                                    _components: (
                                        $Exercise__Problem__Paragraph,
                                    )
                                )),
                                $Exercise__Problem__Container--WithImageTableOnTop,
                            )
                        )),
                    )
                )),
                map-merge($InjectedExercise__Container,( // used in English Composition
                    _components: (
                        map_merge($InjectedExercise__Question__Wrapper, (
                            _components:(
                                $Exercise__Problem__Number,
                                $Exercise__Problem__Divider,
                                map-merge($Exercise__Problem__Container, (
                                    _components: (
                                        $InjectedExercise__Context,
                                        $InjectedExercise__Divider,
                                        $Exercise__Problem__Paragraph,
                                    )
                                )),
                                $Exercise__Problem__Container--WithImageTableOnTop,
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
