@import '_figureimage-components';
@import '_caption-components';

@include create_shape('cosmos:::FigureShape',(
    _components: (
        map-merge($Figure__Container,(
            _components:(
                $Figure,
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title--Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,                                        
                    )
                )),
            ),
        )),
    )
));

@include create_shape('cosmos:::FigureTopSpacingShape', (
    _components: (
        map-merge($Figure__Container,(
            _components: (
                $Figure__TopSpacing,
            )
        )),
    )
));
