//General Figure Components
$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure:(
    _name: "Figure",
    _subselector: " > figure",
    _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
        margin-top: 1rem,
    )
);
