$HandbookModuleWithIndentation__Para: (
    _name: "HandbookModuleWithIndentationPara",
    _subselector: ' > p',
    _properties:(
        text-indent: h-spacing(-2),
        padding-left: h-spacing(2),
    ),
);

$Handbook__Section: (
    _name: "HandbookSection",
    _subselector: "",
    _properties:(
        margin-bottom: v-spacing(2),
    ),
);