$HandbookOutline__Container: (
    _name: "OutlineContainer",
    _subselector: '',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$HandbookOutline__Title: (
    _name: "OutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        margin: "0 0 0.5rem 0",
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-transform: uppercase,
    )
);

$HandbookOutline__Objective: empty_wrapper(HandbookOutlineObjective, ' > div.os-handbook-objective');

$HandbookOutline__Objective--Link: (
    _name: "OutlineObjectiveLink",
    _subselector: ' > a.os-handbook-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-indent: -2em,
        margin-left: 2rem,
    )
);

$HandbookOutline__Objective--Divider: (
    _name: "OutlineObjectiveDivider",
    _subselector: ' > .os-divider', 
    _properties: (
        margin-left: -0.2rem,
    )
);

$HandbookOutline__Objective--Text: (
    _name: "OutlineObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
        padding-left: .3rem,
    )
);
