$KeyTerms__Container: (
    _name: "KeyTermsContainer",
    _subselector: "",
    _properties: (
        -prince-pdf-tag-type: L,
    ),
);

$KeyTerms__List:(
    _name: "KeyTermsList",
    _subselector: " > dl",
    _properties:(
        text-indent: h-spacing(-3),
        padding-left: h-spacing(3),
        -prince-pdf-tag-type: Li,
    ),
);

$KeyTerms__Term:(
    _name: "KeyTermsTerm",
    _subselector: " > dt ",
    _properties:(
        display: inline,
        font-weight: bold,
        -prince-pdf-tag-type: Lbl,
    )
);

$KeyTerms__Definition:(
    _name: "KeyTermsDefinition",
    _subselector: " > dd ",
    _properties:(
        display: inline,
        margin-left: 2px,
        -prince-pdf-tag-type: LBody,
    )
);
