$Objectives__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
    ),
);

$H3--Objectives: (
  _name: "H3ObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: 700,
    text-transform: uppercase,
    margin-bottom: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
  )
);

$ChapterObjectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    font-family: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
  )
);

$LearningObjectives__UnorderedList--WithoutBullets: (
  _name: 'UnorderedListNumbered', 
  _subselector: ' > ul.os-abstract',
  _properties: (
    list-style-type: none,
  )
);

$LearningObjectives__ListItem--Flex: (
  _name: 'ListItemFlex', 
  _subselector: ' > li',
  _properties: (
    display: flex,
    max-width: 5.9in,
  )
);

$ChapterObjectives__ListItem: (
  _name: 'ListItem', 
  _subselector: ' > li',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__Token--Number: (
  _name: "NumberToken",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: 700,
    color: enum('ValueSet:::REQUIRED'),
    padding-right: h-spacing(1),
  )
);
