// $LearningObjectives__Container: empty_wrapper(Container, '');
$Objectives__Container: (
    _name: "ObjectivesContainer",
    _subselector: '',
    _properties: (
        margin-bottom: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
    ),
);

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin-bottom: 0,
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__Token--Number: (
  _name: "NumberToken",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: 700,
    color: enum('ValueSet:::REQUIRED'),
    padding-right: h-spacing(1),
  )
);

$Objectives__UnorderedList: (
    _name: "UnorderedList",
    _subselector: ' > ul',
    _properties:(
        margin-left: h-spacing(3),
        font-family: enum('ValueSet:::REQUIRED'),
    )
);

$LearningObjectives__UnorderedList--Numbered: (
  _name: 'UnorderedListNumbered', 
  _subselector: ' > ul.os-abstract',
  _properties: (
    list-style-type: none,
    margin-left: 0,
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__ListItem--Flex: (
  _name: 'ListItemFlex', 
  _subselector: ' > li',
  _properties: (
    display: flex,
  )
);

$H3--Objectives: (
  _name: "H3ObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: 700,
    text-transform: uppercase,
    margin-bottom: enum('ValueSet:::REQUIRED'),
  )
);

$ChapterObjectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');
