// Containers
$ListContainer: empty_wrapper(Container, '');

// Basic Lists
$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--FirstLevel--NoBullet: (
    _name: "UnorderedListNoBullet",
    _subselector: " > ul[data-bullet-style='none']",
    _properties:(
        list-style-type: none,
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--LearningObjectives: (
    _name: "LearningObjectivesUnorderedList",
    _subselector: ' > ul',
    _properties:(
        margin-left: h-spacing(3),
        font-family: enum('ValueSet:::REQUIRED'),
    )
);

$UnorderedList--NumberedLearningObjectives: (
  _name: 'NumberedLearningObjectivesList', 
  _subselector: ' > ul.os-abstract',
  _properties: (
    list-style-type: none,
    margin-left: 0,
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$UnorderedList--NumberedLearningObjectives__Item: (
  _name: 'NumberedLearningObjectivesListItem', 
  _subselector: ' > li',
  _properties: (
    display: flex,
  )
);

// Used in the question section inside a Note in World History
$UnorderedList--NotesQuestionSection: (
  _name: "QuestionSection",
  _subselector: ' > ul.critical-thinking',
  _properties: (
    margin-left: 0,
    padding-left: h-spacing(3),
    padding-top: v-spacing(1),
    border-top-style: solid ,
    border-top-width: 0.1rem,
    border-color: enum('ValueSet:::OPTIONAL'),
    font-weight: 700,
  )
);

// Appendix

$Appendix--Glossary__Group__UnorderedList: (
  _name: "AppendixGlossaryGroupUnorderedList",
  _subselector: " > ul",
  _properties: (
    font-size: font-scale(-1),
    list-style-type: none,
  ),
);

$Appendix--Glossary__Group__UnorderedList__ListItem: (
  _name: "AppendixGlossaryGroupUnorderedListItem",
  _subselector: " > li",
  _properties: (
    text-indent: -5px, // creates a hanging indent
    padding-left: 5px,
  )
);

$Appendix--Glossary__Group__List__ListItem__Term: (
  _name: "ListedTerm",
  _subselector: " > strong",
  _properties: (
    padding-right: 3px,
  )
);