$Objectives__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
    ),
);

$Objectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin-bottom: 0,
    font-family: enum('ValueSet:::OPTIONAL'), // property used in chapter objectives economics
  )
);

$ChapterObjectives__ListItem: (
  _name: 'ListItem',
  _subselector: ' > li',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

// Chapter Outline
$ChapterOutline__Container: (
    _name: "ChapterOutlineContainer",
    _subselector: '',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterObjective__List: (
    _name: "ChapterObjectiveList",
    _subselector: ' > ul.os-chapter-objectives',
    _properties: (
        list-style: none,
        margin: 0,
        padding: 0
    )
);
$ChapterObjective__Container: empty_wrapper(ChapterObjectiveContainer, ' > li.os-chapter-objective');

$ChapterObjective__Link: (
    _name: "ChapterObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        text-indent: -2em,
        margin-left: 2rem,
    )
);

$ChapterObjective__Text: (
    _name: "ChapterObjectiveText",
    _subselector: ' > .os-text',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-family: enum('ValueSet:::REQUIRED'),
        padding-left: .3rem,
    )
);
