$PunctuationEmphasis: (
  _name: "PunctuationEmphasisDefault",
  _subselector: '',
  _properties: (
    font-size: font-scale(1),
    font-weight: 700,
    background-color: enum('ValueSet:::REQUIRED'),
  )
);
