$Section__Icon: (
  _name: 'Icon',
  _subselector: '::before',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: 1.45rem,
    width: 1.45rem,
    padding-right: h-spacing(1),
    content: "''",
    display: inline-block,
    vertical-align: text-bottom,
  )
);

$Section__Title: (
  _name: 'Title',
  _subselector: ' > [data-type="title"]',
  _properties: (
  )
);