$References__Container: empty_wrapper(ReferencesContainer, ' ');

$References__ChapterArea: (
    _name: "ReferencesChapterArea",
    _subselector: " > .os-chapter-area",
    _properties: (
        margin-bottom: v-spacing(1),
    )
);

$References__Note: (
    _name: "ReferencesNote",
    _subselector: ' > [data-type="note"].reference ',
    _properties: (
        display: table,
        word-wrap: break-word,
        table-layout: fixed,
        width: 6.5in,
    )
);

$References__Number: (
    _name: "ReferencesNumber",
    _subselector: " > .os-reference-number",
    _properties: (
        display: table-cell,
        padding-right: h-spacing(1),
        width: 2.7rem,
        text-align: right,
        white-space: nowrap,
    )
);

$EobReferences__Para: (
    _name: "ReferencesPara",
    _subselector: ' > p',
    _properties:(
        text-indent: h-spacing(-2),
        padding-left: h-spacing(2),
    ),
);

$References__CiteLink: (
    _name: "ReferencesCiteLink",
    _subselector: " ",
    _properties: (
        text-decoration: none,
    )
);
