$EobReferences__Container: empty_wrapper(ReferencesContainer, ' ');

$EobReferences__ChapterArea: (
    _name: "ReferencesChapterArea",
    _subselector: " > .os-chapter-area",
    _properties: (
        margin-bottom: v-spacing(1),
    )
);

$EobReferences__Note: (
    _name: "ReferencesNote",
    _subselector: ' > [data-type="note"].reference ',
    _properties: (
        display: table,
    )
);

$EobReferences__Number: (
    _name: "ReferencesNumber",
    _subselector: " > .os-reference-number",
    _properties: (
        display: table-cell,
        padding-right: h-spacing(1),
        width: 2.2rem,
        text-align: right,
    )
);

// Reference Link
$EobReferences__CiteLink: (
    _name: "ReferenceCiteLink",
    _subselector: " ",
    _properties: (
        text-decoration: none,
    )
);
