@import '_table-components';
@import '_caption-components';
@import '_titles-components';
@import '_lists-components';

@include create_shape('cosmos:::BasicTableShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                $Table__TopCaption,  //used only in Polish Psychology
                map-merge($Table, (
                    _components: (
                        $Table__Column,
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Row--FirstChild, (
                                    _components: (
                                        map-merge($Table__Head__FirstRow__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                )),
                                map-merge($Table__Row--NotFirstChild, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                ))
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                map_merge($UnorderedList--FirstLevel, (
                                                    _components: (
                                                        $UnorderedList--SecondLevel
                                                    )
                                                )),
                                                $OrderedList--FirstLevel,
                                            ),
                                        )),
                                    ),
                                )),
                                map-merge($Table__Row--NotLastChild, (
                                    _components: (
                                        $Table__Data--FirstChild,
                                        $Table__Data--MiddleChild,
                                        $Table__Data--LastChild,
                                        $Table__Data--OnlyChild,
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--LastChild, (
                                    _components: (
                                        $Table__Data--LastRowFirstChild,
                                        $Table__Data--LastRowMiddleChild,
                                        $Table__Data--LastRowLastNotOnlyChild,
                                        $Table__Data--LastRowLastOnlyChild,
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--MiddleHeader, (
                                    _components: (
                                        map-merge($Table__Data--MiddleHeaderCell, (
                                            _components: (
                                                $Table__Data--TopAligned,
                                                $Table__Data--LeftAligned,
                                                $Table__Data--RightAligned,
                                                $Table__Data--Centered,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container--Table, (
                    _components: (
                        $Table__BottomBorder,
                        $Caption__TitleLabel,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));
