//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');

$Chapter__Container: (
  _name: "ChapterWrapper",
  _subselector: '',
  _properties: (
    height: 100%,
    position: relative,
    z-index: 1,
  )
);


// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    margin-bottom: v-spacing(1),
    column-span: enum('ValueSet:::OPTIONAL'), //will be used in Index
    font-weight: 600,
  )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H4 headers
$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 700,
    )
);

// Chapter Intro h1 Titles components
$H1--ChapterIntro--Numbered: (
  _name: "H1ChapterIntroNumbered",
  _subselector: ' > h1',
  _properties: (
    display: flex,
    // color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    // font-size: font-scale(2),
    // line-height: line-height(2),
    position: relative,
    top: 36rem,
    font-weight: normal,
    flex-direction: row,
    justify-content: flex-start,
    // z-index: 2,
    // margin-top: fullBleedsMargin(0, rem),
    // margin-bottom: 4rem,
    // width: fullBleedsSize(8.45, in),
    left: 0,
    height: 3rem,
  )
);

$H1--ChapterIntro--Numbered__Text: (
  _name: "H1ChapterIntroTitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: inline-block,
    // position: relative,
    // left: 0,
    // top: -2.5rem,
    color: enum('ValueSet:::REQUIRED'),
    // font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(5),
    line-height: line-height(5),
    font-weight: 400,
    max-width: 5in,
  )
);

$H1--ChapterIntro--Numbered__Number: (
  _name: "H1ChapterIntroTitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    // width: 2.75rem,
    // height: 2.75rem,
    display: inline-block,
    // text-align: center,
    // background-color: enum('ValueSet:::REQUIRED'),
    position: absolute,
    right: 0,
    color: enum('ValueSet:::REQUIRED'),
    // border-radius: 50%,
    // left: -0.5rem,
    // z-index: 2,
    font-weight: 700,
    // padding-top: 0.6rem ,
    // padding-bottom: 0.6rem,
    // font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(8),
    line-height: line-height(8),
  )
);

// $H1--ChapterIntro--Numbered__Icon: (
//   _name: "H1ChapterIntroIcon",
//   _subselector: '::after',
//   _properties: (
//     background: enum('ValueSet:::REQUIRED'),
//     background-size: contain,
//     content: "''",
//     display: inline-block,
//     width: 14.2rem,
//     height: 6.1rem,
//     position: absolute,
//     bottom: enum('ValueSet:::REQUIRED'),
//     left: enum('ValueSet:::REQUIRED'),
//     right: 0,
//     z-index: 2,
//     transform: translate3d(-1in, 0, 0),
//     margin-left: fullBleedsMargin(0, rem),
//   )
// );

$H1--Numbered__PartText: (
  _name: "H1TitlePartText",
  _subselector: ' > .os-part-text',
  _properties: (
    display: none,
  )
);