@import 'titles-components';
@import 'wrappers-components';

//Preface, Appendix, regular module
@include create_shape('cosmos:::PageTitlesShape', (
    _components: (
        map-merge($Page__Container, (
            _components: (
                map-merge($Preface__Container,(
                    _components:(
                        $H1,
                    ),
                )),
                $H2,
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H2,
                    ),
                )),
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H3,
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        $H3,
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        $H4,
                    ),
                )),
                map-merge($SectionWrapper--ThirdLevel,(
                    _components:(
                        $H5,
                    ),
                )),
                map-merge($Appendix__Container,(
                    _components:(
                        map-merge($H1--Appendix,(
                            _components:(
                                $H1--Appendix__Text,
                            ),
                        )),
                    ),
                )),
            )
        )),
    )
));

// Used for Handbook in English Composition.
// This is EOB section with [data-type="page"], similar as Appendix.
// To discuss: we can move appendix from PageTitlesShape to this one (but it has different specs for H1),
// or we can add specs for H2-H4 to EobTitlesShape and use that shape for Handbook (even it's a page, not composite-page)
@include create_shape('cosmos:::EobPageTitlesShape', (
    _components: (
        map-merge($Eob__Container, (
            _components: (
                $H1--Eob,
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        map-merge($H2--Handbook,(
                            _components:(
                                $H2__Divider--FromInlineBlock,
                            ),
                        )),
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        $H3--Handbook,
                    ),
                )),
                map-merge($SectionWrapper--ThirdLevel,(
                    _components:(
                        $H4--Handbook,
                    ),
                )),
                map-merge($SectionWrapper--FourthLevel,(
                    _components:(
                        $H5--Handbook,
                    ),
                )),
                map-merge($SectionWrapper--FifthLevel,(
                    _components:(
                        $H6--Handbook,
                    ),
                )),
            )
        )),
    )
));

// Chapter Titles Shape
@include create_shape('cosmos:::ChapterTitlesShape', (
    _components: (
        map-merge($Chapter__Container, (
            _components: (
              map-merge($H1--ChapterIntro--Numbered, (
                _components: (
                    $H1--Numbered__PartText,
                    $H1--ChapterIntro--Numbered__Number,
                    $H1--ChapterIntro--Numbered__Text,
                    $H1--ChapterIntro--Numbered__Bg,
                    )
              )),
            )
        )),
    )
));

//Composite pages
@include create_shape('cosmos:::EocCompositePageTitlesShape', (
    _components: (
        map-merge($Page--Composite__Container, (
            _components: (
                $H2,
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H3--Link,
                    ),
                )),
                map-merge($DivWrapper--SecondLevel, (
                    _components:(
                        map-merge($SectionWrapper--FirstLevel,(
                            _components:(
                                $H3--Link,
                            ),
                        )),
                    ),
                )),
            )
        )),
    )
));

@include create_shape('cosmos:::EobTitlesShape', ( // Index, References, Answer Key
    _components: (
        map-merge($Eob__Container, (
            _components: (
                $H1--Eob,
                map-merge($DivWrapper--FirstLevel, (
                    _components:(
                        $H2,
                    ),
                )),
            )
        )),
    )
));

// Used in Economics Introduction page

@include create_shape('cosmos:::IntroductionPageTitlesShape', (
    _components: (
        map-merge($DivWrapper--SecondLevel, (
                    _components: (
                        map-merge($SectionWrapper--FirstLevel, (
                            _components: (
                                $H3,
                            )
                        )),
                    )
        )),
    )
));