@import 'titles-components';
@import 'wrappers-components';

//Preface, Appendix, regular module
@include create_shape('cosmos:::PageTitlesShape', (
    _components: (
        map-merge($Page__Container, (
            _components: (
                map-merge($Preface__Container,(
                    _components:(
                        $H1,
                    ),
                )),
                $H2,
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H2,
                    ),
                )),
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H3,
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        $H3,
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        $H4,
                    ),
                )),
                map-merge($SectionWrapper--ThirdLevel,(
                    _components:(
                        $H5,
                    ),
                )),
                map-merge($Appendix__Container,(
                    _components:(
                        map-merge($H1--Appendix,(
                            _components:(
                                $H1--Appendix__Text,
                            ),
                        )),
                    ),
                )),
            )
        )),
    )
));

// Chapter Titles Shape
@include create_shape('cosmos:::ChapterTitlesShape', (
    _components: (
        map-merge($Chapter__Container, (
            _components: (
              map-merge($H1--ChapterIntro--Numbered, (
                _components: (
                    $H1--Numbered__PartText,
                    $H1--ChapterIntro--Numbered__Number,
                    $H1--ChapterIntro--Numbered__Text,
                    $H1--ChapterIntro--Numbered__Bg,
                    )
              )),
            )
        )),
    )
));

//Composite pages
@include create_shape('cosmos:::EocCompositePageTitlesShape', (
    _components: (
        map-merge($Page--Composite__Container, (
            _components: (
                $H2,
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        $H3--Link,
                    ),
                )),
                map-merge($DivWrapper--SecondLevel, (
                    _components:(
                        map-merge($SectionWrapper--FirstLevel,(
                            _components:(
                                $H3--Link,
                            ),
                        )),
                    ),
                )),
            )
        )),
    )
));

@include create_shape('cosmos:::EobTitlesShape', ( // Index, References, Answer Key
    _components: (
        map-merge($Eob__Container, (
            _components: (
                $H1--Eob,
                map-merge($DivWrapper--FirstLevel, (
                    _components:(
                        $H2,
                    ),
                )),
            )
        )),
    )
));

// Used in Economics Introduction page

@include create_shape('cosmos:::IntroductionPageTitlesShape', (
    _components: (
        map-merge($DivWrapper--SecondLevel, (
                    _components: (
                        map-merge($SectionWrapper--FirstLevel, (
                            _components: (
                                $H3,
                            )
                        )),
                    )
        )),
    )
));