//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');
$Eob__Container: empty_wrapper(EobContainer, '');
$Appendix__Container: empty_wrapper(AppendixContainer, '.appendix');

$Chapter__Container: (
  _name: "ChapterWrapper",
  _subselector: '',
  _properties: (
    height: 100%,
    position: relative,
    z-index: 1,
  )
);


// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    margin-bottom: v-spacing(1),
    column-span: enum('ValueSet:::OPTIONAL'), //will be used in Index
    font-weight: 600,
  )
);

$H1--Appendix: (
  _name:"H1Appendix",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(6),
    line-height: line-height(6),
    font-weight: bold,
    text-transform: uppercase,
    margin-bottom: v-spacing(1),
  )
);

$H1--Appendix__Text: (
  _name:"H1AppendixText",
  _subselector: ' > .os-text',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    padding-top: v-spacing(3),
    margin-top: v-spacing(3),
    font-weight: 600,
    text-transform: none,
    border-top-color: enum('ValueSet:::REQUIRED'),
    border-top-style: solid,
    border-top-width: 0.1rem,
    display: block,
  )
);

$H1--Eob: ( //Index, References, Answer Key
  _name:"H1EobTitle",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(6),
    line-height: line-height(6),
    padding-bottom: v-spacing(3),
    margin-bottom: v-spacing(3),
    column-span: all,
    font-weight: bold,
    text-transform: uppercase,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-style: solid,
    border-bottom-width: 0.1rem,
  )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

$H3--Link:(
  _name: "H3LinkTitle",
  _subselector: ' > a > h3[data-type="document-title"]',
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

//Learning Objectives
$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: 700,
    text-transform: uppercase,
    margin-bottom: 0,
  )
);


// H4 headers
$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 700,
    )
);

// Chapter Intro h1 Titles components
$H1--ChapterIntro--Numbered: (
  _name: "H1ChapterIntroNumbered",
  _subselector: ' > h1',
  _properties: (
    display: flex,
    font-family: enum('ValueSet:::REQUIRED'), 
    position: relative,
    font-weight: normal,
    flex-direction: row,
    justify-content: flex-start,
    left: 0,
    padding-top: v-spacing(4),
    margin-bottom: 0,
    margin-top: -0.15in,
    padding-bottom: 0,
  )
);

$H1--ChapterIntro--Numbered__Text: (
  _name: "H1ChapterIntroTitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: flex,
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(5),
    line-height: line-height(5),
    font-weight: 400,
    max-width: 5in,
    transform: translate(0, -50%),
    left: 0,
    top: 50%,
    position: absolute,
    padding-top: 0rem,
    flex-wrap: wrap,
  )
);

$H1--ChapterIntro--Numbered__Number: (
  _name: "H1ChapterIntroTitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    display: inline-block,
    position: absolute,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: 700,
    font-size: font-scale(8),
    line-height: line-height(8),
    right: 0,
    top: 50%,
    transform: translate(0, -50%),
  )
);

$H1--ChapterIntro--Numbered__Bg: (
  _name: "H1ChapterIntroNumberedBg",
  _subselector: '::after',
  _properties: (
    content: "''",
    display: inline-block,
    position: absolute,
    bottom: 0,
    background-color:enum('ValueSet:::REQUIRED'),
    transform: translate3d(-1in, 0, 0),
    left: 0,
    z-index: -1,
    width: fullBleedsSize(8.5, in),
    margin-left: fullBleedsMargin(0, rem),
    height: 1.15in,
  )
);

$H1--Numbered__PartText: (
  _name: "H1TitlePartText",
  _subselector: ' > .os-part-text',
  _properties: (
    display: none,
  )
);

//Tables titles
$Table__Title: (
    _name: "TableTitle",
    _subselector: " > .os-table-title",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        text-align: center,
        font-weight: bold, 
        font-family: enum('ValueSet:::REQUIRED'),
        padding: table-v-spacing(1) table-h-spacing(1),
    )   
);