//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');

// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    margin-bottom: v-spacing(1),
    column-span: enum('ValueSet:::OPTIONAL'), //will be used in Index
    font-weight: 600,
  )
);

$H1--EobCompositePage: ( //Index, References
  _name:"H1EobCompositePageTitle",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(6),
    line-height: line-height(6),
    padding-bottom: v-spacing(3),
    margin-bottom: v-spacing(3),
    column-span: all,
    font-weight: bold,
    text-transform: uppercase,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-style: solid,
    border-bottom-width: 0.1rem,
  )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

$H3--Link:(
  _name: "H3LinkTitle",
  _subselector: ' > a > h3[data-type="document-title"]',
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: 600,
  )
);

// H4 headers
$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 600,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: 700,
    )
);

//Tables titles
$Table__Title: (
    _name: "TableTitle",
    _subselector: " > .os-table-title",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        padding: enum('ValueSet:::REQUIRED'),
        text-align: center,
        font-weight: bold, 
    )   
);