$Toc__Container: empty_wrapper(Container, '');

$Toc__Title: (
  _name: 'TocTitle',
  _subselector: ' > .os-toc-title',
  _properties: (
    font-size: font-scale(6),
    line-height: font-scale(6), //should be the same as font size
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    text-transform: uppercase,
    padding-bottom: v-spacing(3),
    margin-bottom: v-spacing(3),
    border-bottom-style: solid,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.25rem, //3px
  )
);

$Toc__List: (
  _name: 'ToclList',
  _subselector: ' > ol',
  _properties: (
    list-style: none,
    margin-left: 0,
  )
);

$Toc__Link: ( 
  _name: 'TocLink',
  _subselector: ' > a',
  _properties: (
    text-decoration: none,
  ),
);

// NO UNIT, CHAPTER: li for Preface, Answer Key, Appendix, Index, References
// (these elements can appear in both shapes: TocNoUnit and TocUnit, and they are always direct siblings
// of li.os-toc-chapter and li.os-toc-unit respectively)

$Toc__ListItem--NoUnitChapter: empty_wrapper(NoUnitChapterListItem, ' > li:not(.os-toc-unit):not(.os-toc-chapter)');

$Toc__ListItem--Preface: (
  _name: 'PrefaceListItem',
  _subselector: ' > li.os-toc-preface',
  _properties: (
    margin-bottom: v-spacing(1),
  )
);

$Toc__LinkPage--NoUnitChapter: (
  _name: 'NoUnitChapterLinkPage',
  _subselector: '::after',
  _properties: (
    content: "target-counter(attr(href), page)",
    display: inline-block,
    margin-left: h-spacing(3),
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
  ),
);

$Toc__LinkNumber--NoUnitChapter: (  //used for Appendix
  _name: 'NoUnitChapterLinkNumber',
  _subselector: ' > .os-number',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: bold,
  ),
);

$Toc__LinkText--NoUnitChapter: (
  _name: 'NoUnitChapterLinkText',
  _subselector: ' > .os-text',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
  ),
);

$Toc__List--NoUnitChapter: ( //child of Answer Key
  _name: 'NoUnitChapterlList',
  _subselector: ' > ol',
  _properties: (
    display: none,
  )
);

// UNIT

$Toc__List--Unit: (
  _name: 'UnitList',
  _subselector: ' > ol.os-unit',
  _properties: (
    list-style: none,
    margin-left: 0,
    margin-top: v-spacing(1),
  )
);

$Toc__ListItem--Unit: empty_wrapper(UnitListItem, ' > li.os-toc-unit');

$Toc__Link--Unit: (
  _name: 'UnitLink',
  _subselector: ' > a',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'), //in this level .os-text and .os-number have the same specs, so I don't create
    color: enum('ValueSet:::REQUIRED'),       //separate components for them, instead I add properties to link component
    font-size: font-scale(3),
    line-height: line-height(3),
    font-weight: 500,
    text-transform: uppercase,
    border-bottom-style: solid,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 0.125rem, //1.5px
  ),
);

// CHAPTER

$Toc__List--Chapter: (
  _name: 'ChapterList',
  _subselector: ' > ol.os-chapter',
  _properties: (
    list-style: none,
    margin-left: 0,
  )
);

$Toc__ListItem--Chapter: (
  _name: 'ChapterListItem',
  _subselector: ' > li.os-toc-chapter',
  _properties: (
    margin-bottom: v-spacing(1),
  )
);

$Toc__LinkNumber--Chapter: (
  _name: 'ChapterLinkNumber',
  _subselector: ' > .os-number',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    text-transform: uppercase,
    display: block,
  ),
);

$Toc__LinkText--Chapter: (
  _name: 'ChapterLinkText',
  _subselector: ' > .os-text',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    font-weight: 500,
  ),
);

$Toc__LinkPage--Chapter: (
  _name: 'ChapterLinkPage',
  _subselector: '::after',
  _properties: (
    content: "target-counter(attr(href), page)",
    display: inline-block,
    margin-left: h-spacing(3),
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
    font-weight: bold,
  ),
);

// MODULE: li for regular and EOC modules

$Toc__ListItem--Module: empty_wrapper(ModuleListItem, ' > li');

$Toc__Link--Module: (
  _name: 'ModuleLink',
  _subselector: ' > a',
  _properties: (
    text-decoration: none,
    font-family: enum('ValueSet:::REQUIRED'), //in this level .os-text and .os-number have the same specs, so I don't create
    color: enum('ValueSet:::REQUIRED'),       //separate components for them, instead I add properties to link component
    font-size: font-scale(0),
    line-height: line-height(0),
  ),
);

$Toc__LinkPage--Module: (
  _name: 'ModuleLinkPage',
  _subselector: '::after',
  _properties: (
    content: "target-counter(attr(href), page)",
    display: inline-block,
    margin-left: h-spacing(3),
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(0),
    line-height: line-height(0),
  ),
);
