@import 'toc-components';

@include create_shape('cosmos:::TocNoUnitShape', (
    _components: (
        map-merge($Toc__Container, (
            _components: (
                $Toc__Title,
                map-merge($Toc__List, (
                    _components: (
                        $Toc__ListItem--Preface,
                        map-merge($Toc__ListItem--NoUnitChapter, (
                            _components: (
                                map-merge($Toc__Link, (
                                    _components: (
                                        $Toc__LinkPage--NoUnitChapter,
                                        $Toc__LinkNumber--NoUnitChapter,
                                        $Toc__LinkText--NoUnitChapter,
                                    )
                                )),
                                $Toc__List--NoUnitChapter,
                            )
                        )),
                        map-merge($Toc__ListItem--Chapter, (
                            _components: (
                                map-merge($Toc__Link, (
                                    _components: (
                                        $Toc__LinkNumber--Chapter,
                                        $Toc__LinkText--Chapter,
                                        $Toc__LinkPage--Chapter,
                                    )
                                )),
                                map-merge($Toc__List--Chapter, (
                                    _components: (
                                        map-merge($Toc__ListItem--Module, (
                                            _components: (
                                                map-merge($Toc__Link--Module, (
                                                    _components: (
                                                        $Toc__LinkPage--Module,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    ),
));

@include create_shape('cosmos:::TocUnitShape', (
    _components: (
        map-merge($Toc__Container, (
            _components: (
                $Toc__Title,
                map-merge($Toc__List, (
                    _components: (
                        $Toc__ListItem--Preface,
                        map-merge($Toc__ListItem--Unit, (
                            _components: (
                                $Toc__Link--Unit,
                                map-merge($Toc__List--Unit, (
                                    _components: (
                                        map-merge($Toc__ListItem--UnitPage, (
                                            _components: (
                                                map-merge($Toc__Link--Module, (
                                                    _components: (
                                                        $Toc__LinkPage--Module,
                                                    )
                                                )),
                                            )
                                        )),
                                        map-merge($Toc__ListItem--Chapter, (
                                            _components: (
                                                map-merge($Toc__Link, (
                                                    _components: (
                                                        $Toc__LinkNumber--Chapter,
                                                        $Toc__LinkText--Chapter,
                                                        $Toc__LinkPage--Chapter,
                                                    )
                                                )),
                                                map-merge($Toc__List--Chapter, (
                                                    _components: (
                                                        map-merge($Toc__ListItem--Module, (
                                                            _components: (
                                                                $Toc__Eoc__List--Chapter--Composite,
                                                                map-merge($Toc__Link--Module, (
                                                                    _components: (
                                                                        $Toc__LinkPage--Module,
                                                                    )
                                                                )),
                                                            )
                                                        )),
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Toc__ListItem--NoUnitChapter, (
                            _components: (
                                map-merge($Toc__Link, (
                                    _components: (
                                        $Toc__LinkPage--NoUnitChapter,
                                        $Toc__LinkNumber--NoUnitChapter,
                                        $Toc__LinkText--NoUnitChapter,
                                    )
                                )),
                                $Toc__List--NoUnitChapter,
                            )
                        )),
                    )
                )),
            )
        )),
    ),
));
