$Underline--Regular: (
  _name: "RegularUnderline",
  _subselector: '',
  _properties: (
    text-decoration: none,
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: thin,
    border-bottom-style: solid,
  )
);

$Underline--Double__SecondLine: (
  _name: "DoubleUnderlineSecondLine",
  _subselector: '::after',
  _properties: (
    content: "''",
    border-top-color: enum('ValueSet:::REQUIRED'),
    border-top-style: solid,
    border-top-width: thin,
    display: inline-block,
    position: absolute,
    width: 100%,
  )
);

$Underline--Double__FirstLine: (
  _name: "DoubleUnderlineFirstLine",
  _subselector: '',
  _properties: (
    text-decoration: none,
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: thin, 
    border-bottom-style: solid, 
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    position: relative,
    left: 0,
    bottom: -0.4rem,
  )
);