$Underline--Regular: (
  _name: "RegularUnderline",
  _subselector: '',
  _properties: (
    text-decoration: none,
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: thin,
    border-bottom-style: solid,
  )
);

$Underline--Double: (
  _name: "DoubleUnderline",
  _subselector: '',
  _properties: (
    text-decoration: none,
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-style: double,
    border-bottom-width: 0.45rem,
  )
);
