$Underline--Regular: (
  _name: "RegularUnderline",
  _subselector: '',
  _properties: (
    text-decoration: none,
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: thin,
    border-bottom-style: solid,
  )
);
