@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::anatomyTocColor'),
  ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::anatomyHeaderColor"),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::anatomyHeaderColor"),
  ),
));

@include add_settings((
  ChapterIntroWithObjectives: (
    _selectors: ('.introduction'),
    'ObjectivesTitle:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'ObjectivesPara:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'ObjectivesListDot:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::anatomyIntroColor"),
  ),
));

@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'Subtitle:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'SubSubtitle:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table'),
    'TableTitle:::color': (_ref: "colorMap:::anatomyTableColor"),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::anatomyTableColor"),
  ),
));

@include add_settings((
  AgingNote:(
    _selectors:(".aging"),
    group-border-color: (_ref: 'colorMap:::agingColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::agingColor'),
  ),
  DiseasesNote:(
    _selectors:(".diseases"),
    group-border-color: (_ref: 'colorMap:::diseaseColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::diseaseColor'),
  ),
  DisordersNote:(
    _selectors:(".disorders"),
    group-border-color: (_ref: 'colorMap:::disordersColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::disordersColor'),
  ),
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  HomeostaticNote:(
    _selectors: (".homeostatic"),
    group-border-color: (_ref: 'colorMap:::homeostaticColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::homeostaticColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-homeostatic.svg")) no-repeat top left,
  ),
  InteractiveLinkNote:(
    _selectors: (".interactive"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::interactiveLinkColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
  Summary: (
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
  InteractiveExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-interactive-exercise-container"),
    'EocHeader:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'EocHeader:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
  FreeResponse: (
    _selectors: ("[data-type = 'chapter'] > .os-free-response-container"),
    'EocHeader:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface');
@include use('UnitTitle', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('ChapterIntroWithObjectives', 'carnival:::ChapterIntroWithObjectivesShape');
@include use('Module', 'carnival:::ModuleShape');
@include use('LearningObjectiveAbstract', 'carnival:::LearningObjectiveAbstractShape');
@include use('FigureContainer','carnival:::Figure');
@include use('Term', 'carnival:::Term');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('References', 'carnival:::ReferencesShape');
@include use('AgingNote', 'carnival:::BoxedNoteShape');
@include use('DiseasesNote', 'carnival:::BoxedNoteShape');
@include use('DisordersNote', 'carnival:::BoxedNoteShape');
@include use('EverydayConnectionNote', 'carnival:::BoxedNoteShape');
@include use('CareerNote', 'carnival:::IconNoteShape');
@include use('HomeostaticNote', 'carnival:::IconNoteShape');
@include use('InteractiveLinkNote', 'carnival:::IconCondensedShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('Summary', 'carnival:::EocSummary');
@include use('InteractiveExercise', 'carnival:::EocExerciseWithoutSubtitle');
@include use('MultipleChoice', 'carnival:::EocExerciseWithoutSubtitle');
@include use('FreeResponse', 'carnival:::EocExerciseWithoutSubtitle');

//Copied from Chemistry book.scss file. Will be relocate in the future.

.os-eoc.os-glossary-container {
  page: eoc;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

$bandColor: settings('scheme:::B5'); //changed to color specific for Anatomy
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setEocPageBorder($type, $side) {
  @page eoc:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setEocPageBorder("left", "left") {
  @include band("left");
}

@include setEocPageBorder("right", "right") {
  @include band("right");
}

@include setEocPageBorder("blank", "left") {
  content: none;
  border: none;
}
@include setEocPageBorder("blank", "right") {
  content: none;
  border: none;
}

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}