$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-references-container', generalSelector: '.os-eob'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::anatomyTocColor'),
  ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'H2Title:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'H5Title:::color': (_ref: "colorMap:::anatomyHeaderColor"),
  ),
));
@include add_settings((
  ChapterModuleTitles: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumberText:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'TitleNumberDigit:::color': (_ref: "colorMap:::anatomyHeaderColor"),
    'H2Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H5Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));

@include add_settings((
  ChapterIntroWithObjectives: (
    _selectors: ('.introduction'),
    'ObjectivesTitle:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'ObjectivesPara:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'ObjectivesListDot:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::anatomyIntroColor"),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'Paragraph:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::sansFont'),
    'ListItem:::font-family': (_ref: 'typography:::serifFont'),
    'ListDot:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::anatomyTableColor"),
  ),
));

@include add_settings((
  AgingNote:(
    _selectors:(".aging"),
    group-border-color: (_ref: 'colorMap:::agingColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::agingColor'),
  ),
  DiseasesNote:(
    _selectors:(".diseases"),
    group-border-color: (_ref: 'colorMap:::diseaseColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::diseaseColor'),
  ),
  DisordersNote:(
    _selectors:(".disorders"),
    group-border-color: (_ref: 'colorMap:::disordersColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::disordersColor'),
  ),
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  HomeostaticNote:(
    _selectors: (".homeostatic"),
    group-border-color: (_ref: 'colorMap:::homeostaticColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::homeostaticColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-homeostatic.svg")) no-repeat top left,
  ),
  InteractiveLinkNote:(
    _selectors: (".interactive"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::interactiveLinkColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  GenericEOC:(
    _selectors: (".os-eoc"),
    'H2Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::serifFont'),
    'H2Title:::column-span': all,
    'H2Title:::text-transform': uppercase,
    'H3Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::serifFont'),
    'H3Title:::column-span': all,
    'H3LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H3ListTitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'H3ListTitle:::font-family': (_ref: "typography:::baseFont"),
    'H4Title:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H4LinkTitle:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  InteractiveExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-interactive-exercise-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  FreeResponse: (
    _selectors: ("[data-type = 'chapter'] > .os-free-response-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface');
@include use('UnitTitle', 'common:::Hidden');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape');
@include use('ChapterIntroWithObjectives', 'carnival:::ChapterIntroWithObjectivesShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('Figure','carnival:::FigureShape');
@include use('Term', 'carnival:::Term');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('References', 'carnival:::ReferencesShape');
@include use('AgingNote', 'carnival:::BoxedNoteShape');
@include use('DiseasesNote', 'carnival:::BoxedNoteShape');
@include use('DisordersNote', 'carnival:::BoxedNoteShape');
@include use('EverydayConnectionNote', 'carnival:::BoxedNoteShape');
@include use('CareerNote', 'carnival:::IconNoteShape');
@include use('HomeostaticNote', 'carnival:::IconNoteShape');
@include use('InteractiveLinkNote', 'carnival:::IconCondensedShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ContentExercises','carnival:::ExerciseShape');
//EOC
@include use('GenericEOC','carnival:::GenericEOCShape');
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('EocSummary', 'carnival:::EocSummary');
@include use('InteractiveExercise', 'carnival:::EOCAssesmentsShape');
@include use('MultipleChoice', 'carnival:::EOCAssesmentsShape');
@include use('FreeResponse', 'carnival:::EOCAssesmentsShape');
