@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    TocTitleWord: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::anatomyTocColor'),
      border-bottom-color: (_ref: 'colorMap:::anatomyTocColor')
    ),
    TocUnitLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(4),
      line-height: line-height(4),
      font-weight: bolder,
      color: (_ref: 'colorMap:::anatomyTocColor'),
    ),
    TocPrefaceLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocPrefaceLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixNumber: (
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocAppendixLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterNumber: (
      color: (_ref: 'colorMap:::anatomyTocColor'),
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(4),
      line-height: line-height(4),
      font-weight: bolder,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1),
      font-weight: normal,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterPageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterPageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
  )
));

@include add_settings((
  AgingNote:(
    _selectors:(".aging"),
    group-border-color: (_ref: 'colorMap:::agingColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::agingColor'),
  ),
  DiseasesNote:(
    _selectors:(".diseases"),
    group-border-color: (_ref: 'colorMap:::diseaseColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::diseaseColor'),
  ),
  DisordersNote:(
    _selectors:(".disorders"),
    group-border-color: (_ref: 'colorMap:::disordersColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::disordersColor'),
  ),
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-career.svg") no-repeat top left,
  ),
  HomeostaticNote:(
    _selectors: (".homeostatic"),
    group-border-color: (_ref: 'colorMap:::homeostaticColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::homeostaticColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-homeostatic.svg") no-repeat top left,
  ),
  InteractiveLinkNote:(
    _selectors: (".interactive"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::interactiveLinkColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url("../../styles/designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url("../../styles/designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('LearningObjective', 'carnival:::LearningObjectiveShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('References', 'carnival:::ReferencesShape');
@include use('AgingNote', 'carnival:::BoxedNoteShape');
@include use('DiseasesNote', 'carnival:::BoxedNoteShape');
@include use('DisordersNote', 'carnival:::BoxedNoteShape');
@include use('EverydayConnectionNote', 'carnival:::BoxedNoteShape');
@include use('CareerNote', 'carnival:::IconNoteShape');
@include use('HomeostaticNote', 'carnival:::IconNoteShape');
@include use('InteractiveLinkNote', 'carnival:::IconCondensedShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
