$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-references-container', generalSelector: '.os-eob'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/design';
@import '../../design-settings/carnival/settings';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::anatomyTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::anatomyTocColor'),
  ),
));

@include add_settings((
  ChapterIntroWithObjectives: (
    _selectors: ('.introduction'),
    'ObjectivesTitle:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'ChapterObjectivesListDot:::color': (_ref: "colorMap:::anatomyIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::anatomyIntroColor"),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'Paragraph:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListItem:::font-family': (_ref: 'typography:::sansFont'),
    'ListDot:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::anatomyTableColor"),
  ),
));

@include add_settings((
  AgingNote:(
    _selectors:(".aging"),
    group-border-color: (_ref: 'colorMap:::agingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::agingColor'),
  ),
  DiseasesNote:(
    _selectors:(".diseases"),
    group-border-color: (_ref: 'colorMap:::diseaseColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::diseaseColor'),
  ),
  DisordersNote:(
    _selectors:(".disorders"),
    group-border-color: (_ref: 'colorMap:::disordersColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::disordersColor'),
  ),
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  HomeostaticNote:(
    _selectors: (".homeostatic"),
    group-border-color: (_ref: 'colorMap:::homeostaticColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::homeostaticColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-homeostatic.svg")) no-repeat top left,
  ),
  InteractiveLinkNote:(
    _selectors: (".interactive"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::interactiveLinkColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  InteractiveExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-interactive-exercise-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  FreeResponse: (
    _selectors: ("[data-type = 'chapter'] > .os-free-response-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::anatomyHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::anatomyHeaderColor'),
  ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('UnitTitle', 'common:::Hidden');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('ChapterIntroWithObjectives', 'carnival:::ChapterIntroWithObjectivesShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('Figure','carnival:::FigureShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('Index', 'carnival:::IndexShape');
@include use('References', 'carnival:::ReferencesShape');
@include use('AgingNote', 'carnival:::BoxedNoteShape');
@include use('DiseasesNote', 'carnival:::BoxedNoteShape');
@include use('DisordersNote', 'carnival:::BoxedNoteShape');
@include use('EverydayConnectionNote', 'carnival:::BoxedNoteShape');
@include use('CareerNote', 'carnival:::IconNoteShape');
@include use('HomeostaticNote', 'carnival:::IconNoteShape');
@include use('InteractiveLinkNote', 'carnival:::IconCondensedShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ContentExercises','carnival:::ExerciseShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('TableLists', 'carnival:::TableListShape');


//EOC
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('EocSummary', 'carnival:::EocSummary');
@include use('InteractiveExercise', 'carnival:::EOCAssesmentsShape');
@include use('MultipleChoice', 'carnival:::EOCAssesmentsShape');
@include use('FreeResponse', 'carnival:::EOCAssesmentsShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
