@mixin folioTypography_folio {
  font-family: font-map(sans-serif);
  color: color-map(folio);
  font-size: size-scale(-1);
}

@mixin folioChapterHeader_folio {
  background-color: transparent;
  color: color-map(folioChapterHeader);
  font-weight: bold;
}

@mixin folio-chapter-header-reset {
  content: CONTENT_BLANK();
}

/*******************
        RULES
*******************/

html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi;
}

div.book > div.preface {
  counter-reset: page 1;
}

div.book > div.preface {
  page: preface;
}

div.book > div.toc {
  page: table-of-contents;
}

div.book > div.chapter {
  page: chapter;
  prince-page-group: start;
}

div.book > div.appendix {
  page: appendix;
}

.landscape {
  page: landscape;
}

[data-type="chapter"],
body > [data-type="page"] {
  page-break-before: right !important;
  page-break-after: left !important;
}

@page {
  margin: PAGE_VERTICAL_MARGIN() PAGE_HORIZONTAL_MARGIN();
  font-size: xx-small;
  font-family: font-map(sans-serif);
  @footnotes {
    border-top: solid black thin;
    padding-top: 1em;
  }
}

@page :left {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: counter(page);
    @include folioTypography_folio();
  }
  @top-center {}
  @top-right {
    content: string(cnx-header);
    @include folioTypography_folio();
  }
  @bottom-left {
    color: grey;
    font-weight: thin;
    content: "This OpenStax book is available for free at " string(cnx-collection-url);
    prince-text-replace: ":9680" "\2019";
    @include folioTypography_folio();
  }
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {}
}
@page :right {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: string(cnx-header);
    @include folioTypography_folio();
  }
  @top-center {}
  @top-right {
    content: counter(page);
    @include folioTypography_folio();
  }
  @bottom-left {}
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {}
}
@page table-of-contents {
  @top-left-corner { content: CONTENT_NONE(); }
  @top-left { content: CONTENT_NONE(); }
  @top-right-corner { content: CONTENT_NONE(); }
  @top-right { content: CONTENT_NONE(); }
}
@page preface:blank {
  @top-left {
    content: CONTENT_NONE();
  }
}
@page preface:right {
  @top-right {
    content: counter(page)
  }
}
@page chapter:nth(1) {
  @top-left-corner {
    @include folioChapterHeader_folio();
    @include folio-chapter-header-reset();
  }
  @top-right-corner {
    @include folioChapterHeader_folio();
    @include folio-chapter-header-reset();
  }
  @top-left {
    @include folioTypography_folio();
    @include folioChapterHeader_folio();
  }
  @top-center {
    @include folioChapterHeader_folio();
  }
  @top-right {
    @include folioTypography_folio();
    @include folioChapterHeader_folio();
  }
}
@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}
