// Books using those settings: College Algebra Coreq, Precalculus Coreq and Algebra & Trigonometry Coreq

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
));

@include add_settings((
  LearningObjectivesCoreq:(
    _selectors: ('section.coreq-skills > section.learning-objectives'),
    H4LearningObjectivesTitle: (
      font-family: (_ref: 'typography:::titleFont'),
      color: (_ref: 'colorMap:::moduleTitleColor'),
    ),
    ListIcon: (
      background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat top left,
    )
  )
));

@include add_settings((
  CoreqExercises: (
    _selectors: ('section.coreq-skills'),
    ProblemSolutionNumber: (
      color: black,
    ),
  )
));

@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('Link', 'corn:::LinkShape');
@include use('CoreqSkills', 'corn:::CoreqSkillsShape');
@include use('Index', 'corn:::IndexShape');
@include use('ChapterIntro', 'corn:::ChapterIntroShape');

//Learning Objectives
@include use('LearningObjectivesCoreq', 'corn:::LearningObjectivesCoreqShape');
@include use('LearningObjectives', 'corn:::LearningObjectivesShape');

//Titles
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//Exercises
@include use('CoreqExercises', 'corn:::OneColumnExercisesModuleShape');
