// Books using those settings: College Algebra Coreq, Precalculus Coreq and Algebra & Trigonometry Coreq

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio';

//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'H2IntroTextHeaderIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'H2IntroTextHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  ),
));

@include add_settings((
  LearningObjectivesCoreq:(
    _selectors: ('section.coreq-skills > section.learning-objectives'),
    H4LearningObjectivesCoreqTitle: (
      font-family: (_ref: 'typography:::titleFont'),
      color: (_ref: 'colorMap:::moduleTitleColor'),
    ),
    ListItem: (
      background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
    )
  )
));

@include add_settings((
  CoreqExercises: (
    _selectors: ('section.coreq-skills'),
    ProblemSolutionNumber: (
      color: black,
      width: 2%,
      text-align: right,
    ),
  ),
));

@include add_settings((
  HowTo: (
    _selectors: (".how-to-notitle"),
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-howto.svg")) no-repeat top left,
    'TitleIcon:::background-size': cover,
    'TitleIcon:::width': v-spacing(6),
    'TitleIcon:::height': v-spacing(5),
  ),
  TryIt: (
    _selectors: (".try"),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleLabel:::margin-right': h-spacing(2),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-tryit.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  QA: (
    _selectors: (".qa"),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-qa.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  Media: (
    _selectors: (".media-notitle"),
    'Title:::margin-bottom': v-spacing(1),
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::margin-left': h-spacing(3),
    'Subtitle:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-media.svg")) no-repeat top left,
  ),
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('Link', 'corn:::LinkShape');
@include use('CoreqSkills', 'corn:::CoreqSkillsShape');
@include use('Equation', 'corn:::EquationShape');
@include use('Example', 'corn:::ExampleShape');
@include use('Index', 'corn:::IndexShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

//Figures
@include use('Figure','corn:::FigureShape');
@include use('FigureAfterSubtitle', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'corn:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','corn:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','corn:::FigureFromExercisesShape');

//Exercises
@include use('ExerciseFromExample', 'corn:::ExerciseFromExampleShape');

// Chapter Intro
@include use('ChapterIntro', 'corn:::ChapterIntroShape');
@include use('ChapterOutline', 'corn:::ChapterOutlineShape');

// Learning Objectives
@include use('LearningObjectivesCoreq', 'corn:::LearningObjectivesCoreqShape');
@include use('LearningObjectivesAbstract', 'corn:::LearningObjectivesShape');

// Titles
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('CompositeChapterTitles', 'corn:::CompositeChapterTitlesShape');
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('EobCompositePageTitles', 'corn:::CompositePageTitlesShape');

// Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');
@include use('SectionExercisesProblemLists', 'corn:::ExercisesInMultiColumnListsShape');
@include use('EOCExercisesProblemLists', 'corn:::ExercisesInMultiColumnListsShape');
@include use('AnswerKeyExercisesSolutionLists', 'corn:::ExercisesInMultiColumnListsShape');
@include use('ExercisesProblemLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('ExercisesSolutionLists', 'corn:::ExercisesInOneColumnListsShape');


// Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

// Exercises
@include use('CoreqExercises', 'corn:::OneColumnExercisesModuleShape');

// Section Exercises
@include use('ThreeColumnsModuleExercises', 'corn:::ThreeColumnsExercisesModuleShape');

// EoC
@include use('KeyTerm','corn:::EocKeyTerm');
@include use('ReviewExercises', 'corn:::ThreeColumnsExercisesModuleShape');
@include use('PracticeTest', 'corn:::ThreeColumnsExercisesModuleShape');

// Notes
@include use('HowTo', 'corn:::IconBoxedNoteShape');
@include use('TryIt', 'corn:::IconCondensedNoteShape');
@include use('QA', 'corn:::IconCondensedNoteShape');
@include use('Media', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('NoClassNote', 'corn:::BoxedNoteShape');

// EOB
@include use('AnswerKeyNestedSolutionAreas', 'corn:::AnswerKeyWithNestedSolutionAreasShape');
