$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

//Settings
// Boxed Notes
@include add_settings((
  DefiningAmerican: (
      _selectors: ('.history.defining-american'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption4Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption4Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
  Americana: (
    _selectors: ('.history.americana'),
    'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
    'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
  MyStory: (
    _selectors: ('.history.my-story'),
    'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
    'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

// Condensed icon note
@include add_settings((
  ClickAndExplore:(
      _selectors: (".history.click-and-explore"),
      'Container:::box-decoration-break': slice,
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

// EOC exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-critical-thinking-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemNumber:::width': 2%,
    'ProblemNumber:::text-align': right,
  ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('LearningObjectivesAbstract', 'cosmos:::LearningObjectivesShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");

// Chapter Intro
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('ChapterOutline', 'cosmos:::ChapterOutlineShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');
@include use('FigureAfterSubtitle', 'cosmos:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cosmos:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cosmos:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cosmos:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cosmos:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cosmos:::FigureFromExercisesShape');

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Notes
@include use('DefiningAmerican', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('Americana', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('MyStory', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('ClickAndExplore', 'cosmos:::CondensedIconNoteShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

//Exercises
@include use('ExercisesModule', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('AnswerKeyInline', 'cosmos:::AnswerKeyInlineShape');
@include use('Index', 'cosmos:::IndexShape');

