@import 'styles/designs/carnival/parts/everyday-spaces';
@import 'templates/carnival/colors';
@import 'templates/carnival/typography';

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@include add_settings((
    LinkToLearning: (
        _selectors: (".everyday-life"),
        Container: (
            border-style: solid,
            border-weight: not_implemented(0.2rem),
            border-color: #00829B,
            padding: not_implemented(1em),
            margin-bottom: not_implemented(3rem),
        ),
        Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: "Muli",
            font-weight: normal,
            font-size: not_implemented(1.44em),
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.5rem),
            border-bottom-style: dotted,
            border-bottom-weight: not_implemented(0.2rem),
            border-bottom-color: #00829B,
            padding-bottom: not_implemented(0.5rem),
        ),
        Body: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: "IBM Plex Sans",
            font-weight: normal,
            font-size: (_ref: 'typography:::exampleFontSize'),
        ),
        Subtitle: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.8rem),
            font-size: not_implemented(1.44em),
        ),
        Text: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(1.5rem),
        ),
        Link: (
            color: #C31427,
            text-decoration: none,
        ),
    ),
));

@include use('LinkToLearning', 'carnival:::LinkToLearningSpace');