@import 'styles/framework/framework';
@import 'styles/designs/carnival/parts/example-spaces';
@import 'templates/carnival/colors';
@import 'templates/carnival/typography';

@include add_settings((
    Example: (
        _selectors: (".sciences-interconnect"),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: (_ref: 'typography:::exampleFontSize'),
        ),
        Border: (
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-style: solid,
            border-bottom-color: #F37541,
            content: "''",
            display: block,
            width: not_implemented(98.32vw),
            margin-bottom: not_implemented(2rem),
        ),
        Title: (
            font-family: (_ref: 'typography:::serifFont'),
            font-size: (_ref: 'typography:::exampleFontSize'),
            font-weight: bold,
            text-transform: uppercase,
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-style: solid,
            border-bottom-color: #F37541,
        ),
        TitleIcon: (
            background: url("../designs/carnival/parts/icons/carnival-interconnect.svg") no-repeat top left,
            background-size: contain,
            height: not_implemented(3.5rem),
            width: not_implemented(3.5rem),
            display: inline-block,
            padding-right: not_implemented(0.7rem),
            position: relative,
            bottom: not_implemented(-0.8rem),
            content: "''",
        ),
    ),
));

@include use('Example', 'carnival:::ExampleSpace');