$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-reference-container', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

// Change color: R1 -> B2 & R2 -> B1
@include add_settings((
    ChapterTitles: (
        'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
    ), 
    PageTitles: (
        'H1Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'H2Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'H3Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'H4Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'H5Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'H1AppendixText:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
    ), 
    EocCompositePageTitles: (
        'H2Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
    ), 
    EobTitles: (
        'H2Title:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
    ), 
    TocUnit: (
        'TocTitle:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'TocTitle:::border-bottom-color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'UnitLink:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
        'ChapterLinkText:::color': (_ref: 'colorMap:::poliSciR1Replacement'),
    ), 
    Figure: (
        'CaptionTitleLabel:::color': (_ref: 'colorMap:::captionLabelColorPoliSci'),
        'CaptionNumber:::color': (_ref: 'colorMap:::captionLabelColorPoliSci'),
    ), 
    DefaultTable: (
        'TableBottomBorder:::border-bottom-color': (_ref: 'colorMap:::captionLabelColorPoliSci'),
        'CaptionTitleLabel:::color': (_ref: 'colorMap:::captionLabelColorPoliSci'),
        'CaptionNumber:::color': (_ref: 'colorMap:::captionLabelColorPoliSci'),
    ), 
));

// Notes
@include add_settings((
    ShowData: (
        _selectors: ('.show-data'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorRed'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-data.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorRed'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    ConnectingCourses: (
        _selectors: ('.connecting-courses'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    MeetProfessional: (
        _selectors: ('.meet-professional'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-career.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    ChangingPolitical: (
        _selectors: ('.changing-political'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::titleColorAlt'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-group.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WhatDo: (
        _selectors: ('.what-do'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-skill.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WhereEngage: (
        _selectors: ('.where-engage'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::iconnedNoteTitleColorPurple'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-ballot.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    Video: (
        _selectors: ('.media-video'),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-media.svg")) no-repeat top left,
    ),
    Podcast: (
        _selectors: ('.media-podcast'),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::podcastBottomBorderColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-podcast.svg")) no-repeat top left,
    ),
));

// Eoc
@include add_settings((
  ReviewQuestions: (
    _selectors: ('.os-eoc.os-review-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  SuggestedReading: (
    _selectors: ('.os-eoc.os-suggested-readings-container'),
  ),
));

@include add_settings((
    FigureAfterSubtitle: (
        _selectors: ("h4.os-subtitle + .os-figure:not(.has-splash)"),
    )
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('TocUnit', 'cosmos:::TocUnitShape');
@include use('LearningObjectivesModule', 'cosmos:::LearningObjectivesModuleShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('ModuleWithinChapter', 'cosmos:::ModuleWithinChapterShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');
@include use('UnitTitle', 'common:::Hidden');

// Lists
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');
@include use('FigureAfterSubtitle', 'cosmos:::FigureTopSpacingShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Notes
@include use('ShowData', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('ConnectingCourses', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('MeetProfessional', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('ChangingPolitical', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('WhatDo', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('WhereEngage', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('Video', 'cosmos:::CondensedIconNoteShape');
@include use('Podcast', 'cosmos:::CondensedIconNoteShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');
@include use('SuggestedReading', 'cosmos:::ModuleWithIndentationShape');

//Exercises
@include use('ReviewQuestions', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('EobReferences', 'cosmos:::EobReferencesShape');
@include use('EobReferencesLink', 'cosmos:::EobReferencesLinkShape');
@include use('Index', 'cosmos:::IndexShape');
