$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/_folio';

// Code snippet colors
@include add_settings((
    CodeComment: (
        _selectors: ('.hljs-comment, .green-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeCommentColor'),
    ),
    CodeKeyword: (
        _selectors: ('.hljs-keyword, .purple-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeKeywordColor'),
    ),
    CodeFunction: (
        _selectors: ('.hljs-function'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeFunctionColor'),
    ),
    CodeTitle: (
        _selectors: ('.hljs-title, .gray-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeTitleColor'),
    ),
    CodeParams: (
        _selectors: ('.hljs-params'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeParamsColor'),
    ),
    CodeString: (
        _selectors: ('.hljs-string, .red-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeStringColor'),
    ),
    CodeBuildIn: (
        _selectors: ('.hljs-built_in, .blue-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeBuiltInColor'),
    ),
    CodeNumber: (
        _selectors: ('.hljs-number, .brown-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeNumberColor'),
    ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('TocUnit', 'cardboard:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');

// Code
@include use('CodeComment', 'common:::ColoredText');
@include use('CodeKeyword', 'common:::ColoredText');
@include use('CodeFunction', 'common:::ColoredText');
@include use('CodeTitle', 'common:::ColoredText');
@include use('CodeParams', 'common:::ColoredText');
@include use('CodeString', 'common:::ColoredText');
@include use('CodeBuildIn', 'common:::ColoredText');
@include use('CodeNumber', 'common:::ColoredText');
