$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/_folio';

//Titles
@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroNumbered:::margin-left': -1.2rem,
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
    'H1ChapterIntroIcon:::bottom': 0.1rem,
    'H1ChapterIntroIcon:::left': 0rem,
  ),
));

// Introduction
@include add_settings ((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    "MediaSplashBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "MediaSplashBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  )
));

//Notes
@include add_settings((
  PythonNote: (
    _selectors: (".python-feature"),
    'Body:::border-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-top-color': (_ref: "colorMap:::noteOption4TitleTopBorderColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-right-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-left-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::background-color': (_ref: "colorMap:::noteOption4HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption4HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption4BodyBackgroundColor"),
    ),

    ExploringFurtherNote: (
      _selectors: ('.exploring-further'),
      "Title:::color": (_ref: 'colorMap:::noteOption3HeaderColor'),
      'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
      'Title:::font-family': (_ref: "typography:::titleFont"),
      'Body:::font-family': (_ref: "typography:::baseFont"),
      'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
  ),
));


@include use('BookRoot', "common:::BookRoot");
@include use('TocUnit', 'cardboard:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');
@include use('NumberedLearningObjectives', 'cardboard:::LearningObjectivesNumberedShape');
@include use('ExampleGreen', 'cardboard:::ExampleShape');

// Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('ChapterIntroTitlesBlue', 'cardboard:::ChapterIntroTitlesShape');
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Chapter Intro
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');

//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureSplash','cardboard:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');

//Notes
@include use('PythonNote', 'cardboard:::BoxedNoteWithBordersShape');
@include use('ExploringFurtherNote', 'cardboard:::BoxedNoteShape');

// Tables
@include use('UnstyledTable', 'cardboard:::UnstyledTableShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TableAfterExercisePara', 'cardboard:::TableTopSpacingShape');

//Lists
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('ExercisesProblemQuestionLists', 'cardboard:::ExercisesListsShape');
