@import '../u-physics/book';

@include add_settings((
    ChapterReviewCompositeChapter:(
        _selectors: (".os-chapter-review-container"),
        'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
        'H2Title:::font-family': (_ref: 'typography:::serifFont'),
        'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
        'H3Title:::font-family': (_ref: 'typography:::serifFont'),
        'H3Title:::overflow': hidden,
        'H3TitleBottomBorder:::content': "''",
        'H3TitleBottomBorder:::width': 100%,
        'H3TitleBottomBorder:::height': 0.2rem,
        'H3TitleBottomBorder:::border-bottom-width': 0.2rem,
        'H3TitleBottomBorder:::border-bottom-color': (_ref: 'colorMap:::physicsHeaderColor'),
        'H3TitleBottomBorder:::border-bottom-style': solid,
        'H3TitleBottomBorder:::display': inline-block,
        'H3TitleBottomBorder:::position': relative,
        'H3TitleBottomBorder:::bottom': 0.3rem,
        'H3TitleBottomBorder:::margin-left': h-spacing(1),
        'H3TitleBottomBorder:::margin-right': -100%,
        'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    ),
));

@include add_settings((
    IndexName: (
        _selectors: (".os-index-name-container"),
        'H1Title:::border-bottom-color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::font-family': (_ref: 'typography:::sansFont'),
        'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Group:::font-family': (_ref: 'typography:::baseFont'),
        'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
        'GroupLabel:::font-family': (_ref: 'typography:::titleFont'),
        'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
        'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermText:::font-family': (_ref: 'typography:::baseFont'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexTerm: (
        _selectors: (".os-index-term-container"),
        'H1Title:::border-bottom-color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::font-family': (_ref: 'typography:::sansFont'),
        'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Group:::font-family': (_ref: 'typography:::baseFont'),
        'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
        'GroupLabel:::font-family': (_ref: 'typography:::titleFont'),
        'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
        'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermText:::font-family': (_ref: 'typography:::baseFont'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexForeign: (
        _selectors: (".os-index-foreign-container"),
        'H1Title:::border-bottom-color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::color': (_ref: 'colorMap:::pagetitleColor'),
        'H1Title:::font-family': (_ref: 'typography:::sansFont'),
        'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Group:::font-family': (_ref: 'typography:::baseFont'),
        'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
        'GroupLabel:::font-family': (_ref: 'typography:::titleFont'),
        'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
        'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
        'TermText:::font-family': (_ref: 'typography:::baseFont'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
));

@include use('ChapterReviewCompositeChapter','carnival:::EOCDefaultCompoundComposite');
@include use('IndexName', 'carnival:::IndexShape');
@include use('IndexTerm', 'carnival:::IndexShape');
@include use('IndexForeign', 'carnival:::IndexShape');
