@use '../../lib/carnival/carnival';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import 'design-settings/carnival/design';
@import 'design-settings/carnival/settings';
@import '../../designs/carnival/pdf/locale/pl/folio';

//Settings
@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::border-bottom': none,
    'TocPrefaceLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocPrefaceLinkPage:::display': inline,
    'TocPrefaceLinkPage:::margin-left': 0,
    'TocPrefaceLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocAppendixLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocAppendixLinkPage:::display': inline,
    'TocAppendixLinkPage:::margin-left': 0,
    'TocAppendixLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterLinkPage:::display': inline,
    'TocChapterLinkPage:::margin-left': 0,
    'TocChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterPageLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterPageLinkPage:::display': inline,
    'TocChapterPageLinkPage:::margin-left': 0,
    'TocChapterPageLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterCompositePageLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterCompositePageLinkPage:::display': inline,
    'TocChapterCompositePageLinkPage:::margin-left': 0,
    'TocChapterCompositePageLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocEocCompositeChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocEocCompositeChapterLinkPage:::display': inline,
    'TocEocCompositeChapterLinkPage:::margin-left': 0,
    'TocEocCompositeChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocCompositeChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocCompositeChapterLinkPage:::display': inline,
    'TocCompositeChapterLinkPage:::margin-left': 0,
    'TocCompositeChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocReferencesLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocReferencesLinkPage:::display': inline,
    'TocReferencesLinkPage:::margin-left': 0,
    'TocReferencesLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocIndexLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocIndexLinkPage:::display': inline,
    'TocIndexLinkPage:::margin-left': 0,
    'TocIndexLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    'FigureSplashBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H2ChapterOutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterObjectiveLink:::font-weight': bold,
  ),
));

@include add_settings((
  LearningObjectivesAbstract: (
      _selectors: ('[data-type="page"] > [data-type="abstract"]'),
      'H3ObjectivesTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
      'ObjectivesListDot:::color': (_ref: "colorMap:::physicsHeaderColor"),
    ),
));

//EOC
@include add_settings((
  ConceptualQuestionsCompChapPage:(
    _selectors: (".os-review-conceptual-questions-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemSolutionNumber:::text-align': right,
  ),
  ProblemsCompChapPage:(
    _selectors: (".os-review-problems-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemSolutionNumber:::text-align': right,
  ),
  AdditionalProblemsCompChapPage:(
    _selectors: (".os-review-additional-problems-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemSolutionNumber:::text-align': right,
  ),
  ChallengeProblemsCompChapPage:(
    _selectors: (".os-review-challenge-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ProblemSolutionNumber:::text-align': right,
  ),
));

//Notes
@include add_settings((
  CheckYourUnderstandingNote:(
    _selectors: (".check-understanding"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'NoteNumber:::margin-left': h-spacing(1),
  ),
  LinkToLearningNote:(
    _selectors: (".media-2"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ProblemSolving:(
    _selectors: (".problem-solving"),
    group-border-color: (_ref: 'colorMap:::problemSolvingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::problemSolvingColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-problemsolving.svg")) no-repeat top left,
  ),
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  EquationCallOutNote:(
    _selectors: ('[data-type="note"].equation-callout'),
    'CondensedContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'CondensedContainer:::margin-bottom': v-spacing(1),
    'BoxedCondensedNoteEquationNumber:::font-family': (_ref: "typography:::titleOption1Font"),
    'BoxedCondensedNoteEquationNumber:::color': (_ref: 'colorMap:::equationNumberColor'),
  ),
));

//Tables
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.top-titled'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2ModuleTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EocCompositeChapterTitlesWithBorder: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3WithBottomBorder:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3TitleBottomBorder:::border-bottom-color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

// EOB
@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  IndexName: (
      _selectors: (".os-index-name-container"),
      'IndexGroup:::color': (_ref: 'colorMap:::fontBodyColor'),
      'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
      'IndexGroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
      'IndexGroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
      'IndexTermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
      'IndexTermContainer:::font-family': (_ref: 'typography:::baseFont'),
      'IndexTermText:::color': (_ref: 'colorMap:::fontBodyColor'),
      'IndexTermText:::font-family': (_ref: 'typography:::baseFont'),
      'IndexPageNumber:::content': target-counter(attr(href, url), page),
    ),
  IndexTerm: (
    _selectors: (".os-index-term-container"),
    'IndexGroup:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
    'IndexGroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexGroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
    'IndexTermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexTermContainer:::font-family': (_ref: 'typography:::baseFont'),
    'IndexTermText:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexTermText:::font-family': (_ref: 'typography:::baseFont'),
    'IndexPageNumber:::content': target-counter(attr(href, url), page),
  ),
  IndexForeign: (
    _selectors: (".os-index-foreign-container"),
    'IndexGroup:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
    'IndexGroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexGroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
    'IndexTermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexTermContainer:::font-family': (_ref: 'typography:::baseFont'),
    'IndexTermText:::color': (_ref: 'colorMap:::fontBodyColor'),
    'IndexTermText:::font-family': (_ref: 'typography:::baseFont'),
    'IndexPageNumber:::content': target-counter(attr(href, url), page),
    ),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.preface', '.os-glossary-container', '.os-key-concepts-container',
                 '.os-review-conceptual-questions-container', '.os-review-problems-container',
                 '.os-review-additional-problems-container', '.os-review-challenge-container'),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-key-equations-container', '.os-review-additional-problems-container', '.os-review-challenge-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Book specific styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('LearningObjectivesAbstract', 'carnival:::LearningObjectivesColoredDotShape');
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Chapter Intro
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

// Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureSplash','carnival:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','carnival:::FigureFromExercisesShape');

// Notes
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ProblemSolving', 'carnival:::IconNoteShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::ExampleShape');
@include use('EquationCallOutNote', 'carnival:::BoxCondensedEquationShape');

// Equations
@include carnival.numbered-equation();
@include carnival.unnumbered-equation();

// EOC
@include use('KeyTerms', 'carnival:::KeyTermsShape');
@include use('KeyEquations','carnival:::ModuleWithUnstyledTableShape');

// EoC Exercises
@include use('ConceptualQuestionsCompChapPage','carnival:::ExercisesModuleShape');
@include use('ProblemsCompChapPage','carnival:::ExercisesModuleShape');
@include use('AdditionalProblemsCompChapPage','carnival:::ExercisesModuleShape');
@include use('ChallengeProblemsCompChapPage','carnival:::ExercisesModuleShape');

// Tables
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');

// Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'carnival:::ChapterIntroTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositeChapterTitlesWithBorder', 'carnival:::EocCompositeChapterTitlesWithBorderShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('UnitTitle', 'common:::Hidden');
@include use("TitlesFromLists", "carnival:::TitlesFromListsShape");

// Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use('TableLists', 'carnival:::TableListShape');
@include use("ExercisesSolutionLists", "carnival:::ExercisesListsShape");
@include use("NotesLists", "carnival:::NotesListsShape");

// EOB
@include use('Index', 'carnival:::IndexShape');
@include use('IndexName', 'carnival:::IndexShape');
@include use('IndexTerm', 'carnival:::IndexShape');
@include use('IndexForeign', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('AnswerKeySolution', 'carnival:::AnswerKeySolutionShape');
