$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import 'design-settings/carnival/design';
@import 'design-settings/carnival/settings';
@import '../../designs/carnival/pdf/locale/pl/folio';

//Settings
@include add_settings((
  UnitToc: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::border-bottom': none,
    'TocPrefaceLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocPrefaceLinkPage:::display': inline,
    'TocPrefaceLinkPage:::margin-left': 0,
    'TocPrefaceLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocAppendixLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocAppendixLinkPage:::display': inline,
    'TocAppendixLinkPage:::margin-left': 0,
    'TocAppendixLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterLinkPage:::display': inline,
    'TocChapterLinkPage:::margin-left': 0,
    'TocChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterPageLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterPageLinkPage:::display': inline,
    'TocChapterPageLinkPage:::margin-left': 0,
    'TocChapterPageLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterCompositePageLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocChapterCompositePageLinkPage:::display': inline,
    'TocChapterCompositePageLinkPage:::margin-left': 0,
    'TocChapterCompositePageLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocEocCompositeChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocEocCompositeChapterLinkPage:::display': inline,
    'TocEocCompositeChapterLinkPage:::margin-left': 0,
    'TocEocCompositeChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocCompositeChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocCompositeChapterLinkPage:::display': inline,
    'TocCompositeChapterLinkPage:::margin-left': 0,
    'TocCompositeChapterLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocReferencesLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocReferencesLinkPage:::display': inline,
    'TocReferencesLinkPage:::margin-left': 0,
    'TocReferencesLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocIndexLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'TocIndexLinkPage:::display': inline,
    'TocIndexLinkPage:::margin-left': 0,
    'TocIndexLinkPage:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
));

@include add_settings((
  LearningObjectivesAbstract: (
      _selectors: ('[data-type="page"] > [data-type="abstract"]'),
      'H3ObjectivesTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
      'ListDot:::color': (_ref: "colorMap:::physicsHeaderColor"),
    ),
));

//EOC
@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'composite-chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'composite-chapter'] > .os-key-concepts-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocKeyEquations: (
    _selectors: ("[data-type = 'composite-chapter'] > .os-key-equations-container"),
    'Container:::column-count': 1,
    'Container:::column-gap': normal,
    'Container:::column-width': auto,
    'SectionMarginBottom:::margin-bottom': 0,
    'UnnumberedUnstyledTable:::margin-bottom': 0,
    'TableData:::padding-right': table-v-spacing(1),
    'TableData:::padding-left': table-h-spacing(1),
  ),
  ConceptualQuestionsCompChapPage:(
    _selectors: (".os-review-conceptual-questions-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': column-v-spacing(1),
  ),
  ProblemsCompChapPage:(
    _selectors: (".os-review-problems-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': column-v-spacing(1),
  ),
  AdditionalProblemsCompChapPage:(
    _selectors: (".os-review-additional-problems-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  ChallengeProblemsCompChapPage:(
    _selectors: (".os-review-challenge-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
));

//Notes
@include add_settings((
  CheckYourUnderstandingNote:(
    _selectors: (".check-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'NoteNumber:::margin-left': h-spacing(1),
  ),
  LinkToLearningNote:(
    _selectors: (".media-2"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ProblemSolving:(
    _selectors: (".problem-solving"),
    group-border-color: (_ref: 'colorMap:::problemSolvingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::problemSolvingColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-problemsolving.svg")) no-repeat top left,
  ),
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  EquationCallOutNote:(
    _selectors: ('[data-type="note"].equation-callout'),
    'CondensedContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'CondensedContainer:::margin-bottom': v-spacing(1),
    'BoxedCondensedNoteEquationNumber:::font-family': (_ref: "typography:::titleOption1Font"),
    'BoxedCondensedNoteEquationNumber:::color': (_ref: 'colorMap:::equationNumberColor'),
  ),
));

//Tables
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.top-titled'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EocCompositeChapterTitlesWithBorder: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3WithBottomBorder:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3TitleBottomBorder:::border-bottom-color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

// EOB
@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  IndexName: (
      _selectors: (".os-index-name-container"),
      'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Group:::font-family': (_ref: 'typography:::baseFont'),
      'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
      'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
      'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
      'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
      'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
      'TermText:::font-family': (_ref: 'typography:::baseFont'),
      'PageNumber:::content': target-counter(attr(href, url), page),
    ),
  IndexTerm: (
    _selectors: (".os-index-term-container"),
    'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Group:::font-family': (_ref: 'typography:::baseFont'),
    'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
    'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
    'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
    'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
    'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
    'TermText:::font-family': (_ref: 'typography:::baseFont'),
    'PageNumber:::content': target-counter(attr(href, url), page),
  ),
  IndexForeign: (
    _selectors: (".os-index-foreign-container"),
    'Group:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Group:::font-family': (_ref: 'typography:::baseFont'),
    'GroupLabel:::color': (_ref: 'colorMap:::fontBodyColor'),
    'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
    'TermContainer:::color': (_ref: 'colorMap:::fontBodyColor'),
    'TermContainer:::font-family': (_ref: 'typography:::baseFont'),
    'TermText:::color': (_ref: 'colorMap:::fontBodyColor'),
    'TermText:::font-family': (_ref: 'typography:::baseFont'),
    'PageNumber:::content': target-counter(attr(href, url), page),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Book specific styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('Indent', 'carnival:::IndentShape');
@include use('LearningObjectivesAbstract', 'carnival:::LearningObjectivesShape');
@include use('ContentExercises','carnival:::ExerciseShape');

// Chapter Intro
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

// Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','carnival:::FigureFromExercisesShape');

// Notes
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ProblemSolving', 'carnival:::IconNoteShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::ExampleShape');
@include use('EquationCallOutNote', 'carnival:::BoxCondensedEquationShape');

// Equations
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');

// EOC
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocSummary','carnival:::EocSummary');
@include use('EocKeyEquations','carnival:::EocKeyEquations');
@include use('ConceptualQuestionsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('ProblemsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('AdditionalProblemsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('ChallengeProblemsCompChapPage','carnival:::EOCAssesmentsShape');

// Tables
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('BasicTable', 'carnival:::BasicTableShape');

// Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositeChapterTitlesWithBorder', 'carnival:::EocCompositeChapterTitlesWithBorderShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('UnitTitle', 'common:::Hidden');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done

// Lists
@include use('PageLists', 'carnival:::PageListsShape');

// EOB
@include use('Index', 'carnival:::IndexShape');
@include use('IndexName', 'carnival:::IndexShape');
@include use('IndexTerm', 'carnival:::IndexShape');
@include use('IndexForeign', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
