@import '../biology/book';

@include add_settings(( 
  ColumnHeaderTable: (
    _selectors: ('.os-table'),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::biologyTableColor"),
    'FirstTableRow:::border-top-color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

@include add_settings((
  LearningObjectiveParagraphShape: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'LearningObjectiveParagraph:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    ),
));
@include add_settings(( 
  Review: (
    _selectors: ("[data-type = 'chapter'] > .os-review-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
),
  TestPrep: (
    _selectors: ("[data-type = 'chapter'] > .os-ap-test-prep-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
),
  SciencePractice: (
    _selectors: ("[data-type = 'chapter'] > .os-science-practice-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
),

));
@include add_settings((
  APSciencePractices:(
    _selectors: (".ap-science-practices"),
    group-border-color: (_ref: 'colorMap:::apSciencePracticesColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::apSciencePracticesColor'),
    'TitleLabel:::max-width': 22rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientificmethod.svg")) no-repeat top left,
  ),
  APEverydayConnectionNote:(
    _selectors:(".ap-everyday"),
    group-border-color: (_ref: 'colorMap:::apEverydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  ScientificMethodNote:(
    _selectors: (".experiment"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
));

@include use('APSciencePractices','carnival:::IconNoteShape');
@include use('TeacherMaterial', 'common:::Hidden');
@include use('APEverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('ColumnHeaderTable', 'carnival:::ColumnHeaderTableShape');
@include use('Review', 'carnival:::EocExerciseWithoutSubtitle');
@include use('TestPrep', 'carnival:::EocExerciseWithoutSubtitle');
@include use('SciencePractice', 'carnival:::EocExerciseWithoutSubtitle');
@include use('LearningObjectiveParagraphShape', 'carnival:::LearningObjectiveParagraphShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
