@import '../biology/book';

@include add_settings(( 
  ColumnHeaderTable: (
    _selectors: ('.os-table.os-column-header-container'),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::biologyTableColor"),
    'FirstTableRow:::border-top-color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'Paragraph:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListItem:::font-family': (_ref: 'typography:::sansFont'),
    'ListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings(( 
  Review: (
    _selectors: ("[data-type = 'chapter'] > .os-review-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
),
  TestPrep: (
    _selectors: ("[data-type = 'chapter'] > .os-ap-test-prep-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
),
  SciencePractice: (
    _selectors: ("[data-type = 'chapter'] > .os-science-practice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
),

));
@include add_settings((
  APSciencePractices:(
    _selectors: (".ap-science-practices"),
    group-border-color: (_ref: 'colorMap:::apSciencePracticesColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::apSciencePracticesColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientificmethod.svg")) no-repeat top left,
  ),
  APEverydayConnectionNote:(
    _selectors:(".ap-everyday"),
    group-border-color: (_ref: 'colorMap:::apEverydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  ScientificMethodNote:(
    _selectors: (".experiment"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
));

@include use('APSciencePractices','carnival:::IconNoteShape');
@include use('TeacherMaterial', 'common:::Hidden');
@include use('APEverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('ColumnHeaderTable', 'carnival:::ColumnHeaderTableShape');
@include use('Review', 'carnival:::EOCAssesmentsShape');
@include use('TestPrep', 'carnival:::EOCAssesmentsShape');
@include use('SciencePractice', 'carnival:::EOCAssesmentsShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
