/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */
[data-type="chapter"] {
  > h1[data-type="document-title"] {
    font-size: size-scale(3);
    position: absolute;
    color: color-map(chapter-title);
    white-space: nowrap;
    font-family: font-map(serif);
    z-index: 1;
    margin: 0;
    width: PAGE_CONTENT_WIDTH();
    @if settings(full-bleed-splash) {
      height: settings(splash-page-depth);
      top: -1 * PAGE_VERTICAL_MARGIN();
    } @else {
      height: settings(splash-page-depth) - PAGE_VERTICAL_MARGIN();
    }

    .os-text {
      $drop: 10px;
      $left-padding: 80px;

      position: absolute;
      bottom: 0;
      max-width: PAGE_CONTENT_WIDTH();
      height: settings(splash-title-bar-height) - $drop;
      white-space: normal;
      font-weight: normal;
      @if settings(full-bleed-splash) {
        left: $left-padding;
      } @else {
        left: $left-padding + PAGE_HORIZONTAL_MARGIN() / 2;
      }
    }

    .os-number {
      $diameter: 45px;

      font-family: font-map(serif);
      bottom: settings(splash-title-bar-height) - ($diameter / 2);
      background-color: color-map(chapter-number-bg);
      width: $diameter;
      height: $diameter;
      display: block;
      line-height: $diameter;
      color: color-map(chapter-number);
      position: absolute;
      border-radius: 50%;
      border: 1px solid color-map(chapter-number-border);
      text-align: center;
      @if not settings(full-bleed-splash) {
        left: PAGE_HORIZONTAL_MARGIN() / 2;
      }
    }

    &::after {
      $icon-width: 170px;

      content: CONTENT_BLANK();
      display: block;
      width: $icon-width;
      height: settings(splash-title-bar-height);
      position: absolute;
      bottom: 0;
      // background: url("ccap-business/business-books-intro-graphic.svg") 0 0 no-repeat;
      z-index: 3;
      @if settings(full-bleed-splash) {
        left: -1 * PAGE_HORIZONTAL_MARGIN();
      }
    }
  }
}
