/* ---------------------------------------------------
 * Citations
 * ---------------------------------------------------
 */
[data-type="chapter"] a.link.cite  {
   //override more specific selector in notes etc...
   border-bottom: 0 !important;
 }

 [data-type="chapter"] a.link.cite::before {
   content: target-counter(attr(href), references);
   @include scripts(sup);
   text-decoration: underline;
   font-weight: 100;
 }

div.end-of-book-references {
  // #part>#book-end>#end-of-book-references>.style();
  margin-left: 0;
  text-indent: 0;
  text-align: left;
  display: inline;

  > .chapter-area {
    // #part>#book-end>#end-of-book-references>#chapter-area>.style();
    counter-reset: references;
    //.scale-padding(0, margin-bottom);
    > .title {
      display: none;
    }

    > .body > .section-area {
      //.scale-padding(0, margin-bottom);

      .title {
        sup {
          display: none;
        }
        color: $eob-title-color;
        font-weight: bold;
      }

      p {
        display: inline;
      }
    }

    > .body > .section-area .note.reference {
      // #part>#book-end>#end-of-book-references>#chapter-area>#note>.style(any; any);
      // margin: 0 0 0.5em; // 6px computed value
      //.scale-padding(-3, margin-bottom);
      padding: 0;
      counter-increment: references;

      > .body::before {
        // #part>#book-end>#end-of-book-references>#reference>.number();
        content: counter(references) ".";
        // padding-right: 0.5em; // 6px computed value
        //.scale-padding(-4, padding-right);
      }
    }
  }
}
