/* -------------------------
 * Example Elements Styling and Numbering
 * -------------------------
 */
[data-type="chapter"] .example {
  //#content>#example>.style(any);
  border-top: 0;
  border-bottom: 0;
  //.scale-padding(1, margin-top);
  //.scale-padding(1, margin-bottom);
  //margin-top: 1.5em;
  //margin-bottom: 1.5em;
  @include notes( "Example " counter(chapter,decimal) "." counter(example) " ", $notes-title-color, #ebe9e9, none);

  > .title {
    // #content>#example>#title>.style(any);
    display: none;

    span::before {
      background-color: $example-bg-color;
      color: $example-title-color;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      //padding: 0 1em; 12px computed value
      //.scale-padding(0, padding-left);
      //.scale-padding(0, padding-right);
    }
  }
}
