/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  @include center-image();
}

.os-figure,
.preface .os-figure {
  @include center-image();
  margin-bottom: size-scale(3);

  &:last-child {        // Remove excess padding on figures at end of sections
    margin-bottom: auto;
  }

  > figure {
    padding-bottom: size-scale(-4);
    img {
      max-width: settings(figure-img-width);
    }
  }

  @include caption(figure);
}

