[data-type="footnote-refs"] {
  //#content>#footnote>.style();
  //.font-scale(-1);

  display: prince-footnote;
  color: color-scheme(accent-tertiary); //color-map(footnote)
  line-height: 1.5em;
  font-size: size-scale(-1);
  [data-type="footnote-refs-title"] {
    @include title(h4);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

[data-type="footnote-refs"]::footnote-call, [data-type="footnote-refs"]::footnote-marker {
  content: none;
}

@page {
  @footnotes {
    border-top: solid color-scheme(accent-tertiary) thin; //color-map(footnote)
  }
}
