.os-index-container {
  page-break-before: right;
  page-break-after: left;
  page-break-inside: auto;
  column-count: 3;
  column-gap: 24px;
  column-width: auto;

  .group-by {
    padding-bottom: size-scale(1);
  }
  .group-label {
    font-size: size-scale(2);
    font-weight: bold;

    color: color-scheme(secondary)//settings(index-letter-color);
  }
  .os-term-section-link {
    border-bottom: none;
  }

  .os-index-item {
    // #part>#book-end>#index>.term();
    font-size: size-scale(0);
    line-height: 1.5em; //todo
    .os-term {
      padding-right: size-scale(1);
    }
  }
}
