.preface {
  h1 {
    @include titles-h1-style();
  }

  > section {
    h2 {
      @include titles-h2-style();
    }

    h3 {
      @include titles-h3-style();
    }

    h4 {
      @include titles-h4-style();
    }

    h5 {
      @include titles-h5-style();
    }
  }
  margin-bottom: size-scale(2);
  p + section {
    margin-top: size-scale(2);
  }

  > div section {
    margin-bottom: size-scale(2);
  }
}
