[data-type="chapter"] {
  position: relative;
  > .introduction {
    position: relative;
    padding-top: settings(splash-page-depth) - PAGE_VERTICAL_MARGIN();
    
    > [data-type="document-title"] {
      display: none;
    }

    > [data-type="document-title"] + .os-figure {

      figure {
        margin: 0;
        overflow: hidden;
        position: absolute;
        margin-bottom: -1 * PAGE_VERTICAL_MARGIN();
        max-width: none;
        @if settings(full-bleed-splash) {
          width: FULL_BLEED_WIDTH();
          height: settings(splash-page-depth);
          transform: translateX(-1 * (PAGE_HORIZONTAL_MARGIN() + (FULL_BLEED_ADD() / 2)));
          top: -1 * PAGE_VERTICAL_MARGIN();
        } @else {
          width: PAGE_CONTENT_WIDTH();
          height: settings(splash-page-depth) - PAGE_VERTICAL_MARGIN();
          top: 0;
        }
        
        /* Prince -v latest */
          // &::before {
          //   width: 100%;
          //   content: CONTENT_BLANK();
          //   position: absolute;
          //   height: settings(splash-gradient-length);
          //   background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0));
          //   z-index: 1;
          // }
        /* end Prince -v latest */

        &::after {
          width: 100%;
          content: CONTENT_BLANK();
          display: block;
          position: absolute;
          bottom: 0;
          height: settings(splash-title-bar-height);
          background-color: color-map(splash-title-bar);
          border-top: 4px solid color-map(splash-title-bar-border);
        }

        span[data-type="media"] {
          // Please ensure that this element is a block element since its a span
          display: block;
          line-height: 0;
          width: 100%;
          height: 100%;
          /* Prince -v latest */
            // display: flex;
            // align-items: center;
          /* end Prince -v latest */

          img {
            width: 100%;
            position: relative;
            max-width: none;

            /* Prince -v <= 11.0 */
              @if settings(full-bleed-splash) {
                margin-top: settings(splash-page-depth) / 2;
              } @else {
                margin-top: (settings(splash-page-depth) - PAGE_VERTICAL_MARGIN()) / 2;
              }
              transform: translateY(-50%);
              padding-bottom: settings(splash-title-bar-height);
            /* end Prince -v <= 11.0 */

            /* Prince -v latest */
              // top: -1 * (settings(splash-title-bar-height) / 2);
            /* end Prince -v latest */

            @if settings(enforce-splash-height) {
              height: settings(splash-height) - settings(splash-title-bar-height);
            }
          }
        }
      }

      .os-caption-container {
        width: PAGE_CONTENT_WIDTH();
        margin-top: size-scale(-3);
      }
    }
  }
}
