
@include tables(settings(supported-tables));

//global settings for elements inside tables
table {
  thead {
    .footnote::footnote-call {

    }
  }
  td {
    &.text-align-right {
      text-align: right;
    }
    &.text-align-center {
      text-align: center;
    }
    &.text-align-justify {
      text-align: justify;
    }
    img {
      height: auto;
      width: 100%;
      position: inherit;
    }
  }
}

//global settings for tables in notes
div.note {
  div.table table thead tr:first-of-type {
    th {
      white-space: nowrap;

      &:not(:last-child) {
        // padding: 0.4rem 0.4rem 0.4rem 1rem;
        //.scale-padding(-6, padding-top);
        //.scale-padding(-6, padding-right);
        //.scale-padding(-6, padding-bottom);
        //.scale-padding(-1, padding-left);
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
