/* -------------------------
 * Book TOC
 * ------------------------
 */
nav#toc {
  > ol {
    padding: 0;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-align: left;
    text-decoration: none;
    border-bottom: none;

    &::after {
      margin-left: 1rem;
      content: target-counter(attr(href), page);
    }
  }
  > ol > li {
    margin-bottom: size-scale(1);
    padding-left: 1rem;

    &:nth-child(2n) {
      padding-top: size-scale(1);
      padding-bottom: size-scale(1);
      background-color: color-map(toc-odd-bg);
    }

    > a {
      font-size: size-scale(2);
      font-weight: bold;
      color: color-map(toc-chapter-link);
      font-family: font-map(serif);

      > .os-number {
        display: inline-block;
        color: color-map(toc-number);
        border: 1px solid color-map(toc-number-border);
        padding: 0;
        margin-right: 1rem;
        font-weight: bold;
        width: settings(toc-number-box-size);
        height: settings(toc-number-box-size);
        line-height: settings(toc-number-box-size);
        text-align: center;
      }
      > .os-divider {
        display: none;
      }
    }
    > ol {
      border-left: .4rem solid darken(color-map(toc-side-border), 5%);
      margin-left: settings(toc-number-box-size);
      padding-left: 1rem;
      margin-top: size-scale(0);

      > li > a {
        color: color-map(toc-link);
        font-family: font-map(serif);

        > .os-number {
          font-weight: bold;
        }
      }
    }
  }
}
