[data-type="page"],
[data-type="composite-page"] {
  font-size: 1.6rem;
  line-height: 2.3rem;
}

// Inputs
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}