// For Rex, everything should be scoped to [data-dynamic-style="true"]
@function scope($wrap) {
  $scope-selector: "[data-dynamic-style=\"true\"]";
  @return unquote("#{$scope-selector} #{$wrap}");
}

#{scope("")} {
  --content-text-scale: 1;
}

#{scope("[data-type="page"], [data-type="composite-page"]")} {
  font-size: scaled_size(1.6rem);
  line-height: scaled_size(2.3rem);
}

// Inputs
#{scope("input")}, #{scope("button")}, #{scope("select")}, #{scope("textarea")} {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#{scope("span[data-media~="screenreader"]")} {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  opacity: 0;
}

#{scope("button")},
#{scope("html input[type="button"]")},
#{scope("input[type="reset"]")},
#{scope("input[type="submit"]")} {
  -webkit-appearance: button;
  cursor: pointer;
}

#{scope("button")} {
  overflow: visible;
}

#{scope("button")},
#{scope("input")},
#{scope("optgroup")},
#{scope("select")},
#{scope("textarea")} {
  color: inherit;
  font: inherit;
  margin: 0;
}

// Superscript and subscript
#{scope("sup")} {
  top: -.5em;
}

#{scope("sub")} {
  bottom: -.25em;
}

#{scope("sub")},
#{scope("sup")} {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

// Preformatted
#{scope("pre")} {
  text-align: left;
}

#{scope("code[data-display="block"]")} {
  display: block;
  white-space: pre-wrap;
}

// Double underline
#{scope("u[data-effect="double-underline"]")} {
  text-decoration-style: double;
}

// Inline media
#{scope("[data-type="media"][data-display="inline"]")} {
  display: inline-flex;
}

// Smallcaps
#{scope(".smallcaps")} {
  font-size: scaled_size(1.3rem);
}

//Smallcaps in caption
#{scope(".os-caption span.smallcaps")} {
  font-size: scaled_size(1rem);
}
