$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio';

//Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Numbered:::font-size': font-scale(4),
  )
));

@include add_settings((
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
  WorkItOut: (
    _selectors: ('[data-type="note"].work-out'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor2"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTextColor2"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor2"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor2"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  Definition: (
    _selectors: ('[data-type="note"].definition'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTextColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  Formula: (
    _selectors: ('[data-type="note"].formula'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor5"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTextColor4"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor4"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor5"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  WhoKnew: (
    _selectors: ('[data-type="note"].who-knew'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-questions.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': v-spacing(2),
    'TitleIcon:::width': h-spacing(2),
    'TitleIcon:::bottom': v-spacing(1),
    'TitleIcon:::background-size': cover,
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  TechCheck: (
    _selectors: ('[data-type="note"].tech-check'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-technology.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': v-spacing(2),
    'TitleIcon:::width': h-spacing(3),
    'TitleIcon:::bottom': v-spacing(1),
    'TitleIcon:::background-size': contain,
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  PeopleInMathematics: (
    _selectors: ('[data-type="note"].people-mathematics'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-people.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::width': v-spacing(6),
    'TitleIcon:::height': v-spacing(5),
    'TitleIcon:::bottom': v-spacing(1),
    'TitleIcon:::background-size': cover,
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor3"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTextColor3"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor3"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor3"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTextColor3"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  YourTurn: (
    _selectors: (".your-turn"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-tryit.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::width': v-spacing(2),
    'TitleIcon:::height': v-spacing(2),
    'TitleIcon:::bottom': v-spacing(1),
    'TitleIcon:::background-size': contain,
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor4"),
    'Title:::border-bottom-color': (_ref: "colorMap:::iconBoxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Title:::padding-top': v-spacing(1),
    'Title:::padding-bottom': v-spacing(1),
    'TitleLabel:::margin-right': h-spacing(1) / 2,
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor4"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  Video: (
    _selectors: (".video"),
    'Title:::margin-bottom': v-spacing(1),
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::margin-left': h-spacing(3),
    'Subtitle:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-media.svg")) no-repeat top left,
  ),
  Checkpoint: (
    _selectors: (".check-point"),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': 0,
    'Title:::padding-top': v-spacing(1),
    'Title:::white-space': nowrap,
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-checkpoint.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
    'TitleIcon:::width': h-spacing(3),
    'TitleIcon:::height': v-spacing(3),
    'Title:::vertical-align': text-top,
    'TitleIcon:::background-size': contain,
  ),
));

@include add_settings((
  SectionExercises: (
    _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises'),
    ProblemSolutionNumber: (
      color: (_ref: 'colorMap:::fontBodyColor'),
    ),
  ),
  ChapterTestExercises: (
    _selectors: ('.os-eoc.os-chapter-test-container > .chapter-test'),
    ProblemSolutionNumber: (
      color: (_ref: 'colorMap:::fontBodyColor'),
    ),
  ),
  ChapterReviewExercises: (
    _selectors: ('.os-eoc.os-chapter-review-container > .chapter-review'),
    ProblemSolutionNumber: (
      color: (_ref: 'colorMap:::fontBodyColor'),
    ),
  ),
));

@include add_settings ((
  AnswerKeyExercisesSolutionLists: (
    _selectors: ('.os-eob.os-solutions-container [data-type="solution"]'),
    CircledListToken: (
      color: (_ref: 'colorMap:::circledListTokenColor'),
    ),
  ),
));

@include add_settings((
  AnswerKey: (
    SolutionWrapper: (
      width: 100%,
    ),
  ),
));

@include add_settings((
  FormulaReview: (
    Container: (
      column-count: 1,
    ),
  ),
));

// Common
@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'corn:::ChapterIntroShape');
@include use('LearningObjectivesNumbered', 'corn:::LearningObjectivesNumberedShape');
@include use('Toc', 'corn:::NoUnitToc');
@include use('Figure','corn:::FigureShape');
@include use('Example', 'corn:::ExampleShape');
@include use('Index', 'corn:::IndexShape');
@include use('Link', 'corn:::LinkShape');

//Titles
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('CompositeChapterTitles', 'corn:::CompositeChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');

//Notes
@include use('WorkItOut', 'corn:::BoxedNoteWithSubtitleShape');
@include use('WhoKnew', 'corn:::IconBoxedNoteShape');
@include use('TechCheck', 'corn:::IconBoxedNoteShape');
@include use('PeopleInMathematics', 'corn:::IconBoxedNoteShape');
@include use('YourTurn', 'corn:::IconBoxedNoteShape');
@include use('NoClassNote', 'corn:::BoxedNoteShape');
@include use('Video', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('Checkpoint', 'corn:::IconCondensedNoteWithHiddenLabelShape');
@include use('Definition', 'corn:::BoxedNoteWithSubtitleShape');
@include use('Formula', 'corn:::BoxedNoteWithSubtitleShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('AnswerKeyExercisesSolutionLists', 'corn:::ExercisesInMultiColumnListsShape');
@include use('ExercisesProblemLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('ExercisesSolutionLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('InjectedQuestionLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('InjectedSolutionLists', 'corn:::ExercisesInOneColumnListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//EoC
@include use('KeyTerm','corn:::EocKeyTerm');
@include use('FormulaReview', 'corn:::OneColumnVerticalEocShape');

//Exercises
@include use('SectionExercises', 'corn:::OneColumnExercisesModuleShape');
@include use('ChapterTestExercises', 'corn:::OneColumnExercisesModuleShape');
@include use('ChapterReviewExercises', 'corn:::OneColumnExercisesModuleShape');

//EOB
@include use('AnswerKey', 'corn:::AnswerKeyShape');
@include use('Index', 'corn:::IndexShape');
