$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';

//Settings

@include add_settings((
  ExploringManagerialCareers: (
    _selectors: (".exploring-manager-careers"),
    'Body:::border-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-top-color': (_ref: "colorMap:::noteOption4TitleTopBorderColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-right-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-left-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::background-color': (_ref: "colorMap:::noteOption4HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption4HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption4BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ConceptCheck: (
    _selectors: (".concept-check"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-check.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::bottom':.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  EthicsInPractice: (
    _selectors: (".ethics-in-practice"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-road.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagingChange: (
    _selectors: (".managing-change"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managing.svg")) no-repeat top right,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  CatchingEntrepreneurialSpirit: (
    _selectors: (".catching-spirit"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-grouplight.svg")) no-repeat top right,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
  SustainabilityAndResponsibleManagement: (
    _selectors: (".sustainability-responsible"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-sustainability.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagerialLeadership: (
    _selectors: (".managerial-leadership"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-leadership.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Blockquote', "cardboard:::Blockquote");
@include use('Link', 'cardboard:::LinkShape');

//Lists
@include use('NotesLists', 'cardboard:::NotesListsShape');

//Notes
@include use('ExploringManagerialCareers', 'cardboard:::BoxedNoteWithBordersSubtitleShape');
@include use('ConceptCheck', 'cardboard:::IconBoxedNoteShape');
@include use('EthicsInPractice', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagingChange', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('CatchingEntrepreneurialSpirit', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('SustainabilityAndResponsibleManagement', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagerialLeadership', 'cardboard:::IconBoxedNoteWithSubtitleShape');
