$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';


//Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'H2IntroTextHeaderIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'H2IntroTextHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
  LearningObjectives:(
    _selectors: ('.learning-outcomes'), //has different selector then other books
    H3LearningObjectivesTitle: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::titleColor'),
    ),
  ),
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
    'H1ChapterIntroIcon:::bottom': 0.1rem,
    'H1ChapterIntroIcon:::left': 0rem,
  ),
  SummaryTitles: (
    _selectors: (".os-section-summary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CriticalThinkingTitles: (
    _selectors: (".os-critical-thinking-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  ManagementSkillsApplicationExercisesTitles: (
    _selectors: (".os-manage-skills-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managegroup.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ManagerialDecisionExercisesTitles: (
    _selectors: (".os-manage-exercises-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managedecisions.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
  ChapterReviewTitles: (
    _selectors: (".os-chapter-review-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
));

@include add_settings((
  ExploringManagerialCareers: (
    _selectors: (".exploring-manager-careers"),
    'Body:::border-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-top-color': (_ref: "colorMap:::noteOption4TitleTopBorderColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-right-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-left-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::background-color': (_ref: "colorMap:::noteOption4HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption4HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption4BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ConceptCheck: (
    _selectors: (".concept-check"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-check.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  EthicsInPractice: (
    _selectors: (".ethics-in-practice"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-road.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagingChange: (
    _selectors: (".managing-change"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managing.svg")) no-repeat top right,
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  CatchingEntrepreneurialSpirit: (
    _selectors: (".catching-spirit"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-grouplight.svg")) no-repeat top right,
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
  SustainabilityAndResponsibleManagement: (
    _selectors: (".sustainability-responsible"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-sustainability.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagerialLeadership: (
    _selectors: (".managerial-leadership"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-leadership.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 10rem,
    'TitleIcon:::width': 13rem,
    'TitleIcon:::bottom': -1.8rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
));

@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-manage-skills-container', '.os-eoc.os-manage-exercises-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Figure','cardboard:::FigureShape');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('Toc', 'cardboard:::NoUnitToc');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Blockquote', "cardboard:::BlockquoteShape");
@include use('Link', 'cardboard:::LinkShape');

//Lists
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');
@include use('ListTitles', 'cardboard:::ListTitlesShape');

//Notes
@include use('ExploringManagerialCareers', 'cardboard:::BoxedNoteWithBordersSubtitleShape');
@include use('ConceptCheck', 'cardboard:::IconBoxedNoteShape');
@include use('EthicsInPractice', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagingChange', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('CatchingEntrepreneurialSpirit', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('SustainabilityAndResponsibleManagement', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagerialLeadership', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ReferenceLink', 'cardboard:::ReferenceLinkShape');

//Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ChapterReviewTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CriticalThinkingTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ManagementSkillsApplicationExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ManagerialDecisionExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');

//EoC
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');
@include use('KeyTerms', 'cardboard:::KeyTermsShape');

//EOB
@include use('References', 'cardboard:::ReferencesShape');
@include use('Index', 'cardboard:::IndexShape');

//Tables
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');

