$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';

//Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
  LearningObjectives:(
    _selectors: ('.learning-outcomes'), //has different selector then other books
    H3LearningObjectivesTitle: (
      font-family: (_ref: 'typography:::titleFont'),
      color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
    ),
  ),
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Figure','cardboard:::FigureShape');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('Toc', 'cardboard:::NoUnitToc');

//Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('PageTitles', 'cardboard:::PageTitlesShape');