@use 'lib/cardboard/cardboard';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';


//Settings
@include add_settings ((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    "MediaSplashBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "MediaSplashBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  ),
));

@include add_settings((
  LearningObjectives:(
    _selectors: ('.learning-outcomes'), //has different selector then other books
    H3ObjectivesTitle: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::titleColor'),
    ),
  ),
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
    'H1ChapterIntroIcon:::bottom': 0.1rem,
    'H1ChapterIntroIcon:::left': 0rem,
  ),
));

@include add_settings((
  ExploringManagerialCareers: (
    _selectors: (".exploring-manager-careers"),
    'Body:::border-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-top-color': (_ref: "colorMap:::noteOption4TitleTopBorderColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-right-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::border-left-color': (_ref: "colorMap:::noteOption4BorderColor"),
    'Title:::background-color': (_ref: "colorMap:::noteOption4HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption4HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption4BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ConceptCheck: (
    _selectors: (".concept-check"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-check.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  EthicsInPractice: (
    _selectors: (".ethics-in-practice"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-road.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagingChange: (
    _selectors: (".managing-change"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managing.svg")) no-repeat top right,
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  CatchingEntrepreneurialSpirit: (
    _selectors: (".catching-spirit"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-grouplight.svg")) no-repeat top right,
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
  SustainabilityAndResponsibleManagement: (
    _selectors: (".sustainability-responsible"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-sustainability.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  ManagerialLeadership: (
    _selectors: (".managerial-leadership"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-leadership.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 10rem,
    'TitleIcon:::width': 13rem,
    'TitleIcon:::bottom': -1.8rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
));

@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-manage-skills-container', '.os-eoc.os-manage-exercises-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-eoc.os-manage-skills-container', '.os-eoc.os-manage-exercises-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('Toc', 'cardboard:::NoUnitToc');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('ReferencesCiteLink', 'cardboard:::ReferencesCiteLinkShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape'); // Used in eoc exercises

// Chapter Intro
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');

//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureSplash','cardboard:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');

//Lists
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');
@include use('ListTitles', 'cardboard:::ListTitlesShape');

//Notes
@include use('ExploringManagerialCareers', 'cardboard:::BoxedNoteWithBordersSubtitleShape');
@include use('ConceptCheck', 'cardboard:::IconBoxedNoteShape');
@include use('EthicsInPractice', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagingChange', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('CatchingEntrepreneurialSpirit', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('SustainabilityAndResponsibleManagement', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('ManagerialLeadership', 'cardboard:::IconBoxedNoteWithSubtitleShape');

//Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('ChapterIntroTitlesBlue', 'cardboard:::ChapterIntroTitlesShape');
@include cardboard.page-titles();
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');
$composite-pages: (
  '.os-glossary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg"),
  '.os-chapter-review-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg"),
  '.os-section-summary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg"),
  '.os-critical-thinking-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg"),
  '.os-manage-skills-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managegroup.svg"),
  '.os-manage-exercises-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managedecisions.svg"),
);
@each $class, $svg in $composite-pages {
  @include cardboard.eoc-composite-page-titles($class, $svg);
}

//EoC
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

//EOB
@include use('ReferencesWithNumberedNotes', 'cardboard:::ReferencesWithNumberedNotesShape');
@include use('Index', 'cardboard:::IndexShape');

//Tables
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');
@include use('TableAfterExercisePara', 'cardboard:::TableTopSpacingShape');

