
@import '_eoc-spaces.scss';
@import 'templates/generic/_typography.scss';


//font variables
//$font-summary: (_ref:"typography:::seriFont"); 

@include add_settings((
    KeyTerm:(
        _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
        termContainer:(
            font-weight: bold,
            text-indent: not_implemented(-1.75rem),
            padding-left: not_implemented(1.75rem),
        )
    ),

    KeyEquation:(
        _selectors: ("[data-type = 'chapter'] > .os-key-equations-container"),
        tableContainer:(
            padding: not_implemented(1rem),
        ) 
    ),

    SectionSummary:(
        _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
        summarytitleContainer:(
            //font-family: 'Muli',
            font-family: (_ref:'typography:::serifFont'),
            font-weight: 800,
            padding: not_implemented(1.44rem),
        )
    ),

));

@include use('KeyTerm','eocKeyTerm');
@include use('KeyEquation','eocKeyEqu');
@include use('SectionSummary','eocSummary');