@import 'learning-spaces';
@import 'templates/generic/_colors';
@import 'templates/generic/_typography';

@include add_settings((
    LearningObjective: (
        _selectors: ('[data-type=\'page\'] > [data-type=\'abstract\']'),
        title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFontMedium'),
            font-style: italic,
            font-size: not_implemented(13px),
        ),
        container: (
            margin-bottom: not_implemented(20px),
            margin-left: not_implemented(13px),
        ),
        listItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::serifFont'),
            font-style: normal,
            font-weight: normal,
            font-size: not_implemented(12px),
            padding-bottom: not_implemented(3px),
        ),
        listDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            content: "\"\2022\"",
            width: not_implemented(1em),
            margin-left: not_implemented(-1em),
        ),
    ),
));

@include use('LearningObjective', 'LearningObjectiveSpace');