@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'Subtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  ChapterIntro: (
    _selectors: (".introduction"),
    'Outline:::background-color': (_ref: "colorMap:::physicsHeaderColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  AnswerKey: (
    _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'ExerciseTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Appendix: (
    _selectors: (".appendix"),
    'SubTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));
@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'composite-chapter'] > .os-glossary-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  SummaryWithSectionLinks: (
    _selectors: ("[data-type = 'composite-chapter'] > .os-key-concepts-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  KeyEquation:(
      _selectors: ("[data-type = 'composite-chapter'] > .os-key-equations-container"),
      'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ChapterReviewCompositeChapter:(
    _selectors: (".os-chapter-review-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ConceptualQuestionsCompChapPage:(
    _selectors: (".os-review-conceptual-questions-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ProblemsCompChapPageWithTwoColumns:(
    _selectors: (".os-review-problems-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  AdditionalProblems:(
    _selectors: (".os-review-additional-problems-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ChallengeProblems:(
    _selectors: (".os-review-challenge-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));
//notes
@include add_settings((
  CheckYourUnderstandingNote:(
    _selectors: (".check-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'TitleText:::max-width': h-grid(15),
    'NoteNumber:::margin-left':h-grid(3),
  ),
  LinkToLearningNote:(
    _selectors: (".media-2"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
    'TitleText:::max-width': h-grid(10),
  ),
  LearningObjectiveAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'AbstractTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ProblemSolving:(
    _selectors: (".problem-solving"),
    group-border-color: (_ref: 'colorMap:::problemSolvingColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::problemSolvingColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-problemsolving.svg")) no-repeat top left,
  ),
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'ParagraphSubtitle:::font-family': (_ref: "typography:::sansFont"),
    'ParagraphSubtitle:::font-size': font-scale(1),
    'ParagraphSubtitle:::line-height': line-height(1),
    'ParagraphSubtitle:::font-weight': bold,
    'ParagraphSubtitle:::text-transform': uppercase,
    'ParagraphSubtitle:::display': inline-block,
    'ParagraphSubtitle:::padding-right': h-grid(1),
    'FirstTitle:::font-family':(_ref: "typography:::sansFont"),
    'FirstTitle:::font-size': font-scale(1),
    'FirstTitle:::line-height': line-height(1),
    'FirstTitle:::font-weight': bold,
    'FirstTitle:::display': block,
    'FirstTitle:::margin-bottom': .2rem,
    'FirstTitle:::text-transform': capitalize,
  ),
  EquationCallOutNote:(
    _selectors: ('[data-type="note"].equation-callout'),
    'CondensedContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'CondensedContainer:::margin-bottom': v-grid(1),
  ),
));

//@use
@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Index', 'carnival:::IndexShape');
@include use('Term', 'carnival:::Term');
@include use('Link', 'carnival:::Link');
@include use('Preface','carnival:::Preface');
@include use('EquationCallOutNote', 'carnival:::BoxCondensedEquationShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ProblemSolving', 'carnival:::IconNoteShape');
@include use('FigureContainer', 'carnival:::Figure');
@include use('LearningObjectiveAbstract', 'carnival:::LearningObjectiveAbstractShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('SummaryWithSectionLinks','carnival:::EocSummaryWithSectionLink');
@include use('KeyEquation','carnival:::EocKeyEqu');
@include use('ChapterReviewCompositeChapter','carnival:::EocCompositeChapter');
@include use('ConceptualQuestionsCompChapPage','carnival:::EocCompChapExercises');
@include use('ProblemsCompChapPageWithTwoColumns','carnival:::EocCompChapExercises');
@include use('AdditionalProblems','carnival:::EocCompChapExercises');
@include use('ChallengeProblems','carnival:::EocCompChapExercises');


[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

.os-eoc.os-chapter-review-container {
  page: eoc;
  prince-page-group: start;
}

.appendix {
  page: appendix;
  prince-page-group: start;
}

.os-eob.os-index-container {
  page: eob;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

.appendix {
  page: appendix;
}

.os-eob {
  page: eob;
}

$bandColor: settings('scheme:::B7');
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setPageBorder($page-type, $type, $side) {
  @page #{$page-type}:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setPageBorder("eoc", "left", "left") {
  @include band("left");
}

@include setPageBorder("eoc", "right", "right") {
  @include band("right");
}

@include setPageBorder("eoc", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eoc", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "left", "left") {
  @include band("left");
}

@include setPageBorder("appendix", "right", "right") {
  @include band("right");
}

@include setPageBorder("appendix", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "left", "left") {
  @include band("left");
}

@include setPageBorder("eob", "right", "right") {
  @include band("right");
}

@include setPageBorder("eob", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "blank", "right") {
  content: none;
  border: none;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}

@page chapter:nth(2) {
  margin-right: 2in;
}
