$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import 'design-settings/carnival/design';
@import 'design-settings/carnival/settings';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
));

@include add_settings((
  LearningObjectivesAbstract: (
      _selectors: ('[data-type="page"] > [data-type="abstract"]'),
      'H3ObjectivesTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
      'ListDot:::color': (_ref: "colorMap:::physicsHeaderColor"),
    ),
));

@include add_settings((
  ConceptualQuestionsCompChapPage:(
    _selectors: (".os-review-conceptual-questions-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  ProblemsCompChapPage:(
    _selectors: (".os-review-problems-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  AdditionalProblemsCompChapPage:(
    _selectors: (".os-review-additional-problems-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  ChallengeProblemsCompChapPage:(
    _selectors: (".os-review-challenge-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

// Notes
@include add_settings((
  CheckYourUnderstandingNote:(
    _selectors: (".check-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'NoteNumber:::margin-left': h-spacing(1),
  ),
  LinkToLearningNote:(
    _selectors: (".media-2"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ProblemSolving:(
    _selectors: (".problem-solving"),
    group-border-color: (_ref: 'colorMap:::problemSolvingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::problemSolvingColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-problemsolving.svg")) no-repeat top left,
  ),
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  EquationCallOutNote:(
    _selectors: ('[data-type="note"].equation-callout'),
    'CondensedContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'CondensedContainer:::margin-bottom': v-spacing(1),
    'BoxedCondensedNoteEquationNumber:::font-family': (_ref: "typography:::titleOption1Font"),
    'BoxedCondensedNoteEquationNumber:::color': (_ref: 'colorMap:::equationNumberColor'),
  ),
));
//tables
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.top-titled'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EocCompositeChapterTitles: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.preface', '.os-glossary-container', '.os-key-concepts-container',
                 '.os-review-conceptual-questions-container', '.os-review-problems-container',
                 '.os-review-additional-problems-container', '.os-review-challenge-container'),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-key-equations-container', '.os-review-additional-problems-container', '.os-review-challenge-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Book specific styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('LearningObjectivesAbstract', 'carnival:::LearningObjectivesShape');
@include use('Example', 'carnival:::ExampleShape');
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Chapter Intro
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

// Equations
@include use('EquationCallOutNote', 'carnival:::BoxCondensedEquationShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');

// Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','carnival:::FigureFromExercisesShape');

// Notes
@include use('ProblemSolving', 'carnival:::IconNoteShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');

// EOC
@include use('KeyTerms', 'carnival:::KeyTermsShape');
@include use('KeyEquations','carnival:::ModuleWithUnstyledTableShape');

// EoC Exercises
@include use('ConceptualQuestionsCompChapPage','carnival:::ExercisesModuleShape');
@include use('ProblemsCompChapPage','carnival:::ExercisesModuleShape');
@include use('AdditionalProblemsCompChapPage','carnival:::ExercisesModuleShape');
@include use('ChallengeProblemsCompChapPage','carnival:::ExercisesModuleShape');

// Tables
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositeChapterTitles', 'carnival:::EocCompositeChapterTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('UnitTitle', 'common:::Hidden');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use('ExerciseCompositePageLists', 'carnival:::ExerciseCompositePageListsShape');
@include use('TableLists', 'carnival:::TableListShape');
@include use("ExercisesSolutionLists", "carnival:::ExercisesListsShape");

// EOB
@include use('Index', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');

// Book Specific Override
// https://github.com/openstax/cnx-recipes/issues/3958
.os-eoc {
  > section > [data-type="exercise"] {
    page-break-inside: inherit;
  }
}
