@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Preface: (
    _selectors: (".preface"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H5Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::physicsIntroColor"),
    'Outline:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
    'OutlineTitleBottomBorder:::border-bottom-color': (_ref: "colorMap:::physicsIntroColor"),
  ),
  AnswerKey: (
    _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
    'H2Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H2Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));
@include add_settings((
  GenericEOC:(
    _selectors: (".os-eoc"),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::serifFont'),
    'H2Title:::column-span': all,
    'H2Title:::text-transform': uppercase,
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::serifFont'),
    'H3LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H3ListTitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'H3ListTitle:::font-family': (_ref: "typography:::baseFont"),
    'H4Title:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H4LinkTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  KeyTerm:(
    _selectors: ("[data-type = 'composite-chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'composite-chapter'] > .os-key-concepts-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocKeyEquations:(
    _selectors: ("[data-type = 'composite-chapter'] > .os-key-equations-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'TableData:::padding': table-v-spacing(1) table-h-spacing(1),
    'TableHeadCell:::padding': table-v-spacing(1) table-h-spacing(1),
  ),
  ChapterReviewCompositeChapter:(
    _selectors: (".os-chapter-review-container"),
    'H2Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::serifFont'),
    'H3Title:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::serifFont'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
  ),
  ConceptualQuestionsCompChapPage:(
    _selectors: (".os-review-conceptual-questions-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Section--MarginBottom:::margin-bottom': column-v-spacing(1),
  ),
  ProblemsCompChapPage:(
    _selectors: (".os-review-problems-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Section--MarginBottom:::margin-bottom': column-v-spacing(1),
  ),
  AdditionalProblemsCompChapPage:(
    _selectors: (".os-review-additional-problems-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  ChallengeProblemsCompChapPage:(
    _selectors: (".os-review-challenge-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Section--MarginBottom:::margin-bottom': 0,
  ),
));
//notes
@include add_settings((
  CheckYourUnderstandingNote:(
    _selectors: (".check-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'NoteNumber:::margin-left':h-spacing(3),
  ),
  LinkToLearningNote:(
    _selectors: (".media-2"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  LearningObjectiveAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'AbstractTitle:::color': (_ref: 'colorMap:::physicsHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ProblemSolving:(
    _selectors: (".problem-solving"),
    group-border-color: (_ref: 'colorMap:::problemSolvingColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::problemSolvingColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-problemsolving.svg")) no-repeat top left,
  ),
  DefaultNoClassNote:(
    _selectors:('[data-type="note"]:not([class])'),
    group-border-color: (_ref: 'colorMap:::physicsDefaultNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::physicsDefaultNoteColor'),
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'ParagraphSubtitle:::font-family': (_ref: "typography:::sansFont"),
    'ParagraphSubtitle:::font-weight': bold,
    'ParagraphSubtitle:::display': inline-block,
    'ParagraphSubtitle:::padding-right': h-spacing(1),
    'FirstTitle:::font-family':(_ref: "typography:::sansFont"),
    'FirstTitle:::display': block,
    'FirstTitle:::margin-bottom': .2rem,
  ),
  EquationCallOutNote:(
    _selectors: ('[data-type="note"].equation-callout'),
    'CondensedContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'CondensedContainer:::margin-bottom': v-spacing(1),
  ),
));
//tables
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table'),
    'TableTitle:::color': (_ref: "colorMap:::physicsTableColor"),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::physicsTableColor"),
  ),
));
//@use
@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Index', 'carnival:::IndexShape');
@include use('Term', 'carnival:::Term');
@include use('Link', 'carnival:::Link');
@include use('Preface','carnival:::Preface');
@include use('EquationCallOutNote', 'carnival:::BoxCondensedEquationShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ProblemSolving', 'carnival:::IconNoteShape');
@include use('FigureContainer', 'carnival:::Figure');
@include use('LearningObjectiveAbstract', 'carnival:::LearningObjectiveAbstractShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('DefaultNoClassNote', 'carnival:::BoxedNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('ContentExercises','carnival:::ExerciseShape');

// EOC 
@include use('GenericEOC','carnival:::GenericEOCShape');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocSummary','carnival:::EocSummary');
@include use('EocKeyEquations','carnival:::EocKeyEquations');
@include use('ChapterReviewCompositeChapter','carnival:::EOCDefaultCompoundComposite');
@include use('ConceptualQuestionsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('ProblemsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('AdditionalProblemsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('ChallengeProblemsCompChapPage','carnival:::EOCAssesmentsShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape'); 

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

.os-eoc.os-chapter-review-container {
  page: eoc;
  prince-page-group: start;
}

.appendix {
  page: appendix;
  prince-page-group: start;
}

.os-eob.os-index-container {
  page: eob;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

.appendix {
  page: appendix;
}

.os-eob {
  page: eob;
}

$bandColor: settings('scheme:::B5');
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setPageBorder($page-type, $type, $side) {
  @page #{$page-type}:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setPageBorder("eoc", "left", "left") {
  @include band("left");
}

@include setPageBorder("eoc", "right", "right") {
  @include band("right");
}

@include setPageBorder("eoc", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eoc", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "left", "left") {
  @include band("left");
}

@include setPageBorder("appendix", "right", "right") {
  @include band("right");
}

@include setPageBorder("appendix", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "left", "left") {
  @include band("left");
}

@include setPageBorder("eob", "right", "right") {
  @include band("right");
}

@include setPageBorder("eob", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "blank", "right") {
  content: none;
  border: none;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}