@import 'framework/framework';
@import 'templates/template1/design';
@import 'templates/template1/settings';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));
@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'Subtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));
@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

//notes
@include add_settings((
  EquationCallOutNote:(
    _selectors: (".equation-callout"),
    'BoxCondensedEquationContainer:::background': (_ref: 'colorMap:::equationCallOutColor'),
    'BoxCondensedEquationContainer:::padding-top': v-grid(.5),
    'BoxCondensedEquationContainer:::padding-bottom': v-grid(.5),
    'EquationContainer:::position': relative,
    'EquationContainer:::flex-direction': row, 
    'EquationNumber:::border-style': none,
  ),
));

//@use
@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Index', 'carnival:::IndexShape');
@include use('Term', 'carnival:::Term');
@include use('Link', 'carnival:::Link');
@include use('Preface','carnival:::Preface');
@include use('EquationCallOutNote','carnival:::BoxCondensedEquationShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');

