$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: side;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';



@include use('BookRoot', "common:::BookRoot");

// Book specific styles



// Equations


// Chapter Intro


//Figures



//EOC


// EoC Exercises


// Tables


//Notes


//Titles


//Lists


// EOB

