$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: side;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';



@include use('BookRoot', "common:::BookRoot");

// TOC
@include add_settings((
    TOC: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::neuroscienceHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::neuroscienceHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::neuroscienceHeaderColor'),
    ),
));

// Note
@include add_settings((
  MeetTheAuthorNote:(
    _selectors: (".meet-author"),
    group-border-color: (_ref: 'colorMap:::meetTheAuthorColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::meetTheAuthorColor'),
  ),
));


// Book specific styles

// TOC
@include use('TOC', 'carnival:::NoUnitToc');


// Equations


// Chapter Intro


//Figures



//EOC


// EoC Exercises


// Tables


//Notes
@include use('MeetTheAuthorNote', 'carnival:::BoxedNoteShape');

//Titles


//Lists


// EOB

