@include add_settings ((
  scheme: (
    BR1:    #8B693A,  
    R1:     #C31427,
    R2:     #8B1504,
    R3:     #FFE5E5,
    R4:     #501616,
    Y1:     #DCB83D,
    Y2:     #FFF7E5,
    Grey2:  #757474,
    G1:     #1E9575,
    G2:     #F0F8F1,
    G3:     #78B042,  
    G4:     #0F4839,
    B1:     #38568A,
    B2:     #0074BC,
    B3:     #00819A,
    B4:     #EFF3FA,
    B7:     #027EB5,
    black:  #000000,
    white:  #FFFFFF,
  ),
  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    linkColor: (_ref: "scheme:::B7"),
    tableTextColor: (_ref: "scheme:::black"),
    tableCellBorderColor: (_ref: "scheme:::black"),
    tableBottomStrokeColor: (_ref: "scheme:::R2"),
    tableBackgroundColor: (_ref: "scheme:::white"),
    tocTitleColor: (_ref: "scheme:::R1"),
    titleColor: (_ref: "scheme:::R1"),
    chapterTitleTextColor: (_ref: "scheme:::white"),
    chapterTitleNumberColor: (_ref: "scheme:::R1"),
    chapterIntroCaptionNumberColor: (_ref: "scheme:::Y1"),
    chapterIntrocaptionTextColor: (_ref: "scheme:::white"),
    chapterOutlineTitleColor: (_ref: "scheme:::BR1"),
    chapterObjectivesTitleColor: (_ref: "scheme:::BR1"),
    chapterObjectiveLinkColor: (_ref: "scheme:::black"),
    chapterOutlineObjectiveTextColor: (_ref: "scheme:::black"),
    introContentHeaderColor: (_ref: "scheme:::BR1"),
    introContentHeaderColorEconomics: (_ref: "scheme:::R1"),
    chapterSplashFigureWrapperBgColor: (_ref: "scheme:::black"),
    captionNumberColor: (_ref: "scheme:::R2"),
    captionTextColor: (_ref: "scheme:::black"),
    iconnedNoteBorderColorBlue: (_ref: "scheme:::B2"),
    iconnedNoteBorderColorBlue2: (_ref: "scheme:::B3"),
    iconnedNoteBorderColorGreen: (_ref: "scheme:::G1"),
    iconnedNoteBorderColorBrown: (_ref: "scheme:::BR1"),
    boxedNoteTitleColor: (_ref: "scheme:::white"),
    boxedNoteTitleBorderColor: (_ref: "scheme:::white"),
    boxedNoteTitleBackgroundOption1Color: (_ref: "scheme:::B1"),
    boxedNoteBodyBackgroundOption1Color: (_ref: "scheme:::B4"),
    boxedNoteTitleBackgroundOption2Color: (_ref: "scheme:::R1"),
    boxedNoteBodyBackgroundOption2Color: (_ref: "scheme:::R3"),
    boxedNoteTitleBackgroundOption3Color: (_ref: "scheme:::G4"),
    boxedNoteBodyBackgroundOption3Color: (_ref: "scheme:::G2"),
    boxedNoteTitleBackgroundOption4Color: (_ref: "scheme:::BR1"),
    boxedNoteBodyBackgroundOption4Color: (_ref: "scheme:::Y2"),
    learningObjectivesTitleColor: (_ref: "scheme:::BR1"),
    linkToLearningBottomBorderColor: (_ref: "scheme:::G3"),
    captionNumberColorPlPsychology: (_ref: "scheme:::R4"),
  ),
));
