@include add_settings ((
  scheme: (
    BR1:    #8B693A,  
    R1:     #C31427,
    R2:     #8B1504,
    R3:     #FFE5E5,
    R4:     #CB3E3E,
    R5:     #501616,
    Y1:     #DCB83D,
    Y2:     #FFF7E5,
    Y3:     #FFCC00,
    Grey2:  #757474,
    Grey3:  #969696,
    G1:     #1E9575,
    G2:     #F0F8F1,
    G3:     #78B042,  
    G4:     #0F4839,
    G5:     #00627b,
    B1:     #38568A,
    B2:     #0074BC,
    B3:     #00819A,
    B4:     #EFF3FA,
    B7:     #027EB5,
    black:  #000000,
    white:  #FFFFFF,
  ),
  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    linkColor: (_ref: "scheme:::B7"),
    tableTextColor: (_ref: "scheme:::black"),
    tableCellBorderColor: (_ref: "scheme:::black"),
    tableBottomStrokeColor: (_ref: "scheme:::R2"),
    tableBottomStrokePlPsychologyColor: (_ref: "scheme:::R5"),
    tableBackgroundColor: (_ref: "scheme:::white"),
    tocTitleColor: (_ref: "scheme:::R1"),
    tocTitlePlPsychologyColor: (_ref: "scheme:::R4"),
    titleColor: (_ref: "scheme:::R1"),
    titlePlPsychologyColor: (_ref: "scheme:::R4"),
    chapterTitleTextColor: (_ref: "scheme:::white"),
    chapterTitleNumberColor: (_ref: "scheme:::R1"),
    chapterTitleNumberBgColor: (_ref: "scheme:::black"),
    chapterIntroCaptionNumberColor: (_ref: "scheme:::Y1"),
    chapterIntrocaptionTextColor: (_ref: "scheme:::white"),
    chapterOutlineTitleColor: (_ref: "scheme:::BR1"),
    chapterObjectivesTitleColor: (_ref: "scheme:::BR1"),
    chapterObjectiveLinkColor: (_ref: "scheme:::black"),
    chapterOutlineObjectiveTextColor: (_ref: "scheme:::black"),
    introContentHeaderColor: (_ref: "scheme:::BR1"),
    introContentHeaderColorEconomics: (_ref: "scheme:::R1"),
    chapterSplashFigureWrapperBgColor: (_ref: "scheme:::black"),
    captionNumberColor: (_ref: "scheme:::R2"),
    captionNumberPlPsychologyColor: (_ref: "scheme:::R5"),
    captionTextColor: (_ref: "scheme:::black"),
    iconnedNoteBorderColorBlue: (_ref: "scheme:::B2"),
    iconnedNoteBorderColorBlue2: (_ref: "scheme:::B3"),
    iconnedNoteBorderColorGreen: (_ref: "scheme:::G1"),
    iconnedNoteBorderColorBrown: (_ref: "scheme:::BR1"),
    iconnedNoteBorderColorGreen2: (_ref: "scheme:::G3"), // Used in pl-psychology Link to learning note
    iconnedNoteBorderColorRed: (_ref: "scheme:::R1"),
    boxedNoteTitleColor: (_ref: "scheme:::white"),
    boxedNoteTitleBorderColor: (_ref: "scheme:::white"),
    boxedNoteTitleBackgroundOption1Color: (_ref: "scheme:::B1"),
    boxedNoteBodyBackgroundOption1Color: (_ref: "scheme:::B4"),
    boxedNoteTitleBackgroundOption2Color: (_ref: "scheme:::R1"),
    boxedNoteBodyBackgroundOption2Color: (_ref: "scheme:::R3"),
    boxedNoteTitleBackgroundOption3Color: (_ref: "scheme:::G4"),
    boxedNoteBodyBackgroundOption3Color: (_ref: "scheme:::G2"),
    boxedNoteTitleBackgroundOption4Color: (_ref: "scheme:::BR1"),
    boxedNoteBodyBackgroundOption4Color: (_ref: "scheme:::Y2"),
    learningObjectivesTitleColor: (_ref: "scheme:::BR1"),
    linkToLearningBottomBorderColor: (_ref: "scheme:::G3"),
    trailBlazerModuleColor: (_ref: "scheme:::Y1"),
    AnnotationTextColor: (_ref: "scheme:::B2"),
    videoBottomBorderColor: (_ref: "scheme:::G1"),
    podcastBottomBorderColor: (_ref: "scheme:::B2"),
    chapterOutlineTitleColorPlPsychology: (_ref: "scheme:::G5"),
    introContentHeaderColorPlPsychology: (_ref: "scheme:::G5"),
    chapterSplashFigureWrapperBgColorPlPsychology: (_ref: "scheme:::Grey3"),
    chapterIntroCaptionNumberColorPlPsychology: (_ref: "scheme:::Y3"),
    chapterTitleNumberColorPlPsychology: (_ref: "scheme:::Y3"),
    chapterTitleNumberBgColorPlPsychology: (_ref: "scheme:::Grey3"),
    captionNumberColorPlPsychology: (_ref: "scheme:::R5"),
    poliSciR1Replacement: (_ref: "scheme:::B2"),
    captionLabelColorPoliSci: (_ref: "scheme:::B1"),
    punctuationEmphasisHighlightColor: (_ref: "scheme:::Y2"),
  ),
));
