@include add_settings ((
  scheme: (
    R1:     #C31427,
    black:  #000000,
    white:  #FFFFFF,
  ),
  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    titleColor: (_ref: "scheme:::R1"),
  ),
));
