@import 'designs/common/pdf/typography';
@import 'designs/common/pdf/page-breaks';
@import 'designs/common/reset'; //must be before common-styles
@import 'designs/common/pdf/functions';
@import 'designs/common/pdf/grid';
@import 'designs/common/pdf/common-styles';
@import 'designs/common/pdf/_common-shapes';
@import 'designs/common/pdf/bleed';
@import 'designs/common/pdf/bands';
@import 'designs/common/pdf/page';
@import 'designs/common/pdf/footnotes-shapes';


@import 'designs/cosmos/parts/titles-shapes';
@import 'designs/cosmos/parts/lists-shapes';
@import 'designs/cosmos/parts/chapterintro-shapes';
@import 'designs/cosmos/parts/toc-shapes';
@import 'designs/cosmos/parts/titles-shapes';
@import 'designs/cosmos/parts/lists-shapes';
@import 'designs/cosmos/parts/figureimage-shapes';
@import 'designs/cosmos/parts/notes/notes-iconned-shapes';
@import 'designs/cosmos/parts/notes/notes-boxed-shapes';
@import 'designs/cosmos/parts/exercises-shapes';
@import 'designs/cosmos/parts/link-shapes';
@import 'designs/cosmos/parts/index-shapes';
@import 'designs/cosmos/parts/learning-shapes';
@import 'designs/cosmos/parts/titles-shapes';
@import 'designs/cosmos/parts/references-shapes';
@import 'designs/cosmos/parts/table-shapes';
@import 'designs/cosmos/parts/lists-shapes';
@import 'designs/cosmos/parts/chapterintro-shapes';
@import 'designs/cosmos/parts/toc-shapes';
@import 'designs/cosmos/parts/figureimage-shapes';
@import 'designs/cosmos/parts/notes/notes-iconned-shapes';
@import 'designs/cosmos/parts/notes/notes-boxed-shapes';
@import 'designs/cosmos/parts/notes/notes-conndensed-icon-shapes';
@import 'designs/cosmos/parts/exercises-shapes';
@import 'designs/cosmos/parts/link-shapes';
@import 'designs/cosmos/parts/index-shapes';
@import 'designs/cosmos/parts/eoc-shapes';
@import 'designs/cosmos/parts/blockquote-shapes';
@import 'designs/cosmos/parts/answerkey-shapes';
@import 'designs/cosmos/parts/equation-shapes';
@import 'designs/cosmos/parts/appendixglossary-shapes';
