//global template settings
@import "colors";
@import "typography";

// Template parts
@import 'design-settings/cosmos/parts/toc-settings';
@import 'design-settings/cosmos/parts/_titles-settings';
@import 'design-settings/cosmos/parts/_lists-settings';
@import 'design-settings/cosmos/parts/_figureimage-settings';
@import 'design-settings/cosmos/parts/_index-settings';
@import 'design-settings/cosmos/parts/_link-settings';
@import 'design-settings/cosmos/parts/_unit-settings';

@include add_settings((
  //use these as defaults for the book
  BookRoot: (
    _selectors: (":root"),
    BookRoot: (
      font-family: (_ref: 'typography:::baseFont'), //book default font
      font-size: (_ref: 'typography:::baseFontSize'), //base font size
      line-height: (_ref: 'typography:::baseLineHeight'), //base font height
      color: (_ref: "colorMap:::fontBodyColor"),
      prince-image-resolution: "auto, 200dpi",
      prince-background-image-resolution: 200dpi
    ),
  ),
));
