//global template settings
@import "colors";
@import "typography";

// Template parts
@import 'design-settings/cosmos/parts/table-settings.scss';
@import 'design-settings/cosmos/parts/references-settings.scss';
@import 'design-settings/cosmos/parts/toc-settings';
@import 'design-settings/cosmos/parts/titles-settings';
@import 'design-settings/cosmos/parts/lists-settings';
@import 'design-settings/cosmos/parts/chapterintro-settings';
@import 'design-settings/cosmos/parts/figureimage-settings';
@import 'design-settings/cosmos/parts/index-settings';
@import 'design-settings/cosmos/parts/link-settings';
@import 'design-settings/cosmos/parts/learning-settings';
@import 'design-settings/cosmos/parts/unit-settings';
@import 'design-settings/cosmos/parts/eoc-settings';
@import 'design-settings/cosmos/parts/answerkey-settings';
@import 'design-settings/cosmos/parts/blockquote-settings';
@import 'design-settings/cosmos/parts/footnotes-settings';
@import 'design-settings/cosmos/parts/equation-settings';
@import 'design-settings/cosmos/parts/appendixglossary-settings';
@import 'design-settings/cosmos/parts/annotation-settings';
@import 'design-settings/cosmos/parts/handbookOutline-settings';
@import 'design-settings/cosmos/parts/unitopener-settings';
@import 'design-settings/cosmos/parts/punctuationEmphasis-settings';
@import 'design-settings/cosmos/parts/underline-settings';
@import 'design-settings/cosmos/parts/module-settings';
@import 'design-settings/cosmos/parts/_section-workscited-settings';
@import 'design-settings/cosmos/parts/_hanbook-module-with-indentation-settings';
@import 'design-settings/cosmos/parts/screenreader-settings';


@include add_settings((
  //use these as defaults for the book
  BookRoot: (
    _selectors: (":root"),
    BookRoot: (
      font-family: (_ref: 'typography:::baseFont'), //book default font
      font-size: (_ref: 'typography:::baseFontSize'), //base font size
      line-height: (_ref: 'typography:::baseLineHeight'), //base font height
      color: (_ref: "colorMap:::fontBodyColor"),
      prince-image-resolution: "auto, 200dpi",
      prince-background-image-resolution: 200dpi
    ),
  ),
));
