//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap&subset=latin,latin-ext');

/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
    typography: (
        baseFont: ('IBM Plex Serif', serif, StixGeneral),
        titleOption1Font: ('Archivo', sans-serif, StixGeneral),
        titleOption2Font: ('IBM Plex Sans', sans-serif, StixGeneral),
        titleOption3Font: ('Archivo Black', sans-serif, StixGeneral),
        mathFont: (StixGeneral),
        baseFontSize: 12px,
        baseLineHeight: 1.5rem,
    )
)); 