$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #772949;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';

@include add_settings((
  TableOfContents: (
    _selectors: ('nav#toc'),
    'ContentsTitle:::font-family': (_ref: 'typography:::titleFontAstronomy'),
    'ContentsTitle:::color': (_ref: 'colorMap:::tocTitleColorAstronomy'),
    'ContentsTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-toc1.svg")) no-repeat top left, // todo: switch icon to toc1
    'TopLevelLink:::font-family': (_ref: 'typography:::baseFont'),
    'TopLevelLink:::color': (_ref: 'colorMap:::tocLinkColorAstronomy'),
    'Number:::border-color': (_ref: 'colorMap:::tocNumberBorderColorAstronomy'),
    'ChapterOddItem:::background-color': (_ref: 'colorMap:::tocBackgroundColor'),
    'MiddleLevelList:::border-left-color': (_ref: 'colorMap:::tocModuleBorderColor'),
    'MiddleLevelLink:::color': (_ref: 'colorMap:::fontBodyColor'),
  )
));

@include add_settings((
  SummaryTitles: (
    _selectors: ('.os-summary-container'),
    'H2WithIcon:::color': (_ref: 'colorMap:::titleColorAstronomy'),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFontAstronomy'),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary2.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
  )
));

//Settings
@include use('BookRoot', "common:::BookRoot");
@include use('TableOfContents', 'cardboard:::NoUnitToc');
@include use('Link', 'cardboard:::LinkShape');

// Titles
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');