$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #772949;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';

//Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::astronomyChapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro1.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::astronomyIntroContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::astronomyChapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::astronomyChapterTitleBorderColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::astronomyChapterTitleColor'),
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::astronomyChapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introtelescope.svg")) no-repeat top left,
    'H1ChapterIntroIcon:::bottom': -1.8rem,
    'H1ChapterIntroIcon:::left': 0rem,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');

//Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
