@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction > .section-opener"),
    'Outline:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor")
  ),
));

@include add_settings((
  TOC: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'Subtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  LearningObjectiveNote: (
    _selectors: ('[data-type="note"].learning-objectives'),
    'Title:::color': (_ref: "colorMap:::physicsLearningObjColor"),
    'LearningObjectiveParagraph:::color': (_ref: "colorMap:::physicsLearningObjColor"),
    'ListDot:::color': (_ref: "colorMap:::physicsLearningObjColor"),
  ),
));

@include add_settings((
  VirtualPhysicsNote:(
    _selectors:(".virtual-physics"),
    group-border-color: (_ref: 'colorMap:::virtualPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::virtualPhysicsColor'),
  ),
  SnapLabNote:(
    _selectors:(".snap-lab"),
    group-border-color: (_ref: 'colorMap:::snapLabColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::snapLabColor'),
  ),
  WatchPhysicsNote:(
    _selectors: (".watch-physics"),
    group-border-color: (_ref: 'colorMap:::watchPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::watchPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  LinksToPhysicsNote:(
    _selectors: (".links-to-physics"),
    group-border-color: (_ref: 'colorMap:::linksToPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::linksToPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  BoundlessPhysicsNote:(
    _selectors: (".boundless-physics"),
    group-border-color: (_ref: 'colorMap:::boundlessPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::boundlessPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-boundlessphysics.svg")) no-repeat top left,
  ),
  FunInPhysicsNote:(
    _selectors: (".fun-in-physics"),
    group-border-color: (_ref: 'colorMap:::funInPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::funInPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-funphysics.svg")) no-repeat top left,
  ),
  WorkInPhysicsNote:(
    _selectors: (".work-in-physics"),
    group-border-color: (_ref: 'colorMap:::workInPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::workInPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('TOC', 'carnival:::NoUnitToc');
@include use('TeacherMaterial', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('Preface','carnival:::Preface');
@include use('FigureContainer','carnival:::Figure');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('LearningObjectiveNote', 'carnival:::LearningObjectiveNoteShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');
@include use('IFrame', 'common:::Hidden');
@include use('VirtualPhysicsNote', 'carnival:::BoxedNoteShape');
@include use('SnapLabNote', 'carnival:::BoxedNoteShape');
@include use('WatchPhysicsNote','carnival:::IconNoteShape');
@include use('LinksToPhysicsNote','carnival:::IconNoteShape');
@include use('BoundlessPhysicsNote','carnival:::IconNoteShape');
@include use('FunInPhysicsNote','carnival:::IconNoteShape');
@include use('WorkInPhysicsNote','carnival:::IconNoteShape');

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}
