@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'Outline:::background-color': (_ref: "colorMap:::physicsIntroColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::physicsIntroColor")
  ),
));

@include add_settings((
  TOC: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::physicsTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::physicsTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::physicsTocColor'),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'Subtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubtitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  LearningObjectiveNote: (
    _selectors: ('[data-type="note"].learning-objectives'),
    'Title:::color': (_ref: "colorMap:::physicsLearningObjColor"),
    'LearningObjectiveParagraph:::color': (_ref: "colorMap:::physicsLearningObjColor"),
    'ListDot:::color': (_ref: "colorMap:::physicsLearningObjColor"),
  ),
));

@include add_settings((
  VirtualPhysicsNote:(
    _selectors:(".virtual-physics"),
    group-border-color: (_ref: 'colorMap:::virtualPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::virtualPhysicsColor'),
  ),
  SnapLabNote:(
    _selectors:(".snap-lab"),
    group-border-color: (_ref: 'colorMap:::snapLabColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::snapLabColor'),
  ),
  WatchPhysicsNote:(
    _selectors: (".watch-physics"),
    group-border-color: (_ref: 'colorMap:::watchPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::watchPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  LinksToPhysicsNote:(
    _selectors: (".links-to-physics"),
    group-border-color: (_ref: 'colorMap:::linksToPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::linksToPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  BoundlessPhysicsNote:(
    _selectors: (".boundless-physics"),
    group-border-color: (_ref: 'colorMap:::boundlessPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::boundlessPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-boundlessphysics.svg")) no-repeat top left,
  ),
  FunInPhysicsNote:(
    _selectors: (".fun-in-physics"),
    group-border-color: (_ref: 'colorMap:::funInPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::funInPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-funphysics.svg")) no-repeat top left,
  ),
  WorkInPhysicsNote:(
    _selectors: (".work-in-physics"),
    group-border-color: (_ref: 'colorMap:::workInPhysicsColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::workInPhysicsColor'),
    'TitleLabel:::max-width': 9rem,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  WorkedExampleNote:(
    _selectors: (".worked-example"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'TitleText:::display': inline-block,
    'TitleText:::word-wrap': normal,
    'TitleText:::margin-bottom': .2rem,
    'TitleText:::margin-left': h-grid(1),
    'Subtitle:::font-family': (_ref: 'typography:::baseFont'),
    'Subtitle:::font-weight': bold,
    'DivSubtitle:::font-family': (_ref: 'typography:::sansFont'),
    'DivSubtitle:::font-size': font-scale(1),
    'DivSubtitle:::line-height': line-height(1),
    'DivSubtitle:::font-weight': bold,
  ),
  TipsForSuccessNote: (
    _selectors: (".tips-for-success"),
    'CondensedContainer:::background': (_ref: 'colorMap:::tipsForSuccessColor'),
    'CondensedContainer:::padding-right': v-grid(.5),
    'CondensedContainer:::padding-left': v-grid(.5),
    'CondensedContainer:::margin-bottom': v-grid(.5),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
  ),
  GraspCheckNote: (
    _selectors: (".grasp-check"),
    'CondensedContainer:::background': (_ref: 'colorMap:::graspCheckColor'),
    'CondensedContainer:::padding-right': v-grid(.5),
    'CondensedContainer:::padding-left': v-grid(.5),
    'CondensedContainer:::margin-bottom': v-grid(.5),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  SummaryWithSectionLinks:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  KeyEquationWithSectionLinks:(
    _selectors: (".os-eoc.os-key-equations-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ChapterReviewCompositeChapter:(
    _selectors: (".os-chapter-review-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ConceptCompChapPage:(
    _selectors: (".os-concept-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  CriticalThinkingCompChapPage:(
    _selectors: (".os-critical-thinking-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ProblemsCompChapPage:(
    _selectors: (".os-problems-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  PerformanceCompChapPage:(
    _selectors: (".os-performance-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  TestPrepCompositeChapter:(
    _selectors: (".os-test-prep-container"),
    'EocHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  MultipleChoiceCompChapPage:(
    _selectors: (".os-multiple-choice-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ShortAnswerCompChapPage:(
    _selectors: (".os-short-answer-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
  ExtendedResponseCompChapPage:(
    _selectors: (".os-extended-response-container"),
    'CompChapPageHeader:::color': (_ref: 'colorMap:::physicsHeaderColor'),
  ),
));

@include add_settings((
  Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
    'SubSubTitle:::color': (_ref: "colorMap:::physicsHeaderColor"),
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: (".os-table"),
    'TableTitle:::color': (_ref: "colorMap:::hsphysicsTableColor"),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::hsphysicsTableColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('TOC', 'carnival:::NoUnitToc');
@include use('TeacherMaterial', 'common:::Hidden');
@include use('Chapter', 'carnival:::Chapter');
@include use('Module', 'carnival:::ModuleShape');
@include use('Preface','carnival:::Preface');
@include use('FigureContainer','carnival:::Figure');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('LearningObjectiveNote', 'carnival:::LearningObjectiveNoteShape');
@include use('SectionKeyTerms', 'carnival:::SectionKeyTermsShape');
@include use('NumberedEquation', 'carnival:::NumberedEquationShape');
@include use('Equation', 'carnival:::EquationShape');
@include use('PracticeProblemsExercises', 'carnival:::ExerciseShape');
@include use('CheckUnderstandingExercises', 'carnival:::ExerciseShape');
@include use('IFrame', 'common:::Hidden');
@include use('VirtualPhysicsNote', 'carnival:::BoxedNoteShape');
@include use('SnapLabNote', 'carnival:::BoxedNoteShape');
@include use('WatchPhysicsNote','carnival:::IconNoteShape');
@include use('LinksToPhysicsNote','carnival:::IconNoteShape');
@include use('BoundlessPhysicsNote','carnival:::IconNoteShape');
@include use('FunInPhysicsNote','carnival:::IconNoteShape');
@include use('WorkInPhysicsNote','carnival:::IconNoteShape');
@include use('WorkedExampleNote','carnival:::IconNoteShape');
@include use('TipsForSuccessNote','carnival:::BoxCondensedNoteShape');
@include use('GraspCheckNote','carnival:::BoxCondensedNoteShape');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('SummaryWithSectionLinks','carnival:::EocSummaryWithSectionLink');
@include use('KeyEquationWithSectionLinks','carnival:::EocKeyEquWithSectionLink');
@include use('ChapterReviewCompositeChapter','carnival:::EocCompositeChapter');
@include use('ConceptCompChapPage','carnival:::EocCompChapExercises');
@include use('CriticalThinkingCompChapPage','carnival:::EocCompChapExercises');
@include use('ProblemsCompChapPage','carnival:::EocCompChapExercises');
@include use('PerformanceCompChapPage','carnival:::EocCompChapExercises');
@include use('TestPrepCompositeChapter','carnival:::EocCompositeChapter');
@include use('MultipleChoiceCompChapPage','carnival:::EocCompChapExercises');
@include use('ShortAnswerCompChapPage','carnival:::EocCompChapExercises');
@include use('ExtendedResponseCompChapPage','carnival:::EocCompChapExercises');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Link', "carnival:::Link");
@include use('Term', 'carnival:::Term');

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}

@page chapter:nth(2) {
  margin-right: 2in;
}

.os-eoc.os-glossary-container {
  page: eoc;
  prince-page-group: start;
}

.appendix {
  page: appendix;
  prince-page-group: start;
}

.os-eob.os-index-container {
  page: eob;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

.appendix {
  page: appendix;
}

.os-eob {
  page: eob;
}

$bandColor: settings('scheme:::B5');
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setPageBorder($page-type, $type, $side) {
  @page #{$page-type}:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setPageBorder("eoc", "left", "left") {
  @include band("left");
}

@include setPageBorder("eoc", "right", "right") {
  @include band("right");
}

@include setPageBorder("eoc", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eoc", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "left", "left") {
  @include band("left");
}

@include setPageBorder("appendix", "right", "right") {
  @include band("right");
}

@include setPageBorder("appendix", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "left", "left") {
  @include band("left");
}

@include setPageBorder("eob", "right", "right") {
  @include band("right");
}

@include setPageBorder("eob", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "blank", "right") {
  content: none;
  border: none;
}