@import '../college-physics/book';


@include add_settings((
  TestPrep: (
    _selectors: ("[data-type = 'chapter'] > .os-ap-test-prep-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.os-ap-test-prep-container'),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-ap-test-prep-container'),
  ),
));

@include use('TestPrep', 'carnival:::ExercisesModuleShape');
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape');


// Book Specific Override
// https://github.com/openstax/cnx-recipes/issues/4723

.os-eoc {
  > section > [data-type="exercise"] {
    page-break-inside: inherit;
  }
}
