@use 'lib/cardboard/cardboard';
@use 'lib/cardboard/colors';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-chapter-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #9028A3;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/locale/pl/folio';

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H2ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  ),
));

@include add_settings ((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    "MediaSplashBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "MediaSplashBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

//Notes
@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-globe.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption9HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption9HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption9BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteOption9SubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  MarketingDashboard: (
  _selectors: (".marketing-dashboard"),
  'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-marketingdashboard.svg")) no-repeat top right,
  'TitleIcon:::margin-right': v-spacing(1),
  'TitleIcon:::height': 5rem,
  'TitleIcon:::width': 11rem,
  'TitleIcon:::bottom':0,
  'Title:::background-color': (_ref: "colorMap:::noteOption10HeaderBackgroundColor"),
  'Title:::color': (_ref: "colorMap:::noteOption10HeaderColor"),
  'Title:::font-family': (_ref: "typography:::titleFont"),
  'Body:::font-family': (_ref: "typography:::baseFont"),
  'Body:::background-color': (_ref: "colorMap:::noteOption10BodyBackgroundColor"),
  'Subtitle:::color': (_ref: "colorMap:::noteOption10SubtitleColor"),
  'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  MarketingPractice: (
    _selectors: (".marketing-practice"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-leadership.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 10rem,
    'TitleIcon:::width': 13rem,
    'TitleIcon:::bottom': -1.8rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption11HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption11HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption11BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteOption11SubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  CompaniesConscience: (
  _selectors: (".companies-conscience"),
  'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-conscience.svg")) no-repeat top right,
  'TitleIcon:::height': 5rem,
  'TitleIcon:::width': 11rem,
  'TitleIcon:::bottom':0,
  'Title:::background-color': (_ref: "colorMap:::noteOption12HeaderBackgroundColor"),
  'Title:::color': (_ref: "colorMap:::noteOption12HeaderColor"),
  'Title:::font-family': (_ref: "typography:::titleFont"),
  'Body:::font-family': (_ref: "typography:::baseFont"),
  'Body:::background-color': (_ref: "colorMap:::noteOption12BodyBackgroundColor"),
  'Subtitle:::color': (_ref: "colorMap:::noteOption12SubtitleColor"),
  'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  WordDocument: (
    _selectors: (".word-document"),
    "IconCondensedBody:::font-family": (_ref: "typography:::baseFont"),
    "IconCondensedBody:::color": (_ref: "colorMap:::noteSubtitleColor"),
    "IconCondensedIcon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-worddocument.svg")) no-repeat top left,
  )
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.knowledge-check', '.os-eoc.os-marketing-discussion-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-company-case-container'),
  ),
));

// Exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.knowledge-check', '.os-eoc.os-marketing-discussion-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-company-case-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
    'InjectedQuestionAnswersAnswerLetter:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

// Indexes
@include add_settings((
    IndexName: (
        _selectors: (".os-index-name-container"),
        'IndexContainer:::margin-bottom': v-spacing(2),
        'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
        'IndexGroupLabel:::color': (_ref: 'colorMap:::indexGroupLabelColor'),
        'IndexPageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexTerm: (
        _selectors: (".os-index-term-container"),
        'IndexContainer:::margin-bottom': v-spacing(2),
        'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
        'IndexGroupLabel:::color': (_ref: 'colorMap:::indexGroupLabelColor'),
        'IndexPageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexForeign: (
        _selectors: (".os-index-foreign-container"),
        'IndexContainer:::margin-bottom': v-spacing(2),
        'IndexGroup:::font-family': (_ref: 'typography:::baseFont'),
        'IndexGroupLabel:::color': (_ref: 'colorMap:::indexGroupLabelColor'),
        'IndexPageNumber:::content': target-counter(attr(href, url), page),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('UnitOpener', 'common:::UnitOpenerShape');
@include use('UnitOpenerPageTitle', 'common:::Hidden');
@include use('FootnoteNotReference', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include cardboard.learning-objectives--numbered($token-color: colors.$B4);
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape');
@include use('TocUnitWithDots', 'cardboard:::UnitWithDotsToc');
@include use('Equation', 'cardboard:::EquationShape');

// Chapter Intro
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');

// Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureSplash','cardboard:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cardboard:::FigureFromExercisesShape');

// Tables
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TableAfterExercisePara', 'cardboard:::TableTopSpacingShape');

// Titles
@include use('UnitOpenerTitles', 'cardboard:::UnitOpenerTitlesShape');
@include cardboard.page-titles();
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('ChapterIntroTitlesBlue', 'cardboard:::ChapterIntroTitlesShape');
$composite-pages: (
  '.os-chapter-summary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg"),
  '.os-glossary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg"),
  '.os-marketing-discussion-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-discussion.svg"),
  '.os-critical-thinking-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg"),
  '.os-marketing-plan-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-net.svg"),
  '.os-company-case-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg"),
  '.os-references-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-references.svg"),
);
@each $class, $svg in $composite-pages {
  @include cardboard.eoc-composite-page-titles($class, $svg);
}
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemQuestionLists', 'cardboard:::ExercisesListsShape');
@include use('ExercisesSolutionLists', 'cardboard:::ExercisesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');

// Notes
@include use('LinkToLearning', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('MarketingDashboard', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('MarketingPractice', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('CompaniesConscience', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('WordDocument', 'cardboard:::IconCondensedShape');

// Exercises
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');

// Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');
@include use('ReferencesWithAside', 'cardboard:::ReferencesWithAsideShape');

// EOB
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use("AnswerKeySolution", "cardboard:::AnswerKeySolutionShape");
@include use('IndexName', 'cardboard:::IndexShape');
@include use('IndexTerm', 'cardboard:::IndexShape');
@include use('IndexForeign', 'cardboard:::IndexShape');
