@include add_settings((
    AnswerKey: ( // Used in chemistry, u-physics, pl-u-physics
        _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
        ExerciseSolution: (
            display: table,
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        ProblemSolutionLetter: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));

@include add_settings((
    AnswerKeyInline: (
        _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
        ExerciseSolutionInlineNumber: (
            color: (_ref: 'colorMap:::fontBodyColor')
        )
    ),
));
