@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        H3AppendixGlossaryTitle: (
            //color: book specific, defined in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),

));
