@import 'design-settings/carnival/colors';
@import 'design-settings/carnival/typography';

@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        TitleNumberText: (
            padding-bottom: v-spacing(1), 
            margin-bottom: v-spacing(1),
            margin-right: h-spacing(1),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(5),
            font-weight: bold,
        ),
        TitleNumberDigit: (
            padding-bottom: v-spacing(1), 
            margin-bottom: v-spacing(1),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(5),
            font-weight: bold,
        ),
        // Applies the cross-page border
        TitleTextBorder: (
            content: "''",
            margin-bottom: v-spacing(1),
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
        ),
        TitleText: (
            display: block,
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
            font-weight: normal,
        ),
        H1Title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            text-transform: none,
        ),
        H2Title: (
            color: (_ref: 'colorMap:::carnivalAppendixColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H3Title: (
            color: (_ref: 'colorMap:::carnivalAppendixColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H4AppendixGlossaryTitle: (
            color: (_ref: 'colorMap:::carnivalAppendixColor'), //ToDo: define proper color for each book in book.scss files; done only for microbiology
            font-family: (_ref: 'typography:::titleFont'),
        ),
    ),

));
