@import 'styles/designs/carnival/parts/chapterintro-shapes';
@import 'design-settings/carnival/colors';
@import 'design-settings/carnival/typography';

@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        OutlineMargin: (
            font-family: (_ref: "typography:::sansFont"),
            font-weight: 500,
            font-size: font-scale(0),
            line-height: line-height(0),
            width: half-fullBleedsSize(2, in),
            color: (_ref: "colorMap:::chapterOutlineMarginTextColor"),
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            padding: 1.5rem 0 1.5rem 1.5rem,
            margin: 0 fullBleedsMargin(0, rem) 0 1.5rem,
        ),
        OutlineTitle: (
            overflow: visible,
            border-bottom: 1px solid white,
            padding: 0 fullBleedsPadding(1.5, rem) .5rem 0,
            margin: .5rem 0 .5rem 0,
            //set on the container but for some reason have to set here as well. look into it later
            font-family: (_ref: "typography:::sansFont"),
            font-size: font-scale(0),
            line-height: line-height(0),
            font-weight: 500, //medium
        ),
        ChapterOutlineObjective: (
            padding-right: fullBleedsPadding(1.5, rem),
        ),
        ChapterOutlineObjectiveText: (
            margin-left: .5rem,
            display: inline-block, 
        ),
        OutlineObjectiveLearning: (
            margin-left: 1.5rem,
        ),
        OutlineObjectiveLink: (
            color: white,
            text-decoration: none,
            display:flex,
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: (_ref: 'typography:::baseFontSize'),
            text-transform: uppercase,
            margin: 0 .5rem 0 0,
            font-weight: 700,
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        FigureNum: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureLabel: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
        ),
        Caption: (
            font-family:(_ref:'typography:::sansFont'), 
            font-size: font-scale(1), 
        ),
        SplashFigureBg: (
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
            width: fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
    ),
    ChapterIntroWithObjectives: (
        _selectors: (".introduction"),
        ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        ObjectivesPara: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
        ),
        ObjectivesListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        ObjectivesListDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: (_ref: 'typography:::baseFontSize'),
            text-transform: uppercase,
            margin: 0 .5rem 0 0,
            font-weight: 700,
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        FigureNum: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureLabel: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
        ),
        Caption: (
            font-family:(_ref:'typography:::sansFont'), 
            font-size: font-scale(1), 
        ),
        SplashFigureBg: (
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
            width: fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
    ),
    FullWidthChapterIntro: (
        _selectors: (".introduction"),
        OutlineFullWidth: (
            font-family: (_ref: "typography:::sansFont"),
            font-weight: 500,
            font-size: font-scale(0),
            line-height: line-height(0),
            width: 6.5in, // Width of the page minus margins
            //border-bottom-color is book specific set in the book.scss file
            margin: 0 0 1.5rem 0,
            border-bottom-width: 0.2rem ,
            border-bottom-style: solid,
            box-decoration-break: slice,
        ),
        OutlineTitle: (
            margin: 0 0 1.5rem 0,
            //set on the container but for some reason have to set here as well. look into it later
            font-family: (_ref: "typography:::titleOption1Font"),
            font-size: font-scale(1),
            line-height: font-scale(1), // value has to be the same as font size
            font-weight: bold, 
            //color is book specific set in book.scss file 
            position:relative,
            display: flex,
            flex-direction: row,
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::linkColor"),
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: bold, 
            font-size: font-scale(0),
            margin-bottom: .5rem,
            display: inline-block,
        ),
        OutlineAbstract: (
            font-family:  (_ref: 'typography:::baseFont'),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: (_ref: 'typography:::baseFontSize'),
            text-transform: uppercase,
            margin: 0 .5rem 0 0,
            font-weight: 700,
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        FigureNum: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureLabel: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
            font-weight: bold,
            font-size: font-scale(1),
        ),
        Caption: (
            font-family:(_ref:'typography:::sansFont'), 
            font-size: font-scale(1), 
        ),
        SplashFigureBg: (
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
            width: fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        ObjectivesListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        ObjectivesListDot: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    )
));
