@include add_settings((
    MarginChapterIntro: (
        _selectors: (".introduction"),
        OutlineMargin: (
            font-family: (_ref: "typography:::sansFont"),
            color: (_ref: "colorMap:::chapterOutlineMarginTextColor"),
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            margin: 0 fullBleedsMargin(0, rem) 0 1.5rem,
        ),
        OutlineMarginTitle: (
            padding: 0 fullBleedsPadding(1.5, rem) .5rem 0,
            font-family: (_ref: "typography:::sansFont"),
        ),
        OutlineMarginObjective: (
            padding-right: fullBleedsPadding(1.5, rem),
        ),
        OutlineMarginObjectiveLink: (
            color: white,
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        CaptionNumberChapterIntro: (
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitleLabelChapterIntro: (
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText: (
            font-family:(_ref:'typography:::sansFont'), 
        ),
        SplashFigureBg: (
            // background color is book specific set in the book.scss file
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
        ),
    ),
    ChapterIntroWithObjectives: (
        _selectors: (".introduction"),
        ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        ObjectivesPara: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
        ),
        ObjectivesListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        ObjectivesListDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        CaptionNumberChapterIntro: (
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitleLabelChapterIntro: (
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText: (
            font-family:(_ref:'typography:::sansFont'), 
        ),
        SplashFigureBg: (
            // background color is book specific set in the book.scss file
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
        ),
    ),
    FullWidthChapterIntro: (
        _selectors: (".introduction"),
        OutlineFullWidth: (
            font-family: (_ref: "typography:::sansFont"),
            //border-bottom-color is book specific set in the book.scss file
        ),
        OutlineFullWidthTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            //color is book specific set in book.scss file 
        ),
        OutlineFullWidthObjectiveLink: (
            color: (_ref: "colorMap:::fontBodyColor"),
            font-family: (_ref: "typography:::sansFont"),
        ),
        OutlineFullWidthAbstract: (
            font-family:  (_ref: 'typography:::baseFont'),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        CaptionNumberChapterIntro: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitleLabelChapterIntro: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
        ),    
        CaptionText: (
            font-family:(_ref:'typography:::sansFont'), 
        ),
        SplashFigureBg: (
            // background color is book specific set in the book.scss file
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor"),
        ),
        ObjectivesListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        ObjectivesListDot: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            // color for Anatomy is book specific and set in the book.scss file, for College Physics, AP Physics is black
        ),
    )
));
