@include add_settings((
    ModuleExercises: ( // present only in HS Physics
        _selectors: ('[data-type="page"] :not(.os-note-body)'),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        SolutionTitle: (
            font-family: (_ref: "typography:::sansFont"),
        ),
    ),
    MultipartQuestionExercises: (
        _selectors: ('[data-type="injected-exercise"] [data-type="alphabetical-question-multipart"].exercise-block'),
        ExerciseMultipartQuestionContainer: (
          display: block,
        ),
        ProblemSolutionLetter: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
    InlineMultipartQuestionExercises: (
        _selectors: ('[data-type="injected-exercise"] [data-type="alphabetical-question-multipart"]:not(.exercise-block)'),
        ExerciseMultipartQuestionContainer: (
            display: inline-table,
        ),
        ProblemSolutionLetter: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
    QuestionWithProblemPrefix: (
        _selectors: ('[data-type="exercise-question"]'),
        ProblemSolutionPrefix: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));
