@include add_settings((
    ModuleExercises: ( // present only in HS Physics
        _selectors: ('[data-type="page"] :not(.os-note-body)'),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        SolutionTitle: (
            font-family: (_ref: "typography:::sansFont"),
        ),
    ),
));
