@include add_settings((
    Figure:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'),
        ),
    ),
));
