@include add_settings((
    Figure:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'),
        ),
    ),
    FigureFromExercisesProblem:(
      _selectors: ('[data-type="problem"]'),
    ),
    FigureFromExercisesSolution:(
      _selectors: ('[data-type="solution"]'),
    ),
    FigureFromInjectedQuestion:(
      _selectors: ('[data-type="exercise-question"]'),
    ),
    FigureFromInjectedSolution:(
      _selectors: ('[data-type="question-solution"]'),
    ),
    FigureAfterSubtitle: (
      _selectors: ("h4.os-subtitle + .os-figure:not(.has-splash)"),
    ),
    FigureAfterEocPara: ( // Use if para margin is removed
      _selectors: ('.os-eoc .os-problem-container > p + .os-figure'),
    ),
    FigureAfterEobPara: ( // Use if para margin is removed
      _selectors: ('.os-eob .os-solution-container > p + .os-figure'),
    ),
    ImageAfterSolutionTitle: ( // Work only if book uses BakeFirstElement in cookbook
      _selectors: ('[data-type="solution"] > h4[data-type="solution-title"] + .has-first-element > .first-element'),
    ),
    ImageAfterEocPara: ( // Use if para margin is removed
      _selectors: ('.os-eoc .os-problem-container > p + [data-type="media"]'),
    ),
    ImageAfterEobPara: ( // Use if para margin is removed
      _selectors: ('.os-eob .os-solution-container > p + [data-type="media"]'),
    ),
));
