@import 'design-settings/carnival/colors';
@import 'design-settings/carnival/typography';

@include add_settings ((
    Footnote: (
        _selectors: ('aside[role="doc-footnote"]'),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            line-height: 1rem,
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
    ),
    FootnoteCall: (
        _selectors: ('a[role="doc-noteref"]'),
        DefaultFootnoteCall: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
    ),
));
