@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        IndexGroup: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IndexGroupLabel: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        IndexTermContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IndexTermText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IndexPageNumber: (
            content: target-counter(attr(href, url), page),

        ),
    ),
));
