@include add_settings((
    LearningObjectivesNote: (
        _selectors: ("[data-type="note"].learning-objectives"),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            font-size: font-scale(0),
            line-height: line-height(0),
            // color is book specific set in book.scss file
        ),
        ListDot: (
            // color is book specific set in book.scss file
        ),
    ),
));

@include add_settings((
    LearningObjectivesSection: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    H3ObjectivesTitle: (
        font-family: (_ref: 'typography:::titleOption1Font'),
        font-size: font-scale(0),
        line-height: line-height(0),
        // color is book specific set in book.scss file
    ),
    ListDot: (
        // color is book specific set in book.scss file
    ),
    ),
));

@include add_settings((
  LearningObjectivesAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    H3ObjectivesTitle: (
        font-family: (_ref: 'typography:::titleOption1Font'),
        font-size: font-scale(0),
        line-height: line-height(0),
        // color is book specific set in book.scss file
    ),
    ListDot: (
        // color is book specific set in book.scss file
    ),
  ),
));

// Chapter Objectives
@include add_settings((
    ChapterObjectivesNote: (
        _selectors: ("[data-type='note'].chapter-objectives"),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            font-size: font-scale(2),
            line-height: line-height(2),
            // color is book specific set in book.scss file
        ),
        Paragraph: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        ListItem: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        ListDot: (
            // color is book specific set in book.scss file
        ),
    ),
));


