@include add_settings((
    ReferencesWithIndentation: (
        _selectors: (".os-references-container"),
    ),
    PageWithIndentation: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
    ),
    KeyEquations:(
      _selectors: (".os-key-equations-container"),
    ),
));
