@import 'design-settings/carnival/colors';
@import 'design-settings/carnival/typography';

@include add_settings((
    References: (
        _selectors: (".os-references-container"),
        H1Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
        ),
        H2Title: (
            color: (_ref: 'colorMap:::anatomyHeaderColor'),
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));
