@include add_settings((
    BasicTable: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            margin-bottom: 0,
            width: 100%,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        // Added as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        TableBottomBorderData: (
            border-bottom: 0.025rem solid black,
        ),
        // Altered as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        //border-right: 0.025rem solid black,
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableBottomBorder: (
            border-bottom-color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'),
        ),
    )
));

@include add_settings((
    BasicTableWithCaptionOnTop: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            margin-bottom: 0,
            width: 100%,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        // Added as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        TableBottomBorderData: (
            border-bottom: 0.025rem solid black,
        ),
        // Altered as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        //border-right: 0.025rem solid black,
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableBottomBorderAfterTable: (
            // border-bottom-color: book specific
        ),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'),
        ),
    )
));

@include add_settings((
    ColumnHeaderTable: (
        _selectors: (".os-table.os-column-header-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        LastTableRowData: (
            border-bottom-color: (_ref:"colorMap:::chapterOutlineColor"),
        ),
        FirstTableData: (
            border-right: 0.1rem solid black,
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
        ),
        FirstTableRow: (
            border-top-color: (_ref:"colorMap:::chapterOutlineColor"),
            border-top-width: 0.1rem,
            border-top-style: solid,
        ),
    )
));

@include add_settings((
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            width: 100%,
        ),
        TableTitle: (
            // color for this title is set to book specific in the book.scss files
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        LastTableRow: (
            border-bottom: .1rem solid black,
        ),
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleOption1Font'),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'),
        ),
    )
));

@include add_settings((
  AlternateShading: (
        _selectors: ('.alternate-shading'),
        LightGrayShading: (
          background-color: (_ref:'colorMap:::tableRowGreyShadingColor'),
        ),
  )
));

@include add_settings((
    UnnumberedUnstyledTable: (
        _selectors: (".os-table.os-unstyled-container"),
    )
));

// Tables from exercises
@include add_settings((
    TableFromEoCExercises:( // Only needed for EoC Multicolumn Exercises
      _selectors: ('.os-eoc [data-type="problem"]', '.os-eoc [data-type="exercise-question"]'),
      'Table:::max-width': 100%,
      'Table:::table-layout': fixed,
      'TableData:::text-align': center,
      'TableData:::padding-right': $columnTablePadding,
      'TableData:::padding-left': $columnTablePadding,
    ),
));

@include add_settings((
    TableAfterExercisePara: (
        _selectors: ('.os-eoc .os-problem-container > p', '.os-eob .os-solution-container > p'),
    ),
    TableAfterContentExercisePara: ( // used only in hs-physics
        _selectors: ('[data-type="page"] :not(.os-note-body) .os-problem-container > p'),
    ),
));
