@include add_settings((
    BasicTable: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            margin-bottom: 0,
            width: 100%,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        // Added as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        TableBottomBorderData: (
            border-bottom: 0.025rem solid black,
        ),
        // Altered as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        //border-right: 0.025rem solid black,
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableBottomBorder: (
            border-bottom-color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitleLabelTable:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionNumberTable:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
    )
));

@include add_settings((
    ColumnHeaderTable: (
        _selectors: (".os-table.os-column-header-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        LastTableRowData: (
            border-bottom-color: (_ref:"colorMap:::chapterOutlineColor"),
        ),
        FirstTableData: (
            border-right: 0.1rem solid black,
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
        ),
        FirstTableRow: (
            border-top-color: (_ref:"colorMap:::chapterOutlineColor"),
            border-top-width: 0.1rem,
            border-top-style: solid,
        ),
    )
));

@include add_settings((
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            width: 100%,
        ),
        TableTitle: (
            // color for this title is set to book specific in the book.scss files
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleOption1Font"),
            font-weight: 700,
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ), 
        LastTableRow: (
            border-bottom: .1rem solid black,
        ),
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        CaptionTitleLabelTable:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
        CaptionNumberTable:(
            font-family: (_ref:'typography:::titleOption1Font'),
            color: (_ref:'colorMap:::figureNumberColor'),
        ),
    )
));

@include add_settings((
    UnnumberedUnstyledTable: (
        _selectors: (".os-table.os-unstyled-container"),
        TableData: (
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ), 
    )
));
