@include add_settings((
  TOC: (
    _selectors: ('nav#toc'),
    TocTitleWord: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::tocTitleColor'),
      border-bottom-color: (_ref: 'colorMap:::tocTitleColor')
    ),
    TocPrefaceLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocPrefaceLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterNumber: (
      color: (_ref: 'colorMap:::tocChapterNumberColor'),
      font-family: (_ref: 'typography:::titleOption1Font'),
    ),
    TocChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(3),
      line-height: line-height(3),
      font-weight: bolder,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0),
      font-weight: normal,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterPageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterPageLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterCompositePageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterCompositePageLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocEocCompositeChapterLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocEocCompositeChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocCompositeChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocCompositeChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocAppendixNumber: (
      font-family: (_ref: 'typography:::titleOption1Font'),
    ),
    TocAppendixLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocAppendixLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocReferencesLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocReferencesLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocIndexLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocIndexLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
  ),
  UnitToc: (
    _selectors: ('nav#toc'),
    TocTitleWord: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::tocTitleColor'),
      border-bottom-color: (_ref: 'colorMap:::tocTitleColor'),
    ),
    TocPrefaceLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocPrefaceLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocUnitLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(4),
      line-height: font-scale(4), // should be the same as font size
      font-weight: bolder,
      color: (_ref: 'colorMap:::tocUnitColor'),
      border-bottom: "0.1rem solid black",
    ),
    TocChapterNumber: (
      color: (_ref: 'colorMap:::tocChapterNumberColor'),
      font-family: (_ref: 'typography:::titleOption1Font'),
    ),
    TocChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(3),
      line-height: line-height(2),
      font-weight: bolder,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0),
      font-weight: normal,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterPageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterPageLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterCompositePageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocChapterCompositePageLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocEocCompositeChapterLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocEocCompositeChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocCompositeChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocCompositeChapterLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocAppendixNumber: (
      font-family: (_ref: 'typography:::titleOption1Font'),
    ),
    TocAppendixLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocAppendixLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocReferencesLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocReferencesLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocIndexLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
    TocIndexLinkPage: (
      content: "target-counter(attr(href), page)",
      display: inline-block,
      margin-left: 3rem,
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(0),
      line-height: line-height(0)
    ),
  )
)); 