@include add_settings((
    ChapterModuleTitles:(
        _selectors: ('[data-type="chapter"]'),
        TitleNumberText: (
            margin-right: h-spacing(1),    
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(4),
            line-height: line-height(4),
            font-weight: bolder,
            letter-spacing: 0.1rem,
            //color: book specific, defined in book.scss file
        ),
        TitleNumberDigit: (
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(4),
            line-height: line-height(4),
            font-weight: bolder,
            letter-spacing: 0.1rem,
            //color: book specific, defined in book.scss file
        ),
        TitleText: (
            display: block,
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(7),
            font-weight: lighter,
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            //color: book specific, defined in book.scss file
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            //color: book specific, defined in book.scss file
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleFont'),
            //color: book specific, defined in book.scss file
        ),
        H5Title: (
          font-family: (_ref: 'typography:::titleFont'),
          //color: book specific, defined in book.scss file
        ),
       
    ),
));
