//------------------------------------------------
@include add_settings(( // remove when lists be moved to lists-shapes file
    ChapterModuleTitles:(
        _selectors: ('[data-type="chapter"]'),
    ),
));
//------------------------------------------------

@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1Chapter: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: book specific, defined in book.scss file
        ),
        H1ChapterText: (
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
    ),    
));

@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        PrefaceContainer: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H1Title: (
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: define in book.scss file
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: define in book.scss file
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: define in book.scss file
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleOption2Font'),
            color: (_ref: 'colorMap:::pagetitleColor'),
        ),
        H1Appendix: (
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
        ),
        H1AppendixText: (
            //color: book specific, defined in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            border-top-color: (_ref: 'colorMap:::pagetitleColor'),
        ),
    ),
));

@include add_settings((
    EocCompositePageTitles: (
        _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'), //it has to be direct child of chapter
        H2Title: (
            //color: define in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            column-span: all,
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H3ListTitle: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
    ),
));

@include add_settings((
    EocCompositeChapterTitles: (
        _selectors: ('.os-eoc[data-type="composite-chapter"]'),
        H2Title: (
            //color: define in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            column-span: all,
        ),
        H3Title: (
            //color: define in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            column-span: all,
        ),
        H3NestedLinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));

@include add_settings((
    EocCompositeChapterTitlesWithBorder: (
        _selectors: ('.os-eoc[data-type="composite-chapter"]'),
        H2Title: (
            //color: define in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            column-span: all,
        ),
        H3WithBottomBorder: (
            //color: define in book.scss file
            font-family: (_ref: 'typography:::titleOption1Font'),
            column-span: all,
        ),
        H3TitleBottomBorder: (
            //border-bottom-color: define in book.scss file
        ),
        H4LinkTitle: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
    ),
));

@include add_settings((
    EobTitles: (
        _selectors: ('.os-eob'),
        H1Title: (
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::titleOption2Font'),
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: define in book.scss file
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            //color: define in book.scss file
        ),
    ),
));
