@import 'notes-components';

@include create_shape('cosmos:::IconnedNoteShape', (
    _components: (
        map-merge($Notes__Container, (
            _components: (
                map-merge($Notes--Iconned__Title, (
                    _components: (
                        $Notes--Iconned__Title__Icon,
                    )
                )),
                $Notes--Iconned__Body,
            )
        )),
    )
));

@include create_shape('cosmos:::IconnedNoteWithSubtitleShape', (
    _components: (
        map-merge($Notes__Container, (
            _components: (
                map-merge($Notes--Iconned__Title, (
                    _components: (
                        $Notes--Iconned__Title__Icon,
                    )
                )),
                map-merge($Notes--Iconned__Body, (
                    _components: (
                        $Notes--Iconned__Subtitle,
                    )
                )),
            )
        )),
    )
));

//same as above except a section instead of a note
@include create_shape('cosmos:::IconnedSectionWithSubtitleShape', (
    _components: (
        map-merge($Notes--Iconned__SectionContainer, (
            _components: (
                map-merge($Notes--Iconned__Title, (
                    _components: (
                        $Notes--Iconned__Title__Icon,
                    )
                )),
                $Notes--Iconned__SectionSubtitle,
            )
        )),
    )
));
