//Icon Boxed Notes
$Notes--IconBoxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Notes--IconBoxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        font-weight: normal,
        border-bottom: solid 0.2rem,
        border-color: enum('ValueSet:::REQUIRED'),
        padding-left: enum('ValueSet:::REQUIRED'),
        padding-right: v-spacing(1),
        position: relative,
        padding-top: v-spacing(2),
        padding-bottom: v-spacing(0), 
    )
);

$Notes--IconBoxed__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: enum('ValueSet:::REQUIRED'),
        width: enum('ValueSet:::REQUIRED'),
        content: "''",
        position: absolute,
        left: 0,
        bottom: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--IconBoxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        padding: v-spacing(1),
        padding-bottom: v-spacing(0),
        border-bottom: solid 0.2rem,
        border-color: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--IconBoxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > h4.os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: normal,
        margin-bottom: v-spacing(0),
    )
);
