// Notes
$Notes__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        box-decoration-break: enum('ValueSet:::OPTIONAL'), //used in Iconned notes and Condensed Iconnned notes with borders
    )
);

// Iconned notes
$Notes--Iconned__Title: (
    _name: "Title",
    _subselector: ' > h3.os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        font-weight: normal,
        border-bottom: solid 0.2rem,
        border-color: enum('ValueSet:::REQUIRED'),
        position: relative,
    )
);

$Notes--Iconned__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: enum('ValueSet:::REQUIRED'),
        width: enum('ValueSet:::REQUIRED'),
        content: "''",
        position: relative,
        display: inline-block,
        padding-right: h-spacing(1),
        left: 0,
        bottom: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--Iconned__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        padding-top: v-spacing(1),
        padding-bottom: v-spacing(0),
        border-bottom: solid 0.2rem,
        border-color: enum('ValueSet:::REQUIRED'),
        box-decoration-break: slice,
    )
);

$Notes--Iconned__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > h4.os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: normal,
        margin-bottom: v-spacing(0),
    )
);

// Boxed notes
$Notes--Boxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        text-align: right,
        font-weight: normal,
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
        position: relative,
        border-bottom: solid 0.2rem,
        border-color: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--Boxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        padding: v-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--Boxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > h4.os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: 500,
        margin-bottom: v-spacing(0),
    )
);

// Condensed Icon notes
$Note--IconCondensed__Title: (
  _name: "Title",
  _subselector: ' > .os-title',
  _properties: (
    margin-bottom: v-spacing(1),
    font-weight: 400,
    letter-spacing: 0.05rem,
    display: flex,
    flex-direction: row,
    align-items: flex-end,
    font-size: font-scale(1),
    line-height: line-height(0),
    font-family: enum('ValueSet:::REQUIRED')
  )
);

$Note--IconCondensed__Title__Text: (
  _name: "TitleText",
  _subselector: ' > .os-title-label',
  _properties: (
    display: inline-block,
    max-width: enum('ValueSet:::OPTIONAL'),
    word-wrap: normal,
    text-transform: uppercase,
  )
);
$Note--IconCondensed__Number: (
  _name: "NoteNumber",
  _subselector: ' > .os-number',
  _properties: (
    margin-left: enum('ValueSet:::OPTIONAL'),
  )
);

$Note--IconCondensed__Body: (
  _name: "Body",
  _subselector: " > .os-note-body",
  _properties: (
    border-bottom-style: solid,
    border-bottom-width: 0.125rem, //1.5pt coverted to rem
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    box-decoration-break: slice, 
  )
);

$Note--IconCondensed__Paragraph: (
  _name: "Paragraph",
  _subselector: " > p",
  _properties: (
    margin-bottom: v-spacing(1),
  )
);

$Note--IconCondensed__Title__Icon: (
  _name: "Icon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(2),
    width: v-spacing(2),
    display: inline-block,
    position: relative,
    content: "''",
    padding-right: h-spacing(1)
  )
);

// Icon Full Page Section (Trailblazer - Eng Comp )

$Notes--IconFullPage__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(3),
        margin-top: v-spacing(3),
    )
);

$Notes--IconFullPage__Title: (
    _name: "Title",
    _subselector: ' > h2[data-type="document-title"]',
    _properties: (
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(2), 
        background-color: enum('ValueSet:::REQUIRED'), 
        padding-right: 9.2rem,
        margin-left:  -9.2rem,
        padding-left: 9.2rem,
        display: flex,
        justify-content: start,
        height: 3rem,
        width: fullBleedsSize(8.5, 'in'),
  )
);

$Notes--IconFullPage__ModuleNumber: (
    _name: "ModuleNumber",
    _subselector: ' > .os-number',
    _properties: (
        font-size: font-scale(2),
        font-family: enum('ValueSet:::OPTIONAL'),
        color: enum('ValueSet:::OPTIONAL'),
        padding-right: h-spacing(1),
        padding-top: h-spacing(1),
        display: inline-block,
        float: left,
        font-weight: 400,
    )
);

$Notes--IconFullPage__ModuleTitle: (
    _name: "ModuleTitle",
    _subselector: ' > .os-text',
    _properties: (
        font-size: font-scale(2),
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 700,
        padding-right: h-spacing(1),
        padding-top: h-spacing(1),
        display: inline-block,
        float: left,
    )
);

$Notes--IconFullPage__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: 4rem,
        width: 4rem,
        margin-right: h-spacing(1),
        content: "''",
        display: inline-block,
        position: relative,
        bottom: 1rem,
        margin-left: h-spacing(-7),
        margin-top: .8rem,
    )
);

$Notes--IconFullPage__Subtitle: (
    _name: "AuthorName",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(1),
        font-weight: 400,
        margin-bottom: v-spacing(2), 
    )
);

// Photo Quote Notes (Eng Comp)
$Notes--PhotoQuote__Container: (
    _name: "PhotoQuoteContainer",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        box-decoration-break: enum('ValueSet:::OPTIONAL'),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(2),
        display: inline-flex,
        align-items: center,
    )
);

$Notes--PhotoQuote__Figure: (
    _name: "PQFigure",
    _subselector: ' > .os-figure > figure',
    _properties: (
        margin-top: 0,
        margin-bottom: 0,
    )
);

$Notes--PhotoQuote__Blockquote: empty_wrapper(PQBlockquote, ' > blockquote');

$Notes--PhotoQuote__Blockquote__FirstPara: (
    _name: "PQBlockquoteFirstPara",
    _subselector: ' > p:first-child',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(4),
        line-height: v-spacing(4),
        font-weight: 400,
        font-style: italic,
        text-align: center,
    )
);

$Notes--PhotoQuote__Blockquote__SecondPara: (
    _name: "PQBlockquoteSecondPara",
    _subselector: ' > p:nth-child(2)',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 400,
        font-size: font-scale(0),
        text-align: center,
    )
);
