$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';

//Settings
@include add_settings((
    RealWorld: (
        _selectors: ('.sociology-real-world'),
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::noteBorderColorBlue'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-world.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::noteBorderColorBlue'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    PolicyDebate: (
      _selectors: ('.sociology-policy-debate'),
      'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::padding-left': v-spacing(4) + 0.5,
      'Title:::border-color': (_ref: 'colorMap:::noteBorderColorGreen'),
      'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-debate.svg")) no-repeat bottom left,
      'TitleIcon:::height': v-spacing(4),
      'TitleIcon:::width': v-spacing(4),
      'TitleIcon:::bottom': -0.3rem,
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::border-color': (_ref: 'colorMap:::noteBorderColorGreen'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

@include add_settings((
  SectionQuiz: (
    _selectors: ('.os-eoc.os-section-quiz-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ShortAnswer: (
    _selectors: ('.os-eoc.os-short-answer-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('EobCompositePageTitles', 'cosmos:::EobCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

// Notes
@include use('RealWorld', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('PolicyDebate', 'cosmos:::IconnedNoteWithSubtitleShape');

//Exercises
@include use('SectionQuiz', 'cosmos:::ExercisesModuleShape');
@include use('ShortAnswer', 'cosmos:::ExercisesModuleShape');
