$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';


//Settings

@include add_settings((
  SectionQuiz: (
    _selectors: ('.os-eoc.os-section-quiz-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ShortAnswer: (
    _selectors: ('.os-eoc.os-short-answer-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");

@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('EobCompositePageTitles', 'cosmos:::EobCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');

//Tables

@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

//Exercises
@include use('SectionQuiz', 'cosmos:::ExercisesModuleShape');
@include use('ShortAnswer', 'cosmos:::ExercisesModuleShape');


