$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

//Settings
// Iconned Notes
@include add_settings((
    RealWorld: (
        _selectors: ('.sociology-real-world'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-world.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    PolicyDebate: (
      _selectors: ('.sociology-policy-debate'),
      'Container:::box-decoration-break': slice,
      'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
      'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-debate.svg")) no-repeat bottom left,
      'TitleIcon:::height': v-spacing(4),
      'TitleIcon:::width': v-spacing(4),
      'TitleIcon:::bottom': -0.7rem,
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

// Boxed Notes
@include add_settings((
    Research: (
        _selectors: ('.sociological-research'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    BigPicture: (
        _selectors: ('.sociology-big-picture'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

@include add_settings((
  SectionQuiz: (
    _selectors: ('.os-eoc.os-section-quiz-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ShortAnswer: (
    _selectors: ('.os-eoc.os-short-answer-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesModuleShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");

//Titles
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

// Notes
@include use('RealWorld', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('PolicyDebate', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('Research', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('BigPicture', 'cosmos:::BoxedNoteWithSubtitleShape');

//Exercises
@include use('SectionQuiz', 'cosmos:::ExercisesModuleShape');
@include use('ShortAnswer', 'cosmos:::ExercisesModuleShape');

//EoB
@include use('AnswerKeyInline', 'cosmos:::AnswerKeyInlineShape');
@include use('Index', 'cosmos:::IndexShape');

// Eoc
@include use('References', 'cosmos:::ModuleWithIndentationShape');
@include use('FurtherResearch', 'cosmos:::ModuleWithIndentationShape');
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

