//Define all hex values first, then create a map referencing the values belwo
@include add_settings ((
  scheme: (
    B1:    #093D4C,
    B2:    #1E7E91,
    B3:    #34BDD8,
    B4:    #F7FAFB,
    B5:    #027EB5,
    G1:    #F4F7F4,
    G2:    #C6CE33,
    G4:    #e9f4f1,
    G5:    #092d23,
    Grey1: #F1F1F1,
    Grey2: #F9F9F9,
    Grey3: #757474,
    Grey4: #E7EBED,
    Grey5: #ECF3F4,
    R2:    #F7E6F0,
    R3:    #80004C,
    O2:    #fef1ec,
    O3:    #5C2C19,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    captionColor: (_ref: "scheme:::B1"),
    splashFigureBgColor: (_ref: "scheme:::G2"),
    chapterOutlineTitleColor: (_ref: "scheme:::B2"),
    chapterIntrolLinkColor: (_ref: "scheme:::B3"),
    chapterOutlineBarColor: (_ref: "scheme:::Grey1"),
    introContentHeaderColor: (_ref: "scheme:::B1"),
    chapterIntroTopBarColor: (_ref: "scheme:::B1"),
    linkColor: (_ref: "scheme:::B5"),
    tocTitleColor: (_ref: "scheme:::B1"),
    tocLinkColor: (_ref: "scheme:::B2"),
    tocBackgroundColor: (_ref: "scheme:::Grey2"),
    tocModuleBorderColor: (_ref: "scheme:::Grey1"),
    basicTableCellBorderColor: (_ref: "scheme:::Grey1"),
    tableColor: (_ref: "scheme:::B1"),
    tableOption2Color: (_ref: "scheme:::R3"),
    tableHeaderColor: (_ref: "scheme:::white"),
    moduleTitleColor: (_ref: "scheme:::B2"),
    pageTitleColor: (_ref: "scheme:::B2"),
    splashImageOverlayColor: (_ref: "scheme:::B1"),
    iconCondensedLabelColor: (_ref: "scheme:::B1"),
    iconCondensedTextColor: (_ref: "scheme:::Grey3"),
    iconBoxedBackgroundColor: (_ref: "scheme:::Grey4"),
    iconBoxedTextColor: (_ref: "scheme:::B1"),
    iconBoxedBorderColor: (_ref: "scheme:::white"),
    calculatorBackgroundColor: (_ref: "scheme:::G1"),
    calculatorTextColor: (_ref: "scheme:::B2"),
    boxedBackgroundColor: (_ref: "scheme:::G1"),
    boxedBackgroundColor2: (_ref: "scheme:::R2"),
    boxedBackgroundColor3: (_ref: "scheme:::G4"),
    boxedBackgroundColor4: (_ref: "scheme:::white"),
    boxedBackgroundColor5: (_ref: "scheme:::O2"),
    problemSolvingBoxedBackgroundColor: (_ref: "scheme:::B4"),
    boxedTitleColor: (_ref: "scheme:::B2"),
    problemSolvingBoxedTitleColor: (_ref: "scheme:::B1"),
    boxedTextColor: (_ref: "scheme:::B1"),
    boxedTextColor2: (_ref: "scheme:::R3"),
    boxedTextColor3: (_ref: "scheme:::G5"),
    boxedTextColor4: (_ref: "scheme:::O3"),
    boxedBorderColor: (_ref: "scheme:::Grey1"),
    appendixTitleColor: (_ref: "scheme:::B2"),
    exerciseTitleColor: (_ref: "scheme:::B1"),
    exampleBorderColor: (_ref: "scheme:::B1"),
    exampleTitleColor: (_ref: "scheme:::G2"),
    exampleSubtitleColor: (_ref: "scheme:::B1"),
    coreqSkillsBorderColor: (_ref: "scheme:::G2"),
    coreqSkillsTitleColor: (_ref: "scheme:::B1"),
    coreqSkillsSubtitleColor: (_ref: "scheme:::B1"),
    circledListTokenColor: (_ref: "scheme:::B2"),
    outlinedBoxedTitleColor: (_ref: "scheme:::B1"),
    outlinedBoxedBorderBottomColor: (_ref: "scheme:::B1"),
    outlinedBoxedBorderColor: (_ref: "scheme:::B1"),
    equationNumberColor: (_ref: "scheme:::B2"),
    statsLabBarColor: (_ref: "scheme:::G2"),
    statsLabTitleColor: (_ref: "scheme:::B1"),
    instructionsListItemColor: (_ref: "scheme:::B2"),
  ),
));
