@import 'designs/common/pdf/typography';
@import 'designs/corn/pdf/page-breaks';
@import 'designs/common/reset'; //must be before common-styles
@import 'designs/common/pdf/functions';
@import 'designs/common/pdf/grid';
@import 'designs/common/pdf/common-styles';
@import 'designs/common/pdf/_common-shapes';
@import 'designs/common/pdf/bleed';
@import 'designs/common/pdf/bands';
@import 'designs/common/pdf/page';
@import 'designs/common/pdf/footnotes-shapes.scss';

@import 'designs/corn/parts/chapterintro-shapes.scss';
@import 'designs/corn/parts/titles-shapes.scss';
@import 'designs/corn/parts/link-shapes';
@import 'designs/corn/parts/toc-shapes';
@import 'designs/corn/parts/table-shapes.scss';
@import 'designs/corn/parts/titles-shapes';
@import 'designs/corn/parts/learning-shapes';
@import 'designs/corn/parts/lists-shapes';
@import 'designs/corn/parts/eoc-shapes';
@import 'designs/corn/parts/exercises-shapes';
@import 'designs/corn/parts/example-shapes';
@import 'designs/corn/parts/index-shapes';
@import 'designs/corn/parts/coreqSkills-shapes';
@import 'designs/corn/parts/answerkey-shapes.scss';
@import 'designs/corn/parts/equation-shapes';
@import 'designs/corn/parts/figureimage-shapes';
@import 'designs/corn/parts/module-shapes';

//notes shapes
@import 'designs/corn/parts/notes/notes-iconCondensed-shapes';
@import 'designs/corn/parts/notes/notes-iconBoxed-shapes';
@import 'designs/corn/parts/notes/notes-boxed-shapes';
@import 'designs/corn/parts/notes/notes-outlinedBoxed-shapes';
@import 'designs/corn/parts/notes/notes-iconFullPage-shapes';

//eoc shapes
@import 'designs/corn/parts/eoc-shapes';
