//global template settings
@import "colors";
@import "typography";



//template parts
@import 'design-settings/corn/parts/chapterintro-settings';
@import 'design-settings/corn/parts/link-settings';
@import 'design-settings/corn/parts/toc-settings';
@import 'design-settings/corn/parts/table-settings';
@import 'design-settings/corn/parts/titles-settings';
@import 'design-settings/corn/parts/learning-settings';
@import 'design-settings/corn/parts/lists-settings';
@import 'design-settings/corn/parts/eoc-settings';
@import 'design-settings/corn/parts/exercises-settings';
@import 'design-settings/corn/parts/example-settings';
@import 'design-settings/corn/parts/index-settings';
@import 'design-settings/corn/parts/coreqSkills-settings';
@import 'design-settings/corn/parts/answerkey-settings';

@import 'design-settings/corn/parts/equation-settings';
@import 'design-settings/corn/parts/footnotes-settings.scss';
@import 'design-settings/corn/parts/figureimage-settings';
@import 'design-settings/corn/parts/iframe-settings.scss';

@include add_settings((
  //use these as defaults for the book
  BookRoot: (
    _selectors: (":root"),
    BookRoot: (
      font-family: (_ref: 'typography:::baseFont'), //book default font
      font-size: (_ref: 'typography:::baseFontSize'), //base font size
      line-height: (_ref: 'typography:::baseLineHeight'), //base font height
      color: (_ref: "colorMap:::fontBodyColor"),
      prince-image-resolution: "auto, 150dpi",
      prince-background-image-resolution: 200dpi
    ),
  ),
));
