$AnswerKey__Container: empty_wrapper(AnswerKeyContainer, '');

$AnswerKeySolution__Container: (
  _name: "AnswerKeySolutionContainer",
  _subselector: '',
  _properties: (
    display: table,
    margin-bottom: enum('ValueSet:::REQUIRED'), // different in Contemporary Math
  )
);

$AnswerKeySolution__Container--ThreeColumns: (
  _name: "AnswerKeySolutionContainerThreeColumns",
  _subselector: '',
  _properties: (
    display: inline-table,
    overflow-wrap: break-word,
    margin-bottom: v-spacing(2),
    width: 29%,
    padding-right: v-spacing(1),
  )
);

$AnswerKey__SolutionArea: (
  _name: "AnswerKeySolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
     display: table,
     margin-bottom: (enum('ValueSet:::OPTIONAL'), v-spacing(2)),
     width: 100%,
  )
);

$AnswerKey__NoteNumber: (
  _name: "AnswerKeyNoteNumber",
  _subselector: " > span.os-note-number",
  _properties:(
     font-weight: bold,
  )
);

$AnswerKey__ModuleReset: (
  _name: "AnswerKeyModuleReset",
  _subselector: " > .os-module-reset-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

$AnswerKey__CompositePage: (
  _name: "AnswerKeyCompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
