$AnswerKey__Container: empty_wrapper(AnswerKeyContainer, '');

$AnswerKey__SolutionArea: (
  _name: "AnswerKeySolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
     display: table,
     margin-bottom: (enum('ValueSet:::OPTIONAL'), v-spacing(2)),
     width: 100%,
  )
);

$AnswerKey__NoteNumber: (
  _name: "AnswerKeyNoteNumber",
  _subselector: " > span.os-note-number",
  _properties:(
     font-weight: bold,
  )
);

$AnswerKey__ModuleReset: (
  _name: "AnswerKeyModuleReset",
  _subselector: " > .os-module-reset-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

$AnswerKey__CompositePage: (
  _name: "AnswerKeyCompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
