$AnswerKey__Container: empty_wrapper(Container, '');

$AnswerKey__Solution__Area: (
  _name: "SolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

$AnswerKey__CompositePage: (
  _name: "CompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
