$AnswerKey__Container: empty_wrapper(Container, '');

$AnswerKey__Solution__Area: (
  _name: "SolutionArea",
  _subselector: " > .os-solution-area",
  _properties:(
     display: table,
     margin-bottom: (enum('ValueSet:::OPTIONAL'), v-spacing(2)),
     width: 100%,
  )
);

$AnswerKey__Solution__Area__Note__Number: (
  _name: "SolutionAreaNoteNumber",
  _subselector: "> span.os-note-number",
  _properties:(
     font-weight: bold,
  )
);

$AnswerKey__Solution__Area__Container: (
  _name: "SolutionAreaContainer",
  _subselector: " > .os-module-reset-solution-area",
  _properties:(
     display: table,
     margin-bottom: v-spacing(2),
     width: 100%,
  )
);

$AnswerKey__CompositePage: (
  _name: "CompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);
