//These caption components are used in both Tables and Figures shapes
$Caption__Container: (
    _name: "CaptionContainer",
    _subselector: " .os-caption-container",
    _properties: (
        display: enum('ValueSet:::OPTIONAL'),
        caption-side: enum('ValueSet:::OPTIONAL'),
        prince-caption-page: enum('ValueSet:::OPTIONAL'),
        margin-left:  enum('ValueSet:::OPTIONAL'),
        margin-right:  enum('ValueSet:::OPTIONAL'),
    )
);

$Caption__Title--Label: (
    _name: "CaptionTitleLabel",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Number:( 
    _name: "CaptionNumber",
    _subselector: "> .os-number",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        display: enum('ValueSet:::OPTIONAL'),
        margin-right: enum('ValueSet:::OPTIONAL'),
    )
);

//These components will be used only used in Figures shapes
$Caption__Text:(
    _name: "CaptionText",
    _subselector: "> .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);
$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: "> .os-title",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Divider: ( 
    _name: "CaptionDivider",
    _subselector: "> .os-divider",
    _properties: (
        margin: 0,
    )
);