//These caption components are used in both Tables and Figures shapes
$Caption__Container: (
    _name: "CaptionContainer",
    _subselector: " .os-caption-container",
    _properties: (
        display: enum('ValueSet:::OPTIONAL'), //used in Figures and Tables (not in Chapter Intro)
        padding-top: enum('ValueSet:::OPTIONAL'), //used in Chapter Intro
        padding-bottom: enum('ValueSet:::OPTIONAL'), //used in Chapter Intro
        margin-left:  enum('ValueSet:::OPTIONAL'),  //used in Figures
        margin-right:  enum('ValueSet:::OPTIONAL'), //used in Figures
        margin-bottom: enum('ValueSet:::OPTIONAL'), //used in Figures
        break-inside: enum('ValueSet:::OPTIONAL'), //used in Tables in Formula Review in Two Column Vertical Layout
        caption-side: enum('ValueSet:::OPTIONAL'), //used in Tables 
        prince-caption-page: all,
    )
);

$Caption__Title--Label: (
    _name: "CaptionTitleLabel",
    _subselector: " > .os-title-label",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Number:( 
    _name: "CaptionNumber",
    _subselector: "> .os-number",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Text:(
    _name: "CaptionText",
    _subselector: "> .os-caption",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);

$Caption__Title: (
    _name: "CaptionTitle",
    _subselector: "> .os-title",
    _properties:(
        font-family:  enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        color:  enum('ValueSet:::REQUIRED'),
    )
);
