$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, '');

$ChapterSplash__Media: (
    _name: "ChapterSplashImgMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        line-height: 0,
        height: 100%,
        display: flex,
        width: half-fullBleedsSize(7.5, in),
        justify-content: flex-end
    ),
);

$ChapterSplash__Img: (
    _name: "ChapterSplashImg",
    _subselector: '> img',
    _properties: (
        width: half-fullBleedsSize(6.81, in),
        position: relative,
    )
);

$ChapterSplash__Media--Overlay: (
    _name: "ChapterSplashMediaOverlay",
    _subselector: "::before",
    _properties: (
        content: "''",
        background-color: enum('ValueSet:::REQUIRED'),
        opacity: 0.3,
        position: absolute,
        width: half-fullBleedsSize(6.81, in), //same as the splash img width
        height: 100%,
        top: 0,
        left: 6rem,
        z-index: 1,
        box-sizing: border-box,
    )
);



$ChapterSplash__Figure: (
    _name: "ChapterSplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        margin: 0,
    ),
);

$ChapterSplash__Figure--Bg: fullWidthBg("ChapterSplashFigure", enum('ValueSet:::REQUIRED'));

$ChapterSplash__Figure__Wrapper: (
    _name: "ChapterSplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        margin-bottom: v-spacing(2),
        margin-top: -6rem,
    ),
);
