$ChapterIntro__Body--WithoutProperties: empty_wrapper(IntroBody, ' > .intro-body');

$Introduction__Container: (
    _name: "IntroductionContainer",
    _subselector: '',
    _properties: (
        position: relative,
        top: -6rem,
    )
);

$ChapterOutline--FullWidth: (
    _name: "OutlineFullWidth",
    _subselector: ' > .os-chapter-outline',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        font-weight: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::OPTIONAL'),
        margin-bottom: 1.5rem,
    )
);

$ChapterOutline__Title: (
    _name: "OutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        overflow: enum('ValueSet:::OPTIONAL'),
        border-bottom: enum('ValueSet:::OPTIONAL'),
        padding: enum('ValueSet:::OPTIONAL'),
        margin: enum('ValueSet:::REQUIRED'),
        font-size: enum('ValueSet:::REQUIRED'),
        line-height: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$ChapterOutline__Objective: (
    _name: "ChapterOutlineObjective", 
    _subselector: ' > div.os-chapter-objective', 
    _properties: (
        padding-right: enum('ValueSet:::OPTIONAL'),
    )
);

$ChapterOutline__Objective--Link: (
    _name: "OutlineObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: enum('ValueSet:::REQUIRED'),
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-size: enum('ValueSet:::OPTIONAL'),
        line-height: enum('ValueSet:::OPTIONAL'),
        margin-bottom: enum('ValueSet:::OPTIONAL'),
        padding-left: .5rem,
        border-left-width: 0.2727rem,
        border-left-style: solid,
        border-left-color:  enum('ValueSet:::REQUIRED'),
    )
);

$ChapterOutline__Objective--Text: (
    _name: "ChapterOutlineObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        display: enum('ValueSet:::OPTIONAL'),
        margin-left: enum('ValueSet:::OPTIONAL'),
    )
);

$ChapterIntro__Content: empty_wrapper(IntroContent, ' > .intro-text');

$ChapterIntro__Content__Header: (
    _name: "IntroContentHeader",
    _subselector: ' > h2[data-type="document-title"]:first-of-type', 
    _properties: (
        font-size: enum('ValueSet:::OPTIONAL'), 
        margin-bottom: v-spacing(1),
        font-weight: enum('ValueSet:::OPTIONAL'),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$ChapterIntro__Content__Header__Icon: (
  _name: "IntroductionTitleIcon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(4),
    width: v-spacing(4),
    display: inline-block,
    content: "''",
  )
);

$ChapterIntro__Content__Header__Text: (
    _name: "IntroConetntHeaderText",
    _subselector: ' > .os-text', 
    _properties: (
        display: inline-block,
        margin-left: v-spacing(1),
    )
);

$ChapterSplash__Media: (
    _name: "SplashImgMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        line-height: 0,
        height: 100%,
        display: flex,
        width: half-fullBleedsSize(7.5, in),
        justify-content: flex-end
    ),
);

$ChapterSplash__Img: (
    _name: "SplashImg",
    _subselector: '> img',
    _properties: (
        width: half-fullBleedsSize(6.81, in),
        position: relative,
    )
);

$ChapterSplash__Media--Overlay: (
    _name: "SplashMediaOverlay",
    _subselector: "::before",
    _properties: (
        content: "''",
        background-color: enum('ValueSet:::REQUIRED'),
        opacity: 0.5,
        position: absolute,
        width: half-fullBleedsSize(6.81, in), //same as the splash img width
        height: 100%,
        top: 0,
        left: 6rem,
        z-index: 1,
        box-sizing: border-box,
    )
);



$ChapterSplash__Figure: (
    _name: "SplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        margin: 0,
    ),
);

$ChapterSplash__Figure--Bg: fullWidthBg("SplashFigure", enum('ValueSet:::REQUIRED'));

$ChapterSplash__Figure__Wrapper: (
    _name: "SplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        margin-bottom: 2rem,
    ),
);