$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, ' > .intro-body');

$Introduction__Container: empty_wrapper(IntroductionContainer, '');

$ChapterOutline: (
    _name: "Outline",
    _subselector: ' > .os-chapter-outline',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 500,
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterOutline__Title: (
    _name: "OutlineTitle",
    _subselector: ' > .os-title',
    _properties: (
        margin: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: font-scale(1),
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$ChapterOutline__Objective: empty_wrapper(ChapterOutlineObjective, ' > div.os-chapter-objective');

$ChapterOutline__Objective--Link: (
    _name: "OutlineObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        padding-left: v-spacing(1),
        border-left-width: 0.2727rem,
        border-left-style: solid,
        border-left-color:  enum('ValueSet:::REQUIRED'),
    )
);

$ChapterOutline__Objective--Text: (
    _name: "ChapterOutlineObjectiveText",
    _subselector: ' > .os-text', 
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
    )
);

$ChapterIntro__Content: empty_wrapper(IntroContent, ' > .intro-text');

$ChapterSplash__Media: (
    _name: "SplashImgMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        line-height: 0,
        height: 100%,
        display: flex,
        width: half-fullBleedsSize(7.5, in),
        justify-content: flex-end
    ),
);

$ChapterSplash__Img: (
    _name: "SplashImg",
    _subselector: '> img',
    _properties: (
        width: half-fullBleedsSize(6.81, in),
        position: relative,
    )
);

$ChapterSplash__Media--Overlay: (
    _name: "SplashMediaOverlay",
    _subselector: "::before",
    _properties: (
        content: "''",
        background-color: enum('ValueSet:::REQUIRED'),
        opacity: 0.3,
        position: absolute,
        width: half-fullBleedsSize(6.81, in), //same as the splash img width
        height: 100%,
        top: 0,
        left: 6rem,
        z-index: 1,
        box-sizing: border-box,
    )
);



$ChapterSplash__Figure: (
    _name: "SplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        margin: 0,
    ),
);

$ChapterSplash__Figure--Bg: fullWidthBg("SplashFigure", enum('ValueSet:::REQUIRED'));

$ChapterSplash__Figure__Wrapper: (
    _name: "SplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        margin-bottom: 2rem,
        margin-top: -6rem,
    ),
);