$Eoc__Container: (
    _name: "Container",
    _subselector: "",
    _properties: (
        margin-bottom: v-spacing(2),
        column-count: enum('ValueSet:::OPTIONAL'), 
        column-gap: enum('ValueSet:::OPTIONAL'),
        column-width: enum('ValueSet:::OPTIONAL'),
    ),
);

// Key Terms
$Term--DT:(
    _name: "Term",
    _subselector: " > dt ",
    _properties:(
        font-weight: bold,
        padding-right: h-spacing(1),
        display: inline,
    )
);

$Term--DD:(
    _name: "TermDD",
    _subselector: " > dd ",
    _properties:(
        display: inline,
        margin-left: h-spacing(0),
    )
);

$Term--DL:(
    _name: "TermDL",
    _subselector: " > dl",
    _properties:(
        text-indent: h-spacing(-2),
        padding-left: h-spacing(2),
    ),
);