$Equation__Container: (
    _name: "EquationContainer",
    _subselector: "",
    _properties: (
        display: flex,
        align-items: center,
        justify-content: center,
        margin-bottom: v-spacing(1),
        position: enum('ValueSet:::OPTIONAL'),
        flex-direction: enum('ValueSet:::OPTIONAL'),
    )
);

$Equation__Number: (
    _name: "EquationNumber",
    _subselector: " > .os-equation-number",
    _properties: (
        flex-shrink: 0,
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        color: enum('ValueSet:::REQUIRED'),
        margin-left: v-spacing(1),
    )
);

$Equation__Equation: (
    _name: "EquationEquation",
    _subselector: " > *:not(.os-equation-number)",
    _properties: (
        flex: 1,
        min-width: 0,
        text-align: center,
    )
)