$Example__Container: (
    _name: "ExampleContainer",
    _subselector: '',
    _properties: (
        border-top-width: 0.09rem,
        border-top-style: solid,
        border-top-color: enum('ValueSet:::REQUIRED'),
        border-bottom-width: 0.09rem,
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        margin-bottom: v-spacing(2),
        display: block,
        box-decoration-break: slice,
    )
);

$Example__Title: (
    _name: "ExampleTitle",
    _subselector: ' > h3.os-title',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: font-scale(0), // must be the same as font size
        font-weight: bold,
        text-transform: uppercase,
        background-color: enum('ValueSet:::REQUIRED'),
        display: table,
        padding: v-spacing(1),
        vertical-align: top,
    )
);

$Example__Body: (
    _name: "ExampleBody",
    _subselector: ' > .body',
    _properties: (
        padding-top: v-spacing(1),
        padding-bottom: v-spacing(1),
    )
);

$Example__Subtitle: (
    _name: "ExampleSubtitle",
    _subselector: ' > [data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
    )
);
