@import 'example-components';

@include create_shape('corn:::ExampleShape', (
    _components: (
        map-merge($Example__Container, (
            _components: (
                $Example__Title,
                map-merge($Example__Body, (
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                        $Example__Subtitle, // appear in dev-math
                        map-merge($Example__Problem, (
                            _components: (
                                map-merge($Example__Problem__Title--Default, ( // added via recipe in statistics
                                  _components:(
                                    $Example__Problem__Title__Icon,
                                    $Example__Problem__Title__Label,
                                  )
                                )),
                                $Example__Problem__Title, // appear in precalculus
                            )
                        )),
                        map-merge($Example__Solution, (
                            _components: (
                                map-merge($Example__Solution__Title, (
                                    _components: (
                                        $Example__Solution__Title__Icon,
                                        $Example__Solution__Title__Label,
                                        $Example__Solution__Title__Number, // appear in statistics
                                    )
                                )),
                            )
                        )),
                        map-merge($Example__Commentary, (
                            _components: (
                                map-merge($Example__Commentary__Title, (
                                    _components: (
                                        $Example__Commentary__Title__Icon,
                                        $Example__Commentary__Title__Label
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
