$Example__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        border-top-width: 0.09rem,
        border-top-style: solid,
        border-top-color: enum('ValueSet:::REQUIRED'),
        border-bottom-width: 0.09rem,
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        margin-bottom: v-spacing(2),
        display: block,
        box-decoration-break: slice,
    )
);

$Example__Title: (
    _name: "Title",
    _subselector: ' > h3.os-title',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        text-transform: uppercase,
        background-color: enum('ValueSet:::REQUIRED'),
        display: table,
        padding: v-spacing(1),
        vertical-align: top,
    )
);

$Example__Body: (
    _name: "Body",
    _subselector: ' > .body',
    _properties: (
        padding-top: v-spacing(1),
        padding-bottom: v-spacing(1),
    )
);

$Example__Solution: empty_wrapper(Solution, ' [data-type="solution"]');

$Example__Solution__Title: (
    _name: "SolutionTitle",
    _subselector: ' > [data-type="solution-title"]',
    _properties: (
        display: flex,
        flex-direction: row,
        align-items: center,
    )
);

$Example__Solution__Title__Label: (
    _name: "SolutionTitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
    )
);

$Example__Solution__Title__Icon: (
    _name: "SolutionTitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: 1rem,
        width: 1rem,
        padding-right: h-spacing(1),
        content: "''",
    )
);
