// Containers
$ExerciseModule__Container: empty_wrapper(ExerciseModuleContainer, '');

$Exercise__Container: (
      _name: "ExerciseContainer",
      _subselector: ' [data-type="exercise"]',
      _properties: (
        margin-bottom: v-spacing(1),
        display: enum('ValueSet:::OPTIONAL'), //used in three column exercises
        width: enum('ValueSet:::OPTIONAL'), //used in multicolumn layout
        padding-right: v-spacing(1),
      )
);

//This component is [data-type="exercise"] with class .material-set-2 placed in the 3 column exercises but has to be displayed in 2 columns due to specs
$Exercise__Container--MaterialSet2: (
      _name: "ExerciseContainerMaterialSet2",
      _subselector: ' [data-type="exercise"].material-set-2',
      _properties: (
        display: inline-table,
        margin-bottom: v-spacing(1),
        width: 48%,
        padding-right: v-spacing(1),
      )
);

$Exercise__Container--FromExample: empty_wrapper(ExerciseFromExample, '');

// Problem components
$Exercise__Problem__Wrapper: (
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
        overflow-wrap: break-word,
    )
);

$Exercise__Problem__Container: exerciseChildContainer((child: problem, name: "ProblemContainer", hasImageTableOnTop: false, hasInlineListOnTop: false));
$Exercise__Problem__Container--WithImageTableOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithImageTableOnTop", hasImageTableOnTop: true, hasInlineListOnTop: false));
$Exercise__Problem__Container--WithInlineListOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithInlineLitsOnTop", hasImageTableOnTop: false, hasInlineListOnTop: true));

$Exercise__Problem--FromExample: empty_wrapper(ExerciseProblemFromExample, ' > [data-type="problem"]'); // ToDo: remove "Wrapper" from component with properties and use here for empty wrapper

// Solution components
$Exercise__Solution: (
  _name: "ExerciseSolution",
  _subselector: ' [data-type="solution"]', // has to be non direct child
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in three column exercises
    overflow-wrap: enum('ValueSet:::OPTIONAL'), //used in three column exercises
    margin-bottom: v-spacing(2),
    width: enum('ValueSet:::OPTIONAL'), //used in three column exercises
    padding-right: enum('ValueSet:::OPTIONAL'), //used in three column exercises
  )
);

$Exercise__Solution__Container: (
    _name: "ExerciseSolutionContainer",
    _subselector: " > .os-solution-container",
    _properties:(
      display: table-cell,
      width: 100%,
      padding-left: v-spacing(1),
    )
);

$Exercise__Solution__Container--WithFirstElement: (
    _name: "ExerciseSolutionContainerWithFirstElement",
    _subselector: " > .os-solution-container.has-first-element",
    _properties:(
      display: table-cell,
      vertical-align: bottom,
      padding-top: v-spacing(1),
      width: 100%,
      padding-left: v-spacing(1),
    )
);

$Exercise__Solution__Container--WithInlineListOnTop: (
    _name: "ExerciseSolutionContainerWithInlineListOnTop",
    _subselector: " > .os-solution-container.has-first-inline-list-element",
    _properties:(
      display: table-cell,
      vertical-align: bottom,
      width: 100%,
      padding-left: v-spacing(1),
    )
);

$Exercise__Solution--FromExample: empty_wrapper(ExerciseSolutionFromExample, ' > [data-type="solution"]'); // ToDo: remove "Wrapper" from component with properties and use here for empty wrapper

// Commentary components

$Exercise__Commentary: empty_wrapper(ExerciseCommentary, ' > [data-type="commentary"]');

// General problem and solution components
$Exercise__ProblemSolution__Paragraph:(
  _name: "ProblemSolutionParagraph",
  _subselector: " > p",
  _properties:(
    max-width: 100%,
    padding-right: v-spacing(1),
    margin-bottom: 0
  )
);

$Exercise__ProblemSolution__Number: (
  _name: "ProblemSolutionNumber",
  _subselector: ' > .os-number',
  _properties: (
    display: table-cell,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: (enum('ValueSet:::OPTIONAL'), bold),
    width:  enum('ValueSet:::OPTIONAL'), // Used in one column exercises, answer key
    text-align: enum('ValueSet:::OPTIONAL'), // Used in one column exercises, answer key
  )
);

$Exercise__ProblemSolution__Divider: (
  _name: "ProblemSolutionDivider",
  _subselector: " > .os-divider",
  _properties:(
    margin-right: h-spacing(1),
    display: enum('ValueSet:::OPTIONAL'), //used in answer key
  )
);

// Injected exercise components
$InjectedExercise__Container: (
      _name: "InjectedExerciseContainer",
      _subselector: ' [data-type="injected-exercise"]',
      _properties: (
        margin-bottom: (enum('ValueSet:::OPTIONAL'), v-spacing(1)),
        padding-right: v-spacing(1),
      )
);

$InjectedExercise--Multipart__QuestionIndent: (
      _name: "MultipartQuestionIdent",
      _subselector: ' [data-type="injected-exercise"][data-is-multipart="True"] > [data-type="exercise-question"]',
      _properties: (
        margin-left: (enum('ValueSet:::OPTIONAL'), h-spacing(2)),
      )
);

$InjectedExercise__Question__Wrapper: (
    _name: "QuestionWrapper",
    _subselector: " [data-type='exercise-question']",
    _properties:(
        display: table,
        overflow-wrap: break-word,
    )
);

$InjectedExercise__Solution: (
  _name: "InjectedSolution",
  _subselector: ' [data-type="question-solution"]', // has to be non direct child
  _properties: (
    margin-bottom: (enum('ValueSet:::OPTIONAL'), v-spacing(2)),
  )
);

// Exercise titles components
$Exercise__Title--Problem: (
    _name: "ProblemTitle",
    _subselector: ' [data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
    )
);

$Exercise__Title--ProblemDefault: ( // title created by recipe for statistics
    _name: "DefaultProblemTitle",
    _subselector: ' > [data-type="problem-title"]',
    _properties: (
        display: flex,
        flex-direction: row,
        align-items: center,
    )
);

$Exercise__Title--Solution: (
    _name: "SolutionTitle",
    _subselector: ' > [data-type="solution-title"]',
    _properties: (
        display: flex,
        flex-direction: row,
        align-items: center,
    )
);

$Exercise__Title--Commentary: (
    _name: "CommentaryTitle",
    _subselector: ' > [data-type="commentary-title"]',
    _properties: (
        display: flex,
        flex-direction: row,
        align-items: center,
    )
);

$Exercise__Title__Icon--Solution: (
    _name: "ExerciseTitleSolutionIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: 1rem,
        width: 1rem,
        padding-right: h-spacing(1),
        content: "''",
    )
);

$Exercise__Title__Icon--Commentary: (
    _name: "ExerciseTitleCommentaryIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'), //has different icon than solution
        background-size: contain,
        height: 1rem,
        width: 1rem,
        padding-right: h-spacing(1),
        content: "''",
    )
);

$Exercise__Title__Icon--Problem: (
    _name: "ExerciseTitleProblemIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'), //has different icon than solution and commentary
        background-size: contain,
        height: 1rem,
        width: 1rem,
        padding-right: h-spacing(1),
        content: "''",
    )
);

$Exercise__Title__Label: (
    _name: "ExerciseTitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
    )
);

$Exercise__Title__Number: (
    _name: "ExerciseTitleNumber",
    _subselector: ' > .os-number',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        margin-left: h-spacing(1),
    )
);


$Exercises_ParagraphTitle: ( // should be styled in multi molumn exercises
    _name: "ExercisesParagraphTitle",
    _subselector: ' > p > [data-effect="bold"]',
    _properties: (
        color: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
        font-family: enum('ValueSet:::OPTIONAL'), // Used only in multic olumn exercises
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-top: enum('ValueSet:::OPTIONAL'),
        font-style: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
    )
);

$Exercises_ParagraphTitle--Italic: ( // should be styled in multi molumn exercises
    _name: "ExercisesParagraphTitleItalic",
    _subselector: ' > p',
    _properties: (
        color: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
        font-family: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
        font-size: font-scale(0),
        line-height: line-height(0),
        font-style: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
        margin-top: enum('ValueSet:::OPTIONAL'), // Used only in multi column exercises
    )
);
