$Exercise__Container: (
      _name: "ExerciseContainer",
      _subselector: ' [data-type="exercise"]',
      _properties: (
        margin-bottom: v-spacing(2),
        display: enum('ValueSet:::OPTIONAL'), //used in 3 column exercises
        width: enum('ValueSet:::OPTIONAL'), //used in multicolumn layout
        padding-right: v-spacing(1),
      )
);

//This component is [data-type="exercise"] with class .material-set-2 placed in the 3 column exercises but has to be displayed in 2 columns due to specs
$Exercise__Container--MaterialSet2: (
      _name: "ExerciseContainerMaterialSet2",
      _subselector: ' [data-type="exercise"].material-set-2',
      _properties: (
        display: inline-table,
        margin-bottom: v-spacing(2),
        width: 48%,
        padding-right: v-spacing(1),
      )
);

$ExercisesModule__Container: empty_wrapper(ExercisesModuleContainer, '');

$ExercisesModule--Multicolumn__Container: (
  _name: "ExercisesMulticolumnModuleContainer",
  _subselector: ' ',
  _properties: (
      margin-bottom: v-spacing(2),
  )
);

// Problem components
$Exercise__Problem__Wrapper: (
    _name: "ProblemWrapper",
    _subselector: " [data-type='problem']",
    _properties:(
        display: table,
        overflow-wrap: break-word,
    )
);

$Exercise__Problem__Container: exerciseChildContainer((child: problem, name: "ProblemContainer", hasImageTableOnTop: false, hasInlineListOnTop: false));
$Exercise__Problem__Container--WithImageTableOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithImageTableOnTop", hasImageTableOnTop: true, hasInlineListOnTop: false));
$Exercise__Problem__Container--WithInlineListOnTop: exerciseChildContainer((child: problem, name: "ProblemContainerWithInlineLitsOnTop", hasImageTableOnTop: false, hasInlineListOnTop: true));

// Solution components
$Exercise__Solution__Wrapper: (
  _name: "SolutionWrapper",
  _subselector: ' [data-type="solution"]',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in 3 column layout
    overflow-wrap: enum('ValueSet:::OPTIONAL'), //used in 3 column layout
    margin-bottom: v-spacing(2),
    width: enum('ValueSet:::OPTIONAL'), //used in 3 column layout
    padding-right: enum('ValueSet:::OPTIONAL'), //used in 3 column layout
  )
);


$Exercise__Solution__Container: exerciseChildContainer((child: solution, name: "SolutionContainer", hasImageTableOnTop: false, hasInlineListOnTop: false));
$Exercise__Solution__Container--WithImageTableOnTop: exerciseChildContainer((child: solution, name: "SolutionContainerWithImageTableOnTop", hasImageTableOnTop: true, hasInlineListOnTop: false));
$Exercise__Solution__Container--WithInlineListOnTop: exerciseChildContainer((child: solution, name: "SolutionContainerWithInlineListOnTop", hasImageTableOnTop: false, hasInlineListOnTop: true));


// General problem and solution components
$Exercise__ProblemSolution__Paragraph:(
  _name: "ProblemSolutionParagraph",
  _subselector: " > p",
  _properties:(
    margin-bottom: v-spacing(1),
    max-width: 100%,
    padding-right: v-spacing(1),
  )
);

$Exercise__ProblemSolution__Number: (
  _name: "ProblemSolutionNumber",
  _subselector: ' > .os-number',
  _properties: (
    display: table-cell,
    text-decoration: none,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
  )
);

$Exercise__ProblemSolution__Divider: (
  _name: "ProblemSolutionDivider",
  _subselector: " > .os-divider",
  _properties:(
    margin-right: h-spacing(1),
    display: enum('ValueSet:::OPTIONAL'), //used in Answer Key
  )
);

// Injected exercise components

$InjectedExercise__Container: (
      _name: "InjectedExerciseContainer",
      _subselector: ' [data-type="injected-exercise"]',
      _properties: (
        margin-bottom: v-spacing(2),
        padding-right: v-spacing(1),
      )
);

$InjectedExercise__Question__Wrapper: (
    _name: "QuestionWrapper",
    _subselector: " [data-type='exercise-question']",
    _properties:(
        display: table,
        overflow-wrap: break-word,
    )
);

$InjectedExercise__Solution__Wrapper: (
  _name: "InjectedSolutionWrapper",
  _subselector: ' [data-type="question-solution"]',
  _properties: (
    margin-bottom: v-spacing(2),
  )
);