// Used in Exercises
$Image: (
    _name: "Image",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Image--InMedia: (
      _name: "ImageInMedia",
      _subselector: ' > [data-type="media"] > img',
      _properties: (
        display: block,
        margin-bottom: v-spacing(2),
        margin-left: auto,
        margin-right: auto,
      )
);

//General Figure Components
$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure:(
    _name: "Figure",
    _subselector: "> figure",
     _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
     )
);
