$Objectives__Container: empty_wrapper(Container, '');

$ChapterObjectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin: 0,
  )
);

$LearningObjectives__Paragraph--Specific: ( // check if it is still needed in contemporary math (content not ready), otherwise only one Learning Objectives shape will be needed with separate selector in setttings
  _name: "SpecificParagraph",
  _subselector: ' > p:nth-child(2)',
  _properties: (
    margin: 0,
  )
);

$LearningObjectives__ListItem--Wrapper: empty_wrapper(ListItem, ' > li');

$Objectives__ListItem: (
  _name: 'ListItem',
  _subselector: ' > li',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: 0.5rem,
    padding-left: h-spacing(2),
    display: block,
  )
);

$LearningObjectives__Token--Number: (
  _name: "NumberToken",
  _subselector: ' > span.os-abstract-token',
  _properties: (
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
    margin-right: h-spacing(1),
  )
);

$Objectives__UnorderedList: (
    _name: "ObjectivesUnorderedList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(1),
        list-style-type: none,
    )
);
