$LearningObjectives__Container: empty_wrapper(Container, '');

$ChapterObjectives__Body: empty_wrapper(ObjectivesBody, ' > .os-note-body');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    font-weight: bold,
    margin: 0,
  )
);

$LearningObjectives__Paragraph--Specific: (
  _name: "SpecificParagraph",
  _subselector: ' > p:nth-child(2)',
  _properties: (
    font-weight: bold,
    margin: 0,
  )
);

$LearningObjectives__List__Item--Wrapper: empty_wrapper(ListItem, ' > li');

$LearningObjectives__List__Item: (
  _name: 'ListItem',
  _subselector: ' > li',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: 0.5rem,
    padding-left: h-spacing(2),
    display: block,
  )
);

$LearningObjectives__Number: (
  _name: "Number",
  _subselector: ' > span.os-abstract-token',
  _properties: (
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
    margin-right: h-spacing(1),
  )
);
