$LearningObjectives__Container: empty_wrapper(Container, '');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    font-weight: bold,
    margin: 0,
  )
);

$LearningObjectives__List__Item: empty_wrapper(ListItem, '');

$LearningObjectives__List__Icon: (
  _name: 'ListIcon',
  _subselector: '::before',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: 0.5rem,
    width: 0.5rem,
    display: inline-block,
    position: relative,
    content: "''",
    margin-right: h-spacing(1),
    bottom: 0.1rem,
  )
);
