$Link--Regular: (
  _name: "RegularLink",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Link--Notes: (
  _name: "NotesLink",
  _subselector: ' a',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    text-decoration: none,
  )
);

$Link--Notes__Href: (
  _name: "NotesLinkHref",
  _subselector: ' a[href^="http"]::after',
  _properties: (
    content: '(attr(href))',
    color: enum('ValueSet:::REQUIRED'),
    text-decoration: underline,
  )
);
