$ListContainer: empty_wrapper(Container, '');

$ListWrapper--FirstLevel: empty_wrapper(FirstLevel, ' > section');
$ListWrapper--SecondLevel: empty_wrapper(SecondLevel, ' > section > section');
$ListWrapper--ThirdLevel: empty_wrapper(ThirdLevel, ' > section > section > section');

$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$UnorderedList--LearningObjectives: (
    _name: "LearningObjectivesList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(1),
        list-style-type: none,
    )
);

$UnorderedList--Unstyled: ( //used in Media note
    _name: "UnstyledUnorderedList",
    _subselector: " > ul",
    _properties:(
        list-style-type: none,
    )
);

//Stepwise lists
$OrderedList--Stepwise: empty_wrapper(StepwiseList, ' ol.os-stepwise'); //ToDo add to composite pages lists after merge https://github.com/openstax/cnx-recipes/pull/2435

$OrderedList--Stepwise__Item: (
    _name: "StepwiseListItem",
    _subselector: " > li",
    _properties:(
        display: flex,
        flex-direction: row,
    )
);

$OrderedList--Stepwise__Token: (
    _name: "StepwiseListToken",
    _subselector: " > .os-stepwise-token",
    _properties:(
        flex-shrink: 0,
        margin-right: h-spacing(1),
    )
);
