$ListContainer: empty_wrapper(Container, '');

$ListSectionWrapper--FirstLevel: empty_wrapper(SectionFirstLevel, ' > section');
$ListSectionWrapper--SecondLevel: empty_wrapper(SectionSecondLevel, ' > section > section');
$ListSectionWrapper--ThirdLevel: empty_wrapper(SectionThirdLevel, ' > section > section > section');
$ListContainerWrapper--FirstLevel: empty_wrapper(ContainerFirstLevel, ' > div');
$ListContainerWrapper--SecondLevel: empty_wrapper(ContainerSecondLevel, ' > div > div');

$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

//Tokens Lists
$OrderedTokensList--Inline: (
    _name: "InlineOrderedTokensList",
    _subselector: " > ol.circled",
    _properties:(
        display: inline,
        list-style-type: none,
        padding-right: .5rem,
        margin-left: enum('ValueSet:::OPTIONAL'), //used in Answer Key
    )
);

$UnorderedTokensList--Inline: (
    _name: "UnorderedTokensListInline",
    _subselector: " > ul.circled",
    _properties:(
        list-style-type: none,
        display: inline,
        padding-right: .5rem
    )
);

$TokensList__Item--Inline: (
    _name: "InlineTokensListItem",
    _subselector: " > li",
    _properties:(
       padding-right: column-v-spacing(1),
       display: inline-block,
    )
);

$UnorderedList--LearningObjectives: (
    _name: "LearningObjectivesList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(1),
        list-style-type: none,
    )
);

//used in Media Note, Answer Key
$UnorderedList--Unstyled: (
    _name: "UnstyledUnorderedList",
    _subselector: " > ul",
    _properties:(
        list-style-type: none,
    )
);

$OrderedList--Unstyled: (
    _name: "UnstyledOrderedList",
    _subselector: " > ul",
    _properties:(
        list-style-type: none,
    )
);
