@import 'lists-components';
@import 'figureimage-components';
@import 'table-components';

@include create_shape('corn:::PageListsShape',(
    _components:(
        map-merge($ListContainer,(
            _components:(
                $UnorderedList--FirstLevel,
                $OrderedList--FirstLevel,
                map-merge($OrderedList--Stepwise,(
                    _components:(
                        map-merge($OrderedList--Stepwise__Item,(
                            _components:(
                                $OrderedList--Stepwise__Token,
                                map-merge($OrderedList--Stepwise__Content,(
                                    _components: (
                                        $UnorderedList--FirstLevel,
                                    )
                                )),
                            ),
                        )),
                    ),
                )),
                map-merge($DivWrapper--FirstLevel, (
                    _components:(
                        $UnorderedList--FirstLevel,
                        map-merge($SectionWrapper--SecondLevel, (
                            _components:(
                                $UnorderedList--FirstLevel,
                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--EOS, (
                    _components:(
                        map-merge($SectionWrapper--SecondLevel, (
                            _components: (
                                map-merge($UnorderedList--FirstLevel,(
                                    _components:(
                                        $ListItem--EOSIntructions,
                                        map-merge($UnorderedList--SecondLevel,(
                                            _components: (
                                                $ListItem--EOSIntructions
                                            )
                                        )),

                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--SecondLevel, (
                    _components:(
                        $OrderedList--FirstLevel,
                        map-merge( $UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                        map-merge($SectionWrapper--FirstLevel, (
                            _components:(
                                $UnorderedList--FirstLevel,
                            ),
                        )),
                    ),
                )),
                map-merge($SectionWrapper--FirstLevel,(
                    _components:(
                        map-merge($UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                        map-merge($CircledList,(
                            _components: (
                                map-merge($CircledList__Item,(
                                    _components: (
                                        $CircledList__Token,
                                    )
                                )),
                            )
                        )),
                        map-merge($DivWrapper--FirstLevel, (
                            _components: (
                                $UnorderedList--FirstLevel,
                            )
                        )),
                    ),
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components:(
                        map-merge($UnorderedList--FirstLevel,(
                            _components:(
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                            ),
                        )),
                        map-merge($OrderedList--FirstLevel,(
                            _components:(
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                            ),
                        )),
                        map-merge($DivWrapper--FirstLevel, (
                            _components:(
                                $UnorderedList--FirstLevel,
                                $OrderedList--FirstLevel,
                            ),
                        )),
                        map-merge($CircledList,(
                            _components: (
                                map-merge($CircledList__Item,(
                                    _components: (
                                        $CircledList__Token,
                                    )
                                )),
                            )
                        )),
                    ),
                )),
                map-merge($SectionWrapper--ThirdLevel,(
                    _components:(
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                    ),
                )),
            ),
        )),
    ),
));

@include create_shape('corn:::CompositePageListsShape',(
    _components:(
        map-merge($ListContainer,(
            _components:(
                map-merge($SectionWrapper--FirstLevel, (
                    _components: (
                        map-merge($UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                        $OrderedList--FirstLevel,
                        map-merge($DivWrapper--FirstLevel, (
                            _components: (
                                $UnorderedList--FirstLevel,
                                $OrderedList--FirstLevel,
                            )
                        )),
                    )
                )),
                map-merge($SectionWrapper--SecondLevel, (
                    _components: (
                        map-merge($CircledList,(
                            _components: (
                                map-merge($CircledList__Item,(
                                    _components: (
                                        $CircledList__Token,
                                    )
                                )),

                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--SecondLevel,(
                    _components:(
                        map-merge($SectionWrapper--FirstLevel,(
                            _components:(
                                map-merge($UnorderedList--FirstLevel,(
                                    _components:(
                                        $UnorderedList--SecondLevel,
                                        $OrderedList--SecondLevel,
                                    ),
                                )),
                                $OrderedList--FirstLevel,
                                map-merge($OrderedList--Stepwise,(
                                    _components:(
                                        map-merge($OrderedList--Stepwise__Item,(
                                            _components:(
                                                $OrderedList--Stepwise__Token,
                                                map-merge($OrderedList--Stepwise__Content,(
                                                    _components: (
                                                        $UnorderedList--FirstLevel,
                                                    )
                                                )),
                                            ),
                                        )),
                                    ),
                                )),
                            ),
                        )),
                    ),
                )),
            ),
        )),
    ),
));

@include create_shape('corn:::ExercisesInOneColumnListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                map-merge($DivWrapper--FirstLevel,(
                    _components: (
                        map-merge($UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                            )
                        )),
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                                map-merge($Figure__Container--FirstInList,(
                                    _components: (
                                        $Image--FirstInList,
                                    )
                                )),
                                map-merge($Table__Container--FirstInList, (
                                    _components: (
                                        $Table--FirstInList,
                                    )
                                )),
                            )
                        )),
                        map-merge($ParaWrapper--FirstLevel,(
                            _components: (
                                $CircledList__Token,
                            )
                        )),
                        map-merge($CircledList,(
                            _components: (
                                map-merge($CircledList__Item,(
                                    _components: (
                                        $CircledList__Token,
                                        map-merge($Media__Container--FirstInCircledList,(
                                            _components: (
                                                $Image--FirstInList,
                                            )
                                        )),
                                        map-merge($Table__Container--FirstInCircledList, (
                                            _components: (
                                                $Table--FirstInList,
                                            )
                                        ))
                                    )
                                )),

                            )
                        )),
                        map-merge($UnorderedList--Labeled,(
                            _components: (
                                map-merge($ListItem__Wrapper,(
                                    _components: (
                                        $CircledList__Token,
                                    )
                                )),

                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--SecondLevel, (
                    _components: (
                        $UnorderedList--FirstLevel,
                    )
                )),
            )
        )),
    )
));

@include create_shape('corn:::ExercisesInMultiColumnListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                map-merge($DivWrapper--FirstLevel,(
                    _components: (
                        map-merge($UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                            )
                        )),
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                                map-merge($Figure__Container--FirstInList,(
                                    _components: (
                                        $Image--FirstInList,
                                    )
                                )),
                                map-merge($Table__Container--FirstInList, (
                                    _components: (
                                        $Table--FirstInList,
                                    )
                                )),
                            )
                        )),
                        map-merge($ParaWrapper--FirstLevel,(
                            _components: (
                                $CircledList__Token--MultiColumn,
                            )
                        )),
                        map-merge($CircledList--MultiColumn,(
                            _components: (
                                map-merge($CircledList__Item--MultiColumn,(
                                    _components: (
                                        $CircledList__Token--MultiColumn,
                                        map-merge($Media__Container--FirstInCircledList,(
                                            _components: (
                                                $Image--FirstInList,
                                            )
                                        )),
                                        map-merge($Table__Container--FirstInCircledList, (
                                            _components: (
                                                $Table--FirstInList,
                                            )
                                        ))
                                    )
                                )),

                            )
                        )),
                        map-merge($UnorderedList--Labeled,(
                            _components: (
                                map-merge($ListItem__Wrapper,(
                                    _components: (
                                        $CircledList__Token--MultiColumn,
                                    )
                                )),

                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--SecondLevel, (
                    _components: (
                        $UnorderedList--FirstLevel,
                    )
                )),
            )
        )),
    )
));


@include create_shape('corn:::NotesListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                $UnorderedList--FirstLevel,
                map-merge($OrderedList--FirstLevel,(
                    _components: (
                        $UnorderedList--SecondLevel,
                        map-merge($OrderedList--SecondLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--FirstLevel, (
                    _components: (
                        $UnorderedList--FirstLevel,
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                map-merge($OrderedList--SecondLevel, (
                                    _components: (
                                        $OrderedList--SecondLevel,
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($DivWrapper--FourthLevel, ( // styles list within injected exercise within note
                    _components: (
                        $UnorderedList--FirstLevel,
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                map-merge($OrderedList--SecondLevel, (
                                    _components: (
                                        $OrderedList--SecondLevel,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
