$ListContainer: empty_wrapper(Container, '');

$SectionWrapper--FirstLevel: empty_wrapper(FirstLevel, ' > section');
$SectionWrapper--SecondLevel: empty_wrapper(SecondLevel, ' > section > section');
$SectionWrapper--ThirdLevel: empty_wrapper(ThirdLevel, ' > section > section > section');

$DivWrapper--FirstLevel: empty_wrapper(FirstLevel, ' > div');
$DivWrapper--SecondLevel: empty_wrapper(SecondLevel, ' > div > div');
$DivWrapper--ThirdLevel: empty_wrapper(ThirdLevel, ' > div > div > div');

$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$UnorderedList--LearningObjectives: (
    _name: "LearningObjectivesList",
    _subselector: " > ul",
    _properties:(
        margin-left: h-spacing(1),
        list-style-type: none,
    )
);
