$Objectives__Container: empty_wrapper(Container, '');

$Objectives__NoteBody: empty_wrapper(ObjectivesNoteBody, ' > .os-note-body');

$Objectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p:first-of-type',
  _properties: (
    margin: 0,
  )
);

// Chapter Outline
$ChapterOutline__Container: (
    _name: "ChapterOutlineContainer",
    _subselector: '',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: 500,
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: 1.5rem,
    )
);

$ChapterObjective__List: (
    _name: "ChapterObjectiveList",
    _subselector: ' > ul.os-chapter-objectives',
    _properties: (
        list-style: none,
        margin: 0,
        padding: 0
    )
);
$ChapterObjective__Container: empty_wrapper(ChapterObjectiveContainer, ' > li.os-chapter-objective');

$ChapterObjective__Link: (
    _name: "ChapterObjectiveLink",
    _subselector: ' > a.os-chapter-objective',
    _properties: (
        display: inline-block,
        text-decoration: none,
        color: enum('ValueSet:::REQUIRED'),
        padding-left: v-spacing(1),
        border-left-width: 0.2727rem,
        border-left-style: solid,
        border-left-color:  enum('ValueSet:::REQUIRED'),
    )
);

$ChapterObjective__Text: (
    _name: "ChapterObjectiveText",
    _subselector: ' > .os-text',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
    )
);
