$Table__Container: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        margin-bottom: table-v-spacing(2),
        margin-top: table-v-spacing(1),
        display: enum('ValueSet:::OPTIONAL'),
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-right: enum('ValueSet:::OPTIONAL'),
        max-width: enum('ValueSet:::OPTIONAL'),
        table-layout: enum('ValueSet:::OPTIONAL'),
    )
);

$Table__Title: (
    _name: "TableTitle",
    _subselector: " > .os-table-title",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        line-height: line-height(0),
        text-align: center,
        margin-bottom: v-spacing(1),
    )
);

$Table: (
    _name: "Table",
    _subselector: " > table",
    _properties: (
        border-collapse: enum('ValueSet:::OPTIONAL'),
        border-spacing: enum('ValueSet:::OPTIONAL'),
        table-layout: enum('ValueSet:::OPTIONAL'), //used in Exercises
        max-width: enum('ValueSet:::OPTIONAL'), //used in Exercises
        break-inside: enum('ValueSet:::OPTIONAL'), //used in Tables in Formula Review Two Column Vertical Shape
    )
);

$Table__Head: empty_wrapper(TableHead, ' > thead');

$Table__Head__Cell: (
    _name: "TableHeadCell",
    _subselector: " > th",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-weight: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(0),
        padding-top: enum('ValueSet:::REQUIRED'), //used in AnswerKey
        padding-bottom: enum('ValueSet:::REQUIRED'), //used in AnswerKey
        padding-right: enum('ValueSet:::REQUIRED'), //used in Exercises
        padding-left: enum('ValueSet:::REQUIRED'), //used in Exercises
        background-color: enum('ValueSet:::OPTIONAL'),
    )
);

$Table__Head__Cell--FirstChild: (
    _name: "TableHeadCellFirstChild",
    _subselector: ":first-child",
    _properties: (
        border-top-left-radius: 0.25rem,
    )
);
$Table__Head__Cell--LastChild: (
    _name: "TableHeadCellLastChild",
    _subselector: ":last-child",
    _properties: (
        border-top-right-radius: 0.25rem,
    )
);
$Table__Body: empty_wrapper(TableBody, ' > tbody');

$Table__Row: empty_wrapper(TableRow, ' > tr');

$Table__Data: (
    _name: "TableData",
    _subselector: " > td",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        border-width: enum('ValueSet:::OPTIONAL'), //propety used in Basic and Column Header Tables
        border-style: enum('ValueSet:::OPTIONAL'), //propety used in Basic and Column Header Tables
        border-color: enum('ValueSet:::OPTIONAL'), //propety used in Basic and Column Header Tables
        padding-top:  enum('ValueSet:::REQUIRED'), //used in AnswerKey
        padding-bottom: enum('ValueSet:::REQUIRED'), //used in AnswerKey
        padding-left: enum('ValueSet:::REQUIRED'), //used in Exercises
        padding-right: enum('ValueSet:::REQUIRED'), //used in Exercises
        color: enum('ValueSet:::REQUIRED'),
        vertical-align: enum('ValueSet:::OPTIONAL'), //propety used in Basic and Column Header Tables
        text-align: enum('ValueSet:::OPTIONAL'), //propety used in Basic and Column Header Tables
        border-bottom-width: enum('ValueSet:::OPTIONAL'), //propety used in Unumbered Unstyled Tables
        border-bottom-style: enum('ValueSet:::OPTIONAL'), //propety used in Unumbered Unstyled Tables
        border-bottom-color: enum('ValueSet:::OPTIONAL'), //propety used in Unumbered Unstyled Tables
    )
);

$Table__Data--LeftAligned: (
    _name: "LeftAlignedTabledata",
    _subselector: " > td[data-align="left"]",
    _properties: (
        text-align: left,
    )    
);

$Table__Data--RightAligned: (
    _name: "RightAlignedTabledata",
    _subselector: " > td[data-align="right"]",
    _properties: (
        text-align: right,
    )    
);

$Table__Data--Centered: (
    _name: "CenteredTabledata",
    _subselector: " > td[data-align="center"]",
    _properties: (
        text-align: center,
    )    
);

$Table__Head__Row: empty_wrapper(TableHeadRow, ' > tr');

$Table__Row--Last: empty_wrapper(TableLastRow, ' > tr:last-of-type');

$Table__Data--Last: (
    _name: "LastTabledata",
    _subselector: " > td:last-child",
    _properties: (
        border-bottom-right-radius: 0.25rem,
    )    
);

$Table__Data--First: (
    _name: "FirstTabledata",
    _subselector: " > td:first-child",
    _properties: (
        border-bottom-left-radius: 0.25rem,
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
    )    
);

$Table__Data--FirstType: (
    _name: "FirstTableDataType",
    _subselector: " > td:first-of-type",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
        font-weight: bold,
        border: none,
        background-color: enum('ValueSet:::OPTIONAL'),
    )
);

// Used in Exercises, Formula Review    
$Table--Eoc__Container: (
    _name: "EocTableContainer",
    _subselector: " > .os-table",
    _properties: (
        margin-left: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::REQUIRED'),
    )
);

// Used in Exercises List Shape

$Table--FirstInList: (
    _name: "TableFirstInList",
    _subselector: " table",
    _properties:(
        vertical-align: top,
        display: inline-table,
    )
);

$Table__Container--FirstInList: empty_wrapper(TableContainerFirstChild, ' > li > .os-table:first-child');
$Table__Container--FirstInCircledList: empty_wrapper(TableContainerFirst, ' > os.table:nth-child(2)');
