@import '_table-components';
@import '_caption-components';
@import '_lists-components';

@include create_shape('corn:::BasicTableShape',  (
    _components: (
        map-merge($Table__Container, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Head__Row, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--FirstChild,
                                                $Table__Head__Cell--LastChild,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                      $Table__Data,
                                      $Table__Data--LeftAligned,
                                      $Table__Data--RightAligned,
                                      $Table__Data--Centered,
                                    )
                                )),
                                map-merge($Table__Row--Last, (
                                    _components: (
                                        $Table__Data--First,
                                        $Table__Data--Last,
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title__Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));

@include create_shape('corn:::ColumnHeaderTableShape',  (
    _components: (
        map-merge($Table__Container, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Head__Row, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--FirstChild,
                                                $Table__Head__Cell--LastChild,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        $Table__Data,
                                        $Table__Data--FirstType,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    )
                                )),
                                map-merge($Table__Row--Last, (
                                    _components: (
                                        $Table__Data--First--ColHeader,
                                        $Table__Data--Last,
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title__Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));

@include create_shape('corn:::UnnumberedUnstyledTableShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Head__Row, (
                                    _components: (
                                        $Table__Head__Cell,
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $CircledList__Token,
                                            )
                                        )),
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));

@include create_shape('corn:::TopTitledTableShape',  (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Head__Row, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--FirstChild,
                                                $Table__Head__Cell--LastChild,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                      $Table__Data,
                                      $Table__Data--LeftAligned,
                                      $Table__Data--RightAligned,
                                      $Table__Data--Centered,
                                    )
                                )),
                                map-merge($Table__Row--Last, (
                                    _components: (
                                        $Table__Data--First,
                                        $Table__Data--Last,
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title__Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));
