$TableContainer: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        margin-bottom: table-v-spacing(2),
        display: enum('ValueSet:::OPTIONAL'),
        margin-left: enum('ValueSet:::OPTIONAL'),
        margin-right: enum('ValueSet:::OPTIONAL'),
    )
);

$Table: (
    _name: "Table",
    _subselector: " > table",
    _properties: (
        border-collapse: enum('ValueSet:::OPTIONAL'),
        border-spacing: enum('ValueSet:::OPTIONAL'),
    )
);

$TableHead: empty_wrapper(TableHead, ' > thead');

$TableHeadCell: (
    _name: "TableHeadCell",
    _subselector: " > th",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        border-bottom: enum('ValueSet:::OPTIONAL'),
        border-top: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::OPTIONAL'),
    )
);

$TableHeadCellFirstChild: (
    _name: "TableHeadCellFirstChild",
    _subselector: ":first-child",
    _properties: (
        border-top-left-radius: 0.25rem,
    )
);
$TableHeadCellLastChild: (
    _name: "TableHeadCellLastChild",
    _subselector: ":last-child",
    _properties: (
        border-top-right-radius: 0.25rem,
    )
);
$TableBody: empty_wrapper(TableBody, ' > tbody');

$TableRow: empty_wrapper(TableRow, ' > tr');

$TableData: (
    _name: "TableData",
    _subselector: " > td:not(:only-of-type)",
    _properties: (
        font-family: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(0),
        border-width: enum('ValueSet:::REQUIRED'),
        border-style: enum('ValueSet:::REQUIRED'),
        border-color: enum('ValueSet:::REQUIRED'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        color: enum('ValueSet:::REQUIRED'),
        vertical-align: top,
    )
);

$TableHeadRow: empty_wrapper(TableHead, ' > tr');

$LastTableRowData: (
    _name: "LastTableRowData",
    _subselector: " > tr:last-of-type > td",
    _properties: (
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        border-bottom-width: 0.1rem,
        border-bottom-style: solid,
    )    
);

$LastTableRow: (
    _name: "LastTableRow",
    _subselector: " > tr:last-of-type",
    _properties: (
    )    
);

$LastTableData: (
    _name: "LastTabledata",
    _subselector: " > td:last-child",
    _properties: (
        border-bottom-right-radius: 0.25rem,
    )    
);

$FirstTableData: (
    _name: "FirstTabledata",
    _subselector: " > td:first-child",
    _properties: (
        border-bottom-left-radius: 0.25rem,
    )    
);
