$Chapter__Container: empty_wrapper(Chapter, '');

$Title__Container: (
    _name: "TitleContainer",
  _subselector: ' > [data-type="document-title"]',
  _properties: (
      position: relative,
      top: 20rem,
      z-index:1,
)
);

$Title__Text: (
  _name: "TitleText",
  _subselector: '> .os-text',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    position: relative,
    margin-left: 8rem,
  )
);
$Title__PartText: (
  _name: "TitlePartText",
  _subselector: '> .os-part-text',
  _properties: (
    display: none,
  )
);

$Title__Number: (
  _name: "TitleNumber",
  _subselector: '> .os-number',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    border-style: solid,
    border-width: 0.07rem,
    border-color: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    // letter-spacing: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding: 0.5rem,
    position: absolute,
    left: 0,
    top: 50%,
    transform: translate(0, -50%),
  )
);