$Chapter__Container: empty_wrapper(Chapter, '');

$H1--Numbered: (
    _name: "H1Numbered",
  _subselector: ' > h1[data-type="document-title"]',
  _properties: (
      position: relative,
      top: 20rem,
      z-index:2,
)
);

$H1--Numbered__Text: (
  _name: "TitleText",
  _subselector: '> .os-text',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    position: relative,
    margin-left: 8rem,
    filter: enum('ValueSet:::REQUIRED'),
  )
);
$H1--Numbered__PartText: (
  _name: "TitlePartText",
  _subselector: '> .os-part-text',
  _properties: (
    display: none,
  )
);

$H1--Numbered__Number: (
  _name: "TitleNumber",
  _subselector: '> .os-number',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    border-style: solid,
    border-width: 0.07rem,
    border-color: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    padding: 0.5rem,
    position: absolute,
    left: 0,
    top: 50%,
    transform: translate(0, -50%),
    width: v-spacing(3),
    height: v-spacing(3),
    display: flex,
    justify-content: center,
    align-items: center,
  )
);

$Module__Container: empty_wrapper(Module, ' ');
$Chapter--Composite__Container: empty_wrapper(CompositeChapter, '');
$SectionExercises__Container: empty_wrapper(SectionExerciesContainer, ' > .os-eos.os-section-exercises-container');

$H1: (
    _name:"H1Title",
    _subselector: ' > h1',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(4),
        line-height: line-height(4),
        margin-bottom: v-spacing(1),
        column-span: enum('ValueSet:::OPTIONAL'), //use in Index
    )
);

$H2: (
    _name:"H2Title",
    _subselector: ' h2[data-type="document-title"], h2[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
        line-height: line-height(3),
        margin-bottom: v-spacing(1),
    )
);

$H3: (
    _name: "H3Title",
    _subselector: '> section > h3[data-type="title"], [data-type="composite-page"] h3[data-type="title"], section > section > h3[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        )
);

// Exercises H3 Title
$H3--SectionExercises: (
    _name: "H3TitleSectionExercises",
    _subselector: ' > h3[data-type="document-title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        text-transform: uppercase,
        )
);

$H3--SectionExercises__Text: (
    _name: "H3SectionExercisesH3Text",
    _subselector: ' > .os-text',
    _properties: (
        display: inline-block,
        margin-left: v-spacing(1),
    )
);

$H3--SectionExercises__Icon: (
    _name: "H3SectionExercisesIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: v-spacing(4),
        width: v-spacing(4),
        display: inline-block,
        content: "''",
    )
);

$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-weight: bold,
  )
);

$H3--Link:(
    _name: "H3LinkTitle",
    _subselector: " section > a > h3[data-type="document-title"]",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
    )
);

$H4: (
    _name: "H4Title",
    _subselector: ' > section > section > h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        )
);

// Exercises H4 Title
$H4--SectionExercises: (
  _name: "H4TitleSectionExercises",
    _subselector: ' > section > section > h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(2),
        margin-top: v-spacing(1),
        )
);

$H5: (
    _name: "H5Title",
    _subselector: ' > section > section > section > h5[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);