$ChapterContainerComponent: empty_wrapper(Chapter, '');

$TitleContainer: (
    _name: "TitleContainer",
  _subselector: ' > [data-type="document-title"]',
  _properties: (
      position: relative,
      top: 20rem,
      z-index:1,
)
);

$TitleTextComponent: (
  _name: "TitleText",
  _subselector: '> .os-text',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in Chapters
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    position: relative,
    margin-left: 8rem,
  )
);
$TitlePartTextComponent: (
  _name: "TitlePartText",
  _subselector: '> .os-part-text',
  _properties: (
    display: none,
    // color: enum('ValueSet:::REQUIRED'), //used in Appendixes
    // font-family: enum('ValueSet:::OPTIONAL'),
    // font-size: enum('ValueSet:::REQUIRED'),
    // line-height: enum('ValueSet:::REQUIRED'),
    // font-weight: enum('ValueSet:::REQUIRED'),
  )
);

$TitleNumberComponent: (
  _name: "TitleNumber",
  _subselector: '> .os-number',
  _properties: (
    // display: block,
    // padding-bottom: enum('ValueSet:::OPTIONAL'),
    // margin-bottom: enum('ValueSet:::OPTIONAL'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: enum('ValueSet:::REQUIRED'),
    line-height: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    // border-bottom-color: enum('ValueSet:::OPTIONAL'), //changed to OPTIONAL (used in Appendixes not in Chapters)
    // border-bottom-width: enum('ValueSet:::OPTIONAL'),
    // border-bottom-style: enum('ValueSet:::OPTIONAL'),
    border-style: solid,
    border-width: 0.07rem,
    border-color: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
    // letter-spacing: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding: 0.5rem,
    // padding-bottom: 0.25rem,
    // padding-right: 0.5rem,
    // padding-left: 0.5rem,
    position: absolute,
    left: 0,
    top: 50%,
    transform: translate(0, -50%),
  )
);

// @function fullWidthBg($kind, $color) {
//   @return (
//       _name: "#{$kind}Bg",
//       _subselector: '::before',
//       _properties: (
//           content: "''",
//           background-color: $color,
//           position: absolute,
//           // height: 100%,
//           height: enum('ValueSet:::REQUIRED'),
//           width: enum('ValueSet:::REQUIRED'),
//           margin-left: enum('ValueSet:::REQUIRED'),
//           z-index: -2,
//           box-sizing: border-box,
//           padding: inherit,
//           top: 0,
//       ),
//   );
// }

// $ChapterTopBar: fullWidthBg('ChapterTopBar', enum('ValueSet:::REQUIRED'));