//Empty Containers
$Module__Container: empty_wrapper(Module, '');
$Chapter--Composite__Container: empty_wrapper(CompositeChapter, '');
$SectionExercises__Container: empty_wrapper(SectionExerciesContainer, ' > .os-eos.os-section-exercises-container');
$Page__Container: empty_wrapper(PageContainer, '');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');
$Appendix__Container: empty_wrapper(AppendixContainer, '.appendix');
$Chapter__Container: empty_wrapper(ChapterWrapper, '');

//h1 titles without numbers (pages like preface)
$H1: (
    _name:"H1Title",
    _subselector: ' > h1',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(4),
        line-height: line-height(4),
        margin-bottom: v-spacing(1),
        column-span: enum('ValueSet:::OPTIONAL'), //used in Index
    )
);

// Used in Chapter, Appendices
$H1--Numbered: (
  _name: "H1Numbered",
  _subselector: ' > h1[data-type="document-title"]',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in Appendices
    position: enum('ValueSet:::REQUIRED'), //different for Chapter and Appendix
    top: enum('ValueSet:::OPTIONAL'), //used in Chapters
    z-index:enum('ValueSet:::OPTIONAL'), //used in Chapters
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: enum('ValueSet:::REQUIRED'), 
    line-height: enum('ValueSet:::REQUIRED'),
    margin-bottom: enum('ValueSet:::OPTIONAL'), //used in Appendices
  )
);

$H1--Numbered__Text: (
  _name: "TitleText",
  _subselector: '> .os-text',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'), //used in Appendices
    font-weight: bold,
    text-transform: uppercase,
    position: enum('ValueSet:::OPTIONAL'), //used in Chapters
    margin-left: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding-left: enum('ValueSet:::OPTIONAL'), //used in Appendices
    filter: enum('ValueSet:::OPTIONAL'), //used in Chapters
    prince-filter-resolution: enum('ValueSet:::OPTIONAL') //used only in Chapter Titles for drop-shadow filter
  )
);

$H1--Numbered__PartText: (
  _name: "TitlePartText",
  _subselector: '> .os-part-text',
  _properties: (
    display: none,
  )
);

$H1--Numbered__Number: (
  _name: "TitleNumber",
  _subselector: '> .os-number',
  _properties: (
    color: enum('ValueSet:::OPTIONAL'), //used in Appendices
    border-style: solid,
    border-width: enum('ValueSet:::REQUIRED'),
    border-color: enum('ValueSet:::REQUIRED'),
    font-weight: enum('ValueSet:::REQUIRED'),
    text-transform: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding: 0.5rem,
    position: absolute,
    left: 0,
    top: 50%,
    transform: translate(0, -50%),
    width:  enum('ValueSet:::REQUIRED'),
    height:  enum('ValueSet:::REQUIRED'),
    display: enum('ValueSet:::REQUIRED'),
    justify-content: enum('ValueSet:::OPTIONAL'), //used in Chapters
    align-items: enum('ValueSet:::OPTIONAL'), //used in Chapters
    text-align: enum('ValueSet:::OPTIONAL'), //used in Appendices
    vertical-align: enum('ValueSet:::OPTIONAL'), //used in Appendices
  )
);

$H2: (
    _name:"H2Title",
    _subselector: ' h2[data-type="document-title"], h2[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
        line-height: line-height(3),
        margin-bottom: v-spacing(1),
        column-span: enum('ValueSet:::OPTIONAL'), // used only in Formula Review in Statistics
    )
);

$H3: (
    _name: "H3Title",
    _subselector: '> section > h3[data-type="title"], [data-type="composite-page"] h3[data-type="title"], [data-type="composite-page"] h3[data-type="document-title"], section > section > h3[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        )
);

// Exercises H3 Title
$H3--SectionExercises: (
    _name: "H3TitleSectionExercises",
    _subselector: ' > h3[data-type="document-title"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        text-transform: uppercase,
        )
);

$H3--SectionExercises__Text: (
    _name: "H3SectionExercisesH3Text",
    _subselector: ' > .os-text',
    _properties: (
        display: inline-block,
        margin-left: v-spacing(1),
    )
);

$H3--SectionExercises__Icon: (
    _name: "H3SectionExercisesIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: v-spacing(4),
        width: v-spacing(4),
        display: inline-block,
        content: "''",
    )
);

$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-weight: bold,
  )
);

$H3--Link:(
    _name: "H3LinkTitle",
    _subselector: " section > a > h3[data-type="document-title"]",
    _properties:(
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$H4: (
    _name: "H4Title",
    _subselector: ' > section > section > h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
    )
);

$H4--LearningObjectivesCoreq: (
  _name: "H4LearningObjectivesTitle",
  _subselector: ' > h4[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-weight: bold,
  )
);

// Exercises H4 Title
$H4--SectionExercises: (
  _name: "H4TitleSectionExercises",
    _subselector: ' > section > section > h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(2),
        margin-top: v-spacing(1),
        )
);

$H5: (
    _name: "H5Title",
    _subselector: ' > section > section > section > h5[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);

//used in EoC exercises
$H5--Link: (
    _name: "H5LinkTitle",
    _subselector: ' > [data-type="composite-page"] > section > section > h5[data-type="title"] > a',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
         color: enum('ValueSet:::REQUIRED'),
    )
);

// Used in Exercises
$Exercises_Paragraph__Title: (
    _name: "ExercisesParagraphTitle",
    _subselector: ' > p > [data-effect="bold"]',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-top: v-spacing(1),
        font-style: normal,
    )
);

$Exercises_Paragraph__Title--Italic: (
    _name: "ExercisesParagraphTitleItalic",
    _subselector: ' > p',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-style: italic,
        margin-top: v-spacing(1),
        width: 100%,
    )
);

$List__Title: (
  _name:"ListTitle",
  _subselector: ' > [data-type="title"]',
  _properties: (
      font-weight: bold,
      display: block,
  )
);

$Paragraph__Title: (
  _name: "ParagraphTitle",
  _subselector: ' > [data-type="title"]',
  _properties: (
    font-weight: bold,
    display: block,
  )
);

// Chapter Intro Content Title

$H2TextHeader--ChapterIntro: (
    _name: "H2IntroTextHeader",
    _subselector: ' > h2[data-type="document-title"]:first-of-type', 
    _properties: (
        font-size: enum('ValueSet:::OPTIONAL'), 
        margin-bottom: v-spacing(1),
        color: enum('ValueSet:::REQUIRED'),
    )
);

$H2TextHeader__Icon--ChapterIntro: (
  _name: "H2IntroTextHeaderIcon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(4),
    width: v-spacing(4),
    display: inline-block,
    content: "''",
  )
);

$H2TextHeader__Text--ChapterIntro: (
    _name: "H2IntroTextHeaderText",
    _subselector: ' > .os-text', 
    _properties: (
        display: inline-block,
        margin-left: v-spacing(1),
    )
);

$H3SectionTextHeader--ChapterIntro: ( // Title used only in HS Statistics
    _name: "H3IntroSectionHeader",
    _subselector: ' > section > h3[data-type="title"]',
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
    )
);
