@include add_settings((
    AnswerKey: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container'),
    ),
));

@include add_settings((
    AnswerKeyNestedSolutionAreas: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solution-container'),
    ),
));

@include add_settings((
    AnswerKeyThreeColumnsSolution: (
        _selectors: ('.os-eob [data-type="solution"]', '.os-eob [data-type="question-solution"]'),
        AnswerKeySolutionContainer: (
          display: inline-table,
          overflow-wrap: break-word,
          margin-bottom: v-spacing(2),
          width: 29%,
          padding-right: v-spacing(1),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
    ),
));

@include add_settings((
    AnswerKeyOneColumnEocSolution: ( // Used in Statistics, Additive Manufactoring (retired),
        _selectors: ('.os-eoc [data-type="solution"]', '.os-eoc [data-type="question-solution"]'),
        AnswerKeySolutionContainer: (
          display: table,
          margin-bottom: v-spacing(2),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
    ),
));

@include add_settings((
    AnswerKeyOneColumnEobSolution: ( // Used in Contemporary Math
        _selectors: ('.os-eob [data-type="solution"]', '.os-eob [data-type="question-solution"]'),
        AnswerKeySolutionContainer: (
          display: table,
          margin-bottom: 0,
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
    ),
));
