@include add_settings((
    AnswerKey: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container'),
    ),
));

@include add_settings((
    AnswerKeyNestedSolutionAreas: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solution-container'),
    ),
));

@include add_settings((
    AnswerKeyEobSolution: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('.os-eob [data-type="solution"]', '.os-eob [data-type="question-solution"]'),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        ExerciseSolutionContainer: (
            padding-left: v-spacing(1),
        ),
        ExerciseSolutionContainerWithFirstElement: (
            padding-left: v-spacing(1),
        ),
        ExerciseSolutionContainerWithInlineListOnTop: (
            padding-left: v-spacing(1),
        ),
    ),
));

@include add_settings((
    AnswerKeyEocSolution: ( // Used in Statistics, Additive Manufactoring (retired),
        _selectors: ('.os-eoc [data-type="solution"]', '.os-eoc [data-type="question-solution"]'),
        AnswerKeySolutionContainer: (
          margin-bottom: v-spacing(2),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            width: 2%,
            text-align: right,
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        ExerciseSolutionContainer: (
            padding-left: v-spacing(1),
            vertical-align: bottom,
        ),
        ExerciseSolutionContainerWithFirstElement: (
            padding-left: v-spacing(1),
        ),
    ),
));
