@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        H2IntroTextHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(3),
            //color is book specific set in book.scss file
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::baseFont'),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionText: (
            font-family:(_ref:'typography:::baseFont'),
            color: (_ref: "colorMap:::captionColor"),
        ),
        SplashFigureBg: (
            //color is book specific set in book.scss file
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
    )
));

@include add_settings((
    ChapterOutline: (
        _selectors: (".os-chapter-outline"),
        ChapterOutlineContainer: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        ChapterOutlineTitle: (
            margin: 0 0 0.5rem 0,
            font-family: (_ref: "typography:::titleFont"),
            //color is book specific set in book.scss file
        ),
        ChapterObjectiveLink: (
            color: (_ref: "colorMap:::chapterIntrolLinkColor"),
            // font-family: (_ref: "typography:::baseFont"),
            border-left-color: (_ref: "colorMap:::chapterOutlineBarColor"),
        ),
        ChapterObjectiveText: (
            color: black,
        ),
    )
));

