@include add_settings((
    KeyTerm: (
    _selectors: ('.os-glossary-container')
  )
));

@include add_settings((
    FormulaReview: (
    _selectors: ('.os-eoc.os-formula-review-container'),
    Container: (
        column-count: 2,
        column-gap: 2.4rem,
        column-width: auto,
    ),
    H2Title: (
        font-family: (_ref: 'typography:::titleFont'),
        color: (_ref: 'colorMap:::moduleTitleColor'),
        column-span: all,
    ),
    EocTableContainer: (
      margin-left: auto,
      margin-right: auto,
    ),
    Table: (
      table-layout: fixed,
      max-width: 100%,
      break-inside: avoid-column,
    ),
    CaptionContainerTable: (
      break-inside: avoid-column,
    ),
  )
));
