@include add_settings((
    Example:(
        _selectors: ('[data-type="example"]'),
        ExampleContainer: (
            border-top-color: (_ref: 'colorMap:::exampleBorderColor'),
            border-bottom-color: (_ref: 'colorMap:::exampleBorderColor'),
        ),
        ExampleTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleTitleColor'),
            background-color: (_ref: 'colorMap:::exampleBorderColor'),
        ),
        ExampleSubtitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
    ),
));
