@include add_settings((
    ThreeColumnsModuleExercises: ( // Three Column Exercise Module
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section'),
        ExerciseContainer: (
            width: 29%,
            display: inline-table,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: normal,
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: italic,
        ),
        ProblemSolutionNumber: (
            color: black,
        ),
    )
));

@include add_settings((
    WritingExercises: (  // Two Column Exercise Module
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section.writing'),
        ExerciseContainer: (
            width: 48%,
            display: inline-table,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: normal,
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: italic,
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    )
));

@include add_settings((
    EverydayExercises: ( // Two Column Exercise Module
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section.everyday'),
        ExerciseContainer: (
            width: 48%,
            display: inline-table,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: normal,
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: italic,
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));

@include add_settings((
    ReviewExercises: ( // Two Column Exercise Module
        _selectors: ('.os-eoc.os-review-exercises-container > section.review-exercises > section'),
        ExerciseContainer: (
            width: 29%,
            display: inline-table,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: normal,
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: italic,
        ),
        ProblemSolutionNumber: (
            color: black,
        ),
    )
));

@include add_settings((
    PracticeTest: ( // Three Column Exercise Module
        _selectors: ('.os-eoc.os-practice-test-container > section.practice-test'),
        ExerciseContainer: (
            width: 29%,
            display: inline-table,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: normal,
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            margin-top: v-spacing(1),
            font-style: italic,
        ),
        ProblemSolutionNumber: (
            color: black,
        ),
    )
));

// Used in Statistics
@include add_settings(( // One Column Exercise Module
    Practice: (
        _selectors: ('.os-eoc.os-practice-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
    BringingItTogetherPractice: (
        _selectors: ('.os-eoc.os-bring-together-exercises-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
    Homework: (
        _selectors: ('.os-eoc.os-free-response-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
    BringingItTogetherHomework: (
        _selectors: ('.os-eoc.os-bring-together-homework-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    )
));

// Used in Additive Manufacturing
@include add_settings(( // One Column Exercise Module
    ReviewQuestions: (
        _selectors: ('.os-eoc.os-review-questions-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
    CaseQuestions: (
        _selectors: ('.os-eoc.os-case-questions-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
    DiscussionQuestions: (
        _selectors: ('.os-eoc.os-free-response-container'),
        ProblemSolutionNumber: (
            color: black,
            width: 2%,
            text-align: right,
        ),
    ),
));

@include add_settings((
    ExerciseFromExample:(
        _selectors: ('[data-type="example"] [data-type="exercise"]'),
        ProblemTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
        ExerciseTitleProblemIcon: (
          background: url(toDataUri("svg+xml", "designs/corn/resources/corn-problem.svg")) no-repeat top left,
        ),
        ExerciseTitleLabel: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
        ExerciseTitleNumber: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
        ExerciseTitleSolutionIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-solution.svg")) no-repeat top left,
        ),
        ExerciseTitleCommentaryIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-analysis.svg")) no-repeat top left,
        ),
    ),
));
