@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        IndexGroup: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
        IndexPageNumber: (
            content: target-counter(attr(href, url), page),

        ),
    ),
));
