@include add_settings((
    LearningObjectivesAbstract:(
        _selectors: ('[data-type="abstract"]'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ListItem: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));

@include add_settings((
    LearningObjectivesSection:(
        _selectors: ('section.learning-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ListItem: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));

@include add_settings((
    LearningObjectivesNumbered:(
        _selectors: ('[data-type="abstract"]'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        NumberToken: (
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
    ),
));

@include add_settings((
    ChapterObjectives:(
        _selectors: ('[data-type="note"].chapter-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ObjectivesUnorderedList: (
            margin-left: h-spacing(1),
        ),
        ListItem: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));
