@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
    CompositePageLists: (
        _selectors: ('.os-eoc[data-type="composite-page"]'),
    ),
));

@include add_settings((
    CircledListsFromModules: (
        _selectors: ('[data-type="page"]', '.os-eoc[data-type="composite-page"]'),
        CircledListToken: (
            color: (_ref: 'colorMap:::circledListTokenColor'),
        ),
    ),
));

// Used for circled lists in Try It Notes and Examples in all of the corn theme books, in Statistics books, where the exercises and solutions are in one column and in College Algebra Coreq for Coreq Skills exercises which are in one column as well
@include add_settings((
    CircledListsFromOneColumnExercises: (
        _selectors: ('[data-type="page"] > :not(.os-eos) [data-type="problem"]',
                     '[data-type="page"] [data-type="solution"]',
                     '[data-type="page"] > section:not(.os-eos) [data-type="exercise-question"]',
                     '[data-type="page"] [data-type="question-solution"]'),
        CircledListToken: (
            color: (_ref: 'colorMap:::circledListTokenColor'),
        ),
    ),
));

//Section Exercises, EoC exercises, AnswerKey solutions lists for parts with 3 column layout
@include add_settings((
    CircledListsFromMultiColumnsExercises: (
        _selectors: ('.os-eos.os-section-exercises-container [data-type="problem"]',
                     '.os-eos.os-section-exercises-container [data-type="exercise-question"]',
                     '.os-eoc.os-exercises-container [data-type="problem"]',
                     '.os-eoc.os-exercises-container [data-type="exercise-question"]',
                     '.os-eob.os-solution-container [data-type="solution"]',
                     '.os-eob.os-solutions-container [data-type="solution"]'),
        CircledListTokenMultiColumn: (
            color: (_ref: 'colorMap:::circledListTokenColor'),
        ),
    ),
));

@include add_settings((
    ListsFromExercises: (
      _selectors: ('[data-type="problem"]', '[data-type="exercise-question"]', '[data-type="solution"]', '[data-type="question-solution"]'),
    ),
));

@include add_settings((
    ListsFromStimulus: (
        _selectors: ('[data-type="exercise-stimulus"]'),
    ),
));

@include add_settings((
    NotesLists: (
        _selectors: ('[data-type="note"]:not(.media-2):not(.media-notitle):not(.chapter-objectives) > .os-note-body'),
    ),
));

@include add_settings((
    StepwiseLists: (
        _selectors: ('.os-stepwise'),
    )
));

@include add_settings((
    EosLists: (
        _selectors: ('.os-eos'),
        InstructionsListItem: (
            color: (_ref: 'colorMap:::instructionsListItemColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
    )
));
