@include add_settings((
    LearningObjectivesAbstract:(
        _selectors: ('[data-type="abstract"]'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ObjectivesListItemWithCustomBulletIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));

@include add_settings((
    LearningObjectivesSection:(
        _selectors: ('section.learning-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ObjectivesListItemWithCustomBulletIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));

@include add_settings((
    LearningObjectivesNumbered:(
        _selectors: ('[data-type="abstract"]'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ObjectivesNumberToken: (
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
    ),
));

@include add_settings((
    ChapterObjectivesNote:(
        _selectors: ('[data-type="note"].chapter-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        UnstyledListFromObjectives: (
            margin-left: h-spacing(1),
        ),
        ObjectivesListItemWithCustomBulletIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-lolist.svg")) no-repeat left 0.4rem,
        ),
    ),
));

@include add_settings((
    ChapterOutline: (
        _selectors: (".os-chapter-outline"),
        ChapterOutlineContainer: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        H2ChapterOutlineTitle: (
            margin: 0 0 0.5rem 0,
            font-family: (_ref: "typography:::titleFont"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        H3ChapterOutlineTitle: (
            margin: 0 0 0.5rem 0,
            font-family: (_ref: "typography:::titleFont"),
            color: (_ref: "colorMap:::chapterOutlineTitleColor"),
        ),
        ChapterObjectiveLink: (
            color: (_ref: "colorMap:::chapterIntrolLinkColor"),
            // font-family: (_ref: "typography:::baseFont"),
            border-left-color: (_ref: "colorMap:::chapterOutlineBarColor"),
        ),
        ChapterObjectiveText: (
            color: black,
        ),
    )
));
