@include add_settings((
    BasicTable: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: separate,
            border-spacing: 0,
            margin-left: auto,
            margin-right: auto,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-width: 0.09rem,
            border-style: solid,
            border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-left: table-h-spacing(1),
            padding-right: table-h-spacing(1),
            vertical-align: top,
            text-align: center,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
    )
));

@include add_settings((
    ColumnHeader: (
        _selectors: (".os-table.os-column-header-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: separate,
            border-spacing: 0,
            margin-left: auto,
            margin-right: auto,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-width: 0.09rem,
            border-style: solid,
            border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-right: 1rem,
            padding-left: 1rem,
            vertical-align: top,
            text-align: center,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        FirstTableDataType: (
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
    )
));

@include add_settings((
    UnnumberedUnstyledTable: (
        _selectors: (".os-table.os-unstyled-container"),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-left: table-h-spacing(1),
            padding-right: table-h-spacing(1),
            border-bottom-width: 0.09rem,
            border-bottom-style: solid,
            border-bottom-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
        ),
        CircledListToken: (
            color: (_ref: 'colorMap:::circledListTokenColor'),
            margin-right: h-spacing(1),
            vertical-align: middle,
        ),
    )
));

@include add_settings((
    TopTitledTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        TableTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableColor"),
        ),
        Table: (
            border-collapse: separate,
            border-spacing: 0,
            margin-left: auto,
            margin-right: auto,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-width: 0.09rem,
            border-style: solid,
            border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-left: table-h-spacing(1),
            padding-right: table-h-spacing(1),
            vertical-align: top,
            text-align: center,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
            padding-top: table-v-spacing(1),
            padding-bottom: table-v-spacing(1),
            padding-right: table-h-spacing(1),
            padding-left: table-h-spacing(1),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
    )
));

// Class added in Spanish Introductory Business Statistics (uses basic table shape with decreased paddings)
@include add_settings((
    DataTable: (
            _selectors: (".os-table.os-data-table-container"),
            TableContainer: (
                display: table,
                margin-left: auto,
                margin-right: auto,
            ),
            Table: (
                border-collapse: separate,
                border-spacing: 0,
                margin-left: auto,
                margin-right: auto,
            ),
            TableData: (
                font-family: (_ref: "typography:::baseFont"),
                border-width: 0.09rem,
                border-style: solid,
                border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
                color: (_ref: "colorMap:::tableColor"),
                padding-top: 0.16rem,
                padding-bottom: 0.16rem,
                padding-right: 0.16rem,
                padding-left: 0.16rem,
                vertical-align: top,
                text-align: center,
            ),
            TableHeadCell: (
                font-family: (_ref: "typography:::baseFont"),
                font-weight: bold,
                color: (_ref: "colorMap:::tableHeaderColor"),
                background-color: (_ref: "colorMap:::tableColor"),
                padding-top: 0.16rem,
                padding-bottom: 0.16rem,
                padding-right: 0.16rem,
                padding-left: 0.16rem,
            ),
            CaptionTitleLabel: (
                font-family: (_ref: "typography:::baseFont"),
                color: (_ref: "colorMap:::captionColor"),
            ),
            CaptionNumber: (
                font-family: (_ref: "typography:::baseFont"),
                color: (_ref: "colorMap:::captionColor"),
                margin-right: h-spacing(1),
            ),
            CaptionTitle: (
                font-family: (_ref: "typography:::baseFont"),
                color: (_ref: "colorMap:::captionColor"),
            ),
            CaptionText:(
                font-family: (_ref: "typography:::baseFont"),
                color: (_ref: "colorMap:::captionColor"),
            ),
        )
));
