@include add_settings((
    PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
            H1Title: (
                color: (_ref: 'colorMap:::moduleTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
            ),
            H2Title: (
                color: (_ref: 'colorMap:::moduleTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
            ),
            H3Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H4Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H5Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H1Numbered: (
                color: (_ref: 'colorMap:::appendixTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
            ),
            TitleNumber: (
                color: black,
                border-color: (_ref: 'colorMap:::appendixTitleColor'),
            ),
        ),
));

@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1Numbered: (
            color: white,
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: 2.1rem, // must be equal to font-size
        ),
        TitleText: (
            text-shadow: 0.18rem 0.18rem 0.36rem #000,
        ),
        TitleNumber: (
            border-color: white,
        ),
    ),
));

@include add_settings((
    ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
            H2ChapterIntro: (
                font-family: (_ref: 'typography:::baseFont'),
                color: (_ref: "colorMap:::introContentHeaderColor"),
            ),
            H2ChapterIntroIcon: (
                background: url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
            ),
            H3Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H4Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H5Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
        ),
));

@include add_settings((
    ModuleTitles:(
        _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3TitleSectionExercises: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3SectionExercisesIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-exercises.svg")) no-repeat top left,
        ),
        H4TitleSectionExercises: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exerciseTitleColor'),
        ),
    ),
));

@include add_settings((
    CompositeChapterTitles:(
        _selectors: ('[data-type="composite-chapter"]'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: "scheme:::B5"),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H5LinkTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: "scheme:::B5"),
        ),
    ),
));

@include add_settings((
    EocCompositePageTitles:(
        _selectors: ('.os-eoc[data-type="composite-page"]'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: "scheme:::B5"),
        ),
    ),
    EobCompositePageTitles:(
        _selectors: ('.os-eob[data-type="composite-page"]'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3LinkTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: "scheme:::B5"),
        ),
    ),
));

@include add_settings((
    ListTitles:(
        _selectors: ('[data-type="list"]'),
    ),
));

@include add_settings((
    ParagraphTitles:(
        _selectors: ('p'),
    ),
));
