$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);


$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

@include add_settings((
  CultureAnnotation:(
    _selectors: ("span.culture-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-culture.svg")) no-repeat top left
  ),
  LinguisticAnnotation: (
    _selectors: ("span.linguistic-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-linguistic.svg")) no-repeat top left
  ),
  DreamingAnnotation: (
    _selectors: ("span.dreaming-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-dreaming.svg")) no-repeat top left
  ),
  VisualAnnotation: (
    _selectors: ("span.visual-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-visual.svg")) no-repeat top left
  ),
  SpeechAnnotation: (
    _selectors: ("span.speech-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-speech.svg")) no-repeat top left
  ),
  AuditoryAnnotation: (
    _selectors: ("span.auditory-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-auditory.svg")) no-repeat top left
  ),
  KinestheticAnnotation: (
    _selectors: ("span.kinesthetic-icon"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-kinesthetic.svg")) no-repeat top left
  ),
));

@include add_settings((
    DefaultTable: (
        _selectors: (".os-table:not(.os-text-heavy-top-titled-container):not(.os-unstyled-container)"),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::titleOption1Font"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::titleOption1Font"),
        ),
    ),
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::titleOption1Font"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::titleOption1Font"),
        ),
    )
));

@include add_settings((
  Trailblazer: (
    _selectors:("[data-type='page'].narrative-trailblazer"),
    'ContainerBar:::background-color': (_ref: "colorMap:::trailBlazerModuleColor"),
    'ModuleNumber:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ModuleNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ModuleTitle:::color': (_ref: "colorMap:::fontBodyColor"),
    'ModuleTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::background-color': (_ref: "colorMap:::trailBlazerModuleColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-trail.svg")) no-repeat top left,
    'AuthorName:::color': (_ref: "colorMap:::fontBodyColor"),
    'AuthorName:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
  Drafting: (
    _selectors:(".drafting"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-pencil.svg")) no-repeat top left, 
    'Icon:::vertical-align': text-bottom,
    'Icon:::height': 1.45rem,
    'Icon:::width': 1.45rem,
  ),
  PeerReview: (
    _selectors:(".peer-review"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-peerreview.svg")) no-repeat top left, 
    'Icon:::vertical-align': text-bottom,
    'Icon:::height': 1.45rem,
    'Icon:::width': 1.45rem,
  ),
  Revising: (
    _selectors:(".revising"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-revision.svg")) no-repeat top left, 
    'Icon:::vertical-align': text-bottom,
    'Icon:::height': 1.45rem,
    'Icon:::width': 1.45rem,
  ),
  QuickLaunch: (
    _selectors:(".quick-launch"),
    'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-quicklaunch.svg")) no-repeat top left,
    'Icon:::vertical-align': inherit,
    'Icon:::height': 2rem,
    'Icon:::width': 2rem,
  ),
  LivingWords: (
    _selectors: ('[data-type="page"]:not(.introduction) > section.living-words'),
    'SectionContainer:::font-family': (_ref: 'typography:::titleOption2Font'),
    'SectionContainer:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
    'Title:::color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-quote.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'SectionSubtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'SectionSubtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

@include add_settings((
  AnnotationText: (
    _selectors:("p"),
    'AnnotationText:::font-family': (_ref: 'typography:::titleOption2Font'),
    'AnnotationText:::color': (_ref: "colorMap:::AnnotationTextColor"),
  ),
  PublicDomainText: (
    _selectors:("p.public-domain"),
    'AnnotationTextWithLeftBorder:::border-color': (_ref: 'colorMap:::publicDomainBorderColor'),
    'AnnotationTextWithLeftBorder:::font-family': (_ref: 'typography:::titleOption2Font'),
    'AnnotationTextWithLeftBorder:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  StudentSampleText: (
    _selectors:("p.student-sample"),
    'AnnotationTextWithLeftBorder:::border-color': (_ref: 'colorMap:::studentSampleBorderColor'),
    'AnnotationTextWithLeftBorder:::font-family': (_ref: 'typography:::titleOption2Font'),
    'AnnotationTextWithLeftBorder:::color': (_ref: "colorMap:::fontBodyColor"),
  )
));

@include add_settings((
  DiscussionQuestions: (
    _selectors: ('section'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include add_settings((
  AuthorQuote: (
    _selectors: ('.author-quote'),
    'PhotoQuoteContainer:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption4Color'),
    'PQBlockquoteFirstPara:::font-family': (_ref: 'typography:::titleOption1Font'),
    'PQBlockquoteSecondPara:::font-family': (_ref: 'typography:::titleOption2Font'),
  )
));

@include use('BookRoot', "common:::BookRoot");
@include use('TocUnit', 'cosmos:::TocUnitShape');
@include use('Figure', 'cosmos:::FigureShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('CitationPara', 'cosmos:::CitationParaShape');
@include use('UnderlineYellow', 'cosmos:::UnderlineShape');
@include use('DoubleUnderlineYellow', 'cosmos:::DoubleUnderlineShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('LearningObjectivesModule', 'cosmos:::LearningObjectivesModuleShape');
@include use('AnnotationText', 'common:::AnnotationTextShape');
@include use('PublicDomainText', 'common:::AnnotationTextLeftBorderShape');
@include use('StudentSampleText', 'common:::AnnotationTextLeftBorderShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('ScreenreaderSpan', 'common:::VisuallyHiddenShape');
@include use('HandbookOutline', 'cosmos:::HandbookOutlineShape');
@include use('UnitOpener', 'cosmos:::UnitOpenerShape');
@include use('PunctuationEmphasis', 'cosmos:::PunctuationEmphasisShape');
@include use('SectionWorksCited', 'cosmos:::SectionWorksCitedShape');
@include use('HandbookWorksCited', 'cosmos:::ModuleWithIndentationShape');
@include use('HandbookFurtherReading', 'cosmos:::ModuleWithIndentationShape');
@include use('UnitOpenerPageTitle', 'common:::Hidden');



//Notes & Annotations
@include use('CultureAnnotation', 'cosmos:::AnnotationIconShape');
@include use('LinguisticAnnotation', 'cosmos:::AnnotationIconShape');
@include use('DreamingAnnotation', 'cosmos:::AnnotationIconShape');
@include use('VisualAnnotation', 'cosmos:::AnnotationIconShape');
@include use('SpeechAnnotation', 'cosmos:::AnnotationIconShape');
@include use('AuditoryAnnotation', 'cosmos:::AnnotationIconShape');
@include use('KinestheticAnnotation', 'cosmos:::AnnotationIconShape');
@include use('Annotation', 'cosmos:::AnnotationShape');
@include use('Trailblazer', 'cosmos:::IconFullPageNoteShape');
@include use('QuickLaunch', 'cosmos:::SectionIconnedShape');
@include use('Drafting', 'cosmos:::SectionIconnedShape');
@include use('PeerReview', 'cosmos:::SectionIconnedShape');
@include use('Revising', 'cosmos:::SectionIconnedShape');
@include use('LivingWords', 'cosmos:::IconnedSectionWithSubtitleShape');
@include use('AuthorQuote', 'cosmos:::PhotoQuoteNoteShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobPageTitles', 'cosmos:::EobPageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');

// Tables
@include use('FakeTitleTable', 'cosmos:::BasicTableShape');
@include use('DefaultTable', 'cosmos:::BasicTableShape');

//EoC
@include use('FurtherReading', 'cosmos:::ModuleWithIndentationShape');
@include use('WorksCited', 'cosmos:::ModuleWithIndentationShape');
@include use('WorksConsulted', 'cosmos:::ModuleWithIndentationShape');

//EoB
@include use('Index', 'cosmos:::IndexShape');

//Exercises
@include use('DiscussionQuestions', 'cosmos:::ExercisesModuleShape');