// replace any modifications made to the default color-map found in ./framework/mixins/_color-map.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-color-map() {
  $THEME_COLOR_MAP: (

  featureTitleColor: color-scheme(standard-white),
  featureSubtitleColor: color-scheme(secondary),

  featureTitleBG1: color-scheme(secondary),
  featureTitleBG2: color-scheme(tertiary),
  featureTitleBG3: color-scheme(primary),
  featureTitleBG4: color-scheme(quinary),

  featureBodyBG1: color-scheme(featureBG1),
  featureBodyBG2: color-scheme(featureBG2),
  featureBodyBG3: color-scheme(featureBG3),

  featureTopBorderBar: color-scheme(tertiary),
  featureBorderColor1: color-scheme(featureBG1),
  featureBorderColor2: color-scheme(featureBG2),
  featureBorderColor3: color-scheme(featureBG3),

  featureBorderColor: color-scheme(pale-grey),
  h1-title: color-scheme(primary),

  );
  @return $THEME_COLOR_MAP;
}

@include color-map-merge(get-function("theme3-color-map"));
