$simpleNoteScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG2),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG1),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor2),
);
$simpleNoteScheme2:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG1),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG4),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor1),
);
$simpleNoteScheme3:(
  noteBodyFontColor: color-map(featureBodyText),
  noteBGColor: color-map(featureBodyBG3),
  noteTitleColor: color-map(featureTitleColor),
  noteTitleBGcolor: color-map(featureTitleBG3),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteBorderColor: color-map(featureBorderColor3),
);

$noteTopBorderScheme1:(
  noteBodyFontColor: color-map(featureBodyText),
  noteTitleColor: color-map(featureBodyText),
  noteSubtitleColor: color-map(featureSubtitleColor),
  noteTopBorderColor: color-map(featureTopBorderBar),
  noteBorderColor: color-map(featureBorderColor1),
);
