


// replace any modifications made to the default scheme found in ./framework/mixins/_color-scheme.scss
// Note: this merges the new value in, it doesn't override it

@function theme3-settings() {
  $THEME_SETTINGS: (
    toc-number-box-size: 2rem,
    splash-page-depth: 4.0in,
    splash-title-bar-height: 7rem,
    full-bleed-splash: true,
    enforce-splash-height: false,
    splash-gradient-length: 12rem,
    title-border-size: 1px,
    figure-img-width: PAGE_CONTENT_WIDTH() - 0.5in,
    caption-line-height: 1.6em,
    caption-number-font-weight: 700,
    h1-number-border-color: color-map(h1-number-border),
    h2-number-border-color: color-map(h2-number-border),
    h3-number-border-color: color-map(h3-number-border),
    h4-number-border-color: color-map(h4-number-border),
    h5-number-border-color: color-map(h5-number-border),
    supported-tables: (global-style, top-titled, unstyled, text-heavy, side-header),
  );
  @return $THEME_SETTINGS;
}

@include settings-merge(get-function("theme3-settings"));



//***
//*** These can be set at the book level (Accounting with no rounded corners when all other books in theme have rounded corners for example);
//***

@function notes-settings() {
  $NOTES_SETTINGS: (
    //simpleNote settings
    note-title-weight: normal,
    note-title-font: font-map(serif),
    // note-title-padding: size-scale(1), //not working
    note-title-padding: 1.56rem,
    note-title-letter-spacing: .3rem,
    // note-subtitle-top-margin: size-scale(1), //not working
    note-subtitle-top-margin: 1.2rem,
    note-border: solid 1px,
    note-title-case: uppercase,
    note-body-padding: 0 size-scale(1) size-scale(1),
    note-top-border-radius: .5rem,
    note-link: color-map(noteLink),

    //TopBar note settings
    note-TopBar-border-radius: .3rem, //this is also the value for thickness of the top bar
    note-TopBar-border: solid,

    note-body-line-height: line-height(1),
    note-body-padding-left: size-scale(2),
    note-body-padding-right: size-scale(2),
  );
  @return $NOTES_SETTINGS;
}

@include settings-merge(get-function("notes-settings"));
