@import './pdf/typography.scss';
@import './pdf/grid';

* {
  box-sizing: border-box;
}
[data-type="composite-chapter"],
[data-type="page"],
[data-type="composite-page"] {
  p, section, table, ul, ol, li, dl, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
  }
}
[data-type="composite-chapter"],
[data-type="page"],
[data-type="composite-page"] {
  p {
    margin-bottom: v-grid(1);
  }
  section {
    margin-bottom: v-grid(1);
  }

  table {
    margin-bottom: v-grid(1);
  }

  ul {
    margin-bottom: v-grid(1);
  }

  ol {
    margin-bottom: v-grid(1);
  }

  li {

  }

  h1 {

   }

  h2 {

  }

  h3 {

  }

  h4 {

  }

  h5 {

  }
}



math {
  vertical-align: middle;
}

//Prevent sup and sub to modify the cell-height
// From https://gist.github.com/unruthless/413930

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em; //using em so spacing is proportional to context font size
}

sub {
  bottom: -0.25em;
}

// Was in oer.exports, do we still needs this? Saving for now
//.titlepage sup {
//   vertical-align: super;
//   line-height: inherit;
//   font-size: smaller;
//   position: static;
//   top: auto;
// }