$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;
$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';


@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::nursingTocColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::nursingTocColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::nursingTocColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::nursingTocColor'),
  ),
));

// Chapter Intro
@include add_settings((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    'FigureSplashBg:::background-color': (_ref: "colorMap:::nursingIntroColor"),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::nursingIntroColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::nursingIntroColor"),
    'ChapterObjectiveLink:::font-weight': normal,
    'ChapterOutlineContainer:::font-weight': normal,
    'ChapterOutlineContainer:::font-size': font-scale(-1),
  ),
));

@include add_settings((
  LearningObjectivesSection: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'H3ObjectivesTitle:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'ObjectivesListDot:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::nursingHeaderColor"),
  ),
));

@include add_settings((
  ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2ModuleTitle:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

@include add_settings((
  EocCompositeChapterTitles: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'H3Title:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::nursingHeaderColor'),
  ),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.os-glossary-container', '.os-section-summary-container', 'os-review-questions-container'),
  ),
));

@include add_settings((
  AppendixGlossary: (
    _selectors: (".appendix > .column-container"),
    'H3AppendixGlossaryTitle:::color': (_ref: "colorMap:::nursingHeaderColor"),
    'AppendixGlossaryContainer:::column-count': 2,
  ),
));


// Tables
@include add_settings((
  BasicTableWithCaptionOnTop: (
    _selectors: ('.os-table:not(.os-unstyled-container):not(.no-cellborder)'),
    'TableBottomBorderAfterTable:::border-top-color': (_ref: 'colorMap:::nursingTableColor'),
    'CaptionTitleLabel:::color': (_ref: 'colorMap:::nursingTableColor'),
    'CaptionNumber:::color': (_ref: 'colorMap:::nursingTableColor'),
  ),
));

@include add_settings((
  NoCellBordersTable: (
    _selectors: ('.os-table.no-cellborder'),
    'TableBottomBorderAfterTable:::border-top-color': (_ref: 'colorMap:::nursingTableColor'),
    'CaptionTitleLabel:::color': (_ref: 'colorMap:::nursingTableColor'),
    'CaptionTitleLabel:::font-family': (_ref: 'typography:::sansFont'),
    'CaptionTitle:::font-family': (_ref: 'typography:::sansFont'),
    'CaptionText:::font-family': (_ref: 'typography:::sansFont'),
    'CaptionNumber:::color': (_ref: 'colorMap:::nursingTableColor'),
    'CaptionNumber:::font-family': (_ref: 'typography:::sansFont'),
    'TableBottomBorder:::border-bottom-color': (_ref: 'colorMap:::nursingTableColor'),
  ),
));


@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::nursingTableColor"),
  ),
));

@include add_settings((
  BlueText:(
    _selectors: ('.blue-text'),
    'ColoredTextContainer:::color': (_ref: "colorMap:::blueTextColor"),
  ),
));

@include add_settings((
  AlternateShadingTable: (
    _selectors:('.alternate-shading'),
    'AlternateShadingTableRow:::background-color': (_ref: "colorMap:::tableRowGreyShadingColor"),
  ),
));


// EOC exercises
@include add_settings((
  ExercisesModule: (
    _selectors: (".os-eoc.os-review-questions-container"),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
  ),
));

// Notes
@include add_settings((
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  SafetyAlertNote:(
    _selectors: (".safety-alert"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::alertColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-alert.svg")) no-repeat top left,
  ),
));

@include add_settings((
  ClinicalTipNote:(
    _selectors: (".clinical-tip"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientificsmall.svg")) no-repeat top left,
  ),
));

@include add_settings((
  HealthAlertNote:(
    _selectors: (".health-alert"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
  ),
));

@include add_settings((
  HealthyPeopleNote:(
    _selectors: (".healthy-people"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::healthyPeopleColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/cosmos-group.svg")) no-repeat top left,
  ),
));

@include add_settings((
  TrendingTodayNote:(
    _selectors: (".trending-today"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::trendingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-newspaper.svg")) no-repeat top left,
  ),
));

@include add_settings((
  CultureConversationsNote:(
    _selectors: (".culture-conversations"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::cultureColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/cosmos-debate.svg")) no-repeat top left,
  ),
));

@include add_settings((
  TheoryActionNote:(
    _selectors: (".theory-action"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::connectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/cosmos-connected.svg")) no-repeat top left,
  ),
));

@include add_settings((
  SpecialConsiderationsNote:(
    _selectors: (".special-considerations"),
    group-border-color: (_ref: 'colorMap:::specialConsiderationsColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::specialConsiderationsColor'),
  ),
));

@include add_settings((
  BlackBoxNote:(
    _selectors: (".black-box"),
    group-border-color: (_ref: 'colorMap:::nursingBlackBoxColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::nursingBlackBoxColor'),
  ),
));

@include add_settings((
  ClientTeachingNote:(
    _selectors: (".client-teaching"),
    group-border-color: (_ref: 'colorMap:::clientTeachingColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::clientTeachingColor'),
  ),
));

@include add_settings((
  PracticeProblemsNote:(
    _selectors: (".practice-problems"),
    group-border-color: (_ref: 'colorMap:::practiceProblemsColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::practiceProblemsColor'),
  ),
));

@include add_settings((
  UnfoldingCasestudyNote:(
    _selectors: (".unfolding-casestudy"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::unfoldingCaseStudyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
  ),
));

@include add_settings((
  SingleCasestudyNote:(
    _selectors: (".single-casestudy"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::nursingNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-exampleblue.svg")) no-repeat top left,
  ),
));

@include add_settings((
  MediaFeatureNote:(
    _selectors: (".media-feature"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::mediaVideoColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/cosmos-media.svg")) no-repeat top left,
  ),
));



@include add_settings((
  CaseReflectionNote:(
    _selectors: (".case-reflection"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::nursingNoteColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-exampleblue.svg")) no-repeat top left,
  ),
));

@include add_settings((
  NoteExercises: (
    _selectors: ('[data-type="exercises"] :not(.os-review-container)'),
    'NoteExerciseQuestions:::display': inline-flex,
  ),
));


// Target labels
@include add_settings((
  FigureTargetLabel: (
    _selectors: ('a.figure-target-label'),
    'TargetLabelLink:::color': (_ref:"colorMap:::figureNumberColor"),
  ),
  TableTargetLabel: (
    _selectors: ('a.table-target-label'),
    'TargetLabelLink:::color': (_ref:"colorMap:::nursingTableColor"),
  ),
));


// Common Settings
@include use('BookRoot', "common:::BookRoot");

// Chapter Intro
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');
@include use('LearningObjectivesSection', 'carnival:::LearningObjectivesColoredDotShape');




//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'carnival:::ChapterIntroTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EocCompositeChapterTitles', 'carnival:::EocCompositeChapterTitlesShape');
@include use('UnitTitle', 'common:::Hidden');




//Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureSplash','carnival:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','carnival:::FigureFromExercisesShape');


// Book Specific Styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');


// Tables
@include use('BasicTableWithCaptionOnTop', 'carnival:::BasicTableWithCaptionOnTopShape');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');
@include use('AlternateShadingTable', 'carnival:::AlternateShadingTableShape');
@include use('NoCellBordersTable', 'carnival:::NoCellBordersTableShape');
// Okay, so none are using the basic table shape which has the no sides. class no-cellborders

//Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use('TableLists', 'carnival:::TableListShape');
@include use("ExercisesSolutionLists", "carnival:::ExercisesListsShape");
@include use("NotesLists", "carnival:::NotesListsShape");

//Notes
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('SafetyAlertNote', 'carnival:::IconCondensedShape');
@include use('ClinicalTipNote', 'carnival:::IconCondensedShape');
@include use('HealthAlertNote', 'carnival:::IconCondensedShape');
@include use('HealthyPeopleNote', 'carnival:::IconCondensedShape');
@include use('TrendingTodayNote', 'carnival:::IconCondensedShape');
@include use('CultureConversationsNote', 'carnival:::IconCondensedShape');
@include use('TheoryActionNote', 'carnival:::IconCondensedShape');
@include use('SpecialConsiderationsNote', 'carnival:::BoxedNoteShape');
@include use('BlackBoxNote', 'carnival:::BoxedNoteShape');
@include use('ClientTeachingNote', 'carnival:::BoxedNoteShape');
@include use('PracticeProblemsNote', 'carnival:::BoxedNoteShape');
@include use('UnfoldingCasestudyNote', 'carnival:::IconCondensedShape');
@include use('SingleCasestudyNote', 'carnival:::IconCondensedShape');
@include use('CaseReflectionNote', 'carnival:::IconCondensedShape');
@include use('MediaFeatureNote', 'carnival:::IconCondensedShape');


//EOC
@include use('KeyTerms', 'carnival:::KeyTermsShape');
@include use('ExercisesModule', 'carnival:::ExercisesModuleShape');
@include use('ReferencesWithIndentation', 'carnival:::ModuleWithIndentationShape');
@include use('TwoColumnsModules', 'carnival:::ModuleWithTwoColumnsShape');

// EOB
@include use('AppendixGlossary', 'carnival:::AppendixGlossaryShape');
@include use('Index', 'carnival:::IndexShape');
