@function map-key-prefix-flatten($map, $prefix: "") {
  $flattened: ();
  @each $key, $value in $map {
    @if type-of($value) == "map" {
      $flattened: map-merge($flattened, map-key-prefix-flatten($value, "#{$prefix}#{$key}:::"))
    } @else {
      $flattened: map-merge($flattened, (#{$prefix}#{$key}: $value));
    }
  }
  @return $flattened;
}
