$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-chapter-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/_folio';

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cardboard:::LinkShape');
@include use('TocUnit', 'cardboard:::UnitToc');
@include use('UnitTitle', 'common:::Hidden');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('Figure','cardboard:::FigureShape');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesNumberedShape');

//Tables
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');

//Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');

//Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('EndnoteModule', 'cardboard:::EndnoteModuleShape');
@include use('EndnoteCite', 'cardboard:::EndnoteCiteShape');

// EOB
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use('Index', 'cardboard:::IndexShape');
