$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-chapter-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #9028A3;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/_folio';

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'H2IntroTextHeaderIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'H2IntroTextHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  ),
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include add_settings((
  LearningObjectivesNumberedWithLO: (
    _selectors: ('[data-type="page"] .learning-objectives'),
    'LOButton:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lo.svg")) no-repeat center center,
  )
));

//Notes
@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-globe.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':0.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption9HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption9HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption9BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteOption9SubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  MarketingDashboard: (
  _selectors: (".marketing-dashboard"),
  'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-marketingdashboard.svg")) no-repeat top right,
  'TitleIcon:::margin-right': v-spacing(1),
  'TitleIcon:::height': 5rem,
  'TitleIcon:::width': 11rem,
  'TitleIcon:::bottom':0,
  'Title:::background-color': (_ref: "colorMap:::noteOption10HeaderBackgroundColor"),
  'Title:::color': (_ref: "colorMap:::noteOption10HeaderColor"),
  'Title:::font-family': (_ref: "typography:::titleFont"),
  'Body:::font-family': (_ref: "typography:::baseFont"),
  'Body:::background-color': (_ref: "colorMap:::noteOption10BodyBackgroundColor"),
  'Subtitle:::color': (_ref: "colorMap:::noteOption10SubtitleColor"),
  'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  MarketingPractice: (
    _selectors: (".marketing-practice"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-leadership.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 10rem,
    'TitleIcon:::width': 13rem,
    'TitleIcon:::bottom': -1.8rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption11HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption11HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption11BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteOption11SubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  CompaniesConscience: (
  _selectors: (".companies-conscience"),
  'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-conscience.svg")) no-repeat top right,
  'TitleIcon:::height': 5rem,
  'TitleIcon:::width': 11rem,
  'TitleIcon:::bottom':0,
  'Title:::background-color': (_ref: "colorMap:::noteOption12HeaderBackgroundColor"),
  'Title:::color': (_ref: "colorMap:::noteOption12HeaderColor"),
  'Title:::font-family': (_ref: "typography:::titleFont"),
  'Body:::font-family': (_ref: "typography:::baseFont"),
  'Body:::background-color': (_ref: "colorMap:::noteOption12BodyBackgroundColor"),
  'Subtitle:::color': (_ref: "colorMap:::noteOption12SubtitleColor"),
  'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  WordDocument: (
    _selectors: (".word-document"),
    "IconCondensedBody:::font-family": (_ref: "typography:::baseFont"),
    "IconCondensedBody:::color": (_ref: "colorMap:::noteSubtitleColor"),
    "IconCondensedIcon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-worddocument.svg")) no-repeat top left,
  )
));

//Tables
@include add_settings((
  CondensedDefaultTable: (
  _selectors: ('.os-table.os-data-table-container'),
  )
));

//EOC Titles
@include add_settings((
  SummaryTitles: (
    _selectors: (".os-chapter-summary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  MarketingDiscussionTitles: (
    _selectors: (".os-marketing-discussion-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-discussion.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CriticalThinkingTitles: (
    _selectors: (".os-critical-thinking-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  BuildingBrandTitles: (
    _selectors: (".os-building-brand-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-brand.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  MarketersDoTitles: (
    _selectors: (".os-marketers-do-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-managegroup.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  MarketingPlanTitles: (
    _selectors: (".os-marketing-plan-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-net.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CompanyCaseTitles: (
    _selectors: (".os-company-case-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  EndnotesTitles: (
    _selectors: (".os-references-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-references.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
));

// Appendix features sections titles
@include add_settings((
  AppendixSummaryTitles: (
    _selectors: (".appendix  .chapter-summary"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
  ),
  AppendixReferencesTitles: (
    _selectors: (".appendix .references"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-references.svg")) no-repeat top left,
  ),
));

// Exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.knowledge-check', '.os-eoc.os-marketing-discussion-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-company-case-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
  ),
));

// Inline colored text throughout the book
@include add_settings((
    EmphasizedColoredText: (
        _selectors: ('.colored-text'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::emphasizedTextColor'),
    )
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cardboard:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('TocUnit', 'cardboard:::UnitToc');
@include use('LearningObjectivesNumberedWithLO', 'cardboard:::LearningObjectivesNumberedWithLOShape');
@include use('EmphasizedColoredText', 'common:::ColoredText');
@include use('Equation', 'cardboard:::EquationShape');

// Chapter Intro
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');

// Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cardboard:::FigureFromExercisesShape');

// Tables
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('CondensedDefaultTable', 'cardboard:::TableWithBordersShape');

// Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('MarketingDiscussionTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CriticalThinkingTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('BuildingBrandTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('MarketersDoTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('MarketingPlanTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CompanyCaseTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('EndnotesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Appendix features titles
@include use('AppendixSummaryTitles', 'cardboard:::AppendixFeaturesSectionsTitlesShape');
@include use('AppendixReferencesTitles', 'cardboard:::AppendixFeaturesSectionsTitlesShape');

// Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');
@include use('ExercisesSolutionLists', 'cardboard:::ExercisesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');

// Notes
@include use('UnitOpener', 'cardboard:::UnitOpenerShape');;
@include use('LinkToLearning', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('MarketingDashboard', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('MarketingPractice', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('CompaniesConscience', 'cardboard:::IconBoxedNoteWithSubtitleShape');
@include use('WordDocument', 'cardboard:::IconCondensedShape');

// Exercises
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape'); // page section

// Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('EndnoteModule', 'cardboard:::EndnoteModuleShape');
@include use('EndnoteCite', 'cardboard:::EndnoteCiteShape');

// EOB
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use('Index', 'cardboard:::IndexShape');

// Appendix features references (endnotes)
@include use('AppendixReferencesModule', 'cardboard:::AppendixReferencesModuleShape');
