// Containers
$ListContainer: empty_wrapper(Container, '');

// Basic Lists
$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

// Used in the question section inside a Note in World History
$UnorderedList--NotesQuestionSection: (
  _name: "QuestionSection",
  _subselector: ' > ul.critical-thinking',
  _properties: (
    margin-left: 0,
    padding-left: h-spacing(3),
    padding-top: v-spacing(1),
    border-top-style: solid ,
    border-top-width: 0.1rem,
    border-color: enum('ValueSet:::OPTIONAL'),
  )
);

// Appendix

$UnorderedList--AppendixGlossary: (
  _name: "AppendixGlossaryUnorderedList",
  _subselector: " > ul",
  _properties: (
    font-size: font-scale(-1),
    list-style-type: none,
  ),
);

$UnorderedList__Item--AppendixGlossary: (
  _name: "AppendixGlossaryUnorderedListItem",
  _subselector: " > li",
  _properties: (
    text-indent: -5px, // creates a hanging indent
    padding-left: 5px,
    break-inside: avoid,
  )
);

// Objectives

$ListItem--Objectives: (
  _name: "ObjectivesListItem",
  _subselector: ' > li',
  _properties: (
    max-width: 5.9in,
  )
);

$ListItem--Objectives__Dot: (
  _name: 'ObjectivesListDot',
  _subselector: '::marker',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$UnorderedList--UnstyledFromObjectives: (
    _name: "UnstyledListFromObjectives",
    _subselector: ' > ul.os-abstract',
    _properties: (
      list-style-type: none,
  )
);

$ListItem--Objectives--Flex: (
  _name: "ObjectivesFlexListItem",
  _subselector: ' > li',
  _properties: (
    display: flex,
    max-width: 5.9in,
  )
);

$ListItem--Objectives__NumberToken: (
  _name: "ObjectivesNumberToken",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: 700,
    color: enum('ValueSet:::REQUIRED'),
    padding-right: h-spacing(1),
  )
);
