@include add_settings((
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTopTitleColor"),
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::topTitleTableHeaderColor"),
            background-color: (_ref: "colorMap:::topTitleTableHeaderBgColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-color: (_ref: "colorMap:::topTitleTableCellBorderColor"),
            color: (_ref: "colorMap:::tableCellColor"),
        ), 
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    )
));