@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H1Numbered: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(3),
            line-height: font-scale(3),
            display: table,
            margin-bottom: v-spacing(1),
        ),
        H1TitleNumber: (
            border-color: (_ref: 'colorMap:::titleAppendixBorderColor'),
            width: v-spacing(4),
            height: v-spacing(4),
            display: table-cell,
            border-style: solid,
            border-width: 0.2rem,
            padding: 0.5rem,
        ),
        H1TitleText: (
            display: table-cell,
            padding-left: h-spacing(2),
        ),
        H2Numbered: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H2TitleNumber: (
            border-color: (_ref: 'colorMap:::titleSectionBorderColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
    ),
));

@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1Numbered: (
            position: relative,
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
            color: (_ref: 'colorMap:::chapterTitleColor'),
            display: flex,
            flex-direction: row,
            justify-content: flex-start,
            z-index: 2,
            padding: 0,
            left: 0,
            top: 34rem,
            right: 0,
            width: fullBleedsSize(8.45, in),
            text-transform: none,
            margin-top: fullBleedsMargin(0, rem),
            margin-bottom: fullBleedsMargin(0, rem),

        ),
        H1TitleText: (
            font-weight: bold,
            position: relative,
            margin-left: 4rem,
            display: inline-block,
            top: -2.5rem,
        ),
        H1TitleNumber: (
            font-weight: bold,
            width: 2.75rem,
            height: 2.75rem,
            border-radius: 50%,
            background-color: (_ref: 'colorMap:::chapterTitleNumberBgColor'),
            display: inline-block,
            position: relative,
            bottom: 5.3rem,
            //color is book specific set in book.scss file 
            padding: 0.6rem 0,
            left: -0.5rem,
            z-index: 2,
        ),     
    ),
));
