@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H1Numbered: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(3),
            line-height: font-scale(3),
            display: table,
        ),
        H1TitleNumber: (
            border-color: (_ref: 'colorMap:::titleAppendixBorderColor'),
            width: v-spacing(4),
            height: v-spacing(4),
            display: table-cell,
        ),
        H1TitleText: (
            display: table-cell,
        ),
        H2Numbered: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H2TitleNumber: (
            border-color: (_ref: 'colorMap:::titleSectionBorderColor'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        H5Title: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
    ),
));

@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1Numbered: (
            position: relative,
            top: 40rem,
            z-index: 2,
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
            color: (_ref: 'colorMap:::chapterTitleColor'),
            background-color: (_ref: 'colorMap:::chapterTitleBgColor'),
            display: flex,
            flex-direction: row,
            justify-content: start,
            padding-top: 2rem,
            padding-bottom: 2rem,
        ),
        H1TitleText: (
            font-weight: bold,
            // filter: drop-shadow(0.18rem 0.18rem 0.36rem #000),
            position: relative,
            margin-left: 8rem,
            display: inline-block,
        ),
        H1TitleNumber: (
            font-weight: bold,
            border-color: (_ref: 'colorMap:::chapterTitleNumberBgColor'),
            border-width:  0.2rem,
            text-transform: uppercase,
            width: 2.75rem,
            height: 2.75rem,
            // padding: 
            // display: flex,
            // justify-content: center,
            // align-items: center,
            border-radius: 50%,
            background-color: (_ref: 'colorMap:::chapterTitleNumberBgColor'),
            display: inline-block,
            position: relative,
            bottom: 2rem,
            color: (_ref: 'colorMap:::chapterTitleNumberColor'),
            padding-top: enum('ValueSet:::OPTIONAL'), //used in Chapters
            padding-bottom: enum('ValueSet:::OPTIONAL'), //used in Chapters
        ),     
    ),
));
