$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/parts/pdf/_folio.scss';

// Settings

// EOC exercises
@include add_settings((
  SelfCheckQuestions: (
    _selectors: ('.os-eoc.os-self-check-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ReviewQuestions: (
    _selectors: ('.os-eoc.os-review-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  CriticalThinking: (
    _selectors: ('.os-eoc.os-critical-thinking-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  Problems: (
    _selectors: ('.os-eoc.os-problems-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Figure', 'cosmos:::FigureShape');
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesAbstractModuleShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Equation', 'cosmos:::EquationShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Lists
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

//Exercises
@include use('SelfCheckQuestions', 'cosmos:::ExercisesModuleShape');
@include use('ReviewQuestions', 'cosmos:::ExercisesModuleShape');
@include use('CriticalThinking', 'cosmos:::ExercisesModuleShape');
@include use('Problems', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('Index', 'cosmos:::IndexShape');
