$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/parts/pdf/_folio.scss';

// Settings
// Iconned Notes
@include add_settings((
  BringItHome: (
    _selectors: ('.economics.bringhome'),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-home.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

// Condensed icon note
@include add_settings((
  LinkItUp:(
      _selectors: (".economics.linkup"),
      'Container:::box-decoration-break': slice,
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesAbstractModuleShape');
@include use('ChapterIntroWithChapterObjectives', 'cosmos:::ChapterIntroWithChapterObjectivesShape');

// Notes
@include use('BringItHome', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('LinkItUp', 'cosmos:::CondensedIconNoteShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('IntroductionPageTitles', 'cosmos:::IntroductionPageTitlesShape');


// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');

