$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';


// Settings
// Iconned Notes
@include add_settings((
  BringItHome: (
    _selectors: ('.economics.bringhome'),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-home.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBrown'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

// Condensed icon note
@include add_settings((
  LinkItUp:(
      _selectors: (".economics.linkup"),
      'Container:::box-decoration-break': slice,
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
    ),
  ClearItUp: (
        _selectors: ('.economics.clearup'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue2'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-coin.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue2'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

// Boxed Notes
@include add_settings((
    WorkItOut: (
      _selectors: ('.economics.workout'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

// EOC exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-self-check-questions-container', '.os-eoc.os-review-questions-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-problems-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemNumber:::width': 2%,
    'ProblemNumber:::text-align': right,
  ),
));

// Narrow tables
@include add_settings((
    NarrowTable: (
      _selectors: ('.os-narrow-table-container'),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('LearningObjectivesAbstract', 'cosmos:::LearningObjectivesShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('NarrowTable', 'common:::NarrowTableShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Equation', 'cosmos:::EquationShape');

// Chapter Intro
@include use('ChapterIntroWithBlockIntroHeader', 'cosmos:::ChapterIntroWithBlockIntroHeaderShape');
@include use('ChapterObjectives', 'cosmos:::ChapterObjectivesShape');

// Figures
@include use('Figure','cosmos:::FigureShape');
@include use('FigureAfterSubtitle', 'cosmos:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cosmos:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'cosmos:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cosmos:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cosmos:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'cosmos:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cosmos:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cosmos:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cosmos:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cosmos:::FigureFromExercisesShape');

// Notes
@include use('BringItHome', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('LinkItUp', 'cosmos:::CondensedIconNoteShape');
@include use('ClearItUp', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('WorkItOut', 'cosmos:::BoxedNoteWithSubtitleShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('IntroductionPageTitles', 'cosmos:::IntroductionPageTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('ExercisesSolutionLists', 'cosmos:::ExercisesListsShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

//Exercises
@include use('ExercisesModule', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('ReferencesWithIndentation', 'cosmos:::ModuleWithIndentationShape');
@include use('Index', 'cosmos:::IndexShape');
@include use('AnswerKey', 'cosmos:::AnswerKeyShape');
