@include add_settings ((
  scheme: (
    black: #000,
    white: #fff,
    gray: #424242,
    gray2: #555,
    grayDark: #333,
    grayMedium: #606163,
    grayLight: #dcdcdc,
    grayLight2: #ddd,
    grayLight3: #f9f2f4,
    grayLightest: #ededed,
    grayLightest2:#ececec,
    lightBlue: #027EB5,
    blue: #0064A0,
    blue2: #005F9A,
    darkBlue: #21366b,
    red: #c7254e,
    green: #156851,
  ),
  colorMap: (
    headingTitleColor: (_ref: "scheme:::grayDark"),
    baseColor: (_ref: "scheme:::gray"),
    bodyBackground: (_ref: "scheme:::white"),
    LearningObjectivesBackground: (_ref: "scheme:::grayLightest"),
    LearningObjectivesBorder: (_ref: "scheme:::grayLight"),
    LearningObjectivesText: (_ref: "scheme:::gray2"),
    Link: (_ref: "scheme:::lightBlue"),
    LinkHover: (_ref: "scheme:::blue"),
    NoteBackground: (_ref: "scheme:::grayLightest"),
    NoteBorder: (_ref: "scheme:::grayLight"),
    NoteText: (_ref: "scheme:::gray"),
    SolutionButtonText: (_ref: "scheme:::darkBlue"),
    TableCaptionLabel: (_ref: "scheme:::grayMedium"),
    CaptionInTable: (_ref: "scheme:::grayLight"),
    TableBorder: (_ref: "scheme:::grayLight2"),
    BlockquoteBorder: (_ref: "scheme:::grayLight"),
    CodeText: (_ref: "scheme:::red"),
    CodeBackground: (_ref: "scheme:::grayLight3"),
    CoreqSkillsBorder: (_ref: "scheme:::grayLight"),
    CoreqSkillsTitleBackround: (_ref: "scheme:::grayLightest2"),
    EquationNumberBorder: (_ref: "scheme:::black"),
    AnnotationText: (_ref: "scheme:::green"),
    PublicDomainBorder: (_ref: "scheme:::green"),
    StudentSampleBorder: (_ref: "scheme:::blue2"),
  )
));
