@include add_settings ((
  scheme: (
    gray: #424242,
    grayDark: #333,
    grayLight: #dcdcdc,
    grayLightest: #ededed,
  ),
  colorMap: (
    headingTitleColor: (_ref: "scheme:::grayDark"),
    figureCaption: (_ref: "scheme:::gray")
    paragraph: (_ref: "scheme:::gray"),
    NoteBackground: (_ref: "scheme:::grayLightest"),
    NoteBorder: (_ref: "scheme:::grayLight"),
    NoteText: (_ref: "scheme:::gray"),
  )
));
