@include add_settings ((
  scheme: (
    gray: #424242,
    gray2: #555,
    grayDark: #333,
    grayLight: #dcdcdc,
    grayLightest: #ededed,
    lightBlue: #027EB5,
    blue: #0064A0,
    darkBlue: #21366b,
  ),
  colorMap: (
    headingTitleColor: (_ref: "scheme:::grayDark"),
    baseColor: (_ref: "scheme:::gray"),
    LearningObjectivesBackground: (_ref: "scheme:::grayLightest"),
    LearningObjectivesBorder: (_ref: "scheme:::grayLight"),
    LearningObjectivesText: (_ref: "scheme:::gray2"),
    Link: (_ref: "scheme:::lightBlue"),
    LinkHover: (_ref: "scheme:::blue"),
    NoteBackground: (_ref: "scheme:::grayLightest"),
    NoteBorder: (_ref: "scheme:::grayLight"),
    NoteText: (_ref: "scheme:::gray"),
    SolutionButtonText: (_ref: "scheme:::darkBlue"),
  )
));
