$BASE_FONT_SIZE: 10px; // stylelint-disable-line meowtec/no-px

@function base-font-size() {
  @return $BASE_FONT_SIZE;
}

@function content-none() {
  @return "";
}

@function CONTENT_BLANK() {
  @return " ";
}

@function pow($base, $exp) {
  $value: 1;
  @for $i from 1 to abs($exp) {
    $value: $value * $base;
  }
  @if $exp > 0 {
    @return $value;
  } @else {
    @return 1 / $value;
  }
}

@function size-scale($level) {
  @return round(base-font-size() * pow(1.25, $level));
}

@function stix-fonts() {
  @return STIXGeneral, STIXSizeOneSym, STIXSize1;
}
