@function page-width() {
  @return 8.5in;
}

@function page-height() {
  @return 11.0in;
}

@function page-vertical-margin() {
  @return 0.8in;
}

@function page-horizontal-margin() {
  @return 1.0in;
}

@function page-content-width() {
  @return page-width() - 2 * page-horizontal-margin();
}

@function page-content-height() {
  @return page-height() - 2 * page-vertical-margin();
}

@function FULL_BLEED_WIDTH() {
  @return page-width() + 0.25in;
}

@mixin folio-typography {
  font-family: font-map(secondary);
  color: color-map(folio);
  font-size: size-scale(-1);
}

@mixin folio-chapter-header {
  background-color: transparent;
  color: color-map(folio-chapter-header);
  font-weight: bold;
}

@mixin folio-chapter-header-reset {
  content: CONTENT_BLANK();
}

/*******************
        RULES
*******************/

html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi;
}

div.book > div.preface {
  counter-reset: page 1;
}

div.book > div.preface {
  page: preface;
}

div.book > div.toc {
  page: table-of-contents;
}

div.book > div.chapter {
  page: chapter;
  prince-page-group: start;
}

div.book > div.appendix {
  page: appendix;
}

.landscape {
  page: landscape;
}

[data-type="chapter"],
body > [data-type="page"] {
  page-break-before: right !important;
  page-break-after: left !important;
}

@page {
  margin: page-vertical-margin() page-horizontal-margin();
  font-size: xx-small;
  font-family: font-map(basic);
  @footnotes {
    border-top: solid black thin;
    padding-top: 1em;
  }
}

@page :left {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: counter(page);
    @include folio-typography();
  }
  @top-center {}
  @top-right {
    content: string(cnx-header);
    @include folio-typography();
  }
  @bottom-left {
    color: grey;
    font-weight: thin;
    content: "This OpenStax book is available for free at " string(cnx-collection-url);
    prince-text-replace: ":9680" "\2019";
    @include folio-typography();
  }
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {}
}
@page :right {
  @top-left-corner {}
  @top-right-corner {}
  @bottom-left-corner {}
  @bottom-right-corner {}
  @top-left {
    content: string(cnx-header);
    @include folio-typography();
  }
  @top-center {}
  @top-right {
    content: counter(page);
    @include folio-typography();
  }
  @bottom-left {}
  @bottom-center {}
  @bottom-right {}
  @left-top {}
  @left-middle {}
  @left-bottom {}
  @right-top {}
  @right-middle {}
  @right-bottom {}
}
@page table-of-contents {
  @top-left-corner { content: content-none(); }
  @top-left { content: content-none(); }
  @top-right-corner { content: content-none(); }
  @top-right { content: content-none(); }
}
@page preface:blank {
  @top-left {
    content: content-none();
  }
}
@page preface:right {
  @top-right {
    content: counter(page)
  }
}
@page chapter:nth(1) {
  @top-left-corner {
    @include folio-chapter-header();
    @include folio-chapter-header-reset();
  }
  @top-right-corner {
    @include folio-chapter-header();
    @include folio-chapter-header-reset();
  }
  @top-left {
    @include folio-typography();
    @include folio-chapter-header();
  }
  @top-center {
    @include folio-chapter-header();
  }
  @top-right {
    @include folio-typography();
    @include folio-chapter-header();
  }
}
@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}
