$FRAMEWORK_SETTINGS_GLOBAL: ();
$FRAMEWORK_SETTINGS_MANIFEST_GLOBAL: ();

@function setting_exists($name) {
  
}

@function get_setting($name) {

}

$FRAMEWORK_USED_SETTINGS: ();
@function settings($name, $default: enum('Argument:::NONE')) {
  @if map-has-key($FRAMEWORK_SETTINGS_GLOBAL, $name) {
    $FRAMEWORK_USED_SETTINGS: map-merge($FRAMEWORK_USED_SETTINGS, ($name: true)) !global;
    @return map-get($FRAMEWORK_SETTINGS_GLOBAL, $name);
  }
  @if $default != enum('Argument:::NONE') {
    @return $default;
  }
  @return error("Unknown setting `#{$name}`.");
}

@function settings_not_null($name, $default: enum('Argument:::NONE')) {
  $settings-result: settings($name, $default);
  @if $settings-result != null {
    @return $settings-result;
  }
  @return error("Received a disallowed NULL value for setting `#{$name}`.");
}