$FRAMEWORK_SETTINGS_MANIFEST_GLOBAL: ();
$FRAMEWORK_USED_SETTINGS: ();

@function flatten_keep_references($settings) {
  @return map_key_prefix_flatten($settings, '', '_ref');
}

/// @group debug
@mixin debug_settings_manifest() {
  @debug "Settings manifest =>";
  @each $settings in $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL {
    @debug $settings;
  }
}

/// @group debug
@mixin debug_settings() {
  @debug "All available settings (last-added is on top) =>";
  $already_defined: ();
  @each $settings in $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL {
    @debug "=== Clump Start ===";
    @each $key, $value in flatten_keep_references($settings) {
      @if map-get($already_defined, $key) {
        @debug "~~#{$key} : #{$value}~~ (overridden above)";
      } @else {
        @debug "#{$key} : #{$value}";
      }
      $already_defined: map-merge($already_defined, ($key: true));
    }
  }
}

@mixin clear_used_settings() {
  $FRAMEWORK_USED_SETTINGS: () !global;
}

@function get_unused_settings() {
  $unused_entries: ();
  @each $settings in $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL {
    @each $key, $value in flatten_keep_references($settings) {
      @if index($FRAMEWORK_USED_SETTINGS, $key) == null {
        $unused_entries: append($unused_entries, ($key, $value), comma);
      }
    }
  }
  @return $unused_entries;
}

/// This mixin is used to add maps to the globally-accessible settings.
/// Settings are a key -> value map relationship, with the key typically being a namespaced CSS property name,
/// and the value being either a concrete value or reference to the value of some other key.
/// Some helpful tips:
/// - Settings maps added later take priority over those added earlier.
/// - When the maps are read, a nested key is equivalent to a namespaced one -- See Nested Keys Notation Example
/// - Settings values can reference a different value by marking its key -- See Settings References Example
/// @example scss - Nested Keys Notation
///   @include add_settings(('name1:::name2': value))
///   // equivalent to
///   @include add_settings((name1: (name2: value)))
/// @example scss - Settings References
///   @include add_settings((
///     colorScheme: (
///       primaryColor: (_ref: design1Color),
///     ),
///     design1Color: blue
///   ));
///   @debug settings(colorScheme:::primaryColor); // => blue
///
/// @group internal
///
/// @param {Map arglist} $settings - A map to append to the globally-accessible settings.

@mixin add_settings($settings...) {
  $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL: join($settings, $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL) !global;
}

@mixin remove_settings($settings...) {
  @each $member in $settings {
    $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL: remove_value($FRAMEWORK_SETTINGS_MANIFEST_GLOBAL, $member) !global;
  }
}

@mixin scoped_add_settings($settings...) {
  @include add_settings($settings...);
  @content;
  @include remove_settings($settings...);
}

/// This function is used to get values from the globally-accessible settings.
///
/// @param {String} $name - The key for the desired setting
/// @param {String} $default [enum('Object:::NONE')] - The default value to use if a setting for the key is not found
///
/// @group internal
///
/// @example scss - Settings Function
///   @include add_settings((
///     'colorScheme:::primaryColor': blue,
///   ));
///   @debug settings(colorScheme:::primaryColor); // => blue
///
@function settings($name, $default: enum('Object:::NONE')) {
  @each $settings_member in $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL {
    $settings: flatten_keep_references($settings_member);
    @if map-has-key($settings, $name) {
      $FRAMEWORK_USED_SETTINGS: append($FRAMEWORK_USED_SETTINGS, $name) !global;
      $value: map-deep-get($settings, $name);
      @if type-of($value) == map {
        $ref: map-get($value, '_ref');
        @if not has_setting($ref) {
          @return error(enum('Error:::INVALID_REFERENCE'), "Invalid reference `#{$ref}` in `#{$name}`.");
        }
        @return settings($ref, $default);
      } @else {
        @return $value;
      }
    }
  }
  @if $default != enum('Object:::NONE') {
    @return $default;
  }

  @warn "Unknown setting `#{$name}`.";
  @return "UNSET";
}

@function settings_not_null($name, $default: enum('Object:::NONE')) {
  $settings_result: settings($name, $default);
  @if $settings_result != null {
    @return $settings_result;
  }
  @return error(enum('Error:::TYPE_ERROR'), "Received a disallowed NULL value for setting `#{$name}`.");
}

@function has_setting($name) {
  @each $settings_member in $FRAMEWORK_SETTINGS_MANIFEST_GLOBAL {
    $settings: flatten_keep_references($settings_member);
    @if map-has-key($settings, $name) {
      @return true;
    }
  }
  @return false;
}
