$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-section-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

// Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'H2IntroTextHeaderIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'H2IntroTextHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'Title:::background-color': (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption1HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
  ),
  Checkpoint: (
    _selectors: (".check-point"),
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'SolutionTitleLabel:::font-weight': bold,
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  SpotlightOnEthics: (
    _selectors: (".spotlight-ethics"),
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  RealWorldApplication: (
    _selectors: (".real-application"),
    'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
));

@include add_settings((
  ChapterReviewTitles: (
    _selectors: (".os-chapter-review-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  SummaryTitles: (
    _selectors: (".os-section-summary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3LinkTitle:::font-size': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  ReviewQuestionsTitles: (
    _selectors: (".os-review-questions-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  ConceptualQuestionsTitles: (
    _selectors: (".os-conceptual-questions-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  NowYouTryItTitles: (
    _selectors: (".os-you-try-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-multiplechoice.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  PracticeExercisesTitles: (
    _selectors: (".os-practice-exercises-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exercisea.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  WrittenExercisesTitles: (
    _selectors: (".os-written-exercises-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-written.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CaseExercisesTitles: (
    _selectors: (".os-case-exercises-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  ExtensionExercisesTitles: (
    _selectors: (".os-extension-exercises-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
));

@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-conceptual-questions-container', '.os-eoc.os-you-try-container', '.os-eoc.os-practice-exercises-container', '.os-eoc.os-written-exercises-container', '.os-eoc.os-case-exercises-container', '.os-eoc.os-extension-exercises-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
  ),
));

@include add_settings((
TextHeavyWithTitleTable: (
        _selectors: (".os-table.os-text-heavy-container"),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Blockquote', "cardboard:::BlockquoteShape");
@include use('Link', 'cardboard:::LinkShape');
@include use('Toc', 'cardboard:::NoUnitToc');
@include use('NumberedLearningObjectives', 'cardboard:::LearningObjectivesNumberedShape');

// Chapter Intro
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');


//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cardboard:::FigureFromExercisesShape');

//Tables
@include use('FakeTitleTable', 'cardboard:::TableWithBordersShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TextHeavyWithTitleTable', 'cardboard:::TableWithoutBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');

//Notes
@include use('LinkToLearning', 'cardboard:::BoxedNoteShape');
@include use('Checkpoint', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('SpotlightOnEthics', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('RealWorldApplication', 'cardboard:::BoxedNoteWithSubtitleShape');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ReviewQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ConceptualQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('NowYouTryItTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('PracticeExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('WrittenExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CaseExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ExtensionExercisesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ChapterReviewTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');


//Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('EndnoteModule', 'cardboard:::EndnoteModuleShape');
@include use('EndnoteCite', 'cardboard:::EndnoteCiteShape');

//Exercises
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');

//Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');

//Eob
@include use('Index', 'cardboard:::IndexShape');
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');

