@use 'lib/cardboard/cardboard';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-section-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

// Settings

@include add_settings ((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    "MediaSplashBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "MediaSplashBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H2ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'Title:::background-color': (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption1HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
  ),
  MacTip: (
    _selectors: (".mac-tip"),
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'SolutionTitleLabel:::font-weight': bold,
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  SpotlightOnEthics: (
    _selectors: (".spotlight-ethics"),
    'Title:::background-color': (_ref: "colorMap:::noteOption2HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption2HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption2BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
  RealWorldApplication: (
    _selectors: (".real-application"),
    'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    'ProblemSolutionTitle:::font-family': (_ref: "typography:::baseFont"),
  ),
));

@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-conceptual-questions-container', '.os-eoc.os-you-try-container', '.os-eoc.os-practice-exercises-container', '.os-eoc.os-written-questions-container', '.os-eoc.os-case-exercises-container', '.os-eoc.os-extension-exercises-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemSolutionNumber:::width': 2%,
    'ProblemSolutionNumber:::text-align': right,
    'InjectedQuestionAnswersAnswerLetter:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  MultipartQuestionExercises: (
    _selectors: ('[data-type="injected-exercise"] [data-type="alphabetical-question-multipart"]'),
    'ProblemSolutionLetter:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include add_settings((
TextHeavyWithTitleTable: (
        _selectors: (".os-table.os-text-heavy-container"),
    ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-conceptual-questions-container', '.os-eoc.os-you-try-container', '.os-eoc.os-practice-exercises-container', '.os-eoc.os-written-questions-container', '.os-eoc.os-case-exercises-container', '.os-eoc.os-extension-exercises-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Toc', 'cardboard:::NoUnitToc');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape'); // Used in eoc exercises

// Chapter Intro
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');


//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureSplash','cardboard:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','cardboard:::FigureFromExercisesShape');

//Tables
@include use('FakeTitleTable', 'cardboard:::TableWithBordersShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TextHeavyWithTitleTable', 'cardboard:::TableWithoutBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');
@include use('TableAfterExercisePara', 'cardboard:::TableTopSpacingShape');

//Notes
@include use('LinkToLearning', 'cardboard:::BoxedNoteShape');
@include use('MacTip', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('SpotlightOnEthics', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('RealWorldApplication', 'cardboard:::BoxedNoteWithSubtitleShape');

//Titles
@include cardboard.page-titles();
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('ChapterIntroTitlesBlue', 'cardboard:::ChapterIntroTitlesShape');
@include cardboard.eoc-composite-chapter-titles(
  $root: '.os-chapter-review-container',
  $svg: toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg"),
  $composite-page-icons-map: (
    '.os-section-summary-container':      toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg"),
    '.os-glossary-container':             toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg"),
    '.os-review-questions-container':     toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg"),
    '.os-conceptual-questions-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg"),
    '.os-you-try-container':              toDataUri("svg+xml", "designs/cardboard/resources/cardboard-multiplechoice.svg"),
    '.os-practice-exercises-container':   toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exercisea.svg"),
    '.os-written-questions-container':    toDataUri("svg+xml", "designs/cardboard/resources/cardboard-written.svg"),
    '.os-case-exercises-container':       toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg"),
    '.os-extension-exercises-container':  toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg"),
  )
);
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');


//Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('ReferencesWithLinkedNotes', 'cardboard:::ReferencesWithLinkedNotesShape');
@include use('ReferencesCiteLink', 'cardboard:::ReferencesCiteLinkShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

//Exercises
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');
@include use('MultipartQuestionExercises','cardboard:::ExercisesMultipartQuestionShape');

//Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemQuestionLists', 'cardboard:::ExercisesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');

//Eob
@include use('Index', 'cardboard:::IndexShape');
@include use('AnswerKey', 'cardboard:::AnswerKeyShape');
@include use("AnswerKeySolution", "cardboard:::AnswerKeySolutionShape");

