@function scale-uniform($color, $scale) {
  @return rgb(round(red($color) * $scale), round(green($color) * $scale), round(blue($color) * $scale));
}

// Default color map
@function default-color-map() {
  $DEFAULT_COLOR_MAP: (
    standard-white: color-scheme(standard-white),
    standard-black: color-scheme(standard-black),

    bodyText: color-scheme(bodyText),

    featureBodyText: color-scheme(standard-black),
    featureBorder: color-scheme(alert-primary),

    linkToLearningTitle: color-scheme(secondary),
    tryIt: color-scheme(secondary),

    folioChapterHeader: color-scheme(standard-white),
    folio: color-scheme(secondary),

    colored-text: color-scheme(alert-primary),

    bodyLink: color-scheme(accent-primary),
    noteLink: color-scheme(accent-secondary),

    footnote: color-scheme(accent-tertiary),
    footnote-bg: linear-gradient(180deg, color-scheme(quaternary), color-scheme(quaternary)),

    preface-title: color-scheme(secondary),

    table-border: scale-uniform(color-scheme(standard-white), 0.95),
    table-body-border: rgba(color-scheme(standard-black), 0.1),
    table-content: color-scheme(secondary),
    table-head: color-scheme(secondary),
    table-head-bg: color-scheme(quinary),
    table-th-border: color-scheme(standard-black),
    table-td-border: color-scheme(standard-black),
    table-colored-table-bg: color-scheme(accent-quinary),
    table-first-th-bg: color-scheme(quinary),
    table-first-th: color-scheme(secondary),
    table-second-th-bg: color-scheme(primary),
    table-second-th: color-scheme(standard-white),

    text-heavy-bg: color-scheme(standard-white),
    text-heavy-border: scale-uniform(color-scheme(standard-white), 0.9),
    text-heavy-content: color-scheme(secondary),

    col-header: color-scheme(standard-white),
    col-header-bg: color-scheme(secondary),

    toc-title: color-scheme(secondary),
    toc-link: color-scheme(secondary),
    toc-chapter-link: color-scheme(primary),
    toc-number-border: color-scheme(quinary),
    toc-number: color-scheme(primary),
    toc-odd-bg: color-scheme(accent-quaternary),
    toc-side-border: color-scheme(accent-quaternary),

    chapter-number-bg: color-scheme(standard-white),
    chapter-number: color-scheme(secondary),
    chapter-number-border: color-scheme(standard-white),
    chapter-title: color-scheme(standard-white),
    intro-title: color-scheme(primary),
    splash-title-bar: color-scheme(primary),
    splash-title-bar-border: darken(color-scheme(primary), 10%),

    chapter-outline-title: color-scheme(primary),
    chapter-outline-sections: color-scheme(standard-black),
    chapter-outline-number: color-scheme(primary),
    chapter-outline-link: color-scheme(secondary),

    LO-title: color-scheme(secondary),
    LO-section-titles: color-scheme(primary),

    h1-title: color-scheme(primary),
    h1-number: color-scheme(secondary),
    h1-number-border: color-scheme(primary),
    h2-title: color-scheme(secondary),
    h2-number-border: color-scheme(quinary),
    h3-title: color-scheme(secondary),
    h3-number-border: color-scheme(quinary),
    h4-title: color-scheme(secondary),
    h4-number-border: color-scheme(quinary),
    h5-title: color-scheme(standard-black),
    h5-number-border: color-scheme(quinary),

    example-bg: color-scheme(primary),
    example-title: color-scheme(standard-white),

    notes-title: color-scheme(primary),
    notes-subtitle: color-scheme(secondary),
    notes-body-text: color-scheme(standard-black),
    notes-border: scale-uniform(color-scheme(standard-white), 0.9),

    EOC-titles: color-scheme(secondary),
    EOC-subtitles: color-scheme(secondary),

    caption: rgba(color-scheme(standard-black), 0.6),
    caption-number: color-scheme(standard-black),

    appendix-title: color-scheme(secondary),
    appendix-number: color-scheme(secondary),
    appendix-number-border: color-scheme(primary),

    index-letter-color: color-scheme(secondary),
  );
  @return $DEFAULT_COLOR_MAP;
}

@function color_map($name) {
  @if map-has-key($color_map, $name) {
    @return map-get($color_map, $name);
  }
  @error "Unknown color map designation: #{$name}";
}

// We need to keep track of all the maps that we want to merge into our final color-map
// This is needed because we need the FUNCTIONS to re-evaluate each time a merge happens
// Alternatively, we could do some ugly importing reorganization.
$color-map-manifest: ();
@mixin color-map-merge($function) {
  $color-map-manifest: append($color-map-manifest, $function) !global;
  @include update-color-map-config();
}

// Ensure all default keys are available from $color_map and color_map()
$color-map: default-color-map() !default;

@mixin update-color-map-config() {
  $color-map: default-color-map() !global;
  @each $map-get-function in $color-map-manifest {
    $color-map: map-merge($color-map, call($map-get-function)) !global;
  }
}
