// Default color scheme
@function default-color-scheme() {
  $DEFAULT_COLOR_SCHEME: (
    standard-white:   #FFFFFF,
    standard-black:   #000000,

    bodyText: #242424,

    primary:    #054C58,
    secondary:  #077384,
    tertiary:   #1AC0DD,
    quaternary: #6DD9EA,
    quinary:    #9EE5F1,

    accent-primary:   #027EB5,
    accent-secondary: #0064A0,
    accent-tertiary:  #6D6F71,
    accent-quaternary:#F4F4F4,
    accent-quinary:   #EFD8B0,


    pale-grey: #eaeaea,

    alert-primary:  #CC0000,
    alert-secondary:#47B247,
    alert-tertiary: #F6D727
  );
  @return $DEFAULT_COLOR_SCHEME;
}

// Ensure all default keys are available from $color-scheme and color-scheme()
$color-scheme: default-color-scheme() !default;

@mixin update-color-scheme-config() {
  $color-scheme: default-color-scheme() !global;
  @each $scheme-get-function in $color-scheme-manifest {
    $color-scheme: map-merge($color-scheme, call($scheme-get-function)) !global;
  }
}

// Retrieves color value from color-scheme
@function color-scheme($name) {
  @if map-has-key($color-scheme, $name) {
    @return map-get($color-scheme, $name);
  }
  @error "Unknown color scheme designation: #{$name}";
}

$color-scheme-manifest: (); //initalize map

@mixin color-scheme-merge($function) {
  $color-scheme-manifest: append($color-scheme-manifest, $function) !global;
@include update-color-scheme-config();
}
