
// stylelint-disable meowtec/no-px
@function default-settings() {
  $DEFAULT_SETTINGS: ( 
    base-font-size: 10px,
    h1-font: font-map(serif),
    h1-title-color: color-map(h1-title),
    h2-font: font-map(serif),
    h2-title-color: color-map(h2-title),
    h3-font: font-map(serif),
    h3-title-color: color-map(h3-title),
    h4-font: font-map(serif),
    h4-title-color: color-map(h4-title),
    h5-font: font-map(serif),
    h5-title-color: color-map(h5-title),

    table-head-font: font-map(serif),
    table-body-font: font-map(sans-serif),
    table-header-font-weight: 100,
    table-border-radius: .3rem,
    table-th-font-size: size-scale(1),
    table-border-thickness: solid 1px,
  ); // stylelint-enable meowtec/no-px
  @return $DEFAULT_SETTINGS; 
}

@function settings($name) {
  @if map-has-key($settings, $name) {
    @return map-get($settings, $name);
  }
  @error "Unknown settings option: #{$name}";
}

$settings-manifest: ();
@mixin settings-merge($function) {
  $settings-manifest: append($settings-manifest, $function) !global;
  @include update-settings-config();
}

// Ensure all default keys are available from $settings and settings()
$settings: default-settings() !default;
$settings: map-merge(default-settings(), $settings);


@mixin update-settings-config() {
  $settings: default-settings() !global;
  @each $map-get-function in $settings-manifest {
    $settings: map-merge($settings, call($map-get-function)) !global;
  }
}
