//POSSIBLE BREAKDOWN: "raw" settings used with _ref to call globally used settings?
//Define all hex values first, then create a map referencing the values belwo
//TODO rename those colors variables to something a tad more descriptive
@include add_settings ((
  scheme: (
    Y1:    #ECCF48,
    Y2:    #F3BE57,
    O1:    #E27C4E,
    O2:    #F37541,
    R1:    #B32B2F,
    R2:    #A11F67,
    R3:    #C31427,
    R4:    #B10069,
    BR1:   #A5633B,
    BR2:   #B05E36,
    B1:    #57BCD8,
    B2:    #3172B6,
    B3:    #388097,
    B4:    #00829B,
    B5:    #00819A,
    B6:    #0DC0DC,
    B7:    #0074BC,
    B8:    #027EB5,
    G1:    #99CDBF,
    G2:    #6EBB9E,
    G3:    #84AE52,
    G4:    #9C9D4A,
    G5:    #479177,
    G6:    #78B042,
    G7:    #1E9575,
    Grey1: #EEEAE0,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    fontBodyColor: (_ref: "scheme:::black"),
    anatomyTocColor: (_ref: "scheme:::B5"),
    physicsTocColor: (_ref: "scheme:::B5"),
    tocTitleColor: (_ref: "scheme:::B2"),
    tocChapterNumberColor: (_ref: "scheme:::B2"),
    tocUnitColor: (_ref: "scheme:::B2"),
    prefaceTitleColor: (_ref: "scheme:::B4"),
    moduleTitleColor: (_ref: "scheme:::B4"),
    figureNumberColor: (_ref: "scheme:::R3"),
    equationNumberColor: (_ref: "scheme:::R3"),
    summarytitleColor: (_ref: "scheme:::black"),
    pagetitleColor: (_ref: "scheme:::black"),
    subsubtitleColor: (_ref: "scheme:::G5"),
    chapterOutlineColor: (_ref: "scheme:::B2"),
    chapterOutlineTextColor: (_ref: "scheme:::white"),
    chapterSplashCaptionColor: (_ref: "scheme:::Grey1"),
    chemEOCHeaderColor: (_ref: "scheme:::B3"),
    everydayLifeColor: (_ref: "scheme:::B4"),
    portraitColor: (_ref: "scheme:::G7"),
    figureTextColor: (_ref: "scheme:::R3"),
    interconnectedColor: (_ref: "scheme:::O2"),
    homeostaticColor: (_ref: "scheme:::O2"),
    careerColor1: (_ref: "scheme:::BR2"),
    scienceColor: (_ref: "scheme:::B6"),
    apSciencePracticesColor: (_ref: "scheme:::R4"),
    visualColor: (_ref: "scheme:::B7"),
    diseaseColor: (_ref: "scheme:::B5"),
    disordersColor: (_ref: "scheme:::R4"),
    evolutionColor: (_ref: "scheme:::O2"),
    everydayConnectionColor: (_ref: "scheme:::R4"),
    apEverydayConnectionColor: (_ref: "scheme:::BR2"),
    careerColor: (_ref: "scheme:::BR2"),
    agingColor: (_ref: "scheme:::BR2"),
    virtualPhysicsColor: (_ref: "scheme:::G7"),
    snapLabColor: (_ref: "scheme:::B7"),
    watchPhysicsColor: (_ref: "scheme:::B7"),
    linksToPhysicsColor: (_ref: "scheme:::G3"),
    boundlessPhysicsColor: (_ref: "scheme:::G7"),
    funInPhysicsColor: (_ref: "scheme:::R4"),
    workInPhysicsColor: (_ref: "scheme:::BR2"),
    microbioHeaderColor: (_ref: "scheme:::B7"),
    microbioIntroColor: (_ref: "scheme:::B7"),
    microbioLearningObjColor: (_ref: "scheme:::B7"),
    physicsLearningObjColor: (_ref: "scheme:::B5"),
    exampleColor: (_ref: "scheme:::R3"),
    linkToLearningColor: (_ref: "scheme:::G3"),
    interactiveLinkColor: (_ref: "scheme:::G3"),
    anatomyHeaderColor: (_ref: "scheme:::B5"),
    chemistryHeaderColor: (_ref: "scheme:::B4"),
    physicsHeaderColor: (_ref: "scheme:::B5"),
    microConnectionColor: (_ref:"scheme:::B6"),
    checkYourUnderstanding: (_ref:"scheme:::O2"),
    linkColor: (_ref: "scheme:::B8"),
    microbioClinicalFocusColor: (_ref: "scheme:::B7"),
    microbioEyeOnEthics: (_ref: "scheme:::B4"),
    microbioDiseaseProfile: (_ref: "scheme:::G7"),
    microbioCaseInPoint: (_ref: "scheme:::R4"),
    anatomyTableColor: (_ref: "scheme:::B5"),
    chemistryTableColor: (_ref: "scheme:::B4"),
    biologyTableColor: (_ref: "scheme:::B7"),
    physicsTableColor: (_ref: "scheme:::B5"),
    anatomyIntroColor: (_ref: "scheme:::B5"),
    physicsIntroColor: (_ref: "scheme:::B5"),
    chemistryIntroColor: (_ref: "scheme:::B4"),
    biologyHeaderColor: (_ref: "scheme:::B7"),
    equationCallOutColor: (_ref: "scheme:::Grey1"),
    tipsForSuccessColor: (_ref: "scheme:::Grey1"),
    graspCheckColor: (_ref: "scheme:::Grey1"),
    problemSolvingColor: (_ref: "scheme:::B5"),
    physicsDefaultNoteColor: (_ref: "scheme:::B5"),
    phetColor: (_ref: "scheme:::B6"),
  ),
));
