//global template settings
@import "colors";
@import "typography";

//template parts
@import 'templates/template1/parts/_figureimage-settings.scss';
@import 'templates/template1/parts/_common-figure-settings.scss';
@import 'templates/template1/parts/everyday-settings.scss';
@import 'templates/template1/parts/example-settings.scss';
@import 'templates/template1/parts/interconnect-settings.scss';
@import 'templates/template1/parts/learning-settings.scss';
@import 'templates/template1/parts/linktolearning-settings.scss';
@import 'templates/template1/parts/portrait-settings.scss';
@import 'templates/template1/parts/appendix-settings.scss';
@import 'templates/template1/parts/index-settings.scss';
@import 'templates/template1/parts/preface-settings';
@import 'templates/template1/parts/chapter-settings';
@import 'templates/template1/parts/eoc-settings.scss';
@import 'templates/template1/parts/references-settings';
@import 'templates/template1/parts/iconfeatures-settings.scss';
@import 'templates/template1/parts/everyday2-settings.scss';


@import 'templates/template1/parts/aging-settings';
@import 'templates/template1/parts/diseases-settings';
@import 'templates/template1/parts/disorders-settings';
@import 'templates/template1/parts/everydayconnection-settings';
@import 'templates/template1/parts/answerkey-settings';
@import 'templates/template1/parts/career-settings.scss';
@import 'templates/template1/parts/homeostatic-settings';
@import 'templates/template1/parts/chapterintro-settings';


@include add_settings((
  //use these as defaults for the book
  BookRoot: (
    _selectors: (":root"),
    BookRoot: (
      font-family: (_ref: 'typography:::sansFont'), //book default font
      font-size: (_ref: 'typography:::baseFontSize'), //base font size
      line-height: (_ref: 'typography:::baseLineHeight'), //base font height
      color: (_ref: "colorMap:::fontBodyColor"),
      prince-image-resolution: "auto, 200dpi",
      prince-background-image-resolution: 200dpi
    ),
  ),
));

