// @import "compass/typography" or some other vertical rhythm functions
//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import 'designs/common/pdf/typography';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
  typography: (
    sansFont: "IBM Plex Sans",
    sansFontLight: "IBM Plex Sans Light",
    sansFontMedium: "IBM Plex Sans Medium",
    eobTitleFont: ("IBM Plex Sans", sans-serif),
    baseFont: "Alegreya",
    serifFont: ("Muli", sans-serif),
    titleFont: "Muli",
    baseFontSize: 10px,
    baseLineHeight: line-height(0),
    //TODO move this out
    exampleFontSize: 1.44rem,
  )
));