$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/parts/pdf/_folio.scss';

// Iconned Notes
@include add_settings((
  ConnectConcepts: (
    _selectors: ('.connect-the-concepts'),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-connected.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

//Settings
@include use('BookRoot', "common:::BookRoot");
@include use('Figure', 'cosmos:::FigureShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesAbstractModuleShape');

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Notes
@include use('ConnectConcepts', 'cosmos:::IconnedNoteWithSubtitleShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');
