$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

// Settings
// Condensed icon note
@include add_settings((
  LinkToLearning:(
      _selectors: (".psychology.link-to-learning"),
      'Container:::box-decoration-break': slice,
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

// Iconned Notes
@include add_settings((
  ConnectConcepts: (
    _selectors: ('.connect-the-concepts'),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-connected.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
));

// Boxed Notes
@include add_settings((
  EverydayConnection: (
      _selectors: ('.everyday-connection'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption4Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption4Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WhatDoYouThink: (
      _selectors: ('.what-do-you-think'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    DigDeeper: (
      _selectors: ('.dig-deeper'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

// EOC exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-personal-application-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemNumber:::width': 2%,
    'ProblemNumber:::text-align': right,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesModuleShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');
@include use('FigureAfterSubtitle', 'cosmos:::FigureTopSpacingShape');
@include use('FigureFromExercisesProblem','cosmos:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cosmos:::FigureFromExercisesShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Notes
@include use('ConnectConcepts', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('LinkToLearning', 'cosmos:::CondensedIconNoteShape');
@include use('EverydayConnection', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('WhatDoYouThink', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('DigDeeper', 'cosmos:::BoxedNoteWithSubtitleShape');

// Tables
@include use('FakeTitleTable', 'cosmos:::BasicTableShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

//Exercises
@include use('ExercisesModule', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('EobReferencesWithoutNumbering', 'cosmos:::EobReferencesWithoutNumberingShape');
@include use('Index', 'cosmos:::IndexShape');
