// Books using those settings: Calculus Vol1, Vol2 and Vol3

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;
$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio_new';

//Settings

@include add_settings((
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
  Try: (
    _selectors: ('[data-type="note"].try'),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  GeneralStrategies: (
    _selectors: ('[data-type="note"].general-strategies'),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  MiniLessonQuestion: (
    _selectors: ('[data-type="note"].mini-lesson-question'),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  LinkToLearning: (
    _selectors: ('[data-type="note"].link-to-learning'),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  SelfCheck: (
    _selectors: ('[data-type="note"].self-check'),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
));

@include add_settings((
  EverydayExercises: (
    _selectors: ('section.practice', 'section.numbered-exercises'),
  ),
  ReviewExercises: (
    _selectors: ('.os-eoc.os-review-exercises-container > section.review-exercises'),
  ),
));

@include add_settings ((
  AnswerKeyExercisesSolutionLists: (
    _selectors: ('.os-eob.os-solutions-container [data-type="solution"]'),
  ),
  KeyEquations:(
      _selectors: (".os-key-equations-container"),
        'TableData:::font-family': (_ref: "typography:::baseFont"),
        'TableData:::padding-top': table-v-spacing(1),
        'TableData:::padding-bottom': table-v-spacing(1),
        'TableData:::padding-left': table-h-spacing(1),
        'TableData:::padding-right': table-h-spacing(1),
        'TableData:::border-bottom-width': 0.09rem,
        'TableData:::border-bottom-style': solid,
        'TableData:::border-bottom-color': (_ref: "colorMap:::keyEquationsBorderColor"),
        'TableData:::color': (_ref: "colorMap:::tableColor"),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-eos.os-section-exercises-container', '.os-eoc.os-review-exercises-container'),
  ),
));

@include add_settings((
  ModuleTitles: (
    _selectors: (
      settings('ModuleTitles:::_selectors'),
      '[data-type=unit] > [data-type=page]:not(.introduction)',
    )
  )
));

@mixin HideSolutions() {
  [data-type="solution"] {
    display: none;
  }
};

@mixin UnindentedList() {
  [data-type="exercise"] {
    ol.os-raise-noindent, ul.os-raise-noindent {
      padding-left: 0;
      list-style-position: inside;
    }
  }
}

@mixin BorderlessTable {
    .os-table table.borderless {
        thead > tr > th,
        tbody > tr > td {
            border: none !important;
        }
    }
}

@include HideSolutions();
@include UnindentedList();
@include BorderlessTable();

@include use('BookRoot', "common:::BookRoot");
@include use('LearningObjectivesNumbered', 'corn:::LearningObjectivesNumberedShape');
@include use('TocUnit', 'corn:::UnitToc');
@include use('Example', 'corn:::ExampleShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape'); // Used in eoc, eos exercises

// Chapter Intro
@include use('ChapterOutline', 'corn:::ChapterOutlineShape');

//Figures
@include use('Figure','corn:::FigureShape');
@include use('FigureSplash','corn:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'corn:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','corn:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','corn:::FigureFromExercisesShape');
@include use('FigureAfterEocPara', 'corn:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterEocPara', 'corn:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'corn:::ImageTopSpacingShape');
@include use('FigureAfterEosPara', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterEosPara', 'corn:::ImageTopSpacingShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('StepwiseLists', 'corn:::StepwiseListsShape');
@include use('EosLists', 'corn:::EosListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');
@include use('ListsFromExercises', 'corn:::ListsFromExercisesShape');

//Titles
// @include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'corn:::ChapterIntroTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('CompositeChapterTitles', 'corn:::CompositeChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('EobCompositePageTitles', 'corn:::CompositePageTitlesShape');

//Notes
@include use('NoClassNote', 'corn:::BoxedNoteShape');
@include use('Try', 'corn:::IconCondensedNoteShape');
@include use('GeneralStrategies', 'corn:::IconCondensedNoteShape');
@include use('MiniLessonQuestion', 'corn:::IconCondensedNoteShape');
@include use('LinkToLearning', 'corn:::IconCondensedNoteShape');
@include use('SelfCheck', 'corn:::IconCondensedNoteShape');

//Equations
@include use('Equation', 'corn:::EquationShape');
@include use('NumberedEquation', 'corn:::NumberedEquationShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');
@include use('DataTable', 'corn:::BasicTableShape');
@include use('TableFromMultiColumnExercises', 'corn:::TableFromExercisesShape');
@include use('TableFromExercisesLists', 'corn:::TableFromExercisesListsShape');
@include use('TableAfterExercisePara', 'corn:::TableTopSpacingShape');
@include use('TableFromAnswerKey', 'corn:::TableFromAnswerKeyShape');

//EoC
@include use('KeyTerms','corn:::KeyTermsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Exercises from Example
@include use('ExerciseFromExample', 'corn:::ExerciseFromExampleShape');

//Section Exercises
@include use('EverydayExercises', 'corn:::ExercisesModuleShape');

//Key Equations spacing
@include use('KeyEquations','corn:::ModuleWithUnstyledTableShape');

// EoC Exercises
@include use('ReviewExercises', 'corn:::ExercisesModuleShape');

//EOB
@include use('AnswerKey', 'corn:::AnswerKeyShape');
@include use('AnswerKeyOneColumnEobSolution', 'corn:::AnswerKeySolutionShape');
@include use('Index', 'corn:::IndexShape');


// // Change the page number from 314 to 100π
// @page :nth(314):left         { @top-left-corner { content: "100π" "     "; } }
// @page :nth(314):right        { @top-right-corner { content: "     " "100π"; } }

// // Do the same for tau.
// // See https://www.scientificamerican.com/article/let-s-use-tau-it-s-easier-than-pi/
// @page :nth(628):left         { @top-left-corner { content: "100τ" "     "; } }
// @page :nth(628):right        { @top-right-corner { content: "     " "100τ"; } }

// @page :nth(2): left          { @top-left-corner { content: "TWO" "     "; } }
// @page :nth(2):right          { @top-right-corner { content: "     " "TWO"; } }
