// Books using those settings: Calculus Vol1, Vol2 and Vol3

@use "../../lib/corn/features/tables";

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;
$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/corn/_design.scss';
@import '../../design-settings/corn/_settings.scss';
@import '../../designs/corn/pdf/folio_new';

//Settings

$pageWidth: 6in;
$noteTitlePadding: h-spacing(3);

@include add_settings((
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'ImageInMedia:::width': 3in,
    'ImageInMedia:::margin-left': auto,
    'ImageInMedia:::margin-right': auto,
  ),
  Try: (
    _selectors: ('[data-type="note"].try'),
    'Container:::display': flex,
    'Title:::padding-right': $noteTitlePadding,
    'Title:::max-width': 15%,
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleLabel:::margin-right': h-spacing(2),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::fontBodyColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::width': 85%,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-tryit.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  GeneralStrategies: (
    _selectors: ('[data-type="note"].general-strategies'),
    'Container:::display': flex,
    'Title:::padding-right': $noteTitlePadding,
    'Title:::max-width': 20%,
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleLabel:::margin-right': h-spacing(2),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::fontBodyColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::width': 80%,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-manipmath.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  MiniLessonQuestion: (
    _selectors: ('[data-type="note"].mini-lesson-question'),
    'Container:::display': flex,
    'Title:::padding-right': $noteTitlePadding,
    'Title:::max-width': 30%,
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleLabel:::margin-right': h-spacing(2),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::fontBodyColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::width': 70%,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-question.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  LinkToLearning: (
    _selectors: ('[data-type="note"].link-to-learning'),
    'Container:::display': flex,
    'Title:::padding-right': $noteTitlePadding,
    'Title:::max-width': 30%,
    'Title:::white-space': nowrap,
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleLabel:::margin-right': h-spacing(2),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::fontBodyColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::width': 70%,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-link.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
    'Subtitle:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
  SelfCheck: (
    _selectors: ('[data-type="note"].self-check'),
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'ImageInMedia:::width': 3in,
    'ImageInMedia:::margin-left': auto,
    'ImageInMedia:::margin-right': auto,
  ),
));

@include add_settings((
  EverydayExercises: (
    _selectors: ('section.numbered-exercises'),
    FirstLevelOrderedList: (
      margin-left: h-spacing(5),
    ),
    ExercisesParagraphTitleItalic: (
      font-family: (_ref: 'typography:::baseFont'),
      color: null,
      margin-top: v-spacing(1),
      font-style: null,
    ),
    MultipartQuestionIdent: (
      margin-left: initial,
    ),
  ),
));

@include add_settings((
  PracticeExercises: ( // Two Column Exercise Module
    _selectors: ('section.practice'),
    FirstLevelOrderedList: (
      margin-left: h-spacing(5),
    ),
    MultipartQuestionIdent: (
      margin-left: initial,
    ),
    ExerciseContainer: (
      width: initial,
      display: initial,
    ),
    ProblemWrapper: (
      display: initial,
    ),
    ExercisesParagraphTitle: (
      font-family: (_ref: 'typography:::baseFont'),
      color: (_ref: 'colorMap:::moduleTitleColor'),
      margin-top: v-spacing(1),
      font-style: normal,
    ),
    ExercisesParagraphTitleItalic: (
      font-family: (_ref: 'typography:::baseFont'),
      color: null,
      margin-top: v-spacing(1),
      font-style: null,
    ),
    ProblemSolutionNumber: (
      color: (_ref: 'colorMap:::fontBodyColor'),
    ),
  ),
));

[data-type=injected-exercise] ol:not(.os-raise-noindent), [data-type=exercise] ol:not(.os-raise-noindent) {
  margin-left: 16px;
}

[data-type=injected-exercise] ul:not(.os-raise-noindent), [data-type=exercise] ul:not(.os-raise-noindent) {
  margin-left: 16px;
}

section:has([data-type=note]) {
  width: 100%;
}

@mixin PracticeQuestionNumbers {
  section.practice [data-type=injected-exercise] {
    > [data-type=exercise-stimulus],
    > [data-type=exercise-question] [data-type=question-stem] {
      > ol:not([type=a]) > li::marker {
        @content;
      }
    }
  }
}

@include PracticeQuestionNumbers {
  font-weight: bold;
};

@include add_settings ((
  AnswerKeyExercisesSolutionLists: (
    _selectors: ('.os-eob.os-solutions-container [data-type="solution"]'),
  ),
  KeyEquations:(
      _selectors: (".os-key-equations-container"),
        'TableData:::font-family': (_ref: "typography:::baseFont"),
        'TableData:::padding-top': table-v-spacing(1),
        'TableData:::padding-bottom': table-v-spacing(1),
        'TableData:::padding-left': table-h-spacing(1),
        'TableData:::padding-right': table-h-spacing(1),
        'TableData:::border-bottom-width': 0.09rem,
        'TableData:::border-bottom-style': solid,
        'TableData:::border-bottom-color': (_ref: "colorMap:::keyEquationsBorderColor"),
        'TableData:::color': (_ref: "colorMap:::tableColor"),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-eos.os-section-exercises-container', '.os-eoc.os-review-exercises-container'),
  ),
));

@include add_settings((
  ModuleTitles: (
    _selectors: (
      settings('ModuleTitles:::_selectors'),
      '[data-type=unit] > [data-type=page]:not(.introduction)',
    )
  )
));

@include add_settings((
  ModuleSectionWithBorder: (
    _selectors: ('section.check-understanding'),
    ModuleSectionWithBorder: (
      border-top-style: solid,
      border-bottom-style: solid,
      border-color: (_ref: 'colorMap:::moduleTitleColor'),
      border-width: 1px,
      padding: v-spacing(2) 0,
      break-inside: avoid,
    )
  )
));

@include add_settings((
  BasicTable: (
    'TableHeadCell:::background-color': (_ref: 'colorMap:::algebra1TableColor'),
    'TableData:::border-color': (_ref: 'colorMap:::algebra1TableColor'),
  ),
  ColumnHeader: (
    'TableHeadCell:::background-color': (_ref: 'colorMap:::algebra1TableColor'),
    'TableData:::border-color': (_ref: 'colorMap:::algebra1TableColor'),
  ),
  UnnumberedUnstyledTable: (
    'TableHeadCell:::background-color': (_ref: 'colorMap:::algebra1TableColor'),
    'TableData:::border-color': (_ref: 'colorMap:::algebra1TableColor'),
  ),
  DataTable: (
    'TableHeadCell:::background-color': (_ref: 'colorMap:::algebra1TableColor'),
    'TableData:::border-color': (_ref: 'colorMap:::algebra1TableColor'),
  ),
));

// For when answers are incorrectly included in questions as first level lists
[data-type="exercise-question"] > div > div > ol[type="a"]:not(.circled):not(.os-stepwise):not(.os-raise-noindent):nth-of-type(2) {
  margin-left: h-spacing(5);
}

@include tables.distributed-table-images((2, 3, 4, 5, 6), $pageWidth);

// We do not want these tables to be centered on the page
@mixin TableSettings {
  .os-table {
    [data-type=injected-exercise]
    [data-type=exercise-question]
    .os-problem-container
    [data-type=answer-content] > & {
      display: initial;
      margin-left: initial;
      margin-right: initial;
    }
  }
}

// Avoid breaks between `p` describing `media`
section.numbered-exercises, section.practice [data-type=problem] {
  > p:has(+ [data-type=media]) {
    break-after: avoid;
    break-inside: avoid-page;
  }
}

section.numbered-exercises [data-type=exercise]:has([data-type=problem] .os-problem-container [data-type=media]) {
  display: inline-block;
  vertical-align: top;
}

section.numbered-exercises [data-type=exercise] [data-type=problem]:has(.os-problem-container [data-type=media]) {
  display: flex;
  overflow-wrap: break-word;
}

section.numbered-exercises [data-type=exercise] [data-type=problem] .os-problem-container:has([data-type=media]) {
  display: flex;
  flex-wrap: wrap;
}

section.numbered-exercises [data-type=exercise] [data-type=problem] .os-problem-container [data-type=media] {
  width: 100%;
}

section.numbered-exercises [data-type=exercise] img,
section.numbered-exercises [data-type=injected-exercise] img {
  max-width: 100%;
}

@include add_settings((
  HiddenElements: (
    _selectors: ('[data-type=solution]')
  )
));

@mixin BorderlessTable {
  .os-table table.borderless {
    thead > tr > th,
    tbody > tr > td {
      border: none !important;
    }
  }
}

@mixin ImageBaseline {
  img {
    max-width: 4in;
    max-height: 3in;
    height: auto;
    width: auto;

    [data-type=media] > & {
      display: block;
      margin-bottom: #{v-spacing(2)};
    }
  }
}

@mixin TextOnlyChapterTitle(
  $mainFontColor,
  $mainFontFamily,
  $borderColor,
  $mainFontSize: font-scale(4)
) {
  [data-type=unit] > h1[data-type=document-title] {
    display: none;
  }

  [data-type=chapter] > h1[data-type=document-title] {
    display: flex;
    align-items: center;
    color: #{$mainFontColor};
    font-family: #{$mainFontFamily};
    font-size: #{$mainFontSize};
    line-height: #{$mainFontSize};
    height: font-scale(8);

    > .os-number {
      border-style: solid;
      border-width: 0.07rem;
      border-color: #{$borderColor};
      text-transform: uppercase;
      padding: 0.5rem;
      margin-right: 1rem;
    }

    > .os-part-text {
      display: none;
    }

    > .os-text {
      font-weight: bold;
      text-transform: uppercase;
      prince-filter-resolution: 300dpi;
      justify-content: center;
      align-items: center;
    }
  }
}

@mixin SplitMultipart {
  [data-type=exercise-stimulus] {
    > ol:not(.circled):not(.os-stepwise),
    > ul:not(.circled):not(.os-stepwise):not([data-labeled-item=true]) {
      margin-left: #{h-spacing(3)};
    }
  }
}

@include add_settings((
  GenericImageInSection: (
    _selectors: ('section', 'section > section', 'section > section > section'),
    ImageInMedia: (
      margin-left: null,
      margin-right: null,
      // Do not overwrite the baseline values here
      display: null,
      margin-bottom: null,
    ),
  )
));

// Use the global image constraints instead
@include add_settings((
  FigureFromExercisesProblem: (
    'Image:::max-width': null,
  ),
  FigureFromExercisesSolution: (
    'Image:::max-width': null,
  ),
  FigureFromInjectedQuestion: (
    'Image:::max-width': null,
  ),
  FigureFromInjectedSolution: (
    'Image:::max-width': null,
  ),
));

@include add_settings((
  LabeledImage: (
    _selectors: ('[data-type=exercise] > [data-type=problem] > .os-problem-container > div.half.labeled-image'),
    'FixedWidth:::width': 45%,
  )
));

@include BorderlessTable();
@include ImageBaseline();
@include TextOnlyChapterTitle(
  $mainFontColor: settings("colorMap:::boxedTitleColor"),
  $mainFontFamily: settings("typography:::titleFont"),
  $borderColor: settings("colorMap:::boxedTitleColor"),
);
@include TableSettings();
@include SplitMultipart();
@include use('BookRoot', "common:::BookRoot");
@include use('HiddenElements', 'common:::Hidden');
@include use('LearningObjectivesNumbered', 'corn:::LearningObjectivesNumberedShape');
@include use('TocUnit', 'corn:::UnitToc');
@include use('Example', 'corn:::ExampleShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape'); // Used in eoc, eos exercises
@include use('ModuleSectionWithBorder', 'common:::ModuleSectionWithBorderShape');
@include use('GenericImageInSection', 'corn:::GenericImageShape');
@include use('LabeledImage', 'common:::LabeledItem');

// Chapter Intro
@include use('ChapterOutline', 'corn:::ChapterOutlineShape');

//Figures
@include use('Figure','corn:::FigureShape');
@include use('FigureSplash','corn:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'corn:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','corn:::FigureFromExercisesShape');
@include use('FigureFromExercisesSolution','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','corn:::FigureFromExercisesShape');
@include use('FigureFromInjectedSolution','corn:::FigureFromExercisesShape');
@include use('FigureAfterEocPara', 'corn:::FigureTopSpacingShape');
@include use('FigureAfterEobPara', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterEocPara', 'corn:::ImageTopSpacingShape');
@include use('ImageAfterEobPara', 'corn:::ImageTopSpacingShape');
@include use('FigureAfterEosPara', 'corn:::FigureTopSpacingShape');
@include use('ImageAfterEosPara', 'corn:::ImageTopSpacingShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');
@include use('CompositePageLists', 'corn:::CompositePageListsShape');
@include use('StepwiseLists', 'corn:::StepwiseListsShape');
@include use('EosLists', 'corn:::EosListsShape');
@include use('NotesLists', 'corn:::NotesListsShape');
@include use('ListsFromExercises', 'corn:::ListsFromExercisesShape');

//Titles
// @include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'corn:::ChapterIntroTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('CompositeChapterTitles', 'corn:::CompositeChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('EobCompositePageTitles', 'corn:::CompositePageTitlesShape');

//Notes
@include use('NoClassNote', 'corn:::BoxedNoteShape');
@include use('Try', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('GeneralStrategies', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('MiniLessonQuestion', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('LinkToLearning', 'corn:::IconCondensedNoteWithSubtitleShape');
@include use('SelfCheck', 'corn:::BoxedNoteShape');

//Equations
@include use('Equation', 'corn:::EquationShape');
@include use('NumberedEquation', 'corn:::NumberedEquationShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');
@include use('DataTable', 'corn:::BasicTableShape');
@include use('TableFromMultiColumnExercises', 'corn:::TableFromExercisesShape');
@include use('TableFromExercisesLists', 'corn:::TableFromExercisesListsShape');
@include use('TableAfterExercisePara', 'corn:::TableTopSpacingShape');
@include use('TableFromAnswerKey', 'corn:::TableFromAnswerKeyShape');

//EoC
@include use('KeyTerms','corn:::KeyTermsShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Exercises from Example
@include use('ExerciseFromExample', 'corn:::ExerciseFromExampleShape');

//Section Exercises
@include use('EverydayExercises', 'corn:::ExercisesModuleShape');
@include use('PracticeExercises', 'corn:::ExercisesModuleShape');

//Key Equations spacing
@include use('KeyEquations','corn:::ModuleWithUnstyledTableShape');

// EoC Exercises
// @include use('ReviewExercises', 'corn:::ExercisesModuleShape');

//EOB
@include use('AnswerKey', 'corn:::AnswerKeyShape');
@include use('AnswerKeyOneColumnEobSolution', 'corn:::AnswerKeySolutionShape');
@include use('Index', 'corn:::IndexShape');


// // Change the page number from 314 to 100π
// @page :nth(314):left         { @top-left-corner { content: "100π" "     "; } }
// @page :nth(314):right        { @top-right-corner { content: "     " "100π"; } }

// // Do the same for tau.
// // See https://www.scientificamerican.com/article/let-s-use-tau-it-s-easier-than-pi/
// @page :nth(628):left         { @top-left-corner { content: "100τ" "     "; } }
// @page :nth(628):right        { @top-right-corner { content: "     " "100τ"; } }

// @page :nth(2): left          { @top-left-corner { content: "TWO" "     "; } }
// @page :nth(2):right          { @top-right-corner { content: "     " "TWO"; } }
