$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

// Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include add_settings((
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  SummaryTitles: (
    _selectors: (".os-section-summary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::titleColor"),
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CfaInstituteTitles: (
    _selectors: (".os-cfa-institute-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg")) no-repeat top left, // Placeholder
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::titleColor"),
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  EthicsActivity: (
    _selectors: (".os-ethics-activity-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  ReviewQuestionsTitles: (
    _selectors: (".os-review-questions-container"),    
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  MultipleChoiceQuestionsTitles: (
    _selectors: (".os-multiple-choice-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  ProblemSetTitles: (
    _selectors: (".os-problem-set-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  EndnotesTitles: (
    _selectors: (".os-references-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-references.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
));

@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'Title:::background-color': (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption1HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
  ),
  ThinkItThrough: (
    _selectors: ('.think-through'),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
  ),
  ConceptsPractice: (
    _selectors: ('.concepts-practice'),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
  ),
));

@include add_settings((
  ExcelSpreadsheetIcon: (
    _selectors: ".excel-spreadsheet",
    "Paragraph:::font-family": (_ref: "typography:::baseFont"),
    "Paragraph:::color": (_ref: "colorMap:::noteSubtitleColor"),
    "Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-spreadsheet.svg")) no-repeat top left,
  )
));

@include add_settings((
  ReviewQuestions: (
    _selectors: ('.review-questions'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  MultipleChoiceQuestions: (
      _selectors: ('.multiple-choice'),
      'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ProblemSets: (
      _selectors: ('.problem-set'),
      'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include add_settings((
  PrimaryCalculator: (
    _selectors: ('.primary-function'),
    'CalculatorButton:::font-family': ( _ref: "typography:::monospaceFont" ),
    'CalculatorButton:::color': ( _ref: "colorMap:::calculatorLight" ),
    'CalculatorButton:::background-color': ( _ref: "colorMap:::calculatorDark" ),
  ),
  SecondaryCalculator: (
    _selectors: ('.secondary-function'),
    'CalculatorButton:::font-family': ( _ref: "typography:::monospaceFont" ),
    'CalculatorButton:::color': ( _ref: "colorMap:::calculatorDark" ),
  ),
));

// Inline colored text throughout the book
@include add_settings((
    EmphasizedColoredText: (
        _selectors: ('.colored-text'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::emphasizedTextColor'),
    )
));

//RCode

@include add_settings((
  RCode: (
    _selectors: ('pre[data-lang="r"]'),
    'Code:::font-family': (_ref: 'typography:::monospaceFont'),
    'Code:::color': (_ref: "colorMap:::fontBodyColor"),
    'Code:::background': (_ref: "colorMap:::codeBackgroundColor"),
    'CodeComment:::color': (_ref: "colorMap:::codeCommentColor"),
    'CodeBuiltIn:::color': (_ref: "colorMap:::codeBuiltInColor"),
    'CodeNumber:::color': (_ref: "colorMap:::codeNumberColor"),
    'CodeLiteral:::color': (_ref: "colorMap:::codeLiteralColor"),
  )
));

// Common settings

@include use('BookRoot', 'common:::BookRoot');
@include use('EmphasizedColoredText', 'common:::ColoredText');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('IFrame', 'common:::Hidden');

//Other settings

@include use('Toc', 'cardboard:::NoUnitToc');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('Figure','cardboard:::FigureShape');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('Link', 'cardboard:::LinkShape');

// Titles

@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CfaInstituteTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ReviewQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('MultipleChoiceQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ProblemSetTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('EthicsActivity', 'cardboard:::EocCompositePageTitlesShape');
@include use('EndnotesTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Tables
@include use('FakeTitleTable', 'cardboard:::TableWithBordersShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');

// Equations
@include use('Equation', 'cardboard:::EquationShape');
@include use('NumberedEquation', 'cardboard:::NumberedEquationShape');

// Calculator
@include use('PrimaryCalculator', 'cardboard:::CalculatorButton');
@include use('SecondaryCalculator', 'cardboard:::CalculatorButton');

//Exercises
@include use('ReviewQuestions', 'cardboard:::ExercisesModuleShape');
@include use('MultipleChoiceQuestions', 'cardboard:::ExercisesModuleShape');
@include use('ProblemSets', 'cardboard:::ExercisesModuleShape');

// Code Snippets
@include use('RCode', 'cardboard:::CodeShape');

// Notes
@include use('LinkToLearning', 'cardboard:::BoxedNoteShape');
@include use('ThinkItThrough', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ExcelSpreadsheetIcon', 'cardboard:::IconCondensedShape');

// Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');

// Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');
@include use('StepwiseLists', 'cardboard:::StepwiseListsShape');

// Eob
@include use('Index', 'cardboard:::IndexShape');
