$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

// Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

@include add_settings((
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  SummaryTitles: (
    _selectors: (".os-section-summary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::titleColor"),
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  CfaInstituteTitles: (
    _selectors: (".os-cfa-institute-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-casestudy.svg")) no-repeat top left, // Placeholder
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::titleColor"),
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  VideoActivityTitles: (
    _selectors: (".os-video-activity-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-media.svg")) no-repeat top left, // Placeholder
    'H3Title:::font-family': (_ref: 'typography:::titleFont'),
    'H3Title:::color': (_ref: "colorMap:::titleColor"),
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
  ReviewQuestionsTitles: (
    _selectors: (".os-review-questions-container"),    
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  MultipleChoiceQuestionsTitles: (
    _selectors: (".os-multiple-choice-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  ProblemSetTitles: (
    _selectors: (".os-problem-set-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont')
  ),
  SourcesAndNotes: (
    _selectors: (".os-sources-notes-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-references.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::font-family': (_ref: 'typography:::baseFont'),
    'H3Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4Title:::font-family': (_ref: 'typography:::baseFont'),
    'H4Title:::color': (_ref: 'colorMap:::titleColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
    'H5Title:::font-family': (_ref: 'typography:::baseFont'),
  ),
));

@include add_settings((
  LinkToLearning: (
    _selectors: (".link-to-learning"),
    'Title:::background-color': (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption1HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
  ),
  ThinkItThrough: (
    _selectors: ('.think-through'),
    "Title:::color": (_ref: "colorMap:::noteOption3HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption3HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption3BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
  ),
  ConceptsPractice: (
    _selectors: ('.concepts-practice'),
    "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
    "Title:::font-family": ( _ref: "typography:::titleFont" ),
    "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
    "Body:::font-family": ( _ref: "typography:::baseFont" ),
    "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
    "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
    "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
  ),
));

@include add_settings((
  ExcelSpreadsheetIcon: (
    _selectors: ".excel-spreadsheet",
    "Paragraph:::font-family": (_ref: "typography:::baseFont"),
    "Paragraph:::color": (_ref: "colorMap:::noteSubtitleColor"),
    "Icon:::background": url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-spreadsheet.svg")) no-repeat top left,
  )
));

@include add_settings((
  ReviewQuestions: (
    _selectors: ('.os-review-questions-container'),
    'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  MultipleChoiceQuestions: (
      _selectors: ('.os-multiple-choice-container'),
      'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  ProblemSets: (
      _selectors: ('.os-problem-set-container'),
      'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
  VideoActivity: (
      _selectors: ('.os-video-activity-container'),
      'ProblemSolutionNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),

));

@include add_settings((
  PrimaryCalculator: (
    _selectors: ('.primary-function'),
    'CalculatorButton:::font-family': ( _ref: "typography:::monospaceFont" ),
    'CalculatorButton:::color': ( _ref: "colorMap:::calculatorDark" ),
    'CalculatorButton:::font-weight': '700',
  ),
  SecondaryCalculator: (
    _selectors: ('.secondary-function'),
    'CalculatorButton:::font-family': ( _ref: "typography:::monospaceFont" ),
    'CalculatorButton:::color': ( _ref: "colorMap:::calculatorDark" ),
    'CalculatorButton:::font-weight': '400',
  ),
));

// Inline colored text throughout the book
@include add_settings((
    EmphasizedColoredText: (
        _selectors: ('.colored-text'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::emphasizedTextColor'),
    )
));

// Code Colors

@include add_settings((
    CodeComment: (
        _selectors: ('.hljs-comment, .green-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeCommentColor'),
    ),
    CodeKeyword: (
        _selectors: ('.hljs-keyword, .purple-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeKeywordColor'),
    ),
    CodeFunction: (
        _selectors: ('.hljs-function'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeFunctionColor'),
    ),
    CodeTitle: (
        _selectors: ('.hljs-title, .gray-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeTitleColor'),
    ),
    CodeParams: (
        _selectors: ('.hljs-params'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeParamsColor'),
    ),
    CodeString: (
        _selectors: ('.hljs-string, .red-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeStringColor'),
    ),
    CodeBuildIn: (
        _selectors: ('.hljs-built_in, .blue-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeBuiltInColor'),
    ),
    CodeNumber: (
        _selectors: ('.hljs-number, .brown-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeNumberColor'),
    ),
));

@include add_settings((
  CenteredText: (
    _selectors: ('.centered-code')
  )
));

// Common settings

@include use('BookRoot', 'common:::BookRoot');
@include use('EmphasizedColoredText', 'common:::ColoredText');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('CenteredText', 'common:::CenteredTextShape');

//Other settings

@include use('Toc', 'cardboard:::NoUnitToc');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('Figure','cardboard:::FigureShape');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');
@include use('Link', 'cardboard:::LinkShape');

// Titles

@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CfaInstituteTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('VideoActivityTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('SourcesAndNotes', 'cardboard:::EocCompositePageTitlesShape');
@include use('ReviewQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('MultipleChoiceQuestionsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ProblemSetTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Tables
@include use('FakeTitleTable', 'cardboard:::TableWithBordersShape');
@include use('CondensedDefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');

// Equations
@include use('Equation', 'cardboard:::EquationShape');
@include use('NumberedEquation', 'cardboard:::NumberedEquationShape');

// Calculator
@include use('PrimaryCalculator', 'cardboard:::CalculatorButton');
@include use('SecondaryCalculator', 'cardboard:::CalculatorButton');

//Exercises
@include use('ReviewQuestions', 'cardboard:::ExercisesModuleShape');
@include use('MultipleChoiceQuestions', 'cardboard:::ExercisesModuleShape');
@include use('ProblemSets', 'cardboard:::ExercisesModuleShape');
@include use('VideoActivity', 'cardboard:::ExercisesModuleShape');


// Code Snippets
@include use('CodeComment', 'common:::ColoredText');
@include use('CodeKeyword', 'common:::ColoredText');
@include use('CodeFunction', 'common:::ColoredText');
@include use('CodeTitle', 'common:::ColoredText');
@include use('CodeParams', 'common:::ColoredText');
@include use('CodeString', 'common:::ColoredText');
@include use('CodeBuildIn', 'common:::ColoredText');
@include use('CodeNumber', 'common:::ColoredText');

// Notes
@include use('LinkToLearning', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ThinkItThrough', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ExcelSpreadsheetIcon', 'cardboard:::IconCondensedShape');

// Eoc
@include use('SectionSummary', 'cardboard:::ModuleWithinChapterShape');
@include use('KeyTerms', 'cardboard:::KeyTermsShape');

// Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');
@include use('ExercisesSolutionLists', 'cardboard:::ExercisesListsShape');
@include use('StepwiseLists', 'cardboard:::StepwiseListsShape');

// Eob
@include use('Index', 'cardboard:::IndexShape');
