$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #00627b;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design';
@import '../../design-settings/cosmos/_settings';
@import '../../designs/cosmos/pdf/locale/pl/folio';

// Settings

// Titles
@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H1Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
    'H2Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
    'H3Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
    'H4Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
    'H1AppendixText': (_ref: 'colorMap:::titlePlPsychologyColor'),
  ),
  EocCompositePageTitles: (
    _selectors: ('.os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
  ),
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::titlePlPsychologyColor'),
  ),
));

//TOC
@include add_settings((
  TocNoUnit:(
    _selectors: ('nav#toc'),
    'TocTitle:::color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'TocTitle:::border-bottom-color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'NoUnitChapterLinkPage:::color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'NoUnitChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'NoUnitChapterLinkPage:::display': inline,
    'NoUnitChapterLinkPage:::margin-left': 0,
    'ChapterLinkNumber:::color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'ChapterLinkText:::color': (_ref: 'colorMap:::fontBodyColor'),
    'ChapterLinkPage:::color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'ChapterLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'ChapterLinkPage:::display': inline,
    'ChapterLinkPage:::margin-left': 0,
    'ModuleLinkPage:::color': (_ref: 'colorMap:::tocTitlePlPsychologyColor'),
    'ModuleLinkPage:::content': "leader('.') target-counter(attr(href), page)",
    'ModuleLinkPage:::display': inline,
    'ModuleLinkPage:::margin-left': 0,
  ),
));

// Iconned Notes
@include add_settings((
  ConnectConcepts: (
    _selectors: ('.connect-the-concepts'),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-connected.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -0.7rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
    'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
  ),
  LinkToLearning:(
      _selectors: (".psychology.link-to-learning"),
    'Container:::box-decoration-break': slice,
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
    'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen2'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat bottom left,
    'TitleIcon:::height': v-spacing(4),
    'TitleIcon:::width': v-spacing(4),
    'TitleIcon:::bottom': -1rem,
    'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
    'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen2'),
  ),
));

// Boxed Notes
@include add_settings((
  EverydayConnection: (
      _selectors: ('.everyday-connection'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption4Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption4Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WhatDoYouThink: (
      _selectors: ('.what-do-you-think'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    DigDeeper: (
      _selectors: ('.dig-deeper'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

// EOC exercises
@include add_settings((
  ExercisesModule: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-critical-thinking-container', '.os-eoc.os-personal-application-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
    'ProblemNumber:::width': 2%,
    'ProblemNumber:::text-align': right,
  ),
));

//EOB
@include add_settings((
    IndexName: (
        _selectors: (".os-index-name-container"),
        'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexTerm: (
        _selectors: (".os-index-term-container"),
        'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
    IndexForeign: (
        _selectors: (".os-index-foreign-container"),
        'GroupLabel:::font-family': (_ref: 'typography:::titleOption1Font'),
        'PageNumber:::content': target-counter(attr(href, url), page),
    ),
));

//Chapter Intro
@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleOption1Font"),
            color: (_ref: "colorMap:::chapterOutlineTitleColorPlPsychology"),
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::chapterObjectiveLinkColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        ChapterOutlineObjectiveText: (
            color: (_ref: "colorMap:::chapterOutlineObjectiveTextColor"),
            font-family: (_ref: "typography:::titleOption2Font"),
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::titleOption1Font'),
            color: (_ref: "colorMap:::introContentHeaderColorPlPsychology"),
        ),
        SplashFigureWrapper: (
            background-color: (_ref: "colorMap:::chapterSplashFigureWrapperBgColorPlPsychology"),
        ),
        CaptionTitleLabel:(
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColorPlPsychology"),
        ),
        CaptionNumber:(
            color: (_ref: "colorMap:::chapterIntroCaptionNumberColorPlPsychology"),
        ),
    )
));

@include add_settings((
  Figure:(
    _selectors: (".os-figure:not(.has-splash)"),
    'CaptionTitleLabel:::color': (_ref: "colorMap:::captionNumberColorPlPsychology"),
    'CaptionNumber:::color': (_ref: "colorMap:::captionNumberColorPlPsychology"),
  ),
));

// Chapter Intro Titles
@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1ChapterIntroNumbered: (
            font-family: (_ref: 'typography:::titleOption1Font'),
        ),
        H1ChapterIntroTitleText: (
            color: (_ref: 'colorMap:::chapterTitleTextColor'),
        ),
        H1ChapterIntroTitleNumber: (
            color: (_ref: 'colorMap:::chapterTitleNumberColorPlPsychology'),
        ),
        H1ChapterIntroNumberedBg: (
            background-color: (_ref: 'colorMap:::chapterTitleNumberBgColorPlPsychology'),
        ),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('LearningObjectivesAbstractModule', 'cosmos:::LearningObjectivesModuleShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');
@include use('FigureAfterSubtitle', 'cosmos:::FigureTopSpacingShape');
@include use('FigureFromExercisesProblem','cosmos:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cosmos:::FigureFromExercisesShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('CompositePageLists', 'cosmos:::CompositePageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Notes
@include use('ConnectConcepts', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('LinkToLearning', 'cosmos:::IconnedNoteShape');
@include use('EverydayConnection', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('WhatDoYouThink', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('DigDeeper', 'cosmos:::BoxedNoteWithSubtitleShape');

// Tables
@include use('TopCaptionedTable', 'cosmos:::BasicTableShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

//Exercises
@include use('ExercisesModule', 'cosmos:::ExercisesModuleShape');

// Eob
@include use('EobReferencesWithoutNumbering', 'cosmos:::EobReferencesWithoutNumberingShape');
@include use('IndexName', 'cosmos:::IndexShape');
@include use('IndexTerm', 'cosmos:::IndexShape');
@include use('IndexForeign', 'cosmos:::IndexShape');
