$FRAMEWORK_SPACE_PLACE: ();

/// @group debug
@mixin debug_shapes() {
  @debug "All shapes =>";
  @each $key, $value in $FRAMEWORK_SPACE_PLACE {
    @debug $key;
  }
}

/// This creates a component based shape and adds it to the global manifest based off of the name and map given as arguments.
/// The schema for a shape map is as follows:
/// ```
/// Shape -> Map (
///   _groups(Optional) -> Map ( String -> ValueSet | String ),
///   _components -> List ( ...Component )
///   )
/// )
/// ```
/// with the schema for a Component being:
/// ```
/// Component -> Map (
///   _name -> String,
///   _subselector -> String,
///   _properties -> Map ( String -> ValueSet | String ),
///   _components(Optional) -> List ( ...Component )
/// )
/// ```
///
/// @param {String} $name - The name for the created shape
/// @param {Map} $shape - The map representing the shape.
///
/// @example scss
///   @include create_shape('MyNote', (
///     _groups: (),
///     _components: (
///       (
///         _name: 'container',
///         _subselector: '.note',
///         _properties: (
///           color: enum('ValueSet:::REQUIRED'),
///           background: enum('ValueSet:::OPTIONAL'),
///           width: enum('ValueSet:::OPTIONAL'),
///           height: 20rem,
///           border-color: enum('ValueSet:::OPTIONAL')
///         ),
///         _components: (
///           (
///             _name: 'title',
///             _subselector: ' > .title',
///             _properties: (
///               font-size: 2rem,
///               border-color: enum('ValueSet:::OPTIONAL'),
///             ),
///           ),
///         )
///       ),
///     )
///   ));
///
/// @group publicapi
@mixin create_shape($name, $shape) {
  @if not is_namespaced_camel($name) {
    @warn 'Convention for shape name is namespaced:::CamelCase. Given `#{$name}`.'; // coverage:disable-line
  }
  $unwrapped_shape: unwrap_shape($shape);
  @if is_error($unwrapped_shape) {
    @include error(error_message($unwrapped_shape));
  } @else {
    $FRAMEWORK_SPACE_PLACE: map-merge(
      $FRAMEWORK_SPACE_PLACE,
      ($name: map-merge(
        $unwrapped_shape,
        (_parent: enum('Object:::NONE'))
      ))
    ) !global;
  }
}

@mixin remove_shape($name) {
  $FRAMEWORK_SPACE_PLACE: map-remove($FRAMEWORK_SPACE_PLACE, $name) !global;
}

@function unwrap_shape($shape) {
  $unwrapped: ();
  @if map-has-key($shape, _groups) {
    $unwrapped: map-merge($unwrapped, (_groups: map-deep-get($shape, _groups)));
  }
  $shape_components: get_nested_components(map-deep-get($shape, _components));
  @if is_error($shape_components) {
    @return $shape_components;
  } @else {
    @return map-merge(
      $unwrapped,
      (_components: $shape_components)
    );
  }
}

@function get_nested_components($components, $subselector_prefix: '') {
  $all_components: ();

  // Typecast to list needed for SCSS corner-case of list of single element = the single element
  @if type-of($components) != 'list' {
    $components: append((), $components)
  }

  @each $component in $components {
    $copied_component: empty_map();

    $component_name: map-deep-get($component, _name);
    $component_subselector: map-deep-get($component, _subselector);
    $component_properties: map-deep-get($component, _properties);

    @if is_error($component_name) {
      @return $component_name;
    }
    @if is_error($component_subselector) {
      @return $component_subselector;
    }
    @if is_error($component_properties) {
      @return $component_properties;
    }

    @if not is_camel_case($component_name) {
      @warn 'Convention for component names is CamelCase. Given `#{$component_name}`.'; // coverage:disable-line
    }

    $computed_subselector: #{$subselector_prefix}#{$component_subselector};

    $copied_component: map-merge($copied_component, (_name: $component_name));
    $copied_component: map-merge($copied_component, (_subselector: $computed_subselector));
    $copied_component: map-merge($copied_component, (_properties: $component_properties));
    $all_components: append($all_components, $copied_component);
    @if map-has-key($component, _components) {
      $all_components: join(
        $all_components,
        get_nested_components(map-deep-get($component, _components), $computed_subselector),
      );
    }
  }
  @return $all_components;
}

@mixin scoped_create_shape($name, $shape) {
  @include create_shape($name, $shape);
  @content;
  @include remove_shape($name);
}

@function shape_exists($name) {
  @return map-deep-has-key($FRAMEWORK_SPACE_PLACE, $name);
}

@function get_shape($name) {
  @if not shape-exists($name) {
    @return error('Error:::INDEX_ERROR', "Shape or subshape `#{$name}` does not exist");
  }
  @return map-deep-get($FRAMEWORK_SPACE_PLACE, $name);
}

///
/// @group publicapi
@mixin create_subshape($name, $parent, $changes) {
  @if not shape-exists($parent) {
    @include error("Shape or subshape `#{$parent}` does not exist");
  }
  $components: ();
  $groups_map: empty_map();
  @each $component_name, $declaration_changes in $changes {
    @if $component_name == "_groups" {
      $groups_map: (_groups: $declaration_changes);
    } @else {
      $components: append($components, (
        _name: $component_name,
        _properties: $declaration_changes
      ), comma);
    }
  }
  $subshape: map-merge((_parent: $parent), map-merge($groups_map, (_components: $components)));
  $FRAMEWORK_SPACE_PLACE: map-merge($FRAMEWORK_SPACE_PLACE, ($name: $subshape)) !global;
}

@mixin scoped_create_subshape($name, $parent, $changes) {
  @include create_subshape($name, $parent, $changes);
  @content;
  @include remove_shape($name);
}

@function get_parent($shape) {
  @return map_deep_get($shape, _parent);
}

@function get_lineage($name) {
  $lineage: ($name);
  $current: get_shape($name);
  $parent: get_parent($current);
  @while $parent != enum('Object:::NONE') {
    $lineage: append($lineage, $parent, comma);
    $current: get_shape($parent);
    $parent: get_parent($current);
  }
  @return $lineage;
}

@function get_root_name($name) {
  @return last(get_lineage($name));
}

@function get_root($name) {
  @return get_shape(get_root_name($name));
}

@function get_root_subselector($name, $component_name) {
  $shape: get_root($name);
  $components: map-deep-get($shape, _components);
  @each $component in $components {
    @if map-deep-get($component, _name) == $component_name {
      @return map-deep-get($component, _subselector);
    }
  }
  @return error('Error:::INDEX_ERROR', "No root subselector found for `#{$name} -> #{$component_name}`");
}

@function get_properties($shape, $component_name) {
  $components: map-deep-get($shape, _components);
  @each $component in $components {
    @if map-deep-get($component, _name) == $component_name {
      @return map-deep-get($component, _properties);
    }
  }
  @return empty_map();
}

@function resolve_declaration($context_name, $groups, $key, $property, $description) {
  $value_set: null;
  $value: enum('Object:::NONE');
  $resolved_description: resolve_description($description, $groups);
  @if $description != $resolved_description {
    $value_set: nth($description, 1);
    $value: nth($description, 2);
    @return resolve_declaration($context_name, $groups, "#{$context_name}:::#{$value}", $property, $resolved_description);
  } @else {
    $value_set: $description;
  }
  @if type-of($description) == "list" {
    $value_set: nth($description, 1);
    $value: nth($description, 2);
  }
  @if $value_set == enum('ValueSet:::OPTIONAL') {
    $value: settings($key, if($value == enum('Object:::NONE'), null(), $value));
  } @else if $value_set == enum('ValueSet:::REQUIRED') {
    $value: settings-not-null($key, $value);
  } @else {
    $value: #{$value_set};
  }
  @return $value;
}

@function resolve_description($description, $groups) {
  @if type-of($description) == "list" {
    $value_set: nth($description, 1);
    $value: nth($description, 2);
    @if $value_set == enum('ValueSet:::GROUPED') {
      @if not map-has-key($groups, $value) {
        @return error(enum('Error:::INVALID_REFERENCE'), "Group `#{$value}` does not exist.");
      }
      @return resolve_description(map-deep-get($groups, $value), $groups);
    }
  }
  @return $description;
}

/// @group publicapi
@mixin use($name, $subshape_name) {
  @if not is_camel_case($name) {
    @warn 'Convention for shape instantiations is CamelCase. Given `#{$name}`.'; // coverage:disable-line
  }
  $context_selectors: settings("#{$name}:::_selectors");
  @if is_error($context_selectors) {
    @include error(error_message($context_selectors));
  } @else {
    @each $selector in settings("#{$name}:::_selectors") {
      $shape: get_root($subshape_name);
      @each $component in map-deep-get($shape, _components) {
        $component_name: map-deep-get($component, _name);
        $subselector: map-deep-get($component, _subselector);
        $root_properties: get_properties($shape, $component_name);
        $spent_keys: empty_map();
        #{$selector}#{$subselector} {
          @each $ancestor_name in get_lineage($subshape_name) {
            $ancestor: get_shape($ancestor_name);
            $groups: empty_map();
            @if map-has-key($ancestor, _groups) {
              $groups: map-deep-get($ancestor, _groups);
            }
            $properties: get_properties($ancestor, $component_name);
            @each $property, $description in $properties {
              @if not map-has-key($root_properties, $property) {
                @include error("Shape `#{$ancestor_name}` is not a proper subshape due to addition of property `#{$property}`.");
              }
              $key: "#{$name}:::#{$component_name}:::#{$property}";
              $resolved_description: resolve_description($description, $groups);
              @if is_error($resolved_description) {
                @include error(error_message($resolved_description));
              } @else {
                $value_set: if(type-of($resolved_description) == "list", first($resolved_description), $resolved_description);
                @if not map-has-key($spent_keys, $key) {
                  $spent_keys: map-merge($spent_keys, ($key: $value_set));
                  $value: resolve_declaration($name, $groups, $key, $property, $description);
                  @if is_error($value) {
                    @include error(error_message($value));
                  } @else {
                    #{$property}: #{$value}
                  }
                } @else {
                  $old_value_set: map-deep-get($spent_keys, $key);
                  @if $value_set != enum('ValueSet:::OPTIONAL') and
                    ($value_set != enum('ValueSet:::REQUIRED') or $old_value_set == enum('ValueSet:::OPTIONAL')) {
                      @include error("Shape `#{$ancestor_name}` is not a proper shape due to `#{$key}`.");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
