$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/_folio';

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'H2IntroTextHeaderIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'H2IntroTextHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
  )
));

//Titles
@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
    'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
    'H1ChapterIntroNumbered:::margin-left': -1.2rem,
    'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
    'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
    'H1ChapterIntroIcon:::bottom': 0.1rem,
    'H1ChapterIntroIcon:::left': 0rem,
  ),
));

@include add_settings((
  AppendixGlossary: (
    _selectors: (".appendix > .column-container"),
    'H3AppendixGlossaryTitle:::color': (_ref: "colorMap:::titleAppendixBorderColor"),
  ),
));

// Notes
@include add_settings ((
    // Option 2
    ThinkItThrough: (
        _selectors: ('.think-through'),
        "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
        "Title:::font-family": ( _ref: "typography:::titleFont" ),
        "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
        "Body:::font-family": ( _ref: "typography:::baseFont" ),
        "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
        "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
        "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont"),
    ),
    // Option 2
    ConceptsPractice: (
      _selectors: ('.concepts-practice'),
      "Title:::color": (_ref: "colorMap:::noteOption2HeaderColor"),
      "Title:::font-family": ( _ref: "typography:::titleFont" ),
      "Title:::background-color": ( _ref: "colorMap:::noteOption2HeaderBackgroundColor" ),
      "Body:::font-family": ( _ref: "typography:::baseFont" ),
      "Body:::background-color": ( _ref: "colorMap:::noteOption2BodyBackgroundColor" ),
      "Subtitle:::color": ( _ref: "colorMap:::noteSubtitleColor" ),
      "Subtitle:::font-family": ( _ref: "typography:::titleFont" ),
      "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont"),
    ),
    LinkToLearning: (
        _selectors: ('.link-to-learning'),
        "Title:::color": (_ref: 'colorMap:::noteOption1HeaderColor'),
        'Title:::background-color': (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
    ),
    IndustrySpotlight: (
        _selectors: (".industry-spotlight"),
        'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
        'Subtitle:::color': ( _ref: "colorMap:::noteSubtitleColor" ),
        'Subtitle:::font-family': ( _ref: "typography:::titleFont" ),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont"),
      ),
      TechEveryday: (
        _selectors: (".tech-everyday"),
        'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
        'Subtitle:::color': ( _ref: "colorMap:::noteSubtitleColor" ),
        'Subtitle:::font-family': ( _ref: "typography:::titleFont" ),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont"),
      ),
     // Option 3 Notes
     GlobalTech: (
        _selectors: (".global-tech"),
        'Title:::background-color': (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
        'Title:::color': (_ref: "colorMap:::noteOption3HeaderColor"),
        'Title:::font-family': (_ref: "typography:::titleFont"),
        'Body:::font-family': (_ref: "typography:::baseFont"),
        'Body:::background-color': (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
        'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
        'Subtitle:::font-family': (_ref: "typography:::titleFont"),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont"),
    ),
));

// EoC titles
@include add_settings((
    ChapterReviewTitles: (
        _selectors: (".os-chapter-review-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    KeyTermsTitles: (
        _selectors: (".os-glossary-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    SummaryTitles: (
        _selectors: (".os-section-summary-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ReviewTitles: (
        _selectors: (".os-review-questions-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ConceptualTitles: (
        _selectors: (".os-conceptual-questions-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-assessments.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    PracticeTitles: (
        _selectors: (".os-practice-exercises-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ProblemATitles: (
        _selectors: (".os-problem-set-a-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exercisea.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ProblemBTitles: (
        _selectors: (".os-problem-set-b-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-exerciseb.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    ThoughtTitles: (
        _selectors: (".os-thought-provokers-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lightbulb.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
    LabsTitles: (
        _selectors: (".os-lab-assessments-container"),
        'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
        'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
        'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-programaming.svg")) no-repeat top left,
        'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::font-family': (_ref: 'typography:::baseFont'),
        'H3Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4Title:::font-family': (_ref: 'typography:::baseFont'),
        'H4Title:::color': (_ref: 'colorMap:::titleColor'),
        'H4LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
        'H5Title:::font-family': (_ref: 'typography:::baseFont'),
    ),
));

@include add_settings((
    ExercisesModule: (
        _selectors: (".os-lab-assessments-container", ".os-thought-provokers-container", ".os-problem-set-b-container", ".os-problem-set-a-container", ".os-practice-exercises-container", ".os-conceptual-questions-container", ".os-review-questions-container"),
        'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
        'ProblemSolutionNumber:::width': 2%,
        'ProblemSolutionNumber:::text-align': right,
        'ProblemSolutionText:::color': (_ref: 'colorMap:::fontBodyColor'),
    ),
));

@include add_settings((
  CenteredText: (
    _selectors: ('.centered-text')
  )
));

// Code snippet colors
@include add_settings((
    CodeComment: (
        _selectors: ('.hljs-comment, .green-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeCommentColor'),
    ),
    CodeKeyword: (
        _selectors: ('.hljs-keyword, .purple-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeKeywordColor'),
    ),
    CodeFunction: (
        _selectors: ('.hljs-function'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeFunctionColor'),
    ),
    CodeTitle: (
        _selectors: ('.hljs-title, .gray-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeTitleColor'),
    ),
    CodeParams: (
        _selectors: ('.hljs-params'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeParamsColor'),
    ),
    CodeString: (
        _selectors: ('.hljs-string, .red-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeStringColor'),
    ),
    CodeBuildIn: (
        _selectors: ('.hljs-built_in, .blue-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeBuiltInColor'),
    ),
    CodeNumber: (
        _selectors: ('.hljs-number, .brown-code'),
        'ColoredTextContainer:::color': (_ref: 'colorMap:::codeNumberColor'),
    ),
));



// Common settings
@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Figure','cardboard:::FigureShape');
@include use('Blockquote', "cardboard:::BlockquoteShape");
@include use('TocUnit', 'cardboard:::UnitToc');
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');
@include use('CenteredText', 'common:::CenteredTextShape');
@include use('UnitTitle', 'common:::Hidden');

// Tables
@include use('FakeTitleTable', 'cardboard:::TableWithBordersShape');
@include use('UnstyledTable', 'cardboard:::UnstyledTableShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TimelineTable', 'cardboard:::TimelineTableShape');

// Misc
@include use('Figure','cardboard:::FigureShape');
@include use('Link', 'cardboard:::LinkShape');
@include use('NumberedLearningObjectives', 'cardboard:::LearningObjectivesNumberedShape');
@include use('CodeComment', 'common:::ColoredText');
@include use('CodeKeyword', 'common:::ColoredText');
@include use('CodeFunction', 'common:::ColoredText');
@include use('CodeTitle', 'common:::ColoredText');
@include use('CodeParams', 'common:::ColoredText');
@include use('CodeString', 'common:::ColoredText');
@include use('CodeBuildIn', 'common:::ColoredText');
@include use('CodeNumber', 'common:::ColoredText');

// Notes
@include use('ThinkItThrough', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('ConceptsPractice', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('LinkToLearning', 'cardboard:::BoxedNoteShape');
@include use('IndustrySpotlight', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('TechEveryday', 'cardboard:::BoxedNoteWithSubtitleShape');
@include use('GlobalTech', 'cardboard:::BoxedNoteWithSubtitleShape');

// Titles
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('SummaryTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ReviewTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ConceptualTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('PracticeTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ProblemATitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ProblemBTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ThoughtTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('LabsTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('ChapterReviewTitles', 'cardboard:::EocCompositePageTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');

// Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');

// Eob
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('AppendixGlossary', 'cardboard:::AppendixGlossaryShape');
@include use('Index', 'cardboard:::IndexShape');

//Lists
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('ExercisesProblemLists', 'cardboard:::ExercisesListsShape');
