$IS_FRAMEWORK_IMPORTED: false;
$IS_TEST: true;

@import "true";

@import "framework";

@include describe('Framework') {
  @include it('is successfully imported') {
    @include assert-true($IS_FRAMEWORK_IMPORTED);
  }
  @include it('can throw a test error') {
    @include assert {
      @include output {
        @include error('Explode.')
      } @include expect {
        error: 'Explode.';
      }
    }
  }
}

@include describe('Enums') {
  @include it('allows enum creation') {
    @include create_enum_type('Test',
        'TEST',
        'ENUM'
    );
    @include assert-equal(
      'ENUM__Test::TEST',
      enum('Test::TEST')
    );
  }
  @include it('')
}
