// For now, components are created for each type of note separately. When all notes will be styled, we could create some common components with OPTIONAL properties.

// Icon Condensed note (Be Prepared, Try It, Media)

$Notes--IconCondensed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        display: enum('ValueSet:::OPTIONAL'), //use in notes with note body next to title
        margin-bottom: v-spacing(2),
    )
);

$Notes--IconCondensed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        font-size: font-scale(0),
        line-height: line-height(0),
        padding-right: enum('ValueSet:::OPTIONAL'), //use in notes with note body next to title
        display: enum('ValueSet:::OPTIONAL'), //use in notes with note body next to title
        white-space: enum('ValueSet:::OPTIONAL'), //use in notes with note body next to title
        margin-bottom: enum('ValueSet:::OPTIONAL'), //use in notes with note body under title
    )
);

$Notes--IconCondensed__Title__Label: (
    _name: "TitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        text-transform: uppercase,
        margin-right: enum('ValueSet:::OPTIONAL'), //use in numbered notes
    )
);

$Notes--IconCondensed__Title__Label--Hidden: (
    _name: "TitleLabelHidden",
    _subselector: ' > .os-title-label',
    _properties: (
        display: none,
    )
);

$Notes--IconCondensed__Title__Number: (
    _name: "TitleNumber",
    _subselector: ' > .os-number',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: normal,
    )
);

$Notes--IconCondensed__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: 1.45rem,
        width: 1.45rem,
        padding-right: h-spacing(1),
        content: "''",
        display: inline-block,
        vertical-align: text-bottom,
    )
);

$Notes--IconCondensed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-left: enum('ValueSet:::OPTIONAL'), //use in notes with note body under title
        display: enum('ValueSet:::OPTIONAL'), //use in notes with note body next to title
    )
);

$Notes--IconCondensed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);

// Icon Boxed notes (Manipulative Math, How To)

$Notes--IconBoxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Notes--IconBoxed__Title: (
    _name: "Title",
    _subselector: ' > h3.os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        text-transform: uppercase,
        background-color: enum('ValueSet:::REQUIRED'),
        padding-left: v-spacing(1),
        padding-right: v-spacing(1),
        padding-top: enum('ValueSet:::OPTIONAL'), // used in Manipulative Math note
        padding-bottom: enum('ValueSet:::OPTIONAL'), // used in Manipulative Math note
        border-bottom-width: 0.09rem,
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        display: flex,
        flex-direction: row,
        align-items: center,
    )
);

$Notes--IconBoxed__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: enum('ValueSet:::REQUIRED'), //different settings for How To note
        display: inline-block,
        vertical-align: middle,
        height: enum('ValueSet:::REQUIRED'), //different settings for How To note
        width: enum('ValueSet:::REQUIRED'), //different settings for How To note
        content: "''",
        margin-right: h-spacing(1),
    )
);

$Notes--IconBoxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
    )
);

$Notes--IconBoxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > h4.os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: normal,
        font-size: font-scale(0),
        line-height: line-height(0), 
        margin-bottom: v-spacing(1),
    )
);

// Boxed notes (No Class note)

$Notes--Boxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Notes--Boxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
        border-bottom-width: 0.09rem,
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
    )
);

$Notes--Boxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
    )
);

$Notes--Boxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);

// Outline boxed notes 

$Notes--OutlinedBoxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        border-style: solid,
        border-width: 0.09rem,
        border-color: enum('ValueSet:::REQUIRED'),
        box-decoration-break: slice,
    )
);

$Notes--OutlinedBoxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        font-weight: bold,
        padding: v-spacing(1),
        border-bottom-width: 0.09rem,
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'),
        text-transform: uppercase,
    )
);

$Notes--OutlinedBoxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        padding: v-spacing(1),
    )
);

$Notes--OutlinedBoxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);

// Icon Full Page Note (Stats Lab)

$Notes--IconFullPage__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(3),
        margin-top: v-spacing(3),
    )
);

$Notes--IconFullPage__Container__Bar: (
    _name: "ContainerBar",
    _subselector: '::after',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        height: 0.09rem,
        content: "''",
        margin-right:  -9.2rem,
        padding-right: 9.2rem,
        margin-left:  -9.2rem,
        padding-left: 9.2rem,
        display: inline-block,
        width: 100%,
    )
);

$Notes--IconFullPage__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(2), 
        background-color: enum('ValueSet:::REQUIRED'), 
        margin-right:  -9.2rem,
        padding-right: 9.2rem,
        margin-left:  -9.2rem,
        padding-left: 9.2rem,
        display: flex,
        justify-content: start,
        height: 3rem,
    )
);

$Notes--IconFullPage__Title__Label: (
    _name: "TitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        padding-right: h-spacing(1),
        padding-top: h-spacing(1),
        display: inline-block,
        float: left,
        )
);

$Notes--IconFullPage__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::before',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: 4rem,
        width: 4rem,
        margin-right: h-spacing(1),
        content: "''",
        display: inline-block,
        position: relative,
        bottom: 1rem,
    )
);

$Notes--IconFullPage__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
    )
);

$Notes--IconFullPage__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
    )
);
