@include add_settings((
    splashImage: (
        _selectors: ("[data-type='chapter']"),
	splashImageParent: (
	),
	introPositioning: (
	    padding: 20px, //desired value: : settings(splash-page-depth) - PAGE_VERTICAL_MARGIN();
	),
	hideIntroTitleForSplash:(
	    
	)
    ),
));
