//Use with designs/*/titles-components.scss, designs/*/titles-superspace.scss

//Titles settings

@include add_settings((
//probably want to break those down as well. Maybe something like create "modules", 3 files for each chunk: _foo-component.scss, _foo-space.scss, _foo-settings.scss. That way, each chunk could be imported separately and configured in a more readable, neatly packaged manner.
 h1Title: (
  _selectors: ("h1"),
  regularTitle: (
    font-family: (_ref: 'typography:::sansFont'),
    font-size: 24px, //TODO font scale
    color: (_ref: "colorMap:::h1TitleColor"),
    line-height: 1.2em, //TODO font-scale for line-height
    bookmark-level: 1,
    page-break-after: avoid,
    margin: 0, //TODO vertical rhythm
    padding: 0,//TODO vertical rhythm
    )
  ),
  h2Title: (
    _selectors: ("h2"),
    regularTitle: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: 20px,
      color: (_ref: "colorMap:::h2TitleColor"),
      line-height: 1.2em,
      bookmark-level: 1,
      page-break-after: avoid,
      margin: 0,
      padding: 0,
    )
  ),
  h3Title: (
    _selectors: ("h3"),
    regularTitle: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: 18px,
      color: (_ref: "colorMap:::h3TitleColor"),
      line-height: 1.2em,
      bookmark-level: 1,
      page-break-after: avoid,
      margin: 0,
      padding: 0,
    )
   )
));
