@include add_settings((
    AnswerKey: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family:(_ref: 'typography:::titleFont'), 
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        SolutionContainer: (
            padding-left: v-spacing(1),
            vertical-align: bottom,
        ),
        SolutionContainerWithImageTableOnTop: (
            padding-left: v-spacing(1),
        ),
        SolutionWrapper: (
            display: inline-table,
            overflow-wrap: break-word,
            vertical-align: top,
            width: 33%,
            padding-right: v-spacing(1),
        ),
        ExerciseTableContainer: (
            margin-left: 0,
            margin-right: 0,
        ),
    ),
));

@include add_settings((
    AnswerKeyNestedSolutionAreas: (
        //There is a .os-solutions-container and a .os-solution-container
        //This should be cleaned up so that we are using one not both in the recipe
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solution-container'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family:(_ref: 'typography:::titleFont'), 
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        SolutionContainer: (
            padding-left: v-spacing(1),
            vertical-align: bottom,
        ),
        SolutionContainerWithImageTableOnTop: (
            padding-left: v-spacing(1),
        ),
        SolutionWrapper: (
            display: inline-table,
            overflow-wrap: break-word,
            vertical-align: top,
            width: 33%,
            padding-right: v-spacing(1),
        ),
        ExerciseTableContainer: (
            margin-left: 0,
            margin-right: 0,
        ),
    ),
));

@include add_settings((
    AnswerKeyEoc: (
        _selectors: ('[data-type="composite-page"].os-eoc.os-solutions-container'),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        SolutionContainer: (
            padding-left: v-spacing(1),
            vertical-align: bottom,
        ),
        SolutionContainerWithImageTableOnTop: (
            padding-left: v-spacing(1),
        ),
        ExerciseTableContainer: (
            margin-left: 0,
            margin-right: 0,
        ),
    ),
));
