@include add_settings((
    AnswerKey: (
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container'),
        H1Title: (
            color: (_ref: 'colorMap:::pageTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family:(_ref: 'typography:::titleFont'), 
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        ProblemSolutionDivider: (
            display: table-cell,
        ),
        SolutionContainer: (
            padding-left: v-spacing(1),
            vertical-align: bottom,
        ),
        SolutionContainerWithImageOnTop: (
            padding-left: v-spacing(1),
        ),
        SolutionContainerWithTableOnTop: (
            padding-left: v-spacing(1),
        ),
        ExerciseTableContainer: (
            margin-left: 0,
            margin-right: 0,
        ),
        InlineOrderedTokensList: (
            margin-left: 0,
        ),
    ),
));
