@import 'styles/designs/corn/parts/chapterintro-shapes';
@import 'templates/template2/colors';
@import 'templates/template2/typography';

@include add_settings((
    FullWidthChapterIntro: (
        _selectors: (".introduction"),
        OutlineFullWidth: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: 500,
            font-size: font-scale(0),
            line-height: line-height(0),
        ),
        OutlineTitle: (
            margin: 0 0 0.5rem 0,
            //set on the container but for some reason have to set here as well. look into it later
            font-family: (_ref: "typography:::titleFont"),
            font-size: font-scale(1),
            line-height: font-scale(1), // value has to be the same as font size
            //color is book specific set in book.scss file 
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::linkColor"),
            font-family: (_ref: "typography:::baseFont"),
            display: inline-block,
            border-left-color: (_ref: "colorMap:::chapterOutlineBarColor"),
        ),
        ChapterOutlineObjectiveText: (
            color: black,
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(3),
            //color is book specific set in book.scss file 
        ),
        CaptionContainer: (
            padding-top: 1rem,
            padding-bottom: 2rem,
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::captionColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::baseFont'),
            font-weight: bold,
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionText: (
            font-family:(_ref:'typography:::baseFont'), 
            color: (_ref: "colorMap:::captionColor"),
        ),
        SplashFigureBg: (
            //color is book specific set in book.scss file 
            width: half-fullBleedsSize(8.5, in),
            margin-left: fullBleedsMargin(-1, in),
        ),
        SplashMediaOverlay: (
            //color is book specific set in book.scss file 
        ),
    )
));
