@include add_settings((
    Example:(
        _selectors: ('[data-type="example"]'),
        Container: (
            border-top-color: (_ref: 'colorMap:::exampleBorderColor'),
            border-bottom-color: (_ref: 'colorMap:::exampleBorderColor'),
        ),
        Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleTitleColor'),
            background-color: (_ref: 'colorMap:::exampleBorderColor'),
        ),
        SolutionTitleLabel: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exampleSolutionTitleColor'),
        ),
        SolutionTitleIcon: (
            background: url(toDataUri("svg+xml", "designs/corn/resources/corn-solution.svg")) no-repeat top left,
        ),
    ),
));