@include add_settings((
    SectionExercises: (
        _selectors: ('.os-eos.os-section-exercises-container'),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            text-transform: uppercase,
        ),
        H4Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exerciseTitleColor'),
            column-span: all,
            margin-bottom: v-spacing(1),
        ),
        SectionExercisesType: (
            column-count: 3,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ProblemSolutionNumber: (
            color: black,
        ),
        // SolutionTitle: (
        //     font-family: (_ref: "typography:::sansFont"),
        // ),
    ),
));