@include add_settings((
    SectionExercises: (
        _selectors: ('.os-eos.os-section-exercises-container'),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
            text-transform: uppercase,
            column-span: all,
        ),
        H4Title: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exerciseTitleColor'),
            column-span: all,
            margin-bottom: v-spacing(2),
            margin-top: v-spacing(1),
        ),
        SectionExerciesContainer: (
            column-count: 3,
            column-gap: 1rem,
            column-width: auto,
        ),
        ExercisesParagraphTitle: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ExercisesParagraphTitleItalic: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        ProblemSolutionNumber: (
            color: black,
        ),
        TableContainer: (
            margin-left: 0,
            margin-right: 0,
            // table-layout: fixed,
            // max-width: 100%,
        ),
        Table: (
            table-layout: fixed,
            max-width: 100%,
        ),
        TableHeadCell: (
            // padding-top: 4px,
            // padding-bottom: 4px,
            padding-right: 0.3rem,
            padding-left:  0.3rem,
            font-family: (_ref: "typography:::baseFont"),
            font-weight: bold,
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
        ),
        TableData: (
            padding-right: 0.3rem,
            padding-left: 0.3rem,
            font-family: (_ref: "typography:::baseFont"),
            border-width: 0.09rem, 
            border-style: solid,
            border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
            vertical-align: top,
            text-align: center,
        ),
        // SolutionTitle: (
        //     font-family: (_ref: "typography:::sansFont"),
        // ),
    ),
));