@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
    CompositePageLists: (
        _selectors: ('.eoc[data-type="composite-page"]'),
    ),
));

@include add_settings((
    SectionExercisesCircledLists: (
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section'),
    ),
    AnswerKeyCircledLists: (
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container > [data-type="composite-page"].os-eob.os-solutions-container'),
    ),
));
