@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
    CompositePageLists: (
        _selectors: ('[data-type="composite-page"]'),
    ),
));

@include add_settings((
    AnswerKeyTokensLists: (
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container > [data-type="composite-page"].os-eob.os-solutions-container'),
        InlineOrderedTokensList: (
            margin-left: 0,
        ),
    ),
));

@include add_settings((
    SectionExercisesTokensLists: (
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section'),
    ),
));
