@include add_settings((
    Lists: (
        _selectors: ('[data-type="page"]'),
    ),
));

@include add_settings((
    AnswerKeyTokensLists: (
        _selectors: ('[data-type="composite-chapter"].os-eob.os-solutions-container > [data-type="composite-page"].os-eob.os-solutions-container'),
    ),
));

@include add_settings((
    SectionExercisesTokensLists: (
        _selectors: ('.os-eos.os-section-exercises-container > section.section-exercises > section'),
    ),
));
