@import 'styles/designs/corn/parts/table-shapes';
@import 'templates/template2/colors';
@import 'templates/template2/typography'; 

@include add_settings((
    BasicTable: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: separate,
            border-spacing: 0,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-width: 0.09rem, 
            border-style: solid,
            border-color: (_ref: "colorMap:::basicTableCellBorderColor"),
            color: (_ref: "colorMap:::tableColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableColor"),
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionColor"),
        ),
    )
));