@include add_settings((
    Titles:(
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H2Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H4Title: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H5Title: (
          font-family: (_ref: 'typography:::titleFont'),
          color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H3TitleSectionExercises: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::moduleTitleColor'),
        ),
        H4TitleSectionExercises: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::exerciseTitleColor'),
        ),
       
    ),
));