@include add_settings((
    Titles: (
    _selectors: ('[data-type="page"]'),
            H1Title: (
                color: (_ref: 'colorMap:::moduleTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
            ),
            H2Title: (
                color: (_ref: 'colorMap:::moduleTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
            ),
            H3Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H4Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H5Title: (
                font-family: (_ref: 'typography:::titleFont'),
                color: (_ref: 'colorMap:::moduleTitleColor'),
            ),
            H1Numbered: (
                color: (_ref: 'colorMap:::appendixTitleColor'),
                font-family: (_ref: 'typography:::titleFont'),
                position: relative,
                margin-bottom: v-spacing(3),
            ),
            TitleNumber: (
                color: black,
                border-color: (_ref: 'colorMap:::appendixTitleColor'),
                border-width: 0.3rem,
                border-style: solid,
                font-weight: normal,
            ),
            TitleText: (
                font-weight: bold,
                margin-left: h-spacing(5),
            ),
        ),
));