@include add_settings((
    ChapterTitle:(
        _selectors: ('[data-type="chapter"]'),
        // ChapterTopBarBg: (
        // // background-color: (_ref: "colorMap:::splashFigureBgColor"),  //color is book specific set in book.scss file 
        // height: 0.8in,
        // width: half-fullBleedsSize(8.5, in),
        // margin-left: fullBleedsMargin(-1, in),
        // ),
        // TitleNumber: (
        //     font-family: (_ref: 'typography:::titleFont'),
        //     font-size: font-scale(2),
        //     line-height: line-height(2),
        //     font-weight: bold,
        //     letter-spacing: 0.1rem,
        //     color: white,
           
        // ),
        TitleText: (
            // display: block,
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
            font-weight: bold,
            color: white,
        ),
        TitleNumber: (
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
            font-weight: bold,
            color: white,
            border-color: white,

        )
    ),
));