$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import 'design-settings/cosmos/design';
@import 'design-settings/cosmos/settings';
@import '../../designs/cosmos/pdf/folio';

// Boxed Notes
@include add_settings((
    OwnWords: (
      _selectors: ('.own-words'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
      'QuestionSection:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
    ),
    DuelingVoices: (
      _selectors: ('.dueling-voices'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
      'QuestionSection:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
    ),
    BeyondBook: (
      _selectors: ('.beyond-book'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
      'QuestionSection:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
    ),
    PastPresent: (
      _selectors: ('.past-present'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption4Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption4Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
      'QuestionSection:::border-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption4Color'),
    ),
));

// Condensed icon note
@include add_settings((
    LinkToLearning:(
      _selectors: (".link-to-learning"),
      'Container:::box-decoration-break': slice,
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

// EOC exercises
@include add_settings((
  EocExerciseSections: (
    _selectors: ('.os-eoc.os-review-questions-container', '.os-eoc.os-check-understanding-container', 
                 '.os-eoc.os-reflection-questions-container', '.os-eoc.os-visual-questions-container', 
                 '.os-eoc.os-making-connections-container', '.os-eoc.os-thought-provokers-container',
                 '.os-eoc.os-source-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('Link', 'cosmos:::LinkShape');

// Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');

// Notes
@include use('OwnWords', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('DuelingVoices', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('BeyondBook', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('PastPresent', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('LinkToLearning', 'cosmos:::CondensedIconNoteShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Eoc
@include use('KeyTerms', 'cosmos:::KeyTermsShape');

// Exercises
@include use('EocExerciseSections', 'cosmos:::ExercisesModuleShape');
