// Books using those settings: Calculus Vol1, Vol2 and Vol3

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

//Settings

@include add_settings((
  Checkpoint: (
    _selectors: (".checkpoint"),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
));

@include use('BookRoot', "common:::BookRoot");

//Notes
@include use('Checkpoint', 'corn:::IconCondensedNoteWithHiddenLabelShape');
