// Books using those settings: Calculus Vol1, Vol2 and Vol3

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
));

@include add_settings((
  Checkpoint: (
    _selectors: (".checkpoint"),
    'Container:::display': table,
    'Title:::display': table-cell,
    'Title:::padding-right': h-spacing(3),
    'Title:::white-space': nowrap,
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::display': table-cell,
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
    'TitleIcon:::flex-shrink': 0,
  ),
  NoClassNote: (
    _selectors: ('[data-type="note"]:not([class])'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
  ),
  Theorem: (
    _selectors: ('[data-type="note"].theorem'),
    'Title:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Title:::border-bottom-color': (_ref: "colorMap:::boxedBorderColor"),
    'Title:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::boxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::boxedBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::boxedTitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'corn:::ChapterIntroShape');
@include use('LearningObjectivesNumbered', 'corn:::LearningObjectivesNumberedShape');
@include use('Toc', 'corn:::NoUnitToc');
@include use('Figure','corn:::FigureShape');


//Notes
@include use('Theorem', 'corn:::BoxedNoteWithSubtitleShape');
@include use('Checkpoint', 'corn:::IconCondensedNoteWithHiddenLabelShape');
@include use('NoClassNote', 'corn:::BoxedNoteShape');

//Titles
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');

//Equations
@include use('Equation', 'corn:::EquationShape');
@include use('NumberedEquation', 'corn:::NumberedEquationShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

