//POSSIBLE BREAKDOWN: "raw" settings used with _ref to call globally used settings?
//Define all hex values first, then create a map referencing the values belwo
//TODO rename those colors variables to something a tad more descriptive
@include add_settings ((
  scheme: (
    O1:    #F37541,
    O1Op5: #F375410D,
    O2:    #CE472C,
    R1:    #C31427,
    R1Op5: #C314270D,
    R2:    #B10069,
    R2Op5: #B100690D,
    R3:    #E00087,
    Y1:    #8F7200,
    Y2:    #DCB83D,
    BR1:   #B05E36,
    B1:    #0DC0DC,
    B1Op5: #0DBFDB0D,
    B2:    #0074BC,
    B2Op5: #0074BC0D,
    B3:    #00819A,
    B4:    #027EB5,
    B5:    #0078a3,
    B6:    #EFF3FA,
    G1:    #78B042,
    G1Op5: #78B0420D,
    G2:    #1E9575,
    G2Op5: #1E95750D,
    G3:    #007A49,
    G4:    #C3E2C3,
    P1:    #8d4c83,
    P2:    #651C72,
    Grey1: #EEEAE0,
    Grey2: #757575,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    agingColor: (_ref: "scheme:::BR1"),
    alertColor: (_ref: "scheme:::R1"),
    alertTitleColor: (_ref: "scheme:::white"),
    alertBlurredColor: (_ref: "scheme:::R1Op5"),
    anatomyBandColor: (_ref: "scheme:::B3"),
    anatomyHeaderColor: (_ref: "scheme:::B3"),
    anatomyIntroColor: (_ref: "scheme:::B3"),
    anatomyTableColor: (_ref: "scheme:::B3"),
    anatomyTocColor: (_ref: "scheme:::B3"),
    anthopologyAccentColor: (_ref: "scheme:::B2"),
    anthropologyProfileColor: (_ref: "scheme:::R1"),
    apEverydayConnectionColor: (_ref: "scheme:::BR1"),
    apSciencePracticesColor: (_ref: "scheme:::R2"),
    biologyBandColor: (_ref: "scheme:::B2"),
    biologyHeaderColor: (_ref: "scheme:::B2"),
    biologyTableColor: (_ref: "scheme:::B2"),
    biologyChapterOutlineColor: (_ref: "scheme:::B2"),
    blueTextColor: (_ref: "scheme:::B2"),
    boundlessPhysicsColor: (_ref: "scheme:::G2"),
    boxedFeatureColor: (_ref: "scheme:::B3"),
    careerColor1: (_ref: "scheme:::BR1"),
    careerColor: (_ref: "scheme:::BR1"),
    carnivalAppendixColor: (_ref: "scheme:::B3"),
    chapterOutlineColor: (_ref: "scheme:::B2"),
    chapterSplashCaptionColor: (_ref: "scheme:::Grey1"),
    checkYourUnderstanding: (_ref:"scheme:::O1"),
    checkYourUnderstandingBlurredColor: (_ref:"scheme:::O1Op5"),
    chemEOCHeaderColor: (_ref: "scheme:::B3"),
    chemistryBandColor: (_ref: "scheme:::B3"),
    chemistryHeaderColor: (_ref: "scheme:::B3"),
    chemistryIntroColor: (_ref: "scheme:::B3"),
    chemistryMattersColor: (_ref: "scheme:::R3"),
    chemistryTableColor: (_ref: "scheme:::B3"),
    clinicalColor: (_ref: "scheme:::B1"),
    clinicalJudgmentColor: (_ref: "scheme:::P2"),
    clientTeachingColor: (_ref: "scheme:::P2"),
    connectedColor: (_ref: "scheme:::B2"),
    cultureColor: (_ref: "scheme:::G2"),
    cultureBlurredColor: (_ref: "scheme:::G2Op5"),
    culturalContextColor: (_ref: "scheme:::G3"),
    diseaseColor: (_ref: "scheme:::B3"),
    disordersColor: (_ref: "scheme:::R2"),
    electronicHrColor: (_ref: "scheme:::B2"),
    equationCallOutColor: (_ref: "scheme:::Grey1"),
    ethnographicSketchesColor: (_ref: "scheme:::O1"),
    equationNumberColor: (_ref: "scheme:::R1"),
    everydayConnectionColor: (_ref: "scheme:::R2"),
    everydayLifeColor: (_ref: "scheme:::B3"),
    evolutionColor: (_ref: "scheme:::O1"),
    exampleColor: (_ref: "scheme:::R1"),
    figureNumberColor: (_ref: "scheme:::R1"),
    figureTextColor: (_ref: "scheme:::R1"),
    mechanismFigureBorderColor: (_ref: "scheme:::G4"),
    fieldworkActivityColor: (_ref: "scheme:::B3"),
    fontBodyColor: (_ref: "scheme:::black"),
    funInPhysicsColor: (_ref: "scheme:::R2"),
    graspCheckColor: (_ref: "scheme:::Grey1"),
    healthyPeopleColor: (_ref: "scheme:::B2"),
    healthyPeopleBlurredColor: (_ref: "scheme:::B2Op5"),
    homeostaticColor: (_ref: "scheme:::O1"),
    interactiveLinkColor: (_ref: "scheme:::G1"),
    interconnectedColor: (_ref: "scheme:::O1"),
    legalEthicalColor: (_ref: "scheme:::BR1"),
    linkColor: (_ref: "scheme:::B4"),
    linkToLearningColor: (_ref: "scheme:::G1"),
    linkToLearningBlurredColor: (_ref: "scheme:::G1Op5"),
    linksToPhysicsColor: (_ref: "scheme:::G1"),
    microConnectionColor: (_ref:"scheme:::B1"),
    microbioBandColor: (_ref: "scheme:::B2"),
    microbioCaseInPoint: (_ref: "scheme:::R2"),
    microbioClinicalFocusColor: (_ref: "scheme:::B2"),
    microbioDiseaseProfile: (_ref: "scheme:::G2"),
    microbioEyeOnEthics: (_ref: "scheme:::B3"),
    microbioHeaderColor: (_ref: "scheme:::B2"),
    microbioIntroColor: (_ref: "scheme:::B2"),
    microbioLearningObjColor: (_ref: "scheme:::B2"),
    mediaVideoColor: (_ref: "scheme:::G2"),
    mediaPodcastColor: (_ref: "scheme:::B2"),
    moduleTitleColor: (_ref: "scheme:::B3"),
    neuroscienceHeaderColor: (_ref: "scheme:::B2"),
    neuroscienceIntroColor: (_ref: "scheme:::B2"),
    neuroscienceTableColor: (_ref: "scheme:::R1"),
    notesHeaderColor: (_ref: "scheme:::white"),
    nursingBlackBoxColor: (_ref: "scheme:::black"),
    neuroscienceIntroColor: (_ref: "scheme:::B2"),
    nursingTocColor: (_ref: "scheme:::B3"),
    nursingBandColor: (_ref: "scheme:::B3"),
    nursingIntroColor: (_ref: "scheme:::B3"),
    nursingHeaderColor: (_ref: "scheme:::B3"),
    nursingNoteColor: (_ref: "scheme:::B2"),
    nursingTableColor: (_ref: "scheme:::B2"),
    organicChemistryHeaderColor: (_ref: "scheme:::R1"),
    organicChemistryTableColor: (_ref: "scheme:::B5"),
    organicChemistryTargetLabelColor: (_ref: "scheme:::G3"),
    organicChemistryDedicationColor: (_ref: "scheme:::B2"),
    organicChemistryLinkColor: (_ref: "scheme:::G3"),
    patientConversationsColor: (_ref: "scheme:::Y2"),
    pagetitleColor: (_ref: "scheme:::black"),
    pharmaConnectionsColor: (_ref: "scheme:::R2"),
    phetColor: (_ref: "scheme:::B1"),
    physicsDefaultNoteColor: (_ref: "scheme:::B3"),
    physicsBandColor: (_ref: "scheme:::B3"),
    physicsHeaderColor: (_ref: "scheme:::B3"),
    physicsIntroColor: (_ref: "scheme:::B3"),
    physicsLearningObjColor: (_ref: "scheme:::B3"),
    physicsTableColor: (_ref: "scheme:::B3"),
    physicsTocColor: (_ref: "scheme:::B3"),
    portraitColor: (_ref: "scheme:::G2"),
    practiceProblemsColor: (_ref: "scheme:::O2"),
    prefaceTitleColor: (_ref: "scheme:::B3"),
    problemSolvingColor: (_ref: "scheme:::B3"),
    psychosocialConsiderationsColor: (_ref: "scheme:::R3"),
    RNStoriesColor: (_ref: "scheme:::R1"),
    scienceColor: (_ref: "scheme:::B1"),
    scienceBlurredColor: (_ref: "scheme:::B1Op5"),
    snapLabColor: (_ref: "scheme:::B2"),
    somethingExtraColor: (_ref: "scheme:::B1"),
    specialConsiderationsColor: (_ref: "scheme:::G3"),
    subsubtitleColor: (_ref: "scheme:::G2"),
    summarytitleColor: (_ref: "scheme:::black"),
    tableRowGreyShadingColor: (_ref: "scheme:::B6"),
    textCyanColor: (_ref: "scheme:::B5"),
    textRedColor: (_ref: "scheme:::R1"),
    textMagentaColor: (_ref: "scheme:::R3"),
    textGreenColor: (_ref: "scheme:::G3"),
    textGrayColor: (_ref: "scheme:::Grey2"),
    textYellowColor: (_ref: "scheme:::Y1"),
    textPurpleColor: (_ref: "scheme:::P1"),
    tipsForSuccessColor: (_ref: "scheme:::Grey1"),
    tocChapterNumberColor: (_ref: "scheme:::B2"),
    tocTitleColor: (_ref: "scheme:::B2"),
    tocUnitColor: (_ref: "scheme:::B2"),
    trendingColor: (_ref: "scheme:::R2"),
    trendingBlurredColor: (_ref: "scheme:::R2Op5"),
    unfoldingCaseStudyColor: (_ref: "scheme:::R1"),
    unfoldingCaseStudyInternalColor: (_ref: "scheme:::Y1"),
    virtualPhysicsColor: (_ref: "scheme:::G2"),
    visualColor: (_ref: "scheme:::B2"),
    watchPhysicsColor: (_ref: "scheme:::B2"),
    organicChemNoClassNoteColor: (_ref: "scheme:::R2"),
    whyChapterColor: (_ref: "scheme:::G2"),
    workInPhysicsColor: (_ref: "scheme:::BR1"),
  ),
));
