//POSSIBLE BREAKDOWN: "raw" settings used with _ref to call globally used settings?
//Define all hex values first, then create a map referencing the values belwo
//TODO rename those colors variables to something a tad more descriptive
@include add_settings ((
  scheme: (
    O1:    #F37541,
    R1:    #C31427,
    R2:    #B10069,
    BR1:   #B05E36,
    B1:    #0DC0DC,
    B2:    #0074BC,
    B3:    #00819A,
    B4:    #027EB5,
    G1:    #78B042,
    G2:    #1E9575,
    Grey1: #EEEAE0,
    black: #000000,
    white: #FFFFFF,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?

  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")

  colorMap: (
    agingColor: (_ref: "scheme:::BR1"),
    anatomyBandColor: (_ref: "scheme:::B3"),
    anatomyHeaderColor: (_ref: "scheme:::B3"),
    anatomyIntroColor: (_ref: "scheme:::B3"),
    anatomyTableColor: (_ref: "scheme:::B3"),
    anatomyTocColor: (_ref: "scheme:::B3"),
    anthopologyAccentColor: (_ref: "scheme:::B2"),
    anthropologyProfileColor: (_ref: "scheme:::R1"),
    apEverydayConnectionColor: (_ref: "scheme:::BR1"),
    apSciencePracticesColor: (_ref: "scheme:::R2"),
    biologyBandColor: (_ref: "scheme:::B2"),
    biologyHeaderColor: (_ref: "scheme:::B2"),
    biologyTableColor: (_ref: "scheme:::B2"),
    biologyChapterOutlineColor: (_ref: "scheme:::B2"),
    boundlessPhysicsColor: (_ref: "scheme:::G2"),
    careerColor1: (_ref: "scheme:::BR1"),
    careerColor: (_ref: "scheme:::BR1"),
    carnivalAppendixColor: (_ref: "scheme:::B3"),
    chapterOutlineColor: (_ref: "scheme:::B2"), 
    chapterOutlineMarginTextColor: (_ref: "scheme:::white"),
    chapterSplashCaptionColor: (_ref: "scheme:::Grey1"),
    checkYourUnderstanding: (_ref:"scheme:::O1"),
    chemEOCHeaderColor: (_ref: "scheme:::B3"),
    chemistryBandColor: (_ref: "scheme:::B3"),
    chemistryHeaderColor: (_ref: "scheme:::B3"),
    chemistryIntroColor: (_ref: "scheme:::B3"),
    chemistryTableColor: (_ref: "scheme:::B3"),
    diseaseColor: (_ref: "scheme:::B3"),
    disordersColor: (_ref: "scheme:::R2"),
    equationCallOutColor: (_ref: "scheme:::Grey1"),
    ethnographicSketchesColor: (_ref: "scheme:::O1"),
    equationNumberColor: (_ref: "scheme:::R1"),
    everydayConnectionColor: (_ref: "scheme:::R2"),
    everydayLifeColor: (_ref: "scheme:::B3"),
    evolutionColor: (_ref: "scheme:::O1"),
    exampleColor: (_ref: "scheme:::R1"),
    figureNumberColor: (_ref: "scheme:::R1"),
    figureTextColor: (_ref: "scheme:::R1"),
    fieldworkActivityColor: (_ref: "scheme:::B3"),
    fontBodyColor: (_ref: "scheme:::black"),
    funInPhysicsColor: (_ref: "scheme:::R2"),
    graspCheckColor: (_ref: "scheme:::Grey1"),
    homeostaticColor: (_ref: "scheme:::O1"),
    interactiveLinkColor: (_ref: "scheme:::G1"),
    interconnectedColor: (_ref: "scheme:::O1"),
    linkColor: (_ref: "scheme:::B4"),
    linkToLearningColor: (_ref: "scheme:::G1"),
    linksToPhysicsColor: (_ref: "scheme:::G1"),
    microConnectionColor: (_ref:"scheme:::B1"),
    microbioBandColor: (_ref: "scheme:::B2"),
    microbioCaseInPoint: (_ref: "scheme:::R2"),
    microbioClinicalFocusColor: (_ref: "scheme:::B2"),
    microbioDiseaseProfile: (_ref: "scheme:::G2"),
    microbioEyeOnEthics: (_ref: "scheme:::B3"),
    microbioHeaderColor: (_ref: "scheme:::B2"),
    microbioIntroColor: (_ref: "scheme:::B2"),
    microbioLearningObjColor: (_ref: "scheme:::B2"),
    mediaVideoColor: (_ref: "scheme:::G2"),
    mediaPodcastColor: (_ref: "scheme:::B2"),
    moduleTitleColor: (_ref: "scheme:::B3"),
    pagetitleColor: (_ref: "scheme:::black"),
    phetColor: (_ref: "scheme:::B1"),
    physicsDefaultNoteColor: (_ref: "scheme:::B3"),
    physicsBandColor: (_ref: "scheme:::B3"),
    physicsHeaderColor: (_ref: "scheme:::B3"),
    physicsIntroColor: (_ref: "scheme:::B3"),
    physicsLearningObjColor: (_ref: "scheme:::B3"),
    physicsTableColor: (_ref: "scheme:::B3"),
    physicsTocColor: (_ref: "scheme:::B3"),
    portraitColor: (_ref: "scheme:::G2"),
    prefaceTitleColor: (_ref: "scheme:::B3"),
    problemSolvingColor: (_ref: "scheme:::B3"),
    scienceColor: (_ref: "scheme:::B1"),
    snapLabColor: (_ref: "scheme:::B2"),
    subsubtitleColor: (_ref: "scheme:::G2"),
    summarytitleColor: (_ref: "scheme:::black"),
    tipsForSuccessColor: (_ref: "scheme:::Grey1"),
    tocChapterNumberColor: (_ref: "scheme:::B2"),
    tocTitleColor: (_ref: "scheme:::B2"),
    tocUnitColor: (_ref: "scheme:::B2"),
    virtualPhysicsColor: (_ref: "scheme:::G2"),
    visualColor: (_ref: "scheme:::B2"),
    watchPhysicsColor: (_ref: "scheme:::B2"),
    workInPhysicsColor: (_ref: "scheme:::BR1"),
  ),
));
