// @import "compass/typography" or some other vertical rhythm functions
//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,700&display=swap&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap&subset=latin,latin-ext');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
  typography: (
    sansFont: ("IBM Plex Sans", sans-serif),
    eobTitleFont: ("IBM Plex Sans", sans-serif), //to do: change name for IBM Plex Sans font
    baseFont: ('IBM Plex Serif', serif),
    titleOption1Font: ('Mulish', sans-serif),
    baseFontSize: 12px,
    baseLineHeight:1.4rem,
  )
));
