// @import "compass/typography" or some other vertical rhythm functions
//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@import url('./downloaded-fonts/IBM-Plex-Serif.css');
@import url('./downloaded-fonts/IBM-Plex-Sans.css');
@import url('./downloaded-fonts/Mulish.css');


/* stylelint-disable-next-line meowtec/no-px */
@include add_settings((
  typography: (
    sansFont: ("IBM Plex Sans", sans-serif),
    baseFont: ("IBM Plex Sans", sans-serif), // I have left the above import for IBM Plex Serif font just in case we would like to change the base forn back to it
    baseOption2Font: ("IBM Plex Serif", serif), // used in Organic Chemistry
    titleOption1Font: ('Mulish', sans-serif),
    titleOption2Font: ("IBM Plex Sans", sans-serif),
    baseFontSize: 12px,
    baseLineHeight:1.4rem,
  )
));
