$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';

@include use('BookRoot', "common:::BookRoot");

// Boxed Notes
@include add_settings((
    Milestone: (
      _selectors: ('.milestone'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    FindingAMiddleGround: (
      _selectors: ('.middle-ground'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    InsiderPerspective: (
      _selectors: ('.insider-perspective'),
      'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
      'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
      'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
      'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
      'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
      'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

//Notes
@include use('Milestone', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('FindingAMiddleGround', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('InsiderPerspective', 'cosmos:::BoxedNoteWithSubtitleShape');


