$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';

// Iconned Notes
@include add_settings((
  GetConnected: (
        _selectors: ('.get-connected'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-connected.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('TocUnit', 'cosmos:::TocUnitShape');

//Titles
@include use('PageTitles', 'cosmos:::PageTitlesShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

// Notes
@include use('GetConnected', 'cosmos:::IconnedNoteWithSubtitleShape');

