$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';

//Settings
//Notes
@include add_settings((
  LinkToLearning:(
      _selectors: (".american.government.link-to-learning"),
      'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
      'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
      'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'cosmos:::LinkShape');
@include use('Figure', 'cosmos:::FigureShape');

//Notes
@include use('LinkToLearning', 'cosmos:::CondensedIconNoteShape');
