$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #1E7E91;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

//Settings

@include add_settings((
  BePrepared: (
    _selectors: (".be-prepared"),
    'TitleLabel:::color': (_ref: "colorMap:::iconCondensedLabelColor"),
    'TitleLabel:::font-family': (_ref: "typography:::baseFont"),
    'TitleNumber:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'TitleNumber:::font-family': (_ref: "typography:::titleFont"),
    'Body:::color': (_ref: "colorMap:::iconCondensedTextColor"),
    'Body:::font-family': (_ref: "typography:::titleFont"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-be-prepared.svg")) no-repeat top left,
  ),
  ManipulativeMath: (
    _selectors: (".manipulative-math"),
    'Title:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Title:::font-family': (_ref: "typography:::baseFont"),
    'Body:::color': (_ref: "colorMap:::iconBoxedTextColor"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::iconBoxedBackgroundColor"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-manipmath.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");

@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
//Tables
@include use('BasicTable', 'corn:::BasicTableShape');

//Notes
@include use('BePrepared', 'corn:::IconCondensedNoteShape');
@include use('ManipulativeMath', 'corn:::IconBoxedNoteShape');
