// Books using those settings: College Algebra, Precalculus and Algebra & Trigonometry

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-chapter-review-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #093D4C;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

//Settings

@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::splashFigureBgColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/corn/resources/corn-introduction.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashMediaOverlay:::background-color': (_ref: "colorMap:::splashImageOverlayColor"),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('Link', 'corn:::LinkShape');
@include use('LearningObjectives', 'corn:::LearningObjectivesShape');
@include use('Example', 'corn:::ExampleShape');
@include use('ChapterIntro', 'corn:::ChapterIntroShape');
@include use('Footnotes', 'common:::FootnotesShape');
@include use('FootnoteCall', 'common:::FootnotesCallShape');
@include use('Equation', 'corn:::EquationShape');
@include use('Index', 'corn:::IndexShape');
@include use('Figure','corn:::FigureShape');

//Titles
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');
@include use('CompositeChapterTitles', 'corn:::CompositeChapterTitlesShape');
@include use('ChapterTitles', 'corn:::ChapterTitlesShape');
@include use('PageTitles', 'corn:::PageTitlesShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//Section Exercises
@include use('ThreeColumnsModuleExercises', 'corn:::ThreeColumnsExercisesModuleShape');

//EoC
@include use('KeyTerm','corn:::EocKeyTerm');
@include use('ReviewExercises', 'corn:::ThreeColumnsExercisesModuleShape');
@include use('PracticeTest', 'corn:::ThreeColumnsExercisesModuleShape');

//EOB
@include use('AnswerKeyNestedSolutionAreas', 'corn:::AnswerKeyWithNestedSolutionAreasShape');
