// Books using those settings: College Algebra, Precalculus and Algebra & Trigonometry

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #093D4C;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../templates/template2/design.scss';
@import '../../templates/template2/settings.scss';

@include use('BookRoot', "common:::BookRoot");
@include use('Toc', 'corn:::NoUnitToc');
@include use('Link', 'corn:::LinkShape');
@include use('LearningObjectives', 'corn:::LearningObjectivesShape');

//Titles
@include use('PageTitles', 'corn:::PageTitlesShape');
@include use('ModuleTitles', 'corn:::ModuleTitlesShape');

//Lists
@include use('PageLists', 'corn:::PageListsShape');

//Tables
@include use('BasicTable', 'corn:::BasicTableShape');
@include use('ColumnHeader', 'corn:::ColumnHeaderTableShape');
@include use('UnnumberedUnstyledTable', 'corn:::UnnumberedUnstyledTableShape');

//Section Exercises
@include use('ThreeColumnsModuleExercises', 'corn:::ThreeColumnsExercisesModuleShape');
