$Annotation: (
  _name: "Annotation",
  _subselector: '',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-style: italic,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Annotation--WithBorder: (
  _name: "AnnotationWithBorder",
  _subselector: '',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    padding: '1rem 2rem',
    margin: '1rem 0 2rem',
    border-left-style: solid,
    border-left-color: enum('ValueSet:::REQUIRED'),
    border-left-width: 0.2rem,
  )
);
