// Figures
$Caption__Container--Figure: (
  _name: "CaptionContainerFigure",
  _subselector: ' .os-caption-container',
  _properties: (
    display: table-caption,
    padding-top: 1rem,
    color: enum('ValueSet:::REQUIRED'),
    font-size: 1.2rem,
    line-height: 1.7rem,
    caption-side: bottom,
  )
);

$Caption__Title--Figure: (
  _name: "CaptionTitleFigure",
  _subselector: " > .os-title",
  _properties: (
    font-weight: bold,
  )
);

$Caption__TitleLabel--Figure: (
  _name: "CaptionTitleLabelFigure",
  _subselector: " > .os-title-label",
  _properties: (
    font-weight: bold,
  )
);

$Caption__Number--Figure:( 
  _name: "CaptionNumberFigure",
  _subselector: " > .os-number",
  _properties:(
    font-weight: bold,
  )
);

// Scaled-down figures
$Caption__Container--ScaledDown:(
  _name: "CaptionContainerScaledDown",
  _subselector: ' ~ .os-caption-container',
  _properties: (
    width: 60%,
    margin: auto,
  )
);

$Caption__Container--ScaledDown30:(
    _name: "CaptionContainerScaledDown30",
    _subselector: ' ~ .os-caption-container',
    _properties: (
        width: 30%,
        margin: auto,
    )
);

// Tables
$Caption__Container--Table: (
  _name: "CaptionContainerTable",
  _subselector: ' .os-caption-container',
  _properties: (
    padding: 8px,
    border-top-width: 0.1rem,
    border-top-style: solid,
    border-top-color: enum('ValueSet:::REQUIRED'),
    font-size: 0.9em,
  )
);

$Caption__TitleLabel--Table: (
  _name: "CaptionTitleLabelTable",
  _subselector: " > .os-title-label",
  _properties: (
    display: inline-block,
    padding-right: 0.25em,
    font-weight: bold,
  )
);

$Caption__Number--Table: (
  _name: "CaptionNumberTable",
  _subselector: " > .os-number",
  _properties: (
    display: inline-block,
    padding-right: 0.25em,
    font-weight: bold,
  )
);

$FigureCaption__Container--InTable: (
  _name: "FigureCaptionContainerInTable",
  _subselector: ' .os-caption-container',
  _properties: (
    padding: 1rem 0 0 0,
  )
);

$Caption--InTable: (
  _name: "CaptionInTable",
  _subselector: ' .os-caption-container',
  _properties: (
    padding: 8px,
    border-top-width: 0.1rem,
    border-top-style: solid,
    border-top-color: enum('ValueSet:::REQUIRED'),
    font-size: 0.9em,
  )
);

$Caption--InTable__TitleLabel: (
  _name: "CaptionInTableTitle",
  _subselector: ' .os-title-label',
  _properties: (
    display: inline-block,
    padding-right: 0.25em,
    font-weight: bold,
  )
);

$Caption--InTable__Number: (
  _name: "CaptionInTableTitle",
  _subselector: ' .os-number',
  _properties: (
    display: inline-block,
    padding-right: 0.25em,
    font-weight: bold,
  )
);
