$Introduction__Container: empty_wrapper(IntroductionContainer, '');
$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, ' > .intro-body');
$ChapterOutline: empty_wrapper(ChapterOutline, ' .os-chapter-outline');
$ChapterSplash__Figure__Wrapper: empty_wrapper(ChapterSplashFigureWrapper, ' > .os-figure.has-splash');

$ChapterSplash__Figure: (
   _name: "SplashFigure",
   _subselector: ' > figure.splash',
   _properties: (
     margin: 0,
   )
);

$ChapterSplash__Figure--NotVertical: (
   _name: "SplashFigureNotVertical",
   _subselector: ' > figure.splash:not([data-orient="vertical"])',
   _properties: (
     display: block,
   )
);

$ChapterSplash__Figure--Unnumbered: (
   _name: "SplashFigureUnnumbered",
   _subselector: ' > figure.splash.unnumbered',
   _properties: (
     display: table,
     margin: '3rem auto',
   )
);

$ChapterSplash__Figure--Unnumbered__Figcaption: (
   _name: "SplashFigureUnnumberedFigcaption",
   _subselector: ' figcaption',
   _properties: (
      text-align: left,
      padding-left: 0rem,
   )
);

$ChapterSplash__Image--NotVertical: (
   _name: "SplashImageNotVertical",
   _subselector: ' img',
   _properties: (
     width: 100%,
   )
);
