$Code: (
  _name: "Code",
  _subselector: '',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$Code--WithColor: (
  _name: "CodeWithColor",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Code--InlinePre: (
  _name: "CodeInlinePre",
  _subselector: "",
  _properties: (
    display: inline,
  )
);

$CodeBlock: (
  _name: "CodeBlock",
  _subselector: '',
  _properties: (
    display: block,
    overflow: auto,
  )
);

$CodeBlock--Centered: (
  _name: "CodeBlockCentered",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    text-align: center,
    background: none,
    margin: 0 auto,
  )
);

//Styles specifically for code snippet tables
$CodeSnippetLineNumbers: (
    _name: 'CodeSnippetLineNumbers',
    _subselector: '',
    _properties: (
      font-size: font-scale(1),
      font-family: enum('ValueSet:::REQUIRED'),
      border-right: enum('ValueSet:::REQUIRED'),
      padding-top: enum('ValueSet:::OPTIONAL'),
      padding-right: 10px,
      padding-bottom: enum('ValueSet:::OPTIONAL'),
      padding-left: enum('ValueSet:::OPTIONAL'),
      text-align: right,
      vertical-align: top,
      border-top: enum('ValueSet:::OPTIONAL'),
      border-bottom: enum('ValueSet:::OPTIONAL'),
      border-left: enum('ValueSet:::OPTIONAL'),
      border-style: enum('ValueSet:::OPTIONAL')
    )
);

$CodeSnippetLineNumbersCode: (
    _name: 'CodeSnippetLineNumbersCode',
    _subselector: '',
    _properties: (
      font-size: font-scale(1),
      font-family: enum('ValueSet:::REQUIRED'),
      border-top: enum('ValueSet:::OPTIONAL'),
      border-right: enum('ValueSet:::OPTIONAL'),
      border-bottom: enum('ValueSet:::OPTIONAL'),
      border-left: enum('ValueSet:::OPTIONAL'),
      border-style: enum('ValueSet:::OPTIONAL'),
      padding-top: enum('ValueSet:::OPTIONAL'),
      padding-right: enum('ValueSet:::OPTIONAL'),
      padding-bottom: enum('ValueSet:::OPTIONAL'),
      padding-left: 0.5rem !important
    )
);
