$Code: (
  _name: "Code",
  _subselector: '',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$Code--WithColor: (
  _name: "CodeWithColor",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$CodeBlock: (
  _name: "CodeBlock",
  _subselector: '',
  _properties: (
    display: block,
    overflow: auto,
  )
);

$CodeBlock--Centered: (
  _name: "CodeBlockCentered",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    text-align: center,
    background: none,
    margin: 0 auto,
  )
);

//Styles specifically for code snippet tables
$CodeSnippet__Container: empty_wrapper(CodeSnippet, '');

$CodeSnippet__LineNumbers: (
    _name: 'CodeSnippetLineNumbers',
    _subselector: ' .hljs-ln-numbers',
    _properties: (
      font-size: 1.2rem,
      font-family: enum('ValueSet:::REQUIRED'),
      border-right: enum('ValueSet:::REQUIRED'),
      border-color: enum('ValueSet:::REQUIRED'),
      padding-right: 10px,
      text-align: enum('ValueSet:::REQUIRED'),
      vertical-align: top
    )
);

$CodeSnippet__LineNumbers--Code: (
    _name: 'CodeSnippetLineNumbersCode',
    _subselector: ' .hljs-ln-code',
    _properties: (
      font-size: 1.2rem,
      font-family: enum('ValueSet:::REQUIRED'),
      padding-left: 0.5rem,
      text-align: enum('ValueSet:::REQUIRED'),
    )
);
