$Code: (
  _name: "Code",
  _subselector: '',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
  )
);

$Code--WithColor: (
  _name: "CodeWithColor",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Code--InlinePre: (
  _name: "CodeInlinePre",
  _subselector: "",
  _properties: (
    display: inline,
  )
);

$CodeBlock: (
  _name: "CodeBlock",
  _subselector: '',
  _properties: (
    display: block,
    overflow: auto,
  )
);

$CodeBlock--Centered: (
  _name: "CodeBlockCentered",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    text-align: center,
    background: none,
    margin: 0 auto,
  )
);
