$Annotation__Text: (
  _name: "AnnotationText",
  _subselector: '.annotation-text',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    font-style: italic,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$PublicDomain__Text: (
  _name: "PublicDomainText",
  _subselector: '.public-domain',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    padding: '1rem 2rem',
    margin: '1rem 0 2rem',
    border-left-style: solid,
    border-left-color: enum('ValueSet:::REQUIRED'),
    border-left-width: 0.2rem,
  )
);

$StudentSample__Text: (
  _name: "StudentSampleText",
  _subselector: '.student-sample',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    padding: '1rem 2rem',
    margin: '1rem 0 2rem',
    border-left-style: solid,
    border-left-color: enum('ValueSet:::REQUIRED'),
    border-left-width: 0.2rem,
  )
);
