$CoreqSkills__Container: (
  _name: "CoreqSkillsContainer",
  _subselector: '',
  _properties: (
    padding: '0 3rem 3rem 3rem',
    border-width: 1rem,
    border-style: solid,
    border-color: enum('ValueSet:::REQUIRED'),
  )
);

$CoreqSkills__Title: (
  _name: "CoreqSkillsTitle",
  _subselector: ' > .os-title',
  _properties: (
    margin: '0 -3rem',
    padding: '1.5rem 3rem',
    font-size: scaled_size(1.7rem),
    color: enum('ValueSet:::REQUIRED'),
    background-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: 1rem,
    border-bottom-style: solid,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    text-transform: uppercase,
  )
);

$CoreqSkills__Exercises: empty_wrapper(CoreqSkillsExercises, ' .os-coreq-exercises');

$CoreqSkills__Exercises__ProblemContainer: (
  _name: "CoreqSkillsExercisesProblemContainer",
  _subselector: ' .os-problem-container',
  _properties: (
    display: inline,
  )
);

$CoreqSkills__Exercises__Paragraph--FirstChild: (
  _name: "CoreqSkillsExercisesParagraphFirstChild",
  _subselector: ' > p:first-child',
  _properties: (
    display: inline,
  )
);
