$Eoc__Container: empty_wrapper(EocContainer, '');
$Eoc__KeyTerm: empty_wrapper(EocKeyTerm, ' dl');

$Eoc__KeyTerm__Vocab: (
  _name: "KeyTermsVocab",
  _subselector: ' dt',
  _properties: (
    font-weight: 700,
  ),
);

$Eoc__KeyTerm__Definition: (
  _name: "KeyTermsDefinition",
  _subselector: ' dd',
  _properties: (
   margin-left: 0,
   margin-inline-start: 0,
  ),
);
