$Equation__Container--Unnumbered: (
  _name: "EquationContainerUnnumbered",
  _subselector: '',
  _properties: (
    overflow: 'auto !important',
    width: 100%,
  ),
);

$Equation__Container--Numbered: (
  _name: "EquationContainerNumbered",
  _subselector: '',
  _properties: (
    overflow: 'auto !important',
    width: 100%,
    display: flex,
    align-items: center,
    justify-content: space-between,
  ),
);

$Equation__Number__Container: (
  _name: "EquationNumberContainer",
  _subselector: ' .os-equation-number',
  _properties: (
    width: 5%,
    vertical-align: middle,
    margin-left: 1em,
  ),
);

$Equation__MathJax: (
  _name: "EquationMathJax",
  _subselector: ' > .MathJax_Display',
  _properties: (
    min-width: 'auto !important',
    min-height: 'auto !important',
    width: 'auto !important',
  ),
);

$Equation__Number: (
  _name: "EquationNumber",
  _subselector: ' .os-number',
  _properties: (
    padding: 5px,
    border-color: enum('ValueSet:::REQUIRED'),
    border-style: solid,
    border-width: 1px,
    text-align: center,
    vertical-align: middle,
  ),
);

$Equation__Title: (
  _name: "EquationTitle",
  _subselector: ' [data-type="title"]',
  _properties: (
    display: block,
    font-weight: bold,
    text-align: center,
  ),
);
