//Empty Containers
$MainContent__Container: empty_wrapper(MainContentContainer, '');

// Images
$Image: (
  _name: "Image",
  _subselector: ' img',
  _properties: (
    max-width: 100%,
    margin-top: 1em,
    margin-bottom: 1em,
  )
);

$Image--InMedia: (
  _name: "ImageInMedia",
  _subselector: ' span[data-type="media"] img',
  _properties: (
    display: block,
  )
);

$Image--InFigure: (
  _name: "ImageInFigure",
  _subselector: ' img',
  _properties: (
    max-width: 100%,
    margin: 0,
  )
);

// Media
// Media--InFigure was split into Media--InFigure1 and Media--InFigure2, because of two different selectors as _subselector
$Media--InFigure1: (
  _name: "MediaInFigure1",
  _subselector: ' > [data-type="media"]',
  _properties: (
    display: block,
    margin: 0,
    text-align: center,
  )
);

$Media--InFigure2: (
  _name: "MediaInFigure2",
  _subselector: ' > .media',
  _properties: (
    display: block,
    margin: 0,
    text-align: center,
  )
);

// Figures
$Figure: (
  _name: "Figure",
  _subselector: ' figure',
  _properties: (
    position: relative,
    text-align: center,
    margin: 0,
  )
);
