//Empty Containers
$NotFigure__Container: empty_wrapper(MediaOutsideFigureContainer, ':not(figure)');

// Images
$Image: (
  _name: "Image",
  _subselector: ' img',
  _properties: (
    max-width: 100%,
    margin-top: 1em,
    margin-bottom: 1em,
  )
);

$Image--InMedia: (
  _name: "ImageInMedia",
  _subselector: ' span[data-type="media"] img',
  _properties: (
    display: block,
  )
);

$Image--InFigure: (
  _name: "ImageInFigure",
  _subselector: ' img',
  _properties: (
    max-width: 100%,
    margin: 0,
  )
);

// Media
// Media--InFigure was split into Media--InFigure1 and Media--InFigure2, because of two different selectors as _subselector
$Media--InFigure1: (
  _name: "MediaInFigure1",
  _subselector: ' > [data-type="media"]',
  _properties: (
    display: block,
    margin: 0,
    text-align: center,
  )
);

$Media--InFigure2: (
  _name: "MediaInFigure2",
  _subselector: ' > .media',
  _properties: (
    display: block,
    margin: 0,
    text-align: center,
  )
);

$Media--InNote: (
  _name: "MediaInNote",
  _subselector: ' span[data-type="media"]',
  _properties: (
    display: block,
    margin: '1rem 0',
  ),
);

// Figures
$Figure: (
  _name: "Figure",
  _subselector: ' figure',
  _properties: (
    position: relative,
    text-align: center,
    margin: 0,
  )
);

$FigureClass: (
  _name:"FigureClass",
  _subselector: ' .os-figure',
  _properties: (
    display: table,
    margin: '3rem auto',
  )
);

// Scaled down
$Figure--ScaledDown: (
  _name: "FigureScaledDown",
  _subselector: ' .scaled-down',
  _properties: (
    width: 60%,
    margin: auto,
  )
);

$Figure--ScaledDown30: (
  _name: "FigureScaledDown30",
  _subselector: ' .scaled-down-30',
  _properties: (
    width: 30%,
    margin: auto,
  )
);

$Media--ScaledDown: (
  _name: "MediaScaledDown",
  _subselector: ' > [data-type="media"].scaled-down',
  _properties: (
    display: block,
    text-align: center,
  )
);

$Media--ScaledDown30: (
  _name: "MediaScaledDown30",
  _subselector: ' > [data-type="media"].scaled-down-30',
  _properties: (
    display: block,
    text-align: center,
  )
);

$Image--ScaledDown: (
  _name: "ImageScaledDown",
  _subselector: ' img',
  _properties: (
    width: 60%,
  )
);

$Image--ScaledDown30: (
  _name: "ImageScaledDown30",
  _subselector: ' img',
  _properties: (
    width: 30%,
  )
);
