$Footnote__Container: (
  _name: "FootnoteContainer",
  _subselector: '[data-type="footnote-refs"]',
  _properties: (
    margin-top: 6rem,
  ),
);

$Footnote: (
  _name: "Footnote",
  _subselector: ' [data-type="footnote-ref"]',
  _properties: (
    padding-left: 27px,
    text-indent: -27px,
  ),
);

$Footnote__Content--Before: (
  _name: "FootnoteContentBefore",
  _subselector: ' [data-type="footnote-ref-content"]:before',
  _properties: (
    content: '" "',
  ),
);

$Footnote--Class: (
  _name: "FootnoteClass",
  _subselector: ' .footnote',
  _properties: (
    font-size: 1rem,
  ),
);
