$Icon--Inline: (
  _name: 'InlineIcon',
  _subselector: '',
  _properties: (
    width: 2rem,
    height: 2rem,
    margin: '.15rem 1rem .15rem 0',
    background-image: enum('ValueSet:::REQUIRED'),
    background-repeat: no-repeat,
    background-position: 'top left',
  )
);
