$LearningObjectives__Container: (
  _name: "LearningObjectivesContainer",
  _subselector: ' .learning-objectives',
  _properties: (
    margin: '3rem 0',
    padding: 1.5rem,
    border-style: solid,
    border-color: enum('ValueSet:::REQUIRED'),
    border-width: .2rem, 
    background-color: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__Title: (
  _name: "LearningObjectivesTitle",
  _subselector: ' [data-type="title"]',
  _properties: (
    display: block,
    margin-top: 0,
    margin-bottom: 1rem,
    padding: '0 1.5rem 1rem',
    border-bottom-style: solid,
    border-bottom-color: enum('ValueSet:::REQUIRED'),
    border-bottom-width: .2rem,
    color: enum('ValueSet:::REQUIRED'),
    font-size: 1.7rem,
    font-weight: 700,
    letter-spacing: .1rem,
    text-transform: uppercase,
  )
);

$LearningObjectives__Paragraph: (
  _name: "LearningObjectivesParagraph",
  _subselector: ' p',
  _properties: (
    margin: '0 0 1rem 1.5rem',
    color: enum('ValueSet:::REQUIRED'),
  )
);

// TODO: change the name of this component
$AbstractClass__Container: (
  _name: 'AbstractClassContainer',
  _subselector: ' .abstract',
  _properties: (
    position: relative,
    margin:'3rem 6rem 0 6rem',
    padding:'4.5rem 1.5rem 1.5rem 1.5rem',
    background-color: enum('ValueSet:::REQUIRED'),
  )
);
