$Link: (
  _name: "Link",
  _subselector: ' a',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    cursor: pointer,
    text-decoration: underline,
  )
);

$Link--Hover: (
  _name: "LinkHover",
  _subselector: ' a:hover',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);