$UnorderedList: (
  _name: 'UnorderedList', 
  _subselector: ' ul',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$OrderedList: (
  _name: 'OrderedList', 
  _subselector: ' ol',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$UnorderedList--NumberedLearningObjectives: (
  _name: 'NumberedLearningObjectivesList', 
  _subselector: ' .os-abstract',
  _properties: (
    list-style-type: none,
    padding-left: 2rem,
  )
);
