$UnorderedList: (
  _name: 'UnorderedList', 
  _subselector: ' ul',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$OrderedList: (
  _name: 'OrderedList', 
  _subselector: ' ol',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$UnorderedList--NumberedLearningObjectives: (
  _name: 'NumberedLearningObjectivesList', 
  _subselector: ' .os-abstract',
  _properties: (
    list-style-type: none,
    padding-left: 2rem,
  )
);

$ListStructure__Container: (
  _name: 'ListStructureContainer1',
  _subselector: '',
  _properties: (
    overflow-wrap: break-word,
  )
);

$UnorderedList--InPreface: (
  _name: 'UnorderedListInInPreface',
  _subselector: ' ul',
  _properties: (
    list-style-type: none,
  )
);

$StepwiseList__Container: (
    _name: "StepwiseListContainer",
    _subselector: '',
    _properties: (
      list-style-type: none,
      padding-left: 0,
    )
);

$StepwiseList__FirstLevel: (
    _name: "StepwiseListFirstLevel",
    _subselector: ' > li',
    _properties: (
      display: flex,
    )
);

$StepwiseList__CustomBullet: (
    _name: "StepwiseListCustomBullet",
    _subselector: " .os-stepwise-token",
    _properties: (
      white-space: pre,
    )
);

$StepwiseList__Content: empty_wrapper(StepwiseListContent, ' > .os-stepwise-content');

$StepwiseList__SecondLevel--UnorderedList: (
    _name: "StepwiseListSecondLevelUnorderedList",
    _subselector: " > ul",
    _properties: (
      padding-left: 1rem,
    )
);

$StepwiseList__SecondLevel--OrderedList: (
    _name: "StepwiseListSecondLevelOrderedList",
    _subselector: " > ol",
    _properties: (
      padding-left: 1rem,
    )
);
