$UnorderedList: (
  _name: 'UnorderedList', 
  _subselector: ' ul',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$OrderedList: (
  _name: 'OrderedList', 
  _subselector: ' ol',
  _properties: (
    margin-top: 1rem,
    margin-bottom: 1rem,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$UnorderedList--NumberedLearningObjectives: (
  _name: 'NumberedLearningObjectivesList', 
  _subselector: ' .os-abstract',
  _properties: (
    list-style-type: none,
    padding-left: 2rem,
  )
);

// these "UnorderedList--InAbstractClass" components should be inside a wrapper with a ".abstract" class
// TODO: change the name of these components
$UnorderedList--InAbstractClass: (
  _name: 'UnorderedListInAbstractClass',
  _subselector: ' ul',
  _properties: (
    margin: '1.5rem 0 0 0',
  )
);

$UnorderedList--InAbstractClass__After: (
  _name: 'UnorderedListInAbstractClassAfter',
  _subselector: '::after',
  _properties: (
    position: absolute,
    top: 1.5rem,
    left: 1.5rem,
    color: enum('ValueSet:::REQUIRED'),
    font-size: scaled_size(1.7rem),
    font-weight: bold,
    letter-spacing: 0.1rem,
    text-transform: uppercase,
    content: "Abstract",
  )
);

$UnorderedList--InOutline: (
  _name: 'UnorderedListInOutline',
  _subselector: ' ul',
  _properties: (
    margin-top: 0,
  )
);

$ListStructure__Container: (
  _name: 'ListStructureContainer1',
  _subselector: '',
  _properties: (
    overflow-wrap: break-word,
  )
);

$UnorderedList--Unstyled: (
  _name: 'UnorderedListUnstyled',
  _subselector: ' ul',
  _properties: (
    list-style-type: none,
  )
);

$StepwiseList__Container: (
    _name: "StepwiseListContainer",
    _subselector: '',
    _properties: (
      list-style-type: none,
      padding-left: 0,
    )
);

$StepwiseList__Item: (
    _name: "StepwiseListItem",
    _subselector: ' > li',
    _properties: (
      display: flex,
    )
);

$StepwiseList__CustomBullet: (
    _name: "StepwiseListCustomBullet",
    _subselector: " .os-stepwise-token",
    _properties: (
      white-space: pre,
    )
);

$StepwiseList__Content: empty_wrapper(StepwiseListContent, ' > .os-stepwise-content');

$StepwiseList__NestedList--Unordered: (
    _name: "StepwiseListNestedListUnordered",
    _subselector: " > ul",
    _properties: (
      padding-left: 1rem,
    )
);

$StepwiseList__NestedList--Ordered: (
    _name: "StepwiseListNestedListOrdered",
    _subselector: " > ol",
    _properties: (
      padding-left: 1rem,
    )
);

$OrderedList--InTable: (
  _name: "OrderedListInTable",
  _subselector: ' ol',
  _properties: (
    padding-left: 1.5em,
  )
);

$UnorderedList--InTable: (
  _name: "UnorderedListInTable",
  _subselector: ' ul',
  _properties: (
    padding-left: 1.5em,
  )
);

$NoneStyleList: (
  _name: "NoneStyleList",
  _subselector: '[data-bullet-style="none"]',
  _properties: (
    margin: 0,
    padding: 0,
  )
);

$NoneStyleList__Item: (
  _name: "NoneStyleListItem",
  _subselector: ' li',
  _properties: (
    list-style: none,
  )
);

$List--InAppendix: (
  _name: "ListInAppendix",
  _subselector: ' [data-type="list"]',
  _properties: (
    margin-top: 1rem,
  )
);