$Module__Container: empty_wrapper(ModuleContainer, '');
$Module__Container: empty_wrapper(ModuleContainer, '');

$ModuleWithIndentation__Para: (
    _name: "ModuleWithIndentationPara",
    _subselector: ' p',
    _properties:(
        text-indent: -2.50rem,
        padding-left: 2.50rem,
    ),
);
