$Reference__Container: empty_wrapper(ReferenceContainer, '.os-reference-container');
$Reference__ChapterArea: empty_wrapper(ReferenceChapterArea, ' .os-chapter-area');
$ChapterArea__Reference: empty_wrapper(ChapterAreaReference, ' > .reference');
$References__Container: empty_wrapper(ReferencesContainer, '.os-references-container');
$References: empty_wrapper(ReferencesSection, ' .references');

$Reference__Number: (
  _name: "ReferenceNumber",
  _subselector: ' span.os-reference-number',
  _properties: (
    margin-top: 10px,
    font-weight: bold,
  )
);

$References__Link--InNote: (
  _name: "ReferenceLink",
  _subselector: ' .os-note-body > a',
  _properties: (
    margin-top: 10px,
  )
);

$ChapterArea__Paragraph--InSolution: (
  _name: "ReferenceParagraphInSolution",
  _subselector: ' [data-type="solution"] p',
  _properties: (
    display: inline,
  )
)
