$Table__Container: (
  _name: "TableContainer",
  _subselector: '',
  _properties: (
    overflow-x: auto,
    margin: '20px 0',
  )
);

$Table__Title: (
  _name: "TableTitle",
  _subselector: ' .os-table-title',
  _properties: (
    padding-bottom: 1em,
    font-weight: bold,
    text-align: center,
  )
);

$Table: (
  _name: "Table",
  _subselector: ' table',
  _properties: (
    border-collapse: collapse,
    border-spacing: 0,
    width: 100%,
    max-width: 100%,
    counter-increment: table,
  )
);

$Table--WithImages: (
  _name: "TableWithImages",
  _subselector: '.has-images',
  _properties: (
    table-layout: fixed,
  )
);

$Caption: (
  _name: "Caption",
  _subselector: ' caption',
  _properties: (
    margin-top: 0.5rem,
    font-size: 1.3rem,
    text-align: left,
    caption-side: bottom,
  )
);


$Caption__Superscript: (
  _name: "CaptionSuperscript",
  _subselector: ' sup',
  _properties: (
    top: auto,
    line-height: inherit,
  )
);

$Caption__Title: (
  _name: "CaptionTitle",
  _subselector: ' > .title',
  _properties: (
    display: block,
    font-size: 1.8rem,
    font-weight: bold,
  )
);

$Caption__Title__Before: (
  _name: "CaptionTitleBefore",
  _subselector: ' ::before',
  _properties: (
    margin-right: 0.5rem,
    color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    content: '"Table " counter(table) "."',
  )
);

$Table__Head: empty_wrapper(TableHead, ' thead');
$Table__Body: empty_wrapper(TableBody, ' tbody');
$Table__Foot: empty_wrapper(TableFoot, ' tfoot');
$Table__Row: empty_wrapper(TableRow, ' > tr');

$Table__Head__Cell: (
  _name: "TableHeadCell",
  _subselector: ' > th',
  _properties: (
    border-width: 0.2rem,
    border-style: solid,
    border-color: enum('ValueSet:::REQUIRED'),
    font-weight: bold,
    text-align: left,
    vertical-align: bottom,
    padding: '0.5em 1em',
  )
);

$Table__Data: (
  _name: "TableData",
  _subselector: ' > td',
  _properties: (
    border-width: 0.1rem,
    border-style: solid,
    border-color: enum('ValueSet:::REQUIRED'),
    padding: '0.5em 1em',
    vertical-align: middle,
  )
);

$Table__Cell--Centered: (
  _name: "TableCellCentered",
  _subselector: '[data-align="center"]',
  _properties: (
    text-align: center,
  )
);

$Table__Cell--TopAligned: (
  _name: "TableCellTopAligned",
  _subselector: '[data-valign="top"]',
  _properties: (
    vertical-align: top,
  )
);

$Table__Cell--RightAligned: (
    _name: "TableCellRightAligned",
    _subselector: "[data-align="right"]",
    _properties: (
      text-align: right,
    )    
);

$Table__MultipleBody: (
  _name: "TableMultipleBody",
  _subselector: ' + tbody',
  _properties: (
    border-width: 0.2rem,
    border-style: solid,
    border-color: enum('ValueSet:::REQUIRED'),
  )
);

$Table__NestedTable: (
  _name: "TableNestedTable",
  _subselector: ' table',
  _properties: (
    background-color: enum('ValueSet:::REQUIRED'),
  )
);
