//Empty Containers
$MainContent__Container: empty_wrapper(MainContentContainer, '');
$Eoc__Container: empty_wrapper(EocContainer, ' .os-eoc');
$Eob__Container: empty_wrapper(EobContainer, ' .os-eob');

// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    margin: '1.5rem 0 1rem 0',
    font-weight: 'bold',
  )
);

// H2 headers
$H2: (
  _name:"H2Title",
  _subselector: ' > h2',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-size: 3.2rem,
    margin: '1.5rem 0 1rem 0',
    font-weight: bold,
  )
);

// H2--Numbered was split into H2--Numbered1 and H2--Numbered2, because of two different selectors as _subselector
$H2--Numbered1: (
  _name:"H2Numbered1",
  _subselector: ' h2[data-type="document-title"]',
  _properties: (
    font-size: 2.1rem,
    font-weight: bold,
  )
);

$H2--Numbered2: (
  _name:"H2Numbered2",
  _subselector: ' h2.os-title',
  _properties: (
    font-size: 2.1rem,
    font-weight: bold,
  )
);

$H2--Numbered__Number: (
  _name:"TitleNumber",
  _subselector: ' .os-number',
  _properties: (
    font-weight: bold,
    text-decoration: none,
  )
);

// H3 headers
$H3: (
  _name:"H3Title",
  _subselector: ' > h3',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-size: 2.4rem,
    margin: '1.5rem 0 1rem 0',
    font-weight: bold,
  )
);

// H4 headers
$H4: (
  _name:"H4Title",
  _subselector: ' > h4',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-size: 1.8rem,
    margin: '1.5rem 0 1rem 0',
    font-weight: bold,
  )
);

// H5 headers
$H5: (
  _name:"H3Title",
  _subselector: ' > h5',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-size: 1.8rem,
    margin: '1.5rem 0 1rem 0',
    font-weight: bold,
  )
);

// H6 headers
$H6: (
  _name:"H3Title",
  _subselector: ' > h6',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-size: 1.8rem,
    margin: '1.5rem 0 1rem 0',
    font-weight: bold,
  )
);

// Paragraphs
$Paragraph: (
  _name:"Paragraph",
  _subselector: ' p',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    margin: '1rem 0 0',
  ),
);

// Paragraph--Title was split into Paragraph--Title1 and Paragraph--Title2, because of two different selectors as _subselector
$Paragraph--Title1: (
  _name:"ParagraphTitle1",
  _subselector: ' > [data-type="title"]',
  _properties: (
    display: block,
    font-weight: bold,
  ),
);

$Paragraph--Title2: (
  _name:"ParagraphTitle2",
  _subselector: ' > .title',
  _properties: (
    display: block,
    font-weight: bold,
  ),
);
