//POSSIBLE BREAKDOWN: "raw" settings used with _ref to call globally used settings?
//Define all hex values first, then create a map referencing the values belwo
//TODO rename those colors variables to something a tad more descriptive

@include add_settings ((
  scheme: (
    Y1:    #ECCF48,
    Y2:    #F3BE57,
    O1:    #E27C4E,
    R1:    #B32B2F,
    R2:    #A11F67,
    BR1:   #A5633B,
    B1:    #57BCD8,
    B2:    #3172B6,
    B3:    #388097,
    G1:    #99CDBF,
    G2:    #6EBB9E,
    G3:    #84AE52,
    G4:    #9C9D4A,
    G5:    #479177,
    Grey1: #EEEAE1,
    bodyFontColor: #333333,
  ),
  //uses the color scheme above. This is used to define all colors in one location where the values can be reassigned easily for each new template. Maybe find a way to make this file reusable?
  //usage in settings file:
  //color: (_ref: "colorMap:::h1TitleColor")
  colorMap: (
    fontBodyColor: (_ref: "scheme:::bodyFontColor"),
    tocbg: (_ref: "scheme:::Grey1"),
    tocTitleBGColor: (_ref: "scheme:::B1"),
    tocTitleColor: (_ref: "scheme:::B2"),
    h1TitleColor: (_ref: "scheme:::O1"),
    h2TitleColor: (_ref: "scheme:::Y2"),
    h3TitleColor: (_ref: "scheme:::Y1"),
  )
));
