// @import "compass/typography" or some other vertical rhythm functions

//usage in settings file: font-family: (_ref: 'typography:::sansFont'),

@include add_settings((
  typography: (
    sansFont: "IBM Plex Sans",
    sansFontLight: "IBM Plex Sans Light",
    sansFontMedium: "IBM Plex Sans Medium",
    baseFont: "IBM Plex Sans Regular",
    serifFont: "Muli Black",
    baseLineHeight: 9.5pt,
    baseFontSize: 9.5pt,
  )
));



