$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #0074BC;
$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

//Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'ChapterOutlineTitle:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'Paragraph:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListItem:::font-family': (_ref: 'typography:::sansFont'),
    'ListDot:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::anthopologyAccentColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H4Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

// Boxed Notes
@include add_settings((
  EthnographicSketches: (
    _selectors: ('.ethnographic-sketches'),
    group-border-color: (_ref: 'colorMap:::ethnographicSketchesColor'),
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-sketch.svg")) no-repeat top left,
    'Subtitle:::font-weight': 500,
  ),
  FieldworkActivity: (
    _selectors: ('.fieldwork-activity'),
    group-border-color: (_ref: 'colorMap:::fieldworkActivityColor'),
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-pithhelmet.svg")) no-repeat top left,
    'Subtitle:::font-weight': 500,
  ),
  ProfilesAnthropology: (
    _selectors: ('.profiles-anthropology'),
    group-border-color: (_ref: 'colorMap:::anthropologyProfileColor'),
    'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-profile.svg")) no-repeat top left,
    'Subtitle:::font-weight': 500,
  ),
));

@include add_settings((
  MediaVideo: (
    _selectors: ('.media-video'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Body:::border-bottom-color': (_ref: 'colorMap:::mediaVideoColor'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-media.svg")) no-repeat top left,
  ),
  MediaPodcast: (
    _selectors: ('.media-podcast'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Body:::border-bottom-color': (_ref: 'colorMap:::mediaPodcastColor'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-podcast.svg")) no-repeat top left,
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-section-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  CriticalThinking: (
    _selectors: ('[data-type = "chapter"] > .os-critical-thinking-container'),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  References: (
    _selectors: ('.os-references-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('TOC', 'carnival:::NoUnitToc');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Blockquote', "carnival:::BlockquoteShape");

//Chapter Intro
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');

// Lists
@include use('PageLists', 'carnival:::PageListsShape');

//Tables
@include use('BasicTable', 'carnival:::BasicTableShape');

// Figure
@include use('Figure','carnival:::FigureShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');

// Notes
@include use('EthnographicSketches', 'carnival:::IconNoteShape');
@include use('FieldworkActivity', 'carnival:::IconNoteShape');
@include use('ProfilesAnthropology', 'carnival:::IconNoteShape');
@include use('MediaVideo', 'carnival:::IconCondensedShape');
@include use('MediaPodcast', 'carnival:::IconCondensedShape');

// Eoc
@include use('KeyTerm', 'carnival:::EocKeyTerm');
@include use('EocSummary', 'carnival:::EocSummary'); // Can be removed after lists clean up in carnival theme
@include use('CriticalThinking', 'carnival:::EOCAssesmentsShape');
@include use('References', 'carnival:::ModuleWithIndentationShape');

// EOB
@include use('Index', 'carnival:::IndexShape');
