$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #00819A;
$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

//Settings

// @include add_settings((
//     TOC: (
//     _selectors: ('nav#toc'),
//     'TocTitleWord:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
//     'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::chemistryHeaderColor'),
//     'TocChapterNumber:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
//     ),
// ));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'Paragraph:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListItem:::font-family': (_ref: 'typography:::sansFont'),
    'ListDot:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

// Titles

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::anthopologyAccentColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H4Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
    'H3Title:::color': (_ref: 'colorMap:::anthopologyAccentColor'),
  ),
));

@include add_settings((
  References: (
    _selectors: ('.os-references-container'),
  ),
));

// Condensed icon note

// commented out to keep tags intact for later
// Boxed Notes
// @include add_settings((
//   EthnographicSketches: (
//     _selectors: ('.ethnographic-sketches'),
//     'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
//     'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
//     'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
//     'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
//     'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
//     'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
//     'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
//     'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
//   ),
//   FieldworkActivity: (
//     _selectors: ('.fieldwork-activity'),
//     'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
//     'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
//     'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
//     'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
//     'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
//     'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
//     'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
//     'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
//   ),
//   ProfilesAnthropology: (
//     _selectors: ('.profiles-anthropology'),
//     'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
//     'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
//     'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
//     'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
//     'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
//     'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
//     'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
//     'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
//   ),
// ));

// EOC exercises
// @include add_settings((
//   CriticalThinking: (
//     _selectors: ('.os-eoc.os-critical-thinking-container'),
//     'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
//   ),
// ));

@include add_settings((
  FullWidthChapterIntro: (
    'SplashFigureBg:::background-color': (_ref: 'colorMap:::chapterOutlineColor'),
    'OutlineFullWidth:::border-bottom-color': (_ref: 'colorMap:::chapterOutlineColor'),
    'OutlineFullWidthTitle:::color': (_ref: 'colorMap:::chapterOutlineColor'),
  )
));

@include use('BookRoot', "common:::BookRoot");
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
// @include use('Link', 'cosmos:::LinkShape');
@include use('TOC', 'carnival:::NoUnitToc');
// @include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');


//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');

// Lists
// @include use('PageLists', 'cosmos:::PageListsShape');
// @include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');

//Tables
@include use('BasicTable', 'carnival:::BasicTableShape');

// Figure
@include use('Figure','carnival:::FigureShape');

// EOC
@include use('References', 'carnival:::ModuleWithIndentationShape');

// Notes
// @include use('EthnographicSketches', 'cosmos:::BoxedNoteWithSubtitleShape');
// @include use('FieldworkActivity', 'cosmos:::BoxedNoteWithSubtitleShape');
// @include use('ProfilesAnthropology', 'cosmos:::BoxedNoteWithSubtitleShape');
// @include use('MediaVideo', 'cosmos:::CondensedIconNoteShape');
// @include use('MediaPodcast', 'cosmos:::CondensedIconNoteShape');

//Exercises
// @include use('CriticalThinking', 'cosmos:::ExercisesModuleShape');

//EoB
// @include use('Index', 'cosmos:::IndexShape');

// Eoc
// @include use('References', 'cosmos:::ModuleWithIndentationShape');
// @include use('FurtherResearch', 'cosmos:::ModuleWithIndentationShape');
// @include use('KeyTerms', 'cosmos:::KeyTermsShape');

