@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        Outline: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleFont"),
            //color is book specific set in book.scss file 
        ),
        OutlineObjectiveLink: (
            color: (_ref: "colorMap:::chapterIntrolLinkColor"),
            border-left-color: (_ref: "colorMap:::chapterOutlineBarColor"),
        ),
        ChapterOutlineObjectiveText: (
            color: black,
        ),
        SplashImgMediaBar: (
            //background-color is book specific set in book.scss file 
            //border-top-color is book specific set in book.scss file 
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::titleFont'),
            //color is book specific set in book.scss file 
        ),
        CaptionContainer:(
            line-height: 1rem,
        ),    
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    )
));


@include add_settings((
    ChapterIntroWithLO: (
        _selectors: (".introduction"),
        Outline: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        OutlineTitle: (
            font-family: (_ref: "typography:::titleFont"),
            //color is book specific set in book.scss file 
        ),
        OutlineObjectiveLinkWithLO: (
            color: (_ref: "colorMap:::chapterIntrolLinkWithLOColor"),
        ),
        ChapterOutlineObjectiveTextWithLO: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        OutlineObjectiveLOButton: (
            //background (the LO button image) is book specific set in book.scss file
        ),
        SplashImgMediaBar: (
            //background-color is book specific set in book.scss file 
            //border-top-color is book specific set in book.scss file 
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::titleFont'),
            //color is book specific set in book.scss file 
        ),    
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    )
))
