@include add_settings((
    Example:(
        _selectors: ('[data-type="example"]'),
        Title: (
            font-family: (_ref: 'typography:::titleFontAstronomy'),
            color: (_ref: 'colorMap:::exampleTitleColor'),
            background-color: (_ref: 'colorMap:::exampleTitleBackgroundColor'),
        ),
        Body: (
            background-color: (_ref: 'colorMap:::exampleBodyBackgroundColor'),
        ),
        Subtitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
        NoteTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
    ),
));