@include add_settings((
    Example:(
        _selectors: ('[data-type="example"]'),
        ExampleTitle: (
            font-family: (_ref: 'typography:::titleFontAstronomy'),
            color: (_ref: 'colorMap:::exampleTitleColor'),
            background-color: (_ref: 'colorMap:::exampleTitleBackgroundColor'),
        ),
        ExampleBody: (
            background-color: (_ref: 'colorMap:::exampleBodyBackgroundColor'),
        ),
        ExampleSubtitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
        ExampleSubtitleFromNote: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::exampleSubtitleColor'),
        ),
    ),
));
