@include add_settings((
    AssessmentQuestions: (
        _selectors: ('.os-eoc.os-assessment-questions-container'),
        ProblemSolutionNumber: (
            color: (_ref: "colorMap:::fontBodyColor"),
        ),
    ),
));