@include add_settings((
    AssessmentQuestions: (
        _selectors: ('.os-eoc.os-assessment-questions-container'),
        ProblemSolutionNumber: (
            color: (_ref: "colorMap:::fontBodyColor"),
        ),
    ),
));

@include add_settings((
    ManagementSkillsApplicationExercises: (
        _selectors: ('.os-eoc.os-manage-skills-container'),
        ProblemSolutionNumber: (
            color: (_ref: "colorMap:::fontBodyColor"),
        ),
    ),
));

@include add_settings((
    ManagerialDecisionExercises: (
        _selectors: ('.os-eoc.os-manage-exercises-container'),
        ProblemSolutionNumber: (
            color: (_ref: "colorMap:::fontBodyColor"),
        ),
    ),
));
