@include add_settings((
    Figure:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionContainer:(
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionTitle:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
));