@include add_settings((
    Figure:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionTitle:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    FigureFromExercisesProblem:(
      _selectors: ('[data-type="problem"]'),
    ),
    FigureFromExercisesSolution:(
      _selectors: ('[data-type="solution"]'),
    ),
    FigureFromInjectedQuestion:(
      _selectors: ('[data-type="exercise-question"]'),
    ),
    FigureFromInjectedSolution:(
      _selectors: ('[data-type="question-solution"]'),
    ),
    FigureAfterSubtitle: (
      _selectors: ("h4.os-subtitle + .os-figure:not(.has-splash)"),
    ),
));
