@include add_settings ((
    Footnote: (
        _selectors: ('aside[role="doc-footnote"]'),
        Container: (
            color: (_ref: 'colorMap:::footnoteColor'),
            line-height: 1rem,
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
        Border: (
            border-top-color: (_ref: 'colorMap:::fontBodyColor'),
            border-top-width: 1px,
            width: h-spacing(11),
            padding-bottom: v-spacing(1),
        ),
        Title: (
            display: none,
        ),
        List: (
            list-style: none,
            margin: 0,
            padding: 0,
        ),
        Link: (
            text-decoration: none,
            color: inherit,
        ),
        FootnoteCall: (
            content: none,
        ),
        FootnoteMarker: (
            content: none,
        ),
    ),
    FootnoteCall: (
        _selectors: ('a[role="doc-noteref"]'),
        DefaultFootnoteCall: (
            font-family: (_ref: 'typography:::baseFont'),
            text-decoration: none,
        ),
    ),
));
