@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        H1Title: (
            color: (_ref: 'colorMap:::titleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            column-span: all,
        ),
        Group: (
            font-family: (_ref: 'typography:::baseFont'),
        ),
        GroupLabel: (
            color: (_ref: 'colorMap:::indexGroupLabelColor'),
        ),
        PageNumber: (
            content: target-counter(attr(href, url), page),
        ),
    ),
));