@include add_settings((
    LearningObjectives:(
        _selectors: ('[data-type="page"] .learning-objectives'),
        H3LearningObjectivesTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::titleColor'),
            font-weight: 700,
        ),
    ),
    NumberedLearningObjectives:(
        _selectors: ('[data-type="page"] .learning-objectives'),
        H3LearningObjectivesTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::titleColor'),
            font-weight: 700,
        ),
        Token:(
            color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
        )
    ),
    LearningObjectivesNumberedWithLO:(
        _selectors: ('[data-type="page"] .learning-objectives'),
        H3LearningObjectivesTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::titleColor'),
            font-weight: 700,
        ),
        TokenWithLO:(
            color: (_ref: 'colorMap:::titleColor'),
        )
    )
));
