@include add_settings((
  LOLink: (
    _selectors: (".lo-reference"),
    LOLinkMarker: (
      background: url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-lo.svg")) no-repeat bottom left,
    ),
  )
));
