@include add_settings((
    PageLists: (
        _selectors: ('[data-type="page"]'),
    ),
));

@include add_settings((
    CompositePageLists: (
        _selectors: ('[data-type="composite-page"]'),
    ),
));

@include add_settings((
    ExercisesProblemQuestionLists: (
        _selectors: ('[data-type="problem"]', '[data-type="exercise-question"]'),
    ),
));

@include add_settings((
    ExercisesSolutionLists: (
        _selectors: ('[data-type="solution"]'),
    ),
));

@include add_settings((
    NotesLists: (
        _selectors: ('[data-type="note"]'),
    ),
));

@include add_settings((
    StepwiseLists: (
        _selectors: ('.os-stepwise'),
    )
));

@include add_settings((
    ListsFromStimulus: (
        _selectors: ('[data-type="exercise-stimulus"]'),
    ),
));

@each $key in (
    PageLists,
    CompositePageLists,
    ExercisesProblemQuestionLists,
    ExercisesSolutionLists,
    NotesLists,
    StepwiseLists,
) {
    @include add_settings((
      $key: (
        FirstLevelOrderedList: (
            margin-left: h-spacing(3),
        ),
        FirstLevelUnorderedList: (
            margin-left: h-spacing(3),
        ),
      )
    ))
}
