@include add_settings((
    SectionSummary: (
        _selectors: ('.os-section-summary-container'),
    ),
    GroupActivities: ( //Astronomy
      _selectors: (".os-group-activities-container"),
    ),
    ModuleWithMarginBottom: (
      _selectors: ('.os-eoc[data-type="composite-page"]'),
      ModuleContainerWithMarginBottom: (
        margin-bottom: v-spacing(1),
      ),
    ),
));
