@include add_settings((
    LearningObjectives:(
        _selectors: ('[data-type="page"]:not(.introduction):not(.unit-opener) .learning-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        FirstLevelOrderedList: (
            margin-left: h-spacing(3),
        ),
        FirstLevelUnorderedList: (
            margin-left: h-spacing(3),
        ),
    ),
    LearningObjectivesWithCustomBulletIcon: (
        _selectors: ('[data-type="page"] .learning-objectives'),
    ),
    LearningObjectivesNumberedWithLOIcon:(
        _selectors: ('[data-type="page"] .learning-objectives'),
        H3ObjectivesTitle: (
            font-family: (_ref: 'typography:::sansFont'),
            color: (_ref: 'colorMap:::titleColor'),
        ),
        ObjectivesNumberToken:(
            color: (_ref: 'colorMap:::titleColor'),
            margin-right: 4px,
        )
    )
));

// Chapter Outline

@include add_settings((
    ChapterOutline: (
        _selectors: (".os-chapter-outline"),
        ChapterOutlineContainer: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        H3ChapterOutlineTitle: (
            font-family: (_ref: "typography:::titleFont"),
            //color is book specific set in book.scss file
        ),
        ChapterObjectiveLink: (
            color: (_ref: "colorMap:::chapterIntrolLinkColor"),
            border-left-color: (_ref: "colorMap:::chapterOutlineBarColor"),
        ),
        ChapterObjectiveText: (
            color: black,
        ),
    )
));

@include add_settings((
    ChapterOutlineWithLO: (
        _selectors: (".os-chapter-outline"),
        ChapterOutlineContainer: (
            font-family: (_ref: "typography:::baseFont"),
        ),
        H3ChapterOutlineTitle: (
            font-family: (_ref: "typography:::titleFont"),
            //color is book specific set in book.scss file
        ),
        ChapterObjectiveLOButton: (
            //background (the LO button image) is book specific set in book.scss file
        ),
        ChapterObjectiveLinkWithLO: (
            color: (_ref: "colorMap:::chapterIntrolLinkWithLOColor"),
        ),
        ChapterObjectiveTextWithLO: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    )
));
