@include add_settings((
    ReferencesWithNumberedNotes: (
        _selectors: ('.os-eob.os-reference-container'),
    ),
    ReferencesWithLinkedNotes: (
        _selectors: ('.os-eoc.os-references-container'),
    ),
    ReferencesFromAppendix: (
        _selectors: ('.appendix'),
    ),
    ReferencesWithAside: (
        _selectors: ('.os-eoc.os-references-container'),
    ),
));


@include add_settings((
    ReferencesCiteLink: (
        _selectors: ('a[data-type="cite"]'),
    ),
));
