@include add_settings((
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTopTitleColor"),
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCellFirstRow: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::tableFirstHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
        ),
        FirstTableHeadCellFirstRow: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCellFirstRow: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellFirstRowOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::tableFirstHeaderBgColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-width: 0.08rem, //1px converted to rem
        ),
        FirstRowTableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableCellBorderColor"),
        ), 
        TableDataMiddleHeaderCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableDataMiddleHeaderCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableDataMiddleHeaderCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataMiddleHeaderCellOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    DefaultTable: (
        _selectors: (".os-table:not(.os-text-heavy-top-titled-container):not(.os-unstyled-container):not(.os-text-heavy-container)"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTopTitleColor"),
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCellFirstRow: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::tableFirstHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCellFirstRow: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCellFirstRow: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellFirstRowOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::tableFirstHeaderBgColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableHeadCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableHeadCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableHeadCellOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-width: 0.08rem, //1px converted to rem
        ), 
        FirstRowTableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-bottom-color: (_ref: "colorMap:::tableCellBorderColor"),
        ), 
        TableDataMiddleHeaderCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        FirstTableDataMiddleHeaderCell: (
            border-right-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        LastTableDataMiddleHeaderCell: (
            border-left-color: (_ref: "colorMap:::tableCellBorderColor"),
        ),
        TableDataMiddleHeaderCellOnlyChild: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableHeaderColor"),
            background-color: (_ref: "colorMap:::tableHeaderBgColor"),
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    TextHeavyWithTitleTable: (
        _selectors: (".os-table.os-text-heavy-top-titled-container"),
        TableTitle: (
            color: (_ref: "colorMap:::tableTopTitleColor"),
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeaderRowWithBottomBorder: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::textheavyTableHeaderBgColor"),
        ),
        TableHeadCellWithBottomBorder: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::textheavyTableHeaderBgColor"),
            border-bottom-color: (_ref: "colorMap:::textheavyTableHeaderBottomBorderColor"),
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
        ), 
        TableDataMiddleHeaderCell: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableFirstHeaderColor"),
            background-color: (_ref: "colorMap:::textheavyTableHeaderBgColor"),
            border-left-color: transparent,
            border-right-color: transparent,
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        CaptionTitleLabel: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
        ),
        CaptionNumber: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionNumberColor"),
            margin-right: h-spacing(1),
        ),
        CaptionTitle: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
        CaptionText:(
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::captionTextColor"),
        ),
    ),
    UnstyledTable: (
        _selectors: (".os-table.os-unstyled-container"),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            color: (_ref: "colorMap:::tableCellColor"),
            border-style: solid,
            border-color: (_ref: "colorMap:::tableCellBorderColor"),
            border-width: 0.08rem, //1px converted to rem 
        ),
    ),
));