@include add_settings((
    Toc: (
        _selectors: ('nav#toc'),
        ContentsTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        ContentsTitleIcon: (
            background: url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-toc2.svg")) no-repeat top left,
        ),
        TopLevelLink: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::tocLinkColor'),
        ),
        Number: (
            border-color: (_ref: 'colorMap:::tocNumberBorderColor'),
        ),
        ChapterOddItem: (
            background-color: (_ref: 'colorMap:::tocBackgroundColor'),
        ),
        MiddleLevelList: (
            border-left-color: (_ref: 'colorMap:::tocModuleBorderColor'),
        ),
        MiddleLevelLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        )
    ),
    TocUnit: (
        _selectors: ('nav#toc'),
        TocUnitLink: (
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(4),
            line-height: line-height(3),
            font-weight: bolder,
            color: (_ref: 'colorMap:::tocUnitColor'),
            border-bottom: "0.1rem solid black",
        ),
        ContentsTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        ContentsTitleIcon: (
            background: url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-toc2.svg")) no-repeat top left,
        ),
        TopLevelLink: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::tocLinkColor'),
        ),
        Number: (
            border-color: (_ref: 'colorMap:::tocNumberBorderColor'),
        ),
        ChapterOddItem: (
            background-color: (_ref: 'colorMap:::tocBackgroundColor'),
        ),
        MiddleLevelList: (
            border-left-color: (_ref: 'colorMap:::tocModuleBorderColor'),
        ),
        MiddleLevelLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        UnitIcon: (
            background: url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-unit.svg")) no-repeat top left,
        ),
        UnitTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        )
    )
)); 