@include add_settings((
    Toc: (
        _selectors: ('nav#toc'),
        ContentsTitle: (
            font-family: (_ref: 'typography:::titleFont'),
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
        ContentsTitleIcon: (
            background: url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-toc2.svg")) no-repeat top left,
        ),
        TopLevelLink: (
            font-family: (_ref: 'typography:::baseFont'),
            color: (_ref: 'colorMap:::tocLinkColor'),
        ),
        Number: (
            border-color: (_ref: 'colorMap:::tocNumberBorderColor'),
        ),
        ChapterOddItem: (
            background-color: (_ref: 'colorMap:::tocBackgroundColor'),
        ),
        MiddleLevelList: (
            border-left-color: (_ref: 'colorMap:::tocModuleBorderColor'),
        ),
        MiddleLevelLink: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        )
    )
)); 