@include add_settings((
  UnitOpener: (
    _selectors: ('[data-type="unit"]'),
    UnitTitlePartText: (
        color: (_ref: 'colorMap:::noteOption4HeaderColor'),
        font-family: (_ref: 'typography:::titleFont'),
    ),
    UnitTitleNumber: (
        color: (_ref: 'colorMap:::noteOption4HeaderColor'),
        font-family: (_ref: 'typography:::titleFont'),
    ),
    UnitTitleText: (
        color: (_ref: 'colorMap:::noteOption4HeaderColor'),
        font-family: (_ref: 'typography:::titleFont'),
    ),
    UnitPage: (
        color: (_ref: 'colorMap:::noteOption4TitleTopBorderColor'),
        font-family: (_ref: 'typography:::baseFont'),
        background-color: (_ref: 'colorMap:::noteOption4BorderColor'),
    ),
    UnitPageBg: (
        background-color: (_ref: 'colorMap:::noteOption4BodyBackgroundColor'),
    ),
  )
));

// Settings for hide unit opener page title prefix
@include add_settings((
  UnitOpenerPageTitle: (
    _selectors: ('.unit-opener > h2 > .os-part-text, .unit-opener > h2 > .os-number')
  )
));
