@include add_settings((
  UnitOpener: (
    _selectors: ('[data-type="unit"]'),
    UnitOpenerPage: (
        color: (_ref: 'colorMap:::fontBodyColor'),
        font-family: (_ref: 'typography:::baseFont'),
        background-color: (_ref: 'colorMap:::unitOpenerBackgroundLightColor'),
    ),
    UnitOpenerPageBg: (
        background-color: (_ref: 'colorMap:::unitOpenerBackgroundColor'),
    ),
  )
));
