// Boxed notes
$Notes--Boxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Notes--Boxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        font-weight: normal,
        background-color: enum('ValueSet:::REQUIRED'),
        border-radius: '0.25rem 0.25rem 0rem 0rem',
        padding: v-spacing(1),
    )
);

$Notes--Boxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
    )
);

$Notes--Boxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: normal,
        margin-bottom: v-spacing(1),
    )
);

//Icon Boxed Notes
$Notes--IconBoxed__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Notes--IconBoxed__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        font-weight: normal,
        background-color: enum('ValueSet:::REQUIRED'),
        border-radius: '0.25rem 0.25rem 0rem 0rem',
        padding-left: v-spacing(1),
        padding-right: v-spacing(1),
        position: relative,
        padding-top: v-spacing(2),
        padding-bottom: v-spacing(2),
    )
);

$Notes--IconBoxed__Title__Icon: (
    _name: "TitleIcon",
    _subselector: '::after',
    _properties: (
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: enum('ValueSet:::REQUIRED'),
        width: enum('ValueSet:::REQUIRED'),
        content: "''",
        position: absolute,
        right: 0,
        bottom: enum('ValueSet:::REQUIRED'),
        margin-right: enum('ValueSet:::OPTIONAL'), // used only in Expanding Globe Note, Ethics In Practice, Concept Check in Intro Business
    )
);

$Notes--IconBoxed__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
    )
);

$Notes--IconBoxed__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > h4.os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: normal,
        margin-bottom: v-spacing(1),
    )
);

// Boxed With Borders notes
$Notes--BoxedWithBorders__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        box-decoration-break: slice,
    )
);

$Notes--BoxedWithBorders__Title: (
    _name: "Title",
    _subselector: ' > .os-title',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        text-transform: uppercase,
        font-weight: normal,
        background-color: enum('ValueSet:::REQUIRED'),
        border-radius: '0.25rem 0.25rem 0rem 0rem',
        padding: v-spacing(1),
        border-top-width: 0.33rem,
        border-top-style:solid,
        border-top-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'),
        border-left-width: 0.08rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'),
        box-decoration-break: slice,
    )
);

$Notes--BoxedWithBorders__Subtitle: (
    _name: "Subtitle",
    _subselector: ' > .os-subtitle',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: normal,
        margin-bottom: v-spacing(1),
    )
);

$Notes--BoxedWithBorders__Body: (
    _name: "Body",
    _subselector: ' > .os-note-body',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(1),
        border-width: 0.08rem,
        border-style: solid,
        border-color: enum('ValueSet:::REQUIRED'),
        box-decoration-break: slice,
    )
);
$Note__Exercise: empty_wrapper(Exercise, ' > [data-type="exercise"]');

$Note__Problem: empty_wrapper(Problem, ' > [data-type="problem"]');

$Note__Problem__Container: empty_wrapper(ProblemContainer, ' > .os-problem-container');

$Note__Solution__Container: empty_wrapper(SolutionContainer, ' > [data-type="solution"]');

$Note__ProblemSolution__TitleLabel: (
    _name: "ProblemSolutionTitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        font-weight: bold,
    )
);

$Note__ProblemSolution__TitleNumber: (
    _name: "ProblemSolutionTitleNumber",
    _subselector: ' > .os-number',
    _properties: (
        font-weight: bold,
    )
);

$Notes--Boxed__ProblemSolution__Title: (
    _name: "ProblemSolutionTitle",
    _subselector: ' > h4',
    _properties: (
        font-family: (_ref: "typography:::baseFont"),
        font-size: font-scale(1),
        font-weight: bold,
    )
);

$Notes--Boxed__Solution__TitleLabel: ( //used in BCA
    _name: "SolutionTitleLabel",
    _subselector: ' > .os-title-label',
    _properties: (
        font-weight: enum('ValueSet:::OPTIONAL')
    )
);

$Note__Exercise__UnorderedList: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(1),
        padding-left: h-spacing(2),
    )
);

// Icon Condensed
$Note--IconCondensed__Container: (
  _name: "IconCondensedContainer",
  _subselector: "",
  _properties: (
    margin-bottom: v-spacing(2),
    box-decoration-break: slice,
    display: table,
    width: 100%,
  )
);

$Note--IconCondensed__Body: (
  _name: "IconCondensedBody",
  _subselector: " > .os-note-body",
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
    font-weight: normal,
    font-style: italic,
    display: table-cell,
    vertical-align: top,
  )
);

$Note--IconCondensed__Icon: (
  _name: "IconCondensedIcon",
  _subselector: "::before",
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    height: 3rem,
    width: 3rem,
    background-size: contain,
    display: table-cell,
    content: "''",
    padding-right: h-spacing(1),
  )
);

