$PagesWithBands: (
  (pageName: eoc, firstSelector: 'os-eoc.os-summary-container', generalSelector: '.os-eoc'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/design.scss';
@import '../../designs/cardboard/pdf/folio';
@import '../../design-settings/cardboard//settings.scss';

//Settings

@include add_settings((
  Application: (
    _selectors: (".application"),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-check.svg")) no-repeat top right,
    'TitleIcon:::margin-right': v-spacing(1),
    'TitleIcon:::height': 5rem,
    'TitleIcon:::width': 11rem,
    'TitleIcon:::bottom':.2rem,
    'Title:::background-color': (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
    'Title:::color': (_ref: "colorMap:::noteOption5HeaderColor"),
    'Title:::font-family': (_ref: "typography:::titleFont"),
    'Body:::font-family': (_ref: "typography:::baseFont"),
    'Body:::background-color': (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
    'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
    'Subtitle:::font-family': (_ref: "typography:::titleFont"),
  ),
));

@include use('BookRoot', "common:::BookRoot");

//Notes
@include use('Application', 'cardboard:::IconBoxedNoteShape');

