/********************************************************************
 * This is a "flattened" version of the slots & skeletons for Astronomy.

 Book parts have been reorganized following the book structure (from top to bottom) for greater clarity.

 I kept the slot commented out in case they are needed to find a particular style.
 ********************************************************************/
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
//older imports (to be reworked eventually)
// @import '../../l10n/en.scss';
// @import '../../utils.scss';
// @import '../../ccap-base-slots.scss';
// @import '../../content-slots.scss';
// @import '../../ccap-base-skeleton.scss';
// @import '../../content-skeleton.scss';
// @import '../../includes/numbering.scss';
// @import '../../unnumbered-content.scss';
// @import '../../folio.scss';
// @import '../../includes/sub-sup-scripts.scss';
// @import '../../includes/theme-colors.scss';
// @import '../../page-slots.scss';
// @import '../../page-skeleton.scss';
//theme specific non-slots & skeleton includes
//mixins and variables

@import 'mixins/variables';
@import 'mixins/color-map';
@import 'mixins/mixins';

@import '../../framework/global.scss';
//book components
@import 'parts/toc.scss';
@import 'parts/preface.scss';
@import 'parts/chapter-title.scss';
@import 'parts/splash.scss';
@import 'parts/chapter-intro.scss';
@import 'parts/modules.scss';
@import 'parts/tables.scss';
@import 'parts/figures.scss';
@import 'parts/examples.scss';
@import 'parts/notes.scss';
@import 'parts/footnotes.scss';
@import 'parts/eoc.scss';
@import 'parts/appendices.scss';
@import 'parts/eob.scss';
@import 'parts/answer-key.scss';
@import 'parts/citations.scss';
@import 'parts/index.scss';



html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi;
}


@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}

.landscape {
  page: landscape;

  img {
    height: 5.2in;
    width: 9.4in;
  }
}
/* -------------------------
 * Global Styles
 * ------------------------
 */
.appendix:not(.toc-appendix) a[href],
.chapter.section a[href],
.preface:not(.toc-preface) a[href] {
  @include link-style($body-link-color);
}

.colophon a[href],
.index a[href] {
  @include link-no-border-style($body-link-color);
}

blockquote {
  color: inherit;
  font-size: inherit;
  @include line-height();

  &::after,
  &::before {
    display: none;
  }
}


p {
  @include line-height();
}
/* ---------------------------------------------------
 * Folio
 * ---------------------------------------------------
 */
//removes pipe from folio

div.book .chapter> div.titlepage > div > div h1.title {
  span.cnx-gentext-t {
    string-set: cnx-header "${cnx-string-chapter} " counter(chapter, decimal) " " content();
  }
}

.glossterm span {
  display: none;
}
//captions
span.colored-text {
  color: $colored-text-color;
}

.appendix.module a[href].target-section,
.chapter.cnx-eoc a[href].target-section,
.chapter.section.module a[href].target-section {
  background-image: url("ccap-astronomy/LO.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px auto;
  //padding-left: 25px; //override global link styles
  // scale-padding(4, padding-left);
  border-bottom: 0;
}

.appendix.module a.xref,
.chapter.section.module a.xref,
.cnx-eoc a.xref {
  prince-text-replace: "Section" " ";
}

div.toc li.toc-part {
  counter-increment: toc-part-num;

  a.target-part {
    //font-scale(0);
    font-weight: bold;
    color: $secondary-color;
    font-family: $font-family-titles;
    text-transform: uppercase;
    // scale-padding(4, margin-top);
    margin-top: 0;
    margin-bottom: 0;
    // scale-padding(7, margin-left);
    //scale-padding(7, padding-left);
    display: block;

    &::before {
      content: "Unit " counter(toc-part-num) ": ";
    }
  }
}

div.section.learning-outcomes {
  counter-reset: learning-outcome;

  div.titlepage {
    font-family: $font-family-titles;
    //font-scale(1);
    color: $LO-title-color;
    // scale-padding(0, margin-bottom);
    font-weight: bold;
  }

  div.orderedlist ol {
    list-style-type: none;
    // scale-padding(1, padding-left);
    // scale-padding(2, margin-left);

    li.listitem {
      counter-increment: learning-outcome;

      &::before {
        content: counter(learning-outcome) ". ";
        font-weight: bold;
        position: absolute;
        left: 20px;
        display: inline-block;
        line-height: 1.6em;
      }

      > p:first-child > span.bold:first-child {
        display: none;
      }
    }
  }
}



.listitem p {
  padding: 0;
  margin: 0;
}
/* ---------------------------------------------------
 * Remove folio on chapter splash
 * ---------------------------------------------------
 */
.chapter{
  page: chapter;
  prince-page-group: start;
}

@page chapter:nth(1) {
  @top-left-corner {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
