/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */
img {
  @include x-center-image();
}

.figure,
.preface .figure {
  //#content>#figure>.style();
  @include x-center-image();
  width: 100%;
  float: column-top; // size the surrounding container to the size of the image container to allow the
  // left justified alignment of the Figure numbering and associated caption
  // default width is (hero) full size @ 625px. Specifying no class or width defwidth: 100%;aults
  // to full size.
  // 3/4 size art
  //.scale-padding(3, margin-bottom);

  &.medium {
    //width: @figure-width-medium;
  }
  // 1/2 size art

  &.small {
    //width: @figure-width-small;
  }

  > .body {
    //#content>#figure>#body>.style(any; any);
    //.scale-padding(-4, padding-bottom);
  }

  > .title {
    // #content>#figure>#title>.number(); // "Figure x.x..."
    // color: black;
    // .font-scale(-1);
    @include caption-number-style(); // content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title);

    .cnx-gentext-figure {
      &::before {
        //.scale-padding(-3, margin-right);
      }
    }
    display: inline;
  }

  .caption {
    @include caption-style();
    display: inline;
  }
}
