.part > .titlepage {
  //hide chapter unit splash page
  display: none;
}
/* -------------------------
 * Chapter intro: splash image
 * -------------------------
 */
[data-type="chapter"] {
  > .introduction {
    position: relative; // chapter splash

    > .figure.splash {
      width: $FULL_BLEED_WIDTH;
      margin-left: 0;
      margin-top: -1.2in;

      &::before {
        background: $intro-folio-bg;
        background-size: 100% 122px;
        height: 122px;
        width: $FULL_BLEED_WIDTH;
        display: block;
        content: '';
        position: absolute;
        top: -4.7in;
        left: -1in;
        right: -1in;
      }

      div.caption {
        width: 6.5in;
      }

      div.mediaobject {
        width: $FULL_BLEED_WIDTH;
        border-left: none;
        height: 4.3in;
        position: relative;
        transform: translate3d(-1in, 0, 0);

        &::before {
          display: none;
        }

        &::after {
          width: 100%;
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 70px;
          background-color: $splash-bottom-bar-color;
          border-top: $splash-bottom-bar-border-top;
        }

        img {
          width: $FULL_BLEED_WIDTH;
          height: 3.58in;
        }
      }
    }
  }
}
