/* -------------------------
 * Business Table Styles
 * ------------------------
 */
[data-type="chapter"] .table {
  //override content-skeleton, can be removed if we remove content-skeleton
  page-break-inside: auto;
}

div.table {
  // First, reset div.table so it just goes away. Apply styling to the actual
  // table element.
  margin: 0 auto;
  padding: 0;
  border: none;

  table {
    //#content>#table>.style(any; any);
  //  #utils>#pb>.inside(auto);
    //.scale-padding(3, margin-bottom);
    //.scale-padding(1, padding-top);
    //.scale-padding(1, padding-bottom);
    width: 100%;
    border-collapse: separate;
    //.line-height();
    // If a table spans more than 1 page then put caption on all following pages
    prince-caption-page: all;
    //table head
    //
    thead {
      //#content>#table>#head>.style(any; any);
      border-top: none;
      font-family: $font-family;

      .footnote::footnote-call {
        //do not delete
        //TODO
        //#content>#table>#header>.footnote(any; any);
      }

      th {
        //#content>#table>#header>.style(any; any);
        border-bottom: none;
        //.scale-padding(-5, padding-top);
        //.scale-padding(-5, padding-bottom);
        //.scale-padding(-1, padding-left);
        //.scale-padding(-1, padding-right);
      //  .font-scale(0);
        vertical-align: initial;
        font-weight: 100;
      }

      th:not(:only-child) {
        //TODO verify which it is in new math
        //#content>#table>#header>.style(any; any);
      }

      > tr {
        //#content>#table>#header>#title>.style(any; any);
        border-left: 0;
        border-right: 0;

        .footnote::footnote-call {
          //do not delete
          // #content>#table>#header>#title>.footnote(any; any);
        }
      }

      tr:first-of-type th {
        //#content>#table>#header>#title>.text(any; any);
        @include table-header-style();
        //rounded corners
        &:first-child {
          border-top-left-radius: $border-radius;
        }

        &:last-child {
          border-top-right-radius: $border-radius;
        }
      }

      tr:not(first-child) {
        @include table-2d-header-style();
        border: 0;
      }
    }
    //tbody generic styles
    tbody {
      //#content>#table>#body>.style(any; any);
      border: $table-body-border-color;
      color: $table-head-color;

      &[valign=top] > tr > td {
        vertical-align: top;
      }

      tr {
        page-break-inside: avoid;
      }

      tr:last-child td {
        border-bottom: $table-body-border-color;
      }
    }
    //TDs
    td {
      //#content>#table>#data>.style(any; any);
      border-color: $td-border-color;
      font-family: $font-family;
    //  .font-scale(0);
      // padding: 5px 10px;
      //.scale-padding(-4, padding-top);
      //.scale-padding(-4, padding-bottom);
      //.scale-padding(-1, padding-right);
      //.scale-padding(-1, padding-left);
      border-top: $table-body-border-color;
      border-right: $table-body-border-color;
      border-left: none;

      &.text-align-right {
        text-align: right;
      }

      &.text-align-center {
        text-align: center;
      }

      &.text-align-justify {
        text-align: justify;
      }
      //style TD to display like headers
      &.header {
        //#content>#table>#data>.style('header'; any);
        @include table-header-style();
      //  .font-scale(0);
        text-align: center;
        vertical-align: initial;
      }

      img {
        height: auto;
        width: 100%;
        position: inherit;
      }
    }
    //caption
    caption {
      //#content>#table>#caption>.style(any; any);
      @include caption-style();

      &::before {
        @include caption-number-style();
      }
    }
  }
  //make sure to skip unstyled
  &:not(.unstyled) table tbody tr td:first-child {
    //#content>#table>#data>.style('first-column'; any);
    border-left: $table-body-border-color;
  }

  &:not(.unstyled) table tbody tr td:last-child {
    //#content>#table>#data>.style('last-column'; any);
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  //special tables
  // colored tables
  // Special colored table...
  &.color {
    th {
      //#content>#table>#header>.style(colored; any);
      text-align: center;
    }

    tr {
      //#content>#table>#row>.style(colored; any);
      height: 1em !important;
    }

    tr td:first-child {
      background-color: $colored-table-bg-color;
      width: 2.5in;
      font-weight: bold;
    }
  }
  //unstyled tables
  //no borders, left aligned, no color change
  &.unstyled table {
    //#content>#table>.style(unstyled; any);
    border: none;
    margin: 0;

    caption {
      //#content>#table>#caption>.style(unstyled; any);
    }

    tr {
      //#content>#table>#row>.style(unstyled; any);
      display: none;
    }

    td {
      //#content>#table>#data>.style(unstyled; any);
      text-align: left;
      border-left: none;
      border-right: none;
    }

    tbody {
      //TODO
      //#content>#table>#body>.style(unstyled; any);
    }
  }
  // side TD styled like a header
  //left column displays as a table head.
  &.column-header tbody td:first-child {
    //#content>#table>#data>.style('header'; any);
    color: $col-header-color;
  //  .font-scale(0);
    font-weight: bold;
    text-align: center;
    vertical-align: initial;
    background-color: $col-header-bg-color;
  }
  //text-heavy
  &.text-heavy {
    table {
      thead tr:first-of-type th {
        background: $text-heavy-bg-color;
        border-bottom: $text-heavy-border;
        text-align: left;
      }

      thead > tr:first-child {
        height: 40px;
        vertical-align: top;
        color: $text-heavy-color;
        font-weight: bold;
      }

      tbody {
        border: none;
      }

      tbody > tr > td.tablecell {
        // padding: 10px;
        //.scale-padding(-1, padding);
        border: none;
      }
    }
  }
  //unnumbered
  &.unnumbered table {
    thead tr:first-child {
      // #content>#table>#header>.style(any; unnumbered);
    }

    thead tr:first-of-type th {
      // #content>#table>#header>#title>.text(any; unnumbered);
    }

    caption {
      //#content>#table>#caption>.style(any; unnumbered);
    }
    //
  }
  //lists in tables
  ol.orderedlist,
  ul.itemizedlist {
    // #content>#list>.style(any; any; table);
    > .listitem > p {
      //#content>#paragraph>.style(any; any; list; table);
    }
  }
  //top-titled (fake titles)
  &.top-titled {
    table {
      thead {
        tr {
          &:first-of-type {
            th {
              @include table-white-header-style();
            }
          }

          &:nth-child(even):not(last-child) {
            th {
              @include table-header-style();

              &:first-child {
                border-top-left-radius: $border-radius;
              }

              &:last-child {
                border-top-right-radius: $border-radius;
              }
            }
          }
        }
      }
    }
  }

  &.text-heavy.top-titled {
    table {
      thead {
        tr {
          &:first-of-type {
            th {
              @include table-white-header-style();
              text-align: center;
              border-bottom: none !important; //text-heavy-border needs !important
            }
          }

          &:last-child {
            //TODO convert to variable in color-map
            border-bottom: 1px solid grey;

            th {
              @include table-white-header-style();
              border-bottom: $text-heavy-border;
            }
          }
        }
      }
    }
  }
}
/* -------------------------
 * Tables within Notes
 * ------------------------
 */
div.note {
  div.table table thead tr:first-of-type {
    th {
      white-space: nowrap;

      &:not(:last-child) {
        // padding: 4px 4px 4px 10px;
        //.scale-padding(-6, padding-top);
        //.scale-padding(-6, padding-right);
        //.scale-padding(-6, padding-bottom);
        //.scale-padding(-1, padding-left);
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
