@import 'answerkey-components';
@import 'exercises-components';

@include create_shape('cardboard:::AnswerKeyShape', (
    _components: (
        map-merge($AnswerKey__Container, (
            _components: (
                map-merge($AnswerKey__CompositePage, (
                    _components: (
                        $AnswerKey__SolutionWrapper,
                        map-merge($Exercise__Solution__Wrapper, (
                            _components: (
                                $Exercise__ProblemSolution__Number,
                                $Exercise__ProblemSolution__Divider,
                                map-merge($Exercise__Solution__Container, (
                                    _components: (
                                        $Exercise__ProblemSolution__Para,
                                    )
                                )),
                            )
                        )),
                        map-merge($InjectedExercise__Solution__Wrapper, (
                            _components: (
                                $Exercise__ProblemSolution__Number,
                                $Exercise__ProblemSolution__Divider,
                                map-merge($Exercise__Solution__Container, (
                                    _components: (
                                        $Exercise__ProblemSolution__Para,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
