$AnswerKey__Container: empty_wrapper(Container, '');

$AnswerKey__CompositePage: (
  _name: "CompositePage",
  _subselector: ' > [data-type="composite-page"]',
  _properties: (
    margin-bottom: v-spacing(2),
  ),
);

$AnswerKey__SolutionWrapper: (
  _name: 'AnswerKeySolutionWrapper',
  _subselector: ' > .os-solution-area',
  _properties: (
    margin-bottom: v-spacing(1),
  )
);
