$Appendix--Glossary__Container: (
  _name: "Container",
  _subselector: '',
  _properties: (
    column-count: 3,
    column-gap: h-spacing(4),
  )
);

$Appendix--Glossary__Group: (
  _name: "Group",
  _subselector: ' > section',
  _properties: (
    margin-bottom: column-v-spacing(1),
  )
);

$Appendix--Glossary__Group__UnorderedList: (
  _name: "UnorderedList",
  _subselector: " > ul",
  _properties: (
    font-size: font-scale(-1),
    list-style-type: none,
    margin-left: 0, // needs to be checked if it is needed when the computer-science content will avaialable 
  ),
);
