$Calculator__Button: (
    _name: "CalculatorButton",
    _subselector: "",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        background-color: enum('ValueSet:::OPTIONAL'),      // Not used in secondary
        font-size: font-scale(0),
        font-weight: normal,
    )
);