$ChapterIntro__Container: empty_wrapper(ChapterIntroContainer, '');

$ChapterSplash__Media: (
    _name: "ChapterSplashImgMedia",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        display: flex,
        width: fullBleedsSize(8.45, in),
        border-left: none,
        height: 4.3in,
        position: relative,
    ),
);

$ChapterSplash__Media__Bar: (
    _name: "ChapterSplashMediaBar",
    _subselector: '::after',
    _properties: (
        width: 100%,
        content: "''",
        display: block,
        position: absolute,
        bottom: 0,
        right: 0,
        height: 5.83rem,
        background-color: enum('ValueSet:::REQUIRED'),
        border-top-width: 0.25rem,
        border-top-style: solid,
        border-top-color: enum('ValueSet:::REQUIRED'),
        z-index: 1,
    ),
);

$ChapterSplash__Img: (
    _name: "ChapterSplashImg",
    _subselector: '> img',
    _properties: (
        width: fullBleedsSize(8.45, in),
        height: 3.58in,
        display: inline,
    )
);

$ChapterSplash__Figure: (
    _name: "ChapterSplashFigure",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        width: fullBleedsSize(8.45, in),
        transform: translate3d(-1in, 0, 0),
        margin-left: fullBleedsMargin(0, rem),
        margin-bottom: 0,
    ),
);

$ChapterSplash__Figure__Wrapper: (
    _name: "ChapterSplashFigureWrapper",
    _subselector: ' > .os-figure.has-splash',
    _properties: (
        margin-bottom: v-spacing(2),
        margin-top: -1.15in,
    ),
);
