$Eoc__Container: (
    _name: "Container",
    _subselector: "",
    _properties: (
        margin-bottom: v-spacing(2),
    ),
);

//Used in section Collaborative Group Activities from Astronomy
$ModuleWithTypeAList__List: (
    _name: "TypeAList",
    _subselector: ' > ol[type="A"]',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$ModuleWithTypeAList__ListItem: (
    _name: "TypeAListItem",
    _subselector: ' > li',
    _properties:(
        margin-bottom: v-spacing(1),
    )
);

$ModuleWithTypeAList__Marker: (
    _name: "TypeAListMarker",
    _subselector: '::marker',
    _properties:(
        font-weight: bold,
    )
);
