@import 'example-components';

@include create_shape('cardboard:::ExampleShape', (
    _components: (
        map-merge($Example__Container, (
            _components: (
                $Example__Title,
                map-merge($Example__Body, (
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                        $Example__Subtitle,
                        $Example__Subtitle--FromNote,
                    )
                )),
            )
        )),
    )
));
