$Example__Container: (
    _name: "Container",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
    )
);

$Example__Title: (
    _name: "Title",
    _subselector: ' > h3.os-title',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: bold,
        text-transform: uppercase,
        background-color: enum('ValueSet:::REQUIRED'),
        padding: v-spacing(2),
        border-radius: '0.25rem 0.25rem 0rem 0rem',
        letter-spacing: 0.25rem, //3px
    )
);

$Example__Body: (
    _name: "Body",
    _subselector: ' > .body',
    _properties: (
        padding: v-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Example__Subtitle: (
    _name: "Subtitle",
    _subselector: ' h4[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: bold,
    )
);


$Example__NoteTitle: (
    _name: "NoteTitle",
    _subselector: ' > [data-type="note"] > h3[data-type="title"]',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        font-weight: bold,
    )
);