@import 'exercises-components';

@include create_shape('cardboard:::ExercisesModuleShape',(
    _components: (
        map-merge($ExercisesModule__Container, (
            _components: (
                map-merge($Exercise__Container,(
                    _components:(
                        map-merge($Exercise__Problem__Wrapper,(
                            _components:(
                                $Exercise__ProblemSolution__Text,
                                $Exercise__ProblemSolution__Number,
                                $Exercise__ProblemSolution__Divider,
                                map-merge($Exercise__Problem__Container, (
                                    _components: (
                                        $Exercise__ProblemSolution__Para,
                                    )
                                ))
                            )
                        )),
                    )
                )),
                map_merge($InjectedExercise__Container, (
                    _components: (
                        map_merge($InjectedExercise__Question__Wrapper, (
                            _components:(
                                $Exercise__ProblemSolution__Text,
                                $Exercise__ProblemSolution__Number,
                                $Exercise__ProblemSolution__Divider,
                                map-merge($Exercise__Problem__Container, (
                                    _components: (
                                        $Exercise__ProblemSolution__Para,
                                    )
                                ))
                            )
                        ))
                    )
                )),
            )
        )),
    )
));
