//Containers
$Exercises__Container: empty_wrapper(ExercisesContainer, '');
$TopSpacing__Container: empty_wrapper(TopSpacingContainer, '');

//Figure
$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure__Container--FirstInOrderedList: empty_wrapper(FigureContainerFirstInOrderedList, ' > ol:not(.os-stepwise) > li > .os-figure:first-child');

$Figure:(
    _name: "Figure",
    _subselector: " > figure",
    _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
    )
);

$Figure--TopSpacing:(
    _name: "FigureTopSpacing",
    _subselector: " > figure",
    _properties: (
        margin-top: 1rem,
    )
);

//Image

$Image: (
    _name: "Image",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Image--FirstInList: (
    _name: "ImageFirstInOrderedList",
    _subselector: " img",
    _properties:(
        vertical-align: top,
        display: inline,
        padding-top: v-spacing(1),
    )
);

// Work only if book uses BakeFirstElement in cookbook
$Image--AfterSolutionTitle:(
    _name: "ImageAfterSolutionTitle",
    _subselector: ' h4[data-type="solution-title"] + .has-first-element > .first-element > img',
    _properties: (
        margin-top: 1rem,
    )
);

$Image--TopSpacing:(
    _name: "ImageTopSpacing",
    _subselector: " > img",
    _properties: (
        margin-top: 1rem,
    )
);

//Media

$Media--FirstInOrderedList: empty_wrapper(MediaFirstInOrderedList, ' > ol:not(.os-stepwise) > li > [data-type="media"]:first-child');
