//Containers
$Exercises__Container: empty_wrapper(ExercisesContainer, '');
$TopSpacing__Container: empty_wrapper(TopSpacingContainer, '');

//Figure
$Figure__Container: empty_wrapper(FigureContainer, '');

$Figure__Container--FirstInOrderedList: empty_wrapper(FigureContainerFirstInOrderedList, ' > ol:not(.os-stepwise) > li > .os-figure:first-child');

$Figure__Container--Splash: (
    _name: "FigureContainerSplash",
    _subselector: '',
    _properties: (
        margin-bottom: v-spacing(2),
        margin-top: -1.15in,
    ),
);

$Figure:(
    _name: "Figure",
    _subselector: " > figure",
    _properties:(
        display: table,
        margin-left: auto,
        margin-right: auto,
    )
);

$Figure--ScaledDown: (
  _name: "FigureScaledDown",
  _subselector: '.scaled-down',
  _properties: (
    width: 60%,
    margin: auto,
  )
);

$Figure--Splash: (
    _name: "FigureSplash",
    _subselector: ' > figure.splash',
    _properties: (
        position: relative,
        width: fullBleedsSize(8.45, in),
        transform: translate3d(-0.95in, 0, 0),
        margin-left: fullBleedsMargin(0, rem),
        margin-bottom: 0,
    ),
);

$Figure--TopSpacing:(
    _name: "FigureTopSpacing",
    _subselector: " > figure",
    _properties: (
        margin-top: 1rem,
    )
);

//Image

$Image: (
    _name: "Image",
    _subselector: " img",
    _properties:(
        max-width: 100%,
    )
);

$Image--Splash: (
    _name: "ImageSplash",
    _subselector: ' > img',
    _properties: (
        width: fullBleedsSize(8.45, in),
        height: 3.58in,
        display: inline,
    )
);

$Image--FirstInList: (
    _name: "ImageFirstInOrderedList",
    _subselector: " img",
    _properties:(
        vertical-align: top,
        display: inline,
        padding-top: v-spacing(1),
    )
);

$Image--TopSpacing:(
    _name: "ImageTopSpacing",
    _subselector: " > img",
    _properties: (
        margin-top: 1rem,
    )
);

//Media

$Media--FirstInOrderedList: empty_wrapper(MediaFirstInOrderedList, ' > ol:not(.os-stepwise) > li > [data-type="media"]:first-child');

$Media--Splash: (
    _name: "MediaSplash",
    _subselector: ' > span[data-type="media"]',
    _properties: (
        display: flex,
        width: fullBleedsSize(8.45, in),
        border-left: none,
        height: 4.3in,
        position: relative,
    ),
);

$Media--Splash__Bar: (
    _name: "MediaSplashBar",
    _subselector: '::after',
    _properties: (
        width: 100%,
        content: "''",
        display: block,
        position: absolute,
        bottom: 0,
        right: 0,
        height: 5.83rem,
        background-color: enum('ValueSet:::REQUIRED'),
        border-top-width: 0.25rem,
        border-top-style: solid,
        border-top-color: enum('ValueSet:::REQUIRED'),
        z-index: 1,
    ),
);
