@import '_figureimage-components';
@import '_caption-components';

@include create_shape('cardboard:::FigureShape',(
    _components: (
        map-merge($Figure__Container,(
            _components:(
                $Figure,
                map-merge($Caption__Container--Figure, (
                    _components: (
                        $Caption__Title--Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,                                        
                    )
                )),
            ),
        )),
    )
));
