$Code: (
    _name: "Code",
    _subselector: "",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        color: enum('ValueSet:::REQUIRED'),
        background: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(0),
    )
);

$Code__Snippet--Comment: (
    _name: "CodeComment",
    _subselector: " .hljs-comment",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$Code__Snippet--BuiltIn: (
    _name: "CodeBuiltIn",
    _subselector: " .hljs-built-in",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$Code__Snippet--Number: (
    _name: "CodeNumber",
    _subselector: " .hljs-number",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);

$Code__Snippet--Literal: (
    _name: "CodeLiteral",
    _subselector: " .hljs-literal",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
    )
);
