$Index__Container: (
  _name: "IndexContainer",
  _subselector: '',
  _properties: (
    column-count: 3,
    column-gap: h-spacing(4),
  )
);

$Index__Group: (
  _name: "IndexGroup",
  _subselector: ' > .group-by',
  _properties: (
    font-family: enum('ValueSet:::REQUIRED'),
    margin-bottom: column-v-spacing(1),
  )
);

$Index__Group__Label: (
  _name: "IndexGroupLabel",
  _subselector: ' > .group-label',
  _properties: (
    font-size: font-scale(2),
    line-height: line-height(2),
    font-weight: bold,
    color: enum('ValueSet:::REQUIRED'),
  )
);

$Index__Term__Container: empty_wrapper(IndexTermContainer, ' > .os-index-item');

$Index__Term__Text: (
  _name: "IndexTermText",
  _subselector: ' > .os-term',
  _properties: (
    padding-right: h-spacing(1),
  )
);

$Index__PageNumber: (
  _name: "IndexPageNumber",
  _subselector: ' > .os-term-section-link',
  _properties: (
    content: enum('ValueSet:::REQUIRED'),
  )
);
