$KeyTerms__Container: (
    _name: "KeyTermsContainer",
    _subselector: "",
    _properties: (
        margin-bottom: v-spacing(2),
        -prince-pdf-tag-type: L,
    ),
);

$KeyTerms__List:(
    _name: "KeyTermsList",
    _subselector: " > dl",
    _properties:(
        text-indent: h-spacing(-2),
        padding-left: h-spacing(2),
        -prince-pdf-tag-type: LI,
    ),
);

$KeyTerms__Term:(
    _name: "KeyTermsTerm",
    _subselector: " > dt ",
    _properties:(
        font-weight: bold,
        padding-right: h-spacing(1),
        display: inline,
        -prince-pdf-tag-type: Lbl,
    )
);

$KeyTerms__Definition:(
    _name: "KeyTermsDefinition",
    _subselector: " > dd ",
    _properties:(
        display: inline,
        margin-left: h-spacing(0),
        -prince-pdf-tag-type: LBody,
    )
);
