$LearningObjectives__Container: empty_wrapper(Container, '');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p',
  _properties: (
    margin: 0,
  )
);

$LearningObjectives--Numbered__Token: (
  _name: "Token",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: bold,
    margin-right: h-spacing(1),
    color: enum('ValueSet:::OPTIONAL'),
  )
);
