$LearningObjectives__Container: empty_wrapper(Container, '');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p:first-of-type',
  _properties: (
    margin: 0,
  )
);

$LearningObjectives__UnorderedList--WithoutBullet: (
    _name: "ListWithoutBullet",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: enum('ValueSet:::REQUIRED'),
        list-style: none,
    )
);

$LearningObjectives__ListItem--Flex: (
    _name: "ListItemForIcon",
    _subselector: ' > li',
    _properties:(
        display: flex,
    )
);

$LearningObjectives__CustomBulletIcon: (
    _name: "CustomBulletIcon",
    _subselector: '::before',
    _properties: (
        content: "''",
        display: inline-block,
        height: v-spacing(1),
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        padding-left: h-spacing(3),
        position: relative,
        top: 3px,
    )
);

$LearningObjectives__LOIcon: (
    _name: "LOIcon",
    _subselector: '::before',
    _properties: (
        content: "''",
        display: inline-block,
        height: font-scale(0),
        width: font-scale(1),
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        padding-right:  h-spacing(1),
        position: relative,
        top: 3px,
    )
);


$LearningObjectives__Token: (
  _name: "Token",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: bold,
    margin-right: enum('ValueSet:::REQUIRED'),
    color: enum('ValueSet:::REQUIRED'),
  )
);

$LearningObjectives__Content: (
    _name: "Content",
    _subselector: ' span.os-abstract-content', 
    _properties: (
        display: inline-block,
        max-width: 5.9in,
    )
);

