@import 'learning-components';
@import 'titles-components';
@import 'lists-components';

@include create_shape('cardboard:::LearningObjectivesShape', (
  _components: (
    map-merge($LearningObjectives__Container, (
      _components: (
        $H3--LearningObjectives,
        $LearningObjectives__Paragraph,
        $UnorderedList--FirstLevel,
        $OrderedList--FirstLevel,
      ),
    ))
  ),
));

// Used in Astronomy
@include create_shape('cardboard:::LearningObjectivesCustomShape', (
  _components: (
    map-merge($LearningObjectives__Container, (
      _components: (
        $H3--LearningObjectives,
        $LearningObjectives__Paragraph,
        map-merge($UnorderedList--FirstLevel--CustomBullet, (
          _components: (
            $UnorderedList__ListIndex--CustomBullet,
          )
        ))
      ),
    ))
  ),
));

@include create_shape('cardboard:::LearningObjectivesNumberedShape', (
  _components: (
    map-merge($LearningObjectives__Container, (
      _components: (
        $H3--LearningObjectives,
        $LearningObjectives__Paragraph,
        map-merge($UnorderedList--FirstLevel--NumberedLO, (
          _components: (
            $LearningObjectives--Numbered__Token,
          )
        ))
      ),
    ))
  ),
));

// Used in marketing
@include create_shape('cardboard:::LearningObjectivesNumberedWithLOShape', (
  _components: (
    map-merge($LearningObjectives__Container, (
      _components: (
        $H3--LearningObjectives,
        $LearningObjectives__Paragraph,
        map-merge($UnorderedList--FirstLevel--CustomBullet, (
          _components: (
            $UnorderedList__ListIndex--LOButton,
            $LearningObjectives__Token--NumberedWithLO,
            $LearningObjectives__Content--NumberedWithLO
          )
        ))
      ),
    ))
  ),
));
