$LearningObjectives__Container: empty_wrapper(Container, '');

$LearningObjectives__Paragraph: (
  _name: "Paragraph",
  _subselector: ' > p:first-of-type',
  _properties: (
    margin: 0,
  )
);

$LearningObjectives--Numbered__Token: (
  _name: "Token",
  _subselector: ' span.os-abstract-token',
  _properties: (
    font-weight: bold,
    margin-right: h-spacing(1),
    color: enum('ValueSet:::OPTIONAL'),
  )
);

// Learning Objectives with LO
$LearningObjectives__Token--NumberedWithLO: (
    _name: "TokenWithLO",
    _subselector: ' span.os-abstract-token',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        padding-right: 4px,
    )
);

$LearningObjectives__Content--NumberedWithLO: (
    _name: "ContentWithLO",
    _subselector: ' span.os-abstract-content', 
    _properties: (
        font-weight: normal,
        display: inline-block,
        max-width: 5.9in,
    )
);

$LearningObjectives__LOButton: (
    _name: "LOButton",
    _subselector: '::before',
    _properties : (
        display: inline-block,
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        height: font-scale(0),
        width: font-scale(1),
        content: "''",
        padding-right: h-spacing(1),
        position: relative,
        top: 3px,
    )
);
