// Used in Accounting
$Link--LO: (
  _name: "LOLink",
  _subselector: '',
  _properties: (
    text-decoration: none,
    margin-right: h-spacing(1),
  )
);

$Link--LO__Marker: (
  _name: "LOLinkMarker",
  _subselector: '::before',
  _properties: (
    content: "''",
    display: inline-block,
    height: v-spacing(1),
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    padding-left: h-spacing(2),
  )
);

$Link--LO__LabelText: (
  _name: "LOLabelText",
  _subselector: '> span.label-text',
  _properties: (
    display: none,
  ),
);
