$Link--Regular: (
  _name: "RegularLink",
  _subselector: '',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
  )
);

// Used in Accounting
$Link--LO: (
  _name: "LOLink",
  _subselector: '',
  _properties: (
    text-decoration: none,
    margin-right: h-spacing(1),
  )
);

$Link--LO__Marker: (
  _name: "LOLinkMarker",
  _subselector: '::before',
  _properties: (
    content: "''",
    display: inline-block,
    height: v-spacing(1),
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    padding-left: h-spacing(2),
  )
);
