@import 'lists-components';
@import 'wrappers-components';

@include create_shape('cardboard:::PageListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                $UnorderedList--FirstLevel,
                $OrderedList--FirstLevel,
                map-merge($SectionWrapper--FirstLevel,(
                    _components: (
                        $OrderedList--FirstLevel,
                        map-merge($UnorderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                            )
                        )),
                    )
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::CompositePageListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                map-merge($SectionWrapper--FirstLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                $UnorderedList--SecondLevel,
                                $OrderedList--SecondLevel,
                            )
                        )),
                    )
                )),
                map-merge($SectionWrapper--SecondLevel,(
                    _components: (
                        map-merge($DivWrapper--FirstLevel,(
                            _components: (
                                $OrderedList--FirstLevel,
                            )
                        )),
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::ExercisesListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                map-merge($DivWrapper--FirstLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        $OrderedList--FirstLevel,
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::NotesListsShape',(
    _components: (
        map-merge($ListContainer,(
            _components: (
                map-merge($DivWrapper--FirstLevel,(
                    _components: (
                        $UnorderedList--FirstLevel,
                        map-merge($OrderedList--FirstLevel, (
                            _components: (
                                $OrderedList--SecondLevel,
                            )
                        ))
                    ),
                )),
                map-merge($DivWrapper--SecondLevel,(
                            _components: (
                                $UnorderedList--FirstLevel,
                                $OrderedList--FirstLevel,
                            )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::StepwiseListsShape', (
    _components: (
        map-merge($StepwiseList--Container, (
            _components: (
                map-merge($StepwiseList--FirstLevel,  (
                    _components: (
                       $StepwiseList--CustomBullet,
                       $StepwiseList--Content,
                    )
                ))
            )
        )),
    )
));
