// Containers
$ListContainer: empty_wrapper(Container, '');

// Basic Lists
$UnorderedList--FirstLevel: (
    _name: "FirstLevelUnorderedList",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--FirstLevel--CustomBullet: (
    _name: "FirstLevelUnorderedListCustomBullet",
    _subselector: ' > ul:not([data-labeled-item="true"])',
    _properties:(
        margin-left: h-spacing(0),
        list-style: none,
    )
);

$UnorderedList__ListIndex--CustomBullet: (
    _name: "ListIndexCustomBullet",
    _subselector: ' > li::before',
    _properties: (
        content: "''",
        display: inline-block,
        height: v-spacing(1),
        background: enum('ValueSet:::REQUIRED'),
        background-size: contain,
        padding-left: h-spacing(3),
    )
);

$OrderedList--FirstLevel: (
    _name: "FirstLevelOrderedList",
    _subselector: " > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$UnorderedList--SecondLevel: (
    _name: "SecondLevelUnorderedList",
    _subselector: " > li > ul",
    _properties:(
        margin-left: h-spacing(2),
    )
);

$OrderedList--SecondLevel: (
    _name: "SecondLevelOrderedList",
    _subselector: " > li  > ol",
    _properties:(
        margin-left: h-spacing(3),
    )
);

$StepwiseList--Container: (
    _name: "StepwiseListContainer",
    _subselector: "",
    _properties: (
        list-style: none,
        padding-left: h-spacing(0),
        margin-left: h-spacing(0),
    )
);

$StepwiseList--FirstLevel: (
    _name: "FirstLevelStepwiseList",
    _subselector: "> li ",
    _properties: (
        padding-left: h-spacing(0),
        margin-left: h-spacing(0),
        display: flex,
        flex-direction: row,
    )
);

$StepwiseList--CustomBullet: (
    _name: "StepwiseListCustomBullet",
    _subselector: " > .os-stepwise-token",
    _properties: (
        font-weight: bold,
        // display: inline-block,
        flex-shrink: 0,
        margin-right: h-spacing(1),
    )
);

$StepwiseList--Content: (
    _name: "StepwiseListContent",
    _subselector: " > .os-stepwise-content",
    _properties: (
        //display: inline-block,
    )
);