@import 'objectiveoutline-components';
@import 'titles-components';
@import 'lists/lists-components';

@include create_shape('cardboard:::LearningObjectivesShape', (
  _components: (
    map-merge($Objectives__Container, (
      _components: (
        $H3--Objectives,
        $Objectives__Paragraph,
        map-merge($UnorderedList--FirstLevel, (
          _components: (
            $ListItem--Objectives,
          )
        )),
        map-merge($OrderedList--FirstLevel, (
          _components: (
            $ListItem--Objectives,
          )
        )),
      )
    )),
  ),
));

// Used in Astronomy
@include create_shape('cardboard:::LearningObjectivesWithCustomBulletIconShape', (
  _components: (
    map-merge($Objectives__Container, (
      _components: (
        $H3--Objectives,
        $Objectives__Paragraph,
        map-merge($UnorderedList--UnstyledFromObjectives, (
          _components: (
            map-merge($ListItem--Objectives--WithCustomBullet, (
              _components: (
                $ListItem--Objectives__CustomBulletIcon,
              ),
            ))
          ),
        ))
      ),
    ))
  ),
));

// Used in Marketing
@include create_shape('cardboard:::LearningObjectivesNumberedWithLOIconShape', (
  _components: (
    map-merge($Objectives__Container, (
      _components: (
        $H3--Objectives,
        $Objectives__Paragraph,
        map-merge($UnorderedList--UnstyledFromObjectives, (
          _components: (
            map-merge($ListItem--Objectives--Flex, (
              _components: (
                $ListItem--Objectives__LOIcon,
                $ListItem--Objectives__NumberToken,
              ),
            ))
          )
        ))
      ),
    ))
  ),
));

@include create_shape('cardboard:::ChapterOutlineShape', (
    _components: (
        map-merge($ChapterOutline__Container, (
            _components: (
                $H2--ChapterOutline,
                $H3--ChapterOutline,
                map-merge($ChapterObjective__List, (
                    _components: (
                        map-merge($ChapterObjective__Container, (
                            _components: (
                                map-merge($ChapterObjective__Link,(
                                    _components: (
                                        $ChapterObjective__Text,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::ChapterOutlineWithLOShape', ( // Used in Accounting
    _components: (
        map-merge($ChapterOutline__Container, (
            _components: (
                $H2--ChapterOutline,
                $H3--ChapterOutline,
                map-merge($ChapterObjective__List, (
                    _components: (
                        map-merge($ChapterObjective__Container, (
                            _components: (
                                map-merge($ChapterObjective__Link--ChapterOutlineWithLO,(
                                    _components: (
                                        $ChapterObjective--LOButton,
                                        $ChapterObjective__Text--ChapterOutlineWithLO,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
