$EOB__Container: empty_wrapper(EoBContainer, ' ');

$References_ChapterArea: (
    _name: "ReferencesChapterArea",
    _subselector: " > .os-chapter-area",
    _properties: (
        margin-bottom: v-spacing(1),
    )
);

$Reference__Container: empty_wrapper(ReferenceContainer, ' > .reference ');

$Reference__Number: (
    _name: "ReferenceNumber",
    _subselector: " > .os-reference-number",
    _properties: (
        font-weight: bold,
    )
);

