$References__Container: empty_wrapper(ReferencesContainer, ' ');

$References__Container--WithMargin: (
    _name: "ReferencesContainerWithMargin",
    _subselector: "",
    _properties: (
        margin-bottom: v-spacing(2),
    ),
);

$References__ChapterArea: (
    _name: "ReferencesChapterArea",
    _subselector: " > .os-chapter-area",
    _properties: (
        margin-bottom: v-spacing(1),
    )
);

$References__Section: (
    _name: "ReferencesSection",
    _subselector: ' > section.references',
    _properties:(
        margin: 0,
    ),
);

$References__Note: empty_wrapper(ReferencesNote, ' > [data-type="note"].reference');

$References__Note--Decreased: (
    _name: "ReferencesDecreasedNote",
    _subselector: ' > [data-type="note"]',
    _properties:(
        font-size: font-scale(-1),
        padding: '0 0 0 2.2rem',
    ),
);

$References__Number: (
    _name: "ReferencesNumber",
    _subselector: " > .os-reference-number",
    _properties: (
        font-weight: bold,
    )
);

$References__Link: (
    _name: "ReferencesLink",
    _subselector: ' a',
    _properties:(
        text-decoration: none,
        position: relative,
        left: -0.8rem,
        width: 0,
        display: inline-block,

    ),
);

$References__CiteLink: (
    _name: "ReferencesCiteLink",
    _subselector: " ",
    _properties: (
        text-decoration: none,
    )
);
