$Table__Container: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        margin-bottom: table-v-spacing(2),
        display: table,
        margin-left: auto,
        margin-right: auto,
    )
);

$Table: (
    _name: "Table",
    _subselector: " > table:not(.timeline-table)",
    _properties: (
        width: 100%,
        border-collapse: collapse,
    )
);

$Table--Timeline: (
    _name: "TableTimeline",
    _subselector: " > table.timeline-table",
    _properties: (
        width: 100%,
        border-collapse: collapse,
    )
);

// After discusion we decided to use proportions in col attributes. In this case, data-width is set to 1* for each column.
// It means all columns should be the same size. There is also a decision that we are using percentages. It might be useful
// in the future for the web. But, lets keep in mind that we can meet some problems. More informations you can find here: 
// https://github.com/openstax/cnx-recipes/issues/2776

$Table__Column: (
    _name: "TableColumn",
    _subselector: " col[data-width='1*']",
    _properties: (
        width: 25%,
    )
);

$Table__Head: empty_wrapper(TableHead, ' > thead');

$Table__Head__FirstRow__Cell: (
    _name: "TableHeadCellFirstRow",
    _subselector: " > th:not(:only-child)",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__FirstRow__Cell--OnlyChild: (
    _name: "TableHeadCellFirstRowOnlyChild",
    _subselector: " > th:only-child",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Table__Head__FirstRow__Cell--FirstChild: (
    _name: "FirstTableHeadCellFirstRow",
    _subselector: " > th:first-child:not(:only-child)",
    _properties: (
        border-left-style: none,
        border-left-color: transparent,
        border-left-width: 0rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__FirstRow__Cell--LastChild: (
    _name: "LastTableHeadCellFirstRow",
    _subselector: " > th:last-child:not(:only-child)",
    _properties: (
        border-right-style: none,
        border-right-color: transparent,
        border-right-width: 0rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell: (
    _name: "TableHeadCell",
    _subselector: " > th:not(:only-child)",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-width: 0.08rem, //1px converted to rem
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--OnlyChild: (
    _name: "TableHeadCellOnlyChild",
    _subselector: " > th:only-child",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Table__Head__Cell--FirstChild: (
    _name: "FirstTableHeadCell",
    _subselector: " > th:first-child:not(:only-child)",
    _properties: (
        border-left-style: none,
        border-left-color: transparent,
        border-left-width: 0rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--LastChild: (
    _name: "LastTableHeadCell",
    _subselector: " > th:last-child:not(:only-child)",
    _properties: (
        border-right-style: none,
        border-right-color: transparent,
        border-right-width: 0rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--TopAligned: (
    _name: "TopAlignedTableHeadCell",
    _subselector: "[data-valign="top"]",
    _properties: (
       vertical-align: top,
    )    
);

$Table__Head__Cell--LeftAligned: (
    _name: "LeftAlignedTableHeadCell",
    _subselector: "[data-align="left"]",
    _properties: (
        text-align: left,
    )    
);

$Table__Head__Cell--RightAligned: (
    _name: "RightAlignedTableHeadCell",
    _subselector: "[data-align="right"]",
    _properties: (
        text-align: right,
    )    
);

$Table__Head__Cell--Centered: (
    _name: "CenteredTableHeadCell",
    _subselector: "[data-align="center"]",
    _properties: (
        text-align: center,
    )    
);

$Table__Body: empty_wrapper(TableBody, ' > tbody');
$Table__Row--NotFirstChild: empty_wrapper(TableRowNotFirstChild, ' > tr:not(:first-child)');
$Table__Row--FirstChild: empty_wrapper(TableRowFirstChild, ' > tr:first-child');

$Table__Data: (
    _name: "TableData",
    _subselector: " > td",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-left: table-h-spacing(1),
        padding-right: table-h-spacing(1),
        border-style: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
        border-color: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
        border-width: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
    )
);

$Table__Data--FirstRow: (
    _name: "FirstRowTableData",
    _subselector: " > td",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-left: table-h-spacing(1),
        padding-right: table-h-spacing(1),
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'), 
        border-bottom-width: 0.08rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'),
        border-right-width: 0.08rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'),
        border-left-width: 0.08rem,
    )
);

$Table__Data--TopAligned: (
    _name: "TopAlignedTableData",
    _subselector: "[data-valign="top"]",
    _properties: (
       vertical-align: top,
    )    
);

$Table__Data--LeftAligned: (
    _name: "LeftAlignedTabledata",
    _subselector: " > td[data-align="left"]",
    _properties: (
        text-align: left,
    )    
);

$Table__Data--RightAligned: (
    _name: "RightAlignedTabledata",
    _subselector: " > td[data-align="right"]",
    _properties: (
        text-align: right,
    )    
);

$Table__Data--Centered: (
    _name: "CenteredTabledata",
    _subselector: " > td[data-align="center"]",
    _properties: (
        text-align: center,
    )    
);

$Table__Timeline__Head__Cell: (
    _name: "TimelineTableHead",
    _subselector: " th",
    _properties: (
        color: enum('ValueSet:::OPTIONAL'),
        font-family: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::OPTIONAL'),
        border-style: solid,
        border-color: enum('ValueSet:::OPTIONAL'), 
        border-width: 0.08rem, //1px converted to rem
    )
);

$Table__Timeline__Data__Cell: (
    _name: "TimelineTableData",
    _subselector: " td",
    _properties: (
        font-family: enum('ValueSet:::OPTIONAL'),
        font-size: font-scale(0),
        color: enum('ValueSet:::OPTIONAL'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-left: table-h-spacing(1),
        padding-right: table-h-spacing(1),
        border-style: solid,
        border-color: enum('ValueSet:::OPTIONAL'), 
        border-width: 0.08rem, //1px converted to rem
    )
);

// Used in text-heavy tables
$Table__HeaderRow--WithBottomBorder: empty_wrapper(TableHeaderRowWithBottomBorder, ' > tr'); 

$Table__Head__Cell--WithBottomBorder: (
    _name: "TableHeadCellWithBottomBorder",
    _subselector: " > th",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'), 
        border-bottom-width: 0.08rem, //1px converted to rem
    )
);

$Table__Row: empty_wrapper(TableRow, ' > tr'); // every tr - used in text-heavy and unstyled tables

// Used in unstyled tables
$Table__Container--Unstyled: (
    _name: "TableContainerUnstyled",
    _subselector: "",
    _properties: (
        margin-bottom: table-v-spacing(2),
    )
);