@import '_table-components';
@import '_caption-components';

@include create_shape('cardboard:::TableWithBordersShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        $Table__Column,
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Row--FirstChild, (
                                    _components: (
                                        map-merge($Table__Head__FirstRow__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--FirstChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--LastChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--OnlyChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                )),
                                map-merge($Table__Row--NotFirstChild, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--FirstChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--LastChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--OnlyChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row--NotFirstChild, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--FirstChild, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--ColoredBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Table--Timeline, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                $Table__Timeline__Head__Cell,
                            ),
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                $Table__Timeline__Data__Cell,
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title--Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )), 
            )
        )),
    )
));

@include create_shape('cardboard:::TableWithoutBordersShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__HeaderRow--WithBottomBorder, (
                                    _components: (
                                        map-merge($Table__Head__Cell--WithBottomBorder, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                ))
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--ColoredBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container, (
                    _components: (
                        $Caption__Title--Label,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )), 
            )
        )),
    )
));

@include create_shape('cardboard:::UnstyledTableShape', (
    _components: (
        map-merge($Table__Container--Unstyled, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        $Table__Data,
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));
