$Table__Container: (
    _name: "TableContainer",
    _subselector: "",
    _properties: (
        margin-bottom: table-v-spacing(2),
        display: table,
        margin-left: auto,
        margin-right: auto,
    )
);

$Table: (
    _name: "Table",
    _subselector: " > table",
    _properties: (
        width: 100%,
        border-collapse: collapse,
    )
);

$Table__Head: empty_wrapper(TableHead, ' > thead');

$Table__Head__FirstRow__Cell: (
    _name: "TableHeadCellFirstRow",
    _subselector: " > th:not(:only-child)",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__FirstRow__Cell--OnlyChild: (
    _name: "TableHeadCellFirstRowOnlyChild",
    _subselector: " > th:only-child",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Table__Head__FirstRow__Cell--FirstChild: (
    _name: "FirstTableHeadCellFirstRow",
    _subselector: " > th:first-child:not(:only-child)",
    _properties: (
        border-left-style: none,
        border-left-color: transparent,
        border-left-width: 0rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__FirstRow__Cell--LastChild: (
    _name: "LastTableHeadCellFirstRow",
    _subselector: " > th:last-child:not(:only-child)",
    _properties: (
        border-right-style: none,
        border-right-color: transparent,
        border-right-width: 0rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell: (
    _name: "TableHeadCell",
    _subselector: " > th:not(:only-child)",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-width: 0.08rem, //1px converted to rem
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--OnlyChild: (
    _name: "TableHeadCellOnlyChild",
    _subselector: " > th:only-child",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
    )
);

$Table__Head__Cell--FirstChild: (
    _name: "FirstTableHeadCell",
    _subselector: " > th:first-child:not(:only-child)",
    _properties: (
        border-left-style: none,
        border-left-color: transparent,
        border-left-width: 0rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'), 
        border-right-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--LastChild: (
    _name: "LastTableHeadCell",
    _subselector: " > th:last-child:not(:only-child)",
    _properties: (
        border-right-style: none,
        border-right-color: transparent,
        border-right-width: 0rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'), 
        border-left-width: 0.08rem, //1px converted to rem
    )
);

$Table__Head__Cell--TopAligned: (
    _name: "TopAlignedTableHeadCell",
    _subselector: "[data-valign="top"]",
    _properties: (
       vertical-align: top,
    )    
);

$Table__Head__Cell--LeftAligned: (
    _name: "LeftAlignedTableHeadCell",
    _subselector: "[data-align="left"]",
    _properties: (
        text-align: left,
    )    
);

$Table__Head__Cell--RightAligned: (
    _name: "RightAlignedTableHeadCell",
    _subselector: "[data-align="right"]",
    _properties: (
        text-align: right,
    )    
);

$Table__Head__Cell--Centered: (
    _name: "CenteredTableHeadCell",
    _subselector: "[data-align="center"]",
    _properties: (
        text-align: center,
    )    
);

$Table__Body: empty_wrapper(TableBody, ' > tbody');
$Table__Row: empty_wrapper(TableRow, ' > tr:not(:first-child)');
$First__Table__Row: empty_wrapper(FirstTableRow, ' > tr:first-child');

$Table__Data: (
    _name: "TableData",
    _subselector: " > td",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-left: table-h-spacing(1),
        padding-right: table-h-spacing(1),
        border-style: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
        border-color: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
        border-width: enum('ValueSet:::OPTIONAL'), //unused in text-havy tables
    )
);

$Table__Data--FirstRow: (
    _name: "FirstRowTableData",
    _subselector: " > td",
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        color: enum('ValueSet:::REQUIRED'),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-left: table-h-spacing(1),
        padding-right: table-h-spacing(1),
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'), 
        border-bottom-width: 0.08rem,
        border-right-style: solid,
        border-right-color: enum('ValueSet:::REQUIRED'),
        border-right-width: 0.08rem,
        border-left-style: solid,
        border-left-color: enum('ValueSet:::REQUIRED'),
        border-left-width: 0.08rem,
    )
);

$Table__Data--TopAligned: (
    _name: "TopAlignedTableData",
    _subselector: "[data-valign="top"]",
    _properties: (
       vertical-align: top,
    )    
);

$Table__Data--LeftAligned: (
    _name: "LeftAlignedTabledata",
    _subselector: " > td[data-align="left"]",
    _properties: (
        text-align: left,
    )    
);

$Table__Data--RightAligned: (
    _name: "RightAlignedTabledata",
    _subselector: " > td[data-align="right"]",
    _properties: (
        text-align: right,
    )    
);

$Table__Data--Centered: (
    _name: "CenteredTabledata",
    _subselector: " > td[data-align="center"]",
    _properties: (
        text-align: center,
    )    
);

// Used in text-heavy tables
$Table__HeaderRow--WithBottomBorder: empty_wrapper(TableHeaderRowWithBottomBorder, ' > tr'); 

$Table__Head__Cell--WithBottomBorder: (
    _name: "TableHeadCellWithBottomBorder",
    _subselector: " > th",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-weight: bold,
        font-size: font-scale(0),
        padding-top: table-v-spacing(1),
        padding-bottom: table-v-spacing(1),
        padding-right: table-h-spacing(1),
        padding-left: table-h-spacing(1),
        background-color: enum('ValueSet:::REQUIRED'),
        border-bottom-style: solid,
        border-bottom-color: enum('ValueSet:::REQUIRED'), 
        border-bottom-width: 0.08rem, //1px converted to rem
    )
);

$Table__Row--Textheavy: empty_wrapper(TableRowTextHeavy, ' > tr'); //in this shape every tr in tbody has the same style

