@import '_table-components';
@import '_caption-components';

// Shape used by Default and Top Titles Tables
@include create_shape('cardboard:::TableWithBordersShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        $Table__Column,
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Row--FirstChild, (
                                    _components: (
                                        map-merge($Table__Head__FirstRow__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--FirstChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--LastChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__FirstRow__Cell--OnlyChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                )),
                                map-merge($Table__Row--NotFirstChild, (
                                    _components: (
                                        map-merge($Table__Head__Cell, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--FirstChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--LastChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                        map-merge($Table__Head__Cell--OnlyChild, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row--NotFirstChild, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--FirstChild, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--MiddleHeader, (
                                    _components: (
                                        $Table__Data--MiddleHeaderCell,
                                        $Table__Data--MiddleHeaderCell--OnlyChild,
                                        $Table__Data--MiddleHeaderCell--FirstChild,
                                        $Table__Data--MiddleHeaderCell--LastChild,
                                    )
                                )),
                                map-merge($Table__Row--GreyShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--PurpleShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--YellowShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data--FirstRow, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container--Table, (
                    _components: (
                        $Caption__TitleLabel,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));

// Shape used by Text Heavy Tables

@include create_shape('cardboard:::TableWithoutBordersShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__HeaderRow--WithBottomBorder, (
                                    _components: (
                                        map-merge($Table__Head__Cell--WithBottomBorder, (
                                            _components: (
                                                $Table__Head__Cell--TopAligned,
                                                $Table__Head__Cell--LeftAligned,
                                                $Table__Head__Cell--RightAligned,
                                                $Table__Head__Cell--Centered,
                                            )
                                        )),
                                    )
                                ))
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--MiddleHeader, (
                                    _components: (
                                        $Table__Data--MiddleHeaderCell--BottomBorder
                                    )
                                )),
                                map-merge($Table__Row--GreyShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--PurpleShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                                map-merge($Table__Row--YellowShadedBackgroundRow, (
                                    _components: (
                                        map-merge($Table__Data, (
                                            _components: (
                                                $UnorderedList--FirstLevel,
                                                $OrderedList--FirstLevel,
                                            )
                                        )),
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    ),
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container--Table, (
                    _components: (
                        $Caption__TitleLabel,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::UnstyledTableShape', (
    _components: (
        map-merge($Table__Container--Unstyled, (
            _components: (
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        $Table__Data,
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));

// Shape used by Timeline Tables

@include create_shape('cardboard:::TimelineTableShape', (
    _components: (
        map-merge($Table__Container, (
            _components: (
                $Table__Title,
                map-merge($Table, (
                    _components: (
                        map-merge($Table__Head, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components:(
                                        $Table__Timeline__Head__Cell--OnlyType,
                                        $Table__Timeline__Head__Cell,
                                        $Table__Timeline__Head__Cell--First,
                                        $Table__Head__Cell--TopAligned,
                                        $Table__Head__Cell--LeftAligned,
                                        $Table__Head__Cell--RightAligned,
                                        $Table__Head__Cell--Centered,
                                    )
                                )),
                            )
                        )),
                        map-merge($Table__Body, (
                            _components: (
                                map-merge($Table__Row, (
                                    _components: (
                                        $Table__Timeline__Data__Cell,
                                        $Table__Timeline__Data__Cell--OnlyType,
                                        $Table__Timeline__Data__Cell--FirstType,
                                        $Table__Timeline__Data__Cell--TwoRowSpan,
                                        $Table__Data--TopAligned,
                                        $Table__Data--LeftAligned,
                                        $Table__Data--RightAligned,
                                        $Table__Data--Centered,
                                    )
                                )),
                            )
                        )),
                    )
                )),
                map-merge($Caption__Container--Table, (
                    _components: (
                        $Caption__TitleLabel,
                        $Caption__Number,
                        $Caption__Title,
                        $Caption__Text,
                    )
                )),
            )
        )),
    )
));
