//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');
$Appendix__Container: empty_wrapper(AppendixContainer, '.appendix');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');
$Chapter--Composite__Container: empty_wrapper(CompositeChapterContainer, '');

$Chapter__Container: (
  _name: "ChapterWrapper",
  _subselector: '',
  _properties: (
    height: 100%,
    position: relative,
    z-index: 1,
  )
);

// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    margin-bottom: v-spacing(1),
    column-span: enum('ValueSet:::OPTIONAL'), //used in Index
    font-weight: normal,
  )
);

$H1--Numbered: (
  _name: "H1Numbered",
  _subselector: ' > h1',
  _properties: (
    display: table,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(3),
    line-height: font-scale(3),
    margin-bottom: v-spacing(1),
    font-weight: normal,
  )
);

$H1--Numbered__Text: (
  _name: "H1TitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: table-cell,
    padding-left: h-spacing(2),
  )
);

$H1--Numbered__PartText: (
  _name: "H1TitlePartText",
  _subselector: ' > .os-part-text',
  _properties: (
    display: none,
  )
);

$H1--Numbered__Number: (
  _name: "H1TitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    border-style: solid,
    border-width: 0.2rem,
    border-color: enum('ValueSet:::REQUIRED'),
    padding: 0.5rem,
    width: v-spacing(4),
    height: v-spacing(4),
    display:  table-cell,
    text-align: center,
  )
);

// Chapter Intro h1 Titles components
$H1--ChapterIntro--Numbered: (
  _name: "H1ChapterIntroNumbered",
  _subselector: ' > h1',
  _properties: (
    display: flex,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(2),
    line-height: line-height(2),
    position: relative,
    top: 26rem,
    font-weight: normal,
    flex-direction: row,
    justify-content: flex-start,
    z-index: 2,
    margin-top: fullBleedsMargin(0, rem),
    margin-bottom: fullBleedsMargin(0, rem),
    width: fullBleedsSize(8.45, in),
    left: 0,
  )
);

$H1--ChapterIntro--Numbered__Text: (
  _name: "H1ChapterIntroTitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: inline-block,
    position: relative,
    margin-left: 4rem,
    top: -2.5rem,
  )
);

$H1--ChapterIntro--Numbered__Number: (
  _name: "H1ChapterIntroTitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    width: 2.75rem,
    height: 2.75rem,
    display: inline-block,
    text-align: center,
    background-color: enum('ValueSet:::REQUIRED'),
    position: relative,
    bottom: 5.3rem,
    color: enum('ValueSet:::REQUIRED'),
    border-radius: 50%,
    left: -0.5rem,
    z-index: 2,
    font-weight: bold,
    padding-top: 0.6rem ,
    padding-bottom: 0.6rem,
  )
);

$H1--ChapterIntro--Numbered__Icon: (
  _name: "H1ChapterIntroIcon",
  _subselector: '::after',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    content: "''",
    display: inline-block,
    width: 14.2rem,
    height: 6.1rem,
    position: absolute,
    bottom: enum('ValueSet:::REQUIRED'),
    left: enum('ValueSet:::REQUIRED'),
    right: 0,
    z-index: 2,
    transform: translate3d(-1in, 0, 0),
    margin-left: fullBleedsMargin(0, rem),
  )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H2--Numbered: (
  _name: "H2Numbered",
  _subselector: ' > h2',
  _properties: (
    display: table,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(2),
    line-height: font-scale(2),
    margin-bottom: v-spacing(1),
    font-weight: normal,
  )
);

$H2--Numbered__Number: (
  _name: "H2TitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    border-style: solid,
    border-width: 0.2rem,
    border-color: enum('ValueSet:::REQUIRED'),
    padding: 0.5rem,
    width: v-spacing(4),
    height: v-spacing(4),
    display: table-cell,
    text-align: center,
  )
);

$H2--Numbered__Text: (
  _name: "H2TitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: table-cell,
    padding-left: h-spacing(1),
  )
);

$H2--WithIcon: (
  _name: "H2WithIcon",
  _subselector: ' > h2',
  _properties: (
    display: flex,
    align-items: center,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(2),
    line-height: font-scale(2),
    margin-bottom: v-spacing(1),
    font-weight: normal,
  )
);

$H2--WithIcon__Icon: (
  _name: "H2Icon",
  _subselector: '::before',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(3),
    width: v-spacing(3),
    padding-right: h-spacing(1),
    content: "''",
    display: inline-block,
  )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H3--Link:(
  _name: "H3LinkTitle",
  _subselector: " > a > h3[data-type="document-title"]",
  _properties:(
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: bold,
  )
);

$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    font-weight: enum('ValueSet:::REQUIRED'),
    margin-bottom: 0,
  )
);

$H3--AppendixGlossary: (
  _name: "H3AppendixGlossaryTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
    margin-bottom: v-spacing(1),
    font-weight: bold,
  )
);

//Tables titles
$Table__Title: (
    _name: "TableTitle",
    _subselector: " > .os-table-title",
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        padding: enum('ValueSet:::REQUIRED'),
        text-align: center,
        font-weight: bold, 
    )   
);
// H4 headers
$H4--Link: (
    _name:"H4LinkTitle",
    _subselector: ' > a > h4',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$List__Title: (
  _name:"ListTitle",
  _subselector: ' > [data-type="title"]',
  _properties: (
      font-family: enum('ValueSet:::REQUIRED'),
      font-size: font-scale(0),
      line-height: line-height(0),
      font-weight: bold,
  )
);