//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');

//Wrappers
$SectionWrapper--FirstLevel: empty_wrapper(FirstLevel, ' > section');
$SectionWrapper--SecondLevel: empty_wrapper(SecondLevel, ' > section > section');
$SectionWrapper--ThirdLevel: empty_wrapper(ThirdLevel, ' > section > section > section');

// H1 headers
$H1: (
    _name:"H1Title",
    _subselector: ' > h1',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(3),
        line-height: line-height(3),
        margin-bottom: v-spacing(1),
        column-span: enum('ValueSet:::OPTIONAL'), //used in Index
    )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

// H4 headers
$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);
