//Empty Containers
$Page__Container: empty_wrapper(PageContainer, '');
$Preface__Container: empty_wrapper(PrefaceContainer, '.preface');
$Appendix__Container: empty_wrapper(AppendixContainer, '.appendix');
$Page--Composite__Container: empty_wrapper(CompositePageContainer, '');

//Wrappers
$SectionWrapper--FirstLevel: empty_wrapper(FirstLevel, ' > section');
$SectionWrapper--SecondLevel: empty_wrapper(SecondLevel, ' > section > section');
$SectionWrapper--ThirdLevel: empty_wrapper(ThirdLevel, ' > section > section > section');

$Chapter__Container: (
  _name: "ChapterWrapper",
  _subselector: '',
  _properties: (
    margin-top: -1.15in,
    height: 100%,
    position: relative,
    z-index: 1,
  )
);

// H1 headers
$H1: (
  _name:"H1Title",
  _subselector: ' > h1',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(3),
    line-height: line-height(3),
    margin-bottom: v-spacing(1),
    column-span: enum('ValueSet:::OPTIONAL'), //used in Index
    font-weight: normal,
  )
);

$H1--Numbered: (
  _name: "H1Numbered",
  _subselector: ' > h1',
  _properties: (
    display: enum('ValueSet:::OPTIONAL'),
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: enum('ValueSet:::REQUIRED'), 
    line-height: enum('ValueSet:::REQUIRED'), 
    margin-bottom:  enum('ValueSet:::REQUIRED'), 
    position: enum('ValueSet:::OPTIONAL'), //used in Chapters
    top: enum('ValueSet:::OPTIONAL'), //used in Chapters
    bottom: enum('ValueSet:::OPTIONAL'), //used in Chapters
    background-color: enum('ValueSet:::OPTIONAL'), //used in Chapters
    font-weight: normal,
    padding-top: enum('ValueSet:::OPTIONAL'), //used in Chapters
    flex-direction: enum('ValueSet:::OPTIONAL'), //used in Chapters
    vertical-align: enum('ValueSet:::OPTIONAL'), //used in Chapters
    z-index: enum('ValueSet:::OPTIONAL'), //used in Chapters
    margin-right: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding-right: enum('ValueSet:::OPTIONAL'), //used in Chapters
    margin-left: enum('ValueSet:::OPTIONAL'), //used in Chapters
    padding-left: enum('ValueSet:::OPTIONAL'), //used in Chapters
    width: enum('ValueSet:::OPTIONAL'), //used in Chapters
    left: enum('ValueSet:::OPTIONAL'), //used in Chapters
    margin-top: enum('ValueSet:::OPTIONAL'), //used in Chapters
  )
);

$H1--Numbered__Text: (
  _name: "H1TitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: enum('ValueSet:::REQUIRED'),
    padding-left: enum('ValueSet:::OPTIONAL'), // used in Pages Titles
    position: enum('ValueSet:::OPTIONAL'), //used in Chapters Titles
    margin-left: enum('ValueSet:::OPTIONAL'), //used in Chapters Titles
    top: enum('ValueSet:::OPTIONAL'), //used in Chapters Titles
  )
);

$H1--Numbered__PartText: (
  _name: "H1TitlePartText",
  _subselector: ' > .os-part-text',
  _properties: (
    display: none,
  )
);

$H1--Numbered__Number: (
  _name: "H1TitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    border-style: enum('ValueSet:::OPTIONAL'), //used in Page Titles
    border-width: enum('ValueSet:::OPTIONAL'), //used in Page Titles
    border-color: enum('ValueSet:::OPTIONAL'), //used in Page Titles
    padding: enum('ValueSet:::OPTIONAL'), //used in Page Titles
    width: enum('ValueSet:::REQUIRED'),
    height: enum('ValueSet:::REQUIRED'),
    display:  enum('ValueSet:::REQUIRED'),
    text-align: center,
    background-color: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    position:  enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    bottom:  enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    color: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    border-radius: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    left: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    z-index: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
    font-weight: enum('ValueSet:::OPTIONAL'), //used in Chapter Title
  )
);

//Used in Chapter Title
$H1--Numbered__Icon: (
  _name: "H1Icon",
  _subselector: '::after',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    content: "''",
    display: inline-block,
    width: 14.2rem,
    height: 6.1rem,
    position: absolute,
    bottom: 0.1rem,
    left: 0,
    right: 0,
    z-index: 2,
    transform: translate3d(-1in, 0, 0),
  )
);

// H2 headers
$H2: (
    _name:"H2Title",
    _subselector: ' > h2',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(2),
        line-height: line-height(2),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H2--Numbered: (
  _name: "H2Numbered",
  _subselector: ' > h2',
  _properties: (
    display: table,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(2),
    line-height: font-scale(2),
    margin-bottom: v-spacing(1),
    font-weight: normal,
  )
);

$H2--Numbered__Number: (
  _name: "H2TitleNumber",
  _subselector: ' > .os-number',
  _properties: (
    border-style: solid,
    border-width: 0.2rem,
    border-color: enum('ValueSet:::REQUIRED'),
    padding: 0.5rem,
    width: v-spacing(4),
    height: v-spacing(4),
    display: table-cell,
    text-align: center,
  )
);

$H2--Numbered__Text: (
  _name: "H2TitleText",
  _subselector: ' > .os-text',
  _properties: (
    display: table-cell,
    padding-left: h-spacing(1),
  )
);

$H2--WithIcon: (
  _name: "H2WithIcon",
  _subselector: ' > h2',
  _properties: (
    display: flex,
    align-items: center,
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'), 
    font-size: font-scale(2),
    line-height: font-scale(2),
    margin-bottom: v-spacing(1),
    font-weight: normal,
  )
);

$H2--WithIcon__Icon: (
  _name: "H2Icon",
  _subselector: '::before',
  _properties: (
    background: enum('ValueSet:::REQUIRED'),
    background-size: contain,
    height: v-spacing(3),
    width: v-spacing(3),
    padding-right: h-spacing(1),
    content: "''",
    display: inline-block,
  )
);

// H3 headers
$H3: (
    _name:"H3Title",
    _subselector: ' > h3',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(1),
        line-height: line-height(1),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

$H3--LearningObjectives: (
  _name: "H3LearningObjectivesTitle",
  _subselector: ' > h3[data-type="title"]',
  _properties: (
    color: enum('ValueSet:::REQUIRED'),
    font-family: enum('ValueSet:::REQUIRED'),
    font-size: font-scale(1),
    line-height: line-height(1),
  )
);

// H4 headers
$H4: (
    _name:"H4Title",
    _subselector: ' > h4',
    _properties: (
        color: enum('ValueSet:::REQUIRED'),
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);

// H5 headers
$H5: (
    _name:"H5Title",
    _subselector: ' > h5',
    _properties: (
        font-family: enum('ValueSet:::REQUIRED'),
        font-size: font-scale(0),
        line-height: line-height(0),
        margin-bottom: v-spacing(1),
        font-weight: bold,
    )
);
