@import 'toc-components';

@include create_shape('cardboard:::NoUnitToc', (
    _components: (
        map-merge($Toc__Container, (
            _components: (
                map-merge($Toc__Title--Contents, (
                    _components: (
                        $Toc__Title--Contents__Icon,
                    )
                )),
                map-merge($Toc__List--TopLevel, (
                    _components: (
                        $Toc__Chapter--OddItem,
                        $Toc__Chapter--Composite__List, //Answer Key
                        map-merge($Toc__List--TopLevel__Item, (
                            _components: (
                                map-merge($Toc__Link--TopLevel, (
                                    _components: (
                                        $Toc__Link--TopLevel__Page,
                                        map-merge($Toc__Number, (
                                            _components: (
                                                $Toc__PartText,
                                            )
                                        )),
                                    )
                                )),
                                map-merge($Toc__List--MiddleLevel, (
                                    _components: (
                                        $Toc__Chapter--Composite__List, //compound composite pages
                                        map-merge($Toc__List--MiddleLevel__Item, (
                                            _components: (
                                                map-merge($Toc__Link--MiddleLevel, (
                                                    _components: (
                                                        $Toc__Link--MiddleLevel__Number,
                                                        $Toc__Link--MiddleLevel__Page,
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                    )
                )),
            )
        )),
    )
));

@include create_shape('cardboard:::UnitToc', (
    _components: (
        map-merge($Toc__Container, (
            _components: (
                map-merge($Toc__Title--Contents, (
                    _components: (
                        $Toc__Title--Contents__Icon,
                    )
                )),
                map-merge($Toc__List--TopLevel, (
                    _components: (
                        map-merge($Toc__List--TopLevel__Item--Unit, (
                            _components: (
                                map-merge($Toc__Link--TopLevel, (
                                    _components: (
                                        $Toc__Link--TopLevel__Page,
                                        map-merge($Toc__Number, (
                                            _components: (
                                                $Toc__PartText,
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        map-merge($Toc__Unit, (
                            _components: (
                                $Toc__Unit__Icon,
                                map-merge($Toc__Unit__Link,(
                                    _components: (
                                        $Toc__Link--TopLevel__Page--Unit,
                                    )
                                )),
                                map-merge($Toc__List--TopLevel--Unit, (
                                    _components: (
                                        $Toc__Chapter--OddItem,
                                        map-merge($Toc__List--TopLevel__Item, (
                                            _components: (
                                                map-merge($Toc__Link--TopLevel, (
                                                    _components: (
                                                        $Toc__Link--TopLevel__Page,
                                                        map-merge($Toc__Number, (
                                                            _components: (
                                                                $Toc__PartText,
                                                            )
                                                        )),
                                                    )
                                                )),
                                                map-merge($Toc__List--MiddleLevel, (
                                                    _components: (
                                                        $Toc__Chapter--Composite__List, //compound composite pages
                                                        map-merge($Toc__List--MiddleLevel__Item, (
                                                            _components: (
                                                                map-merge($Toc__Link--MiddleLevel, (
                                                                    _components: (
                                                                        $Toc__Link--MiddleLevel__Number,
                                                                        $Toc__Link--MiddleLevel__Page,
                                                                    )
                                                                )),
                                                            )
                                                        )),
                                                    )
                                                )),
                                            )
                                        )),
                                    )
                                )),
                            )
                        )),
                        $Toc__Chapter--Composite__List, //Answer Key
                    )
                )),
            )
        )),
    )
));