@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
    Chapter:(
        _selectors: ('[data-type="chapter"]'),
        Title: (
            color: (_ref:"colorMap:::microbioHeaderColor"),
        ),
    ),
    Page:(
        _selectors: ('[data-type="page"]'),
        Title: (
            color: (_ref:"colorMap:::microbioHeaderColor"), 
        ),
        TitleNumber: (
            color: (_ref:"colorMap:::microbioHeaderColor"),
            font-size: initial,
            line-height: initial,
            font-family: initial,
        ),
        TitleText: (
            font-size: initial,
            line-height: initial,
            font-family: initial,
        ),
    )
));

@include use('BookRoot', "common:::BookRoot");
@include use('Preface','carnival:::Preface');
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Chapter', 'carnival:::Chapter');
@include use('Page', 'carnival:::Page');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');