$PagesWithBands: (
  (pageName: eoc, firstSelector: '[data-type = 'chapter'] > .os-summary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="chapter"] > [data-type="page"] > section.learning-objectives'),
    'Paragraph:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::sansFont'),
    'ListItem:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListDot:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::microbioIntroColor"),
    'OutlineFullWidthTitle:::color': (_ref: "colorMap:::microbioIntroColor"),
    'OutlineFullWidth:::border-bottom-color': (_ref: "colorMap:::microbioIntroColor"),
    'OutlineFullWidthTitleBottomBorder:::border-bottom-color': (_ref: "colorMap:::microbioIntroColor"),
  ),
  ClinicalFocusNote:(
    _selectors:(".clinical-focus"),
    group-border-color: (_ref: 'colorMap:::microbioClinicalFocusColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::microbioClinicalFocusColor')
  ),
  CaseInPointNote:(
    _selectors:(".case-in-point"),
    group-border-color: (_ref: 'colorMap:::microbioCaseInPoint'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::microbioCaseInPoint')
  ),
  EyeOnEthicsNote:(
    _selectors:(".eye-on-ethics"),
    group-border-color: (_ref: 'colorMap:::microbioEyeOnEthics'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::microbioEyeOnEthics'),
    'LogoIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/sigmaxi-logo.svg")) no-repeat right bottom,
    'LogoIcon:::padding-right': 0.4rem,
    'LogoIcon:::bottom': -0.5rem,
  ),
  DiseaseProfileNote:(
    _selectors:(".disease-profile"),
    group-border-color: (_ref: 'colorMap:::microbioDiseaseProfile'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::microbioDiseaseProfile'),
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  CheckYourUnderstandingNote:(
    _selectors: (".check-your-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
  ),
  MicroConnectionsNote:(
    _selectors: (".micro-connection"),
    group-border-color: (_ref: 'colorMap:::microConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::microConnectionColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-microconnections.svg")) no-repeat top left,
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

@include add_settings((
  EocSummary: (
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  MultipleChoiceCompChapPage:(
    _selectors: (".os-multiple-choice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  CriticalThinkingCompChapPage:(
    _selectors: (".os-critical-thinking-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  ShortAnswerCompChapPage:(
    _selectors: (".os-short-answer-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  FillInTheBlankCompChapPage:(
    _selectors: (".os-fill-in-the-blank-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  MatchingCompChapPage:(
    _selectors: (".os-matching-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
  TrueFalseCompChapPage:(
    _selectors: (".os-true-false-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': 0,
  ),
));

@include add_settings((
  AppendixGlossary: (
    _selectors: (".appendix"),
    'H3AppendixGlossaryTitle:::color': (_ref: "colorMap:::microbioHeaderColor"),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::microbioHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H5Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
));

@include add_settings((
  EocCompositeChapterTitles: (
    _selectors: ('.os-eoc[data-type="composite-chapter"]'),
    'H2Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('TOC', 'carnival:::NoUnitToc');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Index', 'carnival:::IndexShape');
@include use('AnswerKeyInline', 'carnival:::AnswerKeyInlineShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('AppendixGlossary', 'carnival:::AppendixGlossaryShape');
@include use('ContentExercises','carnival:::ExerciseShape');
@include use('Figure','carnival:::FigureShape');
@include use('Equation', 'carnival:::EquationShape');

//EOC
@include use('EocSummary', 'carnival:::EocSummary');
@include use('MultipleChoiceCompChapPage','carnival:::EOCAssesmentsShape');
@include use('CriticalThinkingCompChapPage','carnival:::EOCAssesmentsShape');
@include use('ShortAnswerCompChapPage','carnival:::EOCAssesmentsShape');
@include use('FillInTheBlankCompChapPage','carnival:::EOCAssesmentsShape');
@include use('MatchingCompChapPage','carnival:::EOCAssesmentsShape');
@include use('TrueFalseCompChapPage','carnival:::EOCAssesmentsShape');

//notes
@include use('ClinicalFocusNote', 'carnival:::BoxedNoteShape');
@include use('CaseInPointNote', 'carnival:::BoxedNoteShape');
@include use('EyeOnEthicsNote', 'carnival:::LogoNoteBoxedShape');
@include use('DiseaseProfileNote', 'carnival:::BoxedNoteShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('MicroConnectionsNote', 'carnival:::IconNoteShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EocCompositeChapterTitles', 'carnival:::EocCompositeChapterTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
