@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::prefaceTitleColor"),
    'BodyH4:::color': (_ref: "colorMap:::prefaceTitleColor"),
    'BodyH5:::color': (_ref: "colorMap:::prefaceTitleColor"),
  ),
  LearningObjective: (
    Title: (
      color: (_ref: 'colorMap:::microbioLearningObjColor'),
    ),
    ListDot: (
      color: (_ref: 'colorMap:::microbioLearningObjColor'),
    ),
  ),
  ChapterIntro: (
    SplashFigureBg: (
      background-color: (_ref: "colorMap:::microbioIntroColor")
    ),
    Outline: (
      background-color: (_ref: "colorMap:::microbioIntroColor")
    ),
  ),
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::chapterOutlineColor"),
  ),  
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'Title:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'Subtitle:::color': (_ref: 'colorMap:::microbioHeaderColor'),
    'SubSubtitle:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
  ClinicalFocusNote:(
    _selectors:(".clinical-focus"),
    group-border-color: (_ref: 'colorMap:::microbioClinicalFocusColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::microbioClinicalFocusColor')
  ),
  EyeOnEthicsNote:(
    _selectors:(".eye-on-ethics"),
    group-border-color: (_ref: 'colorMap:::microbioEyeOnEthics'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::microbioEyeOnEthics'),
    'LogoIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/sigmaxi-logo.svg")) no-repeat right bottom,
    'LogoIcon:::padding-right': 0.4rem,
    'LogoIcon:::bottom': -0.5rem,
  ),
  DiseaseProfileNote:(
    _selectors:(".disease-profile"),
    group-border-color: (_ref: 'colorMap:::microbioDiseaseProfile'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::microbioDiseaseProfile'),
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
    'TitleText:::max-width': h-grid(10),
  ),
  CheckYourUnderstandingNote:(
    _selectors: (".check-your-understanding"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::checkYourUnderstanding'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-check.svg")) no-repeat top left,
    'TitleText:::max-width': h-grid(15),
  ),
  MicroConnectionsNote:(
    _selectors: (".micro-connection"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::microConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-microconnections.svg")) no-repeat top left,
    'TitleText:::max-width': h-grid(10),
  ),
));
@include add_settings((
  Summary: (
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
  ReviewQuestions: (
    _selectors: ("[data-type = 'chapter'] > .os-review-questions-container"),
    'EocHeader:::color': (_ref: 'colorMap:::microbioHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('Preface','carnival:::Preface');
@include use('TOC', 'carnival:::NoUnitToc');
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('Chapter', 'carnival:::Chapter');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Summary','carnival:::EocSummary');
@include use('ReviewQuestions','carnival:::EocReviewQuestions');
@include use('Module', 'carnival:::ModuleShape');
@include use('Index', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('LearningObjective', 'carnival:::LearningObjectiveShape');
@include use('ClinicalFocusNote', 'carnival:::BoxedNoteShape');
@include use('EyeOnEthicsNote', 'carnival:::LogoNoteBoxedShape');
@include use('DiseaseProfileNote', 'carnival:::BoxedNoteShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('CheckYourUnderstandingNote', 'carnival:::IconCondensedShape');
@include use('MicroConnectionsNote', 'carnival:::IconCondensedShape');
@include use('Appendix', 'carnival:::AppendixShape');

[data-type="chapter"] {
    page: chapter;
    prince-page-group: start;
    page-break-before: right;
  }

@page {
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 0.8in;
    margin-top: 0.8in;
  }

  @page chapter:first {
    margin-right: 2in;
  }

  @page chapter:nth(2) {
    margin-right: 2in;
  }

@page {
  @footnotes {
    border-top-color: #000000;
    border-top-width: 0.5pt;
    border-top-style: solid;
    display: block;
    margin-top: v-grid(1);
  }
}