@import '../../framework/framework';
@import '../../designs/carnival/parts/learning-spaces';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');

// Colors
$B2: #3172B6; 

@include add_settings((
    LearningObjectiveTitle: (
        _selectors: ('[data-type=\'page\']'),
        title: (
            color: $B2,
            font-family: 'IBM Plex Sans',
            font-style: italic,
            font-weight: 900,
            font-size: 13px,
        ),
        container: (
            margin-top: 0px,
        ),
    ),

    // Actual list
    LearningObjectiveWrapper: (
        _selectors: ('[data-type=\'abstract\']'),
        container: (
            margin-bottom: 20px,
            margin-left: 13px,
        ),
        listItem: (
            color: black,
            font-family: 'Muli',
            font-style: normal,
            font-weight: normal,
            font-size: 12px,
            padding-bottom: 3px,
            list-style: none,
        ),
        listDot: (
            color: $B2,
            content: "\"\2022\"",
            display: inline-block,
            width: 1em,
            margin-left: -1em,
        ),
    ),
));

@include use('LearningObjectiveTitle', 'LearningTitleSpace');
@include use('LearningObjectiveWrapper', 'LearningContainerSpace');