$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'H2Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H4Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H5Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
  ),
));

@include add_settings((
ChapterModuleTitles: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H2Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H5Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include add_settings((
  GenericEOC:(
    _selectors: (".os-eoc"),
    'H2Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H2Title:::font-family': (_ref: 'typography:::serifFont'),
    'H2Title:::column-span': all,
    'H2Title:::text-transform': uppercase,
    'H3Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3Title:::font-family': (_ref: 'typography:::serifFont'),
    'H3Title:::column-span': all,
    'H3LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H3ListTitle:::color': (_ref: 'colorMap:::fontBodyColor'),
    'H3ListTitle:::font-family': (_ref: "typography:::baseFont"),
    'H4Title:::font-family': (_ref: 'typography:::sansFont'),
    'H4Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H4LinkTitle:::font-family': (_ref: 'typography:::serifFont'),
    'H4LinkTitle:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocKeyEquations:(
    _selectors: (".os-eoc.os-key-equations-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'Section--MarginBottom:::margin-bottom': 0,
    'UnnumberedUnstyledTable:::margin-bottom': 0,
    'TableData:::padding-right': table-h-spacing(1),
    'TableData:::padding-left': table-h-spacing(1),
  ),
  EocSummary:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  Exercises:(
    _selectors: ("[data-type = 'chapter'] > .os-exercises-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'Section--MarginBottom:::margin-bottom': column-v-spacing(1),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'Paragraph:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::sansFont'),
    'ListItem:::font-family': (_ref: 'typography:::serifFont'),
    'ListDot:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include add_settings((
    Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H2Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    ),
));

@include add_settings((
  AnswerKey: (
    _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
    'H2Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
    'H3Title:::color': (_ref: "colorMap:::chemistryHeaderColor"),
  ),
));

@include add_settings((
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::chemistryIntroColor"),
    'OutlineTitle:::color': (_ref: "colorMap:::chemistryIntroColor"),
    'OutlineFullWidth:::border-bottom-color': (_ref: "colorMap:::chemistryIntroColor"),
    'OutlineTitleBottomBorder:::border-bottom-color': (_ref: "colorMap:::chemistryIntroColor"),
  ),
));
@include add_settings((
    TOC: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    ),
));
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::chemistryTableColor"),
  ),
));
//notes settings
@include add_settings((
  EverydayLifeNote:(
    _selectors:(".everyday-life"),
    group-border-color: (_ref: 'colorMap:::everydayLifeColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayLifeColor'),
  ),
  PortraitNote:(
    _selectors: (".chemist-portrait"),
    group-border-color: (_ref: 'colorMap:::portraitColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::portraitColor'),
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'ParagraphSubtitle:::font-family': (_ref: "typography:::sansFont"),
    'ParagraphSubtitle:::font-weight': bold,
    'ParagraphSubtitle:::margin-bottom': .2rem,
    'AnswerTitle:::font-family': (_ref: "typography:::sansFont"),
    'AnswerTitle:::font-weight': bold,
    'AnswerTitle:::margin-bottom': .2rem,
    'FirstParagraphTitle:::margin-bottom': .2rem,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('Figure','carnival:::FigureShape');

//book specific styles
@include use('Preface','carnival:::Preface');
@include use('ContentExercises','carnival:::ExerciseShape');
//EOC
@include use('GenericEOC','carnival:::GenericEOCShape');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocKeyEquations','carnival:::EocKeyEquations');
@include use('EocSummary','carnival:::EocSummary');
@include use('Exercises','carnival:::EOCAssesmentsShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape');
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Term', 'carnival:::Term');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('EverydayLifeNote', 'carnival:::BoxedNoteShape');
@include use('PortraitNote', 'carnival:::BoxedNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('Equation', 'carnival:::EquationShape');
