$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #00819A;

$ChapterIntroType: fullWidth;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocKeyEquations:(
    _selectors: (".os-eoc.os-key-equations-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'SectionMarginBottom:::margin-bottom': 0,
    'UnnumberedUnstyledTable:::margin-bottom': 0,
    'TableData:::padding-right': table-h-spacing(1),
    'TableData:::padding-left': table-h-spacing(1),
  ),
  EocSummary:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  Exercises:(
    _selectors: ("[data-type = 'chapter'] > .os-exercises-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': column-v-spacing(1),
  ),
));

@include add_settings((
  LearningObjectives: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'Paragraph:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Paragraph:::font-family': (_ref: 'typography:::sansFont'),
    'H3LearningObjectivesTitle:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3LearningObjectivesTitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    'ListItem:::font-family': (_ref: 'typography:::sansFont'),
    'ListDot:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include add_settings((
  FullWidthChapterIntro: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::chemistryIntroColor"),
    'OutlineFullWidthTitle:::color': (_ref: "colorMap:::chemistryIntroColor"),
    'OutlineFullWidth:::border-bottom-color': (_ref: "colorMap:::chemistryIntroColor"),
  ),
));
@include add_settings((
    TOC: (
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    ),
));
@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::chemistryTableColor"),
  ),
));
//notes settings
@include add_settings((
  EverydayLifeNote:(
    _selectors:(".everyday-life"),
    group-border-color: (_ref: 'colorMap:::everydayLifeColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::everydayLifeColor'),
  ),
  PortraitNote:(
    _selectors: (".chemist-portrait"),
    group-border-color: (_ref: 'colorMap:::portraitColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::portraitColor'),
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  Example:(
    _selectors: ("[data-type='example']"),
    group-border-color: (_ref: 'colorMap:::exampleColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::exampleColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-example.svg")) no-repeat top left,
    'ParagraphSubtitle:::font-family': (_ref: "typography:::sansFont"),
    'ParagraphSubtitle:::font-weight': bold,
    'ParagraphSubtitle:::margin-bottom': .2rem,
    'AnswerTitle:::font-family': (_ref: "typography:::sansFont"),
    'AnswerTitle:::font-weight': bold,
    'AnswerTitle:::margin-bottom': .2rem,
    'FirstParagraphTitle:::margin-bottom': .2rem,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::chemistryHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::chemistryHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', "carnival:::Link");
@include use('Figure','carnival:::FigureShape');
@include use('Blockquote', "carnival:::BlockquoteShape");

//book specific styles
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('ContentExercises','carnival:::ExerciseShape');
//EOC
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocKeyEquations','carnival:::EocKeyEquations');
@include use('EocSummary','carnival:::EocSummary');
@include use('Exercises','carnival:::EOCAssesmentsShape');
@include use('LearningObjectives', 'carnival:::LearningObjectivesShape');
@include use('Index', 'carnival:::IndexShape');
@include use('AnswerKey', 'carnival:::AnswerKeyShape');
@include use('FullWidthChapterIntro', 'carnival:::FullWidthChapterIntroShape');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('TOC', 'carnival:::NoUnitToc');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('EverydayLifeNote', 'carnival:::BoxedNoteShape');
@include use('PortraitNote', 'carnival:::BoxedNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape');
@include use('Example', 'carnival:::IconNoteShape');
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('Equation', 'carnival:::EquationShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');
