$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

@include add_settings((
  ReviewQuestions: (
    _selectors: ('.os-eoc.os-review-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

// Condensed icon note
@include add_settings((   
    // Iconned notes
    ReadPhilosopher: (
        _selectors: ('.read-philosopher'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue3'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-reading.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue3'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    ThinkPhilosopher: (
        _selectors: ('.think-philosopher'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorRed2'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-thinking.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorRed2'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WritePhilosopher: (
        _selectors: ('.write-philosopher'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen3'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-sketch.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen3'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    TimeLine: (
        _selectors: ('.time-line'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-timeline.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    //Icon Condensed Notes
    Connections:(
        _selectors: (".philo-connections"),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
    ),
    Video:(
        _selectors: ('.media-video'),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::iconnedNoteBorderColorGreen'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-media.svg")) no-repeat top left,
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    Podcast:(
        _selectors: ('.media-podcast'),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::iconnedNoteBorderColorBlue'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-podcast.svg")) no-repeat top left,
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

@include add_settings((
  Index: (
    _selectors: ('.os-index-container'),
    'TermContainer:::text-indent': h-spacing(-1),
    'TermContainer:::padding-left': h-spacing(1),
  ),
));

@include add_settings((
  CenteredText: (
    _selectors: ('.centered-text')
  )
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnitBlue', 'cosmos:::TocNoUnitShape');
@include use('LearningObjectivesModule', 'cosmos:::LearningObjectivesModuleShape');
@include use('ModuleWithinChapter', 'cosmos:::ModuleWithinChapterShape');
@include use('Blockquote', "cosmos:::BlockquoteShape");
@include use('CenteredText', 'common:::CenteredTextShape');

//Titles
@include use('ChapterTitlesBlue', 'cosmos:::ChapterTitlesShape');
@include use('PageTitlesBlue', 'cosmos:::PageTitlesShape');
@include use('EobTitlesBlue', 'cosmos:::EobTitlesShape');
@include use('EocCompositePageTitlesBlue', 'cosmos:::EocCompositePageTitlesShape');

//Notes 
@include use('ThinkPhilosopher', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('ReadPhilosopher', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('WritePhilosopher', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('TimeLine', 'cosmos:::IconnedNoteWithSubtitleShape');
@include use('Connections', 'cosmos:::CondensedIconNoteShape');
@include use('Video', 'cosmos:::CondensedIconNoteWithSubtitleShape');
@include use('Podcast', 'cosmos:::CondensedIconNoteWithSubtitleShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

//Tables
@include use('DefaultTableBlue', 'cosmos:::BasicTableShape');

// Figure
@include use('FigureBlue', 'cosmos:::FigureShape');

//EoB
@include use('Index', 'cosmos:::IndexShape');

// Eoc
@include use('References', 'cosmos:::ModuleWithIndentationShape');
@include use('KeyTerms', 'cosmos:::KeyTermsShape');
@include use('ReviewQuestions', 'cosmos:::ExercisesModuleShape');