$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
);

$bandColor: #DCB83D;

@import 'framework/framework';
@import '../../design-settings/cosmos/_design.scss';
@import '../../design-settings/cosmos/_settings.scss';
@import '../../designs/cosmos/pdf/folio';

@include add_settings((
    ChapterTitles:(
        _selectors: ('[data-type="chapter"]'),
        H1ChapterIntroTitleNumber: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ), 
    ),    
));
@include add_settings((
    PageTitles: (
        _selectors: ('[data-type="page"]:not(.introduction)'),
        H1Title: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        H2Title: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        H3Title: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        H4Title: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        H1Appendix: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        H1AppendixText: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
    ),
));


@include add_settings((
    EocCompositePageTitles: (
        _selectors: ('.os-eoc[data-type="composite-page"]'),
        H2Title: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
    ),
));
@include add_settings((
    Figure: (
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionTitleLabel:(
            color: (_ref: "colorMap:::captionNumberColor2"),
        ),
        CaptionNumber:(
            color: (_ref: "colorMap:::captionNumberColor2"),
        ),
    )
));
@include add_settings((
  ReviewQuestions: (
    _selectors: ('.os-eoc.os-review-questions-container'),
    'ProblemNumber:::color': (_ref: "colorMap:::fontBodyColor"),
  ),
));

@include add_settings((
    TocNoUnit: (
        _selectors: ('nav#toc'),
        TocTitle: (
            color: (_ref: 'colorMap:::titleColorAlt'),
            border-bottom-color: (_ref: 'colorMap:::titleColorAlt'),
        ),
        ChapterLinkText: (
            color: (_ref: 'colorMap:::titleColorAlt'),
        ),
    ),

));

@include add_settings((
    ReadPhilosopher: (
        _selectors: ('.read-philosopher'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption1Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption1Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    ThinkPhilosopher: (
        _selectors: ('.think-philosopher'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption2Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption2Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    WritePhilosopher: (
        _selectors: ('.write-philosopher'),
        'Title:::color': (_ref: 'colorMap:::boxedNoteTitleColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::background-color': (_ref: 'colorMap:::boxedNoteTitleBackgroundOption3Color'),
        'Title:::border-color': (_ref: 'colorMap:::boxedNoteTitleBorderColor'),
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::background-color': (_ref: 'colorMap:::boxedNoteBodyBackgroundOption3Color'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
    Connections:(
        _selectors: (".philo-connections"),
        'Container:::box-decoration-break': slice,
        'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningBottomBorderColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Icon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/carnival-linktolearning.svg")) no-repeat top left,
    ),
    TimeLine: (
        _selectors: ('.time-line'),
        'Container:::box-decoration-break': slice,
        'Title:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Title:::font-family': (_ref: 'typography:::titleOption3Font'),
        'Title:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'TitleIcon:::background': url(toDataUri("svg+xml", "designs/cosmos/resources/cosmos-timeline.svg")) no-repeat bottom left,
        'TitleIcon:::height': v-spacing(4),
        'TitleIcon:::width': v-spacing(4),
        'TitleIcon:::bottom': -0.7rem,
        'Body:::font-family': (_ref: 'typography:::titleOption2Font'),
        'Body:::border-color': (_ref: 'colorMap:::iconnedNoteBorderColorPurple'),
        'Subtitle:::color': (_ref: 'colorMap:::fontBodyColor'),
        'Subtitle:::font-family': (_ref: 'typography:::titleOption1Font'),
    ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('ChapterIntro', 'cosmos:::ChapterIntroShape');
@include use('Link', 'cosmos:::LinkShape');
@include use('TocNoUnit', 'cosmos:::TocNoUnitShape');
@include use('LearningObjectivesModule', 'cosmos:::LearningObjectivesModuleShape');
@include use('ModuleWithinChapter', 'cosmos:::ModuleWithinChapterShape');

//Titles
@include use('ChapterTitles', 'cosmos:::ChapterTitlesShape');
@include use('PageTitles', 'cosmos:::PageTitlesShape');
@include use('EobTitles', 'cosmos:::EobTitlesShape');
@include use('EocCompositePageTitles', 'cosmos:::EocCompositePageTitlesShape');

//Notes 
@include use('ThinkPhilosopher', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('ReadPhilosopher', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('WritePhilosopher', 'cosmos:::BoxedNoteWithSubtitleShape');
@include use('Connections', 'cosmos:::CondensedIconNoteShape');
@include use('TimeLine', 'cosmos:::IconnedNoteWithSubtitleShape');

// Lists
@include use('PageLists', 'cosmos:::PageListsShape');
@include use('ExercisesProblemLists', 'cosmos:::ExercisesListsShape');
@include use('NotesLists', 'cosmos:::NotesListsShape');

//Tables
@include use('DefaultTable', 'cosmos:::BasicTableShape');

// Figure
@include use('Figure', 'cosmos:::FigureShape');

//EoB
@include use('Index', 'cosmos:::IndexShape');

// Eoc
@include use('References', 'cosmos:::ModuleWithIndentationShape');
@include use('KeyTerms', 'cosmos:::KeyTermsShape');
@include use('ReviewQuestions', 'cosmos:::ExercisesModuleShape');