@import 'platform';

@import '../../framework/import-config';
@import '../../themes/theme3/import-config';
@import './import-config';

@import '../../framework/import-mixins';

@import '../../framework/update-config';

@import '../../themes/theme3/import-style';



/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */

//TODO: figure out a way to loop through note kinds and validate them


$notes:(
  (
    name: exploring-business-careers,
    noteType: noteTopBorder,
    color-scheme: $noteTopBorderScheme1,
  ),
  (
    name: managing-change,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme3,
    image: resource(theme, managing-change, svg)
  ),
  (
    name: link-to-learning,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme2,
    image: resource(theme, link-to-learning, svg),
  ),
  (
    name: catching-spirit,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme3,
    image: resource(theme, catching-spirit, svg),
  ),
  (
    name: concept-check,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme1,
    image: resource(theme, concept-check, svg),
   ),
   (
    name: expanding-around-globe,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme3,
    image: resource(theme, expanding-around-globe, svg),
   ),
   (
    name: ethics-in-practice,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme3,
    image: resource(theme, ethics-in-practice, svg),
   ),
   (
    name: customer-satisfaction,
    noteType: simpleNote,
    color-scheme: $simpleNoteScheme3,
    image: resource(theme, customer-satisfaction, svg),
   ),
);


@include note($notes);


// [data-type="note"] {
//   &.catching-spirit {
//
//   }
//   &.managing-change {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), managing-change);
//   }
// }

//   &.expanding-around-globe {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), expanding-around-globe);
//   }
//   &.customer-satisfaction {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), customer-satisfaction);
//   }
//   &.ethics-in-practice {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody1_colorMap), ethics-in-practice);
//   }
//   &.concept-check {
//     @include notes(color-map(featureTitle1_colorMap), color-map(featureBody2_colorMap), exercises);
//   }
//   &.exploring-business-careers {
//     @include note-border-top(color-map(featureBorder_colorMap));
//   }
// }
