$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../templates/cardboard/design.scss';
@import '../../templates/cardboard/settings.scss';

// Settings
@include add_settings((
  ChapterIntro: (
    _selectors: (".introduction"),
    'OutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
    'IntroductionTitleIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-intro2.svg")) no-repeat top left,
    'IntroContentHeader:::color': (_ref: "colorMap:::introContentHeaderColor"),
    'SplashImgMediaBar:::background-color': (_ref: "colorMap:::chapterTitleBgColor"),
    'SplashImgMediaBar:::border-top-color': (_ref: "colorMap:::chapterTitleBorderColor"),
    )
));

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  ),
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
  ),
));
@include add_settings((
  LearningObjectives:(
    _selectors: ('.learning-outcomes'), //has different selector then other books
    H3LearningObjectivesTitle: (
      font-family: (_ref: 'typography:::titleFont'),
      color: (_ref: 'colorMap:::learningObjectivesTitleColor'),
    ),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('Blockquote', "cardboard:::Blockquote");
@include use('Link', 'cardboard:::LinkShape');
@include use('ChapterIntro', 'cardboard:::ChapterIntroShape');
@include use('Figure','cardboard:::FigureShape');
@include use('Toc', 'cardboard:::NoUnitToc');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::CompositePageTitlesShape');
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');

//Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');



