$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc .os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-page"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../templates/template3/design.scss';
@import '../../templates/template3/settings.scss';

// Settings
@include add_settings((
  KeyTermsTitles: (
    _selectors: (".os-glossary-container"),
    'H2WithIcon:::font-family': (_ref: 'typography:::titleFont'),
    'H2WithIcon:::color': (_ref: "colorMap:::titleColor"),
    'H2Icon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg")) no-repeat top left,
    'H3LinkTitle:::font-family': (_ref: 'typography:::baseFont'),
  ),
));
@include add_settings((
  ExploringBusinessCareers: (
      _selectors: (".exploring-business-careers"),
      'Body:::border-color': (_ref: "colorMap:::noteOption4BorderColor"),
      'Title:::border-top-color': (_ref: "colorMap:::noteOption4TitleTopBorderColor"),
      'Title:::border-bottom-color': (_ref: "colorMap:::noteOption4BorderColor"),
      'Title:::border-right-color': (_ref: "colorMap:::noteOption4BorderColor"),
      'Title:::border-left-color': (_ref: "colorMap:::noteOption4BorderColor"),
      'Title:::background-color': (_ref: "colorMap:::noteOption4HeaderBackgroundColor"),
      'Title:::color': (_ref: "colorMap:::noteOption4HeaderColor"),
      'Title:::font-family': (_ref: "typography:::titleFont"),
      'Body:::font-family': (_ref: "typography:::baseFont"),
      'Body:::background-color': (_ref: "colorMap:::noteOption4BodyBackgroundColor"),
      'Subtitle:::color': (_ref: "colorMap:::noteSubtitleColor"),
      'Subtitle:::font-family': (_ref: "typography:::titleFont"),
    ),
));

@include use('BookRoot', "common:::BookRoot");

//Titles
@include use('PageTitles', 'cardboard:::PageTitlesShape');
@include use('KeyTermsTitles', 'cardboard:::CompositePageTitlesShape');
//Notes
@include use('ExploringBusinessCareers', 'cardboard:::BoxedNoteWithBordersSubtitleShape');

//Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
