@import 'scheme';

/* -------------------------
 * Features
 * ------------------------
 */
$feature-style-1-body-color: #F2F2F2;
$feature-style-2-body-color: #D6D9DD;
$feature-style-3-body-color: #D3E3EB;



/* -------------------------
 * Elements
 * ------------------------
 */
$folio-chapter-header-color: $white;
$colored-text-color: $ui-red;
$body-link-color: #027eb5;
$note-link-color: #0064A0;
$folio-color: $secondary-color;
$footnote-color: #6D6F71;
$footnote-bg-color: linear-gradient(180deg, $quaternary-color, $quaternary-color);

/* -------------------------
 * Preface Titles
 * ------------------------
 */
$preface-titles-color: $secondary-color;

/* -------------------------
 * Tables
 * ------------------------
 */
$border-radius: 5px;
$table-border: 1px solid #F4F4F4;
$table-body-border-color: 1px solid rgba(0,0,0,0.1);
$table-content-color: $secondary-color;
$table-head-color: $secondary-color;
$table-header-bg-color: $quinary-color;
$th-border-color: fade(#1e7e91, 20%) !important; //this may not work
$td-border-color: "rgba(0,0,0,0,1)";
$colored-table-bg-color: $light-orange;
$first-th-bg-color: $quinary-color;
$first-th-color: $secondary-color;
$second-th-bg-color: $primary-color;
$second-th-color: $white;

/* -------------------------
 * Text Heavy Tables
 * ------------------------
 */
$text-heavy-bg-color: $white;
$text-heavy-border: 1px solid #E5E5E5 !important;
$text-heavy-color: $secondary-color;
////left column displays as a table head.
$col-header-color: $white;
$col-header-bg-color: $secondary-color;

/* -------------------------
 * TOC
 * ------------------------
 */
$toc-title-color: $secondary-color;
$toc-title-background: url("../themes/theme1/images/TOC.svg") no-repeat left;
$toc-title-icon: url("../themes/theme1/images/math-toc-icon.png");
$toc-title-color: $secondary-color;
$toc-links-color: $secondary-color;
$toc-chapter-link-color: $primary-color;
$toc-number-border-color: $quinary-color;
$toc-number-color: $primary-color;
$toc-odd-bg-color: $accent-color-tinted;
$toc-side-border-color: $accent-color;

/* -------------------------
 * Intro Page
 * ------------------------
 */
$chapter-number-bg-color: $white;
$chapter-number-color: $secondary-color;
$chapter-number-border-color: $white;
$chapter-title-color: $white;
$intro-icon: url("../themes/theme1/images/CH_intro.svg");
$intro-title-color: $primary-color;
$intro-folio-bg: transparent url('../themes/theme1/images/folio-bg.png') 0 0 repeat-x;
$splash-bottom-bar-color: $primary-color;
$splash-bottom-bar-border-top: 4px solid rgba(60 ,39, 71, .5);

/* -------------------------
 * Chapter Outline
 * ------------------------
 */
$chapter-outline-title-color: $primary-color;
$chapter-outline-sections-color: $black;
$chapter-outline-number-color: $primary-color;
$chapter-outline-link-color: $secondary-color;

/* -------------------------
 * Learning objectives
 * ------------------------
 */
$LO-title-color: $secondary-color;
$LO-section-titles-color: $primary-color;

/* -------------------------
 * Page titles (H1)
 * ------------------------
 */
$h1_title_color: $primary-color;


/* -------------------------
 * Module/page titles (H2)
 * ------------------------
 */
$h2-title-color: $secondary-color;
$module-number-border: 2px solid $quinary-color;

/* -------------------------
 * Subsection Titles (h3)
 * ------------------------
 */
$h3-title-color: $secondary-color;

/* -------------------------
 * Subsection Titles (h4)
 * ------------------------
 */
$h4-title-color: $secondary-color;

/* -------------------------
 * Subsection Titles (h5)
 * ------------------------
 */
$h5-title-color: $default-text;

/* -------------------------
 * Examples
 * ------------------------
 */
$example-bg-color: $primary-color;
$example-title-color: $white;

/* -------------------------
 * Notes
 * ------------------------
 */
$notes-title-color: $primary-color;
$notes-subtitle-color: $secondary-color;
$notes-body-text-color: $black;
$notes-border-color: #eaeaea;
$note-border-top-width: 6.125in;
/* -------------------------
 * EOC
 * ------------------------
 */
$eoc-titles-color: $secondary-color;
$eoc-subtitles-color: $secondary-color;

/* -------------------------
 * Glossary
 * ------------------------
 */
$glossary-title-color: $eoc-titles-color;



/* -------------------------
 * EOC Key Terms
 * ------------------------
 */
//$eoc-key-terms-title: see above
$key-terms-icon : url("../themes/theme1/images/key-terms-icon.svg");

/* -------------------------
 * EOC Summary
 * ------------------------
 */
$eoc-summary-title-color: $primary-color;
$eoc-summary-icon: url("../themes/theme1/images/summary-icon.svg");

/* -------------------------
 * Assessments
 * ------------------------
 */
$eoc-assessment-icon: url("../themes/theme1/images/assessments-icon.svg");

/* -------------------------
 * References
 * ------------------------
 */
 $eoc-references-icon: url("../themes/theme1/images/references-icon.svg");

/* -------------------------
 * Figure Attribution
 * ------------------------
 */
$eoc-figure-credit-icon: url("../themes/theme1/images/figure-credit-icon.svg");

/* -------------------------
 * EOB Titles
 * ------------------------
 */
$eob-title-color: $secondary-color;

/* -------------------------
 * Solutions
 * ------------------------
 */
$solutions-subheading-color: $default-text;
$solution-link-color: $default-text;

/* -------------------------
 * Captions
 * ------------------------
 */
$caption-color: $transparent-grey;
$caption-number-color: $black;

/* -------------------------
 * Appendices
 * ------------------------
 */
$appendix-title-color: $secondary-color;
$appendix-number-color: $secondary-color !important;
$appendix-number-border: 2px solid $primary-color;


$h1-number-color: $secondary-color;
$h1-number-border: 2px solid $primary-color;
/* -------------------------
 * Reference Titles
 * ------------------------
 */
$reference-title-color: $black;

/* -------------------------
 * Index
 * ------------------------
 */
$index-title-color: $secondary-color;
$index-letter-color: $secondary-color;

/* -------------------------
 * Attributions
 * ------------------------
 */
$attribution-title-color: $black;
