/* -------------------------
 * Current Order:
 * ------------------------
 */
$primary-color: #24739e;
$secondary-color: #344456;
$tertiary-color: #d34d32;
$quaternary-color: #f37541;
$quinary-color: #0dc0dc;
$accent-color: #F4F4F4;
$accent-color-tinted: #F9F9F9;
/* -------------------------
 * Generic Colors
 * ------------------------
 */
$medium-blue: #1E7E91;
$light-blue: #34BDD8;
$light-green: #C4CEBB;
$bright-green: #C6CE33;
$light-orange: #EFD8B0;
$white: #fff;
$black: #000;
$ui-red: #CC0000;
$ui-green: #47B247;
$ui-yellow: #F6D727;
$default-text: #242424;
$transparent-grey: rgba(0,0,0,.6);
