$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: side;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    'FigureSplashBg:::background-color': (_ref: "colorMap:::biologyHeaderColor")
  ),
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::biologyChapterOutlineColor"),
    'ChapterOutlineContainer:::border-bottom-color': (_ref: "colorMap:::biologyChapterOutlineColor"),
    'ChapterObjectiveLink:::font-weight': bold,
  ),
));

@include add_settings((
  LearningObjectivesAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'H3ObjectivesTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'ObjectivesListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  EvolutionNote:(
    _selectors: (".evolution"),
    group-border-color: (_ref: 'colorMap:::evolutionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::evolutionColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-evolution.svg")) no-repeat top left,
  ),
  ScientificMethodNote:(
    _selectors: (".scientific"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
  VisualConnectionNote:(
    _selectors: (".visual-connection"),
    group-border-color: (_ref: 'colorMap:::visualColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::visualColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".interactive:not(.non-majors)"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ConceptsInActionNote:(
    _selectors: (".interactive.non-majors"),
    'Container:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

@include add_settings((
  VisualExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-visual-exercise-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
  CriticalThinking: (
    _selectors: ("[data-type = 'chapter'] > .os-critical-thinking-container"),
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));

@include add_settings((
  ChapterIntroTitles: (
    _selectors: ('[data-type="page"].introduction .intro-text'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2ModuleTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  TwoColumnsModules: (
    _selectors: ('.os-glossary-container', '.os-summary-container',
                 '.os-visual-exercise-container', '.os-multiple-choice-container', '.os-critical-thinking-container'),
  ),
));

@include add_settings((
  ModuleWithoutTitleLinks: (
    _selectors: ('.os-visual-exercise-container', '.os-multiple-choice-container', '.os-critical-thinking-container'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('ScreenreaderSpan', 'common:::VisuallyHiddenShape');

// Book specific styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('LearningObjectivesAbstract', 'carnival:::LearningObjectivesColoredDotShape');
@include use('TwoColumnsModules','carnival:::ModuleWithTwoColumnsShape');
@include use('ModuleWithoutTitleLinks','common:::ModuleWithoutTitleLinksShape');
@include use('ModuleWithMarginBottom','common:::ModuleWithMarginBottomShape');

// Equations
@include use('Equation', 'carnival:::EquationShape');

// Chapter Intro
@include use('ChapterOutline', 'carnival:::ChapterOutlineShape');

//Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureSplash','carnival:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');

//EOC
@include use('KeyTerms', 'carnival:::KeyTermsShape');

// EoC Exercises
@include use('VisualExercise', 'carnival:::ExercisesModuleShape');
@include use('MultipleChoice', 'carnival:::ExercisesModuleShape');
@include use('CriticalThinking', 'carnival:::ExercisesModuleShape');

// Tables
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('TableFromEoCExercises','carnival:::TableFromExercisesShape');
@include use('TableAfterExercisePara', 'carnival:::TableTopSpacingShape');

//Notes
@include use('EverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('CareerNote','carnival:::IconNoteShape');
@include use('EvolutionNote','carnival:::IconNoteShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('VisualConnectionNote','carnival:::IconNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape'); //?
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ConceptsInActionNote', 'carnival:::IconCondensedShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('ChapterIntroTitles', 'carnival:::ChapterIntroTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('UnitTitle', 'common:::Hidden');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');
@include use('CompositePageLists', 'carnival:::CompositePageListsShape');
@include use("ExercisesProblemQuestionLists", "carnival:::ExercisesListsShape");
@include use('TableLists', 'carnival:::TableListShape');
@include use("NotesLists", "carnival:::NotesListsShape");

// EOB
@include use('Index', 'carnival:::IndexShape');
