@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  SummaryWithSectionLinks:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  VisualExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-visual-exercise-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  CriticalThinking: (
    _selectors: ("[data-type = 'chapter'] > .os-critical-thinking-container"),
    'EocHeader:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'BodyH3:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'BodyH4:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'BodyH5:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));

@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    'TitleNumber:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
  ChapterIntro: (
    _selectors: (".introduction"),
    'Outline:::background-color': (_ref: "colorMap:::biologyHeaderColor"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::biologyHeaderColor")
  ),
));

@include add_settings((
  LearningObjectiveAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'AbstractTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  EvolutionNote:(
    _selectors: (".evolution"),
    group-border-color: (_ref: 'colorMap:::evolutionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::evolutionColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-evolution.svg")) no-repeat top left,
  ),
  ScientificMethodNote:(
    _selectors: (".scientific"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
  VisualConnectionNote:(
    _selectors: (".visual-connection"),
    group-border-color: (_ref: 'colorMap:::visualColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::visualColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".interactive:not(.non-majors)"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table'),
    'TableTitle:::color': (_ref: "colorMap:::biologyTableColor"),
    'LastTableRowData:::border-bottom-color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

@include add_settings((
  Appendix: (
    _selectors: (".appendix"),
    'MainText:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'SubTitle:::color': (_ref: "colorMap:::biologyHeaderColor"),
    'SubSubTitle:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));

//@use
@include use('BookRoot', "common:::BookRoot");
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('SummaryWithSectionLinks','carnival:::EocSummaryWithSectionLink');
@include use('VisualExercise', 'carnival:::EocExerciseWithoutSubtitle');
@include use('MultipleChoice', 'carnival:::EocExerciseWithoutSubtitle');
@include use('CriticalThinking', 'carnival:::EocExerciseWithoutSubtitle');
@include use('LearningObjectiveAbstract', 'carnival:::LearningObjectiveAbstractShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');
@include use('Link', 'carnival:::Link');
@include use('Chapter', 'carnival:::Chapter');
@include use('ChapterIntro', 'carnival:::ChapterIntroShape');
@include use('UnitTitle', 'common:::Hidden');
@include use('Module', 'carnival:::ModuleShape');
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('FigureContainer','carnival:::Figure');
@include use('Footnotes', 'carnival:::FootnotesShape');
@include use('FootnoteCall', 'carnival:::FootnotesCallShape');
@include use('Term', 'carnival:::Term');
@include use('Equation', 'carnival:::EquationShape');
@include use('IFrame', 'common:::Hidden');

//notes
@include use('EverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('CareerNote','carnival:::IconNoteShape');
@include use('EvolutionNote','carnival:::IconNoteShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('VisualConnectionNote','carnival:::IconNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape'); //?
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');

[data-type="chapter"] {
  page: chapter;
  prince-page-group: start;
  page-break-before: right;
}

.os-eoc.os-glossary-container {
  page: eoc;
  prince-page-group: start;
}

.appendix {
  page: appendix;
  prince-page-group: start;
}

.os-eob[data-type="composite-chapter"] {
  page: eob;
  prince-page-group: start;
}
.os-eoc {
  page: eoc;
}

.appendix {
  page: appendix;
}

.os-eob {
  page: eob;
}

$bandColor: settings('scheme:::B7');
$bandBorder: half-fullBleedsSize(.5, in) solid $bandColor;

@mixin band($side) {
  content: " ";
  border-#{$side}: $bandBorder;
  @if $side == "right" {
    padding: fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) fullBleedsPadding(0, rem) 0;
    margin: fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) fullBleedsMargin(0, rem) 0;
  } @else if $side == "left" {
    padding: fullBleedsPadding(0, rem) 0 fullBleedsPadding(0, rem) fullBleedsPadding(0, rem);
    margin: fullBleedsMargin(0, rem) 0 fullBleedsMargin(0, rem) fullBleedsMargin(0, rem);
  }
}

@mixin setPageBorder($page-type, $type, $side) {
  @page #{$page-type}:#{$type} {
    @if $side == "left" {
      @left-middle {
        @content;
      }
      @top-left-corner {
        @content;
      }
      @bottom-left-corner {
        @content;
      }
      @left-bottom {
        @content;
      }
      @left-top {
        @content;
      }
    } @else if $side == "right" {
      @right-middle {
        @content;
      }
      @top-right-corner {
        @content;
      }
      @bottom-right-corner {
        @content;
      }
      @right-bottom {
        @content;
      }
      @right-top {
        @content;
      }
    }
  }
}

@include setPageBorder("eoc", "left", "left") {
  @include band("left");
}

@include setPageBorder("eoc", "right", "right") {
  @include band("right");
}

@include setPageBorder("eoc", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eoc", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "left", "left") {
  @include band("left");
}

@include setPageBorder("appendix", "right", "right") {
  @include band("right");
}

@include setPageBorder("appendix", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("appendix", "blank", "right") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "left", "left") {
  @include band("left");
}

@include setPageBorder("eob", "right", "right") {
  @include band("right");
}

@include setPageBorder("eob", "blank", "left") {
  content: none;
  border: none;
}
@include setPageBorder("eob", "blank", "right") {
  content: none;
  border: none;
}

@page {
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 0.8in;
  margin-top: 0.8in;
}

@page chapter:first {
  margin-right: 2in;
}

@page chapter:nth(2) {
  margin-right: 2in;
}
