@import 'framework/framework';
@import '../../templates/template1/design.scss';
@import '../../templates/template1/settings.scss';

@include add_settings((
  Preface: (
    _selectors: (".preface"),
    'Header:::color': (_ref: 'colorMap:::pagetitleColor'),
    'Header:::font-family': (_ref: 'typography:::sansFont'),
    'Header:::border-bottom-color': (_ref: 'colorMap:::pagetitleColor'),
    'BodyH3:::font-family': (_ref: 'typography:::titleFont'),
    'BodyH3:::color': (_ref: "colorMap:::prefaceTitleColor"),
    'BodyH4:::font-family': (_ref: 'typography:::titleFont'),
    'BodyH4:::color': (_ref: "colorMap:::prefaceTitleColor"),
  ),
));

@include add_settings((
    EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-career.svg") no-repeat top left,
  ),
  EvolutionNote:(
    _selectors: (".evolution"),
    group-border-color: (_ref: 'colorMap:::evolutionColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::evolutionColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-evolution.svg") no-repeat top left,
  ),
  ScientificMethodNote:(
    _selectors: (".scientific"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url("../../styles/designs/carnival/resources/carnival-scientific.svg") no-repeat top left,
  ),
  VisualConnectionNote:(
    _selectors: (".visual-connection"),
    group-border-color: (_ref: 'colorMap:::visualColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::visualColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-visualconnection.svg") no-repeat top left,
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url("../../styles/designs/carnival/resources/carnival-interconnect.svg") no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".link-to-learning"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleFont'),
    'Icon:::background': url("../../styles/designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left,
  ),
));

//@use
@include use('BookRoot', "common:::BookRoot");
@include use('Preface','carnival:::Preface');
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('KeyEquation','carnival:::EocKeyEqu');
@include use('SectionSummary','carnival:::EocSummary');
@include use('Exercise','carnival:::EocExercise');
@include use('LearningObjective', 'carnival:::LearningObjectiveShape');
@include use('Appendix', 'carnival:::AppendixShape');
@include use('Index', 'carnival:::IndexShape');

//notes
@include use('EverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('CareerNote','carnival:::IconNoteShape');
@include use('EvolutionNote','carnival:::IconNoteShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('VisualConnectionNote','carnival:::IconNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape'); //?
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
