$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob.os-index-container', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #0074BC;

$ChapterIntroType: side;

@import 'framework/framework';
@import '../../design-settings/carnival/_design.scss';
@import '../../design-settings/carnival/_settings.scss';
@import '../../designs/carnival/pdf/folio';

@include add_settings((
  UnitToc:(
    _selectors: ('nav#toc'),
    'TocTitleWord:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocTitleWord:::border-bottom-color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocUnitLink:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'TocChapterNumber:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  ChapterIntroMargin: (
    _selectors: (".introduction"),
    'SplashFigureBg:::background-color': (_ref: "colorMap:::biologyHeaderColor")
  ),
  ChapterOutlineMargin: (
    _selectors: (".os-chapter-outline"),
    'ChapterOutlineContainerMargin:::background-color': (_ref: "colorMap:::biologyChapterOutlineColor"),
  ),
));

@include add_settings((
  LearningObjectivesAbstract: (
    _selectors: ('[data-type="page"] > [data-type="abstract"]'),
    'H3ObjectivesTitle:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'ListDot:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EverydayConnectionNote:(
    _selectors:(".everyday"),
    group-border-color: (_ref: 'colorMap:::everydayConnectionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::everydayConnectionColor'),
  ),
  CareerNote:(
    _selectors: (".career"),
    group-border-color: (_ref: 'colorMap:::careerColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::careerColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-career.svg")) no-repeat top left,
  ),
  EvolutionNote:(
    _selectors: (".evolution"),
    group-border-color: (_ref: 'colorMap:::evolutionColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::evolutionColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-evolution.svg")) no-repeat top left,
  ),
  ScientificMethodNote:(
    _selectors: (".scientific"),
    group-border-color: (_ref: 'colorMap:::scienceColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::scienceColor'),
    'TitleIcon:::background':  url(toDataUri("svg+xml", "designs/carnival/resources/carnival-scientific.svg")) no-repeat top left,
  ),
  VisualConnectionNote:(
    _selectors: (".visual-connection"),
    group-border-color: (_ref: 'colorMap:::visualColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::visualColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-visualconnection.svg")) no-repeat top left,
  ),
  InterconnectNote:(
    _selectors: (".sciences-interconnect"),
    group-border-color: (_ref: 'colorMap:::interconnectedColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Title:::color': (_ref: 'colorMap:::interconnectedColor'),
    'TitleIcon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-interconnect.svg")) no-repeat top left,
  ),
  LinkToLearningNote:(
    _selectors: (".interactive:not(.non-majors)"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
  ConceptsInActionNote:(
    _selectors: (".interactive.non-majors"),
    'Body:::border-bottom-color': (_ref: 'colorMap:::linkToLearningColor'),
    'Title:::font-family': (_ref: 'typography:::titleOption1Font'),
    'Icon:::background': url(toDataUri("svg+xml", "designs/carnival/resources/carnival-linktolearning.svg")) no-repeat top left,
  ),
));

@include add_settings((
  FakeTitleTable: (
    _selectors: ('.os-table.os-top-titled-container'),
    'TableTitle:::color': (_ref: "colorMap:::biologyTableColor"),
  ),
));

//EOC, define colors and column layout for all eoc sections here.This should be treated exactly like notes, where we use generic components and book specfic setting for each one of them. There is quite a bit of repetion but this keeps everything cleanly in here and follows the same principles as the notes.

//Can we convert those into group settings? A mixin? Something to DRY it.
@include add_settings((
  KeyTerm:(
    _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  EocSummary:(
    _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
  ),
  VisualExercise: (
    _selectors: ("[data-type = 'chapter'] > .os-visual-exercise-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  MultipleChoice: (
    _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
  CriticalThinking: (
    _selectors: ("[data-type = 'chapter'] > .os-critical-thinking-container"),
    'Container:::column-count': 2,
    'Container:::column-gap': 2.4rem,
    'Container:::column-width': auto,
    'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
    'Table:::max-width': 100%,
    'Table:::table-layout': fixed,
    'TableData:::text-align': center,
    'TableData:::padding-right': $columnTablePadding,
    'TableData:::padding-left': $columnTablePadding,
    'SectionMarginBottom:::margin-bottom': 0,
  ),
));

//Titles
@include add_settings((
  ChapterTitles: (
    _selectors: ('[data-type="chapter"]'),
    'H1Chapter:::color': (_ref: "colorMap:::biologyHeaderColor"),
  ),
));

@include add_settings((
  PageTitles: (
    _selectors: ('[data-type="page"]:not(.introduction)'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H4Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H1AppendixText:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EocCompositePageTitles: (
    _selectors: ('[data-type="chapter"] > .os-eoc[data-type="composite-page"]'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include add_settings((
  EobTitles: (
    _selectors: ('.os-eob'),
    'H2Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
    'H3Title:::color': (_ref: 'colorMap:::biologyHeaderColor'),
  ),
));

@include use('BookRoot', "common:::BookRoot");
@include use('Link', 'carnival:::Link');
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');

// Book specific styles
@include use('UnitToc', 'carnival:::UnitToc');
@include use('Preface','carnival:::Preface'); //remove when clean up work for lists be done
@include use('ContentExercises','carnival:::ExerciseShape');
@include use('LearningObjectivesAbstract', 'carnival:::LearningObjectivesShape');

// Equations
@include use('Equation', 'carnival:::EquationShape');

// Chapter Intro
@include use('ChapterIntroMargin', 'carnival:::ChapterIntroMarginShape');
@include use('ChapterOutlineMargin', 'carnival:::ChapterOutlineMarginShape');

//Figures
@include use('Figure','carnival:::FigureShape');
@include use('FigureAfterSubtitle', 'carnival:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'carnival:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'carnival:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'carnival:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','carnival:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','carnival:::FigureFromExercisesShape');

//EOC
@include use('KeyTerm','carnival:::EocKeyTerm');
@include use('EocSummary','carnival:::EocSummary');
@include use('VisualExercise', 'carnival:::EOCAssesmentsShape');
@include use('MultipleChoice', 'carnival:::EOCAssesmentsShape');
@include use('CriticalThinking', 'carnival:::EOCAssesmentsShape');

// Tables
@include use('BasicTable', 'carnival:::BasicTableShape');
@include use('FakeTitleTable', 'carnival:::FakeTitleTableShape');
@include use('UnnumberedUnstyledTable', 'carnival:::UnnumberedUnstyledTable');


//Notes
@include use('EverydayConnectionNote','carnival:::BoxedNoteShape');
@include use('CareerNote','carnival:::IconNoteShape');
@include use('EvolutionNote','carnival:::IconNoteShape');
@include use('ScientificMethodNote','carnival:::IconNoteShape');
@include use('VisualConnectionNote','carnival:::IconNoteShape');
@include use('InterconnectNote', 'carnival:::IconNoteShape'); //?
@include use('LinkToLearningNote', 'carnival:::IconCondensedShape');
@include use('ConceptsInActionNote', 'carnival:::IconCondensedShape');

//Titles
@include use('ChapterTitles', 'carnival:::ChapterTitlesShape');
@include use('PageTitles', 'carnival:::PageTitlesShape');
@include use('EocCompositePageTitles', 'carnival:::EocCompositePageTitlesShape');
@include use('EobTitles', 'carnival:::EobTitlesShape');
@include use('ChapterModuleTitles', 'carnival:::ChapterModuleTitlesShape'); //remove when clean up work for lists be done
@include use('UnitTitle', 'common:::Hidden');

//Lists
@include use('PageLists', 'carnival:::PageListsShape');

// EOB
@include use('Index', 'carnival:::IndexShape');
