@include add_settings((
    AnswerKey: (
        _selectors: ('[data-type="composite-chapter"]:not(.os-eoc)'),
        H1Title: (
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
        ),
        H2Title: (
            color: (_ref: 'colorMap:::chemistryHeaderColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H3Title: (
            color: (_ref: 'colorMap:::chemistryHeaderColor'),
            font-family:(_ref: 'typography:::serifFont'), 
        ),
        Number: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        SolutionContainerSpecific: (
            vertical-align: bottom,
            padding-top: v-spacing(1),
        ),
    ),
));
