@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    AnswerKey: (
        _selectors: ('[data-type="composite-chapter"]'),
        Container: (

        ),
        TitleContainer: (
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
            padding-bottom: v-grid(1),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(5),
        ),
        ChapterContainer: (
            padding-bottom: v-grid(3),
        ),
        Title: (
            font-family: (_ref: 'typography:::titleFont'),
            font-weight: 700,
        ),
        Number: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));
