@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        MainNumber: (
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
            padding-bottom: v-spacing(1), 
            margin-bottom: v-spacing(2),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(5),
        ),
        MainText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
        ),
        SubTitle: (
            color: (_ref: 'colorMap:::chemistryHeaderColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        SubSubTitle: (
            color: (_ref: 'colorMap:::chemistryHeaderColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
    ),

));
