@import 'templates/template1/colors';
@import 'templates/template1/typography';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        TitleContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: "IBM Plex Sans",
            font-size: 2.448rem,
            font-weight: bold,
            text-transform: uppercase,
        ),
        MainNumber: (
            display: block,
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
            padding-bottom: 2rem,
            margin-bottom: 2.2rem,
        ),
        MainDivider: (
            display: none,
        ),
        MainText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: "Muli",
            font-size: 3.583rem,
            font-weight: normal,
        ),
        TitleText: (
            content: "'APPENDIX '",
        ),
        Layer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: "Alegreya",
            font-size: 1.44rem,
            font-weight: normal,
        ),
        SubTitle: (
            color: (_ref: 'colorMap:::subsubtitleColor'),
            font-family: "IBM Plex Sans",
            font-size: 2rem,
            font-weight: normal,
        ),
    ),
));