@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        TitleNumber: (
            padding-bottom: v-spacing(1), 
            margin-bottom: v-spacing(2),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(7),
            line-height: line-height(5),
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor')
        ),
        TitleText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
        ),
        H1Title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            text-transform: none,
        ),
        H2Title: (
            color: (_ref: 'colorMap:::carnivalAppendixColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        H3Title: (
            color: (_ref: 'colorMap:::carnivalAppendixColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
    ),

));
