@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Appendix: (
        _selectors: (".appendix"),
        TitleContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
        ),
        MainNumber: (
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            border-bottom-width: not-implemented(0.1rem),
            border-bottom-style: solid,
            padding-bottom: not-implemented(2rem),
            margin-bottom: not-implemented(2.2rem),
        ),
        MainText: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),

        ),
        TitleText: (
            content: "'APPENDIX '",
        ),
        SubTitle: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(4),
            line-height: line-height(4),
        ),
        SubSubTitle: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(3),
            line-height: line-height(3),
        ),
    ),
));
