@include add_settings((
    CareerIcon:(
        _selectors:(".career"),

        TopStrokeTitle:(
            font-family: (_ref:'typography:::titleFont'), //title
            font-size: not_implemented(1.44rem),
            text-transform: uppercase,
            padding-right: 100%,
            color: (_ref: "colorMap:::summarytitleColor"),
            line-height: not_implemented(1.4rem),
            padding-bottom: not_implemented(.2rem),
            border-bottom-width: .2rem,//top stroke 
            border-bottom-style:solid,
            border-bottom-color: (_ref: "colorMap:::interconnectedColor"),
        ),

        BottomStroke:(
            border-bottom-width: .2rem,
            border-bottom-style:solid,
            border-bottom-color: (_ref: "colorMap:::interconnectedColor"),
        ),

        Icon:(
            background: url("../../styles/designs/carnival/resources/carnival-career.svg"),
            height: not_implemented(3.5rem),
            width: not_implemented(3.5rem),
            bottom: not_implemented(-1rem),
        ),
    ),
));