@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Career: (
        _selectors: (".career"),
        Container: (
            font-family: (_ref: 'typography:::sansFont'),
        )
        Border: (
            border-bottom-color: (_ref: 'colorMap:::careerColor'),
        ),
        Title: (
            font-family: (_ref: 'typography:::serifFont'),
            font-size: not_implemented(1rem),
            border-bottom-color: (_ref: 'colorMap:::careerColor'),
        ),
        TitleText: (
            max-width: not_implemented(15rem),
            margin-bottom: not_implemented(.2rem),
        ),
        TitleIcon: (
            background: url("../../styles/designs/carnival/resources/carnival-career.svg") no-repeat top left,
            height: not_implemented(3.5rem),
            width: not_implemented(3.5rem),
            padding-right: not_implemented(0.4rem),
            bottom: not_implemented(-0.5rem),
        ),
    ),
));