@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    TitleNumber: (
        font-family: (_ref: 'typography:::titleFont'),
        //color: book specific, defined in book.scss file
    ),
    TitleText: (
        font-family: (_ref: 'typography:::sansFont'),
    ),
  ),
));