@include add_settings((
  Chapter: (
    _selectors: ('[data-type="chapter"]'),
    TitleNumber: (
      color: (_ref: "colorMap:::chapterOutlineColor"),
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TitleText: (
      font-family: 'IBM Plex Sans'
    )
  ),
));

@include create_subshape('carnival:::AnatomyChapter', 'carnival:::Chapter', (
  TitleNumber: (
    color: (_ref: "colorMap:::anatomyHeaderColor"),
  ),
));
