@import 'styles/designs/carnival/parts/chapterintro-shapes';
@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        ChapterIntroTitle: (),
        SplashImage: (
            Image: (),
            Caption: (),
        ),
        ChapterOutline: (
            background-color: blue,
            color: white,
            padding: 1em,
            Title: (
                border-bottom-style: solid,
            ),
            Objective: (
                color: white,
            ),
        ),
        Content: (),
    )
))