@import 'styles/designs/carnival/parts/chapterintro-shapes';
@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    ChapterIntro: (
        _selectors: (".introduction"),
        Outline: (
            background-color: (_ref: "colorMap:::chapterOutlineColor"),
            color: (_ref: "colorMap:::chapterOutlineTextColor"),
            // min-width: not_implemented(15.6rem),
            // margin: not_implemented(0rem -9rem 0rem 1.5rem),
            padding: 1.5rem 0 1.5rem 1.5rem,
        ),
        OutlineTitle: (
            border-bottom: 1px solid white,
            padding: 0 1.5rem .5rem 0,
            margin: .5rem 0 .5rem 0,
            font-size: font-scale(2),
            line-height: line-height(2)
        ),
        ChapterOutlineObjective: (
            font-family: (_ref: "typography:::sansFontMedium"),
            margin-bottom: .5rem,
            padding-right: 1.5em,
        ),
        ChapterOutlineObjectiveText: (
            margin-left: .5rem,
        ),
        OutlineObjectiveLink: (
            color: white,
            text-decoration: none,
        ),
        IntroContentHeader: (
            font-family: (_ref: 'typography:::baseFont'),
            font-size: (_ref: 'typography:::baseFontSize'),
            text-transform: uppercase,
            margin: 0 .5rem 0 0,
            font-weight: 700,
        ),
        IntroFirstPara: (
            margin-top: 0,
        ),
        FigureNum: (
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        FigureTitle: (
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,
            font-size: font-scale(1),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        Caption: (
            font-family:(_ref:'typography:::sansFont'), 
            font-size: font-scale(1), 
        ),
        SplashFigureBg: (
            background-color: (_ref: "colorMap:::chapterOutlineColor")
        ),
        SplashCaptionBg: (
            background-color: (_ref: "colorMap:::chapterSplashCaptionColor")
        ),
    )
));
