@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Diseases: (
        _selectors: (".diseases"),
        group-border-width: 0.2rem,
        group-border-color: (_ref: 'colorMap:::diseaseColor'),
        Container: (
            padding-left:h-grid(1),
            padding-right: h-grid(1),
            margin-bottom: 3rem,
        ),
        TopBorder: (
            margin-left:-1.2rem,
            padding: 0 h-grid(1),
        ),
        BottomBorder: (
            margin-left: -1.2rem,
            padding: 0h-grid(1),
        ),
        Title: (
            color: (_ref: 'colorMap:::diseaseColor'),
            font-family: (_ref: 'typography:::titleFont'),
            margin-top: 0,
            margin-bottom: 0.5rem,
            border-bottom-color: (_ref: 'colorMap:::diseaseColor'),
            padding-bottom: 0.5rem,
        ),
        Body: (
            font-family: (_ref: 'typography:::sansFont'),
        ),
        Subtitle: (
            margin-top: 0,
            margin-bottom: 0.8rem,
        ),
        Text: (
            margin-top: 0,
            margin-bottom: 1.5rem,
        ),
        Link: (
            color: (_ref: 'colorMap:::figureTextColor'),
        ),
    ),
));