@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Disorders: (
        _selectors: (".disorders"),
        group-border-width: not_implemented(0.2rem),
        group-border-color: (_ref: 'colorMap:::disordersColor'),
        Container: (
            padding-left: not_implemented(1em),
            padding-right: not_implemented(1rem),
            margin-bottom: not_implemented(3rem),
        ),
        TopBorder: (
            margin-left: not_implemented(-1.2rem),
            padding: not_implemented(0) not_implemented(1em),
        ),
        BottomBorder: (
            margin-left: not_implemented(-1.2rem),
            padding: not_implemented(0) not_implemented(1em),
        ),
        Title: (
            color: (_ref: 'colorMap:::disordersColor'),
            font-family: (_ref: 'typography:::titleFont'),
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.5rem),
            border-bottom-color: (_ref: 'colorMap:::disordersColor'),
            padding-bottom: not_implemented(0.5rem),
        ),
        Body: (
            font-family: (_ref: 'typography:::sansFont'),
        ),
        Subtitle: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.8rem),
        ),
        Text: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(1.5rem),
        ),
        Link: (
            color: (_ref: 'colorMap:::figureTextColor'),
        ),
    ),
));