@include add_settings((
    //TODO add margins after all the containers.
    KeyTerm:(
        _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        TermDL: (
            text-indent: h-spacing(-2),
            padding-left: h-spacing(2),
        ),
        Term:(
            font-weight: bold,
            padding-right: h-spacing(1),
            display: inline,
        ),
        TermDD: (
            display: inline,
            margin-left: h-spacing(0),
        ),
    ),

    KeyEquation:(
        _selectors: (".os-eoc.os-key-equations-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        TableContainer: (
            margin-bottom: column-v-spacing(2),
        ),
        TableData: (
            padding: v-column-v-spacing(1) h-spacing(1), 
        ), 
        TableHeadCell: (
            padding: v-column-v-spacing(1) h-spacing(1),
        )
    ),

    Summary:(
        _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3Title:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,

            margin-bottom: 0,
        ),
    ),
    SectionSummary:(
        _selectors: ("[data-type = 'chapter'] > .os-section-summary-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
    ),
    //TODO ex. numbers stuff
    Exercise:(
        _selectors: ("[data-type = 'chapter'] > .os-exercises-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        SectionTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,

            margin-bottom: 0,
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
    ),
    ReviewQuestions:(
        _selectors: ("[data-type = 'chapter'] > .os-review-questions-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        SectionTitle: (
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,

            margin-bottom: 0,
        ),
    ),
    InteractiveExercise: (
        _selectors: ("[data-type = 'chapter'] > .os-interactive-exercise-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
    ),
    MultipleChoice: (
        _selectors: ("[data-type = 'chapter'] > .os-multiple-choice-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
    ),
    FreeResponse: (
        _selectors: ("[data-type = 'chapter'] > .os-free-response-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
    ),
    CriticalThinking: (
        _selectors: ("[data-type = 'chapter'] > .os-critical-thinking-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
        ExerciseTableRow: (
            text-align: center,
            padding: v-spacing h-spacing(.5),
        ),
    ),
    VisualExercise: (
        _selectors: ("[data-type = 'chapter'] > .os-visual-exercise-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
    ),
    Review: (
        _selectors: ("[data-type = 'chapter'] > .os-review-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
            // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
        ExerciseTableRow: (
            text-align: center,
            padding: v-spacing h-spacing(.5),
        ),
    ),
    TestPrep: (
        _selectors: ("[data-type = 'chapter'] > .os-ap-test-prep-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
        ExerciseTableRow: (
            text-align: center,
            padding: v-spacing h-spacing(.5),
        ),
    ),
    SciencePractice: (
        _selectors: ("[data-type = 'chapter'] > .os-science-practice-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
        ExerciseTableRow: (
            text-align: center,
            padding: v-spacing h-spacing(.5),
        ),
    ),
    ConceptualQuestions:(
        _selectors: ("[data-type = 'chapter'] > .os-conceptual-questions-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
    ),
    ProblemsExercises: (
        _selectors: ("[data-type = 'chapter'] > .os-problems-exercises-container"),
        Container: (
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
        ExerciseTable: (
            table-layout: fixed,
            width: 100%,
        ),
    ),
    KeyEquationWithSectionLinks:(
        _selectors: (".os-eoc.os-key-equations-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        TableData: (
            padding: table-v-spacing(1) table-h-spacing(1), 
        ), 
        TableHeadCell: (
            padding: table-v-spacing(1) table-h-spacing(1),
        )
    ),
    SummaryWithSectionLinks:(
        _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
    ),
    ChapterReviewCompositeChapter: (
        _selectors: (".os-chapter-review-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
    ),
    ConceptCompChapPage: (
        _selectors: (".os-concept-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    CriticalThinkingCompChapPage: (
        _selectors: (".os-critical-thinking-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ProblemsCompChapPage: (
        _selectors: (".os-problems-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    PerformanceCompChapPage: (
        _selectors: (".os-performance-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    TestPrepCompositeChapter: (
        _selectors: (".os-test-prep-container"),
        H2Title:(
            font-family: (_ref: 'typography:::sansFont'),
            text-transform: uppercase,
             // color: book specific, defined in book.scss file
        ),
    ),
    MultipleChoiceCompChapPage: (
        _selectors: (".os-multiple-choice-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ShortAnswerCompChapPage: (
        _selectors: (".os-short-answer-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ExtendedResponseCompChapPage: (
        _selectors: (".os-extended-response-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ConceptualQuestionsCompChapPage: (
        _selectors: (".os-review-conceptual-questions-container"),
        Container:(
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ProblemsCompChapPageWithTwoColumns: (
        _selectors: (".os-review-problems-container"),
        Container:(
            column-count: 2,
            column-gap: 2.4rem,
            column-width: auto,
        ),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1)
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    AdditionalProblems: (
        _selectors: (".os-review-additional-problems-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
    ChallengeProblems: (
        _selectors: (".os-review-challenge-container"),
        H3Title:(
            font-family: (_ref: 'typography:::sansFont'),
            column-span: all,
             // color: book specific, defined in book.scss file
        ),
        H3LinkTitle:(
            font-family: (_ref:'typography:::titleFont'),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-spacing(1),
        ),
        ExerciseFigure: (
            max-width: 100%,
        ),
    ),
));
