@include add_settings((
    //TODO add margins after all the containers.
    KeyTerm:(
        _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
        KeytermContainer: (
            margin-bottom: v-grid(4)
        ),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        TermDL: (
            text-indent: h-grid(1),
            margin-left: h-grid(-1),
        ),
        Term:(
            font-weight: bold,
            margin-right: h-grid(1),
            display: inline,
        ),
        TermDD: (
            margin-left: h-grid(1),
            display: inline,
        ),
    ),

    KeyEquation:(
        _selectors: ("[data-type = 'chapter'] > .os-key-equations-container"),
        EquationContainer: (
            margin-bottom: v-grid(4)
        ),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        EquationsTable:(
            padding-bottom: 0
        ),
        EquationsList: (
            list-style: none,
            padding-left: 0,
            padding-bottom: 0
        )
    ),

    SectionSummary:(
        _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        SummaryContainer: (
            margin-bottom: v-grid(4)
        ),
        SummaryTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: 800,
            font-size: font-scale(2),
            line-height: line-height(2),
            margin-bottom: 0,
        ),
    ),
    //TODO ex. numbers stuff
    Exercise:(
        _selectors: ("[data-type = 'chapter'] > .os-exercises-container"),
        ExerciseContainer: (
            margin-bottom: v-grid(4)
        ),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4), 
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        ExerciseTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: 800,
            font-size: font-scale(2),
            line-height: line-height(2),
            margin-bottom: 0,
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            padding-right: h-grid(1)
        ),
    ),
));
