@include add_settings((
    //TODO add margins after all the containers.
    KeyTerm:(
        _selectors: ("[data-type = 'chapter'] > .os-glossary-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        TermDL: (
            text-indent: h-grid(1),
            margin-left: h-grid(-1),
        ),
        Term:(
            font-weight: bold,
            margin-right: h-grid(1),
            display: inline,
        ),
        TermDD: (
            margin-left: h-grid(1),
            display: inline,
        ),
    ),

    KeyEquation:(
        _selectors: (".os-eoc.os-key-equations-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        TableContainer: (
            margin-bottom: v-grid(2),
        ),
        TableData: (
            padding: v-grid(1) h-grid(1), 
        ), 
        TableHeadCell: (
            padding: v-grid(1) h-grid(1),
        )
    ),

    SectionSummary:(
        _selectors: ("[data-type = 'chapter'] > .os-summary-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4),
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        SectionTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: 800,
            font-size: font-scale(2),
            line-height: line-height(2),
            margin-bottom: 0,
        ),
    ),
    //TODO ex. numbers stuff
    Exercise:(
        _selectors: ("[data-type = 'chapter'] > .os-exercises-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4), 
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::chemEOCHeaderColor'),
        ),
        SectionTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: 800,
            font-size: font-scale(2),
            line-height: line-height(2),
            margin-bottom: 0,
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-weight: bold,
            text-decoration: none,
        ),
        ProblemDivider: (
            margin-right: h-grid(1)
        ),
    ),
    ReviewQuestions:(
        _selectors: ("[data-type = 'chapter'] > .os-review-questions-container"),
        EocHeader:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            font-size: font-scale(4), 
            line-height: line-height(4),
            text-transform: uppercase,
            color: (_ref: 'colorMap:::microbioHeaderColor'),
        ),
        SectionTitle: (
            font-family: (_ref:'typography:::titleFont'),
            font-weight: 800,
            font-size: font-scale(2),
            line-height: line-height(2),
            margin-bottom: 0,
        ),
    ),
));
