@include add_settings((
    Equation:(
        _selectors: ('[data-type="equation"]'),
    ),
    NumberedEquation:(
        _selectors: ('[data-type="equation"]'),
        EquationContainer: (
            position: relative,
            flex-direction: row,
        ),
        EquationNumber: (
            border-width: 0.025rem,
            border-style: solid,
        ),
    ),
));