@import 'styles/designs/carnival/parts/borderfeature-spaces';
@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    EverydayLife: (
        _selectors: (".everyday-life"),
        _groups: (
            group-border-style: solid,
            group-border-width: not_implemented(0.2rem),
            group-border-color: (_ref: 'colorMap:::everydayLifeColor'),
        ),
        Container: (
            padding-left: not_implemented(1em),
            padding-right: not_implemented(1rem),
            margin-bottom: not_implemented(3rem),
        ),
        TopBorder: (
            height: not_implemented(1rem),
            width: not_implemented(100%),
            content: "''",
            margin-left: not_implemented(-1.2rem),
            padding: not_implemented(0) not_implemented(1em),
        ),
        BottomBorder: (
            height: not_implemented(1rem),
            width: not_implemented(100%),
            margin-left: not_implemented(-1.2rem),
            padding: not_implemented(0) not_implemented(1em),
        ),
        Title: (
            color: (_ref: 'colorMap:::everydayLifeColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: not_implemented(1.44em),
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.5rem),
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-color: (_ref: 'colorMap:::everydayLifeColor'),
            padding-bottom: not_implemented(0.5rem),
        ),
        Body: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: (_ref: 'typography:::exampleFontSize'),
        ),
        Subtitle: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(0.8rem),
            font-size: not_implemented(1.44em),
        ),
        Text: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(1.5rem),
        ),
        Link: (
            color: (_ref: 'colorMap:::figureTextColor'),
        ),
    ),
));