@include add_settings((
    ContentExercises: (
        _selectors: (':not(.os-note-body) > [data-type="exercise"]'),
        ProblemSolutionNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        SolutionTitle: (
            font-family: (_ref: "typography:::sansFont"),
        ),
    ),
));