@include add_settings((
    RegularExercise: (
        _selectors: ('[data-type="exercise"]'),
        ProblemContainerSpecific: (
            vertical-align: bottom,
            padding-top: half-v-grid(1),
        ),
        ProblemNumber: (
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
        SolutionTitle: (
            font-family: (_ref: "typography:::sansFont"),
        ),
    ),
));