@include add_settings((
    PracticeProblemsExercises:(
        _selectors: ('.practice-problems [data-type="exercise"]'),
        ProblemDivider: (
            margin-right: h-grid(1)
        ),
    ),
    CheckUnderstandingExercises:(
        _selectors: ('.check-understanding [data-type="exercise"]'),
        ProblemDivider: (
            margin-right: h-grid(1)
        ),
    ),
));