
@include add_settings((
    FigureContainer:(
        _selectors: ("[data-type='chapter'] > [data-type='page'] .os-figure:not(.has-splash)"),
        
        Caption:(
            font-family:(_ref:'typography:::sansFont'), 
            font-size: not_implemented(1.2rem), 
        ),

        FigureNum:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,
            font-size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),

        FigureTitle:(
            font-family: (_ref:'typography:::titleFont'),
            font-weight: bold,
            font-size: not_implemented(1.2rem),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),

        PicCaption:(
            padding-bottom: not_implemented(1.0rem),
        ),
    ),
));
