@include add_settings((
    Figure:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionContainer:(
            display: table,
            margin-left: auto,
            margin-right: auto,
            margin-bottom: v-spacing(1),
        ),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleFont'),
            color: (_ref:"colorMap:::figureNumberColor"),
            font-size: font-scale(-1),
            line-height: line-height(0),
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleFont'),
            color: (_ref:"colorMap:::figureNumberColor"),
            display: inline-block,
            margin-right: h-spacing(1),
            font-size: font-scale(-1),
            line-height: line-height(0),
        ),
        CaptionDivider: (
            font-size: font-scale(-1),
            line-height: line-height(0),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleFont'),
            font-size: font-scale(-1),
            line-height: line-height(0),
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'), 
            font-size: font-scale(-1),
            line-height: line-height(0),
        ),
    ),
));
