@include add_settings((
    FigureContainer:(
        _selectors: (".os-figure:not(.has-splash)"),
        CaptionContainer:(
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        CaptionText:(
            font-family:(_ref:'typography:::sansFont'), 
        ),
        CaptionNumber:(
            font-family: (_ref:'typography:::titleFont'),
            color: (_ref:"colorMap:::figureNumberColor"),
            display: inline-block,
            margin-right: h-spacing(1),
        ),
        CaptionTitleLabel:(
            font-family: (_ref:'typography:::titleFont'),
            color: (_ref:"colorMap:::figureNumberColor"),
        ),
        CaptionTitle: (
            font-family: (_ref:'typography:::titleFont'),
        ),
    ),
));
