@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings ((
    Footnotes: (
        _selectors: ('[data-type = "footnote-refs"]'),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            line-height: line-height(0),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
        Border: (
            border-top-color: (_ref: 'colorMap:::fontBodyColor'),
            border-top-width: 0.5pt,
            width: h-grid(11),
            padding-bottom: v-grid(1),
        ),
        Title: (
            display: none,
        ),
        List: (
            list-style: none,
            margin: 0,
            padding: 0,
        ),
        Link: (
            text-decoration: none,
            color: inherit,
        ),
        FootnoteCall: (
            content: none,
        ),
        FootnoteMarker: (
            content: none,
        ),
    ),
    FootnoteCall: (
        _selectors: ('[data-type="footnote-number"]'),
        DefaultFootnoteCall: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            line-height: line-height(0),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(-1),
        ),
        CallLink: (
            text-decoration: none,
            color: inherit,
        ),
    ),
));
