@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        Container: (
        ),
        H1Title: (
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
            color: (_ref: 'colorMap:::pagetitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
        ),

        Group: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        GroupLabel: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
        TermContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        TermText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
        ),
        PageNumber: (
            content: target-counter(attr(href, url), page),
            
        ),
    ),
));
