@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        Container: (
            column-count: 3,
            column-gap: not-implemented(5rem),
        ),
        TitleContainer: (
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            border-bottom-width: not-implemented(0.1rem),
            border-bottom-style: solid,
            padding-bottom: vertical-rythm(2),
        ),
        Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
        ),
        Group: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(3),
            line-height: line-height(3),
            padding-bottom: vertical-rythm(3),
        ),
        GroupLabel: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
        ),
        TermContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
        ),
        TermText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(2),
            line-height: line-height(2),
            padding-right: not-implemented(1rem),
        ),
        PageNumber: (
            content: '""' target-counter(attr(href, url), page),
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));
