@import 'templates/template1/colors';
@import 'templates/template1/typography';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

@include add_settings((
    Index: (
        _selectors: (".os-index-container"),
        Container: (
            column-gap: not-implemented(5rem),
        ),
        TitleContainer: (
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            border-bottom-width: not-implemented(0.1rem),
            border-bottom-style: solid,
            margin-bottom: not-implemented(10rem),
        ),
        Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: not-implemented(2.448rem),
        ),
        Group: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::paragraphText'),
            font-size: not-implemented(1.44rem),
            padding-bottom: not-implemented(3rem),
        ),
        GroupLabel: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-size: not-implemented(1.44rem),
        ),
        TermContainer: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::paragraphText'),
            font-size: not-implemented(1.44rem),
        ),
        TermText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::paragraphText'),
            font-size: not-implemented(1.44rem),
            padding-right: not-implemented(1rem),
        ),
        PageNumber: (
            content: '""' target-counter(attr(href, url), page),
            color: (_ref: 'colorMap:::fontBodyColor'),
        ),
    ),
));