@import 'styles/designs/carnival/parts/iconfeature-spaces';
@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Interconnect: (
        _selectors: (".sciences-interconnect"),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: (_ref: 'typography:::exampleFontSize'),
        ),
        Border: (
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-style: solid,
            border-bottom-color: (_ref: 'colorMap:::interconnectedColor'),
            content: "''",
            display: block,
            width: not_implemented(100%),
            margin-bottom: not_implemented(2rem),
        ),
        Title: (
            font-family: (_ref: 'typography:::serifFont'),
            font-size: not_implemented(1rem),
            font-weight: bold,
            text-transform: uppercase,
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-style: solid,
            border-bottom-color: (_ref: 'colorMap:::interconnectedColor'),
            display: flex,
            flex-direction: row,
            align-items: flex-end,
        ),
        TitleText: (
            display: inline-block,
            max-width: not_implemented(15rem),
            word-wrap: normal,
            line-height: not_implemented(1rem),
            max-height: not_implemented(2rem),
            margin-bottom: not_implemented(.2rem),
        ),
        TitleIcon: (
            background: url("../designs/carnival/resources/carnival-interconnect.svg") no-repeat top left,
            background-size: contain,
            height: not_implemented(3.5rem),
            width: not_implemented(3.5rem),
            display: inline-block,
            padding-right: not_implemented(0.4rem),
            position: relative,
            bottom: not_implemented(-0.4rem),
            content: "''",
        ),
    ),
));