@import 'templates/template1/_colors';
@import 'templates/template1/_typography';

@include add_settings((
    LearningObjective: (
        _selectors: ('[data-type=\'page\'] > [data-type=\'abstract\']'),
        Title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-style: italic,
            font-size: font-scale(1),
            line-height: line-height(1)
        ),
        Container: (
            margin-bottom:v-grid(2),
            margin-left: h-grid(2),
            padding-left: 0,
            font-size: font-scale(0),
            line-height: line-height(0),
            font-style: normal,
        ),
        ListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::serifFont'),
            padding: 0,
        ),
        ListDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
    ),
));
