@import 'templates/template1/_colors';
@import 'templates/template1/_typography';

@include add_settings((
    LearningObjective: (
        _selectors: ('[data-type="page"] > [data-type="abstract"]'),
        Title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFont'),
        ),
        ListItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::serifFont'),
        ),
        ListDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
        ),
    ),
));
