@import 'templates/template1/_colors';
@import 'templates/template1/_typography';

@include add_settings((
    LearningObjective: (
        _selectors: ('[data-type=\'page\'] > [data-type=\'abstract\']'),
        title: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            font-family: (_ref: 'typography:::sansFontMedium'),
            font-style: italic,
            font-size: font-scale(1),
            line-height: line-height(1)
        ),
        container: (
            margin-bottom:v-grid(2),
            margin-left: h-grid(1),
        ),
        listItem: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::serifFont'),
            font-style: normal,
            font-weight: normal,
            font-size: font-scale(1),
            line-height: line-height(1)
        ),
        listDot: (
            color: (_ref: 'colorMap:::tocTitleColor'),
            content: "\"\2022\"",
            width: h-grid(2),
            margin-left: h-grid(-1),
        ),
    ),
));
