@import 'styles/designs/carnival/parts/linktolearning-spaces';
@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    LinkToLearning: (
        _selectors: (".link-to-learning"),
        Title: (
            margin-bottom: not_implemented(0.5rem),
            display: flex,
            flex-direction: row,
            align-items: flex-end,
        ),
        TitleText: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::titleFont'),
            font-weight: bold,
            font-size: 1em,
            display: inline-block,
            max-width: 5rem,
            word-wrap: normal,
            line-height: 1rem,
            text-transform: uppercase,
            max-height: 2rem,
            margin-bottom: .2rem,
        ),
        Text: (
            margin-top: not_implemented(0rem),
            margin-bottom: not_implemented(1.5rem),
        ),
        Icon: (
            background: url("../designs/carnival/resources/carnival-linktolearning.svg") no-repeat top left,
            background-size: contain,
            height: not_implemented(2.5rem),
            width: not_implemented(2.5rem),
            display: inline-block,
            padding-right: not_implemented(0.4rem),
            position: relative,
            content: "''",
        ),
        Body: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: normal,
            font-size: (_ref: 'typography:::exampleFontSize'),
            border-bottom-color: (_ref: 'colorMap:::linkToLearningColor'),
            border-bottom-width: not_implemented(0.2rem),
            border-bottom-style: solid,
        ),
    ),
));