@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    Module: (
        _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
        Container: (

        ),
        Title: (
            color: (_ref: 'colorMap:::moduleTitleColor'),
            font-family: (_ref: 'typography:::titleFont'),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            margin-bottom: v-grid(1),
        ),
    ),
));
