@include add_settings((
  Module: (
    _selectors: ('[data-type="chapter"] > [data-type="page"]:not(.introduction)'),
    Title: (
        font-family: (_ref: 'typography:::titleFont'),
        border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
        //color: book specific, defined in book.scss file
    ),
    Subtitle: (
        font-family: (_ref: 'typography:::titleFont'),
        //color: book specific, defined in book.scss file
    ),
    SubSubtitle: (
        font-family: (_ref: 'typography:::titleFont'),
        //color: book specific, defined in book.scss file
    ),
  ),
));