@import 'templates/template1/colors';
@import 'templates/template1/typography';

//note this is exactly the same as    EverydayLife: _selectors: (".everyday-life"),

@include add_settings((
    Portrait: (
        _selectors: (".chemist-portrait"),
        group-border-width: 0.2rem,
        group-border-color: (_ref: 'colorMap:::everydayLifeColor'),
        Container: (
            padding-left: h-grid(1),
            padding-right: h-grid(1),
            margin-bottom: v-grid(3),
        ),
        TopBorder: (
            margin-left: -1.2rem,
            padding: 0 h-grid(1),
        ),
        BottomBorder: (
            margin-left: -1.2rem,
            padding: 0 h-grid(1),
        ),
        Title: (
            color: (_ref: 'colorMap:::everydayLifeColor'),
            font-family: (_ref: 'typography:::titleFont'),
            margin-top: 0,
            margin-bottom: v-grid(1),
            border-bottom-color: (_ref: 'colorMap:::everydayLifeColor'),
            padding-bottom: 0.5rem,
        ),
        Body: (
            font-family: (_ref: 'typography:::sansFont'),
        ),
        Subtitle: (
            //TODO remove, handled by reset
        ),
        Text: (
            //TODO remove, handled by reset
        ),
        Link: (
            color: (_ref: 'colorMap:::figureTextColor'),
        ),
    ),
));