@include add_settings((
    Preface:(
        _selectors: (".preface"),

        Header:(
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,
            text-transform: uppercase,
            font-size: not_implemented(2.448rem),
            padding-bottom: not_implemented(2rem),
            border-bottom: 1pt solid black,
            margin-bottom: not_implemented(2rem),
        ),

        BodyH3:(
            font-family: (_ref: 'typography:::titleFont'),
            font-weight: bold,
            font-size: not_implemented(1.728rem),
            color: (_ref: "colorMap:::everydayLifeColor"),
        ),

        BodyH4:(
            font-family: (_ref: 'typography:::titleFont'),
            font-weight: 800,
            text-transform: uppercase,
            font-size: not_implemented(1.44rem),
            color: (_ref: "colorMap:::everydayLifeColor"),
        ),
    ),
));
