@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    References: (
        _selectors: (".references"),
        Container: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::baseFont'),
            font-size: font-scale(1),
            line-height: line-height(1),
        ),
        Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            font-size: font-scale(5),
            line-height: line-height(5),
            border-bottom-color: (_ref: 'colorMap:::fontBodyColor'),
            border-bottom-width: 0.1rem,
            border-bottom-style: solid,
            margin-bottom: not-implemented(10rem), //todo, is this right?
            padding-bottom: v-grid(1),
        ),
    ),
));
