@import 'templates/template1/colors';
@import 'templates/template1/typography';

@include add_settings((
    References: (
        _selectors: (".os-references-container"),
        H1Title: (
            color: (_ref: 'colorMap:::fontBodyColor'),
            font-family: (_ref: 'typography:::sansFont'),
            border-bottom-color: (_ref: 'colorMap:::pagetitleColor'),
        ),
        H2Component: (
            color: (_ref: 'colorMap:::anatomyHeaderColor'),
            font-family: (_ref: 'typography:::titleFont'),
        ),
    ),
));
