@import 'styles/designs/carnival/parts/table-shapes';
@import 'templates/template1/colors';
@import 'templates/template1/typography'; 

@include add_settings((
    TopTitledTable: (
        _selectors: (".os-table"),
        TopTitledTable: (
            border-collapse: collapse,
            // border-left: none,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
            padding: v-grid(1) h-grid(1) v-grid(1) h-grid(1),
        ),
        FirstTableData: (
            border-left: none,
        ),
        TableHeadTitle: (
            color: (_ref:"colorMap:::chapterOutlineColor"),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleFont"),
            font-weight: 700,
            padding: v-grid(1) h-grid(1) v-grid(1) h-grid(1),
            border-bottom: 0.1rem solid black,
        ),
        TableRow: (
        ),
        CaptionTitle: (
            font-weight: bold,
        ),
        TableNumber: (
            font-weight: bold,
        ),
    )
));