@import 'styles/designs/carnival/parts/table-shapes';
@import 'templates/template1/colors';
@import 'templates/template1/typography'; 

@include add_settings((
    TopTitledTable: (
        _selectors: (".os-table"),
        TopTitledTable: (
            border-collapse: collapse,
            // border-left: none,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
        ),
        TableDataFirstChild: (
            border-left: none,
        ),
        TableHeadCell: (
            border-top: 0.1rem solid black,
            border-bottom: 0.1rem solid black,
            font-family: (_ref: "typography:::titleFont"),
            font-weight: 700,
        ),
        TableRow: (
        ),
    )
));