@import 'styles/designs/carnival/parts/table-shapes';
@import 'templates/template1/colors';
@import 'templates/template1/typography'; 

@include add_settings((
    BasicTable: (
        _selectors: (".os-table:not(.os-unstyled-container)"),
        TableContainer: (
            // margin-bottom: table-v-spacing(2),
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
        ),
        TableData: (
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
        ),
        // Added as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        TableBottomBorderData: (
            border-bottom: 0.025rem solid black,
        ),
        TableDataList: (
            margin-left: table-v-spacing(1),
        ),
        // Altered as part of the fix for cnx-recipes#1827.
        // Will need to be refactored to make a clean split between
        // tables and borders as part of a clean-up sprint.
        //border-right: 0.025rem solid black,
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleFont"),
            font-weight: 700,
            padding: table-v-spacing(1) table-h-spacing(1),
            border-bottom: 0.1rem solid black,
        ),
        // CaptionTitle: (
            // font-weight: bold,
        // ),
        // TableNumber: (
        //     font-weight: bold,
        // ),
    )
));

@include add_settings((
    ColumnHeaderTable: (
        _selectors: (".os-table.os-column-header-container"),
        TableContainer: (
            // margin-bottom: table-v-spacing(2),
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
        ),
        LastTableRowData: (
            border-bottom-color: (_ref:"colorMap:::chapterOutlineColor"),
        ),
        FirstTableData: (
            border-right: 0.1rem solid black,
            font-family: (_ref: "typography:::titleFont"),
            font-weight: 700,
        ),
        FirstTableRow: (
            border-top-color: (_ref:"colorMap:::chapterOutlineColor"),
            border-top-width: 0.1rem,
            border-top-style: solid,
        ),
    )
));

@include add_settings((
    FakeTitleTable: (
        _selectors: (".os-table.os-top-titled-container"),
        TableContainer: (
            // margin-bottom: table-v-spacing(2),
            display: table,
            margin-left: auto,
            margin-right: auto,
        ),
        Table: (
            border-collapse: collapse,
            width: 100%,
        ),
        TableTitle: (
            color: (_ref:"colorMap:::chapterOutlineColor"),
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
        TableHeadCell: (
            font-family: (_ref: "typography:::titleFont"),
            font-weight: 700,
            padding: table-v-spacing(1) table-h-spacing(1),
            border-bottom: 0.1rem solid black,
            border-top: 0.1rem solid black,
        ),
        TableData: (
            border-bottom: 0.025rem solid black,
            font-family: (_ref: "typography:::baseFont"),
            border-left: 0.025rem solid black,
        ), 
        LastTableRowData: (
            border-bottom-color: black,
        ),
        FirstTableData: (
            border-right: 0.025rem solid black,
        ),
        CaptionContainer: (
            display: table-caption,
            caption-side: bottom,
            prince-caption-page: all,
        ),
        // CaptionTitle: (
            // font-weight: bold,
        // ),
        // TableNumber: (
        //     font-weight: bold,
        // ),
    )
));

@include add_settings((
    UnnumberedUnstyledTable: (
        _selectors: (".os-table.os-unstyled-container"),
        // TableContainer: (
        //     margin-bottom: table-v-spacing(2),
        // ),
        TableData: (
        ), 
        TableHeadCell: (
            padding: table-v-spacing(1) table-h-spacing(1),
        ),
    )
));
