@include add_settings((
  TOC: (
    _selectors: ('nav#toc'),
    TocTitleWord: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::tocTitleColor'),
      border-bottom-color: (_ref: 'colorMap:::tocTitleColor')
    ),
    TocPrefaceLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocPrefaceLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixNumber: (
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocAppendixLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterNumber: (
      color: (_ref: 'colorMap:::tocChapterNumberColor'),
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(3),
      line-height: line-height(3),
      font-weight: bolder,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1),
      font-weight: normal,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterPageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterPageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocEocCompositeChapterLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocEocCompositeChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
  ),
  UnitToc: (
    _selectors: ('nav#toc'),
    TocTitleWord: (
      font-family: (_ref: 'typography:::sansFont'),
      color: (_ref: 'colorMap:::tocTitleColor'),
      border-bottom-color: (_ref: 'colorMap:::tocTitleColor')
    ),
    TocUnitLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(4),
      line-height: line-height(3),
      font-weight: bolder,
      color: (_ref: 'colorMap:::tocUnitColor'),
    ),
    TocPrefaceLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocPrefaceLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixNumber: (
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocAppendixLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocAppendixLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterNumber: (
      color: (_ref: 'colorMap:::tocChapterNumberColor'),
      font-family: (_ref: 'typography:::titleFont'),
    ),
    TocChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(3),
      line-height: line-height(2),
      font-weight: bolder,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1),
      font-weight: normal,
      color: (_ref: 'colorMap:::fontBodyColor')
    ),
    TocChapterPageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterPageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocChapterCompositePageLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocEocCompositeChapterLink: (
      font-family: (_ref: 'typography:::baseFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocEocCompositeChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocCompositeChapterLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocReferencesLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLink: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
    TocIndexLinkPage: (
      font-family: (_ref: 'typography:::sansFont'),
      font-size: font-scale(1),
      line-height: line-height(1)
    ),
  )
)); 