@use 'lib/cardboard/cardboard';

$PagesWithBands: (
  (pageName: eoc, firstSelector: '.os-eoc.os-glossary-container', generalSelector: '.os-eoc'),
  (pageName: eob, firstSelector: '.os-eob[data-type="composite-chapter"]', generalSelector: '.os-eob'),
  (pageName: appendix, firstSelector: '.appendix', generalSelector: '.appendix'),
);

$bandColor: #24739E;

@import 'framework/framework';
@import '../../design-settings/cardboard/_design.scss';
@import '../../design-settings/cardboard/_settings.scss';
@import '../../designs/cardboard/pdf/folio';

@include add_settings((
  ChapterTitles: (
  _selectors: ('[data-type="chapter"]'),
  'H1ChapterIntroNumbered:::color': (_ref: 'colorMap:::chapterTitleColor'),
  'H1ChapterIntroTitleNumber:::color': (_ref: 'colorMap:::chapterTitleNumberColor'),
  'H1ChapterIntroIcon:::background': url(toDataUri("svg+xml", "designs/cardboard/resources/cardboard-introskyline.svg")) no-repeat top left,
  'H1ChapterIntroIcon:::bottom': 0.1rem,
  'H1ChapterIntroIcon:::left': 0rem,
  )
));

// Introduction
@include add_settings ((
  FigureSplash: (
    _selectors: (".os-figure.has-splash"),
    "MediaSplashBar:::background-color": (_ref: "colorMap:::chapterTitleBgColor"),
    "MediaSplashBar:::border-top-color": (_ref: "colorMap:::chapterTitleBorderColor"),
  ),
));

@include add_settings((
  ChapterOutline: (
    _selectors: (".os-chapter-outline"),
    'H3ChapterOutlineTitle:::color': (_ref: "colorMap:::chapterOutlineTitleColor"),
  )
));

// Tables
@include add_settings((
TextHeavyWithTitleTable: (
        _selectors: (".os-table.os-text-heavy-container"),
    ),
));

// EOC
@include add_settings((
    ExercisesModule: (
        _selectors: (".os-review-questions-container", '.os-check-understanding-container', '.os-application-questions-container'),
        'ProblemSolutionNumber:::color': (_ref: 'colorMap:::fontBodyColor'),
        'ProblemSolutionNumber:::width': 2%,
        'ProblemSolutionNumber:::text-align': right,
        'ProblemSolutionText:::color': (_ref: 'colorMap:::fontBodyColor'),
        'InjectedQuestionAnswersAnswerLetter:::color': (_ref: 'colorMap:::fontBodyColor'),
    ),
));

// Notes
@include add_settings((
    // Option 2
    FutureTech: (
        _selectors: (".future-tech"),
        "Title:::background-color": (_ref: "colorMap:::noteOption5HeaderBackgroundColor"),
        "Title:::color": (_ref: "colorMap:::noteOption5HeaderColor"),
        "Title:::font-family": (_ref: "typography:::titleFont"),
        "Body:::font-family": (_ref: "typography:::baseFont"),
        "Body:::background-color": (_ref: "colorMap:::noteOption5BodyBackgroundColor"),
        "Subtitle:::color": (_ref: "colorMap:::noteSubtitleColor"),
        "Subtitle:::font-family": (_ref: "typography:::titleFont"),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
    ),
    // Option 1
    LinkToLearning: (// no subtitle
        _selectors: (".link-to-learning"),
        "Title:::color": (_ref: "colorMap:::noteOption1HeaderColor"),
        "Title:::background-color": (_ref: "colorMap:::noteOption1HeaderBackgroundColor"),
        "Title:::font-family": (_ref: "typography:::titleFont"),
        "Body:::font-family": (_ref: "typography:::baseFont"),
        "Body:::background-color": (_ref: "colorMap:::noteOption1BodyBackgroundColor"),
    ),
    // Option 6
    ISCareers: (
        _selectors: (".is-careers"),
        "Title:::background-color": (_ref: "colorMap:::noteOption6HeaderBackgroundColor"),
        "Title:::color": (_ref: "colorMap:::noteOption6HeaderColor"),
        "Title:::font-family": (_ref: "typography:::titleFont"),
        "Body:::font-family": (_ref: "typography:::baseFont"),
        "Body:::background-color": (_ref: "colorMap:::noteOption6BodyBackgroundColor"),
        "Subtitle:::color": (_ref: "colorMap:::noteSubtitleColor"),
        "Subtitle:::font-family": (_ref: "typography:::titleFont"),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
    ),
    // Option 3
    ISEthics: (
      _selectors: (".is-ethics"),
      "Title:::background-color": (_ref: "colorMap:::noteOption3HeaderBackgroundColor"),
      "Title:::color": (_ref: "colorMap:::noteOption3HeaderColor"),
      "Title:::font-family": (_ref: "typography:::titleFont"),
      "Body:::font-family": (_ref: "typography:::baseFont"),
      "Body:::background-color": (_ref: "colorMap:::noteOption3BodyBackgroundColor"),
      "Subtitle:::color": (_ref: "colorMap:::noteSubtitleColor"),
      "Subtitle:::font-family": (_ref: "typography:::titleFont"),
      "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
    ),
    // Option 7
    GlobalConnect: (
        _selectors: (".global-connect"),
        "Title:::background-color": (_ref: "colorMap:::noteOption7HeaderBackgroundColor"),
        "Title:::color": (_ref: "colorMap:::noteOption7HeaderColor"),
        "Title:::font-family": (_ref: "typography:::titleFont"),
        "Body:::font-family": (_ref: "typography:::baseFont"),
        "Body:::background-color": (_ref: "colorMap:::noteOption7BodyBackgroundColor"),
        "Subtitle:::color": (_ref: "colorMap:::noteSubtitleColor"),
        "Subtitle:::font-family": (_ref: "typography:::titleFont"),
        "ProblemSolutionTitle:::font-family": (_ref: "typography:::baseFont")
    ),
));

@include add_settings((
    CenteredText: (
      _selectors: ('.centered-text')
    )
));

@include use('BookRoot', "common:::BookRoot");
@include use('Footnote', 'common:::FootnoteShape');
@include use('FootnoteCall', 'common:::FootnoteCallShape');
@include use('CenteredText', 'common:::CenteredTextShape');
@include use('UnitTitle', 'common:::Hidden');
@include use('TocUnit', 'cardboard:::NoUnitToc');
@include use('LearningObjectives', 'cardboard:::LearningObjectivesShape');

//Titles
@include cardboard.page-titles();
@include use('ChapterTitles', 'cardboard:::ChapterTitlesShape');
@include use('ChapterIntroTitlesBlue', 'cardboard:::ChapterIntroTitlesShape');
@include use('CompositeChapterTitles', 'cardboard:::CompositeChapterTitlesShape');
@include use('EobCompositePageTitles', 'cardboard:::EobCompositePageTitlesShape');
$composite-pages: (
  '.os-glossary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-keyterms.svg"),
  '.os-summary-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-summary.svg"),
  '.os-review-questions-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg"),
  '.os-check-understanding-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-multiplechoice.svg"),
  '.os-application-questions-container': toDataUri("svg+xml", "designs/cardboard/resources/cardboard-suggested.svg")
);
@each $class, $svg in $composite-pages {
  @include cardboard.eoc-composite-page-titles($class, $svg);
}

// Chapter Intro
@include use('ChapterOutline', 'cardboard:::ChapterOutlineShape');

//Figures
@include use('Figure','cardboard:::FigureShape');
@include use('FigureSplash','cardboard:::FigureSplashShape');
@include use('FigureAfterSubtitle', 'cardboard:::FigureTopSpacingShape');
@include use('FigureAfterEocPara', 'cardboard:::FigureTopSpacingShape');
@include use('ImageAfterSolutionTitle', 'cardboard:::ImageTopSpacingShape');
@include use('ImageAfterEocPara', 'cardboard:::ImageTopSpacingShape');
@include use('FigureFromExercisesProblem','cardboard:::FigureFromExercisesShape');
@include use('FigureFromInjectedQuestion','cardboard:::FigureFromExercisesShape');

// Tables
@include use('UnstyledTable', 'cardboard:::UnstyledTableShape');
@include use('DefaultTable', 'cardboard:::TableWithBordersShape');
@include use('TextHeavyWithTitleTable', 'cardboard:::TableWithoutBordersShape');
@include use('TableAfterExercisePara', 'cardboard:::TableTopSpacingShape');
@include use('VerticallyTightTable', 'cardboard:::VerticallyTightTableShape');

// Eoc
@include use('KeyTerms', 'cardboard:::KeyTermsShape');
@include use('ExercisesModule', 'cardboard:::ExercisesModuleShape');

// Notes
@include use("FutureTech", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("LinkToLearning", "cardboard:::BoxedNoteShape");
@include use("ISCareers", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("ISEthics", "cardboard:::BoxedNoteWithSubtitleShape");
@include use("GlobalConnect", "cardboard:::BoxedNoteWithSubtitleShape");

// Lists
@include use('PageLists', 'cardboard:::PageListsShape');
@include use('NotesLists', 'cardboard:::NotesListsShape');
@include use('ExercisesProblemQuestionLists', 'cardboard:::ExercisesListsShape');
@include use('ExercisesSolutionLists', 'cardboard:::ExercisesListsShape');
@include use('CompositePageLists', 'cardboard:::CompositePageListsShape');

// EOB
@include use('Index', 'cardboard:::IndexShape');
@include use("AnswerKey", "cardboard:::AnswerKeyShape");
@include use("AnswerKeySolution", "cardboard:::AnswerKeySolutionShape");
